@inject IPlantService PlantService
@inject IAreaService AreaService
@inject IDistributionService DistributionService
@inject IOperationService OperationService

@inject IStringLocalizer<Resource> Localizer
@inject IStringLocalizer<Resource1> Localizer1

<MudItem xs="12">
    <MudPaper Elevation="0" Class="pa-6 border-all">
        <MudGrid Spacing="3" Justify="Justify.Center" Class="align-end">
            
            @if (ShowPlantsSelect)
            {
                <MudItem xs="12" sm="6" md="3">
                    <MudSelect T="int?" Label=@Localizer["plant"] Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Margin="Margin.Dense"
                               @bind-Value="@filters.plantId" For="@(() => filters.plantId)"
                               SelectedValuesChanged="(args)=>UpdatePlant(args.First())" Dense="true" Class="bg-white rounded-lg">
                        <MudSelectItem T="int?" Value="null">@Localizer["allPlants"]</MudSelectItem>
                        @foreach (var type in Plants)
                        {
                            <MudSelectItem T="int?" Value="type.PlantId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
            }

            @if (ShowAreasSelect)
            {
                <MudItem xs="12" sm="6" md="3">
                    <MudSelect T="int?" Label=@Localizer["area"] Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Margin="Margin.Dense"
                               @bind-Value="@filters.areaId" For="@(() => filters.areaId)"
                               SelectedValuesChanged="(args)=>UpdateArea(args.First())" Dense="true"
                               Disabled="@(filters.plantId == null)" Class="bg-white rounded-lg">
                        <MudSelectItem T="int?" Value="null">@Localizer["allAreas"]</MudSelectItem>
                        @foreach (var type in Areas)
                        {
                            <MudSelectItem T="int?" Value="type.AreaId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
            }

            @if (ShowDistributionsSelect)
            {
                <MudItem xs="12" sm="6" md="3">
                    <MudSelect T="int?" Label=@Localizer["distribution"] Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Margin="Margin.Dense"
                               @bind-Value="@filters.distributionId" For="@(() => filters.distributionId)"
                               SelectedValuesChanged="(args)=>UpdateDistribution(args.First())" Dense="true"
                               Disabled="@(filters.areaId == null)" Class="bg-white rounded-lg">
                        <MudSelectItem T="int?" Value="null">@Localizer["allDistributions"]</MudSelectItem>
                        @foreach (var type in Distributions)
                        {
                            <MudSelectItem T="int?" Value="type.DistributionId">
                                <div class="d-flex align-center gap-2">
                                    @type.Description
                                    @switch (type.CriticalType)
                                    {
                                        case 1:
                                            <img src="Images/A.png" height="18" />
                                            break;
                                        case 2:

                                            <img src="Images/B.png" height="18" />
                                            break;
                                        case 3:

                                            <img src="Images/C.png" height="18" />
                                            break;
                                    }
                                </div>
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
            }

            @if (ShowOperationsSelect)
            {
                <MudItem xs="12" sm="6" md="3">
                    <MudSelect T="int?" Label=@Localizer["operation"] Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Margin="Margin.Dense"
                               @bind-Value="@filters.operationId" SelectedValuesChanged="(args) => UpdateOperation(args.First())"
                               Dense="true" Disabled="@(filters.distributionId == null)" Class="bg-white rounded-lg">
                        <MudSelectItem T="int?" Value="null">@Localizer["allOperations"]</MudSelectItem>
                        @foreach (var type in Operations)
                        {
                            <MudSelectItem T="int?" Value="type.OperationId">@type.Description</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
            }

            @if (ShowDatesSelect)
            {
                <MudItem xs="12" Class="mt-2">
                    <MudDivider Class="mb-4" />
                    <div class="d-flex justify-center">
                        <MudPaper Elevation="0" Class="pa-1 border-all" Style="border: 1px solid var(--mud-palette-lines-default); max-width: 800px; width: 100%;">
                            <MudTabs Elevation="0" Rounded="true" ApplyEffectsToContainer="true"
                                     Centered="true" Color="Color.Tertiary" SliderColor="Color.Tertiary"
                                     @bind-ActivePanelIndex="ActiveTabIndex" PanelClass="pa-4">
                                
                                <MudTabPanel Text="@Localizer["monthly"]" Icon="@Icons.Material.Outlined.CalendarMonth">
                                    <div class="d-flex justify-center border-all rounded-lg pa-2 bg-white mt-2" style="border: 1px dashed var(--mud-palette-divider)">
                                        <MudDatePicker OpenTo="OpenTo.Month" FixDay="1" DateFormat="MMMM / yyyy"
                                                       Label=@Localizer["selectMonth"] PickerVariant="PickerVariant.Dialog"
                                                       DateChanged=@OnMonthChangedAsync Date="_yearMonth" AutoClose="true"
                                                       Variant="Variant.Text" DisableToolbar="true" Margin="Margin.Dense" />
                                    </div>
                                </MudTabPanel>

                                <MudTabPanel Text="@Localizer["Yearly"]" Icon="@Icons.Material.Outlined.EventNote">
                                    <div class="d-flex justify-center border-all rounded-lg pa-2 bg-white mt-2" style="border: 1px dashed var(--mud-palette-divider)">
                                        <MudDatePicker OpenTo="OpenTo.Year" FixDay="1" FixMonth="1" DateFormat="yyyy"
                                                       Label=@Localizer["selectYear"] PickerVariant="PickerVariant.Dialog"
                                                       DateChanged=@OnYearChangedAsync Date="_year" AutoClose="true"
                                                       Variant="Variant.Text" DisableToolbar="true" Margin="Margin.Dense" />
                                    </div>
                                </MudTabPanel>

                                <MudTabPanel Text="@Localizer["customDate"]" Icon="@Icons.Material.Outlined.DateRange">
                                    <div class="d-flex justify-center border-all rounded-lg pa-2 bg-white mt-2" style="border: 1px dashed var(--mud-palette-divider)">
                                        <MudDateRangePicker DateRange="_dateRange" DateRangeChanged="OnCustomChangedAsync"
                                                            Variant="Variant.Text" DisableToolbar="true" Margin="Margin.Dense" />
                                    </div>
                                </MudTabPanel>
                            </MudTabs>
                        </MudPaper>
                    </div>
                </MudItem>
            }
        </MudGrid>
    </MudPaper>
</MudItem>

@code {
    [Parameter]
    public bool ShowPlantsSelect { get; set; } = true;
    [Parameter]
    public bool ShowAreasSelect { get; set; } = true;
    [Parameter]
    public bool ShowDistributionsSelect { get; set; } = true;
    [Parameter]
    public bool ShowOperationsSelect { get; set; } = true;
    [Parameter]
    public bool ShowDatesSelect { get; set; } = true;

    [Parameter]
    public MetricsFiltersDto filters { get; set; }
    [Parameter]
    public EventCallback<MetricsFiltersDto> filtersChanged { get; set; }

    List<Plant> Plants = new();
    List<Area> Areas = new();
    List<Distribution> Distributions = new();
    List<Operation> Operations = new();

    private DateRange _dateRange { get; set; }
    DateTime? _yearMonth = DateTime.Today;
    DateTime? _year;
    private string month;
    private string year;

    private int _activeTabIndex;

    private int ActiveTabIndex
    {
        get => _activeTabIndex;
        set
        {
            if (_activeTabIndex != value)
            {
                _activeTabIndex = value;
                OnTabChanged();
            }
        }
    }

    protected async override Task OnInitializedAsync()
    {
        Plants = await PlantService.GetPlants();
    }

    private async Task UpdatePlant(int? e)
    {
        filters.plantId = e;
        filters.areaId = filters.distributionId = filters.operationId = null;
        Areas = await AreaService.GetAreas(filters.plantId.Value);
        await filtersChanged.InvokeAsync(filters);
    }
    private async Task UpdateArea(int? e)
    {
        filters.areaId = e;
        filters.distributionId = filters.operationId = null;
        Distributions = await DistributionService.GetDistributions(filters.plantId.Value, filters.areaId.Value);
        await filtersChanged.InvokeAsync(filters);
    }
    private async Task UpdateDistribution(int? e)
    {
        filters.distributionId = e;
        filters.operationId = null;
        Operations = await OperationService.GetOperations(filters.plantId.Value, filters.areaId.Value, filters.distributionId.Value);
        await filtersChanged.InvokeAsync(filters);
    }
    private async Task UpdateOperation(int? e)
    {
        filters.operationId = e;
        await filtersChanged.InvokeAsync(filters);
    }

    private async Task OnTabChanged()
    {
        switch (_activeTabIndex)
        {
            case 0:
                _year = null;
                _yearMonth = DateTime.Today;
                _dateRange = new();
                await OnChangeToMonth();
                break;
            case 1:
                _year = DateTime.Today;
                _yearMonth = null;
                _dateRange = new();
                await OnChangeToYear();
                break;
            case 2:
                _year = null;
                _yearMonth = null;
                _dateRange = new();
                break;
        }
    }

    private async Task OnChangeToMonth()
    {
        filters.inferiorDate = new DateTime(_yearMonth.Value.Year, _yearMonth.Value.Month, 1);
        filters.superiorDate = new DateTime(_yearMonth.Value.Year, _yearMonth.Value.Month, 1).AddMonths(1).AddDays(-1);

        await filtersChanged.InvokeAsync(filters);
    }

    private async Task OnChangeToYear()
    {
        filters.inferiorDate = new DateTime(_year.Value.Year, 1, 1);
        filters.superiorDate = new DateTime(_year.Value.Year, 12, 31);

        await filtersChanged.InvokeAsync(filters);
    }

    private async Task OnYearChangedAsync(DateTime? year)
    {
        if (year == _year)
            return;
        if(year == null)
        {
            year = DateTime.Today;
        }

        _year = year;
        int yearindex = year.Value.Year;

        filters.inferiorDate = new DateTime(yearindex, 1, 1);
        filters.superiorDate = new DateTime(yearindex, 12, 31);

        await filtersChanged.InvokeAsync(filters);
    }

    private async Task OnMonthChangedAsync(DateTime? value)
    {
        if (_yearMonth == value)
            return;
        _yearMonth = value;
        month = $"{_yearMonth?.ToString("MMMM")}";
        year = $"{_yearMonth?.ToString("yyyy")}";
        int monthIndex = DateTime.ParseExact(month, "MMMM", System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat).Month;
        int yearIndex = DateTime.ParseExact(year, "yyyy", System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat).Year;
        filters.inferiorDate = new DateTime(yearIndex, monthIndex, 1);
        filters.superiorDate = new DateTime(yearIndex, monthIndex, 1).AddMonths(1).AddDays(-1);

        await filtersChanged.InvokeAsync(filters);
    }
    private async Task OnCustomChangedAsync(DateRange value)
    {
        if (_dateRange == value)
            return;
        _dateRange = value;
        filters.inferiorDate = value.Start;
        filters.superiorDate = value.End;
        await filtersChanged.InvokeAsync(filters);
    }
}
