@page "/kaizen"

@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Resource> Localizer
@inject IBreadcrumbService BreadcrumbService
@inject IPlantService PlantServices
@inject IAreaService AreaServices
@inject IUserService UsersService

<PageTitle>Supervisor Mobility | @Localizer["configuration"]</PageTitle>
<MudGrid Justify="Justify.Center" Style="margin-bottom: 70px">
    <MudItem lg="10" md="12" sm="12" xs="12">
        <MudExpansionPanels Elevation="5" MultiExpansion="true" Class="mt-2">
            <MudExpansionPanel Text="Section 1" IsInitiallyExpanded=true Style="min-width: 100%;">
                <TitleContent>
                    <div class="d-flex" style="align-items: center; justify-content:center; margin-right: 12vh">
                        <MudImage ObjectFit="ObjectFit.Cover" Height="25"  Src="Images/logo.png" Alt="Evidence" Elevation="25" Class="rounded-lg mr-4" />
                        <MudText Typo="Typo.h6" Style="text-align: center;">
                            @Localizer["KAIZEN"]
                        </MudText>
                    </div>
                    
                </TitleContent>
                <ChildContent>
                    <MudSimpleTable Style="overflow-x: auto;" Dense=true Elevation="0">
                        <tbody>
                            <tr>
                                <td width="50%">
                                    <MudTextField @bind-Value="kaizenNameText" Label="Kaizen's Name" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="2"></MudTextField>
                                  </td>
                                <td>                                                        
                                    <MudDatePicker Date="startDate" Label=@Localizer["startDate"] PickerVariant="PickerVariant.Inline" Color="Color.Info" AdornmentColor="Color.Info"/>
                                </td>
                            </tr>
                            <tr>
                                <td width="50%">
                                    <MudSelect T="int" Label=@Localizer["plant"] Variant="Variant.Text"  AnchorOrigin="Origin.BottomCenter" @bind-Value="@plantId" SelectedValuesChanged="ShowAreas">
                                        <MudSelectItem Disabled="true" Value="0">@Localizer["selectAPlant"]</MudSelectItem>
                                        @foreach (var type in _plants)
                                        {
                                            <MudSelectItem Value="type.PlantId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                        }
                                    </MudSelect>
                                </td>
                                <td>
                                    @if (areaId != 0)
                                    {
                                        @if (_seniorSupervisors.Count > 0)
                                        {
                                            <MudSelect T="int" Label=@Localizer["SSV"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@ssvId" SelectedValuesChanged="ShowSupervisors" OpenIcon="@Icons.Material.Filled.SupervisorAccount" AdornmentColor="Color.Secondary">
                                                <MudSelectItem Disabled="true" Value="0">@Localizer["selectASSV"]</MudSelectItem>
                                                @foreach (var type in _seniorSupervisors)
                                                {
                                                    <MudSelectItem Value="type.UserId">
                                                        @type.Name
                                                    </MudSelectItem>
                                                }
                                            </MudSelect>
                                        }
                                        else
                                        {
                                            <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                                                @Localizer["thisAreaDoesNotHaveSSV"]
                                            </MudAlert>
                                        }
                                    }
                                    else
                                    {
                                        <MudSelect T="int" Label=@Localizer["SSV"] Disabled Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@ssvId" OpenIcon="@Icons.Material.Filled.SupervisorAccount" AdornmentColor="Color.Secondary">
                                            <MudSelectItem Disabled="true" Value="0">@Localizer["firstSelectAnArea"]</MudSelectItem>
                                        </MudSelect>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td width="50%">
                                    <MudSelect T="int" Label=@Localizer["area"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="areaId" SelectedValuesChanged="ShowSeniorSupervisors">
                                        <MudSelectItem Disabled="true" Value="0">@Localizer["selectAnArea"]</MudSelectItem>
                                        @foreach (var type in _areas)
                                        {
                                            <MudSelectItem Value="type.AreaId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                        }
                                    </MudSelect>
                                </td>
                                <td>                         
                                    @if (ssvId != 0)
                                    {
                                        @if (_supervisors.Count > 0)
                                        {
                                            <MudSelect T="int" Label=@Localizer["Supervisor"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@supervisorId" SelectedValuesChanged="ShowOperators" OpenIcon="@Icons.Material.Filled.SupervisorAccount" AdornmentColor="Color.Secondary">
                                                <MudSelectItem Disabled="true" Value="0">@Localizer["selectASupervisor"]</MudSelectItem>
                                                @foreach (var type in _supervisors)
                                                {
                                                    <MudSelectItem Value="type.UserId">
                                                        @type.Name
                                                    </MudSelectItem>
                                                }
                                            </MudSelect>
                                        }
                                        else
                                        {
                                            <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                                                @Localizer["thisAreaDoesNotHaveSupervisors"]
                                            </MudAlert>
                                        }
                                    }
                                    else
                                    {
                                        <MudSelect T="int" Label=@Localizer["Supervisor"] Disabled Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@supervisorId" OpenIcon="@Icons.Material.Filled.SupervisorAccount" AdornmentColor="Color.Secondary">
                                            <MudSelectItem Disabled="true" Value="0">@Localizer["firstSelectASSV"]</MudSelectItem>
                                        </MudSelect>
                                    }
                                    </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex" style="justify-content: space-between;">
                                        <MudTextField @bind-Value="kpiNametext" Label="Kaizen's Name" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mr-4" Lines="2"></MudTextField>
                                        <MudSelect T="int" Label="Pilar con impacto" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@kpiId" >
                                            <MudSelectItem Disabled="true" Value="0">Select KPI</MudSelectItem>
                                            <MudSelectItem Value="1">@($"S & E")</MudSelectItem>
                                            <MudSelectItem Value="2">@($"Q")</MudSelectItem>
                                            <MudSelectItem Value="3">@($"D")</MudSelectItem>
                                            <MudSelectItem Value="4">@($"C")</MudSelectItem>
                                            <MudSelectItem Value="5">@($"Other")</MudSelectItem>
                                        </MudSelect>
                                    </div>
                                </td>
                                <td>
                                @if (supervisorId != 0)
                                    {
                                        @if (operatorUsers.Count > 0)
                                        {
                                            @*Mud select for Operator *@
                                            <MudSelect T="int" Label=@Localizer["operator"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@operatorId" OpenIcon="@Icons.Material.Filled.Person" AdornmentColor="Color.Dark" >
                                                <MudSelectItem Disabled="true" Value="0">@Localizer["selectAnOperator"]</MudSelectItem>
                                                @foreach (var type in operatorUsers)
                                                {
                                                    <MudSelectItem Value="type.UserId">@($"{type.Name}")</MudSelectItem>
                                                }
                                            </MudSelect>

                                        }
                                        else
                                        {
                                            <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                                                @Localizer["thisSupervisorDoesNotHaveOperators"]
                                            </MudAlert>
                                        }

                                    }
                                    else
                                    {
                                        <MudSelect T="int" Label=@Localizer["operator"] Variant="Variant.Text" Disabled AnchorOrigin="Origin.BottomCenter" @bind-Value="operatorId" OpenIcon="@Icons.Material.Filled.Person" AdornmentColor="Color.Dark">
                                            <MudSelectItem Disabled="true" Value="0">@Localizer["firstSelectASupervisor"]</MudSelectItem>
                                        </MudSelect>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </MudSimpleTable>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel IsInitiallyExpanded=true Style="min-width: 100%;">
                <TitleContent>
                    <MudText Typo="Typo.h6" Style="text-align: center;">
                        @Localizer["Efecto / Beneficio: (Colocar información lo más detalladamente posible)"]
                    </MudText>
                </TitleContent>
                <ChildContent>
                     <MudTextField @bind-Value="costText" Label="Cost" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3"></MudTextField>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel IsInitiallyExpanded=true Style="min-width: 100%;">
                <TitleContent>
                    <MudText Typo="Typo.h6" Style="text-align: center;">
                        @Localizer["Inversión / Gasto (Colocar información lo más detalladamente posible)"]
                    </MudText>
                </TitleContent>
                <ChildContent>
                    <MudTextField @bind-Value="laborText" Class="mb-4" Label="Labor" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="2"></MudTextField>
                    <MudTextField @bind-Value="materialText" Class="mb-4" Label="Material" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="2"></MudTextField>
                    <MudTextField @bind-Value="machineText" Label="Machine / Equipment" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="2"></MudTextField>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel IsInitiallyExpanded=true Style="min-width: 100%;">
                <TitleContent>
                    <MudText Typo="Typo.h6" Style="text-align: center;">
                        @Localizer["Beneficio total anual (Beneficio - Gasto)"]
                    </MudText>
                </TitleContent>
                <ChildContent>
                    <MudSimpleTable Style="overflow-x: auto;" Dense=true Elevation="0">
                        <tbody>
                            <tr>
                                <td width="50%">
                                    <MudTextField @bind-Value="calculationFormText" Label="Calculation Form" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                </td>
                                <td>
                                    <MudTextField @bind-Value="totalText" Label="Total ($ pesos)" Variant="Variant.Outlined" Margin="Margin.Dense" ></MudTextField>
                                </td>
                            </tr>
                        </tbody>
                    </MudSimpleTable>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel IsInitiallyExpanded=true Style="min-width: 100%;">
                <TitleContent>
                    <MudText Typo="Typo.h6" Style="text-align: center;">
                        @Localizer["Evidence"]
                    </MudText>
                </TitleContent>
                <ChildContent>
                    <MudSimpleTable Style="overflow-x: auto;" Dense=true Elevation="0" Bordered>
                        <thead>
                            <tr>
                                <th style="text-align: center">
                                    <b>Antes</b>
                                </th>
                                <th style="text-align: center">
                                    <b>Después</b>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="height:50vh">
                                <td width="50%" style="vertical-align: top;">
                                    <MudImage ObjectFit="ObjectFit.Cover" Height="90" Width="160" Src="Images/users.png" Alt="Evidence" Elevation="25" Class="rounded-lg mr-4" />
                                    <MudImage ObjectFit="ObjectFit.Cover" Height="90" Width="160" Src="Images/usermanager.png" Alt="Evidence" Elevation="25" Class="rounded-lg mr-4"/>
                                    <MudImage ObjectFit="ObjectFit.Cover" Height="90" Width="160" Src="Images/userup.png" Alt="Evidence" Elevation="25" Class="rounded-lg" />
                                </td>
                                <td style="vertical-align: top;">
                                    <MudImage ObjectFit="ObjectFit.Cover" Height="90" Width="160" Src="Images/userupdate.png" Alt="Evidence" Elevation="25" Class="rounded-lg" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Situación actual
                                </td>
                                <td>
                                    Situación propuesta
                                </td>
                            </tr>
                        </tbody>

                    </MudSimpleTable>
                </ChildContent>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudItem>
</MudGrid>