@page "/headCount"

@using System.Net.Http.Headers;
@inject IStringLocalizer<Resource> Localizer
@inject IStringLocalizer<Resource1> Localizer1
@inject IHeadCountService HeadCountServices
@inject IJSRuntime JS


@*Title*@
<PageTitle>Supervisor Mobility | @Localizer["Headcount"]</PageTitle>
@*Breadcrumb links*@
<MudBreadcrumbs Class="mb-10" Items="_links">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
    </ItemTemplate>
</MudBreadcrumbs>

<MudTabs Elevation="4" Color="@Color.Info" TabPanelClass="px-10 mx-10" Rounded="true" ApplyEffectsToContainer="true" Centered="true">

    <MudTabPanel Icon="@Icons.Material.Filled.UploadFile" Text="@Localizer1["Upload"]" BadgeData='"🡩"' BadgeColor="Color.Success" >
        <ChildContent>
            <MudContainer Fixed="true" Class="py-3">
                <MudGrid>
                    <MudItem xs="2" xl="2" class="align-center justify-center mud-width-full">
                        <MudImage Src="Images/uploadcloud.png" Alt="Imagen Upload Clou" Height="120" Width="120"></MudImage>

                    </MudItem>
                    <MudItem id="Upload" xs="10" xl="10" class="d-flex flex-column">
                        <MudItem Class="d-flex flex-row align-center justify-center mud-width-full">


                            <MudSpacer />
                            <MudItem class="d-flex flex-column flex-column justify-center" style="height:100% ;     max-width: 60vw;    min-width: 40vw;">


                                @if (showLoading)
                                {
                                    <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
                                        <ItemTemplate>
                                            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                                                <MudItem class="d-flex flex-column justify-center align-self-center">
                                                    <MudProgressCircular Color="@_Colors[context.IndexOf(context)]" Style="height:70px;width:70px;" Indeterminate="true" />
                                                </MudItem>
                                                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                                                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@context</MudText>
                                            </div>
                                        </ItemTemplate>
                                    </MudCarousel>
                                }
                                @if (showUpload)
                                {
                                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                }
                            </MudItem>
                            <MudSpacer />


                        </MudItem>
                        <MudItem Class="d-flex flex-column align-center justify-center">
                            @*File Upload*@
                            <MudItem Class="d-flex flex-row align-center justify-center mud-width-full">
                                <InputFile id="input" OnChange="@OnChange" hidden single></InputFile>



                            </MudItem>
                            <MudItem Class="d-flex flex-row align-center justify-center mud-width-full">
                                <MudTextField Class="flex-initial d-flex flex-grow-1 px-9" Width="60%" @bind-Value="@FileName" Label="File Name" Variant="Variant.Outlined" Disabled="true" />
                                <MudButton Class="flex-initial d-flex flex-grow-0 px-9 py-2" Width="20%"
                                           HtmlTag="label"
                                           Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           StartIcon="@Icons.Material.Filled.CloudUpload"
                                           for="input">
                                    @Localizer1["ACUploadFiles"]
                                </MudButton>
                            </MudItem>
                        </MudItem>
                    </MudItem>
                </MudGrid>

                <MudItem Class="d-flex flex-row align-center justify-center mud-width-full">
                    <MudStack Style="width: 80%">
                        <MudFileUpload T="IReadOnlyList<IBrowserFile>" OnFilesChanged="OnChange" Hidden="false" Class="flex-1" InputClass="absolute mud-width-full mud-height-full overflow-hidden z-20" InputStyle="opacity:0"
                        @ondragenter="@SetDragClass" @ondragleave="@ClearDragClass" @ondragend="@ClearDragClass">
                            <ButtonTemplate Context="DragAndDrop">
                                <MudPaper Height="200px" Outlined="true" Class="@DragClass">
                                    <MudText Typo="Typo.h6">@Localizer["DragAndDrop"]</MudText>
                                    @foreach (var file in fileNames)
                                    {
                                        <MudItem style="text-align:center" Class="d-flex justify-center flex-column align-content-center align-center">
                                            <MudText Typo="Typo.h6">@file.message</MudText>

                                            @switch (file.ftype)
                                            {
                                                case "xls":
                                                    <img src="Images/xls.png" Height="70" Width="70" />
                                                    break;
                                                case "xlsx":
                                                    <img src="Images/xlsx.png" Height="70" Width="70" />
                                                    break;
                                                case "csv":
                                                    <img src="Images/csv.png" Height="70" Width="70" />
                                                    break;
                                                default:
                                                    <img src="Images/error.png" Height="70" Width="70" />
                                                    break;
                                            }

                                            <MudChip Color="Color.Info" Text="@file.name" />
                                        </MudItem>
                                    }
                                </MudPaper>
                            </ButtonTemplate>
                        </MudFileUpload>
                    </MudStack>
                </MudItem>
                <MudItem Class="d-flex flex-row align-center justify-center mud-width-full">
                    <MudStack Style="width: 80%">
                        <MudToolBar DisableGutters="true" Class="gap-4">
                            <MudButton OnClick="@(() => UploadFunction(showUpload = true))" Disabled="@(!fileNames.Any())" Color="Color.Primary" Variant="Variant.Filled">Upload</MudButton>
                            <MudButton OnClick="Clear" Disabled="@(!fileNames.Any())" Color="Color.Error" Variant="Variant.Filled">Clear</MudButton>
                        </MudToolBar>
                    </MudStack>
                </MudItem>


            </MudContainer>
        </ChildContent>
    </MudTabPanel>

    <MudTabPanel Icon="@Icons.Material.Filled.BubbleChart" Text="@Localizer1["Consult"]">
        <ChildContent>

            @if (showLoading)
            {
            
                        <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
                            <ItemTemplate>
                                <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                                    <MudItem class="d-flex flex-column justify-center align-self-center">
                                        <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                                    </MudItem>
                                    @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                                    <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
                                </div>
                            </ItemTemplate>
                        </MudCarousel>

                        <MudSimpleTable Class="styled-table table-striped" FixedHeader=true>
                            <thead>
                                <tr>
                                    <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                                    <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                                    <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                                    <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                                </tr>
                                <tr>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                                </tr>
                                <tr>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                                </tr>
                                <tr>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                                </tr>
                                <tr>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /> <MudSpacer />   <MudSkeleton SkeletonType="SkeletonType.Rectangle" /> <MudSpacer />  <MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                                </tr>

                            </tbody>
                        </MudSimpleTable>
                    
            }
            else
            {
               
                        @*<MudTable Height="62vh" Items="_CodePaths" T="HeadCount" ReadOnly="true"
                                  SortLabel="Sort By" Filter="new Func<SOSCodePath,bool>(FilterFunc)" Class="styled-table table-striped" FixedHeader=true
                                  HorizontalScrollbar="true" RowClassFunc="@SelectedRowClassFunc" @ref="SelectTableEvent" OnRowClick="RowClickEvent">
                            <ToolBarContent>
                                <MudTooltip Text=@Localizer["showHideFilters"] Arrow="true" Style="flex-direction: column;" Placement="Placement.Right" Color="Color.Info">
                                    <MudIconButton Icon="@Icons.Material.Filled.FilterAlt" Color="Color.Primary" @onclick="(() => ActiveFilters())" Class="mr-0"></MudIconButton>
                                </MudTooltip>

                                @if (!Showfilters)
                                {

                                    <MudSpacer />
                                    <MudTextField @bind-Value="searchString" Placeholder=@Localizer1["search"] Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mb-5 ml-5 mr-5"></MudTextField>
                                    <MudSpacer />

                                }
                                else
                                {
                                    <MudSpacer />
                                    @*<MudTextField @bind-Value="idFilter" Label="Id" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-2" TextChanged="Filters"></MudTextField>

                            <MudSpacer />
                            <MudSelect T="int" Label=@Localizer["plant"] Style="z-index:40;" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@plantId" SelectedValuesChanged="UpdateAreas_FilterByPlant">
                            <MudSelectItem Disabled="true" Value="0">@Localizer["notSelected"]</MudSelectItem>
                            @foreach (var type in _plants)
                            {
                            <MudSelectItem Value="type.PlantId">@($"{type.Description}")</MudSelectItem>
                            }
                            </MudSelect>
                            <MudSpacer />



                            <MudAutocomplete MaxItems="null" Clearable="true" OnClearButtonClick="(() => ClearFilters())" T="Area" Label="@Localizer["area"]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-3" ResetValueOnEmptyText="@(areaId == 0 ? true : false)" CoerceText="@(areaId == 0 ? true : false)" CoerceValue="@(areaId == 0 ? true : false)" ToStringFunc="@(e => areaId == 0 ? $"{Localizer["notSelected"]}" : $"{e.Code} {e.Description}")" SearchFunc="@SearchArea" ShowProgressIndicator="true" ValueChanged="@((item) => SetArea(item))">
                            <ItemTemplate Context="e">
                            <MudChip Icon="@Icons.Material.Filled.Business" Color="Color.Info" Class="pl-5 pr-5">@e.Code - @e.Description </MudChip>
                            </ItemTemplate>
                            </MudAutocomplete>

                            <MudSpacer />


                            <MudAutocomplete MaxItems="null" Clearable="true" OnClearButtonClick="(() => ClearFilters())" T="Distribution" Label="@Localizer["distribution"]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-3" ToStringFunc="@(e => distributionId == 0 ? $"{Localizer["notSelected"]}" : $"{e.Code} {e.Description}")" SearchFunc="@SearchDistribution" ShowProgressIndicator="true" ValueChanged="@((item) => SetDistribution(item))">
                            <ItemTemplate Context="e">
                            <MudChip Icon="@Icons.Material.Filled.Business" Color="Color.Info" Class="pl-5 pr-5">@e.Code - @e.Description </MudChip>
                            </ItemTemplate>
                            </MudAutocomplete>
                            <MudSpacer />

                            @if (!if_pick_Distribution)
                            {
                            <MudTooltip Text=@Localizer["selectADistributionFirst"] Arrow="true" Placement="Placement.Right" Color="Color.Error">
                            <MudSelect T="int" Label=@Localizer["product"] Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@productId" Disabled>
                            <MudSelectItem Disabled="true" Value="0">@Localizer["notSelected"]</MudSelectItem>
                            </MudSelect>
                            </MudTooltip>
                            }
                            else
                            {
                            <MudSelect T="int" Label=@Localizer["product"] Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@productId" SelectedValuesChanged="Filters">
                            <MudSelectItem Disabled="true" Value="0" OnClick='@(() => ShowError(@Localizer["notSelected"]))'>@Localizer["notSelected"]</MudSelectItem>
                            @foreach (var type in _distributions.Find(d => d.DistributionId == distributionId).Products)
                            {
                            <MudSelectItem Value="type.ProductId">@($"{type.Description}")</MudSelectItem>
                            }
                            </MudSelect>
                            }*@

                                    <MudSpacer />
                                    <MudTooltip Text=@Localizer1["clearFilters"] Arrow="true" Placement="Placement.Left" Color="Color.Error">
                                        <MudIconButton Icon="@Icons.Material.Filled.Clear" Color="Color.Error" @onclick="(() => ClearFilters())" Class="mr-0"></MudIconButton>
                                    </MudTooltip>
                                }
                            </ToolBarContent>



                        </MudTable>*@

                 

                
            }
        </ChildContent>
    </MudTabPanel>
    <MudTabPanel Icon="@Icons.Material.Filled.Edit" Text="@Localizer1["Edit"]" BadgeData='"🡣"' BadgeColor="Color.Warning">
         <ChildContent>
              edicion
        </ChildContent>
    </MudTabPanel>
    <MudTabPanel Icon="@Icons.Material.Filled.AddBox" Text="@Localizer1["Create"]" BadgeData='"✚"' BadgeColor="Color.Primary">
        <ChildContent>
            Creacion
        </ChildContent>
    </MudTabPanel>

</MudTabs>




@code {

    private List<BreadcrumbItem> _links;

    //Objects to Interacting with the archive upload
    private string FileName;
    private string ErrorMessageToDisplay;
    private IBrowserFile? FileSource;

    private IList<string> _sourceMsgLoading = new List<string>();
    private IList<Color> _Colors = new List<Color>() { Color.Default, Color.Primary, Color.Secondary, Color.Success, Color.Info, Color.Default, Color.Primary, Color.Secondary, Color.Success, Color.Info };


    private bool showLoading = true;
    private bool showUpload = false;

    private static string DefaultDragClass = "d-flex flex-column align-center justify-center relative rounded-lg border-2 border-dashed pa-4 mt-4 mud-width-full mud-height-full z-10";
    private string DragClass = DefaultDragClass;
    private List<FileToDisplay> fileNames = new List<FileToDisplay>();

    //User
    private string json = string.Empty;
    public User loggedUser = new();

    private class FileToDisplay
    {
        public string name { get; set; }
        public string ftype { get; set; }
        public string message { get; set; }
    }


    protected async override Task OnInitializedAsync()
    {
        _sourceMsgLoading.Add($"{Localizer1["Loading1"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading2"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading3"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading4"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading5"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading6"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading7"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading8"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading9"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading10"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading11"]}");

        _links = new List<BreadcrumbItem>
            {
                new BreadcrumbItem(text: Localizer["home"], href: "#"),
                new BreadcrumbItem(text: Localizer["configuration"], href: "/configuration"),
                new BreadcrumbItem(text: Localizer["HeadCount"], href: "/HeadCount", disabled: true),
            };
        try
        {
            await GetUserAsync();
        }
        catch (Exception ex) { }
        finally
        {
            showLoading = false;
        }



    }//end OnInitialized

    private async Task GetUserAsync()
    {
        if (!await TryGetAsync())
            loggedUser = new();
    }

    private async Task<bool> TryGetAsync()
    {
        bool hasProperty = await HasPropertyAsync();
        if (hasProperty)
        {
            json = await JS.InvokeAsync<string>("localStorage.getItem", "user");
            loggedUser = JsonSerializer.Deserialize<User>(json) ?? new();
        }
        return hasProperty;
    }

    private async Task<bool> HasPropertyAsync()
        => await JS.InvokeAsync<bool>("localStorage.hasOwnProperty", "user");

    async Task OnChange(InputFileChangeEventArgs e)
    {
        showUpload = true;
        //Clear Data
        FileName = string.Empty;
        FileSource = null;
        await Clear();

        //Assign new data
        FileName = e.File.Name;
        FileSource = e.File;

        fileNames.Add(new FileToDisplay() { name = FileName, ftype = FileName.Split(".").Last() });


        using var content = new MultipartFormDataContent();

        var fileContent = new StreamContent(e.File.OpenReadStream(509600000));
        fileContent.Headers.ContentType = new MediaTypeHeaderValue(e.File.ContentType);

        MemoryStream ms = new MemoryStream();
        await fileContent.CopyToAsync(ms);

        showUpload = false;


    }//end function on change

    async void UploadFunction(bool overlord)
    {

        showLoading = true;
        base.StateHasChanged();
        await Task.Delay(50);
        using var content = new MultipartFormDataContent();

        if (FileSource is not null)
        {

            var fileContent = new StreamContent(FileSource.OpenReadStream(509600000));
            fileContent.Headers.ContentType = new MediaTypeHeaderValue(FileSource.ContentType);

            content.Add(
            content: fileContent,
            name: "\"file\"",
            fileName: FileSource.Name);
            
            var newUploadResults = await HeadCountServices.UploadHeadCount(content, loggedUser.UserId);

            if (newUploadResults is not null)
            {

                ErrorMessageToDisplay = "Upload Data Succesfull";

                showLoading = false;
                showUpload = false;

                base.StateHasChanged();

              
            }
            else
            {
                    ErrorMessageToDisplay = "Fail, Upload Data, pls Call for admin";
                //error al subir el archivo
            }

        }
        else
        {
            ErrorMessageToDisplay = "FileSource is null, pls Call for admin";
        }



    }//upload function

    private async Task Clear()
    {

        fileNames.Clear();
        ClearDragClass();
        await Task.Delay(100);
    }

    private void SetDragClass()
    {
        DragClass = $"{DefaultDragClass} mud-border-primary";
    }

    private void ClearDragClass()
    {
        DragClass = DefaultDragClass;
    }


}
