@page "/soshoe/SynopticControlPoints/Details/{SynopticControlPointsId:int}"

@inject IBreadcrumbService BreadcrumbService
@inject IStringLocalizer<Resource1> Localizer1
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<ResourceSTCP> Localizer
@inject ISynopticControlPointsService SynopticControlPointsService
@inject ISOSHubService sosHubService

<style>
    .synoptic-table table {
        border-collapse: collapse;
        width: 100%;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        background: white;
    }

    .synoptic-table th,
    .synoptic-table td {
        padding: 10px 8px !important;
        text-align: left;
        border: 1px solid #ddd;
        text-transform: uppercase !important;
    }

    .synoptic-table thead th {
        background: #0b8ff40d;
        color: #333;
        font-weight: 600 !important;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }

    .center {
        text-align: center !important;
    }

    .noBorderTop {
        border-top: none !important;
    }

    .noBorderBottom {
        border-bottom: none !important;
    }

    .noborder {
        border: none !important;
    }

    .synoptic-table tbody th {
        background-color: #0b8ff40d;
        color: #333;
        font-weight: 600 !important;
    }

    /* Separadores vacíos */
    .synoptic-table tbody td[colspan="18"] {
        background-color: transparent;
        border: none;
    }
</style>


@if (ShowLoading)
{
    <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudItem class="d-flex flex-column justify-center align-self-center">
                    <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                </MudItem>
                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
            </div>
        </ItemTemplate>
    </MudCarousel>
}
else
{
    <MudSimpleTable Class="mb-5 calendar-table rounded" Style="overflow-x: auto; float: right" Dense>
        <thead>
            <tr>
                <th rowspan="2">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>

                    <MudItem Style="justify-content: end" Class="ml-auto">
                        <MudItem Class="d-flex">
                            <MudChip Variant="Variant.Text" Color="Color.Info" Class="pl-3" Icon="@Icons.Material.Filled.Info" IconColor="Color.Info" @onclick="(() => HoeDetails((int)_sosSynopticControlPoints.SOSHubId))" OnTouch="(() => HoeDetails(_sosSynopticControlPoints.SOSHubId))">@Localizer["GoCollection"]</MudChip>
                        </MudItem>
                        <MudItem Class="d-flex">
                            @if ((user.UserType == 1 || user.UserType == 2)
                           && _sosSynopticControlPoints?.SynopticPointsLogbooks != null
                           && _sosSynopticControlPoints.SynopticPointsLogbooks.Any()
                           && _sosSynopticControlPoints.SynopticPointsLogbooks.Last().Status == 1)
                            {
                                <MudChip Class="mr-10" Icon="@Icons.Material.Filled.PlaylistPlay" Color="Color.Warning" Variant="Variant.Text">
                                    @Localizer["new"]
                                </MudChip>
                            }

                            @if ((user.UserType == 1 || user.UserType == 2)
                           && _sosSynopticControlPoints?.SynopticPointsLogbooks != null
                           && _sosSynopticControlPoints.SynopticPointsLogbooks.Any()
                           && _sosSynopticControlPoints.SynopticPointsLogbooks.Last().Status != 2)
                            {
                                <MudChip Class="mr-10" Icon="@Icons.Material.Filled.PlaylistAddCheck" Color="Color.Success" Variant="Variant.Text">
                                    @Localizer["review"]!
                                </MudChip>
                            }
                            else if (_sosSynopticControlPoints?.SynopticPointsLogbooks != null
                            && _sosSynopticControlPoints.SynopticPointsLogbooks.Any()
                            && _sosSynopticControlPoints.SynopticPointsLogbooks.Last().Status == 2)
                            {
                                <MudChip Class="mr-10" Icon="@Icons.Material.Filled.PlaylistAddCheck" Color="Color.Success" Variant="Variant.Text">
                                    @Localizer["approved"]!
                                </MudChip>
                            }


                        </MudItem>
                        <MudItem Class="d-flex">
                            <MudChip Variant="Variant.Text" Color="Color.Info" Class="pl-3" Icon="@Icons.Material.Filled.Edit" IconColor="Color.Info" @onclick="(() => UpdateSynopticRequirements((int)SynopticControlPointsId))" OnTouch="(() => UpdateSynopticRequirements((int)SynopticControlPointsId))">@Localizer["update"]</MudChip>
                        </MudItem>
                    </MudItem>
                </td>
            </tr>
        </tbody>
    </MudSimpleTable>

    <MudText Typo="Typo.h6"><b>@Localizer["titleSynopticTableOfControlPoints"]</b></MudText>
    <MudPaper Square="true" Elevation="3">
        <MudSimpleTable Class="synoptic-table">
            <thead>
                <MudTr>
                    <MudTh ColSpan="5" Class="noBorderBottom">@Localizer["SCPProcess"]</MudTh>
                    <MudTh ColSpan="4" Class="noBorderBottom">@Localizer["SCPModels"]</MudTh>
                    @if (TryGetSynopticPointsLogbooksElementAtIndex(2, out var item))
                    {
                        <MudTd ColSpan="3" Class="center">@item.Approver?.Name</MudTd>
                        <MudTd ColSpan="1" Class="center">@DateFormat(item?.Date)</MudTd>
                        <MudTd ColSpan="4" Class="center">@item.Changes</MudTd>
                        <MudTd ColSpan="2" Class="center">
                            @if (item.NoRevision == 0)
                            {
                                <b>N</b>
                            }
                            else
                            {
                                @item.NoRevision
                            }
                        </MudTd>
                    }
                    else
                    {
                        <MudTd ColSpan="3"></MudTd>
                        <MudTd ColSpan="1"></MudTd>
                        <MudTd ColSpan="4"></MudTd>
                        <MudTd ColSpan="2"></MudTd>
                    }
                </MudTr>
                <MudTr>
                    <MudTd ColSpan="5" Class="center noBorderTop">@_sosSynopticControlPoints.ProcessName</MudTd>
                    <MudTd ColSpan="4" Class="center noBorderTop">
                        @if (_soshub.AppliedModels?.Count > 0)
                        {
                            <MudItem Style="max-height: 80vh; overflow-y: scroll; display: flex; flex-wrap: wrap; padding-bottom: 0 !important" Class="gap-4 pb-5">
                                @foreach (Product item in _soshub.AppliedModels)
                                {
                                    <MudChip Style="border-radius:4px !important;" T="string" Icon="@Icons.Material.Filled.DirectionsCar" Color="Color.Primary">@item.Description</MudChip>
                                }
                            </MudItem>
                        }
                    </MudTd>

                    @if (TryGetSynopticPointsLogbooksElementAtIndex(1, out var item))
                    {
                        <MudTd ColSpan="3" Class="center">@item.Approver?.Name</MudTd>
                        <MudTd ColSpan="1" Class="center">@DateFormat(item?.Date)</MudTd>
                        <MudTd ColSpan="4" Class="center">@item.Changes</MudTd>
                        <MudTd ColSpan="2" Class="center">
                            @if (item.NoRevision == 0)
                            {
                                <b>N</b>
                            }
                            else
                            {
                                @item.NoRevision
                            }
                        </MudTd>
                    }
                    else
                    {
                        <MudTd ColSpan="3"></MudTd>
                        <MudTd ColSpan="1"></MudTd>
                        <MudTd ColSpan="4"></MudTd>
                        <MudTd ColSpan="2"></MudTd>
                    }
                    
                </MudTr>
                <MudTr>
                    <MudTh ColSpan="5" Class="noBorderBottom">@Localizer["SCPMonth"]</MudTh>
                    <MudTh ColSpan="4" Class="noBorderBottom">@Localizer["SCPPlant"]</MudTh>
                    @if (TryGetSynopticPointsLogbooksElementAtIndex(0, out var item))
                    {
                        <MudTd ColSpan="3" Class="center">@item.Approver?.Name</MudTd>
                        <MudTd ColSpan="1" Class="center">@DateFormat(item?.Date)</MudTd>
                        <MudTd ColSpan="4" Class="center">@item.Changes</MudTd>
                        <MudTd ColSpan="2" Class="center">
                            @if (item.NoRevision == 0)
                            {
                                <b>N</b>
                            }
                            else
                            {
                                @item.NoRevision
                            }
                        </MudTd>
                    }
                    else
                    {
                        <MudTd ColSpan="3"></MudTd>
                        <MudTd ColSpan="1"></MudTd>
                        <MudTd ColSpan="4"></MudTd>
                        <MudTd ColSpan="2"></MudTd>
                    }
                </MudTr>
                <MudTr>
                    <MudTd ColSpan="5" Class="center noBorderTop">@DateFormatString(_sosSynopticControlPoints.CreatedAt)</MudTd>
                    
                        @if (_soshub.Plant!=null)
                        {
                           <MudTd ColSpan="4" Class="center noBorderTop"> @_soshub.Plant.Description</MudTd>
                        }
                        else
                        {
                        <MudTd ColSpan="4" Class="center noBorderTop">@Localizer["SCPnotPlant"]</MudTd>
                        }

                    <MudTd ColSpan="3" Class="center">@Localizer["SCPApproved"]</MudTd>
                    <MudTd ColSpan="1" Class="center">@Localizer["SCPDate"]</MudTd>
                    <MudTd ColSpan="4" Class="center">@Localizer["SCPchange"]</MudTd>
                    <MudTd ColSpan="2" Class="center">@Localizer["SCPNo"]</MudTd>
                </MudTr>
            </thead>

            <tbody>
                <MudTr>
                    <MudTd ColSpan="18" Style="height: 10px;"></MudTd>
                </MudTr>
                <MudTr>
                    <MudTh>@Localizer["SCPPreparedBy"]</MudTh>
                    <MudTd ColSpan="4">@_sosSynopticControlPoints?.Creator?.Name</MudTd>
                    <MudTh>@Localizer["SCPReviewedBy"]</MudTh>
                    <MudTd ColSpan="3">@_sosSynopticControlPoints?.Reviewer?.Name</MudTd>
                    <MudTh ColSpan="2">@Localizer["SCPApprovedBy"]</MudTh>
                    <MudTd ColSpan="8">@_sosSynopticControlPoints?.Approver?.Name</MudTd>
                </MudTr>
                <MudTr>
                    <MudTd ColSpan="18" Style="height: 10px;"></MudTd>
                </MudTr>
                <MudTr>
                    <MudTh RowSpan="2" Class="center">@Localizer["SCPNo"]</MudTh>
                    <MudTh RowSpan="2" ColSpan="4" Class="center">@Localizer["SCPControlPoints"]</MudTh>
                    <MudTh RowSpan="2" Class="center">@Localizer["SCPDegreeOfImportance"]</MudTh>
                    <MudTh ColSpan="6" Class="center">@Localizer["SCPSupervisorConfirmation"]</MudTh>
                    <MudTh RowSpan="2" ColSpan="7" Class="center">@Localizer["SCPObservations"]</MudTh>
                </MudTr>
                <MudTr>
                    <MudTd Class="center">@Localizer["SCPOperationObservations"]</MudTd>
                    <MudTd Class="center">@Localizer["SCPOperatorRecord"]</MudTd>
                    <MudTd Class="center">@Localizer["SCPCheckProdAndCond"]</MudTd>
                    <MudTd ColSpan="2" Class="center">@Localizer["SCPSupervisorRecord"]</MudTd>
                </MudTr>
                @for(int i = 0; i < 20; i++)
                {
                    <MudTr>
                        <MudTd Class="center"></MudTd>
                        <MudTd ColSpan="4" Class="center"></MudTd>
                        <MudTd Class="center"></MudTd>
                        <MudTd Class="center"></MudTd>
                        <MudTd Class="center"></MudTd>
                        <MudTd Class="center"></MudTd>
                        <MudTd Class="center"></MudTd>
                        <MudTd ColSpan="8" Class="center"></MudTd>
                    </MudTr>
                }
            </tbody>
            
        </MudSimpleTable>
     
    </MudPaper>
    <br />
}


