@inject IDepartmentService DepartmentService
@inject IStringLocalizer<Resource> Localizer

<MudSimpleTable Elevation="0" Hover="true" Dense="true" Class="mx-2">
    @if (dataloaded)
    {
        <thead>
            <tr>
                <th style="min-width: 250px;">@Localizer["CatOrLvl"]</th>
                <th style="width: 200px;" class="text-center">@Localizer["date"]</th>
                @if(!details) { <th style="width: 120px;" class="text-right px-4">@Localizer["Actions"]</th> }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in CategoryTable.Select((value, index) => new { index, value }))
            {
                if (item.value.IsActive ?? false)
                {
                    <tr>
                        <td>
                            @if (!details)
                            {
                                <MudSelect T="int"
                                           Variant="Variant.Outlined"
                                           Margin="Margin.Dense"
                                           Dense="true"
                                           AnchorOrigin="Origin.BottomCenter"
                                           Value="item.value.ChosenCategoryDepartmentId"
                                           ValueChanged="opt => OptionChanged(opt, item.index)"
                                           Class="bg-white">
                                    <MudSelectItem Value="0" Disabled="true">@Localizer["SelectCategory"]</MudSelectItem>
                                    @foreach (var ctgr in ExistingCategories)
                                    {
                                        <MudSelectItem Value="ctgr.DepartmentId">@($"{ctgr.Code} - {ctgr.Description}")</MudSelectItem>
                                    }
                                </MudSelect>
                            }
                            else
                            {
                                @if (item.value.ChosenCategoryDepartmentId != 0)
                                {
                                    var tempCategory = ExistingCategories.FirstOrDefault(p => p.DepartmentId == item.value.ChosenCategoryDepartmentId);
                                    <div class="d-flex align-center py-2">
                                        <MudIcon Icon="@Icons.Material.Filled.Label" Size="Size.Small" Color="Color.Primary" Class="mr-2" />
                                        <MudText Typo="Typo.body2" Style="font-weight: 500;">
                                            @($"{tempCategory?.Code} - {tempCategory?.Description}")
                                        </MudText>
                                    </div>
                                }
                                else
                                {
                                    <MudText Typo="Typo.body2" Color="Color.Secondary" Class="font-italic py-2">
                                        @Localizer["NoCategories"]
                                    </MudText>
                                }
                            }
                        </td>
                        <td>
                            <MudDatePicker Date="item.value.Date"
                                           DateChanged="(d) => DateChanged(d, item.index)"
                                           Clearable="true"
                                           ReadOnly="@details"
                                           Variant="@(details ? Variant.Text : Variant.Outlined)"
                                           Margin="Margin.Dense"
                                           DisableToolbar="true"
                                           Class="@(details ? "" : "bg-white")" />
                        </td>
                        @if (!details)
                        {
                            <td>
                                <div class="d-flex justify-end align-center px-2">
                                    <MudIconButton Icon="@Icons.Material.Filled.DeleteOutline"
                                    Color="Color.Error"
                                    Size="Size.Small"
                                    OnClick="() => Delete(item.index)" />

                                    @if (item.value.Equals(CategoryTable.LastOrDefault(p => p.IsActive == true)))
                                    {
                                        <MudIconButton Icon="@Icons.Material.Filled.AddCircleOutline"
                                        Color="Color.Success"
                                                   Size="Size.Medium"
                                                   OnClick="() => AddHere()" />
                                    }
                                </div>
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    }
    else
    {
        <div class="pa-4 d-flex justify-center">
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Small" />
        </div>
    }
</MudSimpleTable>