@inject IStringLocalizer<Resource> Localizer
@inject IILUService ILUServices

<MudExpansionPanel Style="min-width: 100%;" IsInitiallyExpanded=true>
    <TitleContent>
        <div Style="align-items: center; display: flex;">
            <MudText>@Localizer["ExperienceTitle"]</MudText>
        </div>
    </TitleContent>
    <ChildContent>
        <MudSimpleTable Elevation="0">
            <thead>
                <tr>
                    <th style="text-align:center">@Localizer["Period"]</th>
                    <th style="text-align:center">@Localizer["OperationDescription"]</th>
                    <th style="text-align:center">@Localizer["level"]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in GetGroupedExpertiseTable())
                {
                    var period = new DateRange(item.AcquisitionDate, item.EndDate);
                    <tr>
                        <td style="width:25%">
                            <MudDateRangePicker DateRange="period" DateRangeChanged="(d)=>DateChanged(d,item.ILURegisterid)" Clearable="true" ReadOnly />
                        </td>
                        <td>
                            <MudTextField T="string" Value="item.Distribution?.Description" Variant="Variant.Text" FullWidth ReadOnly></MudTextField>
                        </td>
                        <td style="width:10%">
                            <MudSelect T="int?" Label="ILU" Variant="Variant.Text" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="item.ILULevelId" ReadOnly>
                                <MudSelectItem T="int?" Disabled="true" Value="null">@Localizer["selectALevel"]</MudSelectItem>
                                @foreach (var type in _LevelsILU)
                                {
                                    string imageSrc = type.ILULevelCode switch
                                    {
                                        "ITrainee" or "I" or "ILeader" or "LTrainee" or "LTraineeLeader" => "Images/I.png",
                                        "L" or "LLeader" or "UTrainee" or "ULeaderTrainee" => "Images/L.png",
                                        "U" or "ULeader" => "Images/U.png",
                                        _ => "Images/default.png"
                                    };
                                    <MudSelectItem T="int?" Value="type.ILULevelId">
                                        <div class="d-flex align-items-center">
                                            <MudImage Src="@imageSrc" Alt="ILU Image" Height="30" Class="rounded-lg" Style="margin-top: -5px" />
                                        </div>
                                    </MudSelectItem>
                                }
                            </MudSelect>
                        </td>
                        <td style="width:10%">
                            @* Placeholder for action buttons *@
                        </td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </ChildContent>
</MudExpansionPanel>
