@inject IStringLocalizer<Resource> Localizer
<MudSimpleTable Elevation="0">
    <tbody>
        <tr>
            <td>
                <MudSimpleTable Elevation="0">
                    <tbody>
                        <tr>
                            <td>
                                <MudTextField @bind-Value="_hci.User.Name" Label="@Localizer["name"]" Variant="Variant.Text" ReadOnly></MudTextField>
                            </td>
                            <td>
                                <MudTextField @bind-Value="_hci.User.Payroll" Label="@Localizer["payroll"]" Variant="Variant.Text" ReadOnly></MudTextField>
                            </td>
                            <td>
                                <MudDatePicker @bind-Date="_hci.User.BirthDate" Label="@Localizer["BirthDate"]" Variant="Variant.Text" ReadOnly></MudDatePicker>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <MudTextField @bind-Value="_hci.User.Management" Label="@Localizer["Management"]" Variant="Variant.Text" ReadOnly></MudTextField>
                            </td>
                            <td>
                                <MudTextField @bind-Value="_hci.User.Department" Label="@Localizer["department"]" Variant="Variant.Text" ReadOnly></MudTextField>
                            </td>
                            <td>
                                <MudTextField @bind-Value="_hci.User.Process" Label="@Localizer["SectionProcess"]" Variant="Variant.Text" ReadOnly></MudTextField>
                            </td>
                        </tr>
                    </tbody>
                </MudSimpleTable>
            </td>
            <td class="d-flex flex-column" style="align-items:center;">
                <MudDatePicker FullWidth @bind-Date="_hci.User.IncomesDate" Label="@Localizer["EntryDate"]" Variant="Variant.Text" ReadOnly></MudDatePicker>
                <br/>
                <MudImage Src="@image" Alt="Image" Elevation="25" Height="300" Width="250" />
            </td>
        </tr>
    </tbody>
</MudSimpleTable>

@code {
    public string management;
    [Parameter]
    public Data.Entities.HCI _hci { get; set; }
    [Parameter]
    public string image { get; set; }
}
