@page "/PAT/{patID:int}"

@using System.Net.Http.Json
@using MudBlazor
@using System.Globalization;

@inject NavigationManager NavigationManager
@inject IUserService UsersServices
@inject IAreaService AreasServices
@inject IOperationService OperationsServices
@inject IDistributionService DistributionsServices
@inject IPATService PATsServices
@inject IJSRuntime JSRuntime
@inject IILUService ILUServices
@inject ISnackbar Snackbar
@inject IStringLocalizer<Resource> Localizer
@inject IStringLocalizer<Resource1> Localizer1
@inject IBreadcrumbService BreadcrumbService
@*Title*@
<PageTitle>Supervisor Mobility | @Localizer["PATDetails"]</PageTitle>
@*Breadcrumb links*@
@*<MudBreadcrumbs Class="mb-10" Items="_links">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
    </ItemTemplate>
</MudBreadcrumbs>*@

    <style>

        .vertical-text {
            vertical-align: middle;
        }

        .vertical-content {
            writing-mode: vertical-lr;
            white-space: nowrap;
            word-wrap: break-word;
            max-width: 100%;
        }


        .mud-simple-table.mud-table-sticky-header * table thead * th {
            background-color: var(--mud-palette-surface);
            position: sticky;
            z-index: 2;
            top: 0;
        }

        .scroll1::-webkit-scrollbar {
            width: 4px;
            touch-action: pan-y;
        }

     

        .table-container {
            box-shadow: var(--mud-elevation-1);
            overflow-x: auto;
            border-radius: var(--mud-default-borderradius);
        }

            .table-container:hover {
                box-shadow: var(--mud-elevation-2);
            }


        .fixed-column {
            position: sticky;
            left: 0;
            z-index: 2;
            background-color: #f0f0f0;
        }

        .dynamic-left {
            left: 0;
        }
/* 
        table {
            border-collapse: collapse;
            min-width: 100%;
            border-radius: var(--mud-default-borderradius);
        } */

        th,
        td {
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .fixed-row {
            position: sticky;
            top: 0; /* Las filas fijas se ubicarán en la parte superior de la tabla */
            z-index: 2; /* Asegura que las filas fijas estén por encima del contenido desplazable */
        }
    </style>

@if (ShowTable)
{
  
    <MudSimpleTable Class="mb-5 calendar-table rounded" Style="overflow-x: auto;" Dense>
    <thead>
        <tr>
            <th>
                <MudItem Class="d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.Business"> </MudIcon>
                    <MudText Class="ml-2">@Localizer["area"]</MudText>
                </MudItem>
            </th>
            <th>@Localizer["applicationYear"]</th>
            <th>Supervisor</th>
            <th>SSV</th>
            <th>@Localizer["date"]</th>
                <th rowspan="2">
                    </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @_pat?.Area?.Code - @_pat?.Area?.Description
            </td>
            <td>@_pat?.AplicationYear</td>
            <td>@_pat?.Supervisor?.Name</td>
            <td>@_pat?.SSVresponsible?.Name</td>
            <td>@_pat?.CreationDate?.ToShortDateString()</td>
            <td>
                    <MudItem Style="justify-content: end" Class="ml-auto">
                    <MudItem Class="d-flex">
                        @if ((user.UserType == 1 || user.UserType == 2) && _pat?.Status == 1)
                        {
                            <MudChip Class="mr-10" Icon="@Icons.Material.Filled.PlaylistPlay" Color="Color.Warning" Variant="Variant.Text">
                                @Localizer["new"]
                            </MudChip>
                        }
                        @if ((user.UserType == 1 || user.UserType == 2) && _pat?.Status != 2)
                        {
                            <MudButton @onclick="(() => OpenSignComment())" StartIcon="@Icons.Material.Filled.BorderColor" IconColor="Color.Info">@Localizer["approvePAT"]</MudButton>
                        }
                        else if (_pat?.Status == 2)
                        {
                            <MudChip Class="mr-10" Icon="@Icons.Material.Filled.PlaylistAddCheck" Color="Color.Success" Variant="Variant.Text">
                                @Localizer["approved"]!
                            </MudChip>
                        }
                        <MudMenu Dense=true MaxHeight="300" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Class="ml-5">
                            <ActivatorContent>
                                <MudButton FullWidth=true StartIcon="@Icons.Material.Filled.Info" Color="Color.Info" Variant="Variant.Filled" Size="Size.Small">@Localizer["showAllSymbols"]</MudButton>
                                </ActivatorContent>
                                <ChildContent>
                                    <MudMenuItem><span style="font-weight: bold; text-align: center" class="mr-12">I</span>@Localizer["canDoItWithHelp"]</MudMenuItem>
                                    <MudMenuItem><span style="font-weight: bold; text-align: center" class="mr-11">L</span>@Localizer["canDoItYourself"]</MudMenuItem>
                                    <MudMenuItem><span style="font-weight: bold; text-align: center" class="mr-10">U</span> @Localizer["canInstructOthers"]</MudMenuItem>
                                    <MudMenuItem><span style="font-weight: bold" class="mr-14"></span> @Localizer["inexperiencedOperator"]</MudMenuItem>
                                    <MudMenuItem Icon="@Icons.Material.Outlined.Circle" IconColor="Color.Dark">@Localizer["incumbentOperator"]</MudMenuItem>
                                    <MudMenuItem Icon="@Icons.Material.Filled.ChangeHistory" IconColor="Color.Dark">@Localizer["personnelInTrainingPeriod"]</MudMenuItem>
                                </ChildContent>
                            </MudMenu>
                        </MudItem>
                    </MudItem>
            </td>
        </tr>
    </tbody>
</MudSimpleTable>
    
<div class="table-container mb-10" >
        <div class="scrollable-columns">
            <MudSimpleTable Class="mb-5 rounded" Dense FixedHeader="true" Style="overflow-x: auto; height: 82vh">
                 <thead >
                    <tr class="fixed-row">
                        <th colspan="2">@Localizer["operatorsByOperation"]</th>
                         <th colspan="2" rowspan="3" class="fixed-column dynamic-left ">@Localizer["operatorName"]</th>
                        <Virtualize Context="usr" Items="_UserOfArea">
                            @if (User_Knolowed[usr.UserId])
                            {
                                <th rowspan="3" colspan="2">
                                    <div style="text-align: end;">
                                        <MudMenu EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Label="@usr.Name" AnchorOrigin="Origin.BottomCenter">
                                            <MudMenuItem Icon="@Icons.Material.Filled.EditCalendar" OnClick="(() => OpenHistoryILU(usr.UserId))" @ontouchstart="(() => OpenHistoryILU(usr.UserId))">
                                                @Localizer["historyILU"]
                                            </MudMenuItem>
                                        </MudMenu>
                                    </div>
                                </th>
                            }
                            else
                            {
                                <th style="background-color: #f9dad8; color: #f44336;" rowspan="3" colspan="2" class="thead">
                                    @usr.Name
                                </th>
                            }
                        </Virtualize>
                    </tr>
                    <tr>
                        <th colspan="2" >___ % @Localizer["in"] 1 x ___ </th>
                    </tr>
                    <tr>
                        <th colspan="2" >@Localizer["operatorsByOperation"]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th colspan="2" >___ % @Localizer["in"] 2 x ___ </th>
                        <th colspan="2" class="fixed-column dynamic-left">@Localizer["payroll"]</th>
                        <Virtualize Context="usr" Items="_UserOfArea">
                            @if (User_Knolowed[usr.UserId])
                            {
                                <th colspan="2" style="text-align: center;">
                                    @usr.Payroll
                                </th>
                            }
                            else
                            {
                                <th style="background-color: #f9dad8; color: #f44336; text-align: center;" colspan="2">
                                    @usr.Payroll
                                </th>
                            }
                        </Virtualize>
                    </tr>
                   <tr class="fixed-row">
                        <th colspan="2" class="fixed-column dynamic-left"   style="max-width:60px;width:50px"> @Localizer1["code"]</th>
                        <th colspan="2" class="fixed-column dynamic-left"> @Localizer["distributionName"]</th>
                        <Virtualize Items="_UserOfArea">
                            <th>Nivel</th>
                            <th>Fecha</th>
                        </Virtualize>
                    </tr>
                    @foreach(var op in _distributions){

                            <tr>
                            <td style="max-width:120px;width:100px" colspan="2" class="fixed-column dynamic-left">@op.Code</td>
                                @if (Distributions_Knolowed[op.DistributionId])
                                {
                                    <th colspan="2" class="fixed-column dynamic-left" >
                                        <div style="text-align: end;">
                                            <MudMenu AnchorOrigin="Origin.BottomCenter">
                                                <ActivatorContent>
                                                    @op.Description &nbsp;
                                                    <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowDown"></MudIcon>
                                                </ActivatorContent>
                                                <ChildContent>
                                                <MudMenuItem Icon="@Icons.Material.Filled.EditCalendar" OnClick="(() => OpenHistoryILU_Operation(op.DistributionId))" @ontouchstart="(() => OpenHistoryILU_Operation(op.DistributionId))">
                                                        @Localizer["historyILU"]
                                                    </MudMenuItem>
                                                </ChildContent>
                                            </MudMenu>
                                        </div>
                                    </th>
                                }
                                else
                                {
                                    <th class="fixed-column dynamic-left"  colspan="2" style="background-color:#fbe8ce;color:#ff9800">
                                        @op.Description &nbsp;
                                    </th>
                                }
                              
                                
                                <Virtualize Context="usr" Items="_UserOfArea">
                                    <td style="text-align: end;" colspan="2">
                                    @if (user.UserType == 1 || user.UserType == 2 || user.UserType == 3)
                                    {
                                        <MudMenu EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Label="" Color="Color.Info" AnchorOrigin="Origin.BottomCenter">
                                            <MudMenuItem Icon="@Icons.Material.Filled.EditCalendar" @onclick="(() => CreateJobObservation(op.DistributionId, usr.UserId))" @ontouchstart="(() => CreateJobObservation(op.DistributionId, usr.UserId))">
                                                @Localizer["createJobObservation"]
                                            </MudMenuItem>
                                            <MudMenuItem Class="animationContainer" Style="max-width:300px" Icon="@Icons.Material.Filled.Add" OnClick="@( () => OpenDialogAddILU(op.DistributionId, usr.UserId))" @ontouchstart="( () => OpenDialogAddILU(op.DistributionId, usr.UserId))">
                                                <MudText Class="animationtext">@Localizer["newILUFor"] @usr.Name in Operation @op.Description </MudText>
                                            </MudMenuItem>
                                        </MudMenu>

                                    }

                                    @if (ILU_Matrix.TryGetValue((op.DistributionId, usr.UserId), out var context))
                                    {
                                        <table style="border: none">
                                            <tbody>
                                                @{
                                                    var latestContext = context.OrderByDescending(c => c.AcquisitionDate).FirstOrDefault();
                                                    char ILULevelNumber = '§';
                                                    @if (latestContext != null)
                                                    {
                                                        ILULevelNumber = _LevelsILU.Find(u => u.ILULevelId == latestContext.ILULevelId).ILULevelCode;
                                                    }
                                                }

                                                @if (context.Count > 0 && latestContext != null)
                                                {
                                                    <tr style="border: none; display: flex; justify-content: space-around;">
                                                        @if (ILULevelNumber != '§')
                                                        {
                                                            <td style="border: none">
                                                                <MudText Typo="Typo.subtitle1"> <b>  @ILULevelNumber </b> </MudText>
                                                            </td>
                                                        }
                                                        <td style="border: none">@latestContext.AcquisitionDate?.ToString("dd/MM/yyyy")</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </td>
                                </Virtualize>
                            </tr>
                   }
                    <tr>
                        <td colspan="2" style="max-width:60px;width:50px;" class="fixed-column">
                        </td>
                        <td colspan="1" class="fixed-column dynamic-left">
                        </td>
                        <td colspan="1" class="fixed-column dynamic-left" style="text-align: center;">
                            1 x _
                        </td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        </div>
    </div>

}
else
{
    <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudItem class="d-flex flex-column justify-center align-self-center">
                    <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                </MudItem>
                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
                </div>
            </ItemTemplate>
        </MudCarousel>
}

<MudDialog DisableSidePadding="false" @bind-IsVisible="AddILUVisibleDialog" Options="dialogOptions">
    <DialogContent>
        <MudContainer Style="max-height: 80vh; overflow-y: scroll; display: flex; flex-wrap: wrap; flex-direction:column" Class="gap-4">
            <MudItem xs="12" sm="12" lg="12" md="12" Style="text-align: center">
                <MudText Typo="Typo.h5">
                    @Localizer["addNewILULevel"]
                </MudText>
            </MudItem>

            <MudItem xs="12" sm="12" lg="12" md="12" Style="display: flex; flex-wrap: wrap; flex-direction:row">
                <MudItem xs="12" sm="12" lg="12" md="12">
                    <MudText Typo="Typo.h6">
                        @Localizer["operatorInfo"]
                    </MudText>
                </MudItem>
                <MudTextField ReadOnly Style="max-width: 100px;" Label=@Localizer["payroll"] Value="_UserOfArea.Find(u => u.UserId == _newIlu.OperatorId).Payroll"></MudTextField>
                <MudTextField ReadOnly Label=@Localizer["operatorName"] Value="_UserOfArea.Find(u => u.UserId == _newIlu.OperatorId).Name"></MudTextField>
            </MudItem>

            <MudItem xs="12" sm="12" lg="12" md="12" Style="display: flex; flex-wrap: wrap; flex-direction:row">
                <MudItem xs="12" sm="12" lg="12" md="12">
                    <MudText Typo="Typo.h6">
                         @Localizer["distributionInfo"]
                    </MudText>
                </MudItem>

                <MudTextField ReadOnly Label=@Localizer["distributionName"] Value="_distributions.Find(u => u.DistributionId == _newIlu.DistributionId).Description"></MudTextField>
            </MudItem>


            <MudItem Class="d-flex flex-column justify-center ma-1">
                <MudSelect T="int" Label="ILU" Variant="Variant.Text" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@auxILU_Level" For="@(() => auxILU_Level)" SelectedValuesChanged="updateILULevel">
                    <MudSelectItem Disabled="true" Value="0">@Localizer["selectALevel"]</MudSelectItem>
                    @foreach (var type in _LevelsILU)
                    {
                        <MudSelectItem Value="type.ILULevelId">@($"{type.ILULevelCode}-{type.ILULevelDescription}")</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>

        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Info" Disabled="@(auxILU_Level != 0 ? false : true)" OnClick="AddILUClose">@Localizer["addILULevel"]</MudButton>
    </DialogActions>
</MudDialog>


<MudDialog DisableSidePadding="false" @bind-IsVisible="ILUHistoryDialog" Options="dialogOptions">
    <DialogContent>
        <MudContainer Style="max-height: 80vh; overflow-y: scroll; display: flex; flex-wrap: wrap; flex-direction:row" Class="gap-4">
            <MudItem xs="12" sm="12" lg="12" md="12" Style="text-align: center">
                <MudText Typo="Typo.h6">
                    @Localizer["ILUHistoryOfOperationsInUser"]
                </MudText>
            </MudItem>
            <MudItem xs="12" sm="12" lg="12" md="12" Style="text-align: center">
                <MudTextField ReadOnly="true" Value="@_UserOfArea.Find(u => u.UserId == auxILU_UseId).Name" Label=@Localizer["name"]> </MudTextField>
                <MudTextField ReadOnly="true" Value="@_UserOfArea.Find(u => u.UserId == auxILU_UseId).Payroll" Label=@Localizer["payroll"]> </MudTextField>
            </MudItem>

            @if (AllRegistersOperationsInUser?.Count > 0)
            {
                <MudTable Hover="true" Breakpoint="Breakpoint.Sm" FixedHeader="true"
                          Items="@AllRegistersOperationsInUser"
                          GroupBy="@OperationsInUser"
                          GroupHeaderStyle="background-color:var(--mud-palette-background-grey)"
                          GroupFooterClass="mb-4">
                    <ColGroup>

                        <col />
                        <col />
                        <col />
                        <col />
                    </ColGroup>
                    <HeaderContent>
                        <MudTh>Id</MudTh>
                        <MudTh>@Localizer["level"]</MudTh>
                        <MudTh>@Localizer["descriptionLevel"]</MudTh>
                        <MudTh>@Localizer["adquisitionDate"]</MudTh>
                    </HeaderContent>
                    <GroupHeaderTemplate>
                        <MudTh Class="mud-table-cell-custom-group" colspan="4">
                            @($"{context.GroupName}: {_distributions.Find(o => o.DistributionId == (int)context.Key).Description}")
                        </MudTh>
                    </GroupHeaderTemplate>
                    <RowTemplate>
                        <MudTd DataLabel="Id">@context.ILURegisterid</MudTd>
                        <MudTd DataLabel=@Localizer["level"]>
                            <MudText Typo="Typo.subtitle1">
                                <b>
                                    @_LevelsILU.Find(u => u.ILULevelId == context.ILULevelId).ILULevelCode
                                </b>
                            </MudText>
                        </MudTd>
                        <MudTd DataLabel=@Localizer["descriptionLevel"] Class="animationContainer">
                            <MudText Class="animationtext">
                                @_LevelsILU.Find(u => u.ILULevelId == context.ILULevelId).ILULevelDescription
                            </MudText>
                        </MudTd>
                        <MudTd DataLabel=@Localizer["adquisitionDate"]>@context.AcquisitionDate?.ToString("dd/MM/yyyy")</MudTd>
                    </RowTemplate>
                    <GroupFooterTemplate>
                        <MudTh Class="mud-table-cell-custom-group mud-table-cell-custom-group-footer" colspan="4">@Localizer["mostRecentRegistrationTo"] @_distributions.Find(o => o.DistributionId == (int)context.Key).Description @Localizer["is"]: @context.Items.OrderByDescending(e => e.AcquisitionDate).First().AcquisitionDate?.ToString("dd/MM/yyyy") </MudTh>
                    </GroupFooterTemplate>
                </MudTable>

            }

        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Info" OnClick="CloseHistoryILU">@Localizer["close"]</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog DisableSidePadding="false" @bind-IsVisible="ILUHistoryOperationDialog" Options="dialogOptions">
    <DialogContent>
        <MudContainer Style="max-height: 80vh; overflow-y: scroll; display: flex; flex-wrap: wrap; flex-direction:row; justify-content: center;" Class="gap-4">
            <MudItem xs="12" sm="12" lg="12" md="12" Style="text-align: center">
                <MudText Typo="Typo.h6">
                    @Localizer["ILUHistoryOfUserInOperation"]
                </MudText>
            </MudItem>

            <MudItem xs="12" sm="12" lg="12" md="12" Style="text-align: center">
                <MudTextField ReadOnly="true" Value="@_distributions.Find(u => u.DistributionId == auxILU_OpId).Code" Label=@Localizer["code"]> </MudTextField>
                <MudTextField ReadOnly="true" Value="@_distributions.Find(u => u.DistributionId == auxILU_OpId).Description" Label=@Localizer["description"]> </MudTextField>
            </MudItem>


            @if (AllRegistersUsersInOperation?.Count > 0)
            {
                <MudTable Hover="true" Breakpoint="Breakpoint.Sm" FixedHeader="true"
                          Items="@AllRegistersUsersInOperation"
                          GroupBy="@UserInOperations"
                          GroupHeaderStyle="background-color:var(--mud-palette-background-grey)"
                          GroupFooterClass="mb-4">
                    <ColGroup>

                        <col />
                        <col />
                        <col />
                        <col />
                    </ColGroup>
                    <HeaderContent>
                        <MudTh>Id</MudTh>
                        <MudTh>@Localizer["level"]</MudTh>
                        <MudTh>@Localizer["descriptionLevel"]</MudTh>
                        <MudTh>@Localizer["adquisitionDate"]</MudTh>
                    </HeaderContent>
                    <GroupHeaderTemplate>
                        <MudTh Class="mud-table-cell-custom-group" colspan="4">
                            @($"{context.GroupName}: {_UserOfArea.Find(o => o.UserId == (int)context.Key).Name}")
                        </MudTh>
                    </GroupHeaderTemplate>
                    <RowTemplate>
                        <MudTd DataLabel="Id">@context.ILURegisterid</MudTd>
                        <MudTd DataLabel=@Localizer["level"]>
                            <MudText Typo="Typo.subtitle1">
                                <b>
                                    @_LevelsILU.Find(u => u.ILULevelId == context.ILULevelId).ILULevelCode
                                </b>
                            </MudText>
                        </MudTd>
                        <MudTd DataLabel=@Localizer["descriptionLevel"] Class="">
                                  <div class="animationContainer">
                                <MudText Class="animationtext">
                                    @_LevelsILU.Find(u => u.ILULevelId == context.ILULevelId).ILULevelDescription
                                </MudText>
                            </div>
                        </MudTd>
                        <MudTd DataLabel=@Localizer["adquisitionDate"]>@context.AcquisitionDate?.ToString("dd/MM/yyyy")</MudTd>
                    </RowTemplate>

                </MudTable>

            }


        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Info" OnClick="CloseHistory_OperationILU">@Localizer["close"]</MudButton>
    </DialogActions>
</MudDialog>

@*Sign PAT modal*@
<MudDialog @bind-IsVisible="visibleSign" Options="dialogSignOptions">
    <DialogContent>
        <MudText Typo="Typo.h6">Confirm</MudText>
        <MudText Class="mt-4 mb-4">
            <span style="color: #2196f3; text-align:justify">@user.Name</span>,
            @Localizer["areYouSureYouWantToApproveThisPAT"]
        </MudText>
        <MudText Class="mt-4 mb-4">
            @Localizer["onceApprovedItCannotBeModified"]
        </MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseSign" Variant="Variant.Filled">@Localizer["cancel"]</MudButton>
        <MudButton @onclick="(() => ApprovePat())" Color="Color.Info" StartIcon="@Icons.Material.Filled.PlaylistAddCheck" Variant="Variant.Filled">@Localizer["approvePAT"]</MudButton>
    </DialogActions>
</MudDialog>

  <MudDialog DisableSidePadding="false" @bind-IsVisible="CreateILUJob" Options="dialogOptions">
        <DialogContent>
            <MudContainer Style="max-height: 75vh; overflow-y: scroll">
       @*          <SupervisorMobility.Client.Pages.Inicio.JobObservationPage.ProgrammedJobObservationDetails JobObservationId="jobId2" LoggedUser="user" ProgrammedStartDate="@programmedStartDate"
                                                                                                           IsVisible="@visible2" IsVisibleChanged="HandleVisibleChanged"></SupervisorMobility.Client.Pages.Inicio.JobObservationPage.ProgrammedJobObservationDetails>
        *@
                <SupervisorMobility.Client.Pages.Inicio.JobObservationPage.ILUJobObservation plant_id="_pat.PlantId" area_id="_pat.AreaId" LoggedUser="user" distribution_id="distribution_id" operator_id="operator_id" supervisor_id="_pat.SupervisorId" ProgrammedStartDate="ProgrammedStartDate"></SupervisorMobility.Client.Pages.Inicio.JobObservationPage.ILUJobObservation>
    </MudContainer>
        </DialogContent>
        <DialogActions>
            <MudButton Color="Color.Info" OnClick="CloseILUJob">@Localizer["close"]</MudButton>
        </DialogActions>
    </MudDialog>

