@page "/PAT"
@inject IPATService PATsServices
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IUserService UsersService
@inject ISnackbar Snackbar
@inject IStringLocalizer<Resource> Localizer

@*Title*@
<PageTitle>Supervisor Mobility | PAT</PageTitle>
@*Breadcrumb links*@
@*<MudBreadcrumbs Class="mb-10" Items="_links">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
    </ItemTemplate>
</MudBreadcrumbs>*@

@if (_Pats == null)
{
    <text>
        @Localizer["loading"] ...
    </text>
}
else if (_Pats.Count == 0)
{
    <MudContainer>

        <MudText Align="Align.Center">
            <h4>@Localizer["thereAreNoPATsCreated"]</h4>
            <MudSpacer></MudSpacer>
            @if (user.UserType == 1 || user.UserType == 3)
            {
                <MudButton @onclick="(() => CreatePat())">
                    <MudText>@Localizer["createPAT"]</MudText>
                    <MudIcon Icon="@Icons.Material.Filled.Add" aria-label="Create Pat" Color="Color.Primary"></MudIcon>
                </MudButton>
            }
        </MudText>
    </MudContainer>
}
else
{
    <MudTable Items="@_Pats" T="PAT" SortLabel="SortBy" Class="styled-table table-striped" FixedHeader=true Height="55vh" Hover Striped="true" Filter="new Func<PAT,bool>(FilterFunc1)" RowClassFunc="@SelectedRowClassFunc" @ref="SelectTableEvent" OnRowClick="RowClickEvent">
        <PagerContent>
            <MudTablePager />
        </PagerContent>
        <ToolBarContent>
            <MudText Typo="Typo.h6" Align="Align.Center">PAT</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="@searchString1" Placeholder=@Localizer["search"] Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mb-2"></MudTextField>
            <MudSpacer />
            @if (user.UserType == 1 || user.UserType == 3)
            {
                <MudButton @onclick="(() => CreatePat())">
                    <MudText>@Localizer["createPAT"]</MudText>
                    <MudIcon Icon="@Icons.Material.Filled.Add" aria-label="Create Pat" Color="Color.Primary"></MudIcon>
                </MudButton>

            }
        </ToolBarContent>
        <HeaderContent>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<PAT, object>(x=>x.PATid)" Enabled="true">PAT ID</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<PAT, object>(x=>x.AplicationYear)">@Localizer["year"]</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<PAT, object>(x=>x.SSVresponsible?.Name)">SSV</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<PAT, object>(x=>x.Supervisor?.Name)">Supervisor</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<PAT, object>(x=>x.Area?.Description)">@Localizer["area"]</MudTableSortLabel>
            </MudTh>
        @*     <MudTh>
                <MudTableSortLabel SortBy="new Func<PAT, object>(x=>x.Distribution?.Description)" InitialDirection="SortDirection.Ascending">@Localizer["distribution"]</MudTableSortLabel>
            </MudTh> *@
            <MudTh>
                <MudTableSortLabel SortBy="new Func<PAT, object>(x=>x.Status)">@Localizer["status"]</MudTableSortLabel>
            </MudTh>
            <MudTh>
                @Localizer["actions"]
            </MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="PAT ID">
                <MudText Align="Align.Center">@context.PATid</MudText>
            </MudTd>
            <MudTd DataLabel=@Localizer["year"]>
                <MudText Align="Align.Center">@context.AplicationYear</MudText>
            </MudTd>
            <MudTd DataLabel="SSV">
                <MudText Align="Align.Center">@context.SSVresponsible?.Name</MudText>
            </MudTd>
            <MudTd DataLabel="Supervisor">
                <MudText Align="Align.Center">@context.Supervisor?.Name</MudText>
            </MudTd>
            <MudTd DataLabel=@Localizer["area"]>
                <MudText Align="Align.Center">@context.Area?.Description</MudText>
            </MudTd>
            @* <MudTd DataLabel=@Localizer["distribution"]>
                <MudText Align="Align.Center">@context.Distribution?.Description</MudText>
            </MudTd> *@
            <MudTd DataLabel=@Localizer["status"]>
                <MudText Align="Align.Center">
                    @switch (context.Status)
                    {
                        case 1:
                            <MudChip Variant="Variant.Text" Icon="@Icons.Material.Filled.PlaylistPlay" Color="Color.Warning" Size="Size.Small" Style="cursor:pointer">@Localizer["new"]</MudChip>
                            break;
                        case 2:
                            <MudChip Variant="Variant.Text" Icon="@Icons.Material.Filled.StopCircle" Color="Color.Info" Style="cursor:pointer">@Localizer["inProgress"]</MudChip>
                            break;
                        case 3:
                            <MudChip Variant="Variant.Text" Icon="@Icons.Material.Filled.RemoveCircle" Color="Color.Error" Style="cursor:pointer">@Localizer["late"]</MudChip>
                            break;
                        case 4:
                            <MudChip Variant="Variant.Text" Icon="@Icons.Material.Filled.IncompleteCircle" Color="Color.Info" Style="cursor:pointer">@Localizer["underReview"]</MudChip>
                            break;
                        case 5:
                            <MudChip Variant="Variant.Text" Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" Style="cursor:pointer">@Localizer["rejected"]</MudChip>
                            break;
                        case 6:
                            <MudChip Variant="Variant.Text" Icon="@Icons.Material.Filled.Circle" Color="Color.Success" Style="cursor:pointer">@Localizer["finished"]</MudChip>
                            break;
                    }

                </MudText>
            </MudTd>
            <MudTd DataLabel=@Localizer["actions"]>
                <MudText Align="Align.Center">
                    <MudMenu Dense=true MaxHeight="300" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                        <ActivatorContent>
                            <MudButton FullWidth=true StartIcon="@Icons.Material.Filled.Settings" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Style="background:white" Variant="Variant.Filled" Size="Size.Small"></MudButton>
                        </ActivatorContent>
                        <ChildContent>
                            <MudMenuItem Icon="@Icons.Material.Filled.Info" IconColor="Color.Primary" @onclick="(() => PatDetails(context.PATid))" OnTouch="(() => PatDetails(context.PATid))">@Localizer["PATDetails"]</MudMenuItem>
                            @if (user.UserType == 1 || user.UserType == 2 || user.UserType == 3)
                            {
                                <MudMenuItem Icon="@Icons.Material.Filled.Delete" IconColor="Color.Error" @onclick="(() => OpenDeleteDialog(context.PATid))" OnTouch="(() => OpenDeleteDialog(context.PATid))">@Localizer["delete"] PAT</MudMenuItem>
                            }
                        </ChildContent>
                    </MudMenu>
                    @* <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.Info" Size="Size.Small" Color="Color.Primary" @onclick="(() => PatDetails(context.PATid))"></MudIconButton>
                <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" Color="Color.Error" @onclick="(() => OpenDeleteDialog(context.PATid))"></MudIconButton>*@
                </MudText>
            </MudTd>
        </RowTemplate>
    </MudTable>
}

@*Delete Pat modal*@
<MudDialog @bind-IsVisible="visibleDelete" Options="dialogDeleteOptions">
    <DialogContent>
        <MudText Typo="Typo.h6">@Localizer["confirm"]</MudText>
        <MudText Class="mt-4 mb-4">
            @Localizer["areYouSueYourWantToDeleteThisPAT"]
        </MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseDeleteModal" Variant="Variant.Filled">@Localizer["cancel"]</MudButton>
        <MudButton @onclick="(() => DeletePat(deletePatId))" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" Variant="Variant.Filled">@Localizer["delete"]</MudButton>
    </DialogActions>
</MudDialog>


@code {
    private List<PAT> _Pats { get; set; } = new();

    private List<BreadcrumbItem> _links;
    [Inject]
    private IBreadcrumbService BreadcrumbService { get; set; }

    //User
    private string json = string.Empty;
    public User user = new();
    public bool logged = false;

    private string searchString1 = "";

    // Initialization
    protected async override Task OnInitializedAsync()
    {
        _links = new List<BreadcrumbItem>
        {
            new BreadcrumbItem(text: Localizer["home"], href: "/"),
            new BreadcrumbItem("PAT", href: "", disabled: true),
        };
        BreadcrumbService.UpdateBreadcrumbs(_links);
        logged = await HasPropertyAsync();
        if (!logged)
        {
            Snackbar.Clear();
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
            Snackbar.Add(Localizer["errorYouHaveToLogIn"], Severity.Warning);
            NavigationManager.NavigateTo($"/");
        }
        else
        {
            await GetUserAsync();

            if (user != null)
            {
                if (user.UserType == 1 || user.UserType == 6)
                {
                    _Pats = await PATsServices.GetAllPATs();
                }
                else if (user.UserType == 2)
                {
                    _Pats = await PATsServices.GetAllPATSforSSV(user.UserId);
                }
                else
                {
                    _Pats = await PATsServices.GetAllPATSforSV(user.UserId);
                }
            }
        }
        StateHasChanged();
    }


    //Local storage user
    private async Task GetUserAsync()
    {
        if (!await TryGetAsync())
        {
            user = new();
        }
    }

    private async Task<bool> TryGetAsync()
    {
        bool hasProperty = await HasPropertyAsync();
        if (hasProperty)
        {
            json = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "user");
            user = JsonSerializer.Deserialize<User>(json) ?? new();

        }
        return hasProperty;
    }

    private async Task<bool> HasPropertyAsync()
        => await JSRuntime.InvokeAsync<bool>("localStorage.hasOwnProperty", "user");

    // Create pat
    void CreatePat()
    {
        NavigationManager.NavigateTo($"PAT/createPat");
    }

    // Delete pat
    async Task DeletePat(int patId)
    {
        _Pats.RemoveAll(pat => pat.PATid == patId);
        bool res = await PATsServices.DeletePat(patId);

        if(res){
            visibleDelete = false;
        }
        else
        {
            Snackbar.Clear();
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
            Snackbar.Add("Something was wrong on delate pat", Severity.Warning);
        }

    }

    // Pat details
    void PatDetails(int patId)
    {
        NavigationManager.NavigateTo($"PAT/{patId}");
    }

    //filter function
    private bool FilterFunc1(PAT element) => FilterFunc(element, searchString1);

    private bool FilterFunc(PAT element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.PATid.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.SSVresponsible.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Supervisor.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.AplicationYear.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Area.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        // if (element.Distribution.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
        //     return true;
        if ($"{element.PATid} {element.SSVresponsible.Name} {element.Supervisor.Name} {element.AplicationYear} {element.Area.Description} ".Contains(searchString))
            return true;
        return false;
    }


    //Delete Pat
    private bool visibleDelete = false;
    public int deletePatId = 0;
    private void OpenDeleteDialog(int deleteId)
    {
        deletePatId = deleteId;
        visibleDelete = true;
    }
    void CloseDeleteModal() => visibleDelete = false;
    private DialogOptions dialogDeleteOptions = new() { CloseOnEscapeKey = true, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true, Position = DialogPosition.TopCenter, DisableBackdropClick = true, CloseButton = true };

    private int selectedRowNumber = -1;
    private MudTable<PAT> SelectTableEvent;

    private void RowClickEvent(TableRowClickEventArgs<PAT> tableRowClickEventArgs)
    {
    }

    private string SelectedRowClassFunc(PAT element, int rowNumber)
    {
        if (selectedRowNumber == rowNumber)
        {
            selectedRowNumber = -1;
            if (SelectTableEvent.SelectedItem != null && SelectTableEvent.SelectedItem.Equals(element))
            {
                NavigationManager.NavigateTo($"PAT/{element.PATid}");

            }
            return string.Empty;
        }
        else if (SelectTableEvent.SelectedItem != null && SelectTableEvent.SelectedItem.Equals(element))
        {
            selectedRowNumber = rowNumber;
            return "selected";
        }
        else
        {
            return string.Empty;
        }
    }

}
