@inject IStringLocalizer<Resource> Localizer
@inject SignatureImageService _signatureImageService
<MudDialog>
    <DialogContent>
        <MudText Typo="Typo.h6">Sign</MudText>
        <MudText Class="mt-4 mb-4">
            <span style="color: #2196f3; text-align:justify">kinggaaa</span>
        </MudText>
        <SupervisorMobility.Client.Shared.SignatureCanvas.SignatureCmpt OnSignatureSaved="HandleSignatureSaved" ClearSignature="HandleClearSignature" title="@Localizer[" operatorsSignature"]" Image="@currentImage" />
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Variant="Variant.Filled">@Localizer["cancel"]</MudButton>
        <MudButton @onclick="(() => Submit())" Color="Color.Info" StartIcon="@Icons.Material.Filled.Circle" Variant="Variant.Filled" Disabled="string.IsNullOrEmpty(currentImage)">@Localizer["finish"]</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public string currentImage { get; set; } = "";

    void Submit()
    {
        MudDialog.Close(DialogResult.Ok(currentImage));
    }
    void Cancel() => MudDialog.Cancel();

    private void HandleSignatureSaved()
    {
        currentImage = _signatureImageService.GetImage();
    }

    private void HandleClearSignature()
    {
        currentImage = "";
    }
}