@page "/appearance/createAppearance"

@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Resource> Localizer
@inject IBreadcrumbService BreadcrumbService
@inject IAreaService AreaServices
@inject IUserService UsersService
@inject IProductService ProductsService
@inject IDataPanelService DataPanelServices
@inject SignatureImageService _signatureImageService

<PageTitle>Supervisor Mobility | @Localizer["configuration"]</PageTitle>

<MudGrid Justify="Justify.Center" Style="margin-bottom: 70px">
    <MudItem lg="12" md="12" sm="12" xs="12">
         @if (isHeader)
        {
            <MudItem Style="text-align:center; display: flex; justify-content: center;">
                <SupervisorMobility.Client.Pages.Components.Signature.Signature OnSignatureSaved="HandleSignatureSaved" Image="@currentImage" ClearSignature="HandleClearSignature" SignatureUser="@signatureUser" />
            </MudItem>
        }
        <MudExpansionPanels Elevation="5" MultiExpansion="true">
            <MudExpansionPanel IsInitiallyExpanded=true Style="min-width: 100%;">
                <TitleContent>
                    <MudItem style="display: flex; align-items: center; justify-content:space-between; ">
                        <MudImage ObjectFit="ObjectFit.Cover" Height="35" Src="Images/logo.png" Alt="Evidence" Elevation="25" Class="rounded-lg mr-4" />
                        <MudItem>
                            <MudText Typo="Typo.h6" Style="text-align: center;">
                                @Localizer["CHECK SHEET DE APARIENCIA CALIDAD"]
                            </MudText>
                            <MudText Typo="Typo.h6" Style="text-align: center;">
                                @Localizer["(PARTES INTERIORES)"]
                            </MudText>
                        </MudItem>
                        <MudItem Class="mr-4">
                            <p Style="text-align: end;">
                                Rev. 6
                            </p>
                            <p Style="text-align: end;">
                                Última Rev. Abril 2023
                            </p>
                            <p Style="text-align: end;">
                                Próxima Rev. Abril 2026
                            </p>
                        </MudItem>
                    </MudItem>
                </TitleContent>
                <ChildContent>
                    <MudSimpleTable Style="overflow-x: auto;" Dense=true Elevation="0">
                        <tbody>
                            <tr>
                                <td width="33%">
                                   
                                    <MudTextField @bind-Value="partName" Label="Nombre de la parte" Variant="Variant.Outlined" Margin="Margin.Dense" ></MudTextField>
                                </td>
                                <td>
                                    @if (_seniorSupervisors.Count > 0)
                                    {
                                        <MudSelect T="int" Label=@Localizer["SSV"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@ssvId" SelectedValuesChanged="ShowSupervisors" OpenIcon="@Icons.Material.Filled.SupervisorAccount" AdornmentColor="Color.Secondary">
                                            <MudSelectItem Disabled="true" Value="0">@Localizer["selectASSV"]</MudSelectItem>
                                            @foreach (var type in _seniorSupervisors)
                                            {
                                                <MudSelectItem Value="type.UserId">
                                                    @type.Name
                                                </MudSelectItem>
                                            }
                                        </MudSelect>
                                    }
                                </td>

                                <td style="text-align:center">
                                    Aprobó
                                    
                                    @if(ssvImage != "")
                                    {
                                        <MudImage Src="@ssvImage" Alt="SSV Signature" Class="rounded-lg" Height="40"/>
                                    }
                                    else{
                                        @if (isHeader == false && userType == 0 || isHeader == true && userType != 1)
                                        {
                                            <MudButton StartIcon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Info" Class="ml-4" Size="Size.Small" @onclick="(() => SignAppearance(true,1))">@Localizer["sign"]</MudButton>
                                        }
                                        else if (isHeader && userType == 1)
                                        {
                                            <MudButton StartIcon="@Icons.Material.Filled.Close" Variant="Variant.Filled" Class="ml-4" Size="Size.Small" @onclick="() => { isHeader = false; userType = 0; }">@Localizer["cancel"]</MudButton>
                                        }
                                    }
                                </td>
                                
                               
                            </tr>
                            <tr>
                                <td width="33%">
                                    <MudTextField @bind-Value="partNumber" Label="Número de parte" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                </td>
                                <td>
                                    @if(ssvId != 0)
                                    {
                                        @if (_supervisors.Count > 0)
                                        {
                                            <MudSelect T="int" Label=@Localizer["Supervisor"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@supervisorId" SelectedValuesChanged="ShowOperators" OpenIcon="@Icons.Material.Filled.SupervisorAccount" AdornmentColor="Color.Secondary">
                                                <MudSelectItem Disabled="true" Value="0">@Localizer["selectASupervisor"]</MudSelectItem>
                                                @foreach (var type in _supervisors)
                                                {
                                                    <MudSelectItem Value="type.UserId">
                                                        @type.Name
                                                    </MudSelectItem>
                                                }
                                            </MudSelect>
                                        }
                                        else
                                        {
                                            <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                                                @Localizer["ThisSSVDoesNotHaveSubordinates"]
                                            </MudAlert>
                                        }
                                        
                                    }
                                    else
                                    {
                                        <MudSelect T="int" Label=@Localizer["SSV"] Disabled Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@supervisorId" OpenIcon="@Icons.Material.Filled.SupervisorAccount" AdornmentColor="Color.Secondary">
                                            <MudSelectItem Disabled="true" Value="0">@Localizer["firstSelectASSV"]</MudSelectItem>
                                        </MudSelect>
                                    }
                                </td>
                                <td style="text-align:center">
                                    Revisó
                                    @if(svImage != "")
                                    {
                                        <MudImage Src="@svImage" Alt="SSV Signature" Class="rounded-lg" Height="40" />
                                    }
                                    else{

                                        @if(isHeader == false && userType == 0 || isHeader == true && userType != 2){
                                            <MudButton StartIcon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Info" Class="ml-4" Size="Size.Small" @onclick="(() => SignAppearance(true,2))">@Localizer["sign"]</MudButton>
                                        }
                                        else if(isHeader && userType == 2)
                                        {
                                            <MudButton StartIcon="@Icons.Material.Filled.Close" Variant="Variant.Filled" Class="ml-4" Size="Size.Small" @onclick="() => { isHeader = false; userType = 0; }">@Localizer["cancel"]</MudButton>
                                        }
                                    }

                                </td>
                            </tr>
                            <tr>
                                <td width="33%">
                                    <MudSelect T="int" Label=@Localizer["product"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="productId">
                                        <MudSelectItem Disabled="true" Value="0">@Localizer["selectAProduct"]</MudSelectItem>
                                        @foreach (var type in _products)
                                        {
                                            <MudSelectItem Value="type.ProductId">@($"{type.Code}")</MudSelectItem>
                                        }
                                    </MudSelect>
                                </td>
                                <td>
                                    @if(supervisorId != 0)
                                    {
                                        
                                        @if (operatorUsers.Count > 0)
                                        {
                                            @*Mud select for Operator *@
                                            <MudSelect T="int" Label=@Localizer["operator"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@operatorId" OpenIcon="@Icons.Material.Filled.Person" AdornmentColor="Color.Dark">
                                                <MudSelectItem Disabled="true" Value="0">@Localizer["selectAnOperator"]</MudSelectItem>
                                                @foreach (var type in operatorUsers)
                                                {
                                                    <MudSelectItem Value="type.UserId">@($"{type.Name}")</MudSelectItem>
                                                }
                                            </MudSelect>

                                        }
                                        else{
                                            <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                                                @Localizer["ThisSVDoesNotHaveSubordinates"]
                                            </MudAlert>
                                        }
                                    }
                                    else
                                    {
                                        <MudSelect T="int" Label=@Localizer["Operator"] Disabled Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@operatorId" OpenIcon="@Icons.Material.Filled.SupervisorAccount" AdornmentColor="Color.Secondary">
                                            <MudSelectItem Disabled="true" Value="0">@Localizer["firstSelectASupervisor"]</MudSelectItem>
                                        </MudSelect>
                                    }
                                </td>
                                <td style="text-align:center">
                                    Elaboró
                                    @if(operatorImage != "")
                                    {
                                        <MudImage Src="@operatorImage" Alt="SSV Signature" Class="rounded-lg" Height="40" />
                                    }
                                    else{

                                        @if(isHeader == false && userType == 0 || isHeader == true && userType != 3){
                                            <MudButton StartIcon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Info" Class="ml-4" Size="Size.Small" @onclick="(() => SignAppearance(true,3))">@Localizer["sign"]</MudButton>
                                        }
                                        else if(isHeader && userType == 3)
                                        {
                                            <MudButton StartIcon="@Icons.Material.Filled.Close" Variant="Variant.Filled" Class="ml-4" Size="Size.Small" @onclick="() => { isHeader = false; userType = 0; }">@Localizer["cancel"]</MudButton>
                                        }

                                    }
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <p>CROQUIS</p>
                                    <MudItem style="height:40vh; text-align:center; display: flex; align-items: center; justify-content: center;">
                                        <MudImage ObjectFit="ObjectFit.Cover" Height="200" Src="Images/door.png" Alt="Evidence" Class="rounded-lg mr-4" />
                                    </MudItem>
                                </td>
                            </tr>
                           
                        </tbody>
                    </MudSimpleTable>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel IsInitiallyExpanded=true Style="min-width: 100%;">
                <TitleContent>
                    <MudText Typo="Typo.h6" Style="text-align: center;">
                        @Localizer["I. Basic Panel Data"]
                    </MudText>
                </TitleContent>
                <ChildContent>
                    <MudSimpleTable Style="overflow-x: auto;" Elevation="0" Hover Dense>
                        <thead>
                            <tr>
                                <th rowspan="5" style="vertical-align: bottom;">Item</th>
                                <th rowspan="5" style="vertical-align: bottom;">Datos</th>
                                <th>Programado</th>
                                @for(int i = 0; i<9; i++)
                                {
                                    
                                    <td>
                                        <MudInput @bind-Value="programmed" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput>
                                    </td>
                                }
                            </tr>
                            <tr>
                                <th>Inspector</th>
                                @for (int i = 0; i < 9; i++)
                                {
                                    <td>
                                        <MudInput @bind-Value="inspector" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;" ></MudInput>
                                    </td>
                                }
                                
                            </tr>
                            <tr>
                                <th>Hora</th>
                                @for (int i = 0; i < 9; i++)
                                {
                                    <td>
                                        <MudInput @bind-Value="hour" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput>
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td>Fecha</td>
                                @for (int i = 0; i < 9; i++)
                                {
                                    <td>
                                        <MudInput @bind-Value="date" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput>
                                    </td>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in _dataPanelsCategories)
                            {
                                <tr>
                                    <td style="text-align: center">@item.DataPanelId</td>
                                    <td style="text-align: center" colspan="2">
                                        @item.DataTitle
                                    </td>
                                    @if (item.DataPanelId == 1)
                                    {
                                        @for (int i = 0; i < 9; i++)
                                        {
                                            <td>
                                                <MudInput @bind-Value="specificationValues[i].MaterialSpecification" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput>
                                            </td>
                                        }
                                    }
                                    else if (item.DataPanelId == 2)
                                    {
                                        @for (int i = 0; i < 9; i++)
                                        {
                                            <td>
                                                <MudInput @bind-Value="specificationValues[i].PartThickness" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput>
                                            </td>
                                        }
                                    }
                                    else if (item.DataPanelId == 3)
                                    {
                                        @for (int i = 0; i < 9; i++)
                                        {
                                            <td>
                                                <MudInput @bind-Value="specificationValues[i].BoreholesQuantity" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput>
                                            </td>
                                        }
                                    }
                                    else if (item.DataPanelId == 4)
                                    {
                                        @for (int i = 0; i < 9; i++)
                                        {
                                            <td>
                                                <MudInput @bind-Value="specificationValues[i].Laminate" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput>
                                            </td>
                                        }
                                    }
                                    else if (item.DataPanelId == 5)
                                    {
                                        @for (int i = 0; i < 9; i++)
                                        {
                                            <td>
                                                <MudInput @bind-Value="specificationValues[i].PartNumberReleased" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput>
                                            </td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </MudSimpleTable>

                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel IsInitiallyExpanded=true Style="min-width: 100%;">
                <TitleContent>
                    <MudText Typo="Typo.h6" Style="text-align: center;">
                        @Localizer["II. Problems. Criteria"]
                    </MudText>
                </TitleContent>
                <ChildContent>
                    <MudSimpleTable Style="overflow-x: auto;" Elevation="0" Hover Dense>
                        <thead>
                            <tr>
                                <th style="text-align: center">Item</th>
                                <th style="text-align: center">Descripción del defecto</th>
                                <th colspan="9"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center">1.1</td>
                                <td style="text-align: center">Fractura</td>
                                @for (int i = 0; i < 9; i++)
                                {
                                    <td><MudInput @bind-Value="fracture" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput></td>
                                }
                            </tr>
                            <tr>
                                <td style="text-align: center">1.2</td>
                                <td style="text-align: center">Mal formado de radio</td>
                                @for (int i = 0; i < 9; i++)
                                {
                                    <td><MudInput @bind-Value="radiusMalformation" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput></td>
                                }
                            </tr>
                            <tr>
                                <td style="text-align: center">1.3</td>
                                <td style="text-align: center">Golpes</td>
                                @for (int i = 0; i < 9; i++)
                                {
                                    <td><MudInput @bind-Value="strikes" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput></td>
                                }
                            </tr>
                            <tr>
                                <td style="text-align: center">1.4</td>
                                <td style="text-align: center">Adelgazamiento</td>
                                @for (int i = 0; i < 9; i++)
                                {
                                    <td><MudInput @bind-Value="thinning" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput></td>
                                }
                            </tr>
                            <tr>
                                <td style="text-align: center">1.5</td>
                                <td style="text-align: center">Falta de material</td>
                                @for (int i = 0; i < 9; i++)
                                {
                                    <td><MudInput @bind-Value="lackOfMaterial" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput></td>
                                }
                            </tr>
                            <tr>
                                <td style="text-align: center">1.6</td>
                                <td style="text-align: center">Arrastre</td>
                                @for (int i = 0; i < 9; i++)
                                {
                                    <td><MudInput @bind-Value="corrosionControl" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput></td>
                                }
                            </tr>
                            <tr>
                                <td style="text-align: center">1.7</td>
                                <td style="text-align: center">Control de corrosión 0.15 mm max. en panel de acero y 0.30 panel de aluminio</td>
                                @for (int i = 0; i < 9; i++)
                                {
                                    <td><MudInput @bind-Value="corrosionControl" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput></td>
                                }
                            </tr>
                            <tr>
                                <td style="text-align: center">1.8</td>
                                <td style="text-align: center">Empalme</td>
                                @for (int i = 0; i < 9; i++)
                                {
                                    <td><MudInput @bind-Value="fitting" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput></td>
                                }
                            </tr>
                            <tr>
                                <td style="text-align: center">1.9</td>
                                <td style="text-align: center">Arrugas</td>
                                @for (int i = 0; i < 9; i++)
                                {
                                    <td><MudInput @bind-Value="generalGrate" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput></td>
                                }
                            </tr>
                            <tr>
                                <td style="text-align: center">1.10</td>
                                <td style="text-align: center">Rebaba general 0.30 mm max.</td>
                                @for (int i = 0; i < 9; i++)
                                {
                                    <td><MudInput @bind-Value="gap" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput></td>
                                }
                            </tr>
                            <tr>
                                <td style="text-align: center">1.11</td>
                                <td style="text-align: center">Fisura</td>
                                @for (int i = 0; i < 9; i++)
                                {
                                    <td><MudInput @bind-Value="fracture" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput></td>
                                }
                            </tr>
                            <tr>
                                <td style="text-align: center">1.12</td>
                                <td style="text-align: center">Button mark</td>
                                @for (int i = 0; i < 9; i++)
                                {
                                    <td><MudInput @bind-Value="buttonMark" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput></td>
                                }
                            </tr>
                            <tr>
                                <td style="text-align: center">1.13</td>
                                <td style="text-align: center">Mercedes mark</td>
                                @for (int i = 0; i < 9; i++)
                                {
                                    <td><MudInput @bind-Value="mercedesMark" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput></td>
                                }
                            </tr>
                            <tr>
                                <td style="text-align: center">1.14</td>
                                <td style="text-align: center">Barreno burring</td>
                                @for (int i = 0; i < 9; i++)
                                {
                                    <td><MudInput @bind-Value="burringHole" Variant="Variant.Text" Margin="Margin.Dense" Style="font-size: 13px;"></MudInput></td>
                                }
                            </tr>
                            <tr>
                                <td colspan="2">Revisó supervisor</td>
                                @for (int i = 0; i < 9; i++)
                                {
                                    <td>
                                        <MudIcon Icon="@Icons.Material.Filled.AssignmentLate" Color="Color.Warning" Size="Size.Small">
                                            @Localizer["unsigned"]
                                        </MudIcon>
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </MudSimpleTable>


                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel IsInitiallyExpanded="true" Style="min-width: 100%;">
                <TitleContent>
                    <MudText Typo="Typo.h6" Style="text-align: center;">
                        @Localizer["Observations"]
                    </MudText>
                </TitleContent>
                <ChildContent>
                    <MudSimpleTable Style="overflow-x: auto;" Dense="true" Elevation="0">
                        <tbody>
                            @foreach (var item in items)
                            {
                                <tr>
                                    <td width="90%">
                                        <MudTextField @bind-Value="@item.Commentary" Label="Observations" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="2"></MudTextField>
                                    </td>
                                    @if (items.IndexOf(item) > 0)
                                    {
                                        <td width="10%">
                                            <MudButton Variant="Variant.Text" Color="Color.Error" OnClick="() => RemoveItem(item)" StartIcon="@Icons.Material.Filled.Delete">Remove</MudButton>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </MudSimpleTable>
                    <MudButton OnClick="AddItem" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Style="float: right" Class="my-4">Add Observation</MudButton>
                </ChildContent>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudItem>
</MudGrid>