 <td class="tacktime-cell" style="position: relative; overflow: visible;">

    @*    if (isHalfStartCell)
                                {
                                    //Case 0: ExcessMachineTime
                                    if (ExcessMachineTime > 0)
                                    {
                                        if (ExcessMachineTime >= _CellSize)
                                        {
                                            ExcessMachineTime = RoundToThreeDecimals(ExcessMachineTime - _CellSize);


                                                <div style="position: absolute; top: 15px; left: 0; width: 100%; height: 2px; border-top: 2px dashed black;"></div>

                                        }
                                        else if (ExcessMachineTime > _HalfCellSize && ExcessMachineTime <= _CellSize)
                                        {
                                            ExcessMachineTime = 0;


                                                <div style="position: absolute; top: 15px; left: 0; width: 50%; height: 2px; border-top: 2px dashed black;"></div>

                                        }
                                        else if (ExcessMachineTime <= _HalfCellSize)
                                        {
                                            ExcessMachineTime = RoundToThreeDecimals(ExcessMachineTime - _HalfCellSize);


                                                <div style="position: absolute; top: 15px; left: 0; width: 50%; height: 2px; border-top: 2px dashed black;"></div>

                                        }
                                    }
                                    // Case 1: Step Previous
                                    else if (StepPrevious > 0 && cumulativeTime >= cellStart && cumulativeTime < cellEnd)
                                    {
                                        StepPrevious = RoundToThreeDecimals(StepPrevious - _HalfCellSize);
                                        cumulativeTime = RoundToThreeDecimals(cumulativeTime + _HalfCellSize);
                                        isHalfStartCell = false;


                                            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
                                            {
                                                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                                                <div class="tacktime-line" style="left:@relativePosition%;"></div>
                                            }



                                        if (StepPrevious <= 0)
                                        {
                                            if (manualOperationTime > 0 && manualWithMachineTime <= 0)
                                            {
                                                top = 20;
                                            }
                                            else if (manualOperationTime > 0 && manualWithMachineTime > 0)
                                            {
                                                top = 40;
                                            }
                                        }
                                    }
                                    // Case 2: ManualOperationTime
                                    else if (manualOperationTime > 0 && cumulativeTime >= cellStart && cumulativeTime < cellEnd)
                                    {
                                        manualOperationTime = RoundToThreeDecimals(manualOperationTime - _HalfCellSize);
                                        cumulativeTime = RoundToThreeDecimals(cumulativeTime + _HalfCellSize);
                                        isHalfStartCell = false;



                                            <div style="position: absolute; top: 15px; width: 50%; height: 2px; background: black;"></div>
                                            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
                                            {
                                                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                                                <div class="tacktime-line" style="left:@relativePosition%;"></div>
                                            }

                                    }
                                    // Case 3: ManualOperationTimeWithMachineInAutomatic and AutomaticMachineOperationTime
                                    else if (manualWithMachineTime > 0 && automaticMachineTime > 0 && cumulativeTime >= cellStart && cumulativeTime < cellEnd)
                                    {

                                        manualWithMachineTime = RoundToThreeDecimals(manualWithMachineTime - _HalfCellSize);
                                        automaticMachineTime = RoundToThreeDecimals(automaticMachineTime - _HalfCellSize);
                                        cumulativeTime = RoundToThreeDecimals(cumulativeTime + _HalfCellSize);
                                        isHalfStartCell = false;



                                            <div style="position: absolute; top: 15px; left: 50; width: 50%; height: 2px; border-top: 2px dashed black;"></div>
                                            <div style="position: absolute; top: 35px; left: 50; width: 50%; height: 2px; background: black;"></div>
                                            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
                                            {
                                                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                                                <div class="tacktime-line" style="left:@relativePosition%;"></div>
                                            }

                                    }
                                    // Case 4: Remaining AutomaticMachineOperationTime
                                    else if (automaticMachineTime > 0 && cumulativeTime >= cellStart && cumulativeTime < cellEnd)
                                    {
                                        automaticMachineTime = RoundToThreeDecimals(automaticMachineTime - _HalfCellSize);
                                        isHalfStartCell = false;


                                            <div style="position: absolute; top: 15px; left: 50; width: 50%; height: 2px; border-top: 2px dashed black;"></div>
                                            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
                                            {
                                                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                                                <div class="tacktime-line" style="left:@relativePosition%;"></div>
                                            }

                                    }
                                    //case 5: Remaining manualWithMachineTime
                                    else if (manualWithMachineTime > 0 && cumulativeTime >= cellStart && cumulativeTime < cellEnd)
                                    {
                                        manualWithMachineTime = RoundToThreeDecimals(manualWithMachineTime - _HalfCellSize);
                                        cumulativeTime = RoundToThreeDecimals(cumulativeTime + _HalfCellSize);
                                        isHalfStartCell = false;


                                            <div style="position: absolute; top: 35px; left: 50; width: 50%; height: 2px; background: black;"></div>
                                            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
                                            {
                                                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                                                <div class="tacktime-line" style="left:@relativePosition%;"></div>
                                            }


                                    }
                                    //case 6: Blanck Cell
                                    else
                                    {
                                        <td class="tacktime-cell" style="">
                                            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
                                            {
                                                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                                                <div class="tacktime-line" style="left:@relativePosition%;"></div>
                                            }

                                    }

                                    continue; // Ir a la siguiente iteración
                                }
 *@


    @* case 0: ExcessMachineTime *@
    @*  @if (IsTimeMachine)
                                {
                                    if (ExcessMachineTime >= _CellSize)
                                    {
                                        ExcessMachineTime = RoundToThreeDecimals(ExcessMachineTime - _CellSize);


                                            <div style="position: absolute; top: 15px; left: 0; width: 100%; height: 2px; border-top: 2px dashed black;"></div>

                                    }
                                    else if (ExcessMachineTime > _HalfCellSize && ExcessMachineTime <= _CellSize)
                                    {
                                        ExcessMachineTime = 0;


                                            <div style="position: absolute; top: 15px; left: 0; width: 50%; height: 2px; border-top: 2px dashed black;"></div>

                                    }
                                    else if (ExcessMachineTime <= _HalfCellSize)
                                    {
                                        ExcessMachineTime = RoundToThreeDecimals(ExcessMachineTime - _HalfCellSize);


                                            <div style="position: absolute; top: 15px; left: 0; width: 50%; height: 2px; border-top: 2px dashed black;"></div>

                                    }
                                } *@
    @* //case 1: StepPrevious *@
    @*   @if (IsTimeMachine || IsHalfTimeMachine)
                                {
                                    if (IsHalfTimeOperationManual && !IsTimeOperationAndMachine) // Media línea
                                    {

                                        if (IsHalfTimeOperationManual)
                                        {
                                            <div style="position: absolute; top: 15px; left: 50%; width: 50%; height: 2px; background: black;"></div>

                                        }
                                        //StepPrevious seguido de ManualWithMachine + Automatic
                                        else if (StepPrevious > 0 && manualOperationTime == 0 && manualWithMachineTime > 0 && automaticMachineTime > 0 && cumulativeTime >= cellStart && cumulativeTime < cellEnd)
                                        {
                                            if (StepPrevious < _HalfCellSize)
                                            {
                                                cumulativeTime = RoundToThreeDecimals(cumulativeTime + StepPrevious);
                                                StepPrevious = RoundToThreeDecimals(StepPrevious - StepPrevious);
                                            }
                                            else
                                            {
                                                StepPrevious = RoundToThreeDecimals(StepPrevious - _HalfCellSize);
                                                cumulativeTime = RoundToThreeDecimals(cumulativeTime + _HalfCellSize);
                                            }

                                            if (manualWithMachineTime < _HalfCellSize)
                                            {
                                                cumulativeTime = RoundToThreeDecimals(cumulativeTime + manualWithMachineTime);
                                                manualWithMachineTime = RoundToThreeDecimals(manualWithMachineTime - manualWithMachineTime);

                                            }
                                            else
                                            {
                                                manualWithMachineTime = RoundToThreeDecimals(manualWithMachineTime - _HalfCellSize);
                                                cumulativeTime = RoundToThreeDecimals(cumulativeTime + _HalfCellSize);
                                            }

                                            if (automaticMachineTime < _HalfCellSize)
                                            {
                                                automaticMachineTime = RoundToThreeDecimals(automaticMachineTime - automaticMachineTime);
                                            }
                                            else
                                            {
                                                automaticMachineTime = RoundToThreeDecimals(automaticMachineTime - _HalfCellSize);
                                            }


                                            // //Se completo la celda por lo que se resta el valor de 2
                                            // cumulativeTime = RoundToThreeDecimals(cumulativeTime + _CellSize);



                                                <div style="position: absolute; top: 15px; left: 50%; width: 50%; height: 2px; border-top: 2px dashed black;"></div>
                                                <div style="position: absolute; top: 35px; left: 50%; width: 50%; height: 2px; background: black;"></div>
                                                @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
                                                {
                                                    double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                                                    <div class="tacktime-line" style="left:@relativePosition%;"></div>
                                                }

                                        }
                                        // StepPrevious seguido de ManualWithMachine
                                        else if (StepPrevious > 0 && manualOperationTime == 0 && manualWithMachineTime > 0 && automaticMachineTime == 0 && cumulativeTime >= cellStart && cumulativeTime < cellEnd)
                                        {
                                            if (StepPrevious < _HalfCellSize)
                                            {
                                                cumulativeTime = RoundToThreeDecimals(cumulativeTime + StepPrevious);
                                                StepPrevious = RoundToThreeDecimals(StepPrevious - StepPrevious);
                                            }
                                            else
                                            {
                                                StepPrevious = RoundToThreeDecimals(StepPrevious - _HalfCellSize);
                                                cumulativeTime = RoundToThreeDecimals(cumulativeTime + _HalfCellSize);
                                            }

                                            if (manualWithMachineTime < _HalfCellSize)
                                            {
                                                cumulativeTime = RoundToThreeDecimals(cumulativeTime + manualWithMachineTime);
                                                manualWithMachineTime = RoundToThreeDecimals(manualWithMachineTime - manualWithMachineTime);
                                            }
                                            else
                                            {
                                                manualWithMachineTime = RoundToThreeDecimals(manualWithMachineTime - _HalfCellSize);
                                                cumulativeTime = RoundToThreeDecimals(cumulativeTime + _HalfCellSize);
                                            }



                                                <div style="position: absolute; top: 35px; left: 50%; width: 50%; height: 2px; background: black;"></div>
                                                @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
                                                {
                                                    double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                                                    <div class="tacktime-line" style="left:@relativePosition%;"></div>
                                                }

                                        }
                                        // StepPrevious seguido de AutomaticMachineOperationTime
                                        else if (StepPrevious > 0 && manualOperationTime == 0 && manualWithMachineTime == 0 && automaticMachineTime > 0 && cumulativeTime >= cellStart && cumulativeTime < cellEnd)
                                        {
                                            if (StepPrevious < _HalfCellSize)
                                            {
                                                cumulativeTime = RoundToThreeDecimals(cumulativeTime + StepPrevious);
                                                StepPrevious = RoundToThreeDecimals(StepPrevious - StepPrevious);
                                            }
                                            else
                                            {
                                                StepPrevious = RoundToThreeDecimals(StepPrevious - _HalfCellSize);
                                                cumulativeTime = RoundToThreeDecimals(cumulativeTime + _HalfCellSize);
                                            }
                                            automaticMachineTime = RoundToThreeDecimals(automaticMachineTime - _HalfCellSize);





                                                <div style="position: absolute; top: 15px; left: 50%; width: 50%; height: 2px; border-top: 2px dashed black;"></div>
                                                @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
                                                {
                                                    double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                                                    <div class="tacktime-line" style="left:@relativePosition%;"></div>
                                                }

                                        }


                                        if (StepPrevious <= 0)
                                        {
                                            if (manualOperationTime > 0 && manualWithMachineTime <= 0)
                                            {
                                                top = 20;
                                            }
                                            else if (manualOperationTime > 0 && manualWithMachineTime > 0)
                                            {
                                                top = 40;
                                            }
                                        }
                                    }
                                    else // Línea completa
                                    {
                                        StepPrevious = RoundToThreeDecimals(StepPrevious - _CellSize);
                                        cumulativeTime = RoundToThreeDecimals(cumulativeTime + _CellSize);

                                        if (top >= -5)
                                        {
                                            <td class="tacktime-cell" style="position: relative; overflow: hidden;">

                                                @if (isLastValidOperation)
                                                {
                                                    StepCurrentFragment = 0;
                                                }

                                                @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
                                                {
                                                    double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                                                    <div class="tacktime-line" style="left:@relativePosition%;"></div>
                                                }

                                        }
                                        else
                                        {
                                            <td class="tacktime-cell" style="position: relative; overflow: visible; clip-path: inset(-50px 0px 0px -50px)">

                                                @if (isLastValidOperation)
                                                {
                                                    StepCurrentFragment = 0;
                                                }

                                                @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
                                                {
                                                    double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                                                    <div class="tacktime-line" style="left:@relativePosition%;"></div>
                                                }

                                        }
                                    }

                                    if (StepPrevious == 0)
                                    {
                                        if (manualOperationTime > 0 && manualWithMachineTime == 0)
                                        {
                                            top = 20;
                                        }
                                        else if (manualOperationTime > 0 && manualWithMachineTime > 0)
                                        {
                                            top = 40;
                                        }
                                    }


                                }
                                // Case 2: manualOperationTime
                                else *@ 
    @* @if (IsTimeOperationManual || IsHalfTimeOperationManual)
    {
        if (IsHalfTimeOperationManual && !IsTimeOperationManual) // Media línea
        {
            //Tiempo manual y maquina automatico
            if (IsHalfTimeMachine && (IsStep || IsHalfStep))
            {
                //manual operation time
                //automatic machine time
                //step current fragment

                <div style="position: absolute; top: 15px; left: 0; width: 50%; height: 2px; background: black;"></div>
                <div style="position: absolute; top: 15px; left: 50%; width: 50%; height: 2px; border-top: 2px dashed black;"></div>
                @if (isLastValidOperation)
                {
                    <div style="position: absolute; top: @($"-{65*(lastValidOperationIndex)}px"); rotate: 5deg; left:15px; width: 110%;">
                        <div class="last-zig-zag-line" style="min-height: @($"{65*(lastValidOperationIndex+1)-30}px"); "></div>
                    </div>
                }
                else
                {
                    var (top, angle,  left,  width) = CalculateMiddleParameters(steps);
                    <div style="position: absolute; top: @($"{top}px"); rotate: @($"{angle}deg"); left: @($"{(left)+18}px"); min-width: @($"{(width)}px"); ">
                        <div class="zig-zag-line"></div>
                    </div>

                }


            }
            // manualOperationTime seguido de current step
            else if (IsStep || IsHalfStep)
            {
                //manual operation time
                        //step current fragment

                <div style="position: absolute; top: 15px; left: 0; width: 50%; height: 2px; background: black;"></div>
                @if (isLastValidOperation)
                {
                    <div style="position: absolute; top: @($"-{65*(lastValidOperationIndex)}px"); rotate: 5deg; left:15px; width: 110%;">
                        <div class="last-zig-zag-line" style="min-height: @($"{65*(lastValidOperationIndex+1)-30}px"); "></div>
                    </div>
                }
                else
                {
                    var (top, angle, left, width) = CalculateMiddleParameters(steps);
                    <div style="position: absolute; top: @($"{top}px"); rotate: @($"{angle}deg"); left: @($"{(left)+18}px"); min-width: @($"{(width)}px"); ">
                        <div class="zig-zag-line"></div>
                    </div>
                }


            }
            // Case 1.2: manualOperationTime seguido de ManualWithMachine + Automatic
            else if (IsHalfTimeOperationAndMachine && IsHalfTimeMachine)
            {
                <div style="position: absolute; top: 15px; left: 0; width: 50%; height: 2px; background: black;"></div>
                <div style="position: absolute; top: 15px; left: 50%; width: 50%; height: 2px; border-top: 2px dashed black;"></div>
                <div style="position: absolute; top: 35px; left: 50%; width: 50%; height: 2px; background: black;"></div>
            }
            // manualOperationTime seguido de ManualWithMachine
            else if ( IsHalfTimeOperationAndMachine && !IsHalfTimeMachine )
            {
                <div style="position: absolute; top: 15px; left: 0; width: 50%; height: 2px; background: black;"></div>
                <div style="position: absolute; top: 35px; left: 50%; width: 50%; height: 2px; background: black;"></div>
      }
            // manualOperationTime seguido de AutomaticMachineOperationTime
            else if ( IsHalfTimeOperationAndMachine && IsHalfTimeMachine)
            {
                <div style="position: absolute; top: 15px; left: 0; width: 50%; height: 2px; background: black;"></div>
                <div style="position: absolute; top: 15px; left: 50%; width: 50%; height: 2px; border-top: 2px dashed black;"></div>   
            }
            // manualOperationTime
            else if ( !IsHalfTimeOperationAndMachine && !IsHalfTimeMachine)
            {
                <div style="position: absolute; top: 15px; left: 0; width: 50%; height: 2px; background: black;"></div>
            }
        }
        else // Línea completa
        {
            manualOperationTime = RoundToThreeDecimals(manualOperationTime - _CellSize);
            cumulativeTime = RoundToThreeDecimals(cumulativeTime + _CellSize);


            <div style="position: absolute; top: 15px; left: 0; width: 100%; height: 2px; background: black;"></div>
            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
            {
                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                <div class="tacktime-line" style="left:@relativePosition%;"></div>
            }

        }
    }
    // Case 3: ManualOperationTimeWithMachineInAutomatic and AutomaticMachineOperationTime
    else if (manualWithMachineTime > 0 && automaticMachineTime > 0 && cumulativeTime >= cellStart && cumulativeTime < cellEnd)
    {
        //OperadorMaquina MaquinaAutomatica y desplazamiento Linea media
        if (manualWithMachineTime <= _HalfCellSize && automaticMachineTime <= _HalfCellSize && StepCurrentFragment > 0)
        {
            manualWithMachineTime = RoundToThreeDecimals(manualWithMachineTime - _HalfCellSize);
            automaticMachineTime = RoundToThreeDecimals(automaticMachineTime - _HalfCellSize);
            StepCurrentFragment = RoundToThreeDecimals(StepCurrentFragment - _HalfCellSize);

            cumulativeTime = RoundToThreeDecimals(cumulativeTime + _CellSize);


            <div style="position: absolute; top: 15px; left: 0; width: 50%; height: 2px; border-top: 2px dashed black;"></div>
            <div style="position: absolute; top: 35px; left: 0; width: 50%; height: 2px; background: black;"></div>
            @if (isLastValidOperation)
            {
                StepCurrentFragment = 0;
                <div style="position: absolute; top: @($"-{65*(lastValidOperationIndex)}px"); rotate: 5deg; left: 15px; width: 110%;">
                    <div class="last-zig-zag-line" style="min-height: @($"{65*(lastValidOperationIndex+1)-30}px"); "></div>
                </div>
            }
            else
            {
                double sizeStep = CalculateSizeStep(steps, 35);
                double angle = CalculateRotateAngle(35, sizeStep);

                <div style="position: absolute; top: @($"{top}px"); rotate: @($"{angle}deg"); left: 10px; min-width: @($"{(sizeStep)}px"); ">
                    <div class="zig-zag-line"></div>
                </div>
                renderStep = false;
            }

            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
            {
                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                <div class="tacktime-line" style="left:@relativePosition%;"></div>
            }

        }
        else if (manualWithMachineTime <= _HalfCellSize && automaticMachineTime <= _HalfCellSize && manualWithMachineTime > 0 && automaticMachineTime > 0)
        {
            manualWithMachineTime = RoundToThreeDecimals(manualWithMachineTime - _HalfCellSize);
            automaticMachineTime = RoundToThreeDecimals(automaticMachineTime - _HalfCellSize);
            cumulativeTime = RoundToThreeDecimals(cumulativeTime + _HalfCellSize);


            <div style="position: absolute; top: 15px; left: 0; width: 50%; height: 2px; border-top: 2px dashed black;"></div>
            <div style="position: absolute; top: 35px; left: 0; width: 50%; height: 2px; background: black;"></div>
            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
            {
                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                <div class="tacktime-line" style="left:@relativePosition%;"></div>
            }

        }
        else if (manualWithMachineTime > _HalfCellSize && automaticMachineTime <= _HalfCellSize && automaticMachineTime > 0)
        {
            manualWithMachineTime = RoundToThreeDecimals(manualWithMachineTime - _CellSize);
            automaticMachineTime = RoundToThreeDecimals(automaticMachineTime - _HalfCellSize);
            cumulativeTime = RoundToThreeDecimals(cumulativeTime + _CellSize);


            <div style="position: absolute; top: 15px; left: 0; width: 50%; height: 2px; border-top: 2px dashed black;"></div>
            <div style="position: absolute; top: 35px; left: 0; width: 100%; height: 2px; background: black;"></div>
            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
            {
                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                <div class="tacktime-line" style="left:@relativePosition%;"></div>
            }

        }
        else if (manualWithMachineTime <= _HalfCellSize && automaticMachineTime > _HalfCellSize && StepCurrentFragment > 0 && manualWithMachineTime > 0)
        {
            manualWithMachineTime = RoundToThreeDecimals(manualWithMachineTime - _HalfCellSize);
            StepCurrentFragment = RoundToThreeDecimals(StepCurrentFragment - _HalfCellSize);
            automaticMachineTime = RoundToThreeDecimals(automaticMachineTime - _CellSize);
            cumulativeTime = RoundToThreeDecimals(cumulativeTime + _CellSize);


            <div style="position: absolute; top: 15px; left: 0; width: 100%; height: 2px; border-top: 2px dashed black;"></div>
            <div style="position: absolute; top: 35px; left: 0; width: 50%; height: 2px; background: black;"></div>
            @if (isLastValidOperation)
            {
                StepCurrentFragment = 0;
                <div style="position: absolute; top: @($"-{65*(lastValidOperationIndex)}px"); rotate: 5deg; left: 15px; width: 110%;">
                    <div class="last-zig-zag-line" style="min-height: @($"{65*(lastValidOperationIndex+1)-30}px"); "></div>
                </div>
            }
            else
            {
                double sizeStep = CalculateSizeStep(steps, 35);
                double angle = CalculateRotateAngle(35, sizeStep);

                <div style="position: absolute; top: @($"{top}px"); rotate: @($"{angle}deg"); left: 10px; min-width: @($"{(sizeStep)}px"); ">
                    <div class="zig-zag-line"></div>
                </div>
                renderStep = false;
            }
            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
            {
                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                <div class="tacktime-line" style="left:@relativePosition%;"></div>
            }


        }
        else if (manualWithMachineTime <= _HalfCellSize && automaticMachineTime > _HalfCellSize && manualWithMachineTime > 0)
        {
            manualWithMachineTime = RoundToThreeDecimals(manualWithMachineTime - _HalfCellSize);
            automaticMachineTime = RoundToThreeDecimals(automaticMachineTime - _CellSize);
            cumulativeTime = RoundToThreeDecimals(cumulativeTime + _HalfCellSize);


            <div style="position: absolute; top: 15px; left: 0; width: 100%; height: 2px; border-top: 2px dashed black;"></div>
            <div style="position: absolute; top: 35px; left: 0; width: 50%; height: 2px; background: black;"></div>
            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
            {
                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                <div class="tacktime-line" style="left:@relativePosition%;"></div>
            }

        }
        else if (manualWithMachineTime > _HalfCellSize && automaticMachineTime > _HalfCellSize)
        {
            manualWithMachineTime = RoundToThreeDecimals(manualWithMachineTime - _CellSize);
            automaticMachineTime = RoundToThreeDecimals(automaticMachineTime - _CellSize);
            cumulativeTime = RoundToThreeDecimals(cumulativeTime + _CellSize);



            <div style="position: absolute; top: 15px; left: 0; width: 100%; height: 2px; border-top: 2px dashed black;"></div>
            <div style="position: absolute; top: 35px; left: 0; width: 100%; height: 2px; background: black;"></div>
            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
            {
                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                <div class="tacktime-line" style="left:@relativePosition%;"></div>
            }

        }
    }
    // Case 4: Remaining AutomaticMachineOperationTime
    else if (manualOperationTime <= 0 && manualWithMachineTime <= 0 && automaticMachineTime > 0)
    {
        if (automaticMachineTime >= _CellSize && StepCurrentFragment > _HalfCellSize)
        {
            automaticMachineTime = RoundToThreeDecimals(automaticMachineTime - _CellSize);
            StepCurrentFragment = RoundToThreeDecimals(StepCurrentFragment - _CellSize);
            cumulativeTime = RoundToThreeDecimals(cumulativeTime + _CellSize);


            <div style="position: absolute; top: 15px; left: 0; width: 100%; height: 2px; border-top: 2px dashed black;"></div>

            @if (renderStep)
            {
                double sizeStep = CalculateSizeStep(steps, top);
                double angle = CalculateRotateAngle(top, sizeStep);

                <div style="position: absolute; top: @($"{top}px"); rotate: @($"{angle}deg"); left: -10px; min-width: @($"{(sizeStep)+12}px"); ">
                    <div class="zig-zag-line"></div>
                </div>
                renderStep = false;
            }

            @if (isLastValidOperation)
            {
                StepCurrentFragment = 0;
            }

            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
            {
                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                <div class="tacktime-line" style="left:@relativePosition%;"></div>
            }

        }
        else if (automaticMachineTime <= _HalfCellSize && StepCurrentFragment <= _HalfCellSize && StepCurrentFragment > 0)
        {
            automaticMachineTime = RoundToThreeDecimals(automaticMachineTime - _HalfCellSize);
            StepCurrentFragment = RoundToThreeDecimals(StepCurrentFragment - _HalfCellSize);
            cumulativeTime = RoundToThreeDecimals(cumulativeTime + _HalfCellSize);


            <div style="position: absolute; top: 15px; left: 0; width: 50%; height: 2px; border-top: 2px dashed black;"></div>

            @if (renderStep)
            {
                double sizeStep = CalculateSizeStep(steps, 35);
                double angle = CalculateRotateAngle(35, sizeStep);

                <div style="position: absolute; top: @($"{top}px"); rotate: @($"{angle}deg"); left: 10px; min-width: @($"{(sizeStep)}px"); ">
                    <div class="zig-zag-line"></div>
                </div>
                renderStep = false;
            }

            @if (isLastValidOperation)
            {
                StepCurrentFragment = 0;
            }

            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
            {
                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                <div class="tacktime-line" style="left:@relativePosition%;"></div>
            }

        }
        else if (automaticMachineTime >= _CellSize && StepCurrentFragment <= _HalfCellSize && StepCurrentFragment > 0)
        {
            automaticMachineTime = RoundToThreeDecimals(automaticMachineTime - _CellSize);
            StepCurrentFragment = RoundToThreeDecimals(StepCurrentFragment - _HalfCellSize);
            cumulativeTime = RoundToThreeDecimals(cumulativeTime + _HalfCellSize);


            <div style="position: absolute; top: 15px; left: 0; width: 100%; height: 2px; border-top: 2px dashed black;"></div>

            @if (renderStep)
            {
                double sizeStep = CalculateSizeStep(steps, top);
                double angle = CalculateRotateAngle(top, sizeStep);
                int leftv = steps <= _HalfCellSize ? -20 : -10;
                int topv = StepCurrentFragment <= _HalfCellSize ? 30 : top;

                <div style="position: absolute; top: @($"{topv}px"); rotate: @($"{angle}deg"); left: @($"{(leftv)}px"); min-width: @($"{(sizeStep)}px"); ">
                    <div class="zig-zag-line"></div>
                </div>
                renderStep = false;
            }

            @if (isLastValidOperation)
            {
                StepCurrentFragment = 0;
            }

            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
            {
                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                <div class="tacktime-line" style="left:@relativePosition%;"></div>
            }

        }
        else if (automaticMachineTime >= _CellSize && StepCurrentFragment <= 0)
        {
            automaticMachineTime = RoundToThreeDecimals(automaticMachineTime - _CellSize);


            <div style="position: absolute; top: 15px; left: 0; width: 100%; height: 2px; border-top: 2px dashed black;"></div>
            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
            {
                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                <div class="tacktime-line" style="left:@relativePosition%;"></div>
            }

        }
        else if (automaticMachineTime <= _HalfCellSize && StepCurrentFragment <= 0)
        {
            automaticMachineTime = RoundToThreeDecimals(automaticMachineTime - _CellSize);


            <div style="position: absolute; top: 15px; left: 0; width: 50%; height: 2px; border-top: 2px dashed black;"></div>
            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
            {
                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                <div class="tacktime-line" style="left:@relativePosition%;"></div>
            }

        }
    }
    //case 5: Remaining manualWithMachineTime
    else if (manualOperationTime <= 0 && manualWithMachineTime > 0 && automaticMachineTime <= 0 && cumulativeTime >= cellStart && cumulativeTime < cellEnd)
    {
        if (manualWithMachineTime >= _CellSize || manualWithMachineTime > _HalfCellSize)
        {
            manualWithMachineTime = RoundToThreeDecimals(manualWithMachineTime - _CellSize);
            cumulativeTime = RoundToThreeDecimals(cumulativeTime + _CellSize);


            <div style="position: absolute; top: 35px; left: 0; width: 100%; height: 2px; background: black;"></div>
            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
            {
                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                <div class="tacktime-line" style="left:@relativePosition%;"></div>
            }

        }
        else if (manualWithMachineTime <= _HalfCellSize && manualWithMachineTime > 0 && StepCurrentFragment > 0)
        {
            if (manualWithMachineTime < _HalfCellSize)
            {
                cumulativeTime = RoundToThreeDecimals(cumulativeTime + manualWithMachineTime);
                manualWithMachineTime = RoundToThreeDecimals(manualWithMachineTime - manualWithMachineTime);
            }
            else
            {
                manualWithMachineTime = RoundToThreeDecimals(manualWithMachineTime - _HalfCellSize);
                cumulativeTime = RoundToThreeDecimals(cumulativeTime + _HalfCellSize);
            }

            if (StepCurrentFragment < _HalfCellSize)
            {
                cumulativeTime = RoundToThreeDecimals(cumulativeTime + StepCurrentFragment);
                StepCurrentFragment = RoundToThreeDecimals(StepCurrentFragment - StepCurrentFragment);
            }
            else
            {
                StepCurrentFragment = RoundToThreeDecimals(StepCurrentFragment - _HalfCellSize);
                cumulativeTime = RoundToThreeDecimals(cumulativeTime + _HalfCellSize);
            }


            <div style="position: absolute; top: 35px; left: 0; width: 50%; height: 2px; background: black;"></div>

            @if (isLastValidOperation)
            {
                StepCurrentFragment = 0;
                <div style="position: absolute; top: @($"-{65*(lastValidOperationIndex)}px"); rotate: 5deg; rotate: 5deg; left: 15px; width: 110%;">
                    <div class="last-zig-zag-line" style="min-height: @($"{65*(lastValidOperationIndex+1)-30}px"); "></div>
                </div>
            }
            else
            {
                @if (renderStep)
                {

                    double sizeStep = CalculateSizeStep(steps, 35);
                    double angle = CalculateRotateAngle(35, sizeStep);

                    <div style="position: absolute; top: @($"{top}px"); rotate: @($"{angle}deg"); left: 10px; min-width: @($"{(sizeStep)}px"); ">
                        <div class="zig-zag-line"></div>
                    </div>
                    renderStep = false;
                }
            }

            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
            {
                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                <div class="tacktime-line" style="left:@relativePosition%;"></div>
            }

        }
        else if ((manualWithMachineTime <= _CellSize) && manualWithMachineTime > 0)
        {
            manualWithMachineTime = RoundToThreeDecimals(manualWithMachineTime - _HalfCellSize);
            cumulativeTime = RoundToThreeDecimals(cumulativeTime + _HalfCellSize);


            <div style="position: absolute; top: 35px; left: 0; width: 50%; height: 2px; background: black;"></div>
            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
            {
                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                <div class="tacktime-line" style="left:@relativePosition%;"></div>
            }

        }
    }
    //Case 6: Zig Zag Steps
    else if (manualOperationTime <= 0 && manualWithMachineTime <= 0 && automaticMachineTime <= 0 && StepCurrentFragment > 0 && cumulativeTime >= cellStart && cumulativeTime < cellEnd)
    {
        if (isLastValidOperation)
        {
            //ZIG ZAG HACIA ARRIBA

            <div style="position: absolute; top: @($"-{65*(lastValidOperationIndex)}px"); rotate: 5deg; left: 15px; width: 110%;">
                <div class="last-zig-zag-line" style="min-height: @($"{65*(lastValidOperationIndex+1)-30}px"); "></div>
            </div>
            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
            {
                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                <div class="tacktime-line" style="left:@relativePosition%;"></div>
            }

        }
        else
        {

            @if (renderStep)
            {
                double sizeStep = CalculateSizeStep(steps, top);
                double angle = CalculateRotateAngle(top, sizeStep);
                int leftv = StepCurrentFragment <= _HalfCellSize ? -20 : -10;
                // int topv = StepCurrentFragment <= _HalfCellSize ? 30 : top;

                <div style="position: absolute; top: @($"{top}px");; rotate: @($"{angle}deg");; left: @($"{leftv}px"); min-width: @($"{(sizeStep)+12}px"); ">
                    <div class="zig-zag-line"></div>
                </div>
                renderStep = false;
            }
            @if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
            {
                double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje
                <div class="tacktime-line" style="left:@relativePosition%;"></div>
            }


            if (StepCurrentFragment >= _CellSize)
            {
                StepCurrentFragment = RoundToThreeDecimals(StepCurrentFragment - _CellSize);
                cumulativeTime = RoundToThreeDecimals(cumulativeTime + _CellSize);

            }
            else
            {
                StepCurrentFragment = RoundToThreeDecimals(StepCurrentFragment - _HalfCellSize);
                cumulativeTime = RoundToThreeDecimals(cumulativeTime + _HalfCellSize);

            }
        }

    }
    //case 7: Tiempo tacto
    else if (_tackTimePosition != 0 && _tackTimePosition >= cellStart && _tackTimePosition < cellEnd && _sosCombination.TackTime != "")
    {
        double relativePosition = ((_tackTimePosition - cellStart) / (cellEnd - cellStart)) * 100; // Posición relativa en porcentaje

        <div class="tacktime-line" style="left:@relativePosition%;"></div>


    }

 *@

</td>



@code {

    [Parameter]
    public bool isHalfStartCell { get; set; } = false;

    [Parameter]
    public bool IsTimeOperationManual { get; set; } = false;
    [Parameter]
    public bool IsTimeOperationAndMachine { get; set; } = false;
    [Parameter]
    public bool IsTimeMachine { get; set; } = false;
    [Parameter]
    public bool IsStep { get; set; } = false;
    [Parameter]
    public bool IsHalfStep { get; set; } = false;

    [Parameter]
    public bool IsHalfTimeOperationManual { get; set; } = false;
    [Parameter]
    public bool IsHalfTimeOperationAndMachine { get; set; } = false;
    [Parameter]
    public bool IsHalfTimeMachine { get; set; } = false;
    [Parameter]
    public bool isLastValidOperation { get; set; } = false;




    [Parameter]
    public int lastValidOperationIndex { get; set; } = 1;

    [Parameter]
    public string TackTime { get; set; } = "";
    [Parameter]
    public double _tackTimePosition { get; set; } = 0;
    [Parameter]
    public double cellStart { get; set; } = 0;
    [Parameter]
    public double cellEnd { get; set; } = 0;

    [Parameter]
    public double _CellSize { get; set; } = 0;

    [Parameter]
    public double steps { get; set; } = 0.0;




    private (int top, double angle, int left, double width) CalculateMiddleParameters(double step)
    {
        // Valores exactos ordenados por step
        var stepPresets = new (double step, int top, double angle, int left, double width)[]
        {
        (0.02, 40, 55, -10, 45),
        (0.03, 40, 40, -5, 55),
        (0.04, 35, 33, -5, 60),
        (0.05, 40, 30, -5, 80),
        (0.06, 40, 25, -5, 92),
        (0.07, 35, 20, 0, 100),
        (0.08, 45, 20, -5, 120),
        (0.09, 35, 15, -5, 130),
        (0.10, 35, 15, -5, 140),
        (0.11, 40, 15, -5, 160),
        (0.12, 35, 12, 0, 170)
        };

        // Función de interpolación
        static double Interpolate(double x, double x0, double y0, double x1, double y1) =>
            y0 + (x - x0) * (y1 - y0) / (x1 - x0);

        // Manejo de bordes
        if (step <= stepPresets[0].step) return (stepPresets[0].top, stepPresets[0].angle, stepPresets[0].left, stepPresets[0].width);
        if (step >= stepPresets[^1].step) return (stepPresets[^1].top, stepPresets[^1].angle, stepPresets[^1].left, stepPresets[^1].width);

        // Encontrar el intervalo adecuado
        for (int i = 0; i < stepPresets.Length - 1; i++)
        {
            if (step >= stepPresets[i].step && step < stepPresets[i + 1].step)
            {
                double t = (step - stepPresets[i].step) / (stepPresets[i + 1].step - stepPresets[i].step);

                // Para top y left, seleccionamos el más común entre los dos puntos
                int top = stepPresets[i].top == stepPresets[i + 1].top ?
                    stepPresets[i].top :
                    (t > 0.5 ? stepPresets[i + 1].top : stepPresets[i].top);

                int left = stepPresets[i].left == stepPresets[i + 1].left ?
                    stepPresets[i].left :
                    (t > 0.5 ? stepPresets[i + 1].left : stepPresets[i].left);

                // Interpolación para angle y width
                double angle = Interpolate(step, stepPresets[i].step, stepPresets[i].angle,
                                         stepPresets[i + 1].step, stepPresets[i + 1].angle);

                double width = Interpolate(step, stepPresets[i].step, stepPresets[i].width,
                                         stepPresets[i + 1].step, stepPresets[i + 1].width);

                return (top, angle, left, width);
            }
        }

        return (stepPresets[0].top, stepPresets[0].angle, stepPresets[0].left, stepPresets[0].width);
    }



}


 