@page "/soshoe/Combination"

@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Resource> Localizer
@inject IBreadcrumbService BreadcrumbService
@inject IUserService UsersService
@inject ISOSCombinationService SOSCombinationServices
@inject IDialogService DialogService

@*Title*@
<PageTitle>Supervisor Mobility | @Localizer["SOSCombination"]</PageTitle>

@if (ShowLoading)
{
    <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudItem class="d-flex flex-column justify-center align-self-center">
                    <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                </MudItem>
                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
            </div>
        </ItemTemplate>
    </MudCarousel>
}
else if (_Analises.Count == 0)
{
    <MudContainer>

        <MudText Align="Align.Center">
            <h4>@Localizer["thereAreNoCombinationCombinationCreated"]</h4>
            <MudSpacer></MudSpacer>
            <MudButton Href="/soshoe/Combination/createCombination">
                <MudText>@Localizer["newCombinationCombination"]</MudText>
                <MudIcon Icon="@Icons.Material.Filled.Add" Color="Color.Primary"></MudIcon>
            </MudButton>
        </MudText>
    </MudContainer>
}
else
{

    <MudTable Items="_Analises" Hover="true" T="SOSCombination" SortLabel="Sort By" Height="80vh"
              RowClassFunc="@SelectedRowClassFunc" @ref="SelectTableEvent" OnRowClick="RowClickEvent"
              Filter="new Func<SOSCombination,bool>(FilterFunc)" Class="styled-table table-striped" FixedHeader=true>
        <ToolBarContent>
            <MudGrid class="d-flex flex-column justify-center align-self-center mb-10">
                <MudItem class="d-flex justify-center align-self-center ">
                    <MudText Typo="Typo.h6" Class="align-item-center center">@Localizer["jobstructure"]</MudText>
                </MudItem>
                <MudItem Class="d-flex">
                    <MudSpacer />
                    <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    <MudSpacer />
                    <MudButton Href="/soshoe/Combination/createCombination">
                        <MudText>@Localizer["newCombination"]</MudText>
                        <MudIcon Icon="@Icons.Material.Filled.Add" Color="Color.Primary"></MudIcon>
                    </MudButton>
                    <MudSpacer />
                </MudItem>
            </MudGrid>
        </ToolBarContent>
        <HeaderContent>
            @if (user.UserType == 1)
            {
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<SOSCombination, object>(x=>x?.SOSCombinationId)">Combination Id</MudTableSortLabel>
                </MudTh>
            }
            <MudTh>
                <MudTableSortLabel SortBy="new Func<SOSCombination, object>(x=>x?.InternalControlNumber)">Internal Control Number</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<SOSCombination, object>(x=>x?.OperationName)">Operation Name</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<SOSCombination, object>(x=>x?.ProcessName)">Process Name</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudText Align="Align.Center">Actions</MudText>
            </MudTh>
        </HeaderContent>
        <RowTemplate>
            @if (user.UserType == 1)
            {
                <MudTd DataLabel="CombinationId">
                    <MudText Align="Align.Center">@context.SOSCombinationId</MudText>
                </MudTd>
            }
            <MudTd DataLabel="InternalControlNumber">
                <MudText Align="Align.Center">@context.InternalControlNumber</MudText>
            </MudTd>
            <MudTd DataLabel="Operation Name">
                <MudText Align="Align.Center">@context.OperationName</MudText>
            </MudTd>
            <MudTd DataLabel="Process Name">
                <MudText Align="Align.Center">@context.ProcessName</MudText>
            </MudTd>
            <MudTd>
                <MudText Align="Align.Center">
                    <MudMenu Dense=true MaxHeight="300" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                        <ActivatorContent>
                            <MudButton FullWidth=true StartIcon="@Icons.Material.Filled.Settings" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Style="background:white" Variant="Variant.Filled" Size="Size.Small"></MudButton>
                        </ActivatorContent>
                        <ChildContent>
                            <MudMenuItem Icon="@Icons.Material.Filled.Info" IconColor="Color.Primary" @onclick="(() => CombinationDetails(context.SOSCombinationId))" OnTouch="(() => CombinationDetails(context.SOSCombinationId))">Details</MudMenuItem>
                            <MudMenuItem Icon="@Icons.Material.Filled.Edit" IconColor="Color.Info" @onclick="(() => UpdateCombination(context.SOSCombinationId))" OnTouch="(() => UpdateCombination(context.SOSCombinationId))">Edit </MudMenuItem>
                            <MudMenuItem Icon="@Icons.Material.Filled.Delete" IconColor="Color.Error" @onclick="(() => DeleteCombination(context.SOSCombinationId))" OnTouch="(() => DeleteCombination(context.SOSCombinationId))">Delete </MudMenuItem>
                        </ChildContent>
                    </MudMenu>
                </MudText>
            </MudTd>
        </RowTemplate>
    </MudTable>
}

<MudMessageBox @ref="_DeleteMessage" Title="Warning" CancelText="Cancel">
    <MessageContent>
        Are you sure you want to <b>delete</b> this Combination?
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" Class="ml-4" StartIcon="@Icons.Material.Filled.DeleteForever">Delete!</MudButton>
    </YesButton>
</MudMessageBox>



@code {
    // Breadcrumb links
    private List<BreadcrumbItem> _links = new List<BreadcrumbItem>();

    // Objects
    public List<SOSCombination> _Analises { get; set; } = new();

    //User
    private string json = string.Empty;
    public User user = new();
    public bool logged = false;

    //Side Dialog
    private string SideName = string.Empty;
    private int SosCombinationId = 0;
    public bool ShowSideDialog = false;
    //Loading
    private IList<string> _sourceMsgLoading = new List<string>();
    private IList<Color> _Colors = new List<Color>() { Color.Default, Color.Primary, Color.Secondary, Color.Success, Color.Info, Color.Default, Color.Primary, Color.Secondary, Color.Success, Color.Info };
    public bool ShowLoading = true;

    // Initialization
    protected async override Task OnInitializedAsync()
    {

        _Analises = await SOSCombinationServices.GetAllSOSCombination();

        await GetUserAsync();
        logged = await HasPropertyAsync();
        if (!logged)
        {
            Snackbar.Clear();
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
            Snackbar.Add($"Error You have to log in", Severity.Error);
            NavigationManager.NavigateTo($"/");
        }

        _links = new List<BreadcrumbItem>
             {
                  new BreadcrumbItem(text: Localizer["homeSOSHOE"], href: "/soshoe"),
                 new BreadcrumbItem(text: Localizer["HOESOSCombinationTitle"], href: "/soshoe/Combination", disabled: true)
                        };
        BreadcrumbService.UpdateBreadcrumbs(_links);
        ShowLoading = false;
    }

    //Local storage user
    private async Task GetUserAsync()
    {
        if (!await TryGetAsync())
            user = new();
    }

    private async Task<bool> TryGetAsync()
    {
        bool hasProperty = await HasPropertyAsync();
        if (hasProperty)
        {
            json = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "user");
            user = JsonSerializer.Deserialize<User>(json) ?? new();
        }
        return hasProperty;
    }

    private async Task<bool> HasPropertyAsync()
        => await JSRuntime.InvokeAsync<bool>("localStorage.hasOwnProperty", "user");

    private string searchString = "";

    private bool FilterFunc(SOSCombination element)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        // if (element.CombinationId.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
        //     return true;
        // if (element.CombinationCode.Contains(searchString, StringComparison.OrdinalIgnoreCase))
        //     return true;
        // if (element.CombinationName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
        //     return true;

        return false;
    }

    private int selectedRowNumber = -1;
    private MudTable<SOSCombination> SelectTableEvent;

    private void RowClickEvent(TableRowClickEventArgs<SOSCombination> args)
    {
        if (selectedRowNumber == SelectTableEvent.Items.ToList().IndexOf(args.Item))
        {
            CombinationDetails(args.Item.SOSCombinationId);

        }
        else
        {
            SelectTableEvent.SelectedItem = args.Item;
            selectedRowNumber = SelectTableEvent.Items.ToList().IndexOf(args.Item);
        }
    }

    private string SelectedRowClassFunc(SOSCombination element, int rowNumber)
    {
        if (selectedRowNumber == rowNumber)
        {
            return "selected"; // Mantener la fila seleccionada
        }
        else if (SelectTableEvent.SelectedItem != null && SelectTableEvent.SelectedItem.Equals(element))
        {
            selectedRowNumber = rowNumber;
            return "selected";
        }
        else
        {
            return string.Empty;
        }
    }

    void CombinationDetails(int CombinationId)
    {
        NavigationManager.NavigateTo($"/soshoe/Combination/Details/{CombinationId}");
    }

    // Delete Combination

    private MudMessageBox _DeleteMessage;
    async Task DeleteCombination(int CombinationId)
    {
        bool? result = await _DeleteMessage.Show();
        var confirm = result is null ? "Canceled" : "Deleted!";
        StateHasChanged();

        if (confirm == "Deleted!")
        {
            _Analises.RemoveAll(Combination => Combination.SOSCombinationId == CombinationId);
            await SOSCombinationServices.DeleteSOSCombination(CombinationId);
        }
    }

    // Update Combination
    void UpdateCombination(int CombinationId)
    {
        NavigationManager.NavigateTo($"/soshoe/Combination/Update/{CombinationId}");
    }

}



