@page "/PathsRoute/PathDetails/{PathId:int}"


@using SupervisorMobility.Client.Data.Entities.TreeStruct;
@using SupervisorMobility.Client.Pages.Configuration.AssyChartPage
@using System.Text.RegularExpressions;
@using System.Runtime.CompilerServices;
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject IJobStructureService JobStructureCategoriesService
@inject IAssyChartService AssyChartServices
@inject ISnackbar Snackbar
@inject IBridgeCDMSService CDMSServices
@inject IProductService ProductsServices
@inject IPlantService PlantsServices
@inject IAreaService AreasServices
@inject IDistributionService DistributionsServices
@inject ITreeService TreeServices
@inject IStringLocalizer<Resource1> Localizer1
@inject IStringLocalizer<Resource> Localizer
@inject IBreadcrumbService BreadcrumbServices


<MudGrid>
    <MudItem xs="12">
        @if (ShowLoading)
        {
           
            <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
                <ItemTemplate>
                    <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                        <MudItem class="d-flex flex-column justify-center align-self-center">
                            <MudProgressCircular Color="@_Colors[context.IndexOf(context)]" Style="height:70px;width:70px;" Indeterminate="true" />
                        </MudItem>
                        @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                        <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@context</MudText>
                    </div>
                </ItemTemplate>
            </MudCarousel>
        }
        else if (SosCode != null)
        {
          
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6" Class="ml-10">@Localizer1["PathDetails"]</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudChip @onclick="()=>EditCodePath(PathId)" @ontouchstart="()=>EditCodePath(PathId)" Variant="Variant.Filled" Class="ml-auto mr-10" Icon="@Icons.Material.Filled.Edit" Color="Color.Info">@Localizer1["CPEdit"]</MudChip>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>

                    <MudCard Elevation="0">
                        <MudCardContent>
                            <MudItem Style="max-height: 70vh; min-width: 70vw; display: flex; flex-wrap: wrap; justify-content: center;" Class="gap-4">

                                <MudCard>
                                    <MudCardContent Style="justify-content:center">
                                        <MudText Align="Align.Center"><MudIcon Icon="@Icons.Filled.Business"></MudIcon></MudText>
                                        <MudText Align="Align.Center">@SosCode.AssyChart?.Plant?.Code</MudText>
                                        <MudText Typo="Typo.h5" Align="Align.Center">@SosCode.AssyChart?.Plant?.Description</MudText>
                                        @if (SosCode.AssyChart?.Plant?.IsActive == true)
                                        {
                                            <MudText Align="Align.Center" Class="pt-2">
                                                <MudChip Variant="Variant.Text" Color="Color.Success">@Localizer["active"]</MudChip>
                                            </MudText>
                                        }
                                        else
                                        {
                                            <MudText Align="Align.Center" Class="pa-4">
                                                <MudChip Variant="Variant.Text" Color="Color.Error">@Localizer["inactive"]</MudChip>
                                            </MudText>
                                        }
                                    </MudCardContent>
                                </MudCard>
                                <MudText Typo="Typo.h4" Style="text-align:center; align-self: center;">
                                    <MudIcon Icon="@Icons.Material.Filled.KeyboardDoubleArrowRight"></MudIcon>
                                </MudText>
                                <MudCard>
                                    <MudCardContent Style="justify-content:center">
                                        <MudText Align="Align.Center"><MudIcon Icon="@Icons.Material.Filled.HomeWork"></MudIcon></MudText>
                                        <MudText Align="Align.Center">@SosCode.AssyChart?.Area?.Code</MudText>
                                        <MudText Typo="Typo.h5" Align="Align.Center">@SosCode.AssyChart?.Area?.Description</MudText>
                                        @if (SosCode.AssyChart?.Area?.IsActive == true)
                                        {
                                            <MudText Align="Align.Center" Class="pt-2">
                                                <MudChip Variant="Variant.Text" Color="Color.Success">@Localizer["active"]</MudChip>
                                            </MudText>
                                        }
                                        else
                                        {
                                            <MudText Align="Align.Center" Class="pa-4">
                                                <MudChip Variant="Variant.Text" Color="Color.Error">@Localizer["inactive"]</MudChip>
                                            </MudText>
                                        }
                                    </MudCardContent>
                                </MudCard>
                                <MudText Typo="Typo.h4" Style="text-align:center; align-self: center;">
                                    <MudIcon Icon="@Icons.Material.Filled.KeyboardDoubleArrowRight"></MudIcon>
                                </MudText>
                                <MudCard>
                                    <MudCardContent Style="justify-content:center">
                                        <MudText Align="Align.Center"><MudIcon Icon="@Icons.Material.Filled.Workspaces"></MudIcon></MudText>
                                        <MudText Align="Align.Center">@SosCode.AssyChart?.Distribution?.Code</MudText>
                                        <MudText Typo="Typo.h5" Align="Align.Center">@SosCode.AssyChart?.Distribution?.Description</MudText>
                                        @if (SosCode.AssyChart?.Distribution?.IsActive == true)
                                        {
                                            <MudText Align="Align.Center" Class="pt-2">
                                                <MudChip Variant="Variant.Text" Color="Color.Success">@Localizer["active"]</MudChip>
                                            </MudText>
                                        }
                                        else
                                        {
                                            <MudText Align="Align.Center" Class="pa-4">
                                                <MudChip Variant="Variant.Text" Color="Color.Error">@Localizer["inactive"]</MudChip>
                                            </MudText>
                                        }
                                    </MudCardContent>
                                </MudCard>




                                <MudText Typo="Typo.h4" Style="text-align:center; align-self: center;">
                                    <MudIcon Icon="@Icons.Material.Filled.AutoAwesome"></MudIcon>
                                </MudText>
                                <MudCard>
                                    <MudCardContent Style="justify-content:center">
                                        <MudText Align="Align.Center"><MudIcon Icon="@Icons.Material.Filled.DirectionsCar" Color="Color.Primary"></MudIcon></MudText>
                                        <MudText Align="Align.Center">@SosCode.Product?.Code</MudText>
                                        <MudText Typo="Typo.h5" Align="Align.Center">@SosCode.Product?.Description</MudText>
                                        @if (SosCode.Product?.IsActive == true)
                                        {
                                            <MudText Align="Align.Center" Class="pt-2">
                                                <MudChip Variant="Variant.Text" Color="Color.Success">@Localizer["active"]</MudChip>

                                            </MudText>
                                        }
                                        else
                                        {
                                            <MudText Align="Align.Center" Class="pa-4">
                                                <MudChip Variant="Variant.Text" Color="Color.Error">@Localizer["inactive"]</MudChip>
                                            </MudText>
                                        }
                                    </MudCardContent>
                                </MudCard>


                            </MudItem>


                        </MudCardContent>
                    </MudCard>

                    <MudItem Class="ml-10 mr-10">
                        <MudCard Elevation="3" Class="p-4" @onclick="@(e => OpenDialogCodePath(SosCode, HOECD))">

                            <MudCardHeader>

                                <CardHeaderContent>
                                    <MudText Typo="Typo.h5">@SosCode.Code</MudText>
                                </CardHeaderContent>

                            </MudCardHeader>

                            <MudCardContent Style="max-height: 70vh; display:flex; max-width: 78vw; flex-wrap: wrap; flex-direction: column;" Class="gap-4">
                                <MudTextField Label="@Localizer1["ACLabelHOESelect"]" ReadOnly="true" Value="@Regex.Replace(SosCode.HOE, @"/(.*?)§", "/").Replace('§', ' ')" />
                                @if (SosCode.CommonDirectionHOE != "")
                                {
                                    <MudTextField Label="@Localizer1["ACLabelHOESelectCD"]" ReadOnly="true" Value="@Regex.Replace(SosCode.CommonDirectionHOE, @"/(.*?)§", "/").Replace('§', ' ')" />
                                }
                                <MudTextField Label="@Localizer1["ACLabelCCPSelect"]" ReadOnly="true" @bind-Value="@SosCode.CCP" />
                                @if (SosCode.CommonDirectionCCP != "")
                                {
                                    <MudTextField Label="@Localizer1["ACLabelCCPSelectCD"]" ReadOnly="true" @bind-Value="@SosCode.CommonDirectionCCP" />
                                }
                                <MudTextField Label="@Localizer1["ACLabelGOSSelect"]" ReadOnly="true" @bind-Value="@SosCode.GOS" />
                                @if (SosCode.CommonDirectionGOS != "")
                                {
                                    <MudTextField Label="@Localizer1["ACLabelGOSSelectCD"]" ReadOnly="true" @bind-Value="@SosCode.CommonDirectionGOS" />
                                }
                            </MudCardContent>
                        </MudCard>
                    </MudItem>


                </MudCardContent>
                <MudCardActions Class="ml-auto mr-10">
                    <MudButton Variant="Variant.Filled" @onclick="(() => CloseDetails())" Class="ml-auto mb-5">@Localizer["Close"]</MudButton>
                </MudCardActions>
            </MudCard>
        }
        else
        {
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">

                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">ERROR </MudText>
            </div>
        }

    </MudItem>
</MudGrid>


<MudDialog @bind-IsVisible="ModalCodePathDisplay" Options="dialogOptions" Style="    max-height: 95vh;    min-height: 80vh;">
    <DialogContent>
            <SupervisorMobility.Client.Pages.Components.TreeView Path_Id="SosCode.SOSCodePathId" panel="panelSelect"></SupervisorMobility.Client.Pages.Components.TreeView>
        </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseCodePathModal" Variant="Variant.Filled">@Localizer["Close"]</MudButton>
    </DialogActions>
</MudDialog>


@code {
    [Parameter]
    public int PathId { get; set; }

    //Loading Components
    bool ShowLoading = true;
    private IList<string> _sourceMsgLoading = new List<string>();
    private IList<Color> _Colors = new List<Color>() { Color.Default, Color.Primary, Color.Secondary, Color.Success, Color.Info, Color.Default, Color.Primary, Color.Secondary, Color.Success, Color.Info };

    //breadcrum
    List<BreadcrumbItem> _links;

    //Data
    private SOSCodePath? SosCode = new SOSCodePath();
    private string searchString = "";
    //Selectors Paths
    TreeItemData rootNodeCCP { get; set; } = new TreeItemData();
    TreeItemData rootNodeGOS { get; set; } = new TreeItemData();
    TreeItemData rootNodeHOE { get; set; } = new TreeItemData();
    TreeItemData SelectedNodeCCP { get; set; }
    TreeItemData SelectedNodeGOS { get; set; }
    TreeItemData SelectedNodeHOE { get; set; }

    TreeItemData nodoEncontrado { get; set; }

    CDMS_GOS_Directory GOSFolders { get; set; } = new CDMS_GOS_Directory();
    CDMS_CCP_Directory CCPFolders { get; set; } = new CDMS_CCP_Directory();
    CDMS_HOE_Directory HOEFolders { get; set; } = new CDMS_HOE_Directory();


    //Files Path
    private CDMS_CCP_Archives? CcpFilesInFolder;
    private CDMS_HOE_Archives? HoeFilesInFolder;
    private CDMS_GOS_Archives? GosFilesInFolder;

    //Error Display Rutes Select ONLY
    private bool folderCCPError = false;
    private bool folderHOEError = false;
    private bool folderGOSError = false;
    //Display Files Errors
    private bool folderErrorGOS = false;
    private bool folderErrorCCP = false;
    private bool folderErrorHOE = false;
    private string HOErute = "";
    private string CCPrute = "";
    private string GOSrute = "";
    //CommonDirection
    private bool folderErrorGOSCD = false;
    private bool folderErrorCCPCD = false;
    private bool folderErrorHOECD = false;
    private string HOEruteCD = "";
    private string CCPruteCD = "";
    private string GOSruteCD = "";
    //CommonDirection Files
    private CDMS_CCP_Archives? CcpFilesInFolderCD;
    private CDMS_HOE_Archives? HoeFilesInFolderCD;
    private CDMS_GOS_Archives? GosFilesInFolderCD;


    MudMessageBox HOEmbox { get; set; }
    MudMessageBox CCPmbox { get; set; }
    MudMessageBox GOSmbox { get; set; }

    public bool ModalCodePathDisplay { get; set; } = false;

    private DialogOptions dialogOptions = new() { CloseOnEscapeKey = true, MaxWidth = MaxWidth.ExtraExtraLarge, FullWidth = true, Position = DialogPosition.TopCenter, DisableBackdropClick = true, CloseButton = true };


    protected async override Task OnInitializedAsync()
    {

        _sourceMsgLoading.Add($"{Localizer1["Loading1"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading2"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading3"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading4"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading5"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading6"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading7"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading8"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading9"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading10"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading11"]}");
        _links = new List<BreadcrumbItem>
            {
                new BreadcrumbItem(text: Localizer["home"], href: "/"),
                new BreadcrumbItem(text: Localizer["configuration"], href: "/configuration"),
                new BreadcrumbItem(text: Localizer["PathsRoute"], href: "/PathsRoute"),
                new BreadcrumbItem(text: Localizer["PathsRouteDetails"], href: "/PathsRoute", disabled: true),
            };
        BreadcrumbServices.UpdateBreadcrumbs(_links);

        try
        {
            SosCode = await AssyChartServices.GetCodePath(PathId);

            try
            {
                GOSFolders = await CDMSServices.GetFoldersGOS();
            }
            catch (Exception ex)
            {
                Console.WriteLine("Error Get GOS Folder From CDMS");
                Console.WriteLine(ex.Message);
            }

            if (GOSFolders != null)
            {
                folderGOSError = false;
                rootNodeGOS = TreeServices.Make_Tree_GOS(GOSFolders.operation);
            }
            else
            {
                folderGOSError = true;
            }

            try
            {
                CCPFolders = await CDMSServices.GetFoldersCCP();
            }
            catch (Exception ex)
            {
                Console.WriteLine("Error Get CCP Folder From CCP");
                Console.WriteLine(ex.Message);
                Console.WriteLine(ex.Message);
            }

            if (CCPFolders != null)
            {
                folderCCPError = false;
                rootNodeCCP = TreeServices.Make_Tree_CCP(CCPFolders.operation);
            }
            else
            {
                folderCCPError = true;
            }

            try
            {
                HOEFolders = await CDMSServices.GetFoldersHOE();
            }
            catch (Exception ex)
            {
                Console.WriteLine("Error Get HOE Folder From CDMS");
                Console.WriteLine(ex.Message);
            }
            if (HOEFolders != null)
            {
                folderHOEError = false;
                rootNodeHOE = TreeServices.Make_Tree_HOE(HOEFolders.operation);


            }
            else
            {
                folderHOEError = true;
            }

        }
        catch (Exception ex)
        {

        }
        finally
        {
            ShowLoading = false;
        }

    }//Initialized


    public void CloseDetails()
    {
        NavigationManager.NavigateTo("/PathsRoute");
    }

    void EditCodePath(int Code_PathId)
    {
        NavigationManager.NavigateTo($"/PathsRoute/PathUpdate/{Code_PathId}");
    }//edit

    // private async void OpenDialogCodePath()
    // {
    //     ModalCodePathDisplay = true;
    // }//open dialog

    private async void CloseCodePathModal()
    {
        ModalCodePathDisplay = false;


        StateHasChanged();

    }




    private CDMS_CCP_Archives? AuxCcpFilesInFolder;
    private CDMS_HOE_Archives? AuxHoeFilesInFolder;
    private CDMS_GOS_Archives? AuxGosFilesInFolder;
    private CDMS_CCP_Archives? AuxCcpFilesInFolderCD;
    private CDMS_HOE_Archives? AuxHoeFilesInFolderCD;
    private CDMS_GOS_Archives? AuxGosFilesInFolderCD;



    private int plantId = 0;
    private bool if_pick_Plant = false;
    private int areaId = 0;
    private bool if_pick_Area = false;
    private int distributionId = 0;
    private bool if_pick_Distribution = false;
    private int productId = 0;
    public int idFilter;

    MudTabs FilesViewer;
    MudTabPanel HOE;
    MudTabPanel HOECD;
    MudTabPanel CCP;
    MudTabPanel CCPCD;
    MudTabPanel GOS;
    MudTabPanel GOSCD;

    public bool CodePathModalDisplay { get; set; } = false;
    private string searchCodeString = "";

    SOSCodePath CodePathDialogDisplay { get; set; }

    private List<SOSCodePath> listFilter = new();
    bool FilterOperation = false;

    private async void CloseModalFiles()
    {
        CodePathModalDisplay = false;

        StateHasChanged();

    }

    int SOSCodePathId { get; set; } = 0;
    string SosPanelOpen { get; set; } = "";

    private async Task<AsyncVoidMethodBuilder> OpenDialogCodePath(SOSCodePath itemselected, MudTabPanel panelSelect)
    {
        ShowLoading = true;
        SOSCodePathId = itemselected.SOSCodePathId;

        if (panelSelect == HOE)
        {
            SosPanelOpen = "HOE";
        }
        else if (panelSelect == CCP)
        {
            SosPanelOpen = "CCP";
        }
        else if (panelSelect == GOS)
        {
            SosPanelOpen = "GOS";
        }
        else if (panelSelect == HOECD)
        {
            SosPanelOpen = "HOE_CD";
        }
        else if (panelSelect == CCPCD)
        {
            SosPanelOpen = "CCP_CD";
        }
        else if (panelSelect == GOSCD)
        {
            SosPanelOpen = "GOS_CD";
        }

        CodePathModalDisplay = true;
        StateHasChanged();


        return new AsyncVoidMethodBuilder();
    }
    private async Task<AsyncVoidMethodBuilder> CCPFolderByDirectory(string CCPrute)
    {

        try
        {
            ShowLoading = true;

            if(CCPrute != ""){
            Console.WriteLine($"CCP {CCPrute}");

            CcpFilesInFolder = new CDMS_CCP_Archives();
            CcpFilesInFolder = await CDMSServices.GetFilesCCP(CCPrute);
            if (CcpFilesInFolder == null)
                folderErrorCCP = true;
            else
            {
                AuxCcpFilesInFolder = ObjectCloner.ObjectCloner.DeepClone(CcpFilesInFolder);
                folderErrorCCP = false;

            }
            }
    
           

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error CCPFolderByDirectory: {ex.Message}");
        }
        finally
        {
            ShowLoading = false;
            StateHasChanged();
        }

        return new AsyncVoidMethodBuilder();

    }


    private async Task DownloadFileFromURL(string urlroute, string namefile)
    {
        var fileName = namefile;
        var fileURL = urlroute;
        await JS.InvokeVoidAsync("triggerFileDownload", fileName, fileURL);
    }

}
