@page "/PathsRoute"

@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject IChecklistService ChecklistService
@inject IAssyChartService AssyChartServices
@inject ISnackbar Snackbar
@inject IBridgeCDMSService CDMSServices
@inject IPlantService PlantServices
@inject IAreaService AreaServices
@inject IDistributionService DistributionSe
@inject IStringLocalizer<Resource> Localizer
@inject IStringLocalizer<Resource1> Localizer1

<MudTabs Elevation="4" Color="@Color.Info" TabPanelClass="px-10 mx-10" Rounded="true" ApplyEffectsToContainer="true" Centered="true">
    <MudTabPanel Icon="@Icons.Material.Filled.BubbleChart" Text="All Routes">
        <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
            <ItemTemplate>
                <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                    <MudItem class="d-flex flex-column justify-center align-self-center">
                        <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                    </MudItem>
                    @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                    <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
                </div>
            </ItemTemplate>
        </MudCarousel>

        <MudSimpleTable Class="styled-table table-striped" FixedHeader=true>
            <thead>
                <tr>
                    <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                    <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                    <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                    <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                    <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                </tr>
                <tr>
                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                    <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                </tr>
                <tr>
                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                    <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                </tr>
                <tr>
                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                    <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                </tr>
                <tr>
                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                    <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /> <MudSpacer />   <MudSkeleton SkeletonType="SkeletonType.Rectangle" /> <MudSpacer />  <MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                </tr>

            </tbody>
        </MudSimpleTable>
    </MudTabPanel>
    
    <MudTabPanel Text="Create Code Routes" BadgeData='"✚"' BadgeColor="Color.Primary" OnClick="@(() => @NavigationManager.NavigateTo("/PathsRoute/PathCreate"))" />

</MudTabs>


@code {


    List<BreadcrumbItem> _links;

    bool ShowLoading = true;
    private IList<string> _sourceMsgLoading = new List<string>();
    private IList<Color> _Colors = new List<Color>() { Color.Default, Color.Primary, Color.Secondary, Color.Success, Color.Info, Color.Default, Color.Primary, Color.Secondary, Color.Success, Color.Info };
    
    
    
    protected async override Task OnInitializedAsync()
    {
        _sourceMsgLoading.Add($"{Localizer1["Loading1"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading2"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading3"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading4"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading5"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading6"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading7"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading8"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading9"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading10"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading11"]}");
        _links = new List<BreadcrumbItem>
            {
                new BreadcrumbItem(text: Localizer["home"], href: "#"),
                new BreadcrumbItem(text: Localizer["configuration"], href: "/configuration"),
                new BreadcrumbItem(text: Localizer["PathsRoute"], href: "/PathsRoute", disabled: true),
            };

        try
        {



        }
        catch (Exception ex)
        {

        }
        finally
        {
            ShowLoading = false;
        }

    }
}
