@page "/PathsRoute/PathUpdate/{PathId:int}"

@using SupervisorMobility.Client.Data.Entities.TreeStruct;
@using SupervisorMobility.Client.Pages.Configuration.AssyChartPage
@using System.Text.RegularExpressions;
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject IJobStructureService JobStructureCategoriesService
@inject IAssyChartService AssyChartServices
@inject ISnackbar Snackbar
@inject IBridgeCDMSService CDMSServices
@inject IProductService ProductsServices
@inject IPlantService PlantsServices
@inject IAreaService AreasServices
@inject IDistributionService DistributionsServices
@inject ITreeService TreeServices
@inject IStringLocalizer<Resource1> Localizer1
@inject IStringLocalizer<Resource> Localizer

<EditForm Model="SosCode" OnValidSubmit="UpdatePathAsync">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">@Localizer1["PathUpdate"]</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudChip Variant="Variant.Text" Color="Color.Success">@Localizer1["PathUpdate"]</MudChip>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>


                    @if (ShowLoading)
                    {
                        <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
                            <ItemTemplate>
                                <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                                    <MudItem class="d-flex flex-column justify-center align-self-center">
                                        <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                                    </MudItem>
                                    @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                                    <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
                                </div>
                            </ItemTemplate>
                        </MudCarousel>
                    }
                    else
                    {


                        <MudTextField Label="@Localizer["Code"]" Class="mt-3"
                                      @bind-Value="SosCode.Code" />

                        <br />
                        <br />

                        <MudSpacer />

                        @*<MudSelect T="int" Label="@Localizer["UsersLabelDistribution"]" Placeholder="@Localizer["UsersPHDistribution"]" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@DistributionId" For="@(() => DistributionId)" SelectedValuesChanged="UpdateDistributionDisplay">
                    <MudSelectItem Disabled="true" Value="0">@Localizer["UsersPHDistribution"]</MudSelectItem>
                    @foreach (var type in _distributions)
                    {
                    <MudSelectItem Value="type.DistributionId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                    }
                    </MudSelect>*@


                        <MudSpacer />


                        <MudItem Style="max-height: 70vh; min-width: 70vw; overflow-y: scroll;" Class="gap-4">
                            <MudButton OnClick="@(e => OpenHOEModal())" FullWidth="false" Class="d-flex justify-center" Style="height:100%; width:100%;">
                                <MudCard Elevation="3" Outlined="true" Style="min-width: 70vw">

                                    <MudCardContent Style="min-width: 70vw; overflow-y: scroll; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-around;" Class="gap-4">
                                        <MudItem Style="max-height: 70vh; min-width: 70w; overflow-y: scroll; display: flex; flex-wrap: wrap; justify-content: center;" Class="gap-4">
                                            @if (Find_all_tree)
                                            {
                                                <MudCard>
                                                    <MudCardContent Style="justify-content:center">
                                                        <MudText Align="Align.Center"><MudIcon Icon="@Icons.Filled.Business"></MudIcon></MudText>
                                                        <MudText Align="Align.Center">@_plant.Code</MudText>
                                                        <MudText Typo="Typo.h5" Align="Align.Center">@_plant.Description</MudText>
                                                        @if (_plant.IsActive == true)
                                                        {
                                                            <MudText Align="Align.Center" Class="pt-2">
                                                                <MudChip Variant="Variant.Text" Color="Color.Success">@Localizer["active"]</MudChip>
                                                            </MudText>
                                                        }
                                                        else
                                                        {
                                                            <MudText Align="Align.Center" Class="pa-4">
                                                                <MudChip Variant="Variant.Text" Color="Color.Error">@Localizer["inactive"]</MudChip>
                                                            </MudText>
                                                        }
                                                    </MudCardContent>
                                                </MudCard>
                                                <MudText Typo="Typo.h4" Style="text-align:center; align-self: center;">
                                                    <MudIcon Icon="@Icons.Material.Filled.KeyboardDoubleArrowRight"></MudIcon>
                                                </MudText>
                                                <MudCard>
                                                    <MudCardContent Style="justify-content:center">
                                                        <MudText Align="Align.Center"><MudIcon Icon="@Icons.Material.Filled.HomeWork"></MudIcon></MudText>
                                                        <MudText Align="Align.Center">@_area.Code</MudText>
                                                        <MudText Typo="Typo.h5" Align="Align.Center">@_area.Description</MudText>
                                                        @if (_area.IsActive == true)
                                                        {
                                                            <MudText Align="Align.Center" Class="pt-2">
                                                                <MudChip Variant="Variant.Text" Color="Color.Success">@Localizer["active"]</MudChip>
                                                            </MudText>
                                                        }
                                                        else
                                                        {
                                                            <MudText Align="Align.Center" Class="pa-4">
                                                                <MudChip Variant="Variant.Text" Color="Color.Error">@Localizer["inactive"]</MudChip>
                                                            </MudText>
                                                        }
                                                    </MudCardContent>
                                                </MudCard>
                                                <MudText Typo="Typo.h4" Style="text-align:center; align-self: center;">
                                                    <MudIcon Icon="@Icons.Material.Filled.KeyboardDoubleArrowRight"></MudIcon>
                                                </MudText>
                                                <MudCard>
                                                    <MudCardContent Style="justify-content:center">
                                                        <MudText Align="Align.Center"><MudIcon Icon="@Icons.Material.Filled.Workspaces"></MudIcon></MudText>
                                                        <MudText Align="Align.Center">@_distribution.Code</MudText>
                                                        <MudText Typo="Typo.h5" Align="Align.Center">@_distribution.Description</MudText>
                                                        @if (_distribution.IsActive == true)
                                                        {
                                                            <MudText Align="Align.Center" Class="pt-2">
                                                                <MudChip Variant="Variant.Text" Color="Color.Success">@Localizer["active"]</MudChip>
                                                            </MudText>
                                                        }
                                                        else
                                                        {
                                                            <MudText Align="Align.Center" Class="pa-4">
                                                                <MudChip Variant="Variant.Text" Color="Color.Error">@Localizer["inactive"]</MudChip>
                                                            </MudText>
                                                        }
                                                    </MudCardContent>
                                                </MudCard>
                                            }


                                            @if (Find_Product)
                                            {
                                                <MudText Typo="Typo.h4" Style="text-align:center; align-self: center;">
                                                    <MudIcon Icon="@Icons.Material.Filled.AutoAwesome"></MudIcon>
                                                </MudText>
                                                <MudCard>
                                                    <MudCardContent Style="justify-content:center">
                                                        <MudText Align="Align.Center"><MudIcon Icon="@Icons.Material.Filled.DirectionsCar" Color="Color.Primary"></MudIcon></MudText>
                                                        <MudText Align="Align.Center">@_product.Code</MudText>
                                                        <MudText Typo="Typo.h5" Align="Align.Center">@_product.Description</MudText>
                                                        @if (_product.IsActive == true)
                                                        {
                                                            <MudText Align="Align.Center" Class="pt-2">
                                                                <MudChip Variant="Variant.Text" Color="Color.Success">@Localizer["active"]</MudChip>

                                                            </MudText>
                                                        }
                                                        else
                                                        {
                                                            <MudText Align="Align.Center" Class="pa-4">
                                                                <MudChip Variant="Variant.Text" Color="Color.Error">@Localizer["inactive"]</MudChip>
                                                            </MudText>
                                                        }
                                                    </MudCardContent>
                                                </MudCard>
                                            }

                                        </MudItem>



                                        <MudTextField Label="@Localizer1["ACLabelHOESelect"]" ReadOnly="true" Value="@Regex.Replace(SosCode.HOE, @"/(.*?)§", "/").Replace('§', ' ')" />

                                    </MudCardContent>
                                </MudCard>
                            </MudButton>


                        </MudItem>


                        <MudItem Style="max-height: 70vh; min-width: 70w; overflow-y: scroll;" Class="gap-4">


                            <MudCard Elevation="3" Outlined="true">

                                <MudCardHeader>
                                    <CardHeaderAvatar>
                                        @*<MudChip Color="Color.Info">@SosCode.Product?.Code</MudChip>*@
                                    </CardHeaderAvatar>
                                    <CardHeaderContent>
                                        @*<MudText Typo="Typo.body1">@SosCode.Product?.Description</MudText>*@
                                    </CardHeaderContent>
                                    <CardHeaderActions>
                                        <MudMenu EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Label="Add" Color="Color.Info" AnchorOrigin="Origin.BottomCenter">
                                            @if (!if_add_CD_HOE)
                                            {
                                                <MudMenuItem Icon="@Icons.Material.Filled.CreateNewFolder" @onclick="(() => AddRemove_CD_HOE())" OnTouch="(() => AddRemove_CD_HOE())">
                                                    Add Common Direction HOE
                                                </MudMenuItem>
                                            }
                                            @if (!if_add_CD_CCP)
                                            {
                                                <MudMenuItem Icon="@Icons.Material.Filled.CreateNewFolder" @onclick="(() => AddRemove_CD_CCP())" OnTouch="(() => AddRemove_CD_CCP())">
                                                    Add Common Direction CCP
                                                </MudMenuItem>
                                            }
                                            @if (!if_add_CD_GOS)
                                            {
                                                <MudMenuItem Icon="@Icons.Material.Filled.CreateNewFolder" @onclick="(() => AddRemove_CD_GOS())" OnTouch="(() => AddRemove_CD_GOS())">
                                                    Add Common Direction GOS
                                                </MudMenuItem>
                                            }
                                        </MudMenu>
                                    </CardHeaderActions>
                                </MudCardHeader>
                                <MudCardContent Style="min-width: 70vw; overflow-y: scroll; display: flex; flex-wrap: wrap;" Class="gap-4">

                                    @if (if_add_CD_HOE)
                                    {
                                        <MudCard Elevation="1" Class="mr-5" Style="min-width: 400px; flex: 0 0 calc(32% - 1rem);">
                                            <MudCardHeader>
                                                <CardHeaderActions>
                                                    <MudIconButton Icon="@Icons.Material.Filled.FolderDelete" Color="Color.Error" OnClick="@(() => AddRemove_CD_HOE())" OnTouch="@(() => AddRemove_CD_HOE())" />
                                                    <MudChip Icon="@Icons.Material.Filled.Folder" Color="Color.Warning">CommonDirection HOE</MudChip>
                                                    <MudIconButton Icon="@Icons.Material.Filled.FormatClear" Color="Color.Warning" OnClick="@(() => DeleteHOERouteCD())" OnTouch="@(() => DeleteHOERouteCD())" />

                                                </CardHeaderActions>
                                            </MudCardHeader>
                                            <MudCardContent>
                                                @if (Node_HOE != null)
                                                {
                                                    @if (Node_HOE.TreeItems.Count > 0)
                                                    {
                                                        <MudPaper Elevation="0">
                                                            <MudTextField Label="@Localizer1["ACLabelHOESelectCD"]" ReadOnly="true" Value="@Regex.Replace(SosCode.CommonDirectionHOE, @"/(.*?)§", "/").Replace('§', ' ')" />
                                                            <SupervisorMobility.Client.Pages.Components.PathFileExplorer IsHOE="true" IsHOECD="true" ChangeDirectory="false" HandleFinaHOECDChanged="HandleFinaHOECDChanged" InitialFileFolderSelection="HoeCD"></SupervisorMobility.Client.Pages.Components.PathFileExplorer>

                                                        </MudPaper>
                                                    }
                                                    else
                                                    {
                                                        <MudAlert Severity="Severity.Info" Style="text-align: center">@Localizer1["ACHOEDirectory"]</MudAlert>
                                                        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                                    }

                                                }
                                                else
                                                {
                                                    if (folderHOEError)
                                                    {
                                                        <MudAlert Severity="Severity.Warning" Style="text-align: center"> @Localizer1["ServerNotResponse"] </MudAlert>
                                                    }
                                                }



                                            </MudCardContent>
                                        </MudCard>

                                    }

                                    <MudCard Elevation="1" Class="mr-5" Style="min-width: 400px; flex: 0 0 calc(32% - 1rem);">
                                        <MudCardHeader>
                                            <CardHeaderActions>
                                                <MudChip Icon="@Icons.Material.Filled.Folder" Color="Color.Warning"> GOS</MudChip>
                                                <MudIconButton Icon="@Icons.Material.Filled.FormatClear" Color="Color.Warning" OnClick="@(() => DeleteGOSRoute())" />
                                            </CardHeaderActions>
                                        </MudCardHeader>
                                        <MudCardContent>
                                            @if (Node_GOS != null)
                                            {
                                                @if (Node_GOS.TreeItems.Count > 0)
                                                {
                                                    <MudPaper Elevation="0">
                                                        <MudTextField Label="@Localizer1["ACLabelGOSSelect"]" ReadOnly="true" Value="@Regex.Replace(SosCode.GOS, @"/(.*?)§", "/").Replace('§', ' ')" />
                                                        <SupervisorMobility.Client.Pages.Components.PathFileExplorer IsGOS="true" ChangeDirectory="false" HandleFinaGOSChanged="HandleFinaGOSChanged" InitialFileFolderSelection="Gos"></SupervisorMobility.Client.Pages.Components.PathFileExplorer>
                                                    </MudPaper>
                                                }
                                                else
                                                {
                                                    <MudAlert Severity="Severity.Info" Style="text-align: center">@Localizer1["ACGOSDirectory"]</MudAlert>
                                                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                                }
                                            }
                                            else
                                            {
                                                if (folderGOSError)
                                                {
                                                    <MudAlert Severity="Severity.Warning" Style="text-align: center"> @Localizer["ServerNotResponse"] </MudAlert>
                                                }
                                            }

                                            @if (if_add_CD_GOS)
                                            {
                                                <MudPaper Elevation="0">
                                                    @if (if_add_CD_GOS)
                                                    {
                                                        <MudIconButton Icon="@Icons.Material.Filled.FolderDelete" Color="Color.Error" OnClick="@(() => AddRemove_CD_GOS())" OnTouch="@(() => AddRemove_CD_GOS())" />
                                                        <MudChip Icon="@Icons.Material.Filled.Folder" Color="Color.Warning">CommonDirection GOS</MudChip>
                                                        <MudIconButton Icon="@Icons.Material.Filled.FormatClear" Color="Color.Warning" OnClick="@(() => DeleteGOSRouteCD())" OnTouch="@(() => DeleteGOSRouteCD())" />
                                                    }

                                                </MudPaper>

                                                @if (Node_GOS != null)
                                                {
                                                    @if (Node_GOS.TreeItems.Count > 0)
                                                    {
                                                        <MudPaper Elevation="0">
                                                            <MudTextField Label="@Localizer1["ACLabelGOSSelectCD"]" ReadOnly="true" Value="@Regex.Replace(SosCode.CommonDirectionGOS, @"/(.*?)§", "/").Replace('§', ' ')" />
                                                            <SupervisorMobility.Client.Pages.Components.PathFileExplorer IsGOS="true" IsGOSCD="true" ChangeDirectory="false" HandleFinaGOSCDChanged="HandleFinaGOSCDChanged" InitialFileFolderSelection="GosCD"></SupervisorMobility.Client.Pages.Components.PathFileExplorer>
                                                        </MudPaper>
                                                    }
                                                    else
                                                    {
                                                        <MudAlert Severity="Severity.Info" Style="text-align: center">@Localizer1["ACGOSDirectory"]</MudAlert>
                                                        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                                    }
                                                }
                                                else
                                                {
                                                    if (folderGOSError)
                                                    {
                                                        <MudAlert Severity="Severity.Warning" Style="text-align: center"> @Localizer["ServerNotResponse"] </MudAlert>
                                                    }
                                                }
                                            }
                                        </MudCardContent>
                                    </MudCard>
                                    <MudCard Elevation="1" Class="mr-5" Style="min-width: 400px; flex: 0 0 calc(32% - 1rem);">
                                        <MudCardHeader>
                                            <CardHeaderActions>
                                                <MudChip Icon="@Icons.Material.Filled.Folder" Color="Color.Warning">CCP</MudChip>
                                                <MudIconButton Icon="@Icons.Material.Filled.FormatClear" Color="Color.Error" OnClick="@(() => DeleteCCPRoute())" />

                                            </CardHeaderActions>
                                        </MudCardHeader>
                                        <MudCardContent>

                                            @if (Node_CCP != null)
                                            {
                                                @if (Node_CCP.TreeItems.Count > 0)
                                                {
                                                    <MudPaper Elevation="0">
                                                        <MudTextField Label="@Localizer1["ACLabelCCPSelect"]" ReadOnly="true" Value="@Regex.Replace(SosCode.CCP, @"/(.*?)§", "/").Replace('§', ' ')" />
                                                        <SupervisorMobility.Client.Pages.Components.PathFileExplorer IsCCP="true" ChangeDirectory="false" HandleFinaCCPChanged="HandleFinaCCPChanged" InitialFileFolderSelection="Ccp"></SupervisorMobility.Client.Pages.Components.PathFileExplorer>

                                                    </MudPaper>
                                                }
                                                else
                                                {
                                                    <MudAlert Severity="Severity.Info" Style="text-align: center">@Localizer1["ACCCPDirectory"]</MudAlert>
                                                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                                }
                                            }
                                            else
                                            {
                                                if (folderCCPError)
                                                {
                                                    <MudAlert Severity="Severity.Warning" Style="text-align: center"> @Localizer["ServerNotResponse"] </MudAlert>
                                                }
                                            }

                                            @if (if_add_CD_CCP)
                                            {
                                                <MudPaper Elevation="1">
                                                    @if (if_add_CD_CCP)
                                                    {
                                                        <MudIconButton Icon="@Icons.Material.Filled.FolderDelete" Color="Color.Error" OnClick="@(() => AddRemove_CD_CCP())" OnTouch="@(() => AddRemove_CD_CCP())" />
                                                        <MudChip Icon="@Icons.Material.Filled.Folder" Color="Color.Warning">CommonDirection CCP</MudChip>
                                                        <MudIconButton Icon="@Icons.Material.Filled.FormatClear" Color="Color.Warning" OnClick="@(() => DeleteCCPRouteCD())" OnTouch="@(() => DeleteCCPRouteCD())" />
                                                    }

                                                </MudPaper>

                                                @if (Node_CCP != null)
                                                {
                                                    @if (Node_CCP.TreeItems.Count > 0)
                                                    {
                                                        <MudPaper Elevation="0">

                                                            <MudTextField Label="@Localizer1["ACLabelCCPSelectCD"]" ReadOnly="true" Value="@Regex.Replace(SosCode.CommonDirectionCCP, @"/(.*?)§", "/").Replace('§', ' ')" />
                                                            <SupervisorMobility.Client.Pages.Components.PathFileExplorer IsCCP="true" IsCCPCD="true" ChangeDirectory="false" HandleFinaCCPCDChanged="HandleFinaCCPCDChanged" InitialFileFolderSelection="CcpCD"></SupervisorMobility.Client.Pages.Components.PathFileExplorer>

                                                        </MudPaper>
                                                    }
                                                    else
                                                    {
                                                        <MudAlert Severity="Severity.Info" Style="text-align: center">@Localizer1["ACCCPDirectory"]</MudAlert>
                                                        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                                    }
                                                }
                                                else
                                                {
                                                    if (folderCCPError)
                                                    {
                                                        <MudAlert Severity="Severity.Warning" Style="text-align: center"> @Localizer["ServerNotResponse"] </MudAlert>
                                                    }
                                                }
                                            }


                                        </MudCardContent>
                                    </MudCard>


                                </MudCardContent>
                            </MudCard>




                        </MudItem>
                    }

                    @*<MudSwitch Class="mt-3" Label="Is active?" @bind-Checked="_product.IsActive" Color="Color.Info" UnCheckedColor="Color.Dark" />*@
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Disabled="@(!Update)" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto">@Localizer["Save"]</MudButton>
                    <MudButton Href="/products" Variant="Variant.Filled" Class="ml-4">@Localizer["Cancel"]</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>

<MudDialog @bind-IsVisible="HOEModalDisplay" Options="dialogOptions" @onclose="@(() => CloseFunctionHoeModal())">
    <DialogContent>
        <MudItem Style="max-height: 70vh; min-width: 90vw; overflow-y: scroll; justify-content: center;" Class="gap-4">
            <MudCard Elevation="3" Outlined="true">
                @if (ShowMoreInfo)
                {
                    <MudCardContent Style="min-width: 90vw; overflow-y: scroll; display: flex; flex-wrap: wrap;" Class="gap-4">

                        <MudCard>
                            <MudCardContent Style="justify-content:center">
                                <MudText Align="Align.Center"><MudIcon Icon="@Icons.Filled.Business"></MudIcon></MudText>

                                @if (IndexPlant == -1)
                                {
                                    <MudAlert Severity="Severity.Info">
                                        @Localizer["firstSelectAPlant"]
                                    </MudAlert>
                                }
                                else
                                {
                                    <MudText Align="Align.Center">@_plant.Code</MudText>
                                }
                                <MudSelect T="int" Label=@Localizer["plant"] Variant="Variant.Text" Class="mt-3 mr-4 h5" AnchorOrigin="Origin.BottomCenter" @bind-Value="@IndexPlant" For="@(() => IndexPlant)" SelectedValuesChanged="UpdatePlant">
                                    <MudSelectItem Value="-1">@Localizer["firstSelectAPlant"]</MudSelectItem>

                                    @for (var i = 0; i < _plants.Count; i++)
                                    {
                                        var type = _plants[i];
                                        <MudSelectItem Value="i">@($"{type.Description}")</MudSelectItem>
                                    }
                                </MudSelect>

                                @if (_plant.IsActive == true && IndexPlant != -1)
                                {
                                    <MudText Align="Align.Center" Class="pt-2">
                                        <MudChip Variant="Variant.Text" Color="Color.Success">@Localizer["active"]</MudChip>
                                    </MudText>
                                }
                                else if (IndexPlant != -1)
                                {
                                    <MudText Align="Align.Center" Class="pa-4">
                                        <MudChip Variant="Variant.Text" Color="Color.Error">@Localizer["inactive"]</MudChip>
                                    </MudText>
                                }
                            </MudCardContent>
                        </MudCard>

                        <MudText Typo="Typo.h4" Style="text-align:center; align-self: center;">
                            <MudIcon Icon="@Icons.Material.Filled.KeyboardDoubleArrowRight"></MudIcon>
                        </MudText>

                        <MudCard>
                            <MudCardContent Style="justify-content:center">
                                <MudText Align="Align.Center"><MudIcon Icon="@Icons.Material.Filled.HomeWork"></MudIcon></MudText>
                                @if (IndexPlant == -1)
                                {
                                    <MudAlert Severity="Severity.Info">
                                        @Localizer["firstSelectAPlant"]
                                    </MudAlert>
                                }
                                else if (IndexArea == -1)
                                {
                                    <MudAlert Severity="Severity.Info">
                                        @Localizer["firstSelectAnArea"]
                                    </MudAlert>
                                }
                                else
                                {
                                    <MudText Align="Align.Center">@_area.Code</MudText>
                                }

                                @if (IndexPlant != -1)
                                {
                                    <MudSelect T="int" Label=@Localizer["area"] Variant="Variant.Text" Class="mt-3 mr-4 h5" AnchorOrigin="Origin.BottomCenter" @bind-Value="@IndexArea" For="@(() => IndexArea)" SelectedValuesChanged="UpdateArea">

                                        <MudSelectItem Value="-1">@Localizer["firstSelectAnArea"]</MudSelectItem>

                                        @for (var i = 0; i < _areas.ElementAt(IndexPlant).Value.Count; i++)
                                        {
                                            var type = _areas.ElementAt(IndexPlant).Value[i];
                                            <MudSelectItem Value="i">@($"{type.Description}")</MudSelectItem>
                                        }
                                    </MudSelect>
                                }

                                @if (_area.IsActive == true && IndexArea != -1)
                                {
                                    <MudText Align="Align.Center" Class="pt-2">
                                        <MudChip Variant="Variant.Text" Color="Color.Success">@Localizer["active"]</MudChip>
                                    </MudText>
                                }
                                else if (IndexArea != -1)
                                {
                                    <MudText Align="Align.Center" Class="pa-4">
                                        <MudChip Variant="Variant.Text" Color="Color.Error">@Localizer["inactive"]</MudChip>
                                    </MudText>
                                }
                            </MudCardContent>
                        </MudCard>
                        <MudText Typo="Typo.h4" Style="text-align:center; align-self: center;">
                            <MudIcon Icon="@Icons.Material.Filled.KeyboardDoubleArrowRight"></MudIcon>
                        </MudText>

                        <MudCard>
                            <MudCardContent Style="justify-content:center">
                                <MudText Align="Align.Center"><MudIcon Icon="@Icons.Material.Filled.Workspaces"></MudIcon></MudText>
                                @if (IndexPlant == -1)
                                {
                                    <MudAlert Severity="Severity.Info">
                                        @Localizer["firstSelectAPlant"]
                                    </MudAlert>
                                }
                                else if (IndexArea == -1)
                                {
                                    <MudAlert Severity="Severity.Info">
                                        @Localizer["firstSelectAnArea"]
                                    </MudAlert>
                                }
                                else if (IndexDistr == -1)
                                {
                                    <MudAlert Severity="Severity.Info">
                                        @Localizer["selectADistributionFirst"]
                                    </MudAlert>
                                }
                                else
                                {
                                    <MudText Align="Align.Center">@_distribution.Code</MudText>
                                }

                                @if (IndexPlant != -1 && IndexArea != -1)
                                {
                                    <MudSelect T="int" Label=@Localizer["distribution"] Variant="Variant.Text" Class="mt-3 mr-4 h5" AnchorOrigin="Origin.BottomCenter" @bind-Value="@IndexDistr" For="@(() => IndexDistr)" SelectedValuesChanged="UpdateDistribution">
                                        <MudSelectItem Value="-1">@Localizer["selectADistributionFirst"]</MudSelectItem>

                                        @for (var i = 0; i < _distributions.ElementAt(IndexPlant).Value.ElementAt(IndexArea).Value.Count; i++)
                                        {
                                            var type = _distributions.ElementAt(IndexPlant).Value.ElementAt(IndexArea).Value[i];


                                            <MudSelectItem Value="i">@($"{type.Description}")</MudSelectItem>
                                        }
                                    </MudSelect>
                                }

                                @if (_distribution.IsActive == true && IndexDistr != -1)
                                {
                                    <MudText Align="Align.Center" Class="pt-2">
                                        <MudChip Variant="Variant.Text" Color="Color.Success">@Localizer["active"]</MudChip>
                                    </MudText>
                                }
                                else if (IndexDistr != -1)
                                {
                                    <MudText Align="Align.Center" Class="pa-4">
                                        <MudChip Variant="Variant.Text" Color="Color.Error">@Localizer["inactive"]</MudChip>
                                    </MudText>
                                }
                            </MudCardContent>
                        </MudCard>

                        <MudCard>
                            <MudCardContent Style="justify-content:center">
                                <MudText Align="Align.Center"><MudIcon Icon="@Icons.Material.Filled.DirectionsCar"></MudIcon></MudText>
                                @if (_product != null)
                                {
                                    <MudText Align="Align.Center">@_product?.Code</MudText>
                                }
                                else
                                {
                                    <MudAlert Severity="Severity.Info">
                                        @Localizer["selectAProduct"]
                                    </MudAlert>
                                }

                                <MudSelect T="int" Label=@Localizer["product"] Variant="Variant.Text" Class="mt-3 mr-4 h5" AnchorOrigin="Origin.BottomCenter" @bind-Value="@IndexProd" For="@(() => IndexProd)" SelectedValuesChanged="UpdateProduct">
                                    <MudSelectItem Value="-1">@Localizer["selectAProduct"]</MudSelectItem>
                                    @foreach (Product prod in _products)
                                    {
                                        <MudSelectItem Value="prod.ProductId">@($"{prod.Description}")</MudSelectItem>
                                    }
                                </MudSelect>
                                @if (_product != null)
                                {
                                    <MudText Align="Align.Center" Class="pt-2">
                                        <MudChip Variant="Variant.Text" Color="Color.Success">@Localizer["active"]</MudChip>
                                    </MudText>
                                }
                                else if (IndexProd != -1)
                                {
                                    <MudText Align="Align.Center" Class="pa-4">
                                        <MudChip Variant="Variant.Text" Color="Color.Error">@Localizer["inactive"]</MudChip>
                                    </MudText>
                                }
                            </MudCardContent>
                        </MudCard>

                    </MudCardContent>
                }
                else if (ShowSearchInfo)
                {
                    <MudCardContent Style="min-width: 90vw; overflow-y: scroll; display: flex; flex-wrap: wrap;" Class="gap-4">
                        <MudProgressCircular Color="Color.Secondary" Size="Size.Large" Indeterminate="true" />
                    </MudCardContent>

                }
            </MudCard>
        </MudItem>
        <MudItem Style="max-height: 55vh; min-width: 90vw;" Class="gap-4">
            <MudCard Elevation="3" Outlined="true" Style="overflow-y: scroll;">
                <MudCardHeader>
                </MudCardHeader>
                <MudCardContent Style="max-height: 50vh; display: flex; flex-wrap: wrap;" Class="gap-4">
                    <MudCard Elevation="1" Class="mr-5" Style="min-width: 60vw; max-width:80vw">
                        <MudCardHeader>
                            <CardHeaderActions>
                                <MudChip Icon="@Icons.Material.Filled.FolderOpen" Color="Color.Info" Variant="Variant.Outlined">HOE</MudChip>
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(() => DeleteHOERoute())" />
                            </CardHeaderActions>

                        </MudCardHeader>
                        <MudCardContent>

                            @if (Node_HOE != null)
                            {
                                @if (Node_HOE.TreeItems.Count > 0)
                                {
                                    <MudPaper Elevation="0">

                                        <MudTextField Label="@Localizer1["ACLabelHOESelect"]" ReadOnly="true" Value="@Regex.Replace(SosCode.HOE, @"/(.*?)§", "/").Replace('§', ' ')" />
                                        <SupervisorMobility.Client.Pages.Components.PathFileExplorer IsHOE="true" ChangeDirectory="false" HandleFinaHOEChanged="HandleFinaHOEChanged" InitialFileFolderSelection="Hoe"></SupervisorMobility.Client.Pages.Components.PathFileExplorer>

                                    </MudPaper>
                                }
                                else
                                {
                                    <MudAlert Severity="Severity.Info" Style="text-align: center">@Localizer1["ACHOEDirectory"]</MudAlert>
                                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                }

                            }
                            else
                            {
                                if (folderHOEError)
                                {
                                    <MudAlert Severity="Severity.Warning" Style="text-align: center"> @Localizer1["ServerNotResponse"] </MudAlert>
                                }
                            }
                        </MudCardContent>
                    </MudCard>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseHOEModal" Variant="Variant.Filled">@Localizer["Save"]</MudButton>
    </DialogActions>
</MudDialog>


<MudMessageBox @ref="GOSmbox" Title="@Localizer["ACNoticeGOS"]">
    <MessageContent>
        @Localizer["ACProviderPath"] `@SosCode.GOS`  @Localizer["ACFinalProvider"] <br>
        <b><i>@Localizer["ACPleaseProvider"]</i></b>
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.CheckCircleOutline">Ok!</MudButton>
    </YesButton>
</MudMessageBox>


<MudMessageBox @ref="CCPmbox" Title="@Localizer["ACNoticeCCP"]">
    <MessageContent>
        @Localizer["ACProviderPath"] `@SosCode.CCP`  @Localizer["ACFinalProvider"] <br>
        <b><i>@Localizer["ACPleaseProvider"]</i></b>
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.CheckCircleOutline">Ok!</MudButton>
    </YesButton>
</MudMessageBox>

<MudMessageBox @ref="HOEmbox" Title="@Localizer1["ACNoticeHOE"]">
    <MessageContent>
        @Localizer1["ACProviderPath"] `@SosCode.HOE.Replace('§', ' ')`   @Localizer1["ACFinalProvider"] <br>
        <b><i>@Localizer1["ACPleaseProvider"]</i></b>
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.CheckCircleOutline">Ok!</MudButton>
    </YesButton>
</MudMessageBox>



