@page "/PAT"
@inject IPATService PATsServices
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IUserService UsersService
@inject ISnackbar Snackbar


@*Title*@
<PageTitle>Supervisor Mobility | PAT</PageTitle>
@*Breadcrumb links*@
<MudBreadcrumbs Class="mb-10" Items="_links">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
    </ItemTemplate>
</MudBreadcrumbs>

@if (_Pats == null)
{
    <text>
        Loading . . .
    </text>
}
else if (_Pats.Count == 0)
{
    <MudContainer>

        <MudText Align="Align.Center">
            <h4>There are no Pats created.</h4>
            <MudSpacer></MudSpacer>
            <MudButton @onclick="(() => CreatePat())">
                <MudText>Create PAT</MudText>
                <MudIcon Icon="@Icons.Material.Filled.Add" aria-label="Create Pat" Color="Color.Primary"></MudIcon>
            </MudButton>
        </MudText>
    </MudContainer>
}
else
{
    <MudTable SortLabel="SortBy" Class="styled-table table-striped" FixedHeader=true Height="55vh"
              Items="@_Pats" Hover Striped="true" Filter="new Func<PAT,bool>(FilterFunc1)">
        <PagerContent>
            <MudTablePager />
        </PagerContent>
        <ToolBarContent>
            <MudText Typo="Typo.h6" Align="Align.Center">PATS</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="@searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mb-2"></MudTextField>
            <MudSpacer />
            @if(user.UserType == 1 || user.UserType == 3)
            {
                <MudButton @onclick="(() => CreatePat())">
                    <MudText>Create PAT</MudText>
                    <MudIcon Icon="@Icons.Material.Filled.Add" aria-label="Create Pat" Color="Color.Primary"></MudIcon>
                </MudButton>
                
            }
        </ToolBarContent>
        <HeaderContent>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<PAT, object>(x=>x.PATid)" Enabled="true">PAT ID</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<PAT, object>(x=>x.AplicationYear)"><MudText>Year</MudText></MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<PAT, object>(x=>x.SSVresponsible?.Name)">SSV</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<PAT, object>(x=>x.Supervisor?.Name)"><MudText>Supervisor</MudText></MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<PAT, object>(x=>x.Area?.Description)"><MudText>Area</MudText></MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<PAT, object>(x=>x.Distribution?.Description)"><MudText>Distribution</MudText></MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudText Align="Align.Center">Actions</MudText>
            </MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="PAT ID">
                <MudText Align="Align.Center">@context.PATid</MudText>
            </MudTd>
            <MudTd DataLabel="Year">
                <MudText Align="Align.Center">@context.AplicationYear</MudText>
            </MudTd>
            <MudTd DataLabel="SSV">
                <MudText Align="Align.Center">@context.SSVresponsible?.Name</MudText>
            </MudTd>
            <MudTd DataLabel="Supervisor">
                <MudText Align="Align.Center">@context.Supervisor?.Name</MudText>
            </MudTd>
            <MudTd DataLabel="Area">
                <MudText Align="Align.Center">@context.Area?.Description</MudText>
            </MudTd>
            <MudTd DataLabel="Distribution">
                <MudText Align="Align.Center">@context.Distribution?.Description</MudText>
            </MudTd>
            <MudTd DataLabel="Actions">
                <MudText Align="Align.Center">
                    <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.Info" Size="Size.Small" Color="Color.Primary" @onclick="(() => PatDetails(context.PATid))"></MudIconButton>
                    <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" Color="Color.Error" @onclick="(() => OpenDeleteDialog(context.PATid))"></MudIconButton>
                </MudText>
            </MudTd>
        </RowTemplate>
    </MudTable>
}

@*Delete Pat modal*@
<MudDialog @bind-IsVisible="visibleDelete" Options="dialogDeleteOptions">
    <DialogContent>
        <MudText Typo="Typo.h6">Confirm</MudText>
        <MudText Class="mt-4 mb-4">
            Are you sure you want to delete this PAT?
        </MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseDeleteModal" Variant="Variant.Filled">Cancel</MudButton>
        <MudButton @onclick="(() => DeletePat(deletePatId))" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" Variant="Variant.Filled">Delete</MudButton>
    </DialogActions>
</MudDialog>


@code {
    private List<PAT> _Pats { get; set; } = new();

    private List<BreadcrumbItem> _links = new List<BreadcrumbItem>
        {
            new BreadcrumbItem("Home", href: "#"),
            new BreadcrumbItem("PAT", href: "", disabled: true),
        };

    //User
    private string json = string.Empty;
    public User user = new();
    public bool logged = false;

    private string searchString1 = "";

    // Initialization
    protected async override Task OnInitializedAsync()
    {

        logged = await HasPropertyAsync();
        if (!logged)
        {
            Snackbar.Clear();
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
            Snackbar.Add($"Error You have to log in", Severity.Error);
            NavigationManager.NavigateTo($"/");
        }
        else
        {
            await GetUserAsync();

            if(user != null)
            {
                if(user.UserType == 1)
                {
                    Console.WriteLine("Es admin");
                    _Pats = await PATsServices.GetAllPATs();
                }
                else if(user.UserType == 2)
                {
                    Console.WriteLine("Es SSV");

                    _Pats = await PATsServices.GetAllPATSforSSV(user.UserId);
                }
                else
                {
                    Console.WriteLine("Es SV");

                    _Pats = await PATsServices.GetAllPATSforSV(user.UserId);
                }
            }
        }

    }


        //Local storage user
        private async Task GetUserAsync()
        {
            if (!await TryGetAsync())
            {
                user = new();
            }
        }

        private async Task<bool> TryGetAsync()
        {
            bool hasProperty = await HasPropertyAsync();
            if (hasProperty)
            {
                json = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "user");
                user = JsonSerializer.Deserialize<User>(json) ?? new();

            }
            return hasProperty;
        }

        private async Task<bool> HasPropertyAsync()
            => await JSRuntime.InvokeAsync<bool>("localStorage.hasOwnProperty", "user");

    // Create pat
    void CreatePat()
    {
        NavigationManager.NavigateTo($"PAT/createPat");
    }

    // Delete pat
    async Task DeletePat(int patId)
    {
        //_PATs.RemoveAll(pat => pat.PATid == patId);
        //await PATsServices.DeletePat(patId);

        visibleDelete = false;
    }

    // Pat details
    void PatDetails(int patId)
    {
        NavigationManager.NavigateTo($"PAT/{patId}");
    }

    //filter function
    private bool FilterFunc1(PAT element) => FilterFunc(element, searchString1);

    private bool FilterFunc(PAT element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.PATid.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.SSVresponsible.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Supervisor.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.AplicationYear.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Area.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Distribution.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.PATid} {element.SSVresponsible.Name} {element.Supervisor.Name} {element.AplicationYear} {element.Area.Description} {element.Distribution.Description} ".Contains(searchString))
            return true;
        return false;
    }


    //Delete Pat
    private bool visibleDelete = false;
    public int deletePatId = 0;
    private void OpenDeleteDialog(int deleteId)
    {
        deletePatId = deleteId;
        visibleDelete = true;
    }
    void CloseDeleteModal() => visibleDelete = false;
    private DialogOptions dialogDeleteOptions = new() { CloseOnEscapeKey = true, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true, Position = DialogPosition.TopCenter };

}
