@page "/jobobservation/createnewjobobservation/{date}"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components
@using System.Globalization;
@using System.Net.Http.Json;
@using System.Text.RegularExpressions;
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Diagnostics;
@using Microsoft.Identity.Client;
@using System.Threading.Tasks;
@using MudBlazor;
@using AutoMapper;
@using SupervisorMobility.Client.Pages.Inicio.JobObservationPage.CreateJobObservation
@using SupervisorMobility.Client.Shared.SignatureCanvas

@inject IMapper _mapper;
@inject IJSRuntime JS
@inject IJSRuntime JSRuntime
@inject IGroupService GroupService
@inject IDialogService DialogService
@inject IProductService ProductService
@inject IPlantService PlantServices
@inject IAreaService AreaServices
@inject IDistributionService DistributionService
@inject IOperationService OperationService
@inject IJobObservationService JobObservationService
@inject IGlosaryService GlosaryService
@inject ILupService LupService
@inject ISnackbar Snackbar
@inject IUserService UsersService
@inject NavigationManager NavigationManager
@inject ITreeService TreeServices
@inject IAssyChartService AssychartsServices
@inject IBridgeCDMSService CDMSServices
@inject IStringLocalizer<Resource> Localizer
@inject IStringLocalizer<Resource1> Localizer1
@inject IJobStructureService JobStructureCategoriesService
@inject IChecklistAnswerService ChecklistAnswerServices
@inject IFileUploadAndDownloadService FilesServices
@inject SignatureImageService _signatureImageService
@inject IBreadcrumbService BreadcrumbService
@inject IDialogService DialogService
@inject Blazored.SessionStorage.ISessionStorageService SessionStorage
@inject Blazored.SessionStorage.ISyncSessionStorageService SyncSessionStorage
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject Blazored.LocalStorage.ISyncLocalStorageService SyncLocalStorage


<style>

    .green {
        background: var(--mud-palette-success-hover);
        border: 1px solid var(--mud-palette-success);
        border-radius: 6px;
    }

    .yellow {
        background: var(--mud-palette-warning-hover);
        border: 1px solid var(--mud-palette-warning);
        border-radius: 6px;
    }

    .red {
        background: var(--mud-palette-error-hover);
        border: 1px solid var(--mud-palette-error);
        border-radius: 6px;
    }

    .current-time {
        border: 3px solid var(--mud-palette-success);
        border-radius: 6px;
    }

    .canvas-container {
        border: 1px dashed #000;
        box-shadow: 5px 5px 5px rgb(218, 214, 213);
        border-radius: 10px;
        transition: all 0.3s ease-out;
    }

        .canvas-container:hover {
            transform: scale(1.005);
        }

</style>

@*Title*@
<PageTitle>Supervisor Mobility | @Localizer["jobObservations"]</PageTitle>
@*Breadcrumb links*@
<div style="display: flex; align-items: center; justify-content: space-between;" @onkeydown="HandleKeyDown">
    <MudItem Style="text-align: start">
        @if (_assychart != null)
        {
            <MudItem Class="d-flex flex-row align-start justify-center">

                @if (_assychart.RoutesProductsAssyChart?.Count > 0)
                {
                    <MudMenu Dense=true AnchorOrigin="Origin.BottomCenter" Style="display: flex" TransformOrigin="Origin.TopCenter">
                        <ActivatorContent>
                            <MudButton FullWidth="true" StartIcon="@Icons.Material.Filled.Info" Color="Color.Info" Variant="Variant.Filled" Size="Size.Small">Directorys</MudButton>
                        </ActivatorContent>
                        <ChildContent>
                            <MudExpansionPanels Elevation="0">
                                <MudCheckBox T="bool" @bind-Checked="@FilterOperation" Label="Filter By Operation" />

                                @if (!FilterOperation)
                                {
                                    <SOSPaths PathsList=_assychart.RoutesProductsAssyChart.ToList()/>
                                }
                                else
                                {

                                    @if (listFilter.Count > 0)
                                    {
                                        <SOSPaths PathsList=listFilter/>
                                    }
                                    else
                                    {
                                        <MudAlert Severity="Severity.Info">
                                            @Localizer1["ACNoProductsFilter"]
                                        </MudAlert>
                                    }
                                }
                            </MudExpansionPanels>
                        </ChildContent>
                    </MudMenu>
                }
                else
                {
                    <MudAlert Severity="Severity.Info">
                        @Localizer1["ACNoProducts"]
                    </MudAlert>
                }
            </MudItem>
        }
        else
        {
            @if (_jobObservation.PlantId == 0 && _assychart is null)
            {
                <MudPaper Elevation="0">

                    <MudAlert Severity="Severity.Info">
                        @Localizer["firstSelectAPlant"]
                    </MudAlert>
                </MudPaper>
            }
            else if (_jobObservation.PlantId != 0 && _jobObservation.AreaId == 0 && _assychart is null)
            {
                <MudPaper Elevation="0">
                    <MudAlert Severity="Severity.Info">
                        @Localizer["firstSelectAnArea"]
                    </MudAlert>
                </MudPaper>
            }
            else if (_jobObservation.PlantId != 0 && _jobObservation.AreaId != 0 && _jobObservation.DistributionId == 0 && _assychart is null)
            {
                <MudPaper Elevation="0">
                    <MudAlert Severity="Severity.Info">
                        @Localizer["selectADistributionFirst"]
                    </MudAlert>
                </MudPaper>
            }
            else if (_assychart != null)
            {
                <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
            }
            else if (_assychart is null)
            {
                <MudItem class="d-flex flex-column justify-center align-self-start">
                    <MudPaper Elevation="0">
                        <MudAlert Severity="Severity.Info">
                            No Job Allocation Found
                        </MudAlert>
                    </MudPaper>
                </MudItem>
            }
            else
            {
                <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
            }


        }
    </MudItem>
    <MudItem Style="text-align: end">
        <MudButton @onclick="(() => OpenDialogPastJobObservations())" OnTouch="(() => OpenDialogPastJobObservations())" Class="ml-4" Style="float:right" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" StartIcon="@Icons.Material.Filled.AccessTime">@Localizer["pastJobObservationLup"]</MudButton>
    </MudItem>
</div>

@* Job Observation Form*@
<EditForm Model="_jobObservation" OnValidSubmit="CreateNewJobObservation">
    <DataAnnotationsValidator />

    <MudGrid Justify="Justify.Center" Style="margin-bottom: 70px">
        <MudItem lg="10" md="12" sm="12" xs="12">
            <MudItem Class="d-flex justify-space-between mb-2">
                <MudItem Style="text-align: start">


                </MudItem>

            </MudItem>


            @if (ShowLoading)
            {
                <JOBones/>
            }
            else
            {

                <MudExpansionPanels Elevation="5" MultiExpansion="true">
                    @foreach (var (category, section) in _checklistCategoriesAndQuestions.Select((category, section) => (category, section)))
                    {
                        @if (category.Type != StructureType.Titular && _jobObservation.SupervisorId == 0)
                        {
                            <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">@Localizer["firstCompleteTheformAbove"]</MudAlert>
                            return;
                        }
                        string title = $"Section {section}";
                        @switch (category.Type)
                        {
                            case StructureType.Titular:
                                 <Titular 
                                    user=user _plants=_plants _jobObservation=_jobObservation _distributions=_distributions _operations=_operations _areas=_areas _supervisors=_supervisors
                                         operatorUsers=operatorUsers jobProductId=jobProductId _products=_products kpiID=kpiID _glosaryInfo=_glosaryInfo DistributionCritical=@DistributionCritical
                                         ShowAreas=ShowAreas ShowDistributions=ShowDistributions OnStartDateChanged=OnStartDateChanged OnEndDateChanged=OnEndDateChanged ShowOperations=ShowOperations ShowOperators=ShowOperators
                                         UpdateOperator=UpdateOperator DisableNeedOfSSV=DisableNeedOfSSV EnableNeedOfSSV=EnableNeedOfSSV 
                                    ChangeOption=ChangeOption JobObservationContext_OnFieldChanged=JobObservationContext_OnFieldChanged /> 
                                break;
                            case StructureType.Checklist:
                                if (category.ChecklistQuestions?.Count() > 0)
                                {
                                    <Checklist title=@title category=@category section=section
                                        currentLanguage=@currentLanguage user=user _jobObservation=_jobObservation questionAnswers=questionAnswers kpiID=@kpiID
                                        Data="@(questionsData.FirstOrDefault(q=>q.CategoryId == category.JobCategoryStructureId))" AddDisabledOptions="@((args)=>AddDisabledOptions(args.Item1, args.Item2, args.Item3))"
                                               RemoveDisabledOptions="@((args)=>RemoveDisabledOptions(args.Item1, args.Item2, args.Item3))" DisableEnableQuestion="@((args)=>DisableEnableQuestion(args.Item1, args.Item2, args.Item3))"
                                        MultiQuestionAnswers="@MultiQuestionAnswers" MultiAnswerChangeOption="@((args)=>MultiAnswerChangeOption(args.Item1, args.Item2))"
                                        AnswerChangeOption="@((args)=>AnswerChangeOption(args.Item1, args.Item2, args.Item3, args.Item4))" AddLupOpportunity="@((args)=>AddLupOpportunity(args.Item1, args.Item2, args.Item3))" UploadFiles="@((args)=>UploadFiles(args.Item1, args.Item2))"
                                        OpenCameraAnswerDialog=OpenCameraAnswerDialog RemoveImageFileAnswer="@((args)=>RemoveImageFileAnswer(args.Item1, args.Item2))" RemoveImageAnswer="@((args)=>RemoveImageAnswer(args.Item1, args.Item2))" AnswerComentaryUpdate=AnswerComentaryUpdate
                                               UpdateListEntry="@((args)=>UpdateListEntry(args.Item1, args.Item2, args.Item3))" RemoveLupOpportunity="@((args)=>RemoveLupOppportunity(args.Item1, args.Item2, args.Item3))" OnKPIChange="@((args)=>OnKPIChange(args.Item1, args.Item2))" />
                                }
                                break;
                            case StructureType.Timer:
                                <Timer @ref=Timer jobProductIds="jobProductIds" loadSpec="loadSpec"
                                       taktTime=taktTime hoeStandardTime=hoeStandardTime _glosaryInfo=_glosaryInfo currentCycle=currentCycle _products=_products DistributionId="_jobObservation.DistributionId" CycleTimes="CycleTimes" WaitingTimes="WaitingTimes" ShowSpecifications="@((args)=>ShowSpecifications(args.Item1, args.Item2))" isWaitingTimeActive="isWaitingTimeActive"
                                       StepsNumber=StepsNumber DoubleManagment=DoubleManagment Waiting=Waiting _specifications=_specifications ChangeCycle=ChangeCycle PauseTime=PauseTimer _productAndSpecification="_productAndSpecification" operationSpecProduct="operationSpecProduct" productSpecification="productSpecification" InitializeCycleTimes="@((args)=> InitializeCycleTimes(args.Item1, args.Item2))"
                                       NextOperation=NextOperation WaitingTime=WaitingTime StartOver=StartOver StoreWaiting="@((args)=>StoreWaiting(args.Item1, args.Item2))" StoreManagement="@((args)=>StoreManagement(args.Item1, args.Item2))" StoreSteps="@((args)=>StoreSteps(args.Item1, args.Item2))" />
                                break;
                            case StructureType.LUP:
                                <LUPComponent title=@title _glosaryInfo=_glosaryInfo auxErgonomicsLevel=auxErgonomicsLevel capturedImages=capturedImages SetLup=SetLup
                                              area_ListS=area_ListS area_ListQ=area_ListQ area_ListD=area_ListD area_ListC=area_ListC area_ListOther=area_ListOther _tempLup=_tempLup RemoveTempImage="@((args) => RemoveTempImage(args.Item1, args.Item2))"
                                              RemoveFromList="@((args)=>RemoveFromList(args.Item1, args.Item2))" UpdateAreaLists=UpdateAreaLists AddTempLup=AddTempLup OpenTempCameraDialog=OpenTempCameraDialog DeleteTempLup=DeleteTempLup />
                                break;
                            case StructureType.Signature:
                                <JobObsSignatures title=@title _glosaryInfo=_glosaryInfo user=user _jobObservation=_jobObservation 
                                    OpenSignComment=OpenSignComment JobObservationContext_OnFieldChanged=JobObservationContext_OnFieldChanged
                                    />
                                break;
                        }
                    }
                </MudExpansionPanels>
            }
            @if (!string.IsNullOrEmpty(_jobObservation.OperatorSignature))
            {
                <MudItem Style="text-align:center; display: flex; justify-content: center;">
                    <SignatureCmpt OnSignatureSaved="HandleSignatureSaved" ClearSignature="HandleClearSignature" Title="@Localizer["operatorsSignature"]" Image="@currentImage" />
                </MudItem>
            }

            <MudCardActions>
                <MudItem Class="ml-auto mt-4">

                    @* <MudButton ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Filled.PlayCircle" Variant="Variant.Filled" Color="Color.Info" Class="ml-4">@Localizer["createJobObservation"]</MudButton> *@
                    <MudButton StartIcon="@Icons.Material.Filled.StopCircle" Variant="Variant.Filled" Color="Color.Info" Class="ml-4" @onclick="(() => SaveProgressJobObservation())">@Localizer["saveProgress"]</MudButton>
                    @if(!_jobObservation.WillNotRequireSSVApproval)
                    {
                        <MudButton StartIcon="@Icons.Material.Filled.IncompleteCircle" Variant="Variant.Filled" Color="Color.Info" Class="ml-4" @onclick="(() => UnderReviewJobObservation())">@Localizer["underReview"]</MudButton>
                    }
                    <MudButton Variant="Variant.Filled" Class="ml-4" @onclick="(() => CancelCreateJobObservation())">@Localizer["cancel"]</MudButton>
                </MudItem>
            </MudCardActions>
        </MudItem>
    </MudGrid>
</EditForm>

@* Show loading Dialog *@
<MudDialog DisableSidePadding="false" @bind-IsVisible="ShowLoading" Options="dialogOptions">
    <DialogContent>
        <MudContainer Style="max-height: 75vh; overflow-y: scroll">
            <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
                <ItemTemplate>
                    <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                        <MudItem class="d-flex flex-column justify-center align-self-center">
                            <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                        </MudItem>
                        @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                        <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
                    </div>
                </ItemTemplate>
            </MudCarousel>

        </MudContainer>
    </DialogContent>
    <DialogActions>

    </DialogActions>
</MudDialog>