@page "/jobobservationIndex"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components
@using System.Globalization;
@using System.Net.Http.Json
@inject IJSRuntime JSRuntime
@inject IJobStructureService JobStructureCategoriesService
@inject NavigationManager NavigationManager

@*Title*@
<PageTitle>Supervisor Mobility | Job Observation Index</PageTitle>

@*Form*@
<MudGrid Justify="Justify.Center">
    <MudItem lg="10" md="12" sm="12" xs="12">
        <MudItem xs="12" sm="12" lg="12" md="12" Style="text-align: center">
            <MudText Typo="Typo.h6">Formato de Observación de Operación Cíclica
                <MudChip Variant="Variant.Text" Color="Color.Surface" Class="pl-3">Eventual</MudChip>
            </MudText>
        </MudItem>
        <MudPaper Class="d-flex align-center justify-center mud-width-full pa-4">
            <MudItem xs="5" sm="5" md="5" lg="5">
                <MudDatePicker @bind-Date="date" Label="Fecha" Color="Color.Info" AdornmentColor="Color.Info"/>
                <MudSelect Class="mt-4" @bind-Value="areaGrupo" Label="Área / Grupo" Placeholder="Please Select">
                    <MudSelectItem Value="@("Trim 1")">Trim 1</MudSelectItem>
                    <MudSelectItem Value="@("Trim 2")">Trim 2</MudSelectItem>
                </MudSelect>
            </MudItem>
            <MudItem xs="1" sm="1" md="1" lg="1"></MudItem>
            <MudItem xs="5" sm="5" md="5" lg="5">
                <MudTextField T="string" @bind-Value="observer" Label="Observador" Required="true" RequiredError="User name is required!" OnlyValidateIfDirty="true" />
                <div class="d-flex">
                    <MudItem xs="12" sm="6" Class="mr-4 mt-4">
                        <MudSelect @bind-Value="estacion" Label="Estación" Placeholder="Please Select">
                            <MudSelectItem Value="@("Estación 1")">Estación 1</MudSelectItem>
                            <MudSelectItem Value="@("Estación 2")">Estación 2</MudSelectItem>
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" sm="6" Class="mt-4">
                        <MudSelect @bind-Value="operador" Label="Operador" Placeholder="Please Select">
                            <MudSelectItem Value="@("operador 1")">operador 1</MudSelectItem>
                            <MudSelectItem Value="@("operador 2")">operador 2</MudSelectItem>
                        </MudSelect>
                    </MudItem>
                </div>
            </MudItem>
        </MudPaper>
    </MudItem>
</MudGrid>



@*Breadcrumb links*@
@*<MudBreadcrumbs Items="_items" Separator=">">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled" @onclick="(() => ShowCategory(item.Text))">
            @item.Text
        </MudButton>
    </ItemTemplate>
</MudBreadcrumbs>*@
@*Checklist categories table*@
@*
<MudTable Items="_checklistCategories" Hover="true" T="ChecklistCategory">
        <HeaderContent>
        <MudTh>
            <MudText Align="Align.Center">Category Id</MudText>
        </MudTh>
        <MudTh>
            <MudText Align="Align.Center">Description</MudText>
        </MudTh>
        <MudTh>
            <MudText Align="Align.Center">Status</MudText>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="CategoryId">
            <MudText Align="Align.Center">@context.ChecklistCategoryId</MudText>
        </MudTd>
        <MudTd DataLabel="Description">
            <MudText Align="Align.Center">@context.Description</MudText>
        </MudTd>
        <MudTd DataLabel="Status">
            @if (context.IsActive == true)
            {
                <MudText Align="Align.Center">
                    <MudChip Variant="Variant.Text" Color="Color.Success">Active</MudChip>
                </MudText>
            }
            else
            {
                <MudText Align="Align.Center">
                    <MudChip Variant="Variant.Text" Color="Color.Error">Inactive</MudChip>
                </MudText>
            }
        </MudTd>
    </RowTemplate>
</MudTable>
*@
@if (!HideCategory1)
{
    <SupervisorMobility.Client.Pages.Inicio.JobObservationPage.Categories.Category1Page.Category1></SupervisorMobility.Client.Pages.Inicio.JobObservationPage.Categories.Category1Page.Category1>
}
else if (!HideCategory2)
{
    <SupervisorMobility.Client.Pages.Inicio.JobObservationPage.Categories.Category2Page.Category2></SupervisorMobility.Client.Pages.Inicio.JobObservationPage.Categories.Category2Page.Category2>
}
else if (!HideCategory3)
{
    <SupervisorMobility.Client.Pages.Inicio.JobObservationPage.Categories.Category3Page.Category3></SupervisorMobility.Client.Pages.Inicio.JobObservationPage.Categories.Category3Page.Category3>
}
else if (!HideCategory4)
{
    <SupervisorMobility.Client.Pages.Inicio.JobObservationPage.Categories.Category4Page.Category4></SupervisorMobility.Client.Pages.Inicio.JobObservationPage.Categories.Category4Page.Category4>
}
else if (!HideCategory5)
{
    <SupervisorMobility.Client.Pages.Inicio.JobObservationPage.Categories.Category5Page.Category5></SupervisorMobility.Client.Pages.Inicio.JobObservationPage.Categories.Category5Page.Category5>
}
else if (!HideCategory6)
{
    <SupervisorMobility.Client.Pages.Inicio.JobObservationPage.Categories.Category6Page.Category6></SupervisorMobility.Client.Pages.Inicio.JobObservationPage.Categories.Category6Page.Category6>
}
