@page "/signature"
@inject IJSRuntime JS
@inject IStringLocalizer<Resource> Localizer
@inject SignatureImageService _signatureImageService

<div class="container drawing-container pa-8">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center position-relative mt-4">
            <h3>@Localizer["operatorsSignature"]</h3>
            @if (!string.IsNullOrEmpty(Image))
            {
                <MudImage ObjectFit="ObjectFit.Cover" Height="200" Width="500" Src="@Image" Elevation="25" Class="rounded-lg" />
            }
            else
            {
                <canvas class="canvas-container" id="myCanvas" width="500" height="200" @ref=canvasElement
                @onmousedown="StartDrawing" @onmouseup="EndDrawing" @onmousemove="Draw"
                @ontouchstart="StartDrawingTouch" @ontouchend="EndDrawingTouch" @ontouchmove="DrawTouch"></canvas>
            }
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            @if (signatureSaved)
            {
                <MudChip Color="Color.Success" Icon="@Icons.Material.Filled.CheckCircle">@Localizer["Signature saved"]</MudChip>
            }
            else
            {
                <MudChip Disabled="@(!hasDrawing)" OnClick="GenerateSignature" Color="Color.Info" Icon="@Icons.Material.Filled.SaveAs">Save Signature</MudChip>
            }
            <MudButton OnClick="ClearCanvas">Clear</MudButton>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback OnSignatureSaved { get; set; }

    [Parameter] public EventCallback ClearSignature { get; set; }

    [Parameter]
    public string? Image { get; set; } = null;

    private ElementReference canvasElement;
    private MudBlazor.Interop.BoundingClientRect? cnvs;

    private bool isDrawing = false;
    private double prevX;
    private double prevY;
    private bool hasDrawing = false;
    private bool signatureSaved = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initCanvas", "myCanvas");
            cnvs = await canvasElement.MudGetBoundingClientRectAsync();
        }
    }

    private async Task StartDrawing(MouseEventArgs e)
    {
        isDrawing = true;
        prevX = e.OffsetX;
        prevY = e.OffsetY;
    }

    private void EndDrawing(MouseEventArgs e)
    {
        isDrawing = false;
        hasDrawing = true; 
    }

    private async Task Draw(MouseEventArgs e)
    {
        if (isDrawing)
        {
            await JS.InvokeVoidAsync("draw", "myCanvas", e.OffsetX, e.OffsetY, isDrawing, prevX, prevY);
            prevX = e.OffsetX;
            prevY = e.OffsetY;
        }
    }

    private async Task StartDrawingTouch(TouchEventArgs e)
    {
        await JS.InvokeVoidAsync("disableScroll");
        isDrawing = true;
        Console.WriteLine($"{e.Touches[0].ClientX} : {e.TargetTouches[0].ClientX} : {e.ChangedTouches[0].ClientX}");
        Console.WriteLine($"{cnvs.X} : {cnvs.X} : {cnvs.ScrollX}");
        //prevX = e.Touches[0].ClientX - await GetOffsetLeft("myCanvas");
        //prevX = Math.Abs(e.Touches[0].ClientX - cnvs.X);
        prevX = e.Touches[0].ClientX - cnvs.X;
                                     //prevY = e.Touches[0].ClientY - await GetOffsetTop("myCanvas");
        prevY = e.Touches[0].ClientY - cnvs.Y;
        //prevY = Math.Abs(e.Touches[0].ClientY - cnvs.Y);
    }

    private void EndDrawingTouch(TouchEventArgs e)
    {
        JS.InvokeVoidAsync("enableScroll");

        isDrawing = false;
        hasDrawing = true;
    }

    private async Task DrawTouch(TouchEventArgs e)
    {
        if (isDrawing)
        {
            //var offsetX = e.Touches[0].ClientX - await GetOffsetLeft("myCanvas");
            var offsetX = Math.Abs(cnvs.X - e.Touches[0].ClientX);
            //var offsetX = e.Touches[0].ClientX; //- cnvs.X;
            //var offsetY = e.Touches[0].ClientY - await GetOffsetTop("myCanvas");
            var offsetY = Math.Abs(cnvs.Y - e.Touches[0].ClientY);
            //var offsetY = e.Touches[0].ClientY; //- cnvs.Y;

            await JS.InvokeVoidAsync("draw", "myCanvas", offsetX, offsetY, isDrawing, prevX, prevY);
            prevX = offsetX;
            prevY = offsetY;
        }
    }

    private async Task ClearCanvas()
    {
        Image = null;
        await JS.InvokeVoidAsync("clearCanvas", "myCanvas");
        hasDrawing = false;
        signatureSaved = false;
        await ClearSignature.InvokeAsync();
    }


    private async Task GenerateSignature()
    {
        if (hasDrawing)
        {
            string signatureImageBase64 = await JS.InvokeAsync<string>("generateSignature", "myCanvas");
            _signatureImageService.SetImage(signatureImageBase64);
            await OnSignatureSaved.InvokeAsync();
            signatureSaved = true;
        }
    }

    private async Task<double> GetOffsetLeft(string canvasId)
    {
        return await JS.InvokeAsync<double>("getOffsetLeft", canvasId);
    }

    private async Task<double> GetOffsetTop(string canvasId)
    {
        return await JS.InvokeAsync<double>("getOffsetTop", canvasId);
    }

    public int ViewportWidth { get; set; }
    public int ViewportHeight { get; set; }

    [JSInvokable]
    public void OnResize(int width, int height)
    {
        if (ViewportWidth == width && ViewportHeight == height)
            return;

        ViewportWidth = width;
        ViewportHeight = height;
        StateHasChanged();
    }
}


<style>
    .canvas-container {
        border: 1px dashed #000;
        box-shadow: 5px 5px 5px rgb(218, 214, 213);
        border-radius: 10px;
        transition: all 0.3s ease-out;
    }

    .canvas-container:hover {
        transform: scale(1.005);
    }

    .drawing-container {
        overflow: hidden;
    }
</style>