@page "/jobobservationschedule"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components
@using System.Globalization;
@using System.Net.Http.Json;

@inject IJSRuntime JSRuntime
@inject IGroupService GroupService
@inject IChecklistService ChecklistService
@inject IDialogService DialogService
@inject IPlantService PlantServices
@inject IAreaService AreaServices
@inject IJobObservationService JobObservationService

@inject NavigationManager NavigationManager
@inject HttpClient httpClient

@*Title*@
<PageTitle>Supervisor Mobility | Job Observation Index</PageTitle>
@*Breadcrumb links*@
<MudBreadcrumbs Class="mb-10" Items="_links">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
    </ItemTemplate>
</MudBreadcrumbs>
@*Form*@
<MudGrid Justify="Justify.Center">
    <MudItem lg="10" md="12" sm="12" xs="12">
        <MudItem xs="12" sm="12" lg="12" md="12" Style="text-align: center">
            <MudText Typo="Typo.h6">Programa de Observación de Operación</MudText>
        </MudItem>
        <MudPaper Class="d-flex align-center justify-center mud-width-full pa-4" Elevation="0">
            <MudItem xs="12" sm="6" md="5" lg="5">
                <MudSimpleTable Style="overflow-x: auto;" Dense=true>
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align: center;">
                               <MudDatePicker Label="Month / Year" OpenTo="OpenTo.Month" FixDay="1" DateFormat="MMMM / yyyy" Color="Color.Info" AdornmentColor="Color.Info" DateChanged=@OnDateChanged Date="_yearMonth"/>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2" style="text-align: center;">Simbología a utilizar</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr >
                            <td>0bservación Planeada</td>
                            <td style="text-align:center;"><MudIcon Icon="@Icons.Material.Filled.StopCircle" /></td>
                         </tr>
                         <tr>
                            <td>Planeada con coaching de SSV</td>
                            <td style="text-align:center;"><MudIcon Icon="@Icons.Material.Filled.Block" /></td>
                         </tr>
                         <tr>
                            <td>Observación terminada</td>
                            <td style="text-align:center;"><MudIcon Icon="@Icons.Material.Filled.Circle" Color="Color.Info" /></td>
                         </tr>
                    </tbody>
                </MudSimpleTable>
            </MudItem>
            <MudItem lg="1" md="1"></MudItem>
            <MudItem xs="12" sm="6" md="5" lg="5" Class="ml-2">
                <MudSimpleTable Style="overflow-x: auto;" Dense=true Class="pt-3 pb-3">
                    <tbody>
                        <tr>
                            <td>
                                @*Mud select of Plants *@
                                <MudSelect T="int" Label="Plant" Variant="Variant.Text" Placeholder="Select a Plant" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@plantId" For="@(() => plantId)" SelectedValuesChanged="ShowAreas">
                                    <MudSelectItem Disabled="true" Value="0">Select a Plant</MudSelectItem>
                                    @foreach (var type in _plants)
                                    {
                                        <MudSelectItem Value="type.PlantId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                    }
                                </MudSelect>
                            </td>
                            <td>
                                @*Mud select of Areas *@
                                <MudSelect T="int" Label="Area" Variant="Variant.Text" Placeholder="Select an Area" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@areaId" For="@(() => areaId)">
                                    <MudSelectItem Disabled="true" Value="0">Select a Area</MudSelectItem>
                                    @foreach (var type in _areas)
                                    {
                                        <MudSelectItem Value="type.AreaId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                    }
                                </MudSelect>
                            </td>
                         </tr>
                         <tr>
                            <td>
                                @*Mud select of Groups *@
                                <MudSelect T="int" Label="Group" Variant="Variant.Text" Placeholder="Select a Group" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@groupId" For="@(() => groupId)">
                                    <MudSelectItem Disabled="true" Value="0">Select a Group</MudSelectItem>
                                    @foreach (var type in _groups)
                                    {
                                        <MudSelectItem Value="type.GroupId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                    }
                                </MudSelect>
                            </td>
                            <td>
                                <MudTextField T="string" @bind-Value="ssv" Label="SSV" Required="true" RequiredError="SSV is required!" OnlyValidateIfDirty="true" />
                            </td>
                         </tr>
                         <tr>
                            <td colspan="2">
                                <MudTextField T="string" @bind-Value="supervisor" Label="Supervisor" Required="true" RequiredError="User name is required!" OnlyValidateIfDirty="true" />
                            </td>
                         </tr>
                    </tbody>
                </MudSimpleTable>
            </MudItem>
        </MudPaper>
    </MudItem>
</MudGrid>
<MudGrid Justify="Justify.Center" Class="overflow-x-auto mb-12">
    <MudItem lg="10" md="12" sm="12" xs="12">
        <MudItem Style="text-align: center">
            <MudText Typo="Typo.h6">@month @year</MudText>
        </MudItem>
        <MudSimpleTable Striped=true Bordered=true>
            <thead>
                <tr>
                    @for(var dayIndex = 0; dayIndex < days.Count(); dayIndex++)
                    {
                        <th style="text-align: center; width:14.28%">
                            @days[dayIndex]
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @for(var weekIndex = 0; weekIndex < weeks.Count(); weekIndex++)
                {
                    <tr>
                        @for (var dayIndex = 0; dayIndex < weeks[weekIndex].Dates.Count(); dayIndex++)
                        {
                            var day = weeks[weekIndex].Dates[dayIndex].DayName;
                            var wIndex = weekIndex;
                            var dIndex = dayIndex;
                            @if (weekIndex == 0 && (day == "31" || day == "30" || day == "29" || day == "28" || day == "27" || day == "26" || day == "25"))
                            {
                                <td style="text-align: end; width:14.28%;">
                                    <span style="color: #DDDDDD">@weeks[weekIndex].Dates[dayIndex].DayName</span>
                                    <div style="min-height: 10vh"></div>
                                </td>
                            }
                            else
                            {
                                var date = @weeks[weekIndex].Dates[dayIndex].DateValue;
                                <td style="text-align: end; width:14.28%;" @ondblclick="@(()=>CreateJobObservation(date))">
                                    
                                    @weeks[weekIndex].Dates[dayIndex].DayName
                                    <div style="min-height: 10vh">
                                    @foreach(var jobobs in _jobObservation)
                                    {
                                        var compare = DateTime.ParseExact(date, "d/M/yyyy", null);
                  @*                      <span>@compare 
                                            @jobobs.DateStart
                                            @jobobs.DateEnd
                                       </span>*@
                                            if (jobobs.DateStart <= compare && compare <= jobobs.DateEnd && plantId == jobobs.PlantId && areaId == jobobs.AreaId)
                                            {
                                                if(jobobs.DateStart == compare && jobobs.DateEnd == compare)
                                                {
                                                    <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                        @jobobs.JobObservationId <MudIcon Icon="@Icons.Material.Filled.StopCircle" />
                                                    </MudButton>
                                                }
                                                else
                                                {
                                                    <MudButton Color="Color.Warning" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                    @jobobs.JobObservationId <MudIcon Icon="@Icons.Material.Filled.StopCircle" />
                                                </MudButton>
                                                }
                                        }
                                    }
                                    </div>
                                </td>
                                
                            }
                            
                        }
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </MudItem>
</MudGrid>


<MudDialog DisableSidePadding="false" @bind-IsVisible="visible" Options="dialogOptions">
    <DialogContent>
        <MudContainer Style="max-height: 80vh; overflow-y: scroll">
            <SupervisorMobility.Client.Pages.JobObservationPage.JobObservationDetails JobObservationId="jobId" ></SupervisorMobility.Client.Pages.JobObservationPage.JobObservationDetails>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudIconButton @onclick="(() => JobObservationUpdate(jobId))" Color="Color.Info" Icon="@Icons.Material.Filled.Edit"></MudIconButton>
        <MudButton Color="Color.Info" OnClick="Close">Close</MudButton>
    </DialogActions>
</MudDialog>