@page "/jobobservationschedule"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components
@using System.Globalization;
@using System.Net.Http.Json;

@inject IJSRuntime JSRuntime
@inject IGroupService GroupService
@inject IChecklistService ChecklistService
@inject IDialogService DialogService
@inject IPlantService PlantServices
@inject IAreaService AreaServices
@inject IJobObservationService JobObservationService
@inject IUserService UsersService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<style>

    .scroll1::-webkit-scrollbar {
        width: 4px;
    }

</style>

@*Title*@
<PageTitle>Supervisor Mobility | Job Observation Index</PageTitle>
@*Breadcrumb links*@
<MudBreadcrumbs Class="mb-10" Items="_links">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
    </ItemTemplate>
</MudBreadcrumbs>
@*Form*@
<MudGrid Justify="Justify.Center">
    <MudItem lg="12" md="12" sm="12" xs="12">
        <MudItem Style="text-align: end">
            <MudMenu Dense=true MaxHeight="300" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                <ActivatorContent>
                    <MudButton FullWidth=true StartIcon="@Icons.Material.Filled.Info" Color="Color.Info" Variant="Variant.Filled" Size="Size.Small">Show All Symbols</MudButton>
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem><MudButton StartIcon="@Icons.Material.Filled.PlayCircle" IconColor="Color.Warning">Planned</MudButton></MudMenuItem>
                    <MudMenuItem><MudButton StartIcon="@Icons.Material.Filled.Block" IconColor="Color.Info">Planned with SSV coaching</MudButton></MudMenuItem>
                    <MudMenuItem><MudButton StartIcon="@Icons.Material.Filled.StopCircle" IconColor="Color.Info">In Progress</MudButton></MudMenuItem>
                    <MudMenuItem><MudButton StartIcon="@Icons.Material.Filled.RemoveCircle" IconColor="Color.Error">Late</MudButton></MudMenuItem>
                    <MudMenuItem><MudButton StartIcon="@Icons.Material.Filled.IncompleteCircle" IconColor="Color.Info">Under Review</MudButton></MudMenuItem>
                    <MudMenuItem><MudButton StartIcon="@Icons.Material.Filled.Cancel" IconColor="Color.Error">Rejected</MudButton></MudMenuItem>
                    <MudMenuItem><MudButton StartIcon="@Icons.Material.Filled.Circle" IconColor="Color.Success">Finished</MudButton></MudMenuItem>
                </ChildContent>
            </MudMenu>
        </MudItem>
        <MudItem xs="12" sm="12" lg="12" md="12" Style="text-align: center">
            <MudText Typo="Typo.h6">Programa de Observación de Operación</MudText>
        </MudItem>
        <MudPaper Class="d-flex align-center justify-center mud-width-full pa-4" Elevation="0">
            <MudItem xs="12" sm="6" md="3" lg="3">
                <MudSimpleTable Style="overflow-x: auto;" Dense=true>
                    <tbody>
                        <tr>
                            <th colspan="2" style="text-align: center;">Symbology to be used</th>
                        </tr>
                        <tr>
                            <td>Planned Job Observation</td>
                            <td style="text-align:center;">
                                <MudIcon Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Warning" />
                            </td>
                        </tr>
                        <tr>
                            <td>Job Observation In Progress</td>
                            <td style="text-align:center;"><MudIcon Icon="@Icons.Material.Filled.StopCircle" Color="Color.Info" /></td>
                        </tr>
                        <tr>
                            <td>Finished Job Observation</td>
                            <td style="text-align:center;"><MudIcon Icon="@Icons.Material.Filled.Circle" Color="Color.Success" /></td>
                        </tr>
                        @*                         <tr>
                        <td colspan="2">
                        <MudMenu Dense=true MaxHeight="300" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                        <ActivatorContent>
                        <MudButton Icon="@Icons.Material.Filled.Info" FullWidth=true>Show All Job Observation Symbols</MudButton>
                        </ActivatorContent>
                        <ChildContent>
                        <MudMenuItem><MudButton StartIcon="@Icons.Material.Filled.PlayCircle" IconColor="Color.Warning">Planned</MudButton></MudMenuItem>
                        <MudMenuItem><MudButton StartIcon="@Icons.Material.Filled.Block" IconColor="Color.Info">Planned with SSV coaching</MudButton></MudMenuItem>
                        <MudMenuItem><MudButton StartIcon="@Icons.Material.Filled.StopCircle" IconColor="Color.Info">In Progress</MudButton></MudMenuItem>
                        <MudMenuItem><MudButton StartIcon="@Icons.Material.Filled.RemoveCircle" IconColor="Color.Error">Late</MudButton></MudMenuItem>
                        <MudMenuItem><MudButton StartIcon="@Icons.Material.Filled.Circle" IconColor="Color.Success">Finalized</MudButton></MudMenuItem>
                        </ChildContent>
                        </MudMenu>
                        </td>
                        </tr>*@
                        <tr>
                            <td colspan="2">
                                <div class="pt-1 pb-4 pr-2">
                                    <MudDatePicker Label="Month / Year" OpenTo="OpenTo.Month" FixDay="1" DateFormat="MMMM / yyyy" PickerVariant="PickerVariant.Dialog" Color="Color.Info" AdornmentColor="Color.Info" DateChanged=@OnDateChanged Date="_yearMonth" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </MudSimpleTable>
            </MudItem>
            <MudItem lg="1" md="1"></MudItem>
            <MudItem xs="12" sm="6" md="7" lg="7" Class="ml-2">
                <MudSimpleTable Style="overflow-x: auto;" Dense=true Class="pt-3 pb-3">
                    <tbody>
                        <tr>
                            <td width="50%">
                                @if (user.UserType == 1)
                                {
                                    @*Mud select of Plants for Admin*@
                                    <MudSelect T="int" Label="Plant" Variant="Variant.Text" Placeholder="Select a Plant" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@plantId" For="@(() => plantId)" SelectedValuesChanged="ShowAreas">
                                        <MudSelectItem Disabled="true" Value="0">Select a Plant</MudSelectItem>
                                        @foreach (var type in _plants)
                                        {
                                            <MudSelectItem Value="type.PlantId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                        }
                                    </MudSelect>
                                }
                                else
                                {
                                    @*Mud select of Plants*@
                                    <MudSelect T="int" Label="Plant" Variant="Variant.Text" Placeholder="Select a Plant" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@plantId" For="@(() => plantId)" SelectedValuesChanged="ShowAreas">
                                        @foreach (var type in _plants)
                                        {
                                            if (type.PlantId == user.PlantId)
                                            {
                                                <MudSelectItem Value="type.PlantId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                            }
                                        }
                                    </MudSelect>
                                }

                            </td>
                            <td>
                                @if (user.UserType == 1)
                                {
                                    @if (plantId != 0)
                                    {
                                        @*Mud select of Areas for Admin*@
                                        <MudSelect T="int" Label="Area" Variant="Variant.Text" Placeholder="Select an Area" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@areaId" For="@(() => areaId)" SelectedValuesChanged="ShowSSV">
                                            <MudSelectItem Disabled="true" Value="0">Select an Area</MudSelectItem>
                                            @foreach (var type in _areas)
                                            {
                                                <MudSelectItem Value="type.AreaId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                            }
                                        </MudSelect>
                                    }
                                    else
                                    {
                                        @*Mud select for SSV *@
                                        <MudSelect T="int" Label="Area" Variant="Variant.Text" Disabled Placeholder="Select an Area" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@areaId" For="@(() => areaId)">
                                            <MudSelectItem Disabled="true" Value="0">First Select a Plant</MudSelectItem>
                                        </MudSelect>
                                    }

                                }
                                else if (user.UserType == 2)
                                {
                                    @*Mud select of Areas for SSV *@
                                    <MudSelect T="int" Label="Area" Variant="Variant.Text" Placeholder="Select an Area" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@areaId" For="@(() => areaId)" SelectedValuesChanged="ShowSSV">
                                        <MudSelectItem Disabled="true" Value="0">Select an Area</MudSelectItem>
                                        @foreach (var type in user.Areas)
                                        {
                                            <MudSelectItem Value="type.AreaId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                        }
                                    </MudSelect>
                                }
                                else
                                {
                                    @*Mud select of Areas for SV *@
                                    <MudSelect T="int" Label="Area" Variant="Variant.Text" Placeholder="Select an Area" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@areaId" For="@(() => areaId)" SelectedValuesChanged="ShowSSV">
                                        @foreach (var type in _areas)
                                        {
                                            if (type.AreaId == user.AreaId)
                                            {

                                                <MudSelectItem Value="type.AreaId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                            }
                                        }
                                    </MudSelect>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @if (user.UserType == 1)
                                {
                                    @*Mud select of Groups for Admin*@
                                    <MudSelect T="int" Label="Group" Variant="Variant.Text" Placeholder="Select a Group" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@groupId" For="@(() => groupId)">
                                        <MudSelectItem Disabled="true" Value="0">Select a Group</MudSelectItem>
                                        @foreach (var type in _groups)
                                        {
                                            <MudSelectItem Value="type.GroupId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                        }
                                    </MudSelect>
                                }
                                else
                                {
                                    @*Mud select of Groups *@
                                    <MudSelect T="int" Label="Group" Variant="Variant.Text" Placeholder="Select a Group" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@groupId" For="@(() => groupId)">
                                        @foreach (var type in _groups)
                                        {
                                            if (type.GroupId == user.GroupId)
                                            {
                                                <MudSelectItem Value="type.GroupId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                            }
                                        }
                                    </MudSelect>
                                }
                            </td>
                            <td>

                                @if (user.UserType == 1)
                                {
                                    @if (plantId != 0 && areaId != 0)
                                    {
                                        @*Mud select for SSV for Admin *@
                                        <MudSelect T="int" Label="SSV" Variant="Variant.Text" Placeholder="All SSV" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@ssvId" For="@(() => ssvId)" SelectedValuesChanged="ShowSupervisors">
                                            <MudSelectItem Disabled="true" Value="0">All SSV</MudSelectItem>
                                            @foreach (var ssv in _SSVs)
                                            {
                                                <MudSelectItem Value="ssv.UserId">@($"{ssv.Name}")</MudSelectItem>
                                            }
                                        </MudSelect>
                                    }
                                    else
                                    {
                                        @*Mud select for SSV *@
                                        <MudSelect T="int" Label="SSV" Variant="Variant.Text" Disabled Placeholder="Select an SSV" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@ssvId" For="@(() => ssvId)" >
                                            <MudSelectItem Disabled="true" Value="0">First Select an Area</MudSelectItem>
                                        </MudSelect>
                                    }

                                }
                                else if (user.UserType == 2)
                                {
                                    <MudTextField T="string" @bind-Value="ssv" Label="SSV" Required="true" RequiredError="SSV is required!" OnlyValidateIfDirty="true" ReadOnly/>
                                }
                                else if (user.UserType == 3)
                                {

                                    <MudTextField T="string" @bind-Value="ssv" Label="SSV" Required="true" RequiredError="SSV is required!" OnlyValidateIfDirty="true" ReadOnly />
                                }

                            </td>
                        </tr>
                        <tr>
                            <td>
                                @if (user.UserType == 1)
                                {

                                    @if (ssvId != 0 && plantId != 0)
                                    {
                                        @if (_supervisors.Count > 0)
                                        {
                                            <MudSelect T="int" Label="Supervisor" Variant="Variant.Text" Placeholder="All Supervisors" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@supervisorId" For="@(() => supervisorId)" SelectedValuesChanged="JobObservationsBySupervisor">
                                                <MudSelectItem Disabled="true" Value="0">All Supervisors</MudSelectItem>
                                                @foreach (var sv in _supervisors)
                                                {
                                                    <MudSelectItem Value="sv.UserId">
                                                        @($"{sv.Name}")
                                                    </MudSelectItem>
                                                }
                                            </MudSelect>
                                        }
                                        else
                                        {
                                            <MudAlert Severity="Severity.Info" Class="mt-5">
                                                SSV has no supervisors.
                                            </MudAlert>
                                        }
                                    }
                                    else
                                    {
                                        <MudSelect T="int" Label="Supervisor" Disabled Variant="Variant.Text" Placeholder="Select a Supervisor" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="supervisorId" For="@(() => supervisorId)">
                                            <MudSelectItem Disabled="true" Value="0">First Select SSV</MudSelectItem>
                                        </MudSelect>
                                    }
                                }
                                else if (user.UserType == 2)
                                {
                                    @if (areaId != 0)
                                    {
                                        @if (_supervisors.Count > 0)
                                        {
                                            <MudSelect T="int" Label="Supervisor" Variant="Variant.Text" Placeholder="All Supervisors" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@supervisorId" For="@(() => supervisorId)" SelectedValuesChanged="JobObservationsBySupervisor">
                                                <MudSelectItem Disabled="true" Value="0">All Supervisors</MudSelectItem>
                                                @foreach (var sv in _supervisors)
                                                {
                                                    <MudSelectItem Value="sv.UserId">
                                                        @($"{sv.Name}")
                                                    </MudSelectItem>
                                                }
                                            </MudSelect>
                                        }
                                        else
                                        {
                                            <MudAlert Severity="Severity.Info" Class="mt-5">
                                                SSV / Area has no supervisors.
                                            </MudAlert>
                                        }
                                    }
                                    else
                                    {
                                        <MudSelect T="int" Label="Supervisor" Disabled Variant="Variant.Text" Placeholder="Select a Supervisor" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="supervisorId" For="@(() => supervisorId)">
                                            <MudSelectItem Disabled="true" Value="0">First Select an Area</MudSelectItem>
                                        </MudSelect>
                                    }
                                }
                                else if (user.UserType == 3)
                                {
                                    <MudTextField T="string" @bind-Value="supervisor" Label="Supervisor" Required="true" RequiredError="User name is required!" OnlyValidateIfDirty="true" />

                                }
                            </td>
                            <td>
                                @*Mud select of Status *@
                                <MudSelect T="int" Label="Status" Variant="Variant.Text" Placeholder="Select a Group" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@optionStatus">
                                    <MudSelectItem Value="0">All Status</MudSelectItem>
                                    <MudSelectItem Value="1">Planned</MudSelectItem>
                                    <MudSelectItem Value="2">In Progress</MudSelectItem>
                                    <MudSelectItem Value="3">Late</MudSelectItem>
                                    <MudSelectItem Value="4">Under Review</MudSelectItem>
                                    <MudSelectItem Value="5">Rejected</MudSelectItem>
                                    <MudSelectItem Value="6">Finished</MudSelectItem>
                                </MudSelect>
                            </td>
                        </tr>
                    </tbody>
                </MudSimpleTable>
            </MudItem>
        </MudPaper>
    </MudItem>
</MudGrid>
<MudGrid Justify="Justify.Center" Class="overflow-x-auto mb-12">
    <MudItem lg="12" md="12" sm="12" xs="12">
        <MudItem Style="text-align: center">
            <MudText Typo="Typo.h6">@showMonth @year</MudText>
        </MudItem>
        @*FixedHeader=true Style="height:70vh" *@
        <MudSimpleTable Striped=true Bordered=true Elevation="6" Class="calendar-table rounded">
            <thead>
                <tr style="cursor:default">
                    @for (var dayIndex = 0; dayIndex < days.Count(); dayIndex++)
                    {
                        <th style="text-align: center; width:14.28%">
                            @days[dayIndex]
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (var weekIndex = 0; weekIndex < weeks.Count(); weekIndex++)
                {
                    <tr>
                        @for (var dayIndex = 0; dayIndex < weeks[weekIndex].Dates.Count(); dayIndex++)
                        {
                            var day = weeks[weekIndex].Dates[dayIndex].DayName;
                            var wIndex = weekIndex;
                            var dIndex = dayIndex;
                            @if (weekIndex == 0 && (day == "31" || day == "30" || day == "29" || day == "28" || day == "27" || day == "26" || day == "25"))
                            {
                                <td style="text-align: end; width:14.28%;">
                                    <span style="color: #DDDDDD">@weeks[weekIndex].Dates[dayIndex].DayName</span>
                                    <div style="min-height: 16vh"></div>
                                </td>
                            }
                            else
                            {
                                var date = @weeks[weekIndex].Dates[dayIndex].DateValue;

                                var dayName = @weeks[weekIndex].Dates[dayIndex].DayName;
                                <td style="text-align: end; width:14.28%;">
                                    @if (CultureInfo.CurrentCulture.Name == "en-US" || CultureInfo.CurrentCulture.Name == "en")
                                    {
                                        var todayFormatedDay = DateTime.ParseExact(date, "d/M/yyyy", CultureInfo.InvariantCulture);
                                        var todayEnglish = todayFormatedDay.Month.ToString() + "/" + todayFormatedDay.Day.ToString() + "/" + todayFormatedDay.Year.ToString();

                                        @if (DateTime.Now.ToShortDateString() == todayEnglish)
                                        {
                                            <MudMenu EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Label=@dayName Color="Color.Info" AnchorOrigin="Origin.BottomCenter">
                                                <MudMenuItem Icon="@Icons.Material.Filled.EditCalendar" @onclick="@(()=>PlanJobObservation(date))" @ontouchstart="@(()=>PlanJobObservation(date))">
                                                    Plan job observation
                                                </MudMenuItem>
                                                <MudMenuItem Icon="@Icons.Material.Filled.Add" @onclick="@(()=>CreateJobObservation(date))" @ontouchstart="@(()=>CreateJobObservation(date))">
                                                    Create new job observation
                                                </MudMenuItem>
                                            </MudMenu>
                                        }
                                        else
                                        {
                                            <MudMenu EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Label=@dayName AnchorOrigin="Origin.BottomCenter">
                                                <MudMenuItem Icon="@Icons.Material.Filled.EditCalendar" @onclick="@(()=>PlanJobObservation(date))" @ontouchstart="@(()=>PlanJobObservation(date))">
                                                    Plan job observation
                                                </MudMenuItem>
                                                <MudMenuItem Icon="@Icons.Material.Filled.Add" @onclick="@(()=>CreateJobObservation(date))" @ontouchstart="@(()=>CreateJobObservation(date))">
                                                    Create new job observation
                                                </MudMenuItem>
                                            </MudMenu>
                                        }
                                    }
                                    else
                                    {
                                        @if (DateTime.Now.ToShortDateString() == date)
                                        {
                                            <MudMenu EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Label=@dayName Color="Color.Info" AnchorOrigin="Origin.BottomCenter">
                                                <MudMenuItem Icon="@Icons.Material.Filled.EditCalendar" @onclick="@(()=>PlanJobObservation(date))" @ontouchstart="@(()=>PlanJobObservation(date))">
                                                    Plan job observation
                                                </MudMenuItem>
                                                <MudMenuItem Icon="@Icons.Material.Filled.Add" @onclick="@(()=>CreateJobObservation(date))" @ontouchstart="@(()=>CreateJobObservation(date))">
                                                    Create new job observation
                                                </MudMenuItem>
                                            </MudMenu>
                                        }
                                        else
                                        {
                                            <MudMenu EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Label=@dayName AnchorOrigin="Origin.BottomCenter">
                                                <MudMenuItem Icon="@Icons.Material.Filled.EditCalendar" @onclick="@(()=>PlanJobObservation(date))" @ontouchstart="@(()=>PlanJobObservation(date))">
                                                    Plan job observation
                                                </MudMenuItem>
                                                <MudMenuItem Icon="@Icons.Material.Filled.Add" @onclick="@(()=>CreateJobObservation(date))" @ontouchstart="@(()=>CreateJobObservation(date))">
                                                    Create new job observation
                                                </MudMenuItem>
                                            </MudMenu>
                                        }
                                    }

                                    <div style="min-height: 16vh; overflow-y: scroll; max-height: 16vh; scroll-behavior: smooth;" class="scroll scroll1">
                                        @foreach (var jobobs in _jobObservations)
                                        {
                                            var compare = DateTime.ParseExact(date, "d/M/yyyy", null);
                                            var time1 = jobobs.StartDate?.ToString("HH:mm");
                                            var time2 = jobobs.EndDate?.ToString("HH:mm");

                                            if (Convert.ToDateTime(jobobs.StartDate?.ToShortDateString()).Date <= Convert.ToDateTime(compare.ToShortDateString()).Date && Convert.ToDateTime(compare.ToShortDateString()).Date <= Convert.ToDateTime(jobobs.EndDate?.ToShortDateString()).Date && plantId == jobobs.PlantId && areaId == jobobs.AreaId)
                                            {
                                                //Ends the same day
                                                if (Convert.ToDateTime(compare.ToShortDateString()).Date == Convert.ToDateTime(jobobs.StartDate?.ToShortDateString()).Date && Convert.ToDateTime(compare.ToShortDateString()).Date == Convert.ToDateTime(jobobs.EndDate?.ToShortDateString()).Date)
                                                {
                                                    //Status filter
                                                    switch (optionStatus)
                                                    {
                                                        case 0:

                                                            //Programmed
                                                            if (jobobs.Status == 1)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Warning" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="true" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Warning">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Warning" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.PlayCircle" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }
                                                            //In Progress
                                                            else if (jobobs.Status == 2)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="true" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Info">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Info" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.StopCircle" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }

                                                            //Late job observations
                                                            else if (jobobs.Status == 3)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Error" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="true" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Error">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Error" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.RemoveCircle" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }

                                                            //Under Review job observations
                                                            else if (jobobs.Status == 4)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="true" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Info">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Info" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.IncompleteCircle" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }

                                                            //Rejected job observations
                                                            else if (jobobs.Status == 5)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Error" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="true" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Error">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Error" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.Cancel" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }
                                                            //Finalized
                                                            else if (jobobs.Status == 6)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Success" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="true" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Success">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Success" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.Circle" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }

                                                            break;
                                                        case 1:
                                                            //Programmed
                                                            if (jobobs.Status == 1)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Warning" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="true" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Warning">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Warning" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.PlayCircle" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }

                                                            break;
                                                        case 2:
                                                            //In Progress
                                                            if (jobobs.Status == 2)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="true" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Info">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Info" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.StopCircle" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }
                                                            break;
                                                        case 3:
                                                            //Late job observations
                                                            if (jobobs.Status == 3)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Error" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="true" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Error">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Error" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.RemoveCircle" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }
                                                            break;
                                                        case 4:
                                                            if (jobobs.Status == 4)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="true" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Info">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Info" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.IncompleteCircle" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }
                                                            break;
                                                        case 5:
                                                            if (jobobs.Status == 5)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Error" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="true" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Error">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Error" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.Cancel" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }
                                                            break;
                                                        case 6:
                                                            if (jobobs.Status == 6)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Success" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="true" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Success">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Success" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.Circle" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }
                                                            break;

                                                    }

                                                }
                                                //lasts more than one day
                                                else
                                                {
                                                    switch (optionStatus)
                                                    {
                                                        case 0:
                                                            //Programmed
                                                            if (jobobs.Status == 1)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Warning" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton Color="Color.Warning" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Warning" Size="Size.Small">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Warning" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }
                                                            //In Progress
                                                            else if (jobobs.Status == 2)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton Color="Color.Info" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Info" Size="Size.Small">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.StopCircle" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }
                                                            //late job observations
                                                            else if (jobobs.Status == 3)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Error" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton Color="Color.Error" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Error" Size="Size.Small">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.RemoveCircle" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }
                                                            //Under Review job observations
                                                            else if (jobobs.Status == 4)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton Color="Color.Info" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Info" Size="Size.Small">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.IncompleteCircle" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }
                                                            //Rejected job observations
                                                            else if (jobobs.Status == 5)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Error" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton Color="Color.Error" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Error" Size="Size.Small">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.Cancel" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }
                                                            //Finalized
                                                            else if (jobobs.Status == 6)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Success" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton Color="Color.Success" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Success" Size="Size.Small">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.Circle" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }
                                                            break;
                                                        case 1:
                                                            if (jobobs.Status == 1)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Warning" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton Color="Color.Warning" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Warning" Size="Size.Small">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Warning" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }
                                                            break;
                                                        case 2:
                                                            if (jobobs.Status == 2)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton Color="Color.Info" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Info" Size="Size.Small">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.StopCircle" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }
                                                            break;
                                                        case 3:
                                                            if (jobobs.Status == 3)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Error" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton Color="Color.Error" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Error" Size="Size.Small">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.RemoveCircle" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }
                                                            break;
                                                        case 4:
                                                            if (jobobs.Status == 4)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton Color="Color.Info" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Info" Size="Size.Small">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.IncompleteCircle" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }
                                                            break;
                                                        case 5:
                                                            if (jobobs.Status == 5)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Error" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton Color="Color.Error" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Error" Size="Size.Small">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.Cancel" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }
                                                            break;
                                                        case 6:
                                                            if (jobobs.Status == 6)
                                                            {
                                                                <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Success" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                    <MudButton Color="Color.Success" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Success" Size="Size.Small">@time1 - @time2</MudChip>
                                                                        <MudIcon Icon="@Icons.Material.Filled.Circle" />
                                                                    </MudButton>
                                                                    <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Operator.Name</span>
                                                                </MudTooltip>
                                                            }
                                                            break;

                                                    }

                                                }
                                            }
                                        }
                                    </div>
                                </td>

                            }

                        }
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </MudItem>
</MudGrid>


<MudDialog DisableSidePadding="false" @bind-IsVisible="visible" Options="dialogOptions">
    <DialogContent>
        <MudContainer Style="max-height: 75vh; overflow-y: scroll">
            <SupervisorMobility.Client.Pages.JobObservationPage.JobObservationDetails JobObservationId="jobId"></SupervisorMobility.Client.Pages.JobObservationPage.JobObservationDetails>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudIconButton @onclick="(() => JobObservationUpdate(jobId))" Color="Color.Info" Icon="@Icons.Material.Filled.Edit"></MudIconButton>
        <MudButton Color="Color.Info" OnClick="Close">Close</MudButton>
    </DialogActions>
</MudDialog>