@page "/soshoe"

@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Resource> Localizer
@inject IStringLocalizer<Resource1> Localizer1
@inject IBreadcrumbService BreadcrumbService


<style>

    .menu-card {
        width: 100%;
        box-shadow: 5px 5px 5px rgb(218, 214, 213 );
        border-radius: 10px;
        transition: all 0.3s ease-out;
        cursor: default;
    }

        .menu-card .header {
            border-radius: 10px 10px 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #f1f5f9;
        }


        .menu-card .content {
            text-align: justify;
            height: 16vh;
            overflow-x: scroll;
        }

            .menu-card .content::-webkit-scrollbar {
                width: 4px;
            }

        .menu-card .footer {
            border-radius: 0 0 10px 10px;
            background-color: #f1f5f9;
        }

        .menu-card:hover {
            box-shadow: #9ad8f3 0px 2px 4px;
            transform: scale(1.005);
        }

</style>

@if (logged == true)
{
    @*Title*@
    <PageTitle>Supervisor Mobility | @Localizer["SOSHOE"]</PageTitle>
    @*Breadcrumb links*@
    @*   <MudBreadcrumbs Items="_links">
        <ItemTemplate Context="item">
            <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
        </ItemTemplate>
    </MudBreadcrumbs> *@

    @if (showLoading)
    {
        <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudItem class="d-flex flex-column justify-center align-self-center">
                    <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                </MudItem>
                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
            </div>
        </ItemTemplate>
    </MudCarousel>
    }
    else
    {
         @*Dashboard grid*@
    <MudGrid Class="pb-10">

        @*HOE*@
        <MudItem xs="12" sm="6" md="6" lg="4" xl="3" xxl="2" Class="d-flex">
            <MudPaper Class="menu-card">
                <MudItem Class="pa-2 header">
                    <MudChip Label Color="Color.Dark" Style="background-color: #6c757d; font-weight:bold" Variant="Variant.Filled" Size="Size.Small">SOS</MudChip>
                    <MudText>@Localizer["HOESOSHubTitle"]</MudText>
                    <MudImage Src="Images/admin.png" Height="25" Width="25" />
                </MudItem>
                <MudItem Class="content">
                    <MudText Class="pa-4">
                        @Localizer["HOESOSHubDescription"]
                    </MudText>
                </MudItem>
                <MudItem Class="pa-3 footer">
                    <MudButton Href="soshoe/Hub" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">View all</MudButton>
                    <MudButton Href="soshoe/Hub/Create" Color="Color.Success" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">Create</MudButton>
                </MudItem>
            </MudPaper>
        </MudItem>
        @if (user.UserType == 1)
        {
            @*HOE/SOS Analysis*@
            <MudItem xs="12" sm="6" md="6" lg="4" xl="3" xxl="2" Class="d-flex">
                <MudPaper Class="menu-card">
                    <MudItem Class="pa-2 header">
                        <MudChip Label Color="Color.Dark" Style="background-color: #6c757d; font-weight:bold" Variant="Variant.Filled" Size="Size.Small">H/S A</MudChip>
                        <MudText>@Localizer["HOESOSAnalysis"]</MudText>
                        <MudImage Src="Images/admin.png" Height="25" Width="25" />
                    </MudItem>
                    <MudItem Class="content">
                        <MudText Class="pa-4">
                            @Localizer["SOSAnalysisDescription"]
                        </MudText>
                    </MudItem>
                    <MudItem Class="pa-3 footer">
                        <MudButton Href="soshoe/Analysis" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">View all</MudButton>
                        @* <MudButton Href="soshoe/Generate/Analysis" Color="Color.Success" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">Create</MudButton> *@
                    </MudItem>
                </MudPaper>
            </MudItem>
            @*HOE/SOS Combination*@
            <MudItem xs="12" sm="6" md="6" lg="4" xl="3" xxl="2" Class="d-flex">
                <MudPaper Class="menu-card">
                    <MudItem Class="pa-2 header">
                        <MudChip Label Color="Color.Dark" Style="background-color: #6c757d; font-weight:bold" Variant="Variant.Filled" Size="Size.Small">H/S C</MudChip>
                        <MudText>@Localizer["HOESOSCombination"]</MudText>
                        <MudImage Src="Images/admin.png" Height="25" Width="25" />
                    </MudItem>
                    <MudItem Class="content">
                        <MudText Class="pa-4">
                            @Localizer["SOSCombinationDescription"]
                        </MudText>
                    </MudItem>
                    <MudItem Class="pa-3 footer">
                        <MudButton Href="soshoe/Combination" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">View all</MudButton>
                        @* <MudButton Href="soshoe/Generate/Combination" Color="Color.Success" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">Generate</MudButton> *@
                    </MudItem>
                </MudPaper>
            </MudItem>
            @*HOE/SOS Distribution*@
            <MudItem xs="12" sm="6" md="6" lg="4" xl="3" xxl="2" Class="d-flex">
                <MudPaper Class="menu-card">
                    <MudItem Class="pa-2 header">
                        <MudChip Label Color="Color.Dark" Style="background-color: #6c757d; font-weight:bold" Variant="Variant.Filled" Size="Size.Small">H/S D</MudChip>
                        <MudText>@Localizer["HOESOSDistribution"]</MudText>
                        <MudImage Src="Images/admin.png" Height="25" Width="25" />
                    </MudItem>
                    <MudItem Class="content">
                        <MudText Class="pa-4">
                            @Localizer["SOSDistributionDescription"]
                        </MudText>
                    </MudItem>
                    <MudItem Class="pa-3 footer">
                        <MudButton Href="soshoe/Distribution" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">View all</MudButton>
                        @* <MudButton Href="soshoe/Generate/Distribution" Color="Color.Success" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">Generate</MudButton> *@
                    </MudItem>
                </MudPaper>
            </MudItem>
            @*HOE/SOS Flow*@
            <MudItem xs="12" sm="6" md="6" lg="4" xl="3" xxl="2" Class="d-flex">
                <MudPaper Class="menu-card">
                    <MudItem Class="pa-2 header">
                        <MudChip Label Color="Color.Dark" Style="background-color: #6c757d; font-weight:bold" Variant="Variant.Filled" Size="Size.Small">H/S F</MudChip>
                        <MudText>@Localizer["HOESOSFlow"]</MudText>
                        <MudImage Src="Images/admin.png" Height="25" Width="25" />
                    </MudItem>
                    <MudItem Class="content">
                        <MudText Class="pa-4">
                            @Localizer["SOSFlowDescription"]
                        </MudText>
                    </MudItem>
                    <MudItem Class="pa-3 footer">
                        <MudButton Href="soshoe/Flow" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">View all</MudButton>
                        @* <MudButton Href="soshoe/Generate/Flow" Color="Color.Success" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">Generate</MudButton> *@
                    </MudItem>
                </MudPaper>
            </MudItem>
            @*HOE/SOS Sequence*@
            <MudItem xs="12" sm="6" md="6" lg="4" xl="3" xxl="2" Class="d-flex">
                <MudPaper Class="menu-card">
                    <MudItem Class="pa-2 header">
                        <MudChip Label Color="Color.Dark" Style="background-color: #6c757d; font-weight:bold" Variant="Variant.Filled" Size="Size.Small">H/S S</MudChip>
                        <MudText>@Localizer["HOESOSSequence"]</MudText>
                        <MudImage Src="Images/admin.png" Height="25" Width="25" />
                    </MudItem>
                    <MudItem Class="content">
                        <MudText Class="pa-4">
                            @Localizer["SOSSequenceDescription"]
                        </MudText>
                    </MudItem>
                    <MudItem Class="pa-3 footer">
                        <MudButton Href="soshoe/Sequence" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">View all</MudButton>
                        @* <MudButton Href="soshoe/Generate/Sequence" Color="Color.Success" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">Generate</MudButton> *@
                    </MudItem>
                </MudPaper>
            </MudItem>
        }

    </MudGrid>
    }
}