@page "/Analysis/Details/{AnalysisId:int}"

@inject IStringLocalizer<Resource> Localizer
@inject IStringLocalizer<Resource1> Localizer1
@inject ISOSAnalysisService SOSAnalysisServices

<style>
    .vertical {
        writing-mode: tb-rl;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        white-space: nowrap;
        display: block;
        bottom: 0;
        width: 20px;
        height: 20px;
        text-align: center !important;
    }

    .border-left {
        border-left: 2px solid #ababab;
    }

    .table-header td {
        background-color: #f5f5f6;
    }

    .table-header-gray th {
        background-color: #f5f5f6;
    }

    .grey-background {
        background-color: #f5f5f6;
    }

</style>

@if (ShowLoading)
{
    <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudItem class="d-flex flex-column justify-center align-self-center">
                    <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                </MudItem>
                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
            </div>
        </ItemTemplate>
    </MudCarousel>
}
else
{
    <br />
    <MudSimpleTable Dense Elevation="3">
         <thead>
             <tr class="table-header">
                 <th rowspan="2" colspan="3" class="grey-background">Nombre de la Operación</th>
                 <th rowspan="2" colspan="3">@_sosAnalysis.SOSHub.ProcessSheet</th>
                 <th colspan="4" class="grey-background">No. De Revision</th>
                 <th colspan="3" style="text-align: center">N</th>
                 <th colspan="3" style="text-align: center">1</th>
                 <th colspan="3" style="text-align: center">2</th>
                 <th colspan="3" style="text-align: center"></th>
             </tr>
             <tr>

                 <th colspan="4" class="grey-background">Fecha</th>
                 @if (exampleLogbooks?.Any() ?? false)
                {
                    var logBooks = exampleLogbooks
                    .OrderByDescending(logBook => logBook.Date)
                    .Take(4)
                    .ToList();
                    var emptyColumnsNeeded = 4 - logBooks.Count;

                    foreach (var logBook in logBooks)
                    {
                        <th colspan="3" style="text-align: center;">@logBook.Date?.ToShortDateString()</th>
                    }

                    for (int i = 0; i < emptyColumnsNeeded; i++)
                    {
                        <th colspan="3"></th>
                    }
                }
                else
                {
                    for (int i = 0; i < 4; i++)
                    {
                        <th colspan="3"></th>
                    }
                }
            </tr>
            <tr>
                <th rowspan="2" colspan="3" class="grey-background">Equipo de Seguridad</th>
                <th rowspan="2" colspan="3">
                    @if (_sosAnalysis.SOSHub.SafetyEquipment.Any())
                    {
                        <MudItem Style="display: flex; align-content: space-between; flex-wrap: wrap; justify-content: center; align-items: center;">

                            @foreach (var equipment in _sosAnalysis.SOSHub.SafetyEquipment)
                            {
                                <MudButton Style="padding: 0px; margin-right: 10px; margin-top: 10px" Color="Color.Warning" Variant="Variant.Outlined">
                                    <MudChip Color="Color.Warning" Icon="@Icons.Material.Filled.Engineering" Size="Size.Small" Variant="Variant.Text" Style="cursor:pointer">
                                        @(equipment.EquipmentName)
                                    </MudChip>
                                </MudButton>
                            }
                        </MudItem>
                    }
                    else
                    {
                        <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Currently, there is no equipment.</MudAlert>
                    }

                </th>

                <th colspan="4" class="grey-background">Punto Revisado (Cambio)</th>
                <th colspan="3"></th>
                <th colspan="3"></th>
                <th colspan="3"></th>
                <th colspan="3"></th>
            </tr>
            <tr>
                <th rowspan="7" class="vertical grey-background">Confirmado Por</th>
            </tr>
            <tr>
                <th rowspan="2" colspan="3" class="grey-background">Herramientas</th>
                <th rowspan="2" colspan="3">
                    @if (_sosAnalysis.SOSHub.ToolsUsed.Any())
                    {
                        <MudItem Style="display: flex; align-content: space-between; flex-wrap: wrap; justify-content: center; align-items: center;">

                            @foreach (var tool in _sosAnalysis.SOSHub.ToolsUsed)
                            {
                                <MudButton Style="padding: 0px; margin-right: 10px; margin-top: 10px" Color="Color.Info" Variant="Variant.Outlined">
                                    <MudChip Color="Color.Info" Icon="@Icons.Material.Filled.Build" Size="Size.Small" Variant="Variant.Text" Style="cursor:pointer">
                                        @(tool.Tool?.ToolName)
                                    </MudChip>
                                </MudButton>
                            }
                        </MudItem>
                    }
                    else
                    {
                        <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Currently, there are no tools.</MudAlert>
                    }
                </th>

            </tr>
            <tr>
            </tr>
            <tr>
                <th rowspan="2" colspan="3" class="grey-background">Modelo</th>
                <th rowspan="2" colspan="3"><MudText>@_sosAnalysis.SOSHub.AppliedModel?.Description</MudText></th>


            </tr>
            <tr>
                <th colspan="3"></th>
                <th colspan="3"></th>
                <th colspan="3"></th>
                <th colspan="3"></th>
                <th colspan="3"></th>
            </tr>
            <tr>
                <th rowspan="2" colspan="3" class="grey-background">Tiempo de aprendizaje</th>
                <th rowspan="2" colspan="3">
                    <MudAutocomplete T="int"
                                     Label=@Localizer["Cycles"]
                                     Variant="Variant.Text"
                                     AnchorOrigin="Origin.BottomCenter"
                    @bind-Value="cycleId"
                                     OpenIcon="@Icons.Material.Filled.AccessTime"
                                     AdornmentColor="Color.Info"
                                                      Clearable
                                                      ResetValueOnEmptyText
                                      ShowProgressIndicator="true" ProgressIndicatorColor="Color.Info"
                                      MaxItems="10"
                                                      ReadOnly>
                 </MudAutocomplete>
             </th>

             <th colspan="3">Supervisor Gral (Aprobó)</th>

             @if (exampleLogbooks?.Any() ?? false)
                {
                    var logBooks = exampleLogbooks
                    .OrderByDescending(logBook => logBook.Date)
                    .Take(4)
                    .ToList();
                    var emptyColumnsNeeded = 4 - logBooks.Count;

                    foreach (var logBook in logBooks)
                    {
                        <th colspan="3" style="text-align: center;">@* @logBook.SeniorSupervisor?.Name *@ @logBook.RevisedItem</th>
                    }

                    for (int i = 0; i < emptyColumnsNeeded; i++)
                    {
                        <th colspan="3"></th>
                    }
                }
                else
                {
                    for (int i = 0; i < 4; i++)
                    {
                        <th colspan="3"></th>
                    }
                }
            </tr>
            <tr>

                <th colspan="3">Supervisor (Elaboró)</th>
                @if (_sosAnalysis.AnalysisLogbooks?.Any() ?? false)
                {
                    var logBooks = _sosAnalysis.AnalysisLogbooks
                    .OrderByDescending(logBook => logBook.Date)
                    .Take(4)
                    .ToList();
                    var emptyColumnsNeeded = 4 - logBooks.Count;

                    foreach (var logBook in logBooks)
                    {
                        <th colspan="3" style="text-align: center;">@logBook.Supervisor?.Name</th>
                    }

                    for (int i = 0; i < emptyColumnsNeeded; i++)
                    {
                        <th colspan="3"></th>
                    }
                }
                else
                {
                    for (int i = 0; i < 4; i++)
                    {
                        <th colspan="3"></th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            <tr class="table-header">
                <td colspan="1">No.</td>
                <td colspan="3">Análisis</td>
                <td colspan="1">No.</td>
                <td colspan="1">Pasos Principales</td>
                <td colspan="2">Tiempo</td>
                <td colspan="4">Punto Critico (Razon)</td>
                <td colspan="10">Ilustracion, Notas operacion, otros</td>
            </tr>
            @{
                int indexAnalysis = 0;
            }


            @foreach (var (sect, indexSection) in _sosAnalysis.SOSHub.Sections.Select((sect, indexSection) => (sect, indexSection)))
            {

                @foreach (var (analysis, indexA) in sect.Analyses.Select((analysis, indexA) => (analysis, indexA)))
                {
                    ++indexAnalysis;
                    string styleString = "";
                    string styleString2 = "";
                    string styleString3 = "";
                    <tr>
                        @if (sect.Analyses.Count == 1)
                        {
                            styleString = "border-left: 1px solid #ababab; border-top: 1px solid #ababab; border-bottom: 1px solid #ababab;";
                            styleString3 = "border-right: 1px solid #ababab; border-top: 1px solid #ababab; border-bottom: 1px solid #ababab;";
                            styleString2 = "border-top: 1px solid #ababab; border-bottom: 1px solid #ababab;";
                        }
                        else if (analysis == sect.Analyses.First())
                        {
                            styleString = "border-left: 1px solid #ababab; border-top: 1px solid #ababab;";
                            styleString3 = "border-right: 1px solid #ababab; border-top: 1px solid #ababab;";
                            styleString2 = "border-top: 1px solid #ababab;";
                        }
                        else if (@* sect == _sosAnalysis.SOSHub.Sections.Last() && *@ analysis == sect.Analyses.Last())
                        {
                            styleString = "border-left: 1px solid #ababab; border-bottom: 1px solid #ababab;";
                            styleString3 = "border-right: 1px solid #ababab; border-bottom: 1px solid #ababab;";
                            styleString2 = "border-bottom: 1px solid #ababab;";
                        }
                        else if (@* sect == _sosAnalysis.SOSHub.Sections.Last() && *@ analysis == sect.Analyses.Last())
                        {
                            styleString = "border-left: 2px solid #ababab; border-bottom: 2px solid #ababab;";
                            styleString3 = "border-right: 2px solid #ababab; border-bottom: 2px solid #ababab;";
                            styleString2 = "border-bottom: 2px solid #ababab;";
                        }
                        else
                        {
                            styleString = "border-left: 1px solid #ababab;";
                            styleString3 = "border-right: 1px solid #ababab;";
                            styleString2 = "";
                        }

                        <td colspan="1" style="@styleString">@indexAnalysis</td>
                        <td colspan="3" style="@styleString2">
                            @((MarkupString)GenerateHighlightedText(GetFormatedAnalisisText(indexSection, indexA), analysis.CriticalPoints))
                        </td>

                        @if (analysis == sect.Analyses.First())
                        {
                            int TotalRowSpan = sect.Analyses.Count();
                            <td colspan="1" style="border-top: 1px solid #ababab; border-bottom: 1px solid #ababab; " rowspan="@TotalRowSpan">@(indexSection + 1)</td>
                            <td colspan="1" style="border-top: 1px solid #ababab; border-bottom: 1px solid #ababab;" rowspan="@TotalRowSpan">@sect.Step</td>
                            <td colspan="2" style="border-top: 1px solid #ababab; border-bottom: 1px solid #ababab;" rowspan="@TotalRowSpan">
                                <MudInput Value="@($"{sect.Time}")" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly />

                             </td>
                        }

                        <td colspan="4" style="@styleString3">

                            @foreach (var (cp, cpIndex) in analysis.CriticalPoints.Select((cp, cpIndex) => (cp, cpIndex)))
                            {
                                <MudItem>
                                    <MudText>@cp</MudText>
                                    <MudText>
                                        @ReasonFormat(analysis.Reasons[cpIndex])
                                    </MudText>
                                </MudItem>
                            }
                        </td>

                        @if (sect == _sosAnalysis.SOSHub.Sections.First() && analysis == sect.Analyses.First())
                        {
                            int totalAnalyses = _sosAnalysis.SOSHub.Sections.Sum(section => section.Analyses.Count());
                            int totalCriticalPoints = _sosAnalysis.SOSHub.Sections
                            .SelectMany(section => section.Analyses)
                            .Sum(analysis => analysis.CriticalPoints.Count());
                            int totalSpecialCases = _sosAnalysis.SpecialCasesAbnormalSituations.Count();

                            int TotalRowSpanImages = totalAnalyses + totalCriticalPoints + 2 + totalSpecialCases;
                            <td colspan="10" rowspan="@TotalRowSpanImages" style="vertical-align: top">
                                <MudItem Class="d-flex flex-column align-start">
                                    @* <MudButton Color="Color.Info" Variant="Variant.Filled" @onclick="() => OpenEvidenceDialog(0)" >Show Images Dialog</MudButton> *@
                                    <MudItem Class="d-flex">
                                        <MudButton Color="Color.Primary" Variant="Variant.Filled" @onclick="() => OpenCommentariesDialog()" Class="mb-4">Show Notes (@(_sosAnalysis.Notes.Any() ? _sosAnalysis.Notes.Count() : 0))</MudButton>
                                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="OpenLogbookDialog" Class="ml-3 mb-4" StartIcon="@Icons.Material.Filled.History">@Localizer["historyVersions"]</MudButton>
                                    </MudItem>
                                    @if (capturedImages.Any())
                                    {
                                        <div style="display: flex; align-items: center; justify-content: space-between;">
                                            <MudItem Class="d-flex" Style="flex-direction: row; flex-wrap: wrap; justify-content: flex-start; overflow-y: scroll; max-height:65vh; scroll-behavior: smooth; justify-content: center;">
                                                @foreach (var (image, index) in capturedImages.Select((image, index) => (image, index)))
                                                {
                                                    <MudItem Class="mb-2 mr-2">
                                                        <MudImage ObjectFit="ObjectFit.Contain" Height="160" Width="260" Src=@image Alt="Evidence" Elevation="25" Class="rounded-lg" @onclick="() => OpenEvidenceDialog(index)" Style="cursor:pointer" />
                                                    </MudItem>
                                                }
                                            </MudItem>
                                        </div>
                                    }
                                    else
                                    {
                                        <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                                             @Localizer["There are no images"]
                                         </MudAlert>
                                    }
                                    @* Dummy images *@
                                    <div style="display: flex; align-items: center; justify-content: space-between;">
                                        <MudItem Class="d-flex" Style="flex-direction: row; flex-wrap: wrap; justify-content: flex-start; overflow-y: scroll; max-height:65vh; scroll-behavior: smooth; justify-content: center;">
                                            @for (int i = 0; i < 10; i++)
                                            {
                                                <MudItem Class="mb-2 mr-2">
                                                    <MudImage ObjectFit="ObjectFit.Contain" Height="160" Width="260"
                                                              Src="https://www.ddhworld.com/wp-content/uploads/2021/02/Mercedes-Benz-C300-ddh-world.jpg"
                                                              Alt="Evidence" Elevation="25" Class="rounded-lg" @onclick="() => OpenEvidenceDialog(0)" Style="cursor:pointer" />
                                                </MudItem>
                                            }
                                        </MudItem>
                                    </div>
                                </MudItem>
                            </td>
                        }
                    </tr>

                }
            }
            <tr>
                <td colspan="5"></td>
                <td>Total</td>
                <td colspan="2">
                    <MudInput Value="@totalTime.ToString()" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly />
                 </td>
                 <td colspan="14"></td>

             </tr>
             <tr class="table-header">
                 <td colspan="4">SITUACIÓN ANORMAL O CASOS ESPECIALES</td>
                 <td>CLAVE</td>
                 <td colspan="3">NOMBRE DE LA PARTE</td>
                 <td colspan="2">NO DE PARTE</td>
                 <td colspan="2">CANTIDAD</td>
             </tr>
             @if (_sosAnalysis.SpecialCasesAbnormalSituations?.Any() ?? false)
            {
                @foreach (var part in _sosAnalysis.SpecialCasesAbnormalSituations)
                {
                    <tr>
                        <td colspan="4"></td>
                        <td>@part.key</td>
                        <td colspan="3">@part.PartName</td>
                        <td colspan="2">@part.PartNumber</td>
                        <td colspan="2">@part.Quantity</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="12">
                        <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Currently, there are no Special Cases.</MudAlert>
                    </td>
                </tr>
            }


        </tbody>
    </MudSimpleTable>
    <br />
}


@*Evidence Modal*@
<MudDialog DisableSidePadding="false" @bind-IsVisible="visibleEvidence" Options="dialogEvidenceOptions">
    <TitleContent>
        <div class="d-flex" style="align-items: center; justify-content:center;">
            <MudImage ObjectFit="ObjectFit.Cover" Height="25" Src="Images/logo.png" Alt="Evidence" Elevation="25" Class="rounded-lg mr-4" />
            <MudText Typo="Typo.h6" Style="text-align: center;">
                @Localizer["Analysis Images"]
            </MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudSimpleTable Elevation="0" Dense>
            <thead>
                <tr class="table-header-gray">
                    <th>SITUACIÓN ANORMAL O CASOS ESPECIALES</th>
                    <th>CLAVE</th>
                    <th>NOMBRE DE LA PARTE</th>
                    <th>NO DE PARTE</th>
                    <th>CANTIDAD</th>
                </tr>
            </thead>
            <tbody>
                @if (_sosAnalysis.SpecialCasesAbnormalSituations?.Any() ?? false)
                {
                    @foreach (var part in _sosAnalysis.SpecialCasesAbnormalSituations)
                    {
                        <tr>
                            <td></td>
                            <td>@part.key</td>
                            <td>@part.PartName</td>
                            <td>@part.PartNumber</td>
                            <td>@part.Quantity</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">
                            <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Currently, there are no Special Cases.</MudAlert>
                        </td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
        <MudPaper Elevation="0">
            @if (capturedImages.Count() > 0)
            {
                <MudCarousel Class="mud-width-full" Style="height: 65vh" ShowArrows=true ShowBullets=true EnableSwipeGesture=true AutoCycle="false" TData="object" @bind-SelectedIndex=@photoIndex>
                    <PreviousButtonTemplate>
                        <MudAvatar Color="Color.Dark" Variant="Variant.Filled" Class="ml-4" Style="cursor:pointer">
                            <MudIcon Icon="@Icons.Material.Filled.NavigateBefore" />
                        </MudAvatar>
                    </PreviousButtonTemplate>
                    <NextButtonTemplate>
                        <MudAvatar Color="Color.Dark" Variant="Variant.Filled" Class="mr-4" Style="cursor:pointer">
                            <MudIcon Icon="@Icons.Material.Filled.NavigateNext" />
                        </MudAvatar>
                    </NextButtonTemplate>
                    <ChildContent>
                        @foreach (var evidence in capturedImages)
                        {
                            <MudCarouselItem Transition="Transition.Fade">
                                <MudImage ObjectFit="ObjectFit.Cover" Height="650" Width="1152" Src=@evidence Alt="Evidence" Elevation="25" Class="rounded-lg" Style="max-height: 55vh; width: 100%; border-radius: 10px; margin-bottom:24px;" />
                            </MudCarouselItem>
                        }
                    </ChildContent>
                </MudCarousel>
            }
            else
            {
                <MudItem Style="height: 65vh">
                    <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                         @Localizer["There are no images"]
                     </MudAlert>
                 </MudItem>
            }
        </MudPaper>
    </DialogContent>
</MudDialog>


<MudDialog DisableSidePadding="false" @bind-IsVisible="visibleCommentaries" Options="dialogCommentariesOptions">
    <TitleContent>
        <div class="d-flex" style="align-items: center; justify-content:center;">
            <MudImage ObjectFit="ObjectFit.Cover" Height="25" Src="Images/logo.png" Alt="Evidence" Elevation="25" Class="rounded-lg mr-4" />
            <MudText Typo="Typo.h6" Style="text-align: center;">
                @Localizer["Commentaries"]
            </MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudItem Style="height: 65vh">
            <MudSimpleTable Style="overflow-x: auto;" Class="comments-table" Dense="true" Elevation="0">
                <tbody>
                    @if (_sosAnalysis.Notes != null && _sosAnalysis.Notes.Any())
                    {
                        @foreach (Commentary comment in _sosAnalysis.Notes)
                        {
                            <tr>
                                <td width="90%">
                                    <MudTextField ReadOnly @bind-Value="@comment.Comment" Label="Revisión - Modificación" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                 </td>
                             </tr>
                        }
                    }
                    else
                    {
                        <MudItem Style="height: 65vh">
                            <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                                 @Localizer["There are no commentaries"]
                             </MudAlert>
                         </MudItem>
                    }
                </tbody>
            </MudSimpleTable>

        </MudItem>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseCommentariesDialog" Variant="Variant.Filled">@Localizer["close"]</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog DisableSidePadding="false" @bind-IsVisible="visibleLogbook" Options="dialogLogbookOptions">
    <TitleContent>
        <div class="d-flex" style="align-items: center; justify-content:center;">
            <MudImage ObjectFit="ObjectFit.Cover" Height="25" Src="Images/logo.png" Alt="Evidence" Elevation="25" Class="rounded-lg mr-4" />
            <MudText Typo="Typo.h6" Style="text-align: center;">
                @Localizer["Analysis Logbook"]
            </MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudItem Style="height: 65vh">
            <MudSimpleTable Style="overflow-x: auto;" Class="comments-table" Dense="true" Elevation="0" Hover>
                <thead>
                    <tr class="table-header-gray">
                        <th>SSV</th>
                        <th>SV</th>
                        <th>Date</th>
                        <th>Revised Items</th>
                    </tr>
                </thead>
                <tbody>
                    @if (_sosAnalysis.AnalysisLogbooks?.Any() ?? false)
                    {
                        @foreach (SOSAnalysisLogbook logbook in _sosAnalysis.AnalysisLogbooks)
                        {
                            <tr>
                                <td>@logbook.SeniorSupervisor?.Name</td>
                                <td>@logbook.Supervisor?.Name</td>
                                <td>@logbook.Date?.ToShortDateString()</td>
                                <td>@logbook.RevisedItem</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">
                                <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                                     @Localizer["There is no analysis logbook"]
                                 </MudAlert>
                             </td>
                         </tr>
                    }
                </tbody>
            </MudSimpleTable>
        </MudItem>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseLogbookDialog" Variant="Variant.Filled">@Localizer["close"]</MudButton>
    </DialogActions>
</MudDialog>