@page "/soshoe/Analysis/Update/{AnalysisId:int}"

@inject NavigationManager NavigationManager
@inject ISOSAnalysisService SOSAnalysisServices
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Resource> Localizer
@inject IStringLocalizer<Resource1> Localizer1
@inject ISOSHubService SOSHubServices
@inject IDialogService DialogService

<style>
    .vertical {
        writing-mode: tb-rl;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .border-left {
        border-left: 2px solid #ababab;
    }

    .table-header td {
        background-color: #f5f5f6;
    }

    .table-header-gray th {
        background-color: #f5f5f6;
    }

    .table-header-gray td {
        padding: 0px 1% !important;
    }

    .divider {
        border-left: 1px solid var(--mud-palette-table-lines);
    }

    .images_cell {}

    .table-header-gray .images_cell {
        padding: 1% 2% !important;
    }

    .section_divider {
        border-top: 3px dashed var(--mud-palette-table-lines);
    }
</style>

@if (ShowLoading)
{
    <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true"
        Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudItem class="d-flex flex-column justify-center align-self-center">
                    <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;"
                        Indeterminate="true" />
                </MudItem>
                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
            </div>
        </ItemTemplate>
    </MudCarousel>
}
else
{
    <MudPaper Square="true" Elevation="3">
        <MudSimpleTable Class="mb-5 calendar-table rounded" Style="overflow-x: auto; float: right" Dense>
            <thead>
                <tr>
                    <th rowspan="2">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <MudItem Style="justify-content: end" Class="ml-auto">
                            <MudItem Class="d-flex">
                                @if ((user.UserType == 1 || user.UserType == 2) &&
                                                            _sosAnalysis.AnalysisLogbooks.Last()?.Status == 1)
                                {
                                    <MudChip Class="mr-10" Icon="@Icons.Material.Filled.PlaylistPlay" Color="Color.Warning"
                                        Variant="Variant.Text">
                                        @Localizer["new"]
                                    </MudChip>
                                }
                                @if ((user.UserType == 1 || user.UserType == 2) &&
                                                            _sosAnalysis.AnalysisLogbooks.Last().Status != 2)
                                {
                                    <MudButton @onclick="(() => OpenApproveAnalysis())"
                                        StartIcon="@Icons.Material.Filled.BorderColor" IconColor="Color.Info">
                                        @Localizer["approveAnalysis"]</MudButton>
                                }
                                else if (_sosAnalysis.AnalysisLogbooks.Last().Status == 2)
                                {
                                    <MudChip Class="mr-10" Icon="@Icons.Material.Filled.PlaylistAddCheck" Color="Color.Success"
                                        Variant="Variant.Text">
                                        @Localizer["approved"]!
                                    </MudChip>
                                }

                            </MudItem>
                        </MudItem>
                    </td>
                </tr>
            </tbody>
        </MudSimpleTable>
        <MudSimpleTable Dense Style="width:100%; margin:0px; padding:0px;" Square="true">
            <tbody class="table-header-gray">
                <tr>
                    <th rowspan="2">Nombre de la Operación</th>
                    <td rowspan="2" colspan="3">@_sosAnalysis.SOSHub.ProcessSheet</td>
                    <th class="divider" colspan="2">No. de Revisión</th>
                    @foreach (var revision in GetRevisionNumbers())
                    {
                        <td style="width:15%;">@revision</td>
                    }
                    <td rowspan="7" style="padding:0px!important;">
                        <MudButton Class="vertical" Style="padding:0px;" OnClick="OpenLogbookDialog">See More</MudButton>
                    </td>
                </tr>
                <tr>
                    <th class="divider" colspan="2">Fecha</th>
                    @foreach (var rev in mostRecentLogs)
                    {
                        <td style="width:15%">@(rev.Date?.ToString("dd-MMM-yyyy").Replace(".", ""))
                            <span>@rev.SOSAnalysisLogbookId</span></td>
                    }
                    @for (int j = logCount; j < 3; j++)
                    {
                        <td style="width:15%"></td>
                    }
                </tr>
                <tr>
                    <th>Número de control interno</th>
                    <td style="width:20%">@_sosAnalysis.InternalControlNumber</td>
                    <th>Nombre del proceso</th>
                    <td style="width:20%">@_sosAnalysis.ProcessName</td>
                    <th rowspan="3" colspan="2" class="divider">Punto revisado<br />( Cambio )</th>
                    @foreach (var rev in mostRecentLogs)
                    {
                        <td rowspan="3" style="width:15%">@(rev.Changes)</td>
                    }
                    @for (int j = logCount; j < 3; j++)
                    {
                        <td rowspan="3" style="width:15%"></td>
                    }
                </tr>
                <tr>
                    <th>Equipo de seguridad</th>
                    <td colspan="3">
                        @if (_sosAnalysis.SOSHub.SafetyEquipment != null && _sosAnalysis.SOSHub.SafetyEquipment.Any())
                        {
                            @foreach (var element in _sosAnalysis.SOSHub.SafetyEquipment.Take(2).ToList())
                            {
                                <MudChip Color="Color.Warning" Icon="@Icons.Material.Filled.Engineering" Size="Size.Small"
                                    Variant="Variant.Outlined">
                                    @element.EquipmentName
                                </MudChip>
                            }
                            @if (_sosAnalysis.SOSHub.SafetyEquipment.Count > 2)
                            {

                                <MudMenu Style="float:right" MaxHeight="300" ActivationEvent="@MouseEvent.MouseOver"
                                    AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                                    <ActivatorContent>
                                        <MudChip Color="Color.Default" Icon="@Icons.Material.Filled.ExpandCircleDown"
                                            Size="Size.Small" Variant="Variant.Text">
                                            Show more
                                        </MudChip>
                                    </ActivatorContent>
                                    <ChildContent>
                                        @foreach (var element in _sosAnalysis.SOSHub.SafetyEquipment)
                                        {
                                            <MudMenuItem>
                                                <MudChip Color="Color.Warning" Icon="@Icons.Material.Filled.Engineering"
                                                    Size="Size.Small" Variant="Variant.Outlined">
                                                    @element.EquipmentName
                                                </MudChip>
                                            </MudMenuItem>
                                        }
                                    </ChildContent>
                                </MudMenu>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <th>Herramientas</th>
                    <td colspan="3">
                        @if (_sosAnalysis.SOSHub.ToolsUsed != null && _sosAnalysis.SOSHub.ToolsUsed.Any())
                        {

                            @foreach (var element in _sosAnalysis.SOSHub.ToolsUsed.Take(2).ToList())
                            {
                                <MudChip Color="Color.Info" Icon="@Icons.Material.Filled.Build" Size="Size.Small"
                                    Variant="Variant.Outlined">
                                    @element.Tool?.ToolName
                                </MudChip>
                            }

                            @if (_sosAnalysis.SOSHub.ToolsUsed.Count > 2)
                            {


                                <MudMenu Style="float:right" MaxHeight="300" ActivationEvent="@MouseEvent.MouseOver"
                                    AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                                    <ActivatorContent>
                                        <MudChip Color="Color.Default" Icon="@Icons.Material.Filled.ExpandCircleDown"
                                            Size="Size.Small" Variant="Variant.Text">
                                            Show more
                                        </MudChip>
                                    </ActivatorContent>
                                    <ChildContent>
                                        @foreach (var element in _sosAnalysis.SOSHub.ToolsUsed)
                                        {
                                            <MudMenuItem>
                                                <MudChip Color="Color.Info" Icon="@Icons.Material.Filled.Build" Size="Size.Small"
                                                    Variant="Variant.Outlined">
                                                    @element.Tool?.ToolName
                                                </MudChip>
                                            </MudMenuItem>
                                        }
                                    </ChildContent>
                                </MudMenu>
                            }

                        }
                    </td>
                </tr>
                <tr>
                    <th>Unidades</th>
                    <td colspan="3">
                        @foreach (Product model in _sosAnalysis.SOSHub.AppliedModels)
                        {
                            @($"{model?.Description} -")
                        }
                    </td>
                    <th rowspan="2" class="divider"><span class="vertical">Confirmado Por</span></th>
                    <th>Supervisor Gral.<br />( Aprobó )</th>
                    @foreach (var rev in mostRecentLogs)
                    {
                        <td style="width:15%">@(rev.Approver.Name)</td>
                    }
                    @for (int j = logCount; j < 3; j++)
                    {
                        <td style="width:15%"></td>
                    }
                </tr>
                <tr>
                    <th>Tiempo de aprendizaje</th>
                    <td colspan="3">
                        <MudAutocomplete T="int" Margin="Margin.Dense" Label=@Localizer["Cycles"] Variant="Variant.Text"
                            AnchorOrigin="Origin.BottomCenter" @bind-Value="cycleId"
                            OpenIcon="@Icons.Material.Filled.AccessTime" AdornmentColor="Color.Info" Clearable
                            ResetValueOnEmptyText ShowProgressIndicator="true" ProgressIndicatorColor="Color.Info"
                            MaxItems="10" ReadOnly>
                        </MudAutocomplete>
                    </td>
                    <th>Supervisor<br />( Elaboró )</th>
                    @foreach (var rev in mostRecentLogs)
                    {
                        <td style="width:15%">@(rev.Reviewer.Name)</td>
                    }
                    @for (int j = logCount; j < 3; j++)
                    {
                        <td style="width:15%"></td>
                    }
                </tr>
            </tbody>
        </MudSimpleTable>
        <MudSimpleTable Dense Style="width:100%; margin:0px; padding:0px;" Square="true">
            <tbody class="table-header-gray">
                <tr>
                    <th>No.</th>
                    <th>Análisis</th>
                    <th>No.</th>
                    <th>Pasos Principales</th>
                    <th>Tiempo</th>
                    <th colspan="2">Punto Critico (Razon)</th>
                    <th>Ilustracion, Notas operacion, otros</th>
                </tr>
                @{
                    int indexAnalysis = 0;
                }
                @foreach (var (sect, indexSection) in _sosAnalysis.SOSHub.Sections.Select((sect, indexSection) => (sect,
                            indexSection)))
                {
                    @foreach (var (analysis, indexA) in sect.Analyses.Select((analysis, indexA) => (analysis, indexA)))
                    {
                        <tr class="@(indexSection != 0 && indexA == 0 ? "section_divider" : "")">
                            <td>@(++indexAnalysis)</td>
                            <td>
                                @((MarkupString)GenerateHighlightedText(GetFormatedAnalisisText(indexSection, indexA),
                                                    analysis.CriticalPoints))
                            </td>
                            @if (indexA == 0)
                            {
                                int TotalRowSpan = sect.Analyses.Count();
                                int indexTime = _sosAnalysis.Times.ToList().FindIndex(t => t.SectionId == sect.SectionId);
                                <td rowspan="@TotalRowSpan">@(indexSection + 1)</td>
                                <td rowspan="@TotalRowSpan">@sect.Step</td>
                                <td rowspan="@TotalRowSpan">
                                    @if (indexTime != -1)
                                    {
                                        <MudInput T="string" Value="@($"{_sosAnalysis.Times.ElementAt(indexTime).Time}")"
                                            Variant="Variant.Outlined" Margin="Margin.Dense" ValueChanged="CreateValueChangedCallback(sect)"
                                            Validation="ValidateTime" />
                                    }
                                </td>
                            }
                            <td colspan="2">
                                @foreach (var (cp, cpIndex) in analysis.CriticalPoints.Select((cp, cpIndex) => (cp, cpIndex)))
                                {
                                    <MudItem>
                                        <MudText>@cp</MudText>
                                        <MudText>
                                            @ReasonFormat(analysis.Reasons[cpIndex])
                                        </MudText>
                                    </MudItem>
                                }
                            </td>
                            @if (indexSection == 0 && indexA == 0)
                            {
                                int totalAnalyses = _sosAnalysis.SOSHub.Sections.Sum(section => section.Analyses.Count());
                                int totalCriticalPoints = _sosAnalysis.SOSHub.Sections
                                .SelectMany(section => section.Analyses)
                                .Sum(analysis => analysis.CriticalPoints.Count());
                                int totalSpecialCases = _sosAnalysis.SOSHub.MaterialsUsed.Count();

                                int TotalRowSpanImages = totalAnalyses + totalCriticalPoints + 2 + totalSpecialCases;
                                <td class="divider images_cell" rowspan="@TotalRowSpanImages"
                                    style="vertical-align: top; min-width: 30vw;">
                                    <MudItem Class="d-flex flex-column align-start">
                                        @* <MudButton Color="Color.Info" Variant="Variant.Filled" @onclick="() => OpenEvidenceDialog(0)" >Show Images Dialog</MudButton> *@
                                        <MudItem Class="d-flex">
                                            <MudButton StartIcon="@Icons.Material.Filled.Image" Color="Color.Info"
                                                Variant="Variant.Filled" @onclick="() => ShowImagesDialog()" Class="mb-4 mr-4">Images
                                                (@(capturedImages.Count + PreviousImages.Count))</MudButton>
                                            <MudButton StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary"
                                                Variant="Variant.Filled" @onclick="() => OpenCommentariesDialog()" Class="mb-4">
                                                @{
                                                    var validItemsCount = items.Where(item => item.IsActive).Count();
                                                    var validTempItemsCount = tempItems.Count(item =>
                                                    !string.IsNullOrEmpty(item.Commentary));
                                                }
                                                @if (validItemsCount > 0 || validTempItemsCount > 0)
                                                {
                                                    <span>Notes (@(validItemsCount + validTempItemsCount))</span>
                                                }
                                                else
                                                {
                                                    <span>Notes (0)</span>
                                                }
                                            </MudButton>
                                        </MudItem>
                                        @if (capturedImages.Any() || PreviousImages.Any())
                                        {
                                            <div style="display: flex; align-items: center; justify-content: space-between;">
                                                <MudItem Class="d-flex"
                                                    Style="flex-direction: row; flex-wrap: wrap; justify-content: flex-start; overflow-y: scroll; max-height:65vh; scroll-behavior: smooth; justify-content: center;">
                                                    @foreach (var (image, index) in PreviousImages.Select((image, index) => (image, index)))
                                                    {
                                                        <MudItem Class="mb-2 mr-2">
                                                            <MudImage ObjectFit="ObjectFit.Contain" Height="160" Width="260" Src=@image.Item2
                                                                Alt="Evidence" Elevation="25" Class="rounded-lg"
                                                                @onclick="() => ShowImagesDialog()" Style="cursor:pointer" />
                                                        </MudItem>
                                                    }
                                                    @foreach (var (image, index) in capturedImages.Select((image, index) => (image, index)))
                                                    {
                                                        <MudItem Class="mb-2 mr-2">
                                                            <MudImage ObjectFit="ObjectFit.Contain" Height="160" Width="260" Src=@image
                                                                Alt="Evidence" Elevation="25" Class="rounded-lg"
                                                                @onclick="() => ShowImagesDialog()" Style="cursor:pointer" />
                                                        </MudItem>
                                                    }
                                                </MudItem>
                                            </div>
                                        }
                                        else
                                        {
                                            <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                                                @Localizer["There are no images"]
                                            </MudAlert>
                                        }

                                    </MudItem>
                                </td>
                            }
                        </tr>
                    }
                }
                <tr>
                    <td colspan="3"></td>
                    <td>Total</td>
                    <td>
                        <MudInput Value="@totalTime.ToString()" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly />
                    </td>
                </tr>
                <tr>
                    <th colspan="2">SITUACIÓN ANORMAL O CASOS ESPECIALES</th>
                    <th>CLAVE</th>
                    <th colspan="2">NOMBRE DE LA PARTE</th>
                    <th>NO DE PARTE</th>
                    <th>CANTIDAD</th>
                </tr>
                @{
                    int specialCasesCount = _sosAnalysis.SOSHub.MaterialsUsed?.Count ?? 0;
                    bool firstRow = true;
                }
                @if (_sosAnalysis.SOSHub.MaterialsUsed?.Any() ?? false)
                {
                    @foreach (var material in _sosAnalysis.SOSHub.MaterialsUsed)
                    {
                        <tr>
                            @if (firstRow)
                            {
                                <td colspan="2" rowspan="@specialCasesCount">@_sosAnalysis.SOSHub.OtherInformation</td>
                                firstRow = false;
                            }
                            <td>@material.Material.key</td>
                            <td colspan="2">@material.Material.PartName</td>
                            <td>@material.Material.PartNumber</td>
                            <td>@material.Quantity</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="2">@_sosAnalysis.SOSHub.OtherInformation</td>
                        <td colspan="5">
                            <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Currently, there
                                are no Special Cases.</MudAlert>
                        </td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </MudPaper>
    <MudCardActions>
        <MudItem Class="ml-auto mt-2">
            <MudButton OnClick="UpdateAnalysis" StartIcon="@Icons.Material.Filled.PlayCircle" Disabled="UpdateButton"
                Variant="Variant.Filled" Color="Color.Info">@Localizer["Update Analysis"]</MudButton>
        </MudItem>
    </MudCardActions>
}


<MudDialog @bind-IsVisible="visibleImagesDialog" Options="dialogImagesOptions">
    <TitleContent>
        <div class="d-flex" style="align-items: center; justify-content:center;">
            <MudImage ObjectFit="ObjectFit.Cover" Height="25" Src="Images/logo.png" Alt="Evidence" Elevation="25"
                Class="rounded-lg mr-4" />
            <MudText Typo="Typo.h6" Style="text-align: center;">
                @Localizer["Analysis Images"]
            </MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudSimpleTable Elevation="0" Dense>
            <thead>
                <tr class="table-header-gray">
                    <th>SITUACIÓN ANORMAL O CASOS ESPECIALES</th>
                    <th>CLAVE</th>
                    <th>NOMBRE DE LA PARTE</th>
                    <th>NO DE PARTE</th>
                    <th>CANTIDAD</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int specialCasesCount = _sosAnalysis.SOSHub.MaterialsUsed?.Count ?? 0;
                    bool firstRow = true;
                }
                @if (_sosAnalysis.SOSHub.MaterialsUsed?.Any() ?? false)
                {
                    @foreach (var material in _sosAnalysis.SOSHub.MaterialsUsed)
                    {
                        <tr>
                            @if (firstRow)
                            {
                                <td rowspan="@specialCasesCount">@_sosAnalysis.SOSHub.OtherInformation</td>
                                firstRow = false;
                            }
                            <td>@material.Material.key</td>
                            <td>@material.Material.PartName</td>
                            <td>@material.Material.PartNumber</td>
                            <td>@material.Quantity</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">
                            <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Currently,
                                there are no Special Cases.</MudAlert>
                        </td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
        <MudItem
            Style="display: flex; align-content: space-between; flex-wrap: wrap; justify-content: space-evenly; align-items: center;"
            Class="mt-5">


        </MudItem>
        <MudItem
            Style="display: flex; align-content: space-between; flex-wrap: wrap; justify-content: space-evenly; align-items: center;  min-height: 50vh">
            @*@if (capturedImages.Any > 0)
            {*@
            <div style="display: flex; align-items: center; justify-content: space-between;" class="mt-4">
                <MudItem Class="d-flex"
                    Style="flex-direction: row; flex-wrap: wrap; justify-content: flex-start; overflow-y: scroll; max-height:50vh; scroll-behavior: smooth; justify-content: center;">
                    @foreach (var (image, index) in PreviousImages.Select((image, index) => (image, index)))
                    {
                        <MudItem Class=" mr-8 mb-4">
                            <MudItem
                                Style="text-align:end !important; margin-right: -15px; margin-bottom: -7px; cursor:pointer">
                                <MudTooltip Text="Edit photo" Color="Color.Info" Placement="Placement.Right" Arrow="true">
                                    <MudIcon Icon="@Icons.Material.Filled.Edit" Color="Color.Info"
                                        @onclick="() => OpenEditImageDialog(image.Item2, index, true, image.Item1)" />
                                </MudTooltip>
                                <MudTooltip Text="Delete photo" Color="Color.Error" Placement="Placement.Right"
                                    Arrow="true">
                                    <MudIcon Icon="@Icons.Material.Filled.Delete" Color="Color.Error"
                                        @onclick="() => RemoveOldImage(image.Item1)"></MudIcon>
                                </MudTooltip>
                            </MudItem>
                            <MudImage ObjectFit="ObjectFit.Contain" Height="80" Width="130" Src=@image.Item2 Alt="Evidence"
                                Elevation="25" Class="rounded-lg" Style="cursor:pointer"
                                @onclick="() => OpenEvidenceDialog(index)" />
                        </MudItem>
                    }
                    @foreach (var (image, index) in capturedImages.Select((image, index) => (image, index)))
                    {
                        <MudItem Class=" mr-8 mb-4">
                            <MudItem
                                Style="text-align:end !important; margin-right: -15px; margin-bottom: -7px; cursor:pointer">
                                <MudTooltip Text="Edit photo" Color="Color.Info" Placement="Placement.Right" Arrow="true">
                                    <MudIcon Icon="@Icons.Material.Filled.Edit" Color="Color.Info"
                                        @onclick="() => OpenEditImageDialog(image, index, false)" />
                                </MudTooltip>
                                <MudTooltip Text="Delete photo" Color="Color.Error" Placement="Placement.Right"
                                    Arrow="true">
                                    <MudIcon Icon="@Icons.Material.Filled.Delete" Color="Color.Error"
                                        @onclick="() => RemoveImage(index, 1)"></MudIcon>
                                </MudTooltip>
                            </MudItem>
                            <MudImage ObjectFit="ObjectFit.Contain" Height="80" Width="130" Src=@image Alt="Evidence"
                                Elevation="25" Class="rounded-lg" Style="cursor:pointer"
                                @onclick="() => OpenEvidenceDialog(index, false)" />
                        </MudItem>
                    }
                </MudItem>

            </div>
            @* } *@
        </MudItem>
    </DialogContent>
    <DialogActions>
        <InputFile id="previousEvidence" OnChange="@((e) => AddImages(e))" hidden multiple
            accept=".jpg, .jpeg, .gif, .svg, .png"></InputFile>
        <MudButton Class="flex-initial d-flex flex-grow-0 px-9 py-2" HtmlTag="label" Variant="Variant.Filled"
            Color="Color.Primary" StartIcon="@Icons.Material.Filled.Image" for="previousEvidence">
            Load picture
        </MudButton>
        <MudButton OnClick="CloseImagesDialog" Variant="Variant.Filled" Class="ml-4">@Localizer["close"]</MudButton>
    </DialogActions>
</MudDialog>



@*Evidence Modal*@
<MudDialog DisableSidePadding="false" @bind-IsVisible="visibleEvidence" Options="dialogEvidenceOptions">
    <DialogContent>
        <MudPaper Elevation="0">
            @if (capturedImages.Any() || PreviousImages.Any())
            {
                <MudCarousel Class="mud-width-full" Style="height: 65vh" ShowArrows=true ShowBullets=true
                    EnableSwipeGesture=true AutoCycle="false" TData="object" @bind-SelectedIndex=@photoIndex>
                    <PreviousButtonTemplate>
                        <MudAvatar Color="Color.Dark" Variant="Variant.Filled" Class="ml-4" Style="cursor:pointer">
                            <MudIcon Icon="@Icons.Material.Filled.NavigateBefore" />
                        </MudAvatar>
                    </PreviousButtonTemplate>
                    <NextButtonTemplate>
                        <MudAvatar Color="Color.Dark" Variant="Variant.Filled" Class="mr-4" Style="cursor:pointer">
                            <MudIcon Icon="@Icons.Material.Filled.NavigateNext" />
                        </MudAvatar>
                    </NextButtonTemplate>
                    <ChildContent>

                        @foreach (var evidence in PreviousImages)
                        {
                            <MudCarouselItem Transition="Transition.Fade">
                                <MudImage ObjectFit="ObjectFit.Cover" Height="720" Width="1280" Src=@evidence.Item2
                                    Alt="Evidence" Elevation="25" Class="rounded-lg"
                                    Style="max-height: 66vh; width: 100%; border-radius: 10px; margin-bottom:24px;" />
                            </MudCarouselItem>
                        }
                        @foreach (var evidence in capturedImages)
                        {
                            <MudCarouselItem Transition="Transition.Fade">
                                <MudImage ObjectFit="ObjectFit.Cover" Height="720" Width="1280" Src=@evidence Alt="Evidence"
                                    Elevation="25" Class="rounded-lg"
                                    Style="max-height: 66vh; width: 100%; border-radius: 10px; margin-bottom:24px;" />
                            </MudCarouselItem>
                        }
                    </ChildContent>
                </MudCarousel>
            }
            else
            {
                <MudItem Style="height: 65vh">
                    <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                        @Localizer["There are no images"]
                    </MudAlert>
                </MudItem>
            }
        </MudPaper>
    </DialogContent>
</MudDialog>


<MudDialog DisableSidePadding="false" @bind-IsVisible="visibleCommentaries" Options="dialogCommentariesOptions">
    <TitleContent>
        <div class="d-flex" style="align-items: center; justify-content:center;">
            <MudImage ObjectFit="ObjectFit.Cover" Height="25" Src="Images/logo.png" Alt="Evidence" Elevation="25"
                Class="rounded-lg mr-4" />
            <MudText Typo="Typo.h6" Style="text-align: center;">
                @Localizer["Commentaries"]
            </MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudItem Style="height: 65vh">
            <MudSimpleTable Style="overflow-x: auto;" Class="comments-table" Dense="true" Elevation="0">
                <tbody>
                    @foreach (var item in items.Where(i => i.IsActive))
                    {
                        <tr>
                            <td width="90%">
                                <MudTextField @bind-Value="@item.Commentary" Label="Revisión - Modificación"
                                    Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                            </td>
                            @if (items.IndexOf(item) > 0)
                            {
                                <td width="10%">
                                    <MudButton Variant="Variant.Text" Color="Color.Error"
                                        OnClick="() => RemoveItem(item, false)" StartIcon="@Icons.Material.Filled.Delete">Remove
                                    </MudButton>
                                </td>
                            }
                        </tr>
                    }
                    @foreach (var tempItem in tempItems)
                    {
                        <tr>
                            <td width="90%">
                                <MudTextField @bind-Value="@tempItem.Commentary" Label="Revisión - Modificación"
                                    Variant="Variant.Outlined" Margin="Margin.Dense" Immediate></MudTextField>
                            </td>
                            @if (tempItems.IndexOf(tempItem) > 0 || items.Count() > 0)
                            {
                                <td width="10%">
                                    <MudButton Variant="Variant.Text" Color="Color.Error"
                                        OnClick="() => RemoveItem(tempItem, true)" StartIcon="@Icons.Material.Filled.Delete">
                                        Remove</MudButton>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
            <MudButton OnClick="AddItem" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add"
                Style="float: right">Add Commentary</MudButton>
        </MudItem>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseCommentariesDialog" Variant="Variant.Filled">@Localizer["close"]</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog DisableSidePadding="false" @bind-IsVisible="visibleLogbook" Options="dialogLogbookOptions">
    <TitleContent>
        <div class="d-flex" style="align-items: center; justify-content:center;">
            <MudImage ObjectFit="ObjectFit.Cover" Height="25" Src="Images/logo.png" Alt="Evidence" Elevation="25"
                Class="rounded-lg mr-4" />
            <MudText Typo="Typo.h6" Style="text-align: center;">
                @Localizer["Analysis Logbook"]
            </MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudItem Style="height: 65vh">
            <MudSimpleTable Style="overflow-x: auto;" Class="comments-table" Dense="true" Elevation="0" Hover>
                <thead>
                    <tr class="table-header-gray">
                        <th>No. de revisión</th>
                        <th>SSV</th>
                        <th>SV</th>
                        <th>Date</th>
                        <th>Revised Items</th>
                    </tr>
                </thead>
                <tbody>
                    @if (_sosAnalysis.AnalysisLogbooks?.Any() ?? false)
                    {
                        int i = 0;
                        @foreach (SOSAnalysisLogbook logbook in _sosAnalysis.AnalysisLogbooks)
                        {
                            <tr>
                                <td>
                                    @if (i == 0)
                                    {
                                        <span>N</span>
                                        i++;
                                    }
                                    else
                                    {
                                        <span>@(i++)</span>
                                    }
                                </td>
                                <td>@logbook.Approver?.Name</td>
                                <td>@logbook.Reviewer?.Name</td>
                                <td>@logbook.Date?.ToShortDateString()</td>
                                <td>@logbook.Changes</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">
                                <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                                    @Localizer["There is no analysis logbook"]
                                </MudAlert>
                            </td>
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
        </MudItem>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseLogbookDialog" Variant="Variant.Filled">@Localizer["close"]</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-IsVisible="visibleApproveAnalysis" Options="dialogSignOptions">
    <DialogContent>
        <MudText Typo="Typo.h6">Confirm</MudText>
        <MudText Class="mt-4 mb-4">
            <span style="color: #2196f3; text-align:justify">@user.Name</span>,
            @Localizer["areYouSureYouWantToApproveThisAnalysis"]
        </MudText>
        <MudText Class="mt-4 mb-4">
            @Localizer["onceApprovedItCannotBeModified"]
        </MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseSign" Variant="Variant.Filled">@Localizer["cancel"]</MudButton>
        <MudButton @onclick="(() => ApproveAnalysis())" Color="Color.Info"
            StartIcon="@Icons.Material.Filled.PlaylistAddCheck" Variant="Variant.Filled">@Localizer["approveAnalysis"]
        </MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-IsVisible="visibleEditImage" Options="dialogEditImagesOptions">
    <DialogContent>
        <UpdateImage @ref="updateImageComponent" ImageIndex="ImageIndex" IsPrevious="IsPreviousPhoto"
            UpdatePhoto="@((args)=> UpdatePhoto(args.Item1, args.Item2, args.Item3))"></UpdateImage>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseEditImageDialog" Variant="Variant.Filled">@Localizer["cancel"]</MudButton>
    </DialogActions>
</MudDialog>