@inject IStringLocalizer<Resource> Localizer

<MudExpansionPanel IsInitiallyExpanded=true Style="min-width: 100%">
    <TitleContent>
        @title
        <MudText Typo="Typo.h6" Style="text-align: center;">
            @category.Description
        </MudText>
    </TitleContent>
    <ChildContent>
        <MudSimpleTable Style="overflow-x: auto;" Dense=true Bordered=true Class="mb-3" Elevation="0">
            <thead>
                <tr>
                    <th>
                        <MudText Style="font-weight:bold;">
                            @Localizer["Questions"]
                        </MudText>
                    </th>
                    <th>
                        <MudText Style="text-align:center; font-weight:bold;">
                            @Localizer["Answers"]
                        </MudText>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var question in category.ChecklistQuestions)
                {
                    int secNum = section;
                    ChecklistAnswer answer = questionAnswers[question.QuestionID];
                    <tr>
                        <td width="70%">
                            <MudText Align="Align.Justify"><b>@(section)-@question.CategorySequence.</b>  @(currentLanguage == "es-ES" ? question.Prompt : question.PromptEN) </MudText>
                        </td>
                        <td width="25%">
                            <MudItem style="align-content: end; display: flex; justify-content: center;">
                                <MudRadioGroup T="string" SelectedOption="answer.Answer" SelectedOptionChanged="(an)=>AnswerChangeOption.InvokeAsync((an, question.QuestionID))" Disabled="@(_jobObservation.Status == 6)">
                                    <MudRadio Option="@("YES")" Color="Color.Success" UnCheckedColor="Color.Info" Dense="true" @onchange="@(() => questionAnswers[question.QuestionID].Show = true)">Yes</MudRadio>
                                    <MudRadio Option="@("NG")" Color="Color.Error" UnCheckedColor="Color.Info" Dense="true" @onchange="(() => AddLupOpportunity.InvokeAsync((questionAnswers[question.QuestionID], secNum, question)))">NG</MudRadio>
                                    <MudRadio Option="@("N/A")" Color="Color.Info" UnCheckedColor="Color.Info" Dense="true" @onchange="@(() => questionAnswers[question.QuestionID].Show = true)">N/A</MudRadio>
                                </MudRadioGroup>
                            </MudItem>
                        </td>

                        <td>
                            <MudButton Style=" display: -webkit-box;" Color="Color.Info" Variant="Variant.Outlined" Size="Size.Small" EndIcon="@(question.show ? @Icons.Material.Filled.KeyboardArrowUp : @Icons.Material.Filled.KeyboardArrowDown)" OnClick="@(() => questionAnswers[question.QuestionID].Show = !questionAnswers[question.QuestionID].Show)"></MudButton>
                        </td>
                    </tr>
                    @if (answer.Show)
                    {
                        <tr>
                            <td colspan="3">
                                <MudItem Style="display:flex; justify-content: space-around; flex-wrap: nowrap;">
                                    <MudItem Style="width: 60%; display: flex; justify-content: center; flex-direction: column">

                                        @if (_jobObservation.Status != 6)
                                        {

                                            <MudItem Style="display: flex; align-content: space-between; flex-wrap: wrap; justify-content: space-evenly; align-items: center;">

                                                @if (answer.capturedImages.Count() + answer.capturedImagesFiles?.Count() + answer.Evidences?.Count() < 5)
                                                {
                                                    <InputFile id="@(question.QuestionID.ToString())" OnChange="@( (e) => UploadFiles.InvokeAsync((e, answer)))" hidden single accept=".jpg, .jpeg, .gif, .svg, .png"></InputFile>
                                                    <MudButton Class="flex-initial d-flex flex-grow-0 px-9 py-2"
                                                               HtmlTag="label"
                                                               Variant="Variant.Filled"
                                                               Color="Color.Primary"
                                                               StartIcon="@Icons.Material.Filled.Image"
                                                               for="@(question.QuestionID.ToString())">
                                                        Load picture
                                                    </MudButton>
                                                }

                                                @if (answer.capturedImages.Count() + answer.capturedImagesFiles?.Count() + answer.Evidences?.Count < 5)
                                                {
                                                    <MudTooltip Text="Take photo" Color="Color.Info" Placement="Placement.Right" Arrow="true">
                                                        <MudIconButton @onclick="(() => OpenCameraAnswerDialog.InvokeAsync(answer))" @ontouchstart="(() => OpenCameraAnswerDialog.InvokeAsync(answer))" Color="Color.Info" Size="Size.Small" Icon="@Icons.Material.Filled.AddAPhoto"></MudIconButton>
                                                    </MudTooltip>
                                                }

                                            </MudItem>
                                        }
                                        <MudItem Class="d-flex" Style="display: flex; align-content: space-between; flex-wrap: wrap; justify-content: space-evenly; align-items: center;">

                                            <MudItem Class="d-flex" Style="flex-direction: row; flex-wrap: wrap; justify-content: flex-start;">

                                                @foreach (var (file, index) in answer.MediaUris.Select((file, index) => (file, index)))
                                                {
                                                    <MudItem Class=" mr-8 mb-4">
                                                        <MudItem Style="text-align:end !important; margin-right: -15px; margin-bottom: -7px; cursor:pointer">
                                                            <MudTooltip Text="Delete photo" Color="Color.Error" Placement="Placement.Right" Arrow="true">
                                                                <MudIcon Icon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="() => RemoveImageFileAnswer.InvokeAsync((answer, index))" @ontouchstart="() => RemoveImageFileAnswer.InvokeAsync((answer, index))"></MudIcon>
                                                            </MudTooltip>
                                                        </MudItem>
                                                        <MudListItem Icon="@Icons.Material.Filled.PictureInPicture" @key="@file">
                                                            <MudImage ObjectFit="ObjectFit.Cover" Height="180" Width="320" Src="@file" Elevation="25" Class="rounded-lg" />
                                                        </MudListItem>
                                                    </MudItem>
                                                }
                                            </MudItem>
                                            <MudItem Class="d-flex" Style="flex-direction: row; flex-wrap: wrap; justify-content: flex-start;">

                                                @foreach (var (image, index) in answer.capturedImages.Select((image, index) => (image, index)))
                                                {
                                                    <MudItem Class=" mr-8 mb-4">
                                                        <MudItem Style="text-align:end !important; margin-right: -15px; margin-bottom: -7px; cursor:pointer">
                                                            <MudTooltip Text="Delete photo" Color="Color.Error" Placement="Placement.Right" Arrow="true">
                                                                <MudIcon Icon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="() => RemoveImageAnswer.InvokeAsync((answer, index))" @ontouchstart="() => RemoveImageAnswer.InvokeAsync((answer, index))"></MudIcon>
                                                            </MudTooltip>
                                                        </MudItem>
                                                        <MudListItem Icon="@Icons.Material.Filled.Camera" @key="@image">
                                                            <MudImage ObjectFit="ObjectFit.Cover" Height="180" Width="320" Src=@image Alt="Evidence" Elevation="25" Class="rounded-lg" />
                                                        </MudListItem>
                                                    </MudItem>
                                                }
                                            </MudItem>
                                        </MudItem>
                                    </MudItem>
                                    @{
                                        bool isDisabled = string.IsNullOrEmpty(answer.CommentarySV) || answer.Answer != "NG";
                                        string answerCommentarySV = answer.CommentarySV ?? "";
                                    }
                                    <MudItem Style="display:flex; flex-direction: column;  width: 30%" Class="ma-5">
                                        <MudTextField Disabled="@(user.UserType > 3)" T="string" Label="Comment" Variant="Variant.Outlined" Margin="Margin.Dense" @bind-Value="@answer.CommentarySV" Lines="3" TextChanged="()=>AnswerComentaryUpdate.InvokeAsync()" />
                                        <MudButton Class="my-2"
                                                   Variant="Variant.Filled"
                                                   Color="Color.Primary"
                                                   EndIcon="@Icons.Material.Filled.Send"
                                                   Disabled="@isDisabled"
                                                   @onclick="(() => UpdateListEntry.InvokeAsync((question, secNum, answerCommentarySV)))">
                                            Enviar al Lup
                                        </MudButton>
                                        <MudTextField Disabled="@(user.UserType > 2)" T="string" Label="Senior Supervisor Comment" Variant="Variant.Outlined" Margin="Margin.Dense" @bind-Value="@answer.CommentarySSV" Lines="3" TextChanged="()=>AnswerComentaryUpdate.InvokeAsync()"/>
                                    </MudItem>
                                </MudItem>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </MudSimpleTable>
    </ChildContent>
</MudExpansionPanel>

@code {
    [Parameter]
    public string title { get; set; } = "";

    [Parameter]
    public JobCategoryStructure category { get; set; }

    [Parameter]
    public int section { get; set; }

    [Parameter]
    public Dictionary<int, ChecklistAnswer> questionAnswers { get; set; }
    [Parameter]
    public string currentLanguage { get; set; }
    [Parameter]
    public User user { get; set; } = new();
    [Parameter]
    public JobObservation _jobObservation { get; set; } = new();

    [Parameter]
    public EventCallback<(string, int)> AnswerChangeOption { get; set; }
    [Parameter]
    public EventCallback<(ChecklistAnswer, int, ChecklistQuestion)> AddLupOpportunity { get; set; }
    [Parameter]
    public EventCallback<(InputFileChangeEventArgs, ChecklistAnswer)> UploadFiles { get; set; }
    [Parameter]
    public EventCallback<ChecklistAnswer> OpenCameraAnswerDialog { get; set; }
    [Parameter]
    public EventCallback<(ChecklistAnswer, int)> RemoveImageFileAnswer { get; set; }
    [Parameter]
    public EventCallback<(ChecklistAnswer, int)> RemoveImageAnswer { get; set; }
    [Parameter]
    public EventCallback AnswerComentaryUpdate { get; set; }
    [Parameter]
    public EventCallback<(ChecklistQuestion, int, string)> UpdateListEntry { get; set; }

}
