@inject IStringLocalizer<Resource> Localizer
@inject ISnackbar Snackbar

<MudExpansionPanel Text="Section 1" IsInitiallyExpanded=true Style="min-width: 100%;">
    <TitleContent>
        <MudText Typo="Typo.h6" Style="text-align:center">
            @Localizer["jobObservacionCiclycalCard"] @_jobObservation.JobObservationId
            @if (_jobObservation.Type == 1)
            {
                <MudChip Variant="Variant.Text" Color="Color.Surface" Class="pl-3">Planned</MudChip>
            }
            else if (_jobObservation.Type == 2)
            {
                <MudChip Variant="Variant.Text" Color="Color.Surface" Class="pl-3">Eventual</MudChip>
            }
        </MudText>
    </TitleContent>
    <ChildContent>
        <MudSimpleTable Elevation="0" Dense="@dense" Hover="@hover" ReadOnly="@ronly"
                        HorizontalScrollbar="true">
            <tbody>
                <tr>
                    <td style="width:50%">
                        <div class="d-flex">
                            @*Mud select of Plants *@
                            <MudSelect T="int" Label=@Localizer["plant"] Variant="Variant.Text" Class="mr-4" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_jobObservation.PlantId" For="@(() => _jobObservation.PlantId)" SelectedValuesChanged="()=>ShowAreas.InvokeAsync()" ReadOnly="@(_jobObservation.Status == 6)" >
                                <MudSelectItem Disabled="true" Value="0">@Localizer["selectAPlant"]</MudSelectItem>
                                @foreach (var type in _plants)
                                {
                                    <MudSelectItem Value="type.PlantId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                }
                            </MudSelect>
                            @*Mud select of Areas *@
                            <MudSelect T="int" Label=@Localizer["area"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_jobObservation.AreaId" For="@(() => _jobObservation.AreaId)" SelectedValuesChanged="()=>ShowDistributions.InvokeAsync()" ReadOnly="@(_jobObservation.Status == 6)" >
                                <MudSelectItem Disabled="true" Value="0">@Localizer["selectAnArea"]</MudSelectItem>
                                @foreach (var type in _areas)
                                {
                                    <MudSelectItem Value="type.AreaId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                }
                            </MudSelect>
                        </div>
                    </td>
                    <td class="d-flex mt-3">
                        <MudDatePicker @bind-Date="_jobObservation.StartDate" Label=@Localizer["startDate"] Color="Color.Info" AdornmentColor="Color.Info" Class="mr-4" ReadOnly PickerClosed="ShowDateMessage" />
                        <MudDatePicker @bind-Date="_jobObservation.EndDate" Label=@Localizer["endDate"] Color="Color.Info" AdornmentColor="Color.Info" MinDate="_jobObservation.StartDate" ReadOnly PickerClosed="ShowDateMessage" />
                    </td>
                </tr>
                <tr>
                    <td>
                        @*Mud select of Distribution *@
                        <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="0">
                            <MudSelect T="int" Label=@Localizer["distribution"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_jobObservation.DistributionId" For="@(() => _jobObservation.DistributionId)" SelectedValuesChanged="()=>ShowOperations.InvokeAsync()" ReadOnly="@(_jobObservation.Status == 6)" >
                                <MudSelectItem Disabled="true" Value="0">@Localizer["selectADistribution"]</MudSelectItem>
                                @foreach (var type in _distributions)
                                {
                                    string cssClass = DistributionCritical[type.DistributionId] switch
                                    {
                                        0 => "red",
                                        1 => "yellow",
                                        _ => ""
                                    };
                                    <MudSelectItem Class="@cssClass" Value="type.DistributionId" Style="display: flex; align-items: center; justify-content: space-evenly;">
                                        @($"{type.Description}   ")
                                        @switch (type.CriticalType)
                                        {
                                            case 1:
                                                <img src="Images/A.png" Height="25" Width="25" />
                                                break;
                                            case 2:
                                                <img src="Images/B.png" Height="25" Width="25" />
                                                break;
                                            case 3:
                                                <img src="Images/C.png" Height="25" Width="25" />
                                                break;
                                        }
                                    </MudSelectItem>
                                }
                            </MudSelect>
                            <MudTooltip Class="mt-2 pa-0" Color="Color.Info">
                                <ChildContent>
                                    <MudIconButton Icon="@Icons.Material.Filled.Info" Color="Color.Info" />
                                </ChildContent>
                                <TooltipContent>
                                    <MudPaper Class="pa-2" Elevation="1">
                                        <MudText><span class="red-circle"></span>@Localizer["Critical"]</MudText>
                                        <MudText><span class="yellow-circle"></span>@Localizer["Warning"]</MudText>
                                    </MudPaper>
                                </TooltipContent>
                            </MudTooltip>
                        </MudStack>
                    </td>
                    <td class="d-block mt-3">
                        @if (user.UserType == 1)
                        {
                            @if (_jobObservation.AreaId != 0)
                            {
                                @if (_supervisors.Count > 0)
                                {
                                    <MudSelect T="int" Label=@Localizer["observer"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_jobObservation.SupervisorId" For="@(() => _jobObservation.SupervisorId)" SelectedValuesChanged="()=>ShowOperators.InvokeAsync()" ReadOnly="@(_jobObservation.Status == 6)" >
                                        <MudSelectItem Disabled="true" Value="0">@Localizer["selectASupervisor"]</MudSelectItem>
                                        @foreach (var type in _supervisors)
                                        {
                                            <MudSelectItem Value="type.UserId">
                                                @type.Name
                                            </MudSelectItem>
                                        }
                                    </MudSelect>
                                }
                                else
                                {
                                    <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                                        @Localizer["thisAreaDoesNotHaveSupervisors"]
                                    </MudAlert>
                                }
                            }
                            else
                            {
                                <MudSelect T="int" Label=@Localizer["observer"] Disabled Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_jobObservation.SupervisorId" ReadOnly="@(_jobObservation.Status == 6)" >
                                    <MudSelectItem Disabled="true" Value="0">@Localizer["firstSelectAnArea"]</MudSelectItem>
                                </MudSelect>
                            }

                        }
                        else if (user.UserType == 2)
                        {
                            @if (_jobObservation.AreaId != 0)
                            {
                                @if (_supervisors.Count > 0)
                                {
                                    <MudSelect T="int" Label=@Localizer["observer"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_jobObservation.SupervisorId" For="@(() => _jobObservation.SupervisorId)" SelectedValuesChanged="()=>ShowOperators.InvokeAsync()" ReadOnly="@(_jobObservation.Status == 6)" >
                                        <MudSelectItem Disabled="true" Value="0">@Localizer["selectASupervisor"]</MudSelectItem>
                                        @foreach (var type in _supervisors)
                                        {
                                            <MudSelectItem Value="type.UserId">
                                                @type.Name
                                            </MudSelectItem>
                                        }
                                    </MudSelect>
                                }
                                else
                                {
                                    <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                                        @Localizer["thisAreaDoesNotHaveSupervisors"]
                                    </MudAlert>
                                }
                            }
                            else
                            {
                                <MudSelect T="int" Label=@Localizer["observer"] Disabled Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_jobObservation.SupervisorId" ReadOnly="@(_jobObservation.Status == 6)" >
                                    <MudSelectItem Disabled="true" Value="0">@Localizer["firstSelectAnArea"]</MudSelectItem>
                                </MudSelect>
                            }
                        }
                        else if (user.UserType == 3)
                        {
                            <MudTextField T="string" @bind-Value="_jobObservation.Supervisor.Name" Label=@Localizer["observer"] ReadOnly />
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        @if (_jobObservation.DistributionId != 0)
                        {

                            <MudCard Elevation="0">
                                <MudCardContent>
                                    <MudText>Operations</MudText>
                                    <div class="toggle-group-container">
                                        @foreach (Operation operation in _jobObservation.Operations)
                                        {
                                            <MudChip T="string" Variant="Variant.Text" Color="Color.Info" Class="toggle-column"  >
                                                @($"{operation.Code} - {operation.Description}")
                                                @switch (operation.CriticalType)
                                                {
                                                    case 1:
                                                        <MudItem>
                                                            <img src="Images/A.png" Height="25" Width="25" />
                                                        </MudItem>
                                                        break;
                                                    case 2:
                                                        <MudItem>
                                                            <img src="Images/B.png" Height="25" Width="25" />
                                                        </MudItem>
                                                        break;
                                                    case 3:
                                                        <MudItem>
                                                            <img src="Images/C.png" Height="25" Width="25" />
                                                        </MudItem>
                                                        break;
                                                }
                                            </MudChip>
                                        }
                                    </div>
                                    <MudButton OnClick="()=>UpdateShowOperations.InvokeAsync()"
                                               Variant="Variant.Outlined"
                                               EndIcon="@Icons.Material.Filled.Assignment"
                                               Color="Color.Secondary"
                                               Disabled="@(_jobObservation.Status == 6)">
                                        @if (_jobObservation.Operations.Count() > 0)
                                        {
                                            <MudText>
                                                Edit Operation
                                            </MudText>
                                        }
                                        else
                                        {
                                            <MudText>
                                                Select Operation
                                            </MudText>
                                        }
                                    </MudButton>
                                </MudCardContent>
                            </MudCard>





                        }
                        else
                        {
                            <MudSelect T="int" Label=@Localizer["operation"] Disabled Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" ReadOnly="@(_jobObservation.Status == 6)">
                                <MudSelectItem Disabled="true" Value="0">First select a distribution</MudSelectItem>
                            </MudSelect>
                        }
                    </td>
                    <td class="d-block mt-3">
                        @*class="d-flex mt-3"*@
                        <div style="display: flex; justify-content: space-between;">
                            <div style="width: 50%;">
                            @*Mud select for Operator *@
                            <MudSelect T="int" Label=@Localizer["operator"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_jobObservation.OperatorId" For="@(() => _jobObservation.OperatorId)" ReadOnly="@(_jobObservation.Status == 6)" SelectedValuesChanged="()=>UpdateOperator.InvokeAsync()">
                                <MudSelectItem Disabled="true" Value="0">@Localizer["selectAnOperator"]</MudSelectItem>
                                @foreach (var type in operatorUsers)
                                {
                                    <MudSelectItem Value="type.UserId">@($"{type.Name}")</MudSelectItem>
                                }
                            </MudSelect>
                        </div>
                        <div style="width: 35%;">
                            @if (_jobObservation.OperatorId != 0 && _jobObservation.Operator != null)
                            {
                                @if (_jobObservation.Operator.ILURegisers != null && _jobObservation.Operator.ILURegisers?.Count > 0 && _jobObservation.DistributionId != 0)
                                {
                                    var latestContext = _jobObservation.Operator.ILURegisers.Where(r => r.DistributionId == _jobObservation.DistributionId).OrderByDescending(c => c.AcquisitionDate).FirstOrDefault();
                                    @if (latestContext != null)
                                    {
                                        string imageSrc = "";
                                        @if (_jobObservation.Type == 4 && _jobObservation.Status != 6)
                                        {
                                            string imageUpgradeSrc = latestContext.ILULevelId switch
                                            {

                                                1 => "Images/I.png",
                                                2 => "Images/LTrainee.png",
                                                3 => "Images/LTraineeLeader.png",
                                                4 => "Images/L.png",
                                                5 => "Images/LLeader.png",
                                                6 => "Images/UTrainee.png",
                                                7 => "Images/ULeaderTrainee.png",
                                                8 => "Images/U.png",
                                                9 => "Images/ULeader.png",

                                                _ => ""
                                            };
                                            switch (latestContext.ILULevelId)
                                            {
                                                case 1:
                                                    imageSrc = "Images/ITrainee.png";
                                                    break;
                                                case 2:
                                                    imageSrc = "Images/I.png";
                                                    break;
                                                case 3:
                                                    imageSrc = "Images/ILeader.png";
                                                    break;
                                                case 4:
                                                    imageSrc = "Images/LTrainee.png";
                                                    break;
                                                case 5:
                                                    imageSrc = "Images/LTraineeLeader.png";
                                                    break;
                                                case 6:
                                                    imageSrc = "Images/L.png";
                                                    break;
                                                case 7:
                                                    imageSrc = "Images/LLeader.png";
                                                    break;
                                                case 8:
                                                    imageSrc = "Images/UTrainee.png";
                                                    break;
                                                case 9:
                                                    imageSrc = "Images/ULeaderTrainee.png";
                                                    break;
                                                case 10:
                                                    imageSrc = "Images/ULeader.png";
                                                    break;
                                                case 11:
                                                    imageSrc = "Images/U.png";
                                                    break;
                                                default:
                                                    imageSrc = "Images/default.png";
                                                    break;
                                            }

                                            <MudSelect T="int" Label="ILU" Value="1" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" ReadOnly="true">
                                                <MudSelectItem Value="1">
                                                    <div style="display: flex; justify-content: space-between; align-items: center;">
                                                        <MudImage Src="@imageSrc" Alt="ILU Image" Height="30" Class="rounded-lg" Style="margin-top: -5px" />
                                                        @if (imageUpgradeSrc != "")
                                                        {
                                                            <MudIcon Icon="@Icons.Material.Filled.DoubleArrow" />
                                                            <MudImage Src="@imageUpgradeSrc" Alt="ILU Image" Height="30" Class="rounded-lg" Style="margin-top: -5px" />
                                                        }
                                                    </div>
                                                </MudSelectItem>
                                            </MudSelect>

                                        }
                                        else
                                        {
                                            switch (latestContext.ILULevelId)
                                            {
                                                case 1:
                                                    imageSrc = "Images/ITrainee.png";
                                                    break;
                                                case 2:
                                                    imageSrc = "Images/I.png";
                                                    break;
                                                case 3:
                                                    imageSrc = "Images/ILeader.png";
                                                    break;
                                                case 4:
                                                    imageSrc = "Images/LTrainee.png";
                                                    break;
                                                case 5:
                                                    imageSrc = "Images/LTraineeLeader.png";
                                                    break;
                                                case 6:
                                                    imageSrc = "Images/L.png";
                                                    break;
                                                case 7:
                                                    imageSrc = "Images/LLeader.png";
                                                    break;
                                                case 8:
                                                    imageSrc = "Images/UTrainee.png";
                                                    break;
                                                case 9:
                                                    imageSrc = "Images/ULeaderTrainee.png";
                                                    break;
                                                case 10:
                                                    imageSrc = "Images/ULeader.png";
                                                    break;
                                                case 11:
                                                    imageSrc = "Images/U.png";
                                                    break;
                                                default:
                                                    imageSrc = "Images/default.png";
                                                    break;
                                            }
                                            <MudImage Src="@imageSrc" Alt="ILU Image" Height="45" Class="rounded-lg" Style="margin-top: -5px" />
                                        }
                                    }
                                    else
                                    {
                                        <MudTextField Class="ml-4" T="string" Style="max-width:70px" Text="No ILU Level found" Label="ILU Level" ReadOnly />
                                    }
                                }
                                else
                                {
                                    <MudTextField Class="ml-4" T="string" Style="max-width:70px" Text="No ILU Level found" Label="ILU Level" ReadOnly />
                                }
                            }
                            else
                            {
                                <MudTextField Class="ml-4" T="string" Style="max-width:70px" Text="No operator selected" Label="ILU Level" ReadOnly />
                            }
                        </div>
                        </div>
                        @if (_jobObservation.SupervisorId != 0)
                        {
                            <MudCard Class="mt-3">
                                <MudCardContent style="display: flex; justify-content: space-between;">
                                    <div style="width: 70%" class="ml-2">
                                        <MudText Typo="Typo.caption">@Localizer["UseOfSSV"]</MudText>
                                    </div>

                                    @if (_jobObservation.WillNotRequireSSVApproval)
                                    {
                                        <MudButton Color="Color.Success" Variant="Variant.Filled" OnClick="@EnableSSV" StartIcon="@Icons.Material.Filled.AddModerator">
                                            @Localizer["Enable"]
                                        </MudButton>
                                    }
                                    else
                                    {
                                        <MudButton Color="Color.Warning" Variant="Variant.Filled" OnClick="@DisableSSV" StartIcon="@Icons.Material.Filled.RemoveModerator">
                                            @Localizer["Disable"]
                                        </MudButton>
                                    }
                                </MudCardContent>
                            </MudCard>
                        }
                    </td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </ChildContent>
</MudExpansionPanel>
@if (_jobObservation.SupervisorId == 0)
{
    <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">@Localizer["firstCompleteTheformAbove"]</MudAlert>
    return;
}



@code {
    [Parameter]
    public User user { get; set; } = new();
    [Parameter]
    public JobObservation _jobObservation { get; set; } = new();
    [Parameter]
    public List<Plant> _plants { get; set; } = new();
    [Parameter]
    public List<Area> _areas { get; set; } = new();
    [Parameter]
    public List<Distribution> _distributions { get; set; } = new();
    [Parameter]
    public List<User> _supervisors { get; set; } = new();
    [Parameter]
    public List<Operation> _operations { get; set; } = new();
    [Parameter]
    public List<User> operatorUsers { get; set; } = new();
    [Parameter]
    public List<Product> _products { get; set; } = new();
    [Parameter]
    public Dictionary<string, Glosary> _glosaryInfo { get; set; }
    //Distribution Id, Critical type
    [Parameter]
    public Dictionary<int, int> DistributionCritical { get; set; } = new();


    [Parameter]
    public EventCallback ShowAreas { get; set; }
    [Parameter]
    public EventCallback ShowDistributions { get; set; }
    [Parameter]
    public EventCallback ShowOperations { get; set; }
    [Parameter]
    public EventCallback ShowOperators { get; set; }
    [Parameter]
    public EventCallback UpdateOperator { get; set; }
    [Parameter]
    public EventCallback EnableNeedOfSSV { get; set; }
    [Parameter]
    public EventCallback DisableNeedOfSSV { get; set; }
    [Parameter]
    public EventCallback<int> UpdateOperation { get; set; }
    [Parameter]
    public EventCallback<bool> UpdateShowOperations { get; set; }
    [Parameter]
    public EventCallback<int> ModifyKPI { get; set; }

    //Objects
    private readonly bool dense = false;
    private readonly bool hover = false;
    private readonly bool ronly = false;

    public void ShowDateMessage()
    {
        Snackbar.Clear();
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
        Snackbar.Add(Localizer["btnChangeDate"], Severity.Info);
    }

    private void EnableSSV()
    {
        _jobObservation.WillNotRequireSSVApproval = true;
        EnableNeedOfSSV.InvokeAsync();
        StateHasChanged();
    }

    private void DisableSSV()
    {
        _jobObservation.WillNotRequireSSVApproval = false;
        DisableNeedOfSSV.InvokeAsync();
        StateHasChanged();
    }

}
