@inherits LayoutComponentBase

@inject IUserService UsersService
@inject IJSRuntime js

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0" Color="Color.Info">

        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        <MudMenu StartIcon="@Icons.Material.Filled.Info" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Label="Need help navigating?" Color="Color.Inherit" Style="color:white" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
            <MudMenuItem Icon="@Icons.Material.Filled.MenuBook" Href="/Help/guides">
                Guides
            </MudMenuItem>
        </MudMenu>
        <MudSpacer />
        <MudMenu Class="mr-10" StartIcon="@Icons.Material.Filled.Person" Label="@user.Name" Color="Color.Inherit" Style="color:white" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
            <MudMenuItem Icon="@Icons.Material.Filled.Logout" IconColor="Color.Error" @onclick="(() => LogOut())">
                Log out
            </MudMenuItem>
        </MudMenu>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Supervisor Mobility</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="main">
        <MudContainer Class="mt-2 px-8 content" MaxWidth="MaxWidth.False" @onmouseover="@OnMouseOut">
            @Body
        </MudContainer>
        <footer class="footerContainer" id="footer">

            <div class="lock">
                <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowUp" Style="font-size: 2rem;" class="icon-unlock" />
                <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowDown" Style="font-size: 2rem;" class="icon-lock" />

            </div>

            <div class="footersep">

                <MudText>Hello! Username, @(DateTime.Today.Year)</MudText>

                <MudList Clickable="true" @onmouseover="@OnMouseOver">
                    <MudListItem Style="color:white" Icon="@Icons.Material.Filled.Info" Text="Need help navigating?" Expanded="@_IsHovering" EndIcon="@Icons.Material.Filled.KeyboardArrowDown">
                        <NestedList>

                            <MudListItem Style="color:white" Icon="@Icons.Material.Filled.MenuBook" Href="/Help/guides">
                                Guides
                            </MudListItem>
                        </NestedList>

                    </MudListItem>
                </MudList>
            </div>
        </footer>
    </MudMainContent>
</MudLayout>

    @code {

    //User
    public List<User> users;
    public User user = new();

    private string json = string.Empty;

    bool _drawerOpen = true;
    bool _IsHovering = false;

    protected async override Task OnInitializedAsync()
    {
        users = await UsersService.GetUsers();
        user = users.FirstOrDefault()!;

        json = JsonSerializer.Serialize<User>(user);
        await js.InvokeVoidAsync("localStorage.setItem", "user", json);
    }

    private async Task LogOut()
    {
        if (await HasPropertyAsync())
            await js.InvokeAsync<string>("localStorage.removeItem", "user");

        user.Name = "Log in";
    }

    private async Task<bool> HasPropertyAsync() => await js.InvokeAsync<bool>("localStorage.hasOwnProperty", "user");

    
    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    protected void OnMouseOver(MouseEventArgs mouseEvent)
    {
        if (!_IsHovering)
        {
            _IsHovering = true;
            //StateHasChanged();
        }
    }

    protected void OnMouseOut(MouseEventArgs mouseEvent)
    {
        _IsHovering = false;
        //StateHasChanged();
    }
}
