@inherits LayoutComponentBase

@inject IUserService UsersService
@inject IJSRuntime js
@inject NavigationManager NavigationManager
@inject INotificationService NotifyServices

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Text.Json
@using System.Diagnostics;

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0" Color="Color.Info">

        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        <MudMenu StartIcon="@Icons.Material.Filled.Info" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Label="Need help navigating?" Color="Color.Inherit" Style="color:white" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
            <MudMenuItem Icon="@Icons.Material.Filled.MenuBook" Href="/Help/guides">
                Guides
            </MudMenuItem>
        </MudMenu>
        <MudSpacer />
        @*        <MudMenu Class="mr-10" StartIcon="@Icons.Material.Filled.Person" Label="@user.Name" Color="Color.Inherit" Style="color:white" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
        <MudMenuItem Icon="@Icons.Material.Filled.Person" IconColor="Color.Info" @onclick="(() => GetSupervisor())">
        Supervisor
        </MudMenuItem>
        <MudMenuItem Icon="@Icons.Material.Filled.Person" IconColor="Color.Info" @onclick="(() => GetAdmin())">
        Admin
        </MudMenuItem>
        <MudMenuItem Icon="@Icons.Material.Filled.Logout" IconColor="Color.Error" @onclick="(() => LogOut())">
        Log out
        </MudMenuItem>
        </MudMenu>*@
        @*        <LoginDisplay />*@
        <AuthorizeView>
            <Authorized>

                <MudButton OnClick="@OpenDialogNotifications">
                    <MudBadge Content="@NewNotifications.Count()" Overlap="true" Class="mx-6 my-4">
                        <MudIcon Icon="@Icons.Material.Filled.Campaign" Color="Color.Default" />
                    </MudBadge>
                </MudButton>
                <MudDialog DisableSidePadding="true" @bind-IsVisible="NoifyDialog" Options="dialogOptions">
                    <DialogContent>
                        <MudContainer Class="gap-4">

                            @if (AllNotifications == null)
                            {
                                <MudMenu AnchorOrigin="Origin.BottomCenter" Icon="@Icons.Material.Filled.Campaign">
                                    <MudMenuItem>
                                        <MudProgressCircular Indeterminate="true"></MudProgressCircular>
                                    </MudMenuItem>
                                </MudMenu>
                            }
                            else if (AllNotifications.Count == 0)
                            {

                                <MudCard Elevation="3" Class="ma-1" Style="background-color:#FFB6C1;max-height: 500px; overflow-y: scroll; max-width: 800px; overflow-x: scroll">
                                    <MudCardHeader>
                                       </MudCardHeader>
                                    <MudCardContent>
                                        <MudText>You don't have any notificatios... Yet</MudText>
                                    </MudCardContent>
                                </MudCard>
                            }
                            else
                            {
                                <MudTabs Outlined="true">
                            
                                    <MudTabPanel Text="New" BadgeData="@NewNotifications.Count" Icon="@Icons.Material.Filled.MarkEmailUnread" >
                                        @if (NewNotifications.Count > 0)
                                        {
                                            @foreach (var notification in NewNotifications)
                                            {
                                                <MudCard Elevation="3" Class="ma-1" Style="background-color:#55F48B; max-height: 500px; overflow-y: scroll; max-width: 800px; overflow-x: scroll">
                                                    <MudCardHeader>
                                                        <CardHeaderContent>
                                                            <MudText Typo="Typo.h6">Notification of: </MudText>
                                                            <MudText Typo="Typo.subtitle2">@notification.NotificationType</MudText>
                                                        </CardHeaderContent>
                                                        <CardHeaderActions>
                                                            <MudTooltip Placement="Placement.Right">
                                                                <ChildContent>
                                                                    <MudMenu StartIcon="@Icons.Material.Filled.Workspaces" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Variant="Variant.Filled">
                                                                        <MudMenuItem>
                                                                            <MudIconButton Icon="@Icons.Material.Filled.Check" Color="@Color.Success" Title="Mark as Read"
                                                                               @onclick="@(() => updateStatus(notification))" />
                                                                        </MudMenuItem>
                                                                        <MudMenuItem><MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="@(() => Delete(notification))" /></MudMenuItem>
                                                                    </MudMenu>
                                                                </ChildContent>
                                                                <TooltipContent>
                                                                    <MudText Typo="Typo.h6">Options</MudText>
                                                                    <MudText Typo="Typo.body2">->Mark as Read</MudText>
                                                                    <MudText Typo="Typo.body2">->Delete</MudText>
                                                                </TooltipContent>
                                                            </MudTooltip>
                                                        </CardHeaderActions>
                                                    </MudCardHeader>
                                                    <MudCardContent>
                                                        <MudCardContent>
                                                            <MudText>
                                                                Report about of: @notification.NotificationText
                                                            </MudText>
                                                        </MudCardContent>
                                                        <MudCardActions>
                                                            Made By: @notification.MadeBy
                                                            <MudText Color="Color.Info"> ~ @notification.EntryDate.ToString("dd/MM/yy")</MudText>
                                                        </MudCardActions>
                                                    </MudCardContent>
                                                </MudCard>
                                            }
                                        }
                                        else
                                        {
                                            <MudCard Elevation="3" Class="ma-1" Style="max-height: 500px; overflow-y: scroll; max-width: 800px; overflow-x: scroll">
                                                <MudCardHeader>
                                                </MudCardHeader>
                                                <MudCardContent>
                                                    <MudText>You don't have any new notifications... Yet</MudText>
                                                </MudCardContent>
                                            </MudCard>
                                        }


                                    </MudTabPanel>
                                    <MudTabPanel Text="Read" BadgeData="@ReadNotifications.Count" Icon="@Icons.Material.Filled.MarkEmailRead">
                                        @if (ReadNotifications.Count > 0)
                                        {
                                            @foreach (var notification in ReadNotifications)
                                            {
                                                <MudCard Elevation="3" Class="ma-1" Style="background-color: #C3F3E8; max-height: 500px; overflow-y: scroll; max-width: 800px; overflow-x: scroll">
                                                    <MudCardHeader>
                                                        <CardHeaderContent>
                                                            <MudText Typo="Typo.h6">Notification of: </MudText>
                                                            <MudText Typo="Typo.subtitle2">@notification.NotificationType</MudText>
                                                        </CardHeaderContent>
                                                        <CardHeaderActions>
                                                            <MudTooltip Placement="Placement.Right">
                                                                <ChildContent>
                                                                    <MudMenu StartIcon="@Icons.Material.Filled.Workspaces" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Variant="Variant.Filled">

                                                                        <MudMenuItem><MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="@(() => Delete(notification))" /></MudMenuItem>
                                                                    </MudMenu>
                                                                </ChildContent>
                                                                <TooltipContent>
                                                                    <MudText Typo="Typo.h6">Options</MudText>
                                                                    <MudText Typo="Typo.body2">->Delete</MudText>
                                                                </TooltipContent>
                                                            </MudTooltip>
                                                        </CardHeaderActions>
                                                    </MudCardHeader>
                                                    <MudCardContent>
                                                        <MudCardContent>
                                                            <MudText>
                                                                Report about of: @notification.NotificationText
                                                            </MudText>
                                                        </MudCardContent>
                                                        <MudCardActions>
                                                            Made By: @notification.MadeBy
                                                            <MudText Color="Color.Info"> ~ @notification.EntryDate.ToString("dd/MM/yy")</MudText>
                                                        </MudCardActions>
                                                    </MudCardContent>
                                                </MudCard>
                                            }
                                        }
                                        else
                                        {
                                            <MudCard Elevation="3" Class="ma-1" Style="max-height: 500px; overflow-y: scroll; max-width: 800px; overflow-x: scroll">
                                                <MudCardHeader>
                                                </MudCardHeader>
                                                <MudCardContent>
                                                    <MudText>You don't have any read notifications... Yet</MudText>
                                                </MudCardContent>
                                            </MudCard>
                                        }


                                    </MudTabPanel>
                                    <MudTabPanel Text="All" BadgeData="@AllNotifications.Count" Icon="@Icons.Material.Filled.MarkunreadMailbox">
                                        @foreach (var notification in AllNotifications)
                                        {
                                            @if (notification.IsAccepted && notification.IsActive)
                                            {
                                                // unread active
                                                <MudCard Elevation="3" Class="ma-1" Style="background-color:#55F48B; max-height: 500px; overflow-y: scroll; max-width: 800px; overflow-x: scroll">
                                                    <MudCardHeader>
                                                        <CardHeaderContent>
                                                            <MudText Typo="Typo.h6">Notification of: </MudText>
                                                            <MudText Typo="Typo.subtitle2">@notification.NotificationType</MudText>
                                                        </CardHeaderContent>
                                                        <CardHeaderActions>
                                                            <MudTooltip Placement="Placement.Right">
                                                                <ChildContent>
                                                                    <MudMenu StartIcon="@Icons.Material.Filled.Workspaces" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Variant="Variant.Filled">
                                                                        <MudMenuItem>
                                                                            <MudIconButton Icon="@Icons.Material.Filled.Check" Color="@Color.Success" Title="Mark as Read"
                                                                               @onclick="@(() => updateStatus(notification))" />
                                                                        </MudMenuItem>
                                                                        <MudMenuItem><MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="@(() => Delete(notification))" /></MudMenuItem>
                                                                    </MudMenu>
                                                                </ChildContent>
                                                                <TooltipContent>
                                                                    <MudText Typo="Typo.h6">Options</MudText>
                                                                    <MudText Typo="Typo.body2">->Mark as Read</MudText>
                                                                    <MudText Typo="Typo.body2">->Delete</MudText>
                                                                </TooltipContent>
                                                            </MudTooltip>
                                                        </CardHeaderActions>
                                                    </MudCardHeader>
                                                    <MudCardContent>
                                                        <MudCardContent>
                                                            <MudText>
                                                                Report about of: @notification.NotificationText
                                                            </MudText>
                                                        </MudCardContent>
                                                        <MudCardActions>
                                                            Made By: @notification.MadeBy
                                                            <MudText Color="Color.Info"> ~ @notification.EntryDate.ToString("dd/MM/yy")</MudText>
                                                        </MudCardActions>
                                                    </MudCardContent>
                                                </MudCard>
                                            }
                                            else if (!notification.IsAccepted && notification.IsActive)
                                            {
                                                //read active
                                                <MudCard Elevation="3" Class="ma-1" Style="background-color: #C3F3E8; max-height: 500px; overflow-y: scroll; max-width: 800px; overflow-x: scroll">
                                                    <MudCardHeader>
                                                        <CardHeaderContent>
                                                            <MudText Typo="Typo.h6">Notification of: </MudText>
                                                            <MudText Typo="Typo.subtitle2">@notification.NotificationType</MudText>
                                                        </CardHeaderContent>
                                                        <CardHeaderActions>
                                                            <MudTooltip Placement="Placement.Right">
                                                                <ChildContent>
                                                                    <MudMenu StartIcon="@Icons.Material.Filled.Workspaces" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Variant="Variant.Filled">

                                                                        <MudMenuItem><MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="@(() => Delete(notification))" /></MudMenuItem>
                                                                    </MudMenu>
                                                                </ChildContent>
                                                                <TooltipContent>
                                                                    <MudText Typo="Typo.h6">Options</MudText>
                                                                    <MudText Typo="Typo.body2">->Delete</MudText>
                                                                </TooltipContent>
                                                            </MudTooltip>
                                                        </CardHeaderActions>
                                                    </MudCardHeader>
                                                    <MudCardContent>
                                                        <MudCardContent>
                                                            <MudText>
                                                                Report about of: @notification.NotificationText
                                                            </MudText>
                                                        </MudCardContent>
                                                        <MudCardActions>
                                                            Made By: @notification.MadeBy
                                                            <MudText Color="Color.Info"> ~ @notification.EntryDate.ToString("dd/MM/yy")</MudText>
                                                        </MudCardActions>
                                                    </MudCardContent>
                                                </MudCard>
                                            }
                                            else if (!notification.IsActive && !notification.IsAccepted)
                                            {
                                                //not read delete
                                                <MudCard Elevation="3" Class="ma-1" Style="background-color:#F5DEB3;max-height: 500px; overflow-y: scroll; max-width: 800px; overflow-x: scroll">
                                                    <MudCardHeader>
                                                        <CardHeaderContent>
                                                            <MudText Typo="Typo.h6">Notification of: </MudText>
                                                            <MudText Typo="Typo.subtitle2">@notification.NotificationType</MudText>
                                                        </CardHeaderContent>
                                                        <CardHeaderActions>
                                                            <MudTooltip Placement="Placement.Right">
                                                                <ChildContent>
                                                                    <MudMenu StartIcon="@Icons.Material.Filled.Workspaces" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Variant="Variant.Filled">
                                                                    </MudMenu>
                                                                </ChildContent>
                                                                <TooltipContent>
                                                                    <MudText Typo="Typo.h6">Options</MudText>
                                                                </TooltipContent>
                                                            </MudTooltip>
                                                        </CardHeaderActions>
                                                    </MudCardHeader>
                                                    <MudCardContent>
                                                        <MudCardContent>
                                                            <MudText>
                                                                Report about of: @notification.NotificationText
                                                            </MudText>
                                                        </MudCardContent>
                                                        <MudCardActions>
                                                            Made By: @notification.MadeBy
                                                            <MudText Color="Color.Info"> ~ @notification.EntryDate.ToString("dd/MM/yy")</MudText>
                                                        </MudCardActions>
                                                    </MudCardContent>
                                                </MudCard>
                                            }
                                            else
                                            {
                                                //not read active
                                                <MudCard Elevation="3" Class="ma-1" Style="background-color:#FFB6C1;max-height: 500px; overflow-y: scroll; max-width: 800px; overflow-x: scroll">
                                                    <MudCardHeader>
                                                        <CardHeaderContent>
                                                            <MudText Typo="Typo.h6">Notification of: </MudText>
                                                            <MudText Typo="Typo.subtitle2">@notification.NotificationType</MudText>
                                                        </CardHeaderContent>
                                                        <CardHeaderActions>
                                                            <MudTooltip Placement="Placement.Right">
                                                                <ChildContent>
                                                                    <MudMenu StartIcon="@Icons.Material.Filled.Workspaces" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Variant="Variant.Filled">
                                                                    </MudMenu>
                                                                </ChildContent>
                                                                <TooltipContent>
                                                                    <MudText Typo="Typo.h6">Options</MudText>
                                                                </TooltipContent>
                                                            </MudTooltip>
                                                        </CardHeaderActions>
                                                    </MudCardHeader>
                                                    <MudCardContent>
                                                        <MudCardContent>
                                                            <MudText>
                                                                Report about of: @notification.NotificationText
                                                            </MudText>
                                                        </MudCardContent>
                                                        <MudCardActions>
                                                            Made By: @notification.MadeBy
                                                            <MudText Color="Color.Info"> ~ @notification.EntryDate.ToString("dd/MM/yy")</MudText>
                                                        </MudCardActions>
                                                    </MudCardContent>
                                                </MudCard>
                                            }

                                        }
                                    </MudTabPanel>
                                
                                
                                </MudTabs>

                            }
                        </MudContainer>
                    </DialogContent>
                    <DialogActions>
                        <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Ok">Close</MudButton>
                    </DialogActions>
                </MudDialog>


                <MudMenu Class="mr-10" StartIcon="@Icons.Material.Filled.Person" Label="@context.User.Identity?.Name" Color="Color.Inherit" Style="color:white" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                    <MudMenuItem Icon="@Icons.Material.Filled.Logout" IconColor="Color.Error" @onclick="BeginLogout">
                        Log out
                    </MudMenuItem>
                </MudMenu>
                @*<MudButton Class="mr-10" StartIcon="@Icons.Material.Filled.Person" Color="Color.Inherit" Style="color:white">
                @context.User.Identity?.Name
                </MudButton>
                <button class="nav-link btn btn-link" @onclick="BeginLogout">Log out</button>*@
            </Authorized>
            <NotAuthorized>
                <MudButton Class="mr-10" Color="Color.Inherit" Style="color:white" Href="authentication/login">
                    Log in
                </MudButton>
                @*<a href="authentication/login">Log in</a>*@
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Supervisor Mobility</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="main">
        <MudContainer Class="mt-2 px-8 content" MaxWidth="MaxWidth.False" @onmouseover="@OnMouseOut">
            @Body
        </MudContainer>
        <footer class="footerContainer" id="footer">

            <div class="lock">
                <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowUp" Style="font-size: 2rem;" class="icon-unlock" />
                <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowDown" Style="font-size: 2rem;" class="icon-lock" />

            </div>

            <div class="footersep">

                <MudText>Hello! Username, @(DateTime.Today.Year)</MudText>

                    <MudList Clickable="true" @onmouseover="@OnMouseOver">
                        <MudListItem Style="color:white" Icon="@Icons.Material.Filled.Info" Text="Need help navigating?" Expanded="@_IsHovering" EndIcon="@Icons.Material.Filled.KeyboardArrowDown">
                            <NestedList>

                                <MudListItem Style="color:white" Icon="@Icons.Material.Filled.MenuBook" Href="/Help/guides">
                                    Guides
                                </MudListItem>
                            </NestedList>

                        </MudListItem>
                    </MudList>
                </div>
            </footer>
        </MudMainContent>
    </MudLayout>

    @code {
    //idk how this works but im add ~ Mika
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    //User
    public List<User> users;
    public User user = new();
    public string objectId = string.Empty;

    //Notification
    public List<Notification> AllNotifications { get; set; } = new();
    public List<Notification> NewNotifications { get; set; } = new();
    public List<Notification> ReadNotifications { get; set; } = new();

    private string json = string.Empty;

    bool _drawerOpen = true;
    bool _IsHovering = false;
    bool NoifyDialog = false;
    [Inject] public AuthenticationStateProvider AuthenticationStateProvider { get; set; }
    private Timer timer;


    protected async override Task OnInitializedAsync()
    {
        await TryGetAsync();


        users = await UsersService.GetUsers();
        AuthenticationStateProvider.AuthenticationStateChanged += AuthenticationStateChangedHandler;

        // Get the current authentication state
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (!authState.User.Identity.IsAuthenticated)
        {
            await LogOut();
        }
        //await GetUserAsync();
        //users = await UsersService.GetUsers();
        //user = users.FirstOrDefault()!;

        //json = JsonSerializer.Serialize<User>(user);
        //await js.InvokeVoidAsync("localStorage.setItem", "user", json);
        timer = new Timer(GetNotifications, null, TimeSpan.Zero, TimeSpan.FromMinutes(10));
    }

    private async void GetNotifications(object state)
    {
        await updatenotifications();
    } 

    private async Task updatenotifications()
    {
        AllNotifications.Clear();
        NewNotifications.Clear();
        ReadNotifications.Clear();
        AllNotifications = await NotifyServices.GetAllNotificationsFromUser(user.UserId);
        foreach (var notify in AllNotifications)
        {
            if (notify.IsAccepted && notify.IsActive)
            {
                NewNotifications.Add(notify);
            }
            else if (notify.IsActive)
            {
                ReadNotifications.Add(notify);
            }
        }

    }



    public void Dispose()
    {
        timer.Dispose();
    }


    private async void AuthenticationStateChangedHandler(Task<AuthenticationState> task)
    {

        // Get the current authentication state
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        // Get the user from the authentication state
        var currentUser = authState.User;

        var userId = currentUser.FindFirst("oid")?.Value;

        foreach (var u in users)
        {
            if (u.Name == currentUser.Identity?.Name)
            {
                user = u;

                json = JsonSerializer.Serialize<User>(user);
                await js.InvokeVoidAsync("localStorage.setItem", "user", json);

            }
        }

        if (userId != null)
        {
            json = JsonSerializer.Serialize<string>(userId);
            await js.InvokeVoidAsync("localStorage.setItem", "objectId", json);
        }

        // Do something with the user
        //Console.WriteLine($"Current user: {currentUser.Identity?.Name} y su Id es {userId}");
        //await LocalStorage.SetItemAsync("user", userId);
    }

    private async Task BeginLogout(MouseEventArgs args)
    {
        await LogOut();
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    //Local storage user
    private async Task GetUserAsync()
    {
        if (!await TryGetAsync())
        {
            user = new();
            objectId = string.Empty;
            user.Name = "Log in";
        }

    }
    private DialogOptions dialogOptions = new() { CloseOnEscapeKey = true, FullWidth = false };

    private void OpenDialogNotifications()
    {
        NoifyDialog = true;
        StateHasChanged();
    }

    private async Task<bool> TryGetAsync()
    {
        bool hasProperty = await HasPropertyAsync();
        if (hasProperty)
        {
            json = await js.InvokeAsync<string>("localStorage.getItem", "user");
            user = JsonSerializer.Deserialize<User>(json) ?? new();

            json = await js.InvokeAsync<string>("localStorage.getItem", "objectId");
            objectId = JsonSerializer.Deserialize<string>(json) ?? string.Empty;

        }
        return hasProperty;
    }

    private async Task GetSupervisor()
    {

        await LogOut();
        users = await UsersService.GetUsers();
        user = users.FirstOrDefault()!;

        json = JsonSerializer.Serialize<User>(user);
        await js.InvokeVoidAsync("localStorage.setItem", "user", json);
        NavigationManager.NavigateTo($"/", true);
    }

    private async Task GetAdmin()
    {
        await LogOut();
        users = await UsersService.GetUsers();
        user = users.LastOrDefault()!;

        json = JsonSerializer.Serialize<User>(user);
        await js.InvokeVoidAsync("localStorage.setItem", "user", json);
        NavigationManager.NavigateTo($"/", true);
    }

    private async Task LogOut()
    {
        await js.InvokeAsync<string>("localStorage.removeItem", "objectId");
        if (await HasPropertyAsync())
        {
            await js.InvokeAsync<string>("localStorage.removeItem", "user");

        }

        user.Name = "Log in";
    }

    private async Task<bool> HasPropertyAsync() => await js.InvokeAsync<bool>("localStorage.hasOwnProperty", "user");


    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    protected void OnMouseOver(MouseEventArgs mouseEvent)
    {
        if (!_IsHovering)
        {
            _IsHovering = true;
            //StateHasChanged();
        }
    }

    protected async void OnMouseOut(MouseEventArgs mouseEvent)
    {
        _IsHovering = false;
        StateHasChanged();

    }

    //dialgo
    private void Ok()
    {
        NoifyDialog = false;
        StateHasChanged();
    }

    private async void Delete(Notification notification)
    {
        bool confirm = await js.InvokeAsync<bool>("confirm", $"Are you sure you want delete this notification?");

        if (confirm)
        {
           
            var result = await NotifyServices.DeleteNotification(notification.NotificationID);

            if (result != null)
            {
                await updatenotifications();
            }
        }

        StateHasChanged();
    }

    private async void updateStatus(Notification notifyread)
    {

        bool confirm = await js.InvokeAsync<bool>("confirm", $"Are you sure you want to mark as read this notification?");

        if (confirm)
        {
            notifyread.IsAccepted = false;
            var result = await NotifyServices.ReadNotification(notifyread.NotificationID, notifyread);

            if (result != null)
            {
                await updatenotifications();
            }
        }

        StateHasChanged();
    }

}
