@page "/soshoe/Distribution/Update/{DistributionId:int}"

@inject NavigationManager NavigationManager
@inject ISOSDistributionService SOSDistributionServices
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Resource> Localizer
@inject IStringLocalizer<Resource1> Localizer1
@inject ISOSHubService SOSHubServices
@inject ISOSAnalysisService SOSAnalysisServices
@inject ISOSSequenceService SOSSequenceServices

<style>
    .vertical {
        writing-mode: tb-rl;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .border-left {
        border-left: 2px solid #ababab;
    }

    .table-header td {
        background-color: #f5f5f6;
    }

    .table-header-gray th {
        background-color: #f5f5f6;
    }

    .table-header-gray td {
        padding: 0px 1% !important;
    }

    .divider {
        border-left: 1px solid var(--mud-palette-table-lines);
    }

    .images_cell {
    }

    .table-header-gray .images_cell {
        padding: 1% 2% !important;
    }

    .section_divider {
        border-top: 3px dashed var(--mud-palette-table-lines);
    }

    .mud-input .mud-input-slot {
        font-size: 0.6rem;
        scrollbar-width: none;
        margin: 2px;
    }

    .verticalText {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    .small-font {
        font-size: 0.8rem;
        margin-top: 5px;
        margin-bottom: 5px;
    }


    .drop-container {
        display: flex;
        max-height: 85vh;
        overflow-y: hidden;
    }

    .drop-item {
        flex-basis: calc(33% - 10px);
        margin: 5px;
    }

    .drop-scroll {
        height: 85vh;
        overflow-y: scroll;
    }

    .sticky-table {
        position: sticky;
        top: 0; /* Mantener fija la tabla al inicio */
        background-color: white; /* Fondo para evitar transparencias */
        z-index: 10; /* Asegura que esté encima de otros elementos */
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .toggle-group-container {
        display: flex;
        flex-wrap: wrap;
        max-height: 400px;
        overflow-y: auto;
    }

    .toggle-column {
        flex-basis: calc(25% - 10px);
        margin: 5px;
    }
</style>

@if (ShowLoading)
{
    <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudItem class="d-flex flex-column justify-center align-self-center">
                    <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                </MudItem>
                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
            </div>
        </ItemTemplate>
    </MudCarousel>
}
else
{
    <MudPaper Square="true" Elevation="3">
        <MudButton @onclick=" () => EditAnalysesSequences()" Variant="Variant.Filled" Color="Color.Primary">
            Edit Analyses Sequences
        </MudButton>

        <MudButton @onclick="() => EditDistributionStructure()" Variant="Variant.Filled" Color="Color.Primary">
            Edit Distribution Structure
        </MudButton>
    </MudPaper>




    <MudText Typo="Typo.h6"><b>HOJA DE OPERACION ESTANDAR (DISTRIBUCIÓN)</b></MudText>
    <MudPaper Square="true" Elevation="3">
        <MudSimpleTable>
            <thead>
                <MudTr>
                    <MudTh colspan="5" rowspan="2"><b>NOMBRE DEL PROCESO</b><br />@_sosDistribution.ProcessName</MudTh>
                    <MudTh><b>TURNO</b></MudTh>
                    <MudTh><b>OPERADOR</b></MudTh>
                    <MudTh><b>SUPERVISOR</b></MudTh>
                </MudTr>
            </thead>
            <tbody>
                <MudTr>
                    <MudTd rowspan="2">
                        <b>ELABORÓ</b><br />
                        @if (_sosDistribution.SOSHubs?.FirstOrDefault()?.Creator?.Name != null)
                        {
                            @_sosDistribution.SOSHubs?.FirstOrDefault()?.Creator?.Name
                        }
                    </MudTd>
                    <MudTd rowspan="2">
                        <b>REVISÓ</b><br />
                        @if (_sosDistribution.DistributionLogbooks?.FirstOrDefault()?.Reviewer?.Name != null)
                        {
                            @_sosDistribution.DistributionLogbooks?.FirstOrDefault()?.Reviewer?.Name
                        }
                    </MudTd>
                    <MudTd rowspan="2">
                        <b>APROBÓ</b><br />
                        @if (_sosDistribution.DistributionLogbooks?.FirstOrDefault()?.Approver?.Name != null)
                        {
                            @_sosDistribution.DistributionLogbooks?.FirstOrDefault()?.Approver?.Name
                        }
                    </MudTd>
                    <MudTd rowspan="2" colspan="2"></MudTd>
                </MudTr>
                <MudTr>
                    <MudTd>
                        <ul style="list-style-type:none; padding-left:0;">
                            @if (_sosDistribution.Turns?.Any() ?? false)
                            {
                                @foreach (Turn turn in _sosDistribution.Turns)
                                {
                                    <li>@turn.TurnType</li>
                                }
                            }
                        </ul>
                    </MudTd>
                    <MudTd>
                        <ul style="list-style-type:none; padding-left:0;">
                            @if (_sosDistribution.Turns?.Any() ?? false)
                            {

                                @foreach (Turn turn in _sosDistribution.Turns)
                                {

                                    <li>@turn.Operator?.Name</li>
                                }
                            }
                        </ul>
                    </MudTd>
                    <MudTd>
                        <ul style="list-style-type:none; padding-left:0;">
                            @if (_sosDistribution.Turns?.Any() ?? false)
                            {

                                @foreach (Turn turn in _sosDistribution.Turns)
                                {

                                    <li>@turn.Supervisor?.Name</li>
                                }
                            }
                        </ul>
                    </MudTd>
                </MudTr>
                <MudTr>
                    <MudTd><b>FECHA DE EMISIÓN</b><br />@_sosDistribution.CreatedAt?.ToShortDateString()</MudTd>
                    <MudTd>
                        <b>MES DE APLICACIÓN</b><br />@_sosDistribution.ApplicationMonth?.ToString("MM/yyyy")
                    </MudTd>
                    <MudTd>
                        <b>UNIDADES</b><br />
                        @if (_sosDistribution.SOSHubs?.Count() > 0)
                        {
                            @String.Join(',',_sosDistribution.SOSHubs.SelectMany(s => s.AppliedModels).Select(a => a.Code));
                        }
                    </MudTd>
                    <MudTd>
                        <b>TIEMPO TACTO</b><br />
                        <MudInput @bind-Value="_sosDistribution.TackTime" Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd><b>TIEMPO DE APRENDIZAJE</b><br />@_sosDistribution.SOSHubs?.FirstOrDefault()?.TrainingTime</MudTd>
                    <MudTd><b>PLANTA</b><br />@_sosDistribution.SOSHubs?.FirstOrDefault()?.Plant?.Description</MudTd>
                    <MudTd><b>GERENCIA</b><br />@_sosDistribution.SOSHubs?.FirstOrDefault()?.Department?.Description</MudTd>
                    <MudTd><b>HOJA</b><br />1 de 1</MudTd>
                </MudTr>
            </tbody>
        </MudSimpleTable>
        <MudSimpleTable Dense Style="width:100%; margin:0px; padding:0px;" Square="true">
            <tbody class="table-header-gray">
                <tr>
                    <th rowspan="2">No.</th>
                    <th colspan="3" rowspan="2" style="font-size: 12px">SECUENCIA DE OPERACIÓN</th>
                    <th colspan="2" rowspan="2" style="font-size: 12px">PUNTOS CRITICOS</th>
                    <th colspan="5">Tiempo</th>
                    <th colspan="3" rowspan="2">DIAGRAMA DE DESPLAZAMIENTO</th>
                </tr>
                <tr>
                    <th style="padding: 2px; min-width: 5vw;" class="verticalText">
                        <MudInput @bind-Value="applicationModels[0]" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" Style="font-size: 0.6rem; max-height: 10vh;" />
                    </th>
                    <th style="padding: 2px; min-width: 5vw;" class="verticalText">
                        <MudInput @bind-Value="applicationModels[1]" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" Style="font-size: 0.6rem; max-height: 10vh;" />
                    </th>
                    <th style="padding: 2px; min-width: 5vw;" class="verticalText">
                        <MudInput @bind-Value="applicationModels[2]" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" Style="font-size: 0.6rem; max-height: 10vh;" />
                    </th>
                    <th style="padding: 2px; min-width: 5vw;" class="verticalText">
                        <MudInput @bind-Value="applicationModels[3]" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" Style="font-size: 0.6rem; max-height: 10vh;" />
                    </th>
                    <th style="padding: 2px; min-width: 5vw;" class="verticalText">
                        <MudInput @bind-Value="applicationModels[4]" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" Style="font-size: 0.6rem; max-height: 10vh;" />
                    </th>
                </tr>
                @if (_sosDistribution.SOSDistributionOperationSequence != null)
                {
                    @foreach (var (operationDistribution, indexOp) in _sosDistribution.SOSDistributionOperationSequence.Select((operationDistribution, indexOp) => (operationDistribution, indexOp)))
                    {
                        <tr class="@(indexOp > 0 ? "section_divider": "''")">
                            @{
                                int TotalRowSpan = operationDistribution.Section.Analyses.Count();
                            }
                            <td rowspan="@TotalRowSpan">
                                <div class="d-flex flex-column" style="align-items: center;">
                                    <MudIconButton Icon="@Icons.Material.Filled.ArrowUpward" Disabled="@(indexOp == 0)"
                                                   OnClick="() => MoveStepsProcess(indexOp, -1)" />
                                    <span>@(indexOp + 1)</span>
                                    <MudIconButton Icon="@Icons.Material.Filled.ArrowDownward" Disabled="@(indexOp == _sosDistribution.SOSDistributionOperationSequence.Count - 1)"
                                                   OnClick="() => MoveStepsProcess(indexOp, 1)" />
                                </div>
                            </td>
                            <td rowspan="@TotalRowSpan" colspan="3" style="font-size: 12px">@operationDistribution.Section.Step</td>
                            <td rowspan="@TotalRowSpan" colspan="2">
                                @foreach (var analysis in operationDistribution.Section.Analyses)
                                {
                                    foreach (var (cp, cpIndex) in analysis.CriticalPoints.Select((cp, cpIndex) => (cp, cpIndex)))
                                    {
                                        <MudItem>
                                            <MudText Style="font-size: 12px">@cp</MudText>
                                        </MudItem>
                                    }
                                }
                            </td>
                            @{
                                var timesArray = new string[5];
                                var splitTimes = operationDistribution.Times?.Split("§") ?? new string[0];

                                for (int i = 0; i < timesArray.Length; i++)
                                {
                                    timesArray[i] = "";
                                }

                                for (int i = 0; i < splitTimes.Length && i < timesArray.Length; i++)
                                {
                                    timesArray[i] = splitTimes[i];
                                }
                            }



                            <td rowspan="@TotalRowSpan">
                                <MudInput Value="@timesArray[0]" Variant="Variant.Outlined" Margin="Margin.Dense" ValueChanged="CreateValueChangedCallback(operationDistribution.Section, 0)" Validation="ValidateTime" Class="small-font" />
                            </td>
                            <td rowspan="@TotalRowSpan">
                                <MudInput Value="@timesArray[1]" Variant="Variant.Outlined" Margin="Margin.Dense" ValueChanged="CreateValueChangedCallback(operationDistribution.Section, 1)" Validation="ValidateTime" Class="small-font" />
                            </td>
                            <td rowspan="@TotalRowSpan">
                                <MudInput Value="@timesArray[2]" Variant="Variant.Outlined" Margin="Margin.Dense" ValueChanged="CreateValueChangedCallback(operationDistribution.Section, 2)" Validation="ValidateTime" Class="small-font" />
                            </td>
                            <td rowspan="@TotalRowSpan">
                                <MudInput Value="@timesArray[3]" Variant="Variant.Outlined" Margin="Margin.Dense" ValueChanged="CreateValueChangedCallback(operationDistribution.Section, 3)" Validation="ValidateTime" Class="small-font" />
                            </td>
                            <td rowspan="@TotalRowSpan">
                                <MudInput Value="@timesArray[4]" Variant="Variant.Outlined" Margin="Margin.Dense" ValueChanged="CreateValueChangedCallback(operationDistribution.Section, 4)" Validation="ValidateTime" Class="small-font" />
                            </td>



                            @if (indexOp == 0)
                            {

                                int totalAnalyses = _sosDistribution.SOSDistributionOperationSequence
                                ?.Sum(op => op.Section?.Analyses?.Count() ?? 0) ?? 0;

                                int totalCriticalPoints = _sosDistribution.SOSDistributionOperationSequence
                                ?.SelectMany(op => op.Section?.Analyses)
                                .Sum(analysis => analysis.CriticalPoints?.Count() ?? 0) ?? 0;

                                int totalSpecialCases = _sosDistribution.SOSHubs?.Count() > 0 ? _sosDistribution.SOSHubs.FirstOrDefault().MaterialsUsed.Count() : 1;

                                int TotalRowSpanImages = (totalAnalyses + totalCriticalPoints + 2 + totalSpecialCases) * 2;

                                <td colspan="3" class="divider images_cell" rowspan="@TotalRowSpanImages" style="vertical-align: top; min-width: 30vw;">
                                    <div class="d-flex align-content-space-between flex-wrap flex-grow-1 gap-4">

                                        <MudItem Class="d-flex flex-column align-start">
                                            <MudItem Class="d-flex">
                                                <MudButton StartIcon="@Icons.Material.Filled.Image" Color="Color.Info" Variant="Variant.Filled" @onclick="() => ShowImagesDialog()" Class="mb-4 mr-4">Images (@(capturedImages.Count + PreviousImages.Count))</MudButton>
                                            </MudItem>
                                            @if (capturedImages.Any() || PreviousImages.Any())
                                            {
                                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                                    <MudItem Class="d-flex" Style="flex-direction: row; flex-wrap: wrap; justify-content: flex-start; overflow-y: scroll; max-height:65vh; scroll-behavior: smooth; justify-content: center;">
                                                        @foreach (var (image, index) in PreviousImages.Select((image, index) => (image, index)))
                                                        {
                                                            <MudItem Class="mb-2 mr-2">
                                                                <MudImage ObjectFit="ObjectFit.Contain" Height="160" Width="260" Src=@image.Item2 Alt="Evidence" Elevation="25" Class="rounded-lg" @onclick="() => ShowImagesDialog()" Style="cursor:pointer" />
                                                            </MudItem>
                                                        }
                                                        @foreach (var (image, index) in capturedImages.Select((image, index) => (image, index)))
                                                        {
                                                            <MudItem Class="mb-2 mr-2">
                                                                <MudImage ObjectFit="ObjectFit.Contain" Height="160" Width="260" Src=@image Alt="Evidence" Elevation="25" Class="rounded-lg" @onclick="() => ShowImagesDialog()" Style="cursor:pointer" />
                                                            </MudItem>
                                                        }
                                                    </MudItem>
                                                </div>
                                            }
                                            else
                                            {
                                                <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                                                    @Localizer["There are no images"]
                                                </MudAlert>
                                            }

                                        </MudItem>
                                        <MudSimpleTable Style="width:100%">
                                            <tr>
                                                @foreach (var rev in mostRecentLogs)
                                                {
                                                    <td style="width:25%; font-size: 12px;">@(rev.Approver?.Name)</td>
                                                    <td style="width:25%; font-size: 12px;">@(rev.Changes)</td>
                                                    <td style="width:25%; font-size: 12px;">@(rev.Date?.ToString("dd-MMM-yyyy").Replace(".", ""))</td>
                                                    <td style="width:25%; font-size: 12px;">@(rev.Reviewer?.Name)</td>
                                                }
                                            </tr>
                                            <tr>
                                                <th style="font-size: 12px;">APROBO</th>
                                                <th style="font-size: 12px;">CAMBIO</th>
                                                <th style="font-size: 12px;">FECHA</th>
                                                <th style="font-size: 12px;">REV</th>
                                            </tr>
                                        </MudSimpleTable>
                                    </div>
                                </td>

                            }
                        </tr>
                        <tr></tr>
                    }
                }





                <tr>
                    <td colspan="2" rowspan="2">
                        <b style="font-size: 12px;">No Control</b><br />
                        <MudInput @bind-Value="_sosDistribution.ControlNumber" Variant="Variant.Outlined" Margin="Margin.Dense" Style="font-size: 0.6rem;" />
                    </td>
                    <td colspan="3"></td>
                    <td style="font-size: 12px;">Tiempo Adicional total</td>
                    <td>
                        <MudInput Value="@additionalTimes[0]" Variant="Variant.Outlined" Margin="Margin.Dense" ValueChanged="CreateAdditionalTimeChangedCallback(0)" Validation="ValidateTime" Class="small-font" />
                    </td>
                    <td>
                        <MudInput Value="@additionalTimes[1]" Variant="Variant.Outlined" Margin="Margin.Dense" ValueChanged="CreateAdditionalTimeChangedCallback(1)" Validation="ValidateTime" Class="small-font" />
                    </td>
                    <td>
                        <MudInput Value="@additionalTimes[2]" Variant="Variant.Outlined" Margin="Margin.Dense" ValueChanged="CreateAdditionalTimeChangedCallback(2)" Validation="ValidateTime" Class="small-font" />
                    </td>
                    <td>
                        <MudInput Value="@additionalTimes[3]" Variant="Variant.Outlined" Margin="Margin.Dense" ValueChanged="CreateAdditionalTimeChangedCallback(3)" Validation="ValidateTime" Class="small-font" />
                    </td>
                    <td>
                        <MudInput Value="@additionalTimes[4]" Variant="Variant.Outlined" Margin="Margin.Dense" ValueChanged="CreateAdditionalTimeChangedCallback(4)" Validation="ValidateTime" Class="small-font" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td style="font-size: 12px;">Tiempo Ciclo</td>
                    <td>
                        <MudInput Value="@cycleTimes[0]" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly Class="small-font" />
                    </td>
                    <td>
                        <MudInput Value="@cycleTimes[1]" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly Class="small-font" />
                    </td>
                    <td>
                        <MudInput Value="@cycleTimes[2]" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly Class="small-font" />
                    </td>
                    <td>
                        <MudInput Value="@cycleTimes[3]" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly Class="small-font" />
                    </td>
                    <td>
                        <MudInput Value="@cycleTimes[4]" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly Class="small-font" />
                    </td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </MudPaper>
    <br />
    <MudSimpleTable Class="table-header-gray" Elevation="3">
        <thead>
            <tr>
                <th style="min-width: 5vw;">TIEMPO</th>
                <th style="min-width: 5vw;">CANTIDAD @applicationModels[0]</th>
                <th style="min-width: 5vw;">CANTIDAD @applicationModels[1]</th>
                <th style="min-width: 5vw;">CANTIDAD @applicationModels[2]</th>
                <th style="min-width: 5vw;">CANTIDAD @applicationModels[3]</th>
                <th style="min-width: 5vw;">CANTIDAD @applicationModels[4]</th>
                <th style="min-width: 5vw;">TIEMPO</th>
                <th style="min-width: 5vw;">@applicationModels[0]</th>
                <th style="min-width: 5vw;">@applicationModels[1]</th>
                <th style="min-width: 5vw;">@applicationModels[2]</th>
                <th style="min-width: 5vw;">@applicationModels[3]</th>
                <th style="min-width: 5vw;">@applicationModels[4]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Take</td>
                <td><MudInput @bind-Value="takeQuantity[0]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" /></td>
                <td><MudInput @bind-Value="takeQuantity[1]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" /></td>
                <td><MudInput @bind-Value="takeQuantity[2]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" /></td>
                <td><MudInput @bind-Value="takeQuantity[3]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" /></td>
                <td><MudInput @bind-Value="takeQuantity[4]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" /></td>
                <td><MudInput @bind-Value="takeTime[0]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" Validation="ValidateTime" /></td>
                <td><MudInput @bind-Value="takeTime[1]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" Validation="ValidateTime" /></td>
                <td><MudInput @bind-Value="takeTime[2]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" Validation="ValidateTime" /></td>
                <td><MudInput @bind-Value="takeTime[3]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" Validation="ValidateTime" /></td>
                <td><MudInput @bind-Value="takeTime[4]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" Validation="ValidateTime" /></td>
                <td><MudInput @bind-Value="takeTime[5]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" Validation="ValidateTime" /></td>
            </tr>
            <tr>
                <td>Leave</td>
                <td><MudInput @bind-Value="leaveQuantity[0]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" /></td>
                <td><MudInput @bind-Value="leaveQuantity[1]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" /></td>
                <td><MudInput @bind-Value="leaveQuantity[2]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" /></td>
                <td><MudInput @bind-Value="leaveQuantity[3]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" /></td>
                <td><MudInput @bind-Value="leaveQuantity[4]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" /></td>
                <td><MudInput @bind-Value="leaveTime[0]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" Validation="ValidateTime" /></td>
                <td><MudInput @bind-Value="leaveTime[1]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" Validation="ValidateTime" /></td>
                <td><MudInput @bind-Value="leaveTime[2]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" Validation="ValidateTime" /></td>
                <td><MudInput @bind-Value="leaveTime[3]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" Validation="ValidateTime" /></td>
                <td><MudInput @bind-Value="leaveTime[4]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" Validation="ValidateTime" /></td>
                <td><MudInput @bind-Value="leaveTime[5]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" Validation="ValidateTime" /></td>
            </tr>
            <tr>
                <td>Steps</td>
                <td><MudInput @bind-Value="stepsQuantity[0]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" /></td>
                <td><MudInput @bind-Value="stepsQuantity[1]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" /></td>
                <td><MudInput @bind-Value="stepsQuantity[2]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" /></td>
                <td><MudInput @bind-Value="stepsQuantity[3]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" /></td>
                <td><MudInput @bind-Value="stepsQuantity[4]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" /></td>
                <td><MudInput @bind-Value="stepsTime[0]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" Validation="ValidateTime" /></td>
                <td><MudInput @bind-Value="stepsTime[1]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" Validation="ValidateTime" /></td>
                <td><MudInput @bind-Value="stepsTime[2]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" Validation="ValidateTime" /></td>
                <td><MudInput @bind-Value="stepsTime[3]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" Validation="ValidateTime" /></td>
                <td><MudInput @bind-Value="stepsTime[4]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" Validation="ValidateTime" /></td>
                <td><MudInput @bind-Value="stepsTime[5]" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" Validation="ValidateTime" /></td>
            </tr>
            <tr>
                <td colspan="7"></td>
                @for (int i = 1; i <= 5; i++)
                {
                    double takeTimeValue = 0.0;
                    double leaveTimeValue = 0.0;
                    double stepsTimeValue = 0.0;

                    if (!double.TryParse(takeTime[i], out takeTimeValue))
                    {
                        takeTimeValue = 0.0;
                    }
                    if (!double.TryParse(leaveTime[i], out leaveTimeValue))
                    {
                        leaveTimeValue = 0.0;
                    }
                    if (!double.TryParse(stepsTime[i], out stepsTimeValue))
                    {
                        stepsTimeValue = 0.0;
                    }

                    var totalTimeColumn = takeTimeValue + leaveTimeValue + stepsTimeValue;

                    <td>
                        <MudInput Value="@totalTimeColumn.ToString("F2")" Variant="Variant.Outlined" Margin="Margin.Dense" Class="small-font" ReadOnly />
                    </td>
                }

            </tr>

        </tbody>
    </MudSimpleTable>
    <br />
    <MudSimpleTable Style="width:100%" Class="table-header-gray mb-2" Elevation="3">
        <tr>
            <th style="writing-mode: vertical-rl; transform: rotate(180deg); font-size: 12px;" rowspan="2">SÍMBOLOS</th>
            <th style="font-size: 12px;">SEGURIDAD</th>
            <th style="font-size: 12px;">INVENTARIO</th>
            <th style="font-size: 12px;">CHEQUEO</th>
            <th style="font-size: 12px; text-align:center;">ÁREA DE OPERACIÓN</th>
            <th style="font-size: 12px;">RUTA</th>
        </tr>
        <tr>
            <td style="text-align: center; vertical-align: middle;">
                <MudImage Src="/Images/DistributionSymbols/safety.png" Alt="Seguridad" Width="20" />
            </td>
            <td style="text-align: center; vertical-align: middle;">
                <MudImage Src="/Images/DistributionSymbols/inventory.png" Alt="Inventario" Width="20" />
            </td>
            <td style="text-align: center; vertical-align: middle;">
                <MudImage Src="/Images/DistributionSymbols/checking.png" Alt="Chequeo" Width="20" />
            </td>
            <td style="text-align: center; vertical-align: middle;">
                <MudImage Src="/Images/DistributionSymbols/operation_area.png" Alt="Área de Operación" Width="20" />
            </td>
            <td style="text-align: center; vertical-align: middle;">
                <MudIcon Icon="@Icons.Material.Filled.ArrowForward" />
            </td>
        </tr>
    </MudSimpleTable>

    <MudCardActions>
        <MudItem Class="ml-auto mt-2">
            <MudButton OnClick="UpdateDistribution" StartIcon="@Icons.Material.Filled.PlayCircle" Disabled="UpdateButton" Variant="Variant.Filled" Color="Color.Info">@Localizer["Update Distribution"]</MudButton>
        </MudItem>
    </MudCardActions>
}


<MudDialog @bind-IsVisible="visibleImagesDialog" Options="dialogImagesOptions">
    <TitleContent>
        <div class="d-flex" style="align-items: center; justify-content:center;">
            <MudImage ObjectFit="ObjectFit.Cover" Height="25" Src="Images/logo.png" Alt="Evidence" Elevation="25" Class="rounded-lg mr-4" />
            <MudText Typo="Typo.h6" Style="text-align: center;">
                @Localizer["Analysis Images"]
            </MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudItem Style="display: flex; align-content: space-between; flex-wrap: wrap; justify-content: space-evenly; align-items: center;  min-height: 50vh">
            <div style="display: flex; align-items: center; justify-content: space-between;" class="mt-4">
                <MudItem Class="d-flex" Style="flex-direction: row; flex-wrap: wrap; justify-content: flex-start; overflow-y: scroll; max-height:50vh; scroll-behavior: smooth; justify-content: center;">
                    @foreach (var (image, index) in PreviousImages.Select((image, index) => (image, index)))
                    {
                        <MudItem Class=" mr-8 mb-4">
                            <MudItem Style="text-align:end !important; margin-right: -15px; margin-bottom: -7px; cursor:pointer">
                                <MudTooltip Text="Delete photo" Color="Color.Error" Placement="Placement.Right" Arrow="true">
                                    <MudIcon Icon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="() => RemoveOldImage(image.Item1)"></MudIcon>
                                </MudTooltip>
                            </MudItem>
                            <MudImage ObjectFit="ObjectFit.Contain" Height="80" Width="130" Src=@image.Item2 Alt="Evidence" Elevation="25" Class="rounded-lg" Style="cursor:pointer" @onclick="() => OpenEvidenceDialog(index)" />
                        </MudItem>
                    }
                    @foreach (var (image, index) in capturedImages.Select((image, index) => (image, index)))
                    {
                        <MudItem Class=" mr-8 mb-4">
                            <MudItem Style="text-align:end !important; margin-right: -15px; margin-bottom: -7px; cursor:pointer">
                                <MudTooltip Text="Delete photo" Color="Color.Error" Placement="Placement.Right" Arrow="true">
                                    <MudIcon Icon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="() => RemoveImage(index, 1)"></MudIcon>
                                </MudTooltip>
                            </MudItem>
                            <MudImage ObjectFit="ObjectFit.Contain" Height="80" Width="130" Src=@image Alt="Evidence" Elevation="25" Class="rounded-lg" Style="cursor:pointer" @onclick="() => OpenEvidenceDialog(index, false)" />
                        </MudItem>
                    }
                </MudItem>

            </div>
        </MudItem>
    </DialogContent>
    <DialogActions>
        <InputFile id="previousEvidence" OnChange="@( (e) => AddImages(e))" hidden multiple accept=".jpg, .jpeg, .gif, .svg, .png"></InputFile>
        <MudButton Class="flex-initial d-flex flex-grow-0 px-9 py-2"
                   HtmlTag="label"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.Image"
                   for="previousEvidence">
            Load picture
        </MudButton>
        <MudButton OnClick="CloseImagesDialog" Variant="Variant.Filled" Class="ml-4">@Localizer["close"]</MudButton>
    </DialogActions>
</MudDialog>



@*Evidence Modal*@
<MudDialog DisableSidePadding="false" @bind-IsVisible="visibleEvidence" Options="dialogEvidenceOptions">
    <DialogContent>
        <MudPaper Elevation="0">
            @if (capturedImages.Any() || PreviousImages.Any())
            {
                <MudCarousel Class="mud-width-full" Style="height: 65vh" ShowArrows=true ShowBullets=true EnableSwipeGesture=true AutoCycle="false" TData="object" @bind-SelectedIndex=@photoIndex>
                    <PreviousButtonTemplate>
                        <MudAvatar Color="Color.Dark" Variant="Variant.Filled" Class="ml-4" Style="cursor:pointer">
                            <MudIcon Icon="@Icons.Material.Filled.NavigateBefore" />
                        </MudAvatar>
                    </PreviousButtonTemplate>
                    <NextButtonTemplate>
                        <MudAvatar Color="Color.Dark" Variant="Variant.Filled" Class="mr-4" Style="cursor:pointer">
                            <MudIcon Icon="@Icons.Material.Filled.NavigateNext" />
                        </MudAvatar>
                    </NextButtonTemplate>
                    <ChildContent>

                        @foreach (var evidence in PreviousImages)
                        {
                            <MudCarouselItem Transition="Transition.Fade">
                                <MudImage ObjectFit="ObjectFit.Cover" Height="720" Width="1280" Src=@evidence.Item2 Alt="Evidence" Elevation="25" Class="rounded-lg" Style="max-height: 66vh; width: 100%; border-radius: 10px; margin-bottom:24px;" />
                            </MudCarouselItem>
                        }
                        @foreach (var evidence in capturedImages)
                        {
                            <MudCarouselItem Transition="Transition.Fade">
                                <MudImage ObjectFit="ObjectFit.Cover" Height="720" Width="1280" Src=@evidence Alt="Evidence" Elevation="25" Class="rounded-lg" Style="max-height: 66vh; width: 100%; border-radius: 10px; margin-bottom:24px;" />
                            </MudCarouselItem>
                        }
                    </ChildContent>
                </MudCarousel>
            }
            else
            {
                <MudItem Style="height: 65vh">
                    <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                        @Localizer["There are no images"]
                    </MudAlert>
                </MudItem>
            }
        </MudPaper>
    </DialogContent>
</MudDialog>


<MudDialog DisableSidePadding="false" @bind-IsVisible="visibleCommentaries" Options="dialogCommentariesOptions">
    <TitleContent>
        <div class="d-flex" style="align-items: center; justify-content:center;">
            <MudImage ObjectFit="ObjectFit.Cover" Height="25" Src="Images/logo.png" Alt="Evidence" Elevation="25" Class="rounded-lg mr-4" />
            <MudText Typo="Typo.h6" Style="text-align: center;">
                @Localizer["Commentaries"]
            </MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudItem Style="height: 65vh">
            <MudSimpleTable Style="overflow-x: auto;" Class="comments-table" Dense="true" Elevation="0">
                <tbody>
                    @foreach (var item in items.Where(i => i.IsActive))
                    {
                        <tr>
                            <td width="90%">
                                <MudTextField @bind-Value="@item.Commentary" Label="Revisión - Modificación" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                            </td>
                            @if (items.IndexOf(item) > 0)
                            {
                                <td width="10%">
                                    <MudButton Variant="Variant.Text" Color="Color.Error" OnClick="() => RemoveItem(item, false)" StartIcon="@Icons.Material.Filled.Delete">Remove</MudButton>
                                </td>
                            }
                        </tr>
                    }
                    @foreach (var tempItem in tempItems)
                    {
                        <tr>
                            <td width="90%">
                                <MudTextField @bind-Value="@tempItem.Commentary" Label="Revisión - Modificación" Variant="Variant.Outlined" Margin="Margin.Dense" Immediate></MudTextField>
                            </td>
                            @if (tempItems.IndexOf(tempItem) > 0 || items.Count() > 0)
                            {
                                <td width="10%">
                                    <MudButton Variant="Variant.Text" Color="Color.Error" OnClick="() => RemoveItem(tempItem, true)" StartIcon="@Icons.Material.Filled.Delete">Remove</MudButton>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
            <MudButton OnClick="AddItem" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Style="float: right">Add Commentary</MudButton>
        </MudItem>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseCommentariesDialog" Variant="Variant.Filled">@Localizer["close"]</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog DisableSidePadding="false" @bind-IsVisible="visibleLogbook" Options="dialogLogbookOptions">
    <TitleContent>
        <div class="d-flex" style="align-items: center; justify-content:center;">
            <MudImage ObjectFit="ObjectFit.Cover" Height="25" Src="Images/logo.png" Alt="Evidence" Elevation="25" Class="rounded-lg mr-4" />
            <MudText Typo="Typo.h6" Style="text-align: center;">
                @Localizer["Analysis Logbook"]
            </MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudItem Style="height: 65vh">
            <MudSimpleTable Style="overflow-x: auto;" Class="comments-table" Dense="true" Elevation="0" Hover>
                <thead>
                    <tr class="table-header-gray">
                        <th>No. de revisión</th>
                        <th>SSV</th>
                        <th>SV</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @if (_sosDistribution.DistributionLogbooks?.Any() ?? false)
                    {
                        int i = 0;
                        @foreach (SOSDistributionLogbook logbook in _sosDistribution.DistributionLogbooks)
                        {
                            <tr>
                                <td>
                                    @if (i == 0)
                                    {
                                        <span>N</span>
                                        i++;
                                    }
                                    else
                                    {
                                        <span>@(i++)</span>
                                    }
                                </td>
                                <td>@logbook.Approver?.Name</td>
                                <td>@logbook.Reviewer?.Name</td>
                                <td>@logbook.Date?.ToShortDateString()</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">
                                <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                                    @Localizer["There is no distribution logbook"]
                                </MudAlert>
                            </td>
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
        </MudItem>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseLogbookDialog" Variant="Variant.Filled">@Localizer["close"]</MudButton>
    </DialogActions>
</MudDialog>

@* Dialogo de seleccion de documentos analisis y documentos secuencia  *@
<MudDialog @bind-IsVisible="_visibleAnalysesSequences" Options="_dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Edit Analyses Sequences
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer>
            <MudTextField @bind-Value="searchSequence" Placeholder="Buscar secuencia..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" Clearable />
            <MudToggleGroup Vertical T="SOSSequence" SelectionMode="SelectionMode.MultiSelection" Values="_sosDistribution.Sequences" ValuesChanged="@(EventCallback.Factory.Create<IEnumerable<SOSSequence>>(this, vals => { _sosDistribution.Sequences = vals?.ToList() ?? new(); }))" Color="Color.Primary" CheckMark Class="toggle-group-container">
                @foreach (SOSSequence sequence in FilteredSequences)
                {
                    <div class="toggle-column">
                        <MudToggleItem Value="@(sequence)" UnselectedIcon="@Icons.Material.Filled.CheckBoxOutlineBlank" SelectedIcon="@Icons.Material.Filled.CheckBox">
                            <div class="mud-width-full mud-height-full">
                                <div class="d-flex align-center justify-space-between flex-wrap">
                                    <MudText Class="ellipsis">@sequence.InternalControlNumber</MudText>
                                </div>
                                <MudText Typo="Typo.subtitle2">@sequence.OperationName</MudText>
                            </div>
                        </MudToggleItem>
                    </div>
                }
            </MudToggleGroup>
        </MudContainer>
        <MudContainer>
            <MudTextField @bind-Value="searchAnalysis" Placeholder="Buscar analisis..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" Clearable />
            <MudToggleGroup Vertical T="SOSAnalysis" SelectionMode="SelectionMode.MultiSelection" Values="_sosDistribution.Analyses" ValuesChanged="@(EventCallback.Factory.Create<IEnumerable<SOSAnalysis>>(this, vals => { _sosDistribution.Analyses = vals?.ToList() ?? new(); }))" Color="Color.Primary" CheckMark Class="toggle-group-container">
                @foreach (SOSAnalysis analisis in FilteredAnalysis)
                {
                    <div class="toggle-column">
                        <MudToggleItem Value="@(analisis)" UnselectedIcon="@Icons.Material.Filled.CheckBoxOutlineBlank" SelectedIcon="@Icons.Material.Filled.CheckBox">
                            <div class="mud-width-full mud-height-full">
                                <div class="d-flex align-center justify-space-between flex-wrap">
                                    <MudText Class="ellipsis">@analisis.InternalControlNumber</MudText>
                                </div>
                                <MudText Typo="Typo.subtitle2">@analisis.OperationName</MudText>
                            </div>
                        </MudToggleItem>
                    </div>
                }
            </MudToggleGroup>
        </MudContainer>

    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CloseAnalysesSequences" Class="px-10">Close</MudButton>
    </DialogActions>
</MudDialog>
@* Dialogo de edición de la estructura de distribución *@
<MudDialog @bind-IsVisible="_visibleDistributionStructure" Options="_dialogOptionsDistribution">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Edit Structure
        </MudText>
    </TitleContent>
    <DialogContent>

        <MudDropContainer T="DropItem" Items="_combinedItems" ItemsSelector="@((item, dropzone) => item.Zone == dropzone)" ItemDropped="ItemUpdated" Class="drop-container">
            <ChildContent>
                <MudDropZone T="DropItem" Identifier="SOSAnalysis" Class="drop-item drop-scroll rounded-lg mud-alert-text-success" CanDrop="@((item) => item.Type == "SOSSequence" && item.Type == "SOSAnalysis")">
                    <MudText Typo="Typo.h6" Class="mb-4">Analyses </MudText>

                    <MudSimpleTable Style="width:100%;" Class="sticky-table styled-table table-striped sticky-header" Striped="true">
                        <thead>
                            <MudTr>
                                <MudTh Style="width: 45%">Análisis</MudTh>
                                <MudTh Style="width: 20%">Paso</MudTh>
                                <MudTh Style="width: 10%">Tiempo</MudTh>
                                <MudTh>Puntos Crítico</MudTh>
                            </MudTr>
                        </thead>

                    </MudSimpleTable>

                    @foreach (var analysis in _sosDistribution.Analyses)
                    {
                        @if (analysis.SOSHub != null)
                        {
                            <MudListSubheader Class="mt-4 pb-2">@analysis.OperationName</MudListSubheader>
                            <MudDropZone T="DropItem" AllowReorder ItemDraggingClass="mud-info-text" Identifier="@($"Analysis_{analysis.SOSAnalysisId}")" Class="rounded mud-background-gray"
                                         CanDrop="@((item) => item.Type == "SOSAnalysis")" Style="min-height:30px">

                            </MudDropZone>
                        }
                    }
                </MudDropZone>

                <MudDropZone T="DropItem" Identifier="SOSSequence" Class="drop-item drop-scroll rounded-lg mud-alert-text-info flex-grow-1" CanDrop="@((item) => item.Type == "SOSSequence" && item.Type == "SOSAnalysis")">
                    <MudText Typo="Typo.h6" Class="mb-4">Sequences </MudText>
                    <MudSimpleTable Style="width:100%;" Class="sticky-table styled-table table-striped" Striped="true">
                        <thead>
                            <MudTr>
                                <MudTh Style="width: 20%">Paso</MudTh>
                                <MudTh Style="width: 10%">Tiempo</MudTh>
                                <MudTh>Puntos Crítico</MudTh>
                            </MudTr>
                        </thead>

                    </MudSimpleTable>
                    @foreach (var sequence in _sosDistribution.Sequences)
                    {
                        @if (sequence.SOSHub != null)
                        {
                            <MudListSubheader Class="mt-4 pb-2">@sequence.OperationName</MudListSubheader>
                            <MudDropZone T="DropItem" AllowReorder ItemDraggingClass="mud-info-text" Identifier="@($"Sequence_{sequence.SOSSequenceId}")" Class="rounded mud-background-gray"
                                         CanDrop="@((item) => item.Type == "SOSSequence")" Style="min-height:30px">

                            </MudDropZone>
                        }
                    }
                </MudDropZone>

                <MudDropZone T="DropItem" Identifier="CombinedZone" AllowReorder Class="rounded mud-background-gray drop-item drop-scroll" Style="min-height:30px">
                    <MudText Typo="Typo.h6" Class="mb-4">Distribution </MudText>
                </MudDropZone>
            </ChildContent>
            <ItemRenderer>
                <MudPaper Elevation="4" Class="pa-2 my-1 d-flex align-items-center">
                    <MudSimpleTable Style="width:100%;" Class="styled-table table-striped" Striped="true">
                        <MudTr>
                            @if (context.Type == "SOSAnalysis")
                            {
                                <MudTd Style="width:45%; background-color: white;">
                                    @foreach (var (analisis, indexAnalisis) in context.section.Analyses.Select((analisis, indexAnalisis) => (analisis, indexAnalisis)))
                                    {
                                        @if (analisis.CriticalPoints.Any())
                                        {
                                            <MudText T="MarkupString" ReadOnly="true" Variant="Variant.Text">
                                                @((MarkupString)GenerateHighlightedText(GetFormatedAnalisisText(context.section, indexAnalisis), analisis.CriticalPoints))
                                            </MudText>
                                            @if (analisis != context.section.Analyses.Last())
                                            {
                                                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
                                            }
                                        }
                                        else
                                        {
                                            <MudText Typo="Typo.subtitle1">
                                                @context.section.Analyses[indexAnalisis].Text
                                            </MudText>
                                            @if (analisis != context.section.Analyses.Last())
                                            {
                                                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
                                            }
                                        }
                                    }
                                </MudTd>
                            }
                            <MudTd Style="width:20%">
                                <MudText Typo="Typo.subtitle1" Class="mb-2">
                                    @context.section.Step
                                </MudText>
                            </MudTd>
                            <MudTh Style="width: 10%"></MudTh>

                            <MudTd>
                                @if (!string.IsNullOrEmpty(context.section.Step))
                                {
                                    @foreach (var (analisis, indexAnalisis) in context.section.Analyses.Select((analisis, indexAnalisis) => (analisis, indexAnalisis)))
                                    {
                                        <MudItem>
                                            @foreach (var (criticalPoint, indexPoints) in analisis.CriticalPoints.Select((criticalPoint, indexPoints) => (criticalPoint, indexPoints)))
                                            {
                                                <MudText Typo="Typo.subtitle1" Class="mb-2">
                                                    @context.section.Analyses[indexAnalisis].CriticalPoints[indexPoints]
                                                </MudText>
                                                <MudText>
                                                    @ReasonFormat(context.section.Analyses[indexAnalisis].Reasons[indexPoints])
                                                </MudText>
                                                @if (criticalPoint != context.section.Analyses[indexAnalisis].CriticalPoints.Last())
                                                {
                                                    <MudDivider DividerType="DividerType.Middle" Class="my-6" />
                                                }
                                            }
                                        </MudItem>
                                        @if (analisis != context.section.Analyses.Last())
                                        {
                                            <MudDivider DividerType="DividerType.Middle" Class="my-6" />
                                        }
                                    }
                                }
                            </MudTd>

                        </MudTr>

                    </MudSimpleTable>
                </MudPaper>
            </ItemRenderer>
        </MudDropContainer>


    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CloseStructure" Class="px-10">Close</MudButton>
    </DialogActions>
</MudDialog>