@inject IDataPanelService DataPanelServices
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Resource1> Localizer1
@inject IStringLocalizer<Resource> Localizer
@inject ISnackbar Snackbar

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@(pageType == PageType.Create ? Icons.Material.Filled.AddBox : Icons.Material.Filled.Edit)" Class="mr-2 mb-n1" />
            @(pageType == PageType.Create ? Localizer["DataPanelCreate"] : Localizer["DataPanelUpdate"])
        </MudText>
    </TitleContent>
    
    <DialogContent>
        @if (ShowLoading)
        {
            <div class="d-flex flex-column align-center justify-center py-8">
                <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
                <MudText Typo="Typo.body2" Class="mt-4">@_sourceMsgLoading.FirstOrDefault()</MudText>
            </div>
        }
        else
        {
            <EditForm Model="_datapanel" OnValidSubmit="SubmitOperations">
                <DataAnnotationsValidator />
                <MudGrid Spacing="2">
                    @* Cabecera con Estado *@
                    <MudItem xs="12" sm="9">
                        <MudTextField Label="@Localizer1["DP_Title"]"
                                      @bind-Value="_datapanel.DataTitle"
                                      For="@(() => _datapanel.DataTitle)"
                                      Variant="Variant.Outlined"
                                      Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="12" sm="3" Class="d-flex align-center justify-end">
                        @if (user.UserType == 1)
                        {
                            <MudSwitch Label="Activo" @bind-Checked="_datapanel.IsActive" Color="Color.Success" />
                        }
                        else
                        {
                            <MudChip Variant="Variant.Text" Color="Color.Success">@(pageType == PageType.Create ? Localizer["create"] : Localizer["update"])</MudChip>
                        }
                    </MudItem>

                    @* Tabla de Especificaciones - Mejorada *@
                    <MudItem xs="12" Class="mt-2">
                        <MudTable Items="_datapanel.Specifications" T="DataPanelSpecification"
                                  Height="300px" FixedHeader="true" Dense="true" Hover="true"
                                  Elevation="0" Outlined="true" Class="mud-width-full"
                                  ReadOnly="false"
                                  CanCancelEdit="true"
                                  RowEditPreview="BackupItem"
                                  RowEditCancel="ResetItemToOriginalValues"
                                  RowEditCommit="ItemHasBeenCommitted"
                                  EditTrigger="TableEditTrigger.EditButton">
                            
                            <ToolBarContent>
                                <MudText Typo="Typo.subtitle2"><b>@Localizer1["AddDP_Specification"]</b></MudText>
                                <MudSpacer />
                                <MudTextField @bind-Value="searchString" Placeholder="@Localizer["Search"]"
                                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                                              IconSize="Size.Small" Class="mt-0 mr-4" />
                                <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled"
                                           Color="Color.Info" Size="Size.Small"
                                           Disabled="AddSpecification" OnClick="AddOneMoreSpecification">
                                    @Localizer["Add"]
                                </MudButton>
                            </ToolBarContent>

                            <HeaderContent>
                                @if (user.UserType == 1)
                                {
                                    <MudTh Style="width:60px">Id</MudTh>
                                }
                                <MudTh>Especificación</MudTh>
                                <MudTh Style="width:100px">Secuencia</MudTh>
                                @if (user.UserType == 1)
                                {
                                    <MudTh Style="width:80px">Activo</MudTh>
                                }
                                <MudTh Style="width:50px"></MudTh>
                            </HeaderContent>

                            <RowTemplate Context="specContext">
                                @if (user.UserType == 1)
                                {
                                    <MudTd>
                                        @if (specContext.DataPanelSpecificationId == 0)
                                        {
                                            <MudChip Size="Size.Small" Color="Color.Success" Variant="Variant.Text">@Localizer["new"]</MudChip>
                                        }
                                        else
                                        {
                                            @specContext.DataPanelSpecificationId
                                        }
                                    </MudTd>
                                }
                                <MudTd>@specContext.DataSpecification</MudTd>
                                <MudTd>
                                    @if (specContext.ItemOrder == 0)
                                    {
                                        <MudTooltip Text="Cambiar en secuencia">
                                            <MudChip Size="Size.Small" Color="Color.Default" Variant="Variant.Text">@Localizer["new"]</MudChip>
                                        </MudTooltip>
                                    }
                                    else
                                    {
                                        <MudAvatar Size="Size.Small" Color="Color.Primary" Variant="Variant.Outlined">@specContext.ItemOrder</MudAvatar>
                                    }
                                </MudTd>
                                @if (user.UserType == 1)
                                {
                                    <MudTd>
                                        <MudCheckBox @bind-Value="specContext.IsActive" ReadOnly="true" Color="Color.Info" Dense="true" />
                                    </MudTd>
                                }
                                <MudTd></MudTd>
                            </RowTemplate>

                            <RowEditingTemplate Context="specContext">
                                @if (user.UserType == 1)
                                {
                                    <MudTd></MudTd>
                                }
                                <MudTd>
                                    <MudTextField @bind-Value="@specContext.DataSpecification" Required Margin="Margin.Dense" />
                                </MudTd>
                                <MudTd>
                                    <MudText Typo="Typo.caption">Auto</MudText>
                                </MudTd>
                                @if (user.UserType == 1)
                                {
                                    <MudTd>
                                        <MudCheckBox @bind-Value="specContext.IsActive" Color="Color.Info" Dense="true" />
                                    </MudTd>
                                }
                                <MudTd></MudTd>
                            </RowEditingTemplate>

                            <EditButtonContent Context="button">
                                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Filled.Edit"
                                               OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
                            </EditButtonContent>
                        </MudTable>
                    </MudItem>
                </MudGrid>
            </EditForm>
        }
    </DialogContent>

    <DialogActions>
        <MudButton Variant="Variant.Text" OnClick="Cancel">@Localizer["Cancel"]</MudButton>
        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="SubmitOperations" Class="px-6">
            @(pageType == PageType.Create ? Localizer["create"] : Localizer["save"])
        </MudButton>
    </DialogActions>
</MudDialog>