@page "/configurationIS/DataPanels"

@inject IDataPanelService DataPanelServices
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Resource1> Localizer1
@inject IStringLocalizer<Resource> Localizer
@inject ISnackbar Snackbar
@inject IBreadcrumbService BreadcrumbService
@inject IDialogService DialogService

<PageTitle>Supervisor Mobility | @Localizer["DataPanel"]</PageTitle>

@if (ShowLoading)
{
    <MudContainer MaxWidth="MaxWidth.Small" Class="mt-16">
        <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:250px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
            <ItemTemplate>
                <div class="d-flex flex-column align-center justify-center" style="height:100%">
                    <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Size="Size.Large" Indeterminate="true" Class="mb-4" />
                    <MudText Typo="Typo.h6" Color="Color.Primary" Class="mud-text-secondary">@Carousel</MudText>
                </div>
            </ItemTemplate>
        </MudCarousel>
    </MudContainer>
}
else if (_dataPanelsCategories.Count == 0)
{
    <MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex flex-column align-center justify-center mt-16">
        <MudIcon Icon="@Icons.Material.Filled.Analytics" Style="font-size: 5rem;" Color="Color.Surface" Class="mb-4" />
        <MudText Typo="Typo.h5" GutterBottom="true">@Localizer["thereAreNoDataPanelCreated"]</MudText>
        <MudButton Variant="Variant.Filled"
                   Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.Add"
                   OnClick="CreateDataPanel"
                   Class="mt-4 px-8 py-2">
            @Localizer["createDataPanel"]
        </MudButton>
    </MudContainer>
}
else
{
    <MudCard Elevation="4" Class="ma-4">
        <MudTable Items="_dataPanelsCategories"
                  Hover="true"
                  T="DataPanel"
                  Elevation="0"
                  Height="calc(80vh - 100px)"
                  FixedHeader="true"
                  RowClassFunc="@SelectedRowClassFunc"
                  @ref="SelectTableEvent"
                  OnRowClick="RowClickEvent"
                  Filter="new Func<DataPanel,bool>(FilterFunc)"
                  Breakpoint="Breakpoint.Sm">
            
            <ToolBarContent>
                <MudText Typo="Typo.h6" Color="Color.Primary"><b>@Localizer["DataPanel"]</b></MudText>
                <MudSpacer />
                <MudTextField @bind-Value="searchString"
                              Placeholder="@Localizer["Search"]"
                              Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium"
                              Class="mt-0 mr-4"
                              Clearable="true"
                              Immediate="true" />
                
                <MudTooltip Text="@Localizer1["NewDataPanel"]">
                    <MudIconButton Icon="@Icons.Material.Filled.AddCircle"
                                   Color="Color.Primary"
                                   Size="Size.Large"
                                   OnClick="CreateDataPanel" />
                </MudTooltip>
                
                <MudTooltip Text="@Localizer1["JSReOrder"]">
                    <MudIconButton Icon="@Icons.Material.Filled.FormatLineSpacing"
                                   Color="Color.Secondary"
                                   Size="Size.Large"
                                   OnClick="ReOrderDataPanel" />
                </MudTooltip>
            </ToolBarContent>

            <HeaderContent>
                @if (user.UserType == 1)
                {
                    <MudTh><MudTableSortLabel SortBy="new Func<DataPanel, object>(x => x?.DataPanelId)">ID</MudTableSortLabel></MudTh>
                }
                <MudTh Style="width: 100px;"><MudTableSortLabel SortBy="new Func<DataPanel, object>(x => x?.ItemOrder)" InitialDirection="SortDirection.Ascending">Orden</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<DataPanel, object>(x => x?.DataTitle)">Título del Panel</MudTableSortLabel></MudTh>
                @if (user.UserType == 1)
                {
                    <MudTh Style="text-align:center">Estado</MudTh>
                }
                <MudTh Style="text-align:right">Acciones</MudTh>
            </HeaderContent>

            <RowTemplate>
                @if (user.UserType == 1)
                {
                    <MudTd DataLabel="ID"><MudBadge Content="@context.DataPanelId" Color="Color.Dark" Overlap="false" Bordered="false" /></MudTd>
                }
                <MudTd DataLabel="Orden">
                    <MudAvatar Color="Color.Info" Variant="Variant.Outlined" Size="Size.Small">@context.ItemOrder</MudAvatar>
                </MudTd>
                <MudTd DataLabel="Título">
                    <MudText Typo="Typo.body1"><b>@context.DataTitle</b></MudText>
                </MudTd>
                @if (user.UserType == 1)
                {
                    <MudTd DataLabel="Estado" Style="text-align:center">
                        @if (context.IsActive == true)
                        {
                            <MudChip T="string" Color="Color.Success" Variant="Variant.Text" Size="Size.Small" Icon="@Icons.Material.Filled.CheckCircle">Activo</MudChip>
                        }
                        else
                        {
                            <MudChip T="string" Color="Color.Error" Variant="Variant.Text" Size="Size.Small" Icon="@Icons.Material.Filled.Cancel">Inactivo</MudChip>
                        }
                    </MudTd>
                }
                <MudTd Style="text-align:right">
                    <MudMenu Icon="@Icons.Material.Filled.MoreVert" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
                        <MudMenuItem Icon="@Icons.Material.Filled.Visibility" OnClick="(() => DataPanelDetails(context.DataPanelId))">Ver Detalles</MudMenuItem>
                        <MudMenuItem Icon="@Icons.Material.Filled.Edit" IconColor="Color.Info" OnClick="(() => UpdateCategory(context.DataPanelId))">Editar</MudMenuItem>
                        <MudDivider />
                        <MudMenuItem Icon="@Icons.Material.Filled.Delete" IconColor="Color.Error" OnClick="(() => DeleteDataPanel(context.DataPanelId))">Eliminar</MudMenuItem>
                    </MudMenu>
                </MudTd>
            </RowTemplate>

            <PagerContent>
                <MudTablePager InfoFormat="@("{first_item}-{last_item} de {all_items}")" HorizontalAlignment="HorizontalAlignment.Right" />
            </PagerContent>
        </MudTable>
    </MudCard>
}