<MudDialog DisableSidePadding="false">
    <TitleContent>
        <MudItem Style="display: flex; justify-content: center; align-items: center">
            <MudIcon Icon="@Icons.Material.Filled.List" Title="Favorite" Class="mr-2" Color="Color.Primary" />
            <MudText Typo="Typo.h6" Style="text-align:center">Active LUP items</MudText>
        </MudItem>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 75vh; overflow-y: scroll">
            <MudItem>
                <MudSimpleTable FixedHeader=true Style="height: 55vh" Class="styled-table table-striped mb-5" Hover>
                    <thead>
                        <tr>
                            <th style="text-align:center">
                                ID
                            </th>
                            <th style="text-align:center">
                                Oportunity
                            </th>
                            <th style="text-align:center">
                                Date
                            </th>
                            <th style="text-align:center">
                                Status OK NG
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var lup in lupInsidences)
                        {
                            <tr>
                                <td style="text-align:center">@lup.LupId </td>
                                <td style="text-align:center">
                                    @if (lup.Oportunity.Length > 27)
                                    {

                                        <MudText Align="Align.Center">@lup.Oportunity.Substring(0, 27) ...</MudText>
                                    }
                                    else
                                    {
                                        <MudText Align="Align.Center">@lup.Oportunity </MudText>
                                    }
                                </td>
                                <td style="text-align:center">@lup.CreatedDate </td>
                                <td style="text-align:center">
                                    @switch (lup.StatusOKNG)
                                    {
                                        case LUPStatus.Percent25:
                                            <MudImage Src="images/circle2.jpg" Width="40" Height="40" Alt="circle1" Style="border-radius: 50%" Elevation="5" />
                                            break;
                                        case LUPStatus.Percent50:
                                            <MudImage Src="images/circle3.jpg" Width="40" Height="40" Alt="circle1" Style="border-radius: 50%" Elevation="5" />
                                            break;
                                        case LUPStatus.Percent75:
                                            <MudImage Src="images/circle4.jpg" Width="40" Height="40" Alt="circle1" Style="border-radius: 50%" Elevation="5" />
                                            break;
                                        case LUPStatus.Percent100:
                                            <MudImage Src="images/circle5.jpg" Width="40" Height="40" Alt="circle1" Style="border-radius: 50%" Elevation="5" />
                                            break;
                                        default:
                                            <MudImage Src="images/circle1.jpg" Width="40" Height="40" Alt="circle1" Style="border-radius: 50%" Elevation="5" />
                                            break;
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </MudSimpleTable>
            </MudItem>
        </MudContainer>
    </DialogContent>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public List<Lup> lupInsidences { get; set; }
}
