@page "/sosProgram/createSosReview"

@inject NavigationManager NavigationManager
@inject IPlantService PlantServices
@inject IAreaService AreaServices
@inject IDistributionService DistributionService
@inject IOperationService OperationService
@inject IPATService PATsServices
@inject IJSRuntime JSRuntime
@inject IUserService UsersService
@inject ISOSReviewService SOSReviewServices
@inject ISnackbar Snackbar
@inject IStringLocalizer<Resource> Localizer
@inject IStringLocalizer<Resource1> Localizer1

@*Title*@
<PageTitle>Supervisor Mobility |  @Localizer["createSOS"]</PageTitle>

@*Breadcrumb links*@
<MudBreadcrumbs Class="mb-10" Items="_links">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
    </ItemTemplate>
</MudBreadcrumbs>

@*Form*@
<EditForm Model="_sosReview" OnValidSubmit="CreateSOSReviewAsync">
    <DataAnnotationsValidator />
    <MudGrid Class="d-flex " Style="flex-direction: column; align-content: center;">
        <MudItem>
            <MudCard Style="min-width: 50vw">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6"> @Localizer["sosDetails"]</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudChip Variant="Variant.Text" Color="Color.Success"> @Localizer["newSOSReviewProgram"]</MudChip>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    @if (user.UserType == 1)
                    {
                        @*Mud select for Plants for Admin*@
                        <MudSelect T="int" Label=@Localizer["plant"] Variant="Variant.Text"  Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_sosReview.PlantId" For="@(() => _sosReview.PlantId)" SelectedValuesChanged="ShowAreas">
                            <MudSelectItem Disabled="true" Value="0">@Localizer["selectAPlant"]</MudSelectItem>
                            @foreach (var type in _plants)
                            {
                                <MudSelectItem Value="type.PlantId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                            }
                        </MudSelect>
                    }
                    else
                    {
                        @*Mud select for Plants *@
                        <MudSelect T="int" Label=@Localizer["plant"] Variant="Variant.Text"  Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_sosReview.PlantId" For="@(() => _sosReview.PlantId)" SelectedValuesChanged="ShowAreas">
                            @foreach (var type in _plants)
                            {
                                if (type.PlantId == user.PlantId)
                                {
                                    <MudSelectItem Value="type.PlantId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                }
                            }
                        </MudSelect>
                    }


                    @if (_sosReview.PlantId != 0 && user.UserType == 1)
                    {
                        @*Mud select for Areas for Admin *@
                        <MudSelect T="int" Label=@Localizer["area"] Variant="Variant.Text" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_sosReview.AreaId" For="@(() => _sosReview.AreaId)" SelectedValuesChanged="ShowSupervisors">
                            <MudSelectItem Disabled="true" Value="0">@Localizer["selectAnArea"]</MudSelectItem>
                            @foreach (var type in _areas)
                            {
                                <MudSelectItem Value="type.AreaId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                            }
                        </MudSelect>
                    }
                    else if (_sosReview.PlantId != 0 && user.UserType == 2)
                    {
                        @*Mud select for Areas for SSV *@
                        <MudSelect T="int" Label=@Localizer["area"] Variant="Variant.Text" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_sosReview.AreaId" For="@(() => _sosReview.AreaId)" SelectedValuesChanged="ShowSupervisors">
                            <MudSelectItem Disabled="true" Value="0">@Localizer["selectAnArea"]</MudSelectItem>
                            @foreach (var type in user.Areas)
                            {
                                <MudSelectItem Value="type.AreaId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                            }
                        </MudSelect>
                    }
                    else if (_sosReview.PlantId != 0)
                    {
                        @*Mud select for Areas for SV *@
                        <MudSelect T="int" Label=@Localizer["area"] Variant="Variant.Text" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_sosReview.AreaId" For="@(() => _sosReview.AreaId)" SelectedValuesChanged="ShowSupervisors">
                            <MudSelectItem Disabled="true" Value="0">@Localizer["selectAnArea"]</MudSelectItem>
                            @foreach (var type in _areas)
                            {
                                if (type.AreaId == user.AreaId)
                                {
                                    <MudSelectItem Value="type.AreaId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                }
                            }
                        </MudSelect>
                    }
                    else
                    {
                        @*Mud select for Areas *@
                        <MudSelect T="int" Label=@Localizer["area"] Variant="Variant.Text" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_sosReview.AreaId" For="@(() => _sosReview.AreaId)" Disabled>
                            <MudSelectItem Disabled="true" Value="0">@Localizer["firstSelectAPlant"]</MudSelectItem>
                        </MudSelect>
                    }

                    <MudDatePicker @bind-Date="_sosReview.CreationDate" DateFormat="yyyy" Label=@Localizer["createDate"] PickerVariant="PickerVariant.Dialog" FixDay="1" FixMonth="1" OpenTo="OpenTo.Year" Color="Color.Info" AdornmentColor="Color.Info" Class="mt-3" />

                    @if (_sosReview.Supervisors is not null && _sosReview.Supervisors?.ToList().Count > 0)
                    {

                        <MudItem Style="max-height: 80vh; overflow-y: scroll; display: flex; flex-wrap: wrap;" Class="gap-4 pb-5">
                    @foreach (var item in _sosReview.Supervisors)
                    {

                        <MudCard Elevation="1" Class="mr-5" Style="width: 300px; flex: 0 0 calc(28%-1rem);">
                            <MudCardHeader>
                                <CardHeaderActions>
                                    @switch (item.UserType)
                                    {
                                        case 3:
                                            <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary" Class="mr-15 mt-5"> @Localizer1["UsersSupervisor"] </MudChip>
                                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(() => DeleteSupervisorList(item))" />
                                            break;
                                    }

                                </CardHeaderActions>

                            </MudCardHeader>
                            <MudCardContent>

                                <div class="font-weight-bold"><b>@Localizer["UserId"]:</b>  @item.UserId</div>
                                <div class="font-weight-bold"><b>@Localizer1["UsersName"]:</b>  @item.Name</div>

                                @if (item.AreaId != 0 || item.AreaId != null)
                                {
                                    <div class="font-weight-bold"><b>@Localizer1["UsersAssignedArea"]:</b></div>
                                    <div class="d-flex justify-content-between justify-center">

                                                <MudChip Icon="@Icons.Material.Filled.Business" Color="Color.Info" Class="pl-5 pr-5">@item.Area?.Code - @item.Area?.Description </MudChip>
                                        
                                    </div>
                                }
                                else
                                {
                                    <MudText Typo="Typo.button">@Localizer["UsersNoAreasSSV"]</MudText>
                                }



                            </MudCardContent>


                        </MudCard>
                    }
                    </MudItem>
                    }
@*Mud select for SSV A,B, C for Admin*@
                    @*
                    @if(user.UserType == 1){
                        @if(_sosReview.PlantId != 0 && _sosReview.AreaId != 0)
                        {
                            <MudItem class="d-flex d-flex-column justify-center ma-1">

                                            @if (_Supervisors?.Count > 0 )
                                            {
                                                <MudItem xs="12" sm="12" md="12">
                                                    <MudAutocomplete Clearable T="User" Label="@Localizer1["UsersSupervisor"]" ValueChanged="@(selectedUser => OnSelectedSuperiorFunction(selectedUser, 4))"
                                                         SearchFunc="@SearchSV" ToStringFunc="@(e=> e.Name == null || e.Name == "" ? $"{Localizer["UsersPHSupervisor"]}" : $"[{e.UserId}] - {e.Name} Group:[{e.Group?.Description}]")"
                                                                     Variant="Variant.Outlined" AdornmentIcon="@Icons.Material.Filled.Person"
                                                                     ShowProgressIndicator="true" MaxItems="null">
                                                        <ItemTemplate Context="e">
                                                            <MudItem Style="text-align: center">
                                                                @switch (e.UserType)
                                                                {
                                                                    case 3:
                                                            <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary" Class="mr-15 mt-5"> @Localizer1["UsersSupervisor"] </MudChip>
                                                                        break;
                                                                }
                                                            </MudItem>
                                                            <div class="font-weight-bold"><b>@Localizer1["UserId"]:</b>  @e.UserId</div>
                                                            <div class="font-weight-bold"><b>@Localizer1["UsersName"]:</b>  @e.Name</div>
                                                            <div class="font-weight-bold"><b>@Localizer1["UsersGroup"]:</b>  @e.Group?.Description</div>

                                                           
                                                                <div class="font-weight-bold"><b>@Localizer["UsersArea"]:</b>  </div>
                                                                <MudChip Icon="@Icons.Material.Filled.Business" Color="Color.Info" Class="pl-5 pr-5">@e.Area?.Code - @e.Area?.Description </MudChip>
                                                            
                                                        </ItemTemplate>
                                                    </MudAutocomplete>
                                                </MudItem>
                                                <MudButton Disabled="@ActiveAddSubordinated" OnClick="@(() => AddSupervisor(selectedSupervisorOfList))" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Secondary" Size="Size.Large"> Add Supervisor </MudButton>
                                            }
                                   

                            </MudItem>
                        }
                        else
                        {
                            <MudSelect T="int" Label="Supervisor" Variant="Variant.Text" Disabled Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@supervisorId" For="@(() => supervisorId)">
                                <MudSelectItem Disabled="true" Value="0">@Localizer["firstSelectAnArea"]</MudSelectItem>
                            </MudSelect>
                        }


                    }
                    else if(user.UserType == 3)
                    {

                        <MudItem class="d-flex d-flex-column justify-center ma-1">
                                            @if (_Supervisors?.Count > 0 )
                                            {
                                                <MudItem xs="12" sm="12" md="12">
                                                    <MudAutocomplete Clearable T="User" Label="@Localizer["UsersOperator"]" ValueChanged="@(selectedUser => OnSelectedSuperiorFunction(selectedUser, 4))"
                                                         SearchFunc="@SearchSV" ToStringFunc="@(e=> e.Name == null || e.Name == "" ? $"{Localizer["UsersPHSupervisor"]}" : $"[{e.UserId}] - {e.Name} Group:[{e.Group?.Description}]")"
                                                                     Variant="Variant.Outlined" AdornmentIcon="@Icons.Material.Filled.Person"
                                                                     ShowProgressIndicator="true" MaxItems="null">
                                                        <ItemTemplate Context="e">
                                                            <MudItem Style="text-align: center">
                                                                @switch (e.UserType)
                                                                {
                                                                    case 3:
                                                                        <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary" Class="mr-15 mt-5"> @Localizer["UsersSupervisor"] </MudChip>
                                                                        break;
                                                                }
                                                            </MudItem>
                                                            <div class="font-weight-bold"><b>@Localizer["UserId"]:</b>  @e.UserId</div>
                                                            <div class="font-weight-bold"><b>@Localizer["UsersName"]:</b>  @e.Name</div>
                                            <div class="font-weight-bold"><b>@Localizer1["UsersGroup"]:</b>  @e.Group?.Description</div>

                                                           
                                                                <div class="font-weight-bold"><b>@Localizer["UsersArea"]:</b>  </div>
                                                                <MudChip Icon="@Icons.Material.Filled.Business" Color="Color.Info" Class="pl-5 pr-5">@e.Area?.Code - @e.Area?.Description </MudChip>
                                                            
                                                        </ItemTemplate>
                                                    </MudAutocomplete>
                                                </MudItem>
                                                <MudButton Disabled="@ActiveAddSubordinated" OnClick="@(() => AddSupervisor(selectedSupervisorOfList))" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Secondary" Size="Size.Large"> Add Supervisor </MudButton>
                                            }
                            </MudItem>
                    }*@


                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto">@Localizer["planSOSReviewProgram"]</MudButton>
                    <MudButton Href="/sosProgram" Variant="Variant.Filled" Class="ml-4">@Localizer["cancel"]</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>