@page "/usersmanagement/CreateUser"
@using SupervisorMobility.Client.Pages.Configuration.AssyChartPage
@inject IFileUploadAndDownloadService FileUpDoServices
@inject IPlantService PlantServices
@inject IAreaService AreaServices
@inject IDistributionService DistributionsServices
@inject IUserService UserServices
@inject IGroupService GroupServices
@inject NavigationManager NavigationManager
@inject IJSRuntime JS



@*Title*@
<PageTitle>Supervisor Mobility | Create Users</PageTitle>
@*Breadcrumb links*@
<MudBreadcrumbs Class="mb-10" Items="_links">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
    </ItemTemplate>
</MudBreadcrumbs>

<MudContainer>

    @*Form*@
    <EditForm Model="_user" OnValidSubmit="CreateUser">
        <DataAnnotationsValidator />
        <MudGrid>
            <MudItem xs="12">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Create User</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudChip Variant="Variant.Text" Color="Color.Success">New User</MudChip>
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>

                        @if (_user.UserType != 4)
                        {
                             <MudItem Class="d-flex d-flex-row">
                            <MudTextField Label="Azure ID" @bind-Value="@_user.ObjectId" For="@(() => _user.ObjectId)" />
                            <MudTooltip Text="Object Id of Active Directory">
                                <MudIconButton Icon="@Icons.Material.Filled.HelpOutline" />
                            </MudTooltip>
                        </MudItem>
                        }

                       
                        <MudTextField Label="User Name" @bind-Value="@_user.Name" For="@(() => _user.Name)" />

                        @if (_user.UserType == 4)
                        {
                            <MudTextField Label="User Payroll Number" @bind-Value="@_user.Payroll" For="@(() => _user.Payroll)" />
                        }

                        @if (_user.UserType != 4 && _user.UserType != 0)
                        {
                            <MudItem xs="12" sm="6">
                                <MudTextField Mask="@emailMask" Label="Email Address" HelperText="@emailMask.Mask"
                                          @bind-Value="@_user.Email" For="@(() => _user.Email)" Variant="@Variant.Text" Clearable />
                            </MudItem>
                        }

                        @*Mud select of Plants *@
                        <MudSelect T="int" Label="Plant" Variant="Variant.Text" Placeholder="Select a Plant" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_user.PlantId" For="@(() => _user.PlantId)" SelectedValuesChanged="ShowAreas">
                            <MudSelectItem Disabled="true" Value="0">Select a Plant</MudSelectItem>
                            @foreach (var type in _plants)
                            {
                                <MudSelectItem Value="type.PlantId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                            }
                        </MudSelect>
                        @*Mud select of Areas *@
                        <MudSelect T="int" Label="Area" Variant="Variant.Text" Placeholder="Select an Area" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_user.AreaId" For="@(() => _user.AreaId)">
                            <MudSelectItem Disabled="true" Value="0">Select an Area</MudSelectItem>
                            @foreach (var type in _areas)
                            {
                                <MudSelectItem Value="type.AreaId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                            }
                        </MudSelect>
                        @*Mud select of Distribution *@
                        <MudSelect T="int?" Label="Distribution" Variant="Variant.Text" Placeholder="Select a Distribution" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_user.DistributionId" For="@(() => _user.DistributionId)">
                            <MudSelectItem Disabled="true" Value="0">Select an Distribution</MudSelectItem>
                            @foreach (var type in _distributions)
                            {
                                <MudSelectItem Value="type.DistributionId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                            }
                        </MudSelect>
                         @*Mud select of Group *@
                        <MudSelect T="int" Label="Group" Variant="Variant.Text" Placeholder="Select a Group" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_user.GroupId" For="@(() => _user.GroupId)">
                            <MudSelectItem Disabled="true" Value="0">Select an Group</MudSelectItem>
                            @foreach (var type in _groups)
                            {
                                <MudSelectItem Value="type.GroupId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                            }
                        </MudSelect>

                        <MudItem>
                            <MudItem>
                                <MudText Typo="Typo.h6">Permissions</MudText>
                            </MudItem>
                            <MudItem class="d-flex d-flex-column justify-center">
                                @switch (_user.UserType)
                                {
                                    case 1:
                                        <MudPaper Elevation="0">
                                            <MudChip Icon="@Icons.Material.Filled.AdminPanelSettings" Color="Color.Primary">Admin</MudChip>
                                        </MudPaper>
                                        break;
                                    case 2:
                                        <MudPaper Elevation="0">
                                            <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary">Senior Supervisor</MudChip>
                                        </MudPaper>
                                        break;
                                    case 3:
                                        <MudPaper Elevation="0">
                                            <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary">Supervisor</MudChip>
                                        </MudPaper>
                                        break;
                                    case 4:
                                        <MudPaper Elevation="0">
                                            <MudChip Icon="@Icons.Material.Filled.PersonOutline" Color="Color.Dark">Operator</MudChip>
                                        </MudPaper>
                                        break;
                                }
                            </MudItem>
                            <MudItem Class="d-flex flex-row align-center justify-center pa-2 ma-2">
                                <MudSwitch Class="ma-1" Label="Is Admin?" @bind-Checked="@IsAdmin" @onclick="@(() => setActiveUser(1))" Color="Color.Primary" UnCheckedColor="Color.Dark" />
                                <MudSwitch Class="ma-1" Label="Is SeniorSupervisor?" @bind-Checked="@IsSeniorSupervisor" @onclick="@(() => setActiveUser(2))" Color="Color.Secondary" UnCheckedColor="Color.Dark" />
                                <MudSwitch Class="ma-1" Label="Is Supervisor?" @bind-Checked="@IsSupervisor" @onclick="@(() => setActiveUser(3))" Color="Color.Secondary" UnCheckedColor="Color.Dark" />
                                <MudSwitch Class="ma-1" Label="Is Operator?" @bind-Checked="@IsOperator" @onclick="@(() => setActiveUser(4))" Color="Color.Info" UnCheckedColor="Color.Dark" />
                            </MudItem>

                        </MudItem>

                        @if (_user.UserType != 0 && _user.PlantId != 0 && _user.AreaId != 0)
                        {
                            <MudItem>
                                <MudItem>
                                    <MudText Typo="Typo.h6">Hierarchy tree</MudText>
                                </MudItem>
                                <MudItem Class="d-flex flex-column justify-center ma-1">
                                    @if (_user.Superior != null)
                                    {
                                        <MudItem class="d-flex d-flex-column justify-center">
                                            <MudText Typo="Typo.h6">Superior</MudText>
                                        </MudItem>
                                        <MudItem class="d-flex d-flex-column justify-center">

                                            <MudCard Elevation="1" Class="m-3" Style="width: 300px;">
                                                <MudCardHeader>
                                                    <CardHeaderContent>
                                                        <MudText Typo="Typo.subtitle1">Superior</MudText>
                                                    </CardHeaderContent>
                                                    <CardHeaderActions>
                                                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(() => DeleteSuperior())" />
                                                    </CardHeaderActions>
                                                </MudCardHeader>
                                                <MudCardContent>
                                                    <div class="font-weight-bold"> <MudText Typo="Typo.subtitle2">Name:</MudText>@_user.Superior.Name</div>
                                                    <div class="font-weight-light"><MudText Typo="Typo.subtitle2">Group:</MudText>@_user.Superior.Group?.Description</div>
                                                </MudCardContent>
                                                <div class="d-flex justify-content-between justify-center">
                                                    @switch (_user.Superior.UserType)
                                                    {
                                                        case 1:
                                                            <MudPaper Elevation="0">
                                                                <MudChip Icon="@Icons.Material.Filled.AdminPanelSettings" Color="Color.Primary">Admin</MudChip>
                                                            </MudPaper>
                                                            break;
                                                        case 2:
                                                            <MudPaper Elevation="0">
                                                                <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary">Senior Supervisor</MudChip>
                                                            </MudPaper>
                                                            break;
                                                        case 3:
                                                            <MudPaper Elevation="0">
                                                                <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary">Supervisor</MudChip>
                                                            </MudPaper>
                                                            break;
                                                        case 4:
                                                            <MudPaper Elevation="0">
                                                                <MudChip Icon="@Icons.Material.Filled.PersonOutline" Color="Color.Dark">Operator</MudChip>
                                                            </MudPaper>
                                                            break;
                                                    }
                                                </div>
                                                <MudCardActions>

                                                </MudCardActions>
                                            </MudCard>

                                        </MudItem>

                                    }
                                    else
                                    {
                                        @if (_user.UserType != 1 && _user.UserType != 2)
                                        {
                                            <MudItem class="d-flex d-flex-column justify-center">
                                                <MudText Typo="Typo.h6">Superior</MudText>
                                            </MudItem>
                                            <MudItem class="d-flex d-flex-column justify-center">
                                                <MudAlert Severity="Severity.Info">
                                                    <MudText Typo="Typo.h6">without Superiors Yet...</MudText>
                                                    </MudAlert>

                                               
                                            </MudItem>
                                        }
                                    }
                                </MudItem>
                                <MudItem class="d-flex d-flex-column justify-center ma-1">
                                    @if (!superior)
                                    {
                                        @switch (_user.UserType)
                                        {
                                            case 3:
                                                @if (SeniorsSupervisors.Count > 0)
                                                {
                                                    <MudItem Class="d-flex d-flex-row">
                                                        <MudSelect T="User" Label="Supervisors" Placeholder="Select  Supervisor" @bind-Value="@_user.Superior" SelectedValuesChanged="SetSupervisor" For="@(() => _user.Superior)" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                                                            <MudSelectItem Disabled="true" Value="selectedSeniorSupervisor">Select a Supervisor</MudSelectItem>
                                                            @foreach (var SS in SeniorsSupervisors)
                                                            {
                                                                @if (SS.PlantId == _user.PlantId && SS.AreaId == _user.AreaId)
                                                                {
                                                                    <MudSelectItem Value="SS">@($"{SS.Name} - {SS.Group?.Description}")</MudSelectItem>
                                                                }
                                                            }
                                                        </MudSelect>
                                                    </MudItem>
                                                }
                                                break;
                                            case 4:
                                                @if (Supervisors.Count > 0)
                                                {
                                                    <MudItem Class="d-flex d-flex-row">
                                                        <MudSelect T="User" Label="Supervisors" Placeholder="Select a Supervisor" @bind-Value="@_user.Superior" For="@(() => _user.Superior)" SelectedValuesChanged="SetSupervisor" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                                                            <MudSelectItem Disabled="true" Value="selectedSupervisor">Select Supervisor</MudSelectItem>
                                                            @foreach (var SS in Supervisors)
                                                            {
                                                                @if (SS.PlantId == _user.PlantId && SS.AreaId == _user.AreaId)
                                                                {
                                                                    <MudSelectItem Value="SS">@($"{SS.Name} - {SS.Group?.Description}")</MudSelectItem>
                                                                }
                                                            }
                                                        </MudSelect>
                                                    </MudItem>
                                                }
                                                break;
                                        }
                                    }

                                </MudItem>

                                <MudItem Class="d-flex flex-column justify-center ma-1">
                                    @if (_user.Subordinates != null && _user.Subordinates.Count > 0)
                                    {
                                        <MudItem class="d-flex d-flex-column justify-center">
                                            <MudText Typo="Typo.h6">Subordinates</MudText>
                                        </MudItem>
                                        <MudItem class="d-flex d-flex-column justify-center">
                                            @foreach (var item in _user.Subordinates)
                                            {
                                                <MudCard Elevation="1" Class="m-3" Style="width: 300px;">
                                                    <MudCardHeader>
                                                        <CardHeaderContent>
                                                            <MudText Typo="Typo.subtitle1"></MudText>
                                                        </CardHeaderContent>
                                                        <CardHeaderActions>
                                                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(() => DeleteSeniorSupervisor(item))" />
                                                        </CardHeaderActions>
                                                    </MudCardHeader>
                                                    <MudCardContent>
                                                        <div class="font-weight-bold"> <MudText Typo="Typo.subtitle2">Name:</MudText>@item.Name</div>
                                                        <div class="font-weight-light"><MudText Typo="Typo.subtitle2">Group:</MudText>@item.Group?.Description</div>
                                                    </MudCardContent>
                                                    <div class="d-flex justify-content-between justify-center">
                                                        @switch (item.UserType)
                                                        {
                                                            case 1:
                                                                <MudPaper Elevation="0">
                                                                    <MudChip Icon="@Icons.Material.Filled.AdminPanelSettings" Color="Color.Primary">Admin</MudChip>
                                                                </MudPaper>
                                                                break;
                                                            case 2:
                                                                <MudPaper Elevation="0">
                                                                    <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary">Senior Supervisor</MudChip>
                                                                </MudPaper>
                                                                break;
                                                            case 3:
                                                                <MudPaper Elevation="0">
                                                                    <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary">Supervisor</MudChip>
                                                                </MudPaper>
                                                                break;
                                                            case 4:
                                                                <MudPaper Elevation="0">
                                                                    <MudChip Icon="@Icons.Material.Filled.PersonOutline" Color="Color.Dark">Operator</MudChip>
                                                                </MudPaper>
                                                                break;
                                                        }
                                                    </div>
                                                    <MudCardActions>

                                                    </MudCardActions>
                                                </MudCard>
                                            }
                                        </MudItem>

                                    }
                                    else
                                    {
                                        @if (_user.UserType != 4)
                                        {
                                            <MudItem class="d-flex d-flex-column justify-center">
                                                <MudText Typo="Typo.h6">Subordinates</MudText>
                                            </MudItem>
                                            <MudItem class="d-flex d-flex-column justify-center">
                                                <MudAlert Severity="Severity.Info"><MudText Typo="Typo.h6">without  Subordinates Yet...</MudText></MudAlert>
                                                
                                            </MudItem>
                                        }
                                    }
                                </MudItem>
                                <MudItem class="d-flex d-flex-column justify-center ma-1">
                                    @switch (_user.UserType)
                                    {
                                        case 1:
                                            @if (SeniorsSupervisors.Count > 0)
                                            {
                                                <MudItem Class="d-flex d-flex-row">
                                                    <MudSelect T="User" Label="Senior Supervisors" Placeholder="Select a subordinate SSV" @bind-Value="@selectedSeniorSupervisor" For="@(() => selectedSeniorSupervisor)" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                                                        <MudSelectItem Disabled="true" Value="selectedSeniorSupervisor">Select a subordinate SSV</MudSelectItem>
                                                        @foreach (var SS in SeniorsSupervisors)
                                                        {
                                                            @if (SS.PlantId == _user.PlantId && SS.AreaId == _user.AreaId)
                                                            {
                                                                <MudSelectItem Value="SS">@($"{SS.Name} - {SS.Group?.Description}")</MudSelectItem>
                                                            }
                                                        }
                                                    </MudSelect>
                                                    <MudButton OnClick="@(() => AddSeniorSupervisor(selectedSeniorSupervisor))" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Secondary" Size="Size.Large">Add subordinate</MudButton>
                                                </MudItem>
                                            }
                                            break;
                                        case 2:
                                            @if (Supervisors.Count > 0)
                                            {
                                                <MudItem Class="d-flex d-flex-row">
                                                    <MudSelect T="User" Label="Supervisors" Placeholder="Select a subordinate Supervisor" @bind-Value="@selectedSupervisor" For="@(() => selectedSupervisor)" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                                                        <MudSelectItem Disabled="true" Value="selectedSupervisor">Select a subordinate Supervisor</MudSelectItem>
                                                        @foreach (var SS in Supervisors)
                                                        {
                                                            @if (SS.PlantId == _user.PlantId && SS.AreaId == _user.AreaId)
                                                            {
                                                                <MudSelectItem Value="SS">@($"{SS.Name} - {SS.Group?.Description}")</MudSelectItem>
                                                            }
                                                        }
                                                    </MudSelect>
                                                    <MudButton Class="my-2" OnClick="@(() => AddSupervisor(selectedSupervisor))" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Secondary" Size="Size.Large">Add subordinate</MudButton>
                                                </MudItem>
                                            }
                                            break;
                                        case 3:
                                            @if (Operators.Count > 0)
                                            {
                                                <MudItem Class="d-flex d-flex-row">
                                                    <MudSelect T="User" Label="Supervisors" Placeholder="Select a subordinate Operator" @bind-Value="@selectedOperator" For="@(() => selectedOperator)" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                                                        <MudSelectItem Disabled="true" Value="selectedSupervisor">Select a subordinate Operator</MudSelectItem>
                                                        @foreach (var SS in Operators)
                                                        {
                                                            @if (SS.PlantId == _user.PlantId && SS.AreaId == _user.AreaId)
                                                            {
                                                                <MudSelectItem Value="SS">@($"{SS.Name} - {SS.Group?.Description}")</MudSelectItem>
                                                            }
                                                        }
                                                    </MudSelect>
                                                    <MudButton OnClick="@(() => AddOperator(selectedOperator))" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Secondary" Size="Size.Large">Add subordinate</MudButton>
                                                </MudItem>
                                            }
                                            break;
                                    }
                                </MudItem>
                            </MudItem>
                        }



                        @*<MudSwitch Class="mt-3" Label="Is active?" @bind-Checked="_user.IsActive" Color="Color.Info" UnCheckedColor="Color.Dark" />*@

                    </MudCardContent>
                    <MudCardActions>
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto">Create User</MudButton>
                        <MudButton Href="/usersmanagement" Variant="Variant.Filled" Class="ml-4">Cancel Creation</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudGrid>
    </EditForm>
</MudContainer>


@code {
    private List<BreadcrumbItem> _links = new List<BreadcrumbItem>
        {
            new BreadcrumbItem("Home", href: "#"),
            new BreadcrumbItem("Configuration", href: "/configuration"),
            new BreadcrumbItem("Users", href: "/usersmanagement"),
            new BreadcrumbItem("Create Users", href: "", disabled: true),
        };

    public IMask emailMask = RegexMask.Email();

    private User _user = new User();
    private User selectedSeniorSupervisor = new User();
    private User selectedSupervisor = new User();
    private User selectedOperator = new User();

    private List<User> _allUsers = new List<User>();
    private List<User> SeniorsSupervisors = new List<User>();
    private List<User> Supervisors = new List<User>();
    private List<User> Operators = new List<User>();

    List<Plant> _plants { get; set; } = new();
    List<Area> _areas = new();
    List<Distribution> _distributions = new();
    List<Group> _groups { get; set; } = new();


    protected async override Task OnInitializedAsync()
    {
        _plants = await PlantServices.GetPlants();
        _groups = await GroupServices.GetGroups();
        _allUsers = await UserServices.GetUsersWhitCollections();

        foreach (User item in _allUsers)
        {
            switch (item.UserType)
            {
                case 2:
                    SeniorsSupervisors.Add(item);
                    break;
                case 3:
                    Supervisors.Add(item);
                    break;
                case 4:
                    Operators.Add(item);
                    break;
            }
        }
    }

    private async void ShowAreas()
    {
        _user.AreaId = 0;
        _user.DistributionId = 0;
        _areas = await AreaServices.GetAreas(_user.PlantId);
    }

    private async void ShowDistributions()
    {
        _user.DistributionId = 0;
        _distributions = await DistributionsServices.GetDistributions(_user.PlantId, _user.AreaId);
    }


    private bool superior = false;
    private bool IsAdmin = false;
    private bool IsSeniorSupervisor = false;
    private bool IsSupervisor = false;
    private bool IsOperator = false;

    private void setActiveUser(int switchNumber)
    {
        IsAdmin = ((switchNumber == 1) && !IsAdmin) ? true : false;
        IsSeniorSupervisor = (switchNumber == 2) && !IsSeniorSupervisor ? true : false;
        IsSupervisor = ((switchNumber == 3) && !IsSupervisor) ? true : false;
        IsOperator = ((switchNumber == 4) && !IsOperator) ? true : false;

        if (!IsAdmin && !IsSeniorSupervisor && !IsSupervisor && !IsOperator)
            _user.UserType = 0;
        else
            _user.UserType = switchNumber;

        if (switchNumber == 1 || switchNumber == 2)
            DeleteSuperior();

        if (_user.Subordinates != null)
        {
            _user.Subordinates.Clear();
            SeniorsSupervisors.Clear();
            Supervisors.Clear();
            Operators.Clear();

            foreach (User item in _allUsers)
            {
                switch (item.UserType)
                {
                    case 2:
                        SeniorsSupervisors.Add(item);
                        break;
                    case 3:
                        Supervisors.Add(item);
                        break;
                    case 4:
                        Operators.Add(item);
                        break;
                }
            }
        }



        StateHasChanged();
    }

    private void SetSupervisor(){
        _user.SuperiorId = _user.Superior.SuperiorId;
        superior = true;
        StateHasChanged();
    }

    private void DeleteSuperior()
    {
        _user.SuperiorId = null;
        _user.Superior = null;
        superior = false;
        StateHasChanged();

    }

    private void DeleteSeniorSupervisor(User selection)
    {
        _user.Subordinates.Remove(selection);
        SeniorsSupervisors.Add(selection);
        StateHasChanged();
    }

    private void AddSeniorSupervisor(User selection)
    {
        if (_user.Subordinates == null)
        {
            _user.Subordinates = new List<User>();
        }


        if (selectedSeniorSupervisor != null && !_user.Subordinates.Contains(selection))
        {
            _user.Subordinates.Add(selection);

            SeniorsSupervisors.Remove(selection);

            selectedSeniorSupervisor = new User();
        }
        StateHasChanged();
    }


    private void DeleteSupervisor(User selection)
    {
        _user.Subordinates.Remove(selection);
        Supervisors.Add(selection);
        StateHasChanged();
    }

    private void AddSupervisor(User selection)
    {
        if (_user.Subordinates == null)
        {
            _user.Subordinates = new List<User>();
        }


        if (selectedSupervisor != null && !_user.Subordinates.Contains(selection))
        {
            _user.Subordinates.Add(selection);

            Supervisors.Remove(selection);

            selectedSupervisor = new User();
        }
        StateHasChanged();
    }

    private void DeleteOperator(User selection)
    {
        _user.Subordinates.Remove(selection);
        Operators.Add(selection);
        StateHasChanged();
    }

    private void AddOperator(User selection)
    {
        if (_user.Subordinates == null)
        {
            _user.Subordinates = new List<User>();
        }


        if (selectedOperator != null && !_user.Subordinates.Contains(selection))
        {
            _user.Subordinates.Add(selection);

            Operators.Remove(selection);

            selectedOperator = new User();
        }
        StateHasChanged();
    }

    private async void CreateUser()
    {
        _user.IsActive = true;
        _user.CreatedDate = DateTime.Now;
        _user.LastUpdated = DateTime.Now;

        var result = await UserServices.CreateUser(_user);
        if (result != null)
            NavigationManager.NavigateTo("/usersmanagement");
        else
            await JS.InvokeVoidAsync("alert", "Error, on create user please call your admin!"); // Alert
    }


}
