@page "/usersmanagement/EditUser/{userId:int}"
@using SupervisorMobility.Client.Pages.Configuration.AssyChartPage

@inject IPlantService PlantServices
@inject IAreaService AreaServices
@inject IDistributionService DistributionsServices
@inject IFileUploadAndDownloadService FileUpDoServices
@inject IUserService UsersServices
@inject IGroupService GroupServices
@inject NavigationManager NavigationManager
@inject IUserService UserServices

@inject IJSRuntime JS
@inject ISnackbar Snackbar

@*Title*@
<PageTitle>Supervisor Mobility | Detail Users</PageTitle>
@*Breadcrumb links*@
<MudBreadcrumbs Class="mb-10" Items="_links">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
    </ItemTemplate>
</MudBreadcrumbs>



@if (showui)
{
    <EditForm Model="_user" OnValidSubmit="UpdateUserAsync">
        <DataAnnotationsValidator />
        <MudGrid>
            @*User info*@
            <MudItem xs="12" sm="6" md="3">
                <MudCard>
                    <MudCardContent Style="justify-content:center">
                        <MudText Align="Align.Center" Typo="Typo.h3"><MudIcon Icon="@Icons.Material.Filled.Person"></MudIcon></MudText>
                        <MudItem Class="d-flex d-flex-column justify-center pa-2">
                            <MudText Typo="Typo.h5" Align="Align.Center" Class="pa-2">@_user.Name</MudText>
                        </MudItem>
                        @if (_user.IsActive == true)
                        {
                            <MudText Align="Align.Center" Class="pt-2">
                                <MudChip Variant="Variant.Text" Color="Color.Success">Active</MudChip>
                            </MudText>
                        }
                        else
                        {
                            <MudText Align="Align.Center" Class="pa-4">
                                <MudChip Variant="Variant.Text" Color="Color.Error">Inactive</MudChip>
                            </MudText>
                        }
                    </MudCardContent>
                </MudCard>
            </MudItem>
            @*User details*@
            <MudItem xs="12" sm="6" md="9">
                <MudGrid>
                    <MudItem xs="12">
                        <MudCard>
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.h4" Style="text-align:center" Class="mt-5 pl-16 ml-9">Update User</MudText>
                                </CardHeaderContent>
                                <CardHeaderActions>
                                    <MudChip Variant="Variant.Text" Color="Color.Info" Class="mr-15 mt-5">User ID @_user.UserId</MudChip>
                                </CardHeaderActions>
                            </MudCardHeader>
                            <MudCardContent Class="pl-15 pr-15">
                                <MudItem>
                                    <MudItem Class="d-flex flex-column justify-center align-self-center">
                                        @if(_user.UserType != 4){
                                            <MudTextField Label="User name" @bind-Value="@_user.ObjectId" />
                                        }
                                        <MudTextField Label="Name" @bind-Value="@_user.Name" />
                                    </MudItem>
                                </MudItem>

                                <MudItem>
                                    <MudItem>
                                        <MudText Typo="Typo.h6" Class="mt-5">Permissions</MudText>
                                    </MudItem>
                                    <MudItem class="d-flex d-flex-column justify-center">
                                        @switch (_user.UserType)
                                        {
                                            case 1:
                                                <MudPaper Elevation="0">
                                                    <MudChip Icon="@Icons.Material.Filled.AdminPanelSettings" Color="Color.Primary">Admin</MudChip>
                                                </MudPaper>
                                                break;
                                            case 2:
                                                <MudPaper Elevation="0">
                                                    <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary">Senior Supervisor</MudChip>
                                                </MudPaper>
                                                break;
                                            case 3:
                                                <MudPaper Elevation="0">
                                                    <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary">Supervisor</MudChip>
                                                </MudPaper>
                                                break;
                                            case 4:
                                                <MudPaper Elevation="0">
                                                    <MudChip Icon="@Icons.Material.Filled.PersonOutline" Color="Color.Dark">Operator</MudChip>
                                                </MudPaper>
                                                break;
                                        }
                                    </MudItem>

                                    <MudItem Class="d-flex flex-row align-center justify-center pa-2 ma-2">
                                        <MudSwitch Class="ma-1" Label="Admin" @bind-Checked="@IsAdmin" @onclick="@(() => setActiveUser(1))" Color="Color.Primary" UnCheckedColor="Color.Dark" />
                                        <MudSwitch Class="ma-1" Label="Senior Supervisor" @bind-Checked="@IsSeniorSupervisor" @onclick="@(() => setActiveUser(2))" Color="Color.Secondary" UnCheckedColor="Color.Dark" />
                                        <MudSwitch Class="ma-1" Label="Supervisor" @bind-Checked="@IsSupervisor" @onclick="@(() => setActiveUser(3))" Color="Color.Secondary" UnCheckedColor="Color.Dark" />
                                        <MudSwitch Class="ma-1" Label="Operator" @bind-Checked="@IsOperator" @onclick="@(() => setActiveUser(4))" Color="Color.Info" UnCheckedColor="Color.Dark" />
                                    </MudItem>
                                </MudItem>


                                @*
                            <MudItem>
                            <MudItem>
                            <MudText Typo="Typo.h6" Class="mt-5">General Info</MudText>
                            </MudItem>
                            <MudItem class="d-flex flex-column justify-center align-self-center">
                            @if (_user.UserType != 4)
                            {
                            <MudItem>
                            <MudTextField Label="Email" @bind-Value="@_user.Email" />
                            </MudItem>
                            }
                            @if (_user.UserType == 4)
                            {
                            <MudItem>
                            <MudTextField Label="Payroll" @bind-Value="@_user.Payroll" />
                            </MudItem>
                            }
                            </MudItem>
                            </MudItem>*@
                                @if (_user.UserType > 0)
                                {
                                    <MudItem>
                                        <MudText Typo="Typo.h6" Class="mt-5">General Info</MudText>
                                    </MudItem>
                                }
                                @if (_user.UserType == 4)
                                {
                                    <MudTextField Label="User Payroll Number" @bind-Value="@_user.Payroll" For="@(() => _user.Payroll)" />
                                }

                                @if (_user.UserType != 4 && _user.UserType != 0)
                                {
                                    <MudTextField Mask="@emailMask" Label="Email Address" HelperText="@emailMask.Mask"
                                    @bind-Value="@_user.Email" For="@(() => _user.Email)" Variant="@Variant.Text" Clearable />
                                }

                                @if (_user.UserType > 1)
                                {
                                    <MudItem Class="mt-5">
                                        <MudText Typo="Typo.h6">Employment Information</MudText>
                                    </MudItem>

                                }

                                @if(_user.UserType != 1)
                                {
                                    @if (_user.UserType == 2)
                                    {
                                        @*Mud select of Plants *@
                                        <MudSelect T="int" Label="Plant" Variant="Variant.Text" Placeholder="Select a Plant" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@auxPlant" For="@(() => auxPlant)" SelectedValuesChanged="ShowAreasInvokeByPlantSelector">
                                            <MudSelectItem Disabled="true" Value="0">Select a Plant</MudSelectItem>
                                            @foreach (var type in _plants)
                                            {
                                                <MudSelectItem Value="type.PlantId">@($"{type.Code}-{type.Description}")</MudSelectItem>
                                            }
                                        </MudSelect>
                                        @*Mud select of Areas *@
                                        @*<MudSelect T="int" Label="Area" Variant="Variant.Text" Placeholder="Select an Area" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@auxArea" For="@(() => auxArea)" SelectedValuesChanged="ShowDistributionInvokeByAreasSelector">
                            <MudSelectItem Disabled="true" Value="0">Select an Area</MudSelectItem>
                            @foreach (var type in _areas)
                            {
                            <MudSelectItem Value="type.AreaId">@($"{type.Code}-{type.Description}")</MudSelectItem>
                            }
                            </MudSelect>*@

                                        <MudSelect T="int" Label="Group" Variant="Variant.Text" Placeholder="Select a Group" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@auxGroup" For="@(() => auxGroup)">
                                            <MudSelectItem Disabled="true" Value="0">Select an Group</MudSelectItem>
                                            @foreach (var type in _groups)
                                            {
                                                <MudSelectItem Value="type.GroupId">@($"{type.Code}-{type.Description}")</MudSelectItem>
                                            }
                                        </MudSelect>
                                    }
                                    else if (_user.UserType == 3)
                                    {
                                        <MudTextField @bind-Value="plantInfo" Label="Plant" ReadOnly="true" Variant="Variant.Outlined" />
                                        if (_user.Superior != null)
                                        {
                                            if (_user.Superior.Areas != null && _user.Superior.Areas.Count > 0)
                                            {
                                                <MudSelect T="int" Label="Area" Variant="Variant.Outlined" Placeholder="Select an Area" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@auxArea" For="@(() => auxArea)" SelectedValuesChanged="ShowDistributionInvokeByAreasSelector">
                                                    <MudSelectItem Disabled="true" Value="0">Select an Area</MudSelectItem>
                                                    @foreach (var type in _user.Superior.Areas)
                                                    {
                                                        <MudSelectItem Value="type.AreaId">@($"{type.Code}-{type.Description}")</MudSelectItem>
                                                    }
                                                </MudSelect>
                                            }
                                            else
                                            {
                                                <MudAlert Severity="Severity.Info">
                                                    <MudText Style="font-weight: bold;">This superior has no areas yet.</MudText>
                                                </MudAlert>
                                            }

                                        }

                                        <MudTextField @bind-Value="grupInfo" Label="Group" ReadOnly="true" Variant="Variant.Outlined" />
                                    }
                                    else if (_user.UserType == 3 && LogedUser.UserType == 2)
                                    {
                                        <MudTextField @bind-Value="plantInfo" Label="Plant" ReadOnly="true" Variant="Variant.Outlined" />
                                        if (LogedUser.Areas != null)
                                        {
                                            <MudSelect T="int" Label="Area" Variant="Variant.Outlined" Placeholder="Select an Area" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@auxArea" For="@(() => auxArea)" SelectedValuesChanged="ShowDistributionInvokeByAreasSelector">
                                                <MudSelectItem Disabled="true" Value="0">Select an Area</MudSelectItem>
                                                @foreach (var type in LogedUser.Areas)
                                                {
                                                    <MudSelectItem Value="type.AreaId">@($"{type.Code}-{type.Description}")</MudSelectItem>
                                                }
                                            </MudSelect>
                                        }
                                        else
                                        {
                                            <MudAlert Severity="Severity.Info">
                                                <MudText Style="font-weight: bold;">This superior has no areas yet.</MudText>
                                            </MudAlert>
                                        }
                                        <MudTextField @bind-Value="grupInfo" Label="Group" ReadOnly="true" Variant="Variant.Outlined" />
                                    }
                                    else if (_user.UserType == 4)
                                    {
                                        <MudTextField @bind-Value="plantInfo" Label="Plant" ReadOnly="true" Variant="Variant.Outlined" />
                                        <MudTextField @bind-Value="areaInfo" Label="Area" ReadOnly="true" Variant="Variant.Outlined" />
                                        <MudTextField @bind-Value="grupInfo" Label="Group" ReadOnly="true" Variant="Variant.Outlined" />
                                    }




                                    @*Mud select of Distribution *@
                                    @if (_user.UserType == 4 && _user.Superior != null)
                                    {
                                        <MudSelect T="int" Label="Distribution" Variant="Variant.Text" Placeholder="Select a Distribution" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@auxDistribution" For="@(() => auxDistribution)">
                                            <MudSelectItem Disabled="true" Value="0">Select an Distribution</MudSelectItem>
                                            @foreach (var type in _distributions)
                                            {
                                                <MudSelectItem Value="type.DistributionId">@($"{type.Code}-{type.Description}")</MudSelectItem>
                                            }
                                        </MudSelect>
                                    }
                                    @* Areas Managed*@


                                    @if (_user.UserType == 2)
                                    {
                                        <MudItem Class="mt-5">
                                            <MudText Typo="Typo.h6">Managed Areas</MudText>
                                        </MudItem>
                                        @switch (_user.Areas?.Count)
                                        {
                                            case null:
                                                @if (auxPlant == 0)
                                                {
                                                    <MudItem>
                                                        <MudAlert Severity="Severity.Info">
                                                            Select a plant first
                                                        </MudAlert>
                                                    </MudItem>
                                                }
                                                else
                                                {
                                                    @if (_areasManager?.Count > 0)
                                                    {
                                                        <MudItem class="d-flex flex-column justify-center">
                                                            <MudAlert Severity="Severity.Info">
                                                                First select the area / areas to manage
                                                            </MudAlert>
                                                        </MudItem>
                                                    }
                                                    else
                                                    {
                                                        <MudItem class="d-flex flex-column justify-center">
                                                            <MudAlert Severity="Severity.Info">
                                                                This plant does not have areas to manage
                                                            </MudAlert>
                                                        </MudItem>
                                                    }


                                                }
                                                break;
                                            case 0:
                                                @if (auxPlant == 0)
                                                {
                                                    <MudItem class="d-flex flex-column justify-center justify-align-center">
                                                        <MudAlert Severity="Severity.Info">
                                                            First select a plant
                                                        </MudAlert>
                                                    </MudItem>
                                                }
                                                else
                                                {
                                                    @if (_areasManager?.Count > 0)
                                                    {
                                                        <MudItem class="d-flex flex-column justify-center">
                                                            <MudAlert Severity="Severity.Info">
                                                                First add areas to manage
                                                            </MudAlert>
                                                        </MudItem>
                                                    }
                                                    else
                                                    {
                                                        <MudItem class="d-flex flex-column justify-center">
                                                            <MudAlert Severity="Severity.Info">
                                                                This plant does not have areas to manage
                                                            </MudAlert>
                                                        </MudItem>
                                                    }
                                                }
                                                break;
                                            default:
                                                @if (_user.Areas is not null && _user.Areas?.ToList().Count > 0)
                                                {
                                                    <MudItem class="d-flex flex-column justify-center ma-1">
                                                        <MudItem class="d-flex d-flex-column justify-center">
                                                            @foreach (var itemArea in _user.Areas)
                                                            {
                                                                <MudCard Elevation="1" Class="mr-5" Style="width: 300px;">
                                                                    <MudCardHeader>
                                                                        <CardHeaderContent>
                                                                            <MudText Typo="Typo.subtitle1">
                                                                                <MudIcon Class="pt-2" Icon="@Icons.Material.Filled.Business"></MudIcon>
                                                                                <b>Area Id:</b> @itemArea.AreaId
                                                                            </MudText>
                                                                        </CardHeaderContent>
                                                                        <CardHeaderActions>
                                                                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="() => DeleteAreaFromUserList(itemArea)" />
                                                                        </CardHeaderActions>
                                                                    </MudCardHeader>
                                                                    <MudCardContent>
                                                                        <div class="font-weight-bold"><b>Code:</b> @itemArea.Code</div>
                                                                        <div class="font-weight-light"><b>Description:</b> @itemArea.Description</div>
                                                                    </MudCardContent>
                                                                    <MudCardActions></MudCardActions>
                                                                </MudCard>
                                                            }
                                                        </MudItem>
                                                    </MudItem>
                                                }

                                                break;
                                        }
                                        @*Selector Ares*@
                                        @if (_areasManager?.Count > 0 && auxPlant != 0)
                                        {
                                            <MudItem class="d-flex d-flex-column justify-center ma-1">
                                                <MudItem Class="d-flex d-flex-row">
                                                    <MudSelect T="Area" Label="Areas" SelectedValuesChanged="@OnSelectedAreaToManageFunction" Placeholder="Select Area" @bind-Value="@selectedAreaOfList" For="@(() => selectedAreaOfList)" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                                                        <MudSelectItem Disabled="true" Value="selectedAreaOfList"> Select Area </MudSelectItem>
                                                        @foreach (var areaItem in _areasManager)
                                                        {
                                                            <MudSelectItem Value="areaItem">@($"{areaItem.Code}-{areaItem.Description}") </MudSelectItem>
                                                        }
                                                    </MudSelect>
                                                    <MudButton Class="ml-5" Disabled="@ActiveAddArea" OnClick="@(() => AddAreaToUserList(selectedAreaOfList))" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Secondary" Size="Size.Large"> Add Area </MudButton>
                                                </MudItem>
                                            </MudItem>
                                        }
                                    }
                                }
                                


                                @if (_user.UserType != 0)
                                {
                                    <MudItem>
                                        <MudItem Class="mt-5">
                                            <MudText Typo="Typo.h6"> Hierarchy tree </MudText>
                                        </MudItem>
                                        @*Superiorcard *@
                                        <MudItem Class="d-flex flex-column justify-center ma-1">
                                            @if (_user.Superior != null)
                                            {
                                                <MudItem class="d-flex d-flex-column justify-center">
                                                    <MudText Typo="Typo.h6"> Superior </MudText>
                                                </MudItem>
                                                <MudItem class="d-flex d-flex-column justify-center">
                                                    <MudCard Elevation="1" Class="m-3" Style="width: 300px;">
                                                        <MudCardHeader>
                                                            <CardHeaderContent >
                                                                <MudIcon Icon="@Icons.Material.Filled.SupervisorAccount"> </MudIcon>
                                                            </CardHeaderContent>
                                                            <CardHeaderActions>
                                                                @if (!(LogedUser.UserType == 2 && _user.UserType == 3))
                                                                {
                                                                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(() => RemoveSuperiorUser())" />
                                                                }
                                                            </CardHeaderActions>
                                                        </MudCardHeader>
                                                        <div class="font-weight-bold pl-4 pr-4 pb-4"> <MudText Typo="Typo.subtitle2"> Name:</MudText> @_user.Superior.Name </div>
                                                        <div class="d-flex justify-content-between justify-center">
                                                            @switch (_user.Superior.UserType)
                                                            {
                                                                case 1:
                                                                        <MudChip Icon="@Icons.Material.Filled.AdminPanelSettings" Color="Color.Primary"> Admin </MudChip>
                                                                    break;
                                                                case 2:
                                                                case 3:
                                                                        <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary"> Supervisor </MudChip>
                                                                    break;
                                                                case 4:
                                                                        <MudChip Icon="@Icons.Material.Filled.PersonOutline" Color="Color.Dark"> Operator </MudChip>
                                                                    break;
                                                            }
                                                        </div>
                                                        <MudCardActions>

                                                        </MudCardActions>
                                                    </MudCard>

                                                </MudItem>

                                            }
                                            else
                                            {


                                                @if (_user.UserType > 2)
                                                {
                                                    <MudItem class="d-flex d-flex-column justify-center">
                                                        <MudText Typo="Typo.h6"> Superior </MudText>
                                                    </MudItem>
                                                    <MudItem class="d-flex d-flex-column justify-center">
                                                        <MudAlert Severity="Severity.Info">
                                                            Select a superior first
                                                        </MudAlert>
                                                    </MudItem>
                                                }
                                                @*Select Superior *@

                                                @switch (_user.UserType)
                                                {
                                                    case 3:
                                                        @if (SeniorsSupervisors.Count > 0)
                                                        {
                                                            <MudItem Class="d-flex d-flex-row">
                                                                <MudSelect T="User" Label="SSV" Placeholder="Select Supervisor" @bind-Value="@_user.Superior" SelectedValuesChanged="SetSuperiorToUser" For="@(() => _user.Superior)" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                                                                    <MudSelectItem Disabled="true" Value="selectedSeniorSupervisorOfList"> Select a Supervisor</MudSelectItem>
                                                                    @foreach (var SS in SeniorsSupervisors)
                                                                    {
                                                                        @if (LogedUser.UserType == 1)
                                                                        {
                                                                            <MudSelectItem Value="SS">@($"{SS.Name}-{SS.Group?.Description}") </MudSelectItem>
                                                                        }
                                                                        else
                                                                        {
                                                                            @if (SS.PlantId == _user.PlantId && SS.Areas?.ToList().FindIndex(s => s.AreaId == _user.AreaId) != -1)
                                                                            {
                                                                                <MudSelectItem Value="SS">@($"{SS.Name}-{SS.Group?.Description}") </MudSelectItem>
                                                                            }
                                                                        }
                                                                    }
                                                                </MudSelect>
                                                            </MudItem>
                                                        }
                                                        break;
                                                    case 4:
                                                        @if (Supervisors.Count > 0)
                                                        {
                                                            <MudItem Class="d-flex d-flex-row">
                                                                <MudSelect T="User" Label="Supervisors" Placeholder="Select Supervisor" @bind-Value="@_user.Superior" For="@(() => _user.Superior)" SelectedValuesChanged="SetSuperiorToUser" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                                                                    <MudSelectItem Disabled="true" Value="selectedSupervisorOfList"> Select Supervisor </MudSelectItem>
                                                                    @foreach (var SS in Supervisors)
                                                                    {
                                                                        @if (LogedUser.UserType == 1)
                                                                        {
                                                                            <MudSelectItem Value="SS">@($"{SS.Name}-{SS.Area.Description}-{SS.Group?.Description}") </MudSelectItem>
                                                                        }
                                                                        else if (LogedUser.UserType == 2)
                                                                        {
                                                                            @if (SS.PlantId == LogedUser.PlantId && LogedUser.Areas?.ToList().FindIndex(s => s.AreaId == SS.AreaId) != -1)
                                                                            {
                                                                                <MudSelectItem Value="SS">@($"{SS.Name}-{SS.Area.Description}-{SS.Group?.Description}") </MudSelectItem>
                                                                            }
                                                                        }
                                                                    }
                                                                </MudSelect>
                                                            </MudItem>
                                                        }
                                                        break;
                                                }
                                            }
                                        </MudItem>

                                        @*Subordinados *@
                                        <MudItem Class="d-flex flex-column justify-center">
                                            @if (@_user.UserType != 4)
                                            {
                                                <MudItem class="d-flex d-flex-column justify-center">
                                                    <MudText Typo="Typo.h6"> Subordinates </MudText>
                                                </MudItem>

                                            }

                                            @switch (_user.Subordinates?.Count)
                                            {
                                                case null:

                                                    @if (auxPlant == 0 && _user.UserType > 2)
                                                    {
                                                        <MudItem class="d-flex flex-column justify-center">
                                                            <MudAlert Severity="Severity.Info">
                                                                Select a Superior first
                                                            </MudAlert>
                                                        </MudItem>
                                                    }
                                                    else
                                                    {
                                                        @switch (_user.UserType)
                                                        {
                                                            case 1:
                                                                @if (SeniorsSupervisors?.Count > 0)
                                                                {
                                                                    <MudItem class="d-flex flex-column justify-center">
                                                                        <MudAlert Severity="Severity.Info">
                                                                            First add a subordinate SSV
                                                                        </MudAlert>
                                                                    </MudItem>
                                                                }
                                                                else
                                                                {
                                                                    <MudItem class="d-flex flex-column justify-center">
                                                                        <MudAlert Severity="Severity.Info">
                                                                            This plant does not have SSV
                                                                        </MudAlert>
                                                                    </MudItem>
                                                                }
                                                                break;
                                                            case 2:
                                                                @if (Supervisors?.Count > 0)
                                                                {
                                                                    @if (_user.Areas?.Count > 0)
                                                                    {
                                                                        <MudItem class="d-flex flex-column justify-center">
                                                                            <MudAlert Severity="Severity.Info">
                                                                                First add a Subordinate Supervisor
                                                                            </MudAlert>
                                                                        </MudItem>
                                                                    }
                                                                    else
                                                                    {
                                                                        <MudItem class="d-flex flex-column justify-center">
                                                                            <MudAlert Severity="Severity.Info">
                                                                                First add areas to manage
                                                                            </MudAlert>
                                                                        </MudItem>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <MudItem class="d-flex flex-column justify-center">
                                                                        <MudAlert Severity="Severity.Info">
                                                                            This plant does not have Supervisors
                                                                        </MudAlert>
                                                                    </MudItem>
                                                                }
                                                                break;
                                                            case 3:
                                                                @if (Operators?.Count > 0)
                                                                {
                                                                    @if (_user.Superior != null)
                                                                    {
                                                                        <MudItem class="d-flex flex-column justify-center">
                                                                            <MudAlert Severity="Severity.Info">
                                                                                First add a subordinated operator
                                                                            </MudAlert>
                                                                        </MudItem>
                                                                    }
                                                                    else
                                                                    {
                                                                        <MudItem class="d-flex flex-column justify-center">
                                                                            <MudAlert Severity="Severity.Info">
                                                                                First Select Superior
                                                                            </MudAlert>
                                                                        </MudItem>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <MudItem class="d-flex flex-column justify-center">
                                                                        <MudAlert Severity="Severity.Info">
                                                                            This plant / area does not have Operators
                                                                        </MudAlert>
                                                                    </MudItem>
                                                                }
                                                                break;
                                                        }
                                                    }
                                                    break;
                                                case 0:

                                                    @if (auxPlant == 0 && _user.UserType > 2)
                                                    {
                                                        <MudItem class="d-flex flex-column justify-center justify-align-center">
                                                            <MudAlert Severity="Severity.Info">
                                                                First select a superior
                                                            </MudAlert>
                                                        </MudItem>
                                                    }
                                                    else
                                                    {
                                                        @switch (_user.UserType)
                                                        {
                                                            case 1:
                                                                @if (SeniorsSupervisors?.Count > 0)
                                                                {
                                                                    <MudItem class="d-flex flex-column justify-center">
                                                                        <MudAlert Severity="Severity.Info">
                                                                            First add a subordinate SSV
                                                                        </MudAlert>
                                                                    </MudItem>
                                                                }
                                                                else
                                                                {
                                                                    <MudItem class="d-flex flex-column justify-center">
                                                                        <MudAlert Severity="Severity.Info">
                                                                            This plant does not have SSV
                                                                        </MudAlert>
                                                                    </MudItem>
                                                                }
                                                                break;
                                                            case 2:
                                                                @if (Supervisors?.Count > 0)
                                                                {
                                                                    @if (_user.Areas?.Count > 0)
                                                                    {
                                                                        <MudItem class="d-flex flex-column justify-center">
                                                                            <MudAlert Severity="Severity.Info">
                                                                                First add a Subordinate Supervisor
                                                                            </MudAlert>
                                                                        </MudItem>
                                                                    }
                                                                    else
                                                                    {
                                                                        <MudItem class="d-flex flex-column justify-center">
                                                                            <MudAlert Severity="Severity.Info">
                                                                                First add areas to manage
                                                                            </MudAlert>
                                                                        </MudItem>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <MudItem class="d-flex flex-column justify-center">
                                                                        <MudAlert Severity="Severity.Info">
                                                                            This plant does not have Supervisors
                                                                        </MudAlert>
                                                                    </MudItem>
                                                                }
                                                                break;
                                                            case 3:
                                                                @if (Operators?.Count > 0)
                                                                {
                                                                    @if (_user.Superior != null)
                                                                    {
                                                                        <MudItem class="d-flex flex-column justify-center">
                                                                            <MudAlert Severity="Severity.Info">
                                                                                First add a subordinate operator
                                                                            </MudAlert>
                                                                        </MudItem>
                                                                    }
                                                                    else
                                                                    {
                                                                        <MudItem class="d-flex flex-column justify-center">
                                                                            <MudAlert Severity="Severity.Info">
                                                                                First select a Superior
                                                                            </MudAlert>
                                                                        </MudItem>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <MudItem class="d-flex flex-column justify-center">
                                                                        <MudAlert Severity="Severity.Info">
                                                                            This plant does not have Operators
                                                                        </MudAlert>
                                                                    </MudItem>
                                                                }
                                                                break;
                                                        }
                                                    }
                                                    break;
                                                default:
                                                    @if (_user.Subordinates is not null && _user.Subordinates?.ToList().Count > 0)
                                                    {
                                                        <MudItem class="d-flex d-flex-column justify-center">
                                                            @foreach (var item in _user.Subordinates)
                                                            {
                                                                <MudCard Elevation="1" Class="mr-5" Style="width: 300px; flex: 0 0 calc(28%-1rem);">
                                                                    <MudCardHeader>
                                                                        <CardHeaderContent>
                                                                            @switch (item.UserType)
                                                                            {
                                                                                case 2:
                                                                                case 3:<MudIcon Icon="@Icons.Material.Filled.SupervisorAccount"> </MudIcon>
                                                                                    break;
                                                                                case 4:
                                                                                    <MudIcon Icon="@Icons.Material.Filled.Person"> </MudIcon>
                                                                                    break;
                                                                            }
                                                                        </CardHeaderContent>
                                                                        <CardHeaderActions>
                                                                            @switch (_user.UserType)
                                                                            {
                                                                                case 1:
                                                                                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(() => DeleteSeniorSupervisorFromSubordinateList(item))" />
                                                                                    break;
                                                                                case 2:
                                                                                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(() => DeleteSupervisorFromSubordinateList(item))" />
                                                                                    break;
                                                                                case 3:
                                                                                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(() => DeleteOperatorFromSubordinateList(item))" />
                                                                                    break;
                                                                            }
                                                                        </CardHeaderActions>
                                                                    </MudCardHeader>
                                                                    <div class="font-weight-bold pl-4 pr-4 pb-4"> <MudText Typo="Typo.subtitle2"> Name:</MudText> @item.Name </div>
                                                                    <div class="d-flex justify-content-between justify-center">
                                                                        @switch (item.UserType)
                                                                        {
                                                                            case 1:
                                                                                    <MudChip Icon="@Icons.Material.Filled.AdminPanelSettings" Color="Color.Primary"> Admin </MudChip>
                                                                                break;
                                                                            case 2:
                                                                            case 3:
                                                                                    <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary"> Supervisor </MudChip>
                                                                                break;
                                                                            case 4:
                                                                                    <MudChip Icon="@Icons.Material.Filled.PersonOutline" Color="Color.Dark"> Operator </MudChip>
                                                                                break;
                                                                        }
                                                                    </div>
                                                                    <MudCardActions>

                                                                    </MudCardActions>
                                                                </MudCard>
                                                            }
                                                        </MudItem>
                                                    }
                                                    break;
                                            }
                                        </MudItem>


                                        @*Seccion de Selector Subordinados *@
                                        <MudItem class="d-flex d-flex-column justify-center ma-1">

                                            <MudItem Class="d-flex d-flex-row">
                                                @switch (_user.UserType)
                                                {
                                                    case 1:
                                                        @if (SeniorsSupervisors?.Count > 0)
                                                        {
                                                            <MudSelect T="User" Label="Senior Supervisors" SelectedValuesChanged="OnSelectedSubordinatedFunction" Placeholder="Select SSV" @bind-Value="@selectedSeniorSupervisorOfList" For="@(() => selectedSeniorSupervisorOfList)" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                                                                <MudSelectItem Disabled="true" Value="selectedSeniorSupervisorOfList"> Select a subordinate SSV </MudSelectItem>
                                                                @foreach (var SS in SeniorsSupervisors)
                                                                {
                                                                    @if (LogedUser.UserType == 1)
                                                                    {
                                                                        <MudSelectItem Value="SS">@($"{SS.Name} - {SS.Area?.Description} - {SS.Group?.Description}") </MudSelectItem>
                                                                    }
                                                                    else
                                                                    {
                                                                        @if (_user.Areas?.ToList().FindIndex(a => a.AreaId == SS.AreaId) != -1)
                                                                        {
                                                                            <MudSelectItem Value="SS">@($"{SS.Name} - {SS.Area?.Description} - {SS.Group?.Description}") </MudSelectItem>
                                                                        }
                                                                    }
                                                                }
                                                            </MudSelect>
                                                            <MudButton Disabled="@ActiveAddSubordinated" OnClick="@(() => AddSeniorSupervisorToSubordinateList(selectedSeniorSupervisorOfList))" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Secondary" Size="Size.Large"> Add subordinate </MudButton>
                                                        }
                                                        break;
                                                    case 2:
                                                        @if (Supervisors?.Count > 0 && _user.Areas?.Count > 0)
                                                        {
                                                            <MudSelect T="User" Label="Supervisors" SelectedValuesChanged="OnSelectedSubordinatedFunction" Placeholder="Select Supervisor" @bind-Value="@selectedSupervisorOfList" For="@(() => selectedSupervisorOfList)" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                                                                <MudSelectItem Disabled="true" Value="selectedSupervisorOfList"> Select a subordinate Supervisor </MudSelectItem>
                                                                @foreach (var SS in Supervisors)
                                                                {
                                                                    @if (LogedUser.UserType == 1)
                                                                    {
                                                                        <MudSelectItem Value="SS">@($"{SS.Name} - {SS.Area?.Description} - {SS.Group?.Description}") </MudSelectItem>
                                                                    }
                                                                    else
                                                                    {
                                                                        @if (_user.Areas?.ToList().FindIndex(a => a.AreaId == SS.AreaId) != -1)
                                                                        {
                                                                            <MudSelectItem Value="SS">@($"{SS.Name} - {SS.Area?.Description} - {SS.Group?.Description}") </MudSelectItem>
                                                                        }
                                                                    }
                                                                }
                                                            </MudSelect>
                                                            <MudButton Disabled="@ActiveAddSubordinated" OnClick="@(() => AddSupervisorToSubordinateList(selectedSupervisorOfList))" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Secondary" Size="Size.Large"> Add subordinate </MudButton>
                                                        }
                                                        break;
                                                    case 3:
                                                        @if (Operators?.Count > 0 && auxPlant != 0)
                                                        {
                                                            <MudSelect T="User" Label="Operators" SelectedValuesChanged="OnSelectedSubordinatedFunction" Placeholder="Select Supervisor" @bind-Value="@selectedOperatorOfList" For="@(() => selectedOperatorOfList)" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                                                                <MudSelectItem Disabled="true" Value="selectedOperatorOfList"> Select an Operator</MudSelectItem>
                                                                @foreach (var SS in Operators)
                                                                {
                                                                    @if (LogedUser.UserType == 1)
                                                                    {
                                                                        <MudSelectItem Value="SS">@($"{SS.Name} - {SS.Area?.Description} - {SS.Group?.Description} - {SS.Distribution?.Description}") </MudSelectItem>
                                                                    }
                                                                    else if(LogedUser.UserType == 2)
                                                                    {
                                                                        @if (_user.Areas?.ToList().FindIndex(a => a.AreaId == SS.AreaId) != -1)
                                                                        {
                                                                            <MudSelectItem Value="SS">@($"{SS.Name }- {SS.Area?.Description} - {SS.Group?.Description} - {SS.Distribution?.Description}") </MudSelectItem>
                                                                        }
                                                                    }
                                                                    else if(LogedUser.UserType == 3){
                                                                        @if (LogedUser.AreaId == SS.AreaId)
                                                                        {
                                                                            <MudSelectItem Value="SS">@($"{SS.Name} - {SS.Area?.Description} - {SS.Group?.Description} - {SS.Distribution?.Description}") </MudSelectItem>
                                                                        }
                                                                    }
                                                                }
                                                            </MudSelect>
                                                            <MudButton Disabled="@ActiveAddSubordinated" OnClick="@(() => AddOperatorToSubordinateList(selectedOperatorOfList))" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Secondary" Size="Size.Large"> Add subordinate </MudButton>
                                                        }
                                                        break;
                                                }
                                            </MudItem>

                                        </MudItem>
                                    </MudItem>
                                }

                                @*<MudSwitch Class="mt-3" Label="Is active?" @bind-Checked="_user.IsActive" Color="Color.Info" UnCheckedColor="Color.Dark" />*@

                            </MudCardContent>
                            @*                                <MudItem>
                        <MudItem>
                        <MudText Typo="Typo.h6" Class="mt-5">More Data For Admin</MudText>
                        </MudItem>
                        <MudItem class="d-flex flex-column justify-center align-self-center">
                        <MudTextField Label="Created Date" ReadOnly=true @bind-Value="@_user.CreatedDate" />
                        <MudTextField Label="Last Modification Date" ReadOnly=true @bind-Value="@_user.LastUpdated" />
                        <MudTextField Label="Disable User Date" ReadOnly=true @bind-Value="@_user.DisabledDate" />

                        </MudItem>
                        </MudItem>


                        </MudCardContent>*@
                            <MudCardActions>
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto mb-10">Save</MudButton>
                                <MudButton Href="/usersmanagement" Variant="Variant.Filled" Class="ml-4 mb-10 mr-13">Cancel</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>

    </EditForm>

}
else
{


    <MudItem Class="d-flex flex-column align-center justify-center pa-3 ma-2">
        <MudItem class="d-flex justify-center align-self-center pa-3 ma-2 ">
            <MudText Typo="Typo.h6" Class="align-item-center center">Loading Form</MudText>
        </MudItem>
        <MudPaper Class="flex d-flex-row pa-3 ma-2" Elevation="0">
            <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true" />
        </MudPaper>
    </MudItem>
}




@code {
    [Parameter]
    public int userId { get; set; }



    private List<BreadcrumbItem> _links = new List<BreadcrumbItem>
        {
            new BreadcrumbItem("Home", href: "#"),
            new BreadcrumbItem("Configuration", href: "/configuration"),
            new BreadcrumbItem("Users", href: "/usersmanagement"),
            new BreadcrumbItem("Edit Users", href: "", disabled: true),
        };

    public IMask emailMask = RegexMask.Email();

    private User _user = new User();
    private User selectedSeniorSupervisorOfList = new User();
    private User selectedSupervisorOfList = new User();
    private User selectedOperatorOfList = new User();
    private Area selectedAreaOfList = new Area();

    private List<User> _allUsers = new List<User>();
    private List<User> SeniorsSupervisors = new List<User>();
    private List<User> Supervisors = new List<User>();
    private List<User> Operators = new List<User>();

    List<Plant> _plants { get; set; } = new();
    List<Area> _areas = new();
    List<Area> _areasManager = new List<Area>();
    List<Distribution> _distributions = new();
    List<Group> _groups { get; set; } = new();

    private string json = string.Empty;
    public User LogedUser = new();

    //auxdistribution no null

    private int auxPlant = 0;
    private int auxArea = 0;
    private int auxDistribution = 0;
    private int auxGroup = 0;

    private bool superior = false;

    //Var aux para controlar los switch de permisos
    private bool IsAdmin = false;
    private bool IsSeniorSupervisor = false;
    private bool IsSupervisor = false;
    private bool IsOperator = false;

    //Var On/Off Button Add
    private bool ActiveAddArea = true;
    private bool ActiveAddSubordinated = true;

    //aux strings show info
    private string plantInfo = "First select a superior";
    private string areaInfo = "First select a superior";
    private string grupInfo = "First select a superior";

    private bool showui = false;


    protected async override Task OnInitializedAsync()
    {
        _user = await UsersServices.GetUserAndCollection(userId);
        showui = true;

        json = await JS.InvokeAsync<string>("localStorage.getItem", "user");
        LogedUser = JsonSerializer.Deserialize<User>(json) ?? new();

        _allUsers = await UserServices.GetUsersWhitCollections();

        if(_user.UserType != 1){

            _areas = await AreaServices.GetAreas((int)_user.PlantId);
            auxPlant = (int)_user.PlantId;
        }
        _plants = await PlantServices.GetPlants();
        _groups = await GroupServices.GetGroups();

        IsAdmin = (_user.UserType == 1);
        IsSeniorSupervisor = (_user.UserType == 2);
        IsSupervisor = (_user.UserType == 3);
        IsOperator = (_user.UserType == 4);


        //Console.WriteLine(_user.Superior.Name);
        //Console.WriteLine(_user.Superior.Areas.Count);

        //if (_user.Superior != null)
        //{
        //    superior = true;
        //    //await SetSuperiorToUser();
        //}

        selectedSeniorSupervisorOfList = new User();
        selectedSupervisorOfList = new User();
        selectedOperatorOfList = new User();
        selectedAreaOfList = new Area();

        //
        foreach (User item in _allUsers)
        {
            if(_user.Superior != null){
                if(_user.SuperiorId == item.UserId){
                    _user.Superior = item;
                    superior = true;
                }
            }

            switch (item.UserType)
            {
                case 2:
                    SeniorsSupervisors.Add(item);
                    break;
                case 3:
                    Supervisors.Add(item);
                    break;
                case 4:
                    Operators.Add(item);
                    break;
            }
        }


        switch (_user.UserType)
        {
            case 1:
                foreach (User user in SeniorsSupervisors.ToList())
                {
                    if (_user.Subordinates?.ToList().FindIndex(u => u.UserId == user.UserId) != -1)
                    {
                        SeniorsSupervisors.Remove(user);
                    }                   
                }

                break;
            case 2:
                auxGroup = (int)_user.GroupId;
                if (auxPlant != 0)
                {
                    _areasManager?.Clear();
                    _areasManager = await AreaServices.GetAreas(auxPlant);

                    foreach (Area areaM in _areasManager.ToList())
                    {
                        if (_user.Areas?.ToList().FindIndex(a => a.AreaId == areaM.AreaId) != -1)
                        {
                            _areasManager.Remove(areaM);
                        }
                    }

                    foreach (User user in Supervisors.ToList())
                    {
                        if (_user.Subordinates?.ToList().FindIndex(u => u.UserId == user.UserId) != -1)
                        {
                            Supervisors.Remove(user);
                        }                   
                    }

                }
                break;
            case 3:
                auxPlant = (int)_user.PlantId;
                auxArea = (int)_user.AreaId;
                auxGroup = (int)_user.GroupId;

                if (_user.Superior != null)
                {
                    superior = true;
                }

                plantInfo = _user.Plant?.Description;

                areaInfo = _user.Area?.Description;
                grupInfo = _user.Group?.Description;

                foreach (User user in Operators.ToList())
                {
                    if (_user.Subordinates?.ToList().FindIndex(u => u.UserId == user.UserId) != -1)
                    {
                        Console.WriteLine(user.Name);

                        Operators.Remove(user);
                    }                   
                }
                Console.WriteLine(Operators.Count);
                break;
            case 4:
                auxPlant = (int)_user.PlantId;
                auxArea = (int)_user.AreaId;
                auxGroup = (int)_user.GroupId;
                if(_user.DistributionId != null){
                    auxDistribution = (int)_user.DistributionId;
                }
                else
                {
                    auxDistribution = 0;
                }

                if (_user.Superior != null)
                {
                    superior = true;
                }

                plantInfo = _user.Plant?.Description;
                areaInfo = _user.Area?.Description;
                grupInfo = _user.Group?.Description;


                if (auxPlant != 0 && auxArea != 0)
                {
                    _distributions = await DistributionsServices.GetDistributions(auxPlant, auxArea);
                }
                break;

        }



    }


    private async Task setActiveUser(int userType)
    {
        var auxId = _user.UserId;
        var auxObjectId = _user.ObjectId;
        var auxName = _user.Name;
        var auxCreateDate = _user.CreatedDate;

        _user = new();

        _user.UserId = auxId;
        _user.ObjectId = auxObjectId;
        _user.Name = auxName;
        _user.CreatedDate = auxCreateDate;
        _user.IsActive = true;


        auxPlant = 0;
        auxArea = 0;
        auxGroup = 0;
        auxDistribution = 0;
        plantInfo = "";
        areaInfo = "";
        grupInfo = "";
        selectedSeniorSupervisorOfList = new User();
        selectedSupervisorOfList = new User();
        selectedOperatorOfList = new User();
        selectedAreaOfList = new Area();


        IsAdmin = userType == 1 && !IsAdmin;
        IsSeniorSupervisor = userType == 2 && !IsSeniorSupervisor;
        IsSupervisor = userType == 3 && !IsSupervisor;
        IsOperator = userType == 4 && !IsOperator;

        _user.UserType = !IsAdmin && !IsSeniorSupervisor && !IsSupervisor && !IsOperator ? 0 : userType;


        ShowAreasInvokeByPlantSelector();

        switch (userType)
        {
            case 1: RemoveSuperiorUser(); break;
            case 2: RemoveSuperiorUser(); break;
            case 3:
                if (LogedUser.UserType == 2)
                {
                    _user.SuperiorId = LogedUser.UserId;
                    _user.Superior = LogedUser;
                    superior = true;
                    _user.PlantId =  _user.Superior?.PlantId;
                    _user.GroupId =  _user.Superior?.GroupId;

                    auxPlant =  (int)_user.Superior?.PlantId;
                    auxGroup = (int)_user.Superior?.GroupId;

                    plantInfo = _user.Superior?.Plant?.Description;
                    grupInfo = _user.Superior?.Group?.Description;

                }
                else
                {
                    auxPlant = 0;
                    auxArea = 0;
                    _user.GroupId = 0;
                }
                break;
            case 4:
                if (LogedUser.UserType == 3)
                {
                    auxPlant = (int)LogedUser.PlantId;
                    auxArea = (int)LogedUser.AreaId;
                    auxGroup = (int)LogedUser.GroupId;

                    _user.SuperiorId = LogedUser.UserId;
                    _user.Superior = LogedUser;
                    superior = true;

                    _user.PlantId = _user.Superior?.PlantId;
                    _user.AreaId = _user.Superior?.AreaId;
                    _user.GroupId = _user.Superior?.GroupId;

                    plantInfo = _user.Superior?.Plant?.Description;
                    areaInfo = _user.Superior?.Area?.Description;
                    grupInfo = _user.Superior?.Group?.Description;

                    if (auxPlant != 0 && auxArea != 0)
                    {
                        _distributions = await DistributionsServices.GetDistributions(auxPlant, auxArea);
                    }
                }
                else
                {
                    auxPlant = 0;
                    auxArea = 0;
                    _user.GroupId = 0;
                }
                break;

        }


        StateHasChanged();
    }

    private async void ShowAreas()
    {
        _user.AreaId = 0;
        _areas = await AreaServices.GetAreas((int)_user.PlantId);
    }

    private async void ShowAreasInvokeByPlantSelector()
    {
        SeniorsSupervisors.Clear();
        Supervisors.Clear();
        Operators.Clear();

        foreach (User item in _allUsers)
        {
            switch (item.UserType)
            {
                case 2:
                    SeniorsSupervisors.Add(item);
                    break;
                case 3:
                    Supervisors.Add(item);
                    break;
                case 4:
                    Operators.Add(item);
                    break;
            }
        }
        //}

        auxArea = 0;
        auxDistribution = 0;

        if (auxPlant != 0)
        {
            _user.Subordinates?.Clear();
            _user.Areas?.Clear();

            _areas.Clear();
            _areasManager?.Clear();
            _areas = await AreaServices.GetAreas(auxPlant);
            _areasManager = await AreaServices.GetAreas(auxPlant);
        }



        if (auxPlant != 0 && auxArea != 0)
        {
            ShowDistributionInvokeByAreasSelector();
        }

        StateHasChanged();
    }

    private async void ShowDistributionInvokeByAreasSelector()
    {
        _user.DistributionId = 0;
        Operators.Clear();


        foreach (User item in _allUsers)
        {
            if (item.AreaId == auxArea && item.PlantId == auxPlant && item.UserType == 4 && item.GroupId == auxGroup)
                Operators.Add(item);
        }

        if (auxPlant != 0 && auxArea != 0)
        {
            _distributions = await DistributionsServices.GetDistributions(auxPlant, auxArea);
        }

    }




    private async void OnSelectedAreaToManageFunction()
    {
        if (selectedAreaOfList != new Area())
        {
            ActiveAddArea = false;

        }
        else
        {
            ActiveAddArea = true;
        }
    }


    private async void OnSelectedSubordinatedFunction()
    {

        if (selectedSupervisorOfList != new User() || selectedSeniorSupervisorOfList != new User() || selectedOperatorOfList != new User())
        {
            ActiveAddSubordinated = false;
        }
        else
        {
            ActiveAddSubordinated = true;
        }

    }





    private async Task SetSuperiorToUser()
    {
        if (_user.UserType != 1)
        {
            _user.SuperiorId = _user.Superior.SuperiorId;
            superior = true;
        }


        //Idemtificar user
        switch (_user.UserType)
        {
            case 2: break;
            case 3:
                _user.PlantId = _user.Superior?.PlantId;
                _user.GroupId = _user.Superior?.GroupId;

                auxPlant = (int)_user.Superior?.PlantId;
                auxGroup = (int)_user.Superior?.GroupId;

                plantInfo = _user.Superior?.Plant?.Description;
                grupInfo = _user.Superior?.Group?.Description;

                break;
            case 4:
                _user.PlantId = _user.Superior?.PlantId;
                //agrega el area
                _user.AreaId = _user.Superior?.AreaId;
                _user.GroupId = _user.Superior?.GroupId;

                auxPlant = (int)_user.Superior?.PlantId;
                //agrega el area
                auxArea = (int)_user.Superior?.AreaId;
                auxGroup = (int)_user.Superior?.GroupId;

                plantInfo = _user.Superior?.Plant?.Description;
                //agrega el area
                areaInfo = _user.Superior?.Area?.Description;
                grupInfo = _user.Superior?.Group?.Description;

                if (auxPlant != 0 && auxArea != 0)
                {
                    _distributions = await DistributionsServices.GetDistributions(auxPlant, auxArea);
                }
                break;
        }




        StateHasChanged();
    }

    private void RemoveSuperiorUser()
    {
        auxDistribution = 0;
        _distributions = new();
        _user.SuperiorId = null;
        _user.Superior = null;
        superior = false;

        areaInfo = "";
        plantInfo = "";
        grupInfo = "";

        StateHasChanged();

    }

    private void DeleteAreaFromUserList(Area element)
    {
        _user.Areas.Remove(element);
        _areasManager.Add(element);
        StateHasChanged();
    }


    private void AddAreaToUserList(Area selection)
    {
        if (_user.Areas == null)
        {
            _user.Areas = new List<Area>();
        }

        if (selectedAreaOfList != null && !_user.Areas.Contains(selection))
        {
            _user.Areas.Add(selection);

            _areasManager.Remove(selection);
            //reset value from selector
            selectedAreaOfList = null;
            ActiveAddArea = true;
        }


        StateHasChanged();
    }


    private void DeleteSeniorSupervisorFromSubordinateList(User selection)
    {
        _user.Subordinates?.Remove(selection);
        SeniorsSupervisors.Add(selection);
        StateHasChanged();
    }

    private void AddSeniorSupervisorToSubordinateList(User selection)
    {
        if (_user.Subordinates == null)
        {
            _user.Subordinates = new List<User>();
        }


        if (selectedSeniorSupervisorOfList != null && !_user.Subordinates.Contains(selection))
        {
            _user.Subordinates.Add(selection);
            SeniorsSupervisors.Remove(selection);
            selectedSeniorSupervisorOfList = null;
            ActiveAddSubordinated = true;
        }
        StateHasChanged();
    }


    private void DeleteSupervisorFromSubordinateList(User selection)
    {
        _user.Subordinates?.Remove(selection);
        Supervisors.Add(selection);
        StateHasChanged();
    }

    private void AddSupervisorToSubordinateList(User selection)
    {
        if (_user.Subordinates == null)
        {
            _user.Subordinates = new List<User>();
        }


        if (selectedSupervisorOfList != null && !_user.Subordinates.Contains(selection))
        {



            _user.Subordinates.Add(selection);

            Supervisors.Remove(selection);

            selectedSupervisorOfList = null;
            ActiveAddSubordinated = true;
        }
        StateHasChanged();
    }

    private void DeleteOperatorFromSubordinateList(User selection)
    {
        _user.Subordinates.Remove(selection);
        Operators.Add(selection);
        StateHasChanged();
    }

    private void AddOperatorToSubordinateList(User selection)
    {
        if (_user.Subordinates == null)
        {
            _user.Subordinates = new List<User>();
        }


        if (selectedOperatorOfList != null && !_user.Subordinates.Contains(selection))
        {
            _user.Subordinates.Add(selection);

            Operators.Remove(selection);

            selectedOperatorOfList = null;
            ActiveAddSubordinated = true;
        }
        StateHasChanged();
    }

    private async void UpdateUserAsync()
    {
        if (_user.UserType == 3 && auxArea == 0)
        {
            Snackbar.Clear();
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
            Snackbar.Add($"First Select an Area!", Severity.Warning);
            return;
        }
        else if (_user.UserType == 4)
        {
            if (_user.Payroll.ToString() == null || _user.Payroll.ToString() == "")
            {
                Snackbar.Clear();
                Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
                Snackbar.Add($"First type the Payroll Number!", Severity.Warning);
                return;
            }
            if (_user.Superior == null)
            {
                Snackbar.Clear();
                Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
                Snackbar.Add($"First Select a superior", Severity.Warning);
                return;
            }
            //if (auxDistribution == 0)
            //{
            //    Snackbar.Clear();
            //    Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
            //    Snackbar.Add($"First Select a distribution", Severity.Warning);
            //    return;
            //}
        }


        _user.IsActive = true;
        _user.LastUpdated = DateTime.Now;

        _user.PlantId = auxPlant;
        _user.AreaId = auxArea;

        if (_user.UserType == 4)
        {
            _user.DistributionId = auxDistribution;
            _user.ObjectId = null;
        }
        _user.GroupId = auxGroup;

        if (_user.Superior != null)
        {
            _user.SuperiorId = _user.Superior.UserId;
        }


        if (_user.Areas != null)
        {
            Console.WriteLine(_user.Areas.Count);
        }


        var result = await UsersServices.UpdateUser(userId, _user);

        if (result)
        {
            await JS.InvokeVoidAsync("alert", "Succesful Update!"); // Alert
            NavigationManager.NavigateTo("/usersmanagement");
        }
        else
            await JS.InvokeVoidAsync("alert", "Fallo Actualizacion!"); // Alert


    }

}
