@page "/usersmanagement/UploadUsers"

@using Microsoft.AspNetCore.Components.Forms;
@using MudBlazor;
@using System.Text.RegularExpressions;
@using ClosedXML.Excel;
@using System.Net.Http.Headers;
@using Microsoft.JSInterop;
@inject IFileUploadAndDownloadService FileUpDoServices
@inject IPlantService PlantsServices
@inject IAreaService AreasServices
@inject IDistributionService DistributionServices
@inject IGroupService GroupServices
@inject IUserService UsersServices
@inject IDialogService DialogService
@inject IJSRuntime JS
@inject IStringLocalizer<Resource1> Localizer1
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<style>
    .mtc {
        overflow: hidden;
    }
</style>

@*Title*@
<PageTitle>Supervisor Mobility | @Localizer1["UsersUploadTitle"]</PageTitle>
@*Breadcrumb links*@
@*<MudBreadcrumbs Items="_links">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
    </ItemTemplate>
</MudBreadcrumbs>*@


<MudContainer Class="d-flex flex-grow-1 gap-4 flex-row align-center justify-center py-3">

    <MudItem class="align-center justify-center">
        <MudImage Src="Images/userup.png" Alt="Imagen Upload Clou" Height="120" Width="120"></MudImage>
    </MudItem>
    <MudItem id="Upload" class="d-flex flex-column ma-5">
        <MudItem Class="d-flex flex-row align-center justify-center">
            <MudSpacer />
            <MudText Typo="Typo.h6">@Localizer1["UsersUploadTitle"]</MudText>
            <MudSpacer />
        </MudItem>


        @*ErrorMsg, Resume and animation Upload File*@
        <MudItem Class="d-flex flex-column align-center justify-center mud-width-full">

            <MudText Typo="Typo.h6" Color="Color.Info" Class="py-5">@ErrorMessageToDisplay </MudText>
            @if (showResume)
            {
                <MudPaper Class="d-flex flex-row flex-grow-1 gap-4" Elevation="0">
                    <MudPaper Class="flex d-flex-row pa-16 ma-2" Elevation="3">
                        <MudItem style="text-align:center">
                            <img src="Images/useradd.png" Height="100" Width="100" />
                            <MudText FullWidth="true" Variant="Variant.Text" Color="Color.Info">@Localizer1["UsersResumeCreated"]: @commitUsersResult.UsersCreated </MudText>
                        </MudItem>
                    </MudPaper>
                    <MudPaper Class="flex d-flex-row pa-16 ma-2" Elevation="3">
                        <MudItem style="text-align:center">
                            <img src="Images/userexist.png" Height="100" Width="100" />
                            <MudText FullWidth="true" Variant="Variant.Text" Color="Color.Info">@Localizer1["UsersResumeExist"]: @commitUsersResult.UsersExist </MudText>
                        </MudItem>
                    </MudPaper>
                    <MudPaper Class="flex d-flex-row pa-16 ma-2" Elevation="3">
                        <MudItem style="text-align:center">
                            <img src="Images/userupdate.png" Height="100" Width="100" />
                            <MudText FullWidth="true" Variant="Variant.Text" Color="Color.Info">@Localizer1["UsersResumeUpdate"]: @commitUsersResult.UsersUpdated </MudText>
                        </MudItem>
                    </MudPaper>
                </MudPaper>
            }
            else
            {
                if (activeUpload)
                {
                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                }
            }


            @if (onloadfile)
            {
                <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
            }


        </MudItem>
        <MudItem Class="flex-grow-1 d-flex flex-column align-center justify-center my-3 ">

            @if (loggedUser.UserType == 1 || loggedUser.UserType == 5)
            {
            @*Principal TABS*@
                <MudTabs Elevation="4" Rounded="true" Color="@Color.Info">
                    @*All Upload*@

                    <MudTabPanel Icon="@Icons.Material.Filled.BubbleChart" Text="@Localizer1["UsersAll"]" OnClick=" async () => await AssignType(1)">
                    </MudTabPanel>
                    @*SSV Upload*@
                    <MudTabPanel Icon="@Icons.Material.Filled.BubbleChart" Text="@Localizer1["UsersSSV"]" OnClick="() => AssignType(2)">

                    </MudTabPanel>

                    @*SUPERVISORS Upload*@
                    <MudTabPanel Icon="@Icons.Material.Filled.BubbleChart" Text="@Localizer1["UsersSupervisors"]" OnClick="() => AssignType(3)">
                        <MudTabs Elevation="4" Rounded="true" Color="@Color.Info">
                            @*Add To SSV Upload*@
                            <MudTabPanel Icon="@Icons.Material.Filled.BubbleChart" Text="@Localizer1["Supervisors"]" OnClick="() => AssignType(3)">
                            </MudTabPanel>
                            @*Add Supervisors to SSV*@
                            <MudTabPanel Icon="@Icons.Material.Filled.BubbleChart" Text="@Localizer1["UsersAddToSsv"]" OnClick="() => AssignType(4)">

                                <MudSelect T="User" Label="@Localizer1["UsersLabelSSV"]" Placeholder="@Localizer1["UsersPHSSV"]" SelectedValuesChanged="@(() => UpdateSelectSSVforSupervisors())" @bind-Value="@selectedSSVOfList" For="@(() => selectedSSVOfList)" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                                    <MudSelectItem Disabled="true" Value="selectedSSVOfList"> @Localizer1["UsersPHSSV"]</MudSelectItem>
                                    @foreach (var SS in _allUsers)
                                    {
                                        @if (SS.UserType == 2)
                                        {
                                            <MudSelectItem Value="SS">@(
                                                  $"{SS.Name}-{SS.Area?.Description}-{SS.Group?.Description}"
                                                  ) </MudSelectItem>
                                        }
                                    }
                                </MudSelect>
                            </MudTabPanel>
                        </MudTabs>
                    </MudTabPanel>
                    @*Operators Upload Upload*@
                    <MudTabPanel Icon="@Icons.Material.Filled.BubbleChart" Text="@Localizer1["UsersOperators"]" OnClick="() => AssignType(5)">
                        <MudTabs Elevation="4" Rounded="true" Color="@Color.Info">
                            @*Add Operators Upload*@
                            <MudTabPanel Icon="@Icons.Material.Filled.BubbleChart" Text="@Localizer1["UsersOperators"]" OnClick="() => AssignType(5)">
                            </MudTabPanel>
                            @*Add Supervisors to SSV*@
                            <MudTabPanel Icon="@Icons.Material.Filled.BubbleChart" Text="@Localizer1["UsersAddToSV"]" OnClick="() => AssignType(6)">
                                <MudSelect T="User" Label="@Localizer1["UsersSupervisors"]" Placeholder="@Localizer1["UsersPHSV"]" SelectedValuesChanged="@(() => UpdateSelectSupervisorForOperators())" @bind-Value="@selectedSupervisorOfList" For="@(() => selectedSupervisorOfList)" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                                    <MudSelectItem Disabled="true" Value="selectedSupervisorOfList"> @Localizer1["UsersPHSV"]</MudSelectItem>
                                    @foreach (var SS in _allUsers)
                                    {
                                        @if (SS.UserType == 3)
                                        {
                                            <MudSelectItem Value="SS">@(
                                                  $"{SS.Name}-{SS.Area?.Description}-{SS.Group?.Description}"
                                                  ) </MudSelectItem>
                                        }
                                    }
                                </MudSelect>
                            </MudTabPanel>
                        </MudTabs>
                    </MudTabPanel>
            </MudTabs>
            }
            else if(loggedUser.UserType == 3){
                <MudTabs Rounded="true" Color="@Color.Info" MinimumTabWidth="55vw">
                    @*Add Operators Upload*@
                    <MudTabPanel Icon="@Icons.Material.Filled.BubbleChart" Text="@Localizer1["UsersOperators"]" OnClick="() => AssignType(5)">
                    </MudTabPanel>
                </MudTabs>
            }
        </MudItem>
    </MudItem>
    <MudItem class="align-center justify-center mud-width-full">
        @switch (uploadtype)
        {
            case 1:
                <MudButton OnClick="DownloadAllFormat"
                           Target="_blank"
                           Variant="Variant.Outlined"
                           EndIcon="@Icons.Material.Filled.FileDownload"
                           Color="Color.Primary"
                           Class="mb-2">
                    <b>@Localizer1["UsersAllFormat"]</b>
                </MudButton>

                <MudButton OnClick="DownloadAllExample"
                           Target="_blank"
                           Variant="Variant.Outlined"
                           EndIcon="@Icons.Material.Filled.FileDownload"
                           Color="Color.Primary">
                    <b>@Localizer1["UsersAllExampleFormat"]</b>
                </MudButton>
                break;
            case 2:
                <MudButton OnClick="DownloadSSVFormat"
                           Target="_blank"
                           Variant="Variant.Outlined"
                           EndIcon="@Icons.Material.Filled.FileDownload"
                           Color="Color.Primary"
                           Class="mb-2">
                    <b>@Localizer1["UsersSSVFormat"]</b>
                </MudButton>
                <MudButton OnClick="DownloadSSVExample"
                           Target="_blank"
                           Variant="Variant.Outlined"
                           EndIcon="@Icons.Material.Filled.FileDownload"
                           Color="Color.Primary">
                    <b>@Localizer1["UsersSSVExampleFormat"]</b>
                </MudButton>
                break;
            case 3:
            case 4:
                <MudButton OnClick="DownloadSupervisorsFormat"
                           Target="_blank"
                           Variant="Variant.Outlined"
                           EndIcon="@Icons.Material.Filled.FileDownload"
                           Color="Color.Primary"
                           Class="mb-2">
                    <b>@Localizer1["UsersSVFormat"]</b>
                </MudButton>

                <MudButton OnClick="DownloadSVExample"
                           Target="_blank"
                           Variant="Variant.Outlined"
                           EndIcon="@Icons.Material.Filled.FileDownload"
                           Color="Color.Primary">
                    <b>@Localizer1["UsersSVExFormat"]</b>
                </MudButton>
                break;
            case 5:
            case 6:
                <MudButton OnClick="DownloadOperatorsFormat"
                           Target="_blank"
                           Variant="Variant.Outlined"
                           EndIcon="@Icons.Material.Filled.FileDownload"
                           Color="Color.Primary" FullWidth="true" Class="mb-2">
                    <b>@Localizer1["UsersOPFormat"]</b>
                </MudButton>
                <MudButton OnClick="DownloadOperatorsExample"
                           Target="_blank"
                           Variant="Variant.Outlined"
                           EndIcon="@Icons.Material.Filled.FileDownload"
                           Color="Color.Primary">
                    <b>@Localizer1["UsersOPExampleFormat"]</b>
                </MudButton>
                break;
        }
    </MudItem>

</MudContainer>



@*File Upload*@
<MudItem Class="d-flex flex-row align-center justify-center mud-width-full">
    <MudStack Style="width: 80%">
         @if (ShowLoading)
                    {
                        <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
                            <ItemTemplate>
                                <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                                    <MudItem class="d-flex flex-column justify-center align-self-center">
                                        <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                                    </MudItem>
                                    @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                                    <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
                                </div>
                            </ItemTemplate>
                        </MudCarousel>
                    }else{
        <MudFileUpload T="IReadOnlyList<IBrowserFile>" OnFilesChanged="OnInputFileChanged" Hidden="false" Class="flex-1" InputClass="absolute mud-width-full mud-height-full overflow-hidden z-20" InputStyle="opacity:0"
        @ondragenter="@SetDragClass" @ondragleave="@ClearDragClass" @ondragend="@ClearDragClass">
            <ButtonTemplate Context="DragAndDrop">
                <MudPaper Height="200px" Outlined="true" Class="@DragClass">
                    <MudText Typo="Typo.h6">@Localizer1["UsersDragAndDrop"]</MudText>
                    @foreach (var file in fileNames)
                    {
                        <MudItem style="text-align:center" Class="d-flex justify-center flex-column align-content-center align-center">
                            <MudText Typo="Typo.h6">@file.message</MudText>

                            @switch (file.ftype)
                            {
                                case "xls":
                                    <img src="Images/xls.png" Height="70" Width="70" />
                                    break;
                                case "csv":
                                    <img src="Images/csv.png" Height="70" Width="70" />
                                    break;
                                default:
                                    <img src="Images/error.png" Height="70" Width="70" />
                                    break;
                            }

                            <MudChip Color="Color.Info" Text="@file.name" />
                        </MudItem>
                    }
                </MudPaper>
            </ButtonTemplate>
        </MudFileUpload>

                    }

    </MudStack>
</MudItem>


@*Tabla unica para cualquier tipo de usuario *@
<MudContainer Fixed="true" Class="py-10">
    
            @if (showTableInUI)
            {
                <MudTable Items="@dataToShowInTable" T="User" HorizontalScrollbar="true" ReadOnly="true" FixedHeader=true Class="styled-table table-striped">
                    <ToolBarContent>
                        <MudSpacer />
                        <MudText Typo="Typo.h6">Data To Upload</MudText>
                        <MudSpacer />
                        <MudButton @onclick="(() => UploadFunction())" Disabled="@activeUpload">
                            <MudText>@Localizer1["UsersUploadTitle"]</MudText>
                            <MudIcon Icon="@Icons.Material.Filled.UploadFile" aria-label="Upload" Color="Color.Primary"></MudIcon>
                        </MudButton>
                        <MudSpacer />
                        <MudButton @onclick="(() => CancelFunction())">
                            <MudText>@Localizer1["UsersCancelUpload"]</MudText>
                            <MudIcon Icon="@Icons.Material.Filled.Cancel" aria-label="Cancel" Color="Color.Warning"></MudIcon>
                        </MudButton>
                        <MudSpacer />
                    </ToolBarContent>
                    <HeaderContent>

                        @if (uploadtype == 1)
                        {
                            <MudTh>@Localizer1["UsersName"]</MudTh>
                            <MudTh>@Localizer1["UsersType"]</MudTh>
                            <MudTh>@Localizer1["UsersPlant"]</MudTh>
                            <MudTh>@Localizer1["UsersArea"]</MudTh>
                            <MudTh>@Localizer1["UsersGroup"]</MudTh>
                            <MudTh Style="width:230px">@Localizer1["UsersExtra"]</MudTh>
                        }
                        else
                        {
                            @if (uploadtype > 4)
                            {
                                <MudTh>@Localizer1["UsersPayroll"]</MudTh>
                            }

                            <MudTh>@Localizer1["UsersName"]</MudTh>

                            @if (uploadtype > 1 && uploadtype < 5)
                            {
                                <MudTh>@Localizer1["UsersObject"]</MudTh>
                                <MudTh>@Localizer1["UsersEmail"]</MudTh>
                            }

                            @if (uploadtype > 2)
                            {
                                <MudTh Style="min-width:20vh">@Localizer1["UsersSuperior"]</MudTh>

                            }

                            <MudTh>@Localizer1["UsersPlant"]</MudTh>

                            @if (uploadtype > 1 && uploadtype < 3)
                            {
                                <MudTh>@Localizer1["UsersAreasManage"]</MudTh>
                            }
                            else if (uploadtype > 2 && uploadtype < 5)
                            {
                                <MudTh>@Localizer1["UsersAssignedArea"]</MudTh>
                            }
                            else
                            {
                                <MudTh>@Localizer1["UsersArea"]</MudTh>
                            }


                            @if (uploadtype > 4)
                            {
                                <MudTh>@Localizer1["UsersDistribution"]</MudTh>
                            }


                            <MudTh>@Localizer1["UsersGroup"]</MudTh>


                        }


                    </HeaderContent>
                    <RowTemplate>

                        @if (uploadtype == 1)
                        {
                            <MudTd DataLabel="Name">
                                <MudText Align="Align.Center">@context.Name</MudText>
                            </MudTd>
                            <MudTd>
                                @switch (context.UserType)
                                {
                                    case 1:
                                        <MudPaper Elevation="0">
                                            <MudChip Icon="@Icons.Material.Filled.AdminPanelSettings" Color="Color.Primary">@Localizer1["UsersAdmin"]</MudChip>
                                        </MudPaper>
                                        break;
                                    case 2:
                                        <MudPaper Elevation="0">
                                            <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary">@Localizer1["UsersSeniorSupervisor"]</MudChip>
                                        </MudPaper>
                                        break;
                                    case 3:
                                        <MudPaper Elevation="0">
                                            <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary">@Localizer1["UsersSupervisor"]</MudChip>
                                        </MudPaper>
                                        break;
                                    case 4:
                                        <MudPaper Elevation="0">
                                            <MudChip Icon="@Icons.Material.Filled.PersonOutline" Color="Color.Dark">@Localizer1["UsersOperator"]</MudChip>
                                        </MudPaper>
                                        break;
                                }
                            </MudTd>

                            <MudTd DataLabel="@Localizer1["UsersPlant"]">
                                @if (context.UserType != 1)
                                {
                                    <MudItem Class="d-flex justify-content-center align-items-center">
                                        <MudTextField Value="context.Plant?.Description" ReadOnly=true Variant="Variant.Outlined" Margin="Margin.Dense" Style="cursor:pointer"></MudTextField>
                                    </MudItem>
                                }

                            </MudTd>

                            <MudTd DataLabel="@Localizer1["UsersArea"]">
                                @switch (context.UserType)
                                {
                                    case 1:
                                        break;
                                    case 2:
                                        @if (context.Areas?.Count > 0)
                                        {

                                            <MudItem Style="text-align: center;">
                                                <MudMenu Dense=true MaxHeight="300" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                                                    <ActivatorContent>
                                                        <MudButton FullWidth=true StartIcon="@Icons.Material.Filled.Info" Color="Color.Info" Variant="Variant.Filled" Size="Size.Small">@Localizer1["UsersShowAreas"]</MudButton>
                                                    </ActivatorContent>
                                                    <ChildContent>
                                                        @foreach (var area in context.Areas)
                                                        {
                                                            <MudMenuItem><MudButton StartIcon="@Icons.Material.Filled.Business" IconColor="Color.Info">@area.Code - @area.Description</MudButton></MudMenuItem>
                                                        }
                                                    </ChildContent>
                                                </MudMenu>

                                            </MudItem>
                                        }
                                        break;
                                    default:
                                        <MudItem Class="d-flex justify-content-center align-items-center">
                                            <MudTextField Value="context.Area?.Description" ReadOnly=true Variant="Variant.Outlined" Margin="Margin.Dense" Style="cursor:pointer"></MudTextField>
                                        </MudItem>
                                        break;
                                }


                            </MudTd>
                            <MudTd DataLabel="@Localizer1["UsersGroup"]">
                                @if (context.UserType != 1)
                                {
                                    <MudItem Class="d-flex justify-content-center align-items-center">
                                        <MudTextField Value="context.Group?.Description" ReadOnly=true Variant="Variant.Outlined" Margin="Margin.Dense" Style="cursor:pointer"></MudTextField>
                                    </MudItem>
                                }

                            </MudTd>
                            <MudTd>

                                @switch (context.UserType)
                                {
                                    case 1:
                                        <MudMenu Dense=true MaxHeight="300" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                                            <ActivatorContent>
                                                <MudButton FullWidth=true StartIcon="@Icons.Material.Filled.Info" Color="Color.Info" Variant="Variant.Filled" Size="Size.Small">@Localizer1["UsersShowMoreInfo"]</MudButton>
                                            </ActivatorContent>
                                            <ChildContent>
                                                <MudExpansionPanels Elevation="0">
                                                    <MudExpansionPanel Text="@Localizer1["UsersEmail"]">
                                                        <MudItem class="d-flex flex-column justify-center ma-1">
                                                            <MudItem class="d-flex d-flex-column justify-center">
                                                                <MudPaper Elevation="0">
                                                                    <div class="font-weight-bold"> @context.Email</div>
                                                                </MudPaper>
                                                            </MudItem>
                                                        </MudItem>
                                                    </MudExpansionPanel>
                                                    <MudExpansionPanel Text="@Localizer1["UsersObject"]">
                                                        <MudItem class="d-flex flex-column justify-center ma-1">
                                                            <MudItem class="d-flex d-flex-column justify-center">
                                                                <MudPaper Elevation="0">
                                                                    <div class="font-weight-bold"> @context.ObjectId</div>
                                                                </MudPaper>
                                                            </MudItem>
                                                        </MudItem>
                                                    </MudExpansionPanel>
                                                </MudExpansionPanels>
                                            </ChildContent>
                                        </MudMenu>


                                        break;
                                    case 2:
                                        <MudMenu Dense=true MaxHeight="300" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                                            <ActivatorContent>
                                                <MudButton FullWidth=true StartIcon="@Icons.Material.Filled.Info" Color="Color.Info" Variant="Variant.Filled" Size="Size.Small">@Localizer1["UsersShowMoreInfo"]</MudButton>
                                            </ActivatorContent>
                                            <ChildContent>
                                                <MudExpansionPanels Elevation="0">
                                                    <MudExpansionPanel Text="@Localizer1["UsersEmail"]">
                                                        <MudItem class="d-flex flex-column justify-center ma-1">
                                                            <MudItem class="d-flex d-flex-column justify-center">
                                                                <MudPaper Elevation="0">
                                                                    <div class="font-weight-bold"> @context.Email</div>
                                                                </MudPaper>
                                                            </MudItem>
                                                        </MudItem>
                                                    </MudExpansionPanel>
                                                    <MudExpansionPanel Text="@Localizer1["UsersObject"]">
                                                        <MudItem class="d-flex flex-column justify-center ma-1">
                                                            <MudItem class="d-flex d-flex-column justify-center">
                                                                <MudPaper Elevation="0">
                                                                    <div class="font-weight-bold"> @context.ObjectId</div>
                                                                </MudPaper>
                                                            </MudItem>
                                                        </MudItem>
                                                    </MudExpansionPanel>
                                                    @if (context.Subordinates?.Count > 0)
                                                    {
                                                        <MudExpansionPanel Text="@Localizer1["UsersSubordinates"]" MaxHeight="300">

                                                            <MudItem class="d-flex flex-column justify-center ma-1">
                                                                <MudItem class="d-flex d-flex-column justify-center">
                                                                    @foreach (var sub in context.Subordinates)
                                                                    {
                                                                        <MudCard Elevation="1" Class="mr-5" Style="width: 300px;">
                                                                            <MudCardHeader>
                                                                                <CardHeaderContent>
                                                                                    @switch (sub.UserType)
                                                                                    {
                                                                                        case 1:
                                                                                            <MudPaper Elevation="0">
                                                                                                <MudChip Icon="@Icons.Material.Filled.AdminPanelSettings" Color="Color.Primary">@Localizer1["UsersAdmin"]</MudChip>
                                                                                            </MudPaper>
                                                                                            break;
                                                                                        case 2:
                                                                                            <MudPaper Elevation="0">
                                                                                                <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary">@Localizer1["UsersSeniorSupervisor"]</MudChip>
                                                                                            </MudPaper>
                                                                                            break;
                                                                                        case 3:
                                                                                            <MudPaper Elevation="0">
                                                                                                <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary">@Localizer1["UsersSupervisor"]</MudChip>
                                                                                            </MudPaper>
                                                                                            break;
                                                                                        case 4:
                                                                                            <MudPaper Elevation="0">
                                                                                                <MudChip Icon="@Icons.Material.Filled.PersonOutline" Color="Color.Dark">@Localizer1["UsersOperator"]</MudChip>
                                                                                            </MudPaper>
                                                                                            break;
                                                                                    }

                                                                                </CardHeaderContent>
                                                                                <CardHeaderActions>

                                                                                </CardHeaderActions>
                                                                            </MudCardHeader>
                                                                            <MudCardContent>
                                                                                <div class="font-weight-bold"><b>@Localizer1["UsersName"]:</b> @sub.Name</div>
                                                                                <div class="font-weight-light"><b>@Localizer1["UsersAssignedArea"]:</b> @sub.Area.Description</div>
                                                                            </MudCardContent>
                                                                            <MudCardActions></MudCardActions>
                                                                        </MudCard>
                                                                    }
                                                                </MudItem>
                                                            </MudItem>

                                                        </MudExpansionPanel>
                                                    }


                                                </MudExpansionPanels>
                                            </ChildContent>
                                        </MudMenu>

                                        break;
                                    case 3:

                                        <MudMenu Dense=true MaxHeight="300" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                                            <ActivatorContent>
                                                <MudButton FullWidth=true StartIcon="@Icons.Material.Filled.Info" Color="Color.Info" Variant="Variant.Filled" Size="Size.Small">@Localizer1["UsersShowMoreInfo"]</MudButton>
                                            </ActivatorContent>
                                            <ChildContent>
                                                <MudExpansionPanels Elevation="0">
                                                    <MudExpansionPanel Text="@Localizer1["UsersEmail"]">
                                                        <MudItem class="d-flex flex-column justify-center ma-1">
                                                            <MudItem class="d-flex d-flex-column justify-center">
                                                                <MudPaper Elevation="0">
                                                                    <div class="font-weight-bold"> @context.Email</div>
                                                                </MudPaper>
                                                            </MudItem>
                                                        </MudItem>
                                                    </MudExpansionPanel>
                                                    <MudExpansionPanel Text="@Localizer1["UsersObject"]">
                                                        <MudItem class="d-flex flex-column justify-center ma-1">
                                                            <MudItem class="d-flex d-flex-column justify-center">
                                                                <MudPaper Elevation="0">
                                                                    <div class="font-weight-bold"> @context.ObjectId</div>
                                                                </MudPaper>
                                                            </MudItem>
                                                        </MudItem>
                                                    </MudExpansionPanel>
                                                    @if (context.Superior != null)
                                                    {
                                                        <MudExpansionPanel Text="Superior SSV" MaxHeight="300">
                                                            <MudCard Elevation="1" Class="mr-5" Style="width: 300px;">
                                                                <MudCardHeader>
                                                                    <CardHeaderContent>
                                                                        @switch (context.Superior.UserType)
                                                                        {
                                                                            case 1:
                                                                                <MudPaper Elevation="0">
                                                                                    <MudChip Icon="@Icons.Material.Filled.AdminPanelSettings" Color="Color.Primary">@Localizer1["UsersAdmin"]</MudChip>
                                                                                </MudPaper>
                                                                                break;
                                                                            case 2:
                                                                                <MudPaper Elevation="0">
                                                                                    <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary">@Localizer1["UsersSeniorSupervisor"]</MudChip>
                                                                                </MudPaper>
                                                                                break;
                                                                            case 3:
                                                                                <MudPaper Elevation="0">
                                                                                    <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary">@Localizer1["UsersSupervisor"]</MudChip>
                                                                                </MudPaper>
                                                                                break;
                                                                            case 4:
                                                                                <MudPaper Elevation="0">
                                                                                    <MudChip Icon="@Icons.Material.Filled.PersonOutline" Color="Color.Dark">@Localizer1["UsersOperator"]</MudChip>
                                                                                </MudPaper>
                                                                                break;
                                                                        }

                                                                    </CardHeaderContent>
                                                                    <CardHeaderActions>

                                                                    </CardHeaderActions>
                                                                </MudCardHeader>
                                                                <MudCardContent>
                                                                    <div class="font-weight-bold"><b>@Localizer1["UsersName"]:</b> @context.Superior.Name</div>
                                                                    <div class="font-weight-light"><b>@Localizer1["UsersPlant"]:</b> @context.Superior?.Plant?.Description</div>
                                                                    <div class="font-weight-light"><b>@Localizer1["UsersGroup"]:</b> @context.Superior?.Group?.Description</div>
                                                                </MudCardContent>
                                                                <MudCardActions></MudCardActions>
                                                            </MudCard>
                                                        </MudExpansionPanel>
                                                    }

                                                    @if (context.Subordinates?.Count > 0)
                                                    {
                                                        <MudExpansionPanel Text="@Localizer1["UsersSubordinates"]" MaxHeight="300">
                                                            <MudItem class="d-flex flex-column justify-center ma-1">
                                                                <MudItem class="d-flex d-flex-column justify-center">
                                                                    @foreach (var sub in context.Subordinates)
                                                                    {
                                                                        <MudCard Elevation="1" Class="mr-5" Style="width: 300px;">
                                                                            <MudCardHeader>
                                                                                <CardHeaderContent>
                                                                                    @switch (sub.UserType)
                                                                                    {
                                                                                        case 1:
                                                                                            <MudPaper Elevation="0">
                                                                                                <MudChip Icon="@Icons.Material.Filled.AdminPanelSettings" Color="Color.Primary">@Localizer1["UsersAdmin"]</MudChip>
                                                                                            </MudPaper>
                                                                                            break;
                                                                                        case 2:
                                                                                            <MudPaper Elevation="0">
                                                                                                <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary">@Localizer1["UsersSeniorSupervisor"]</MudChip>
                                                                                            </MudPaper>
                                                                                            break;
                                                                                        case 3:
                                                                                            <MudPaper Elevation="0">
                                                                                                <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary">@Localizer1["UsersSupervisor"]</MudChip>
                                                                                            </MudPaper>
                                                                                            break;
                                                                                        case 4:
                                                                                            <MudPaper Elevation="0">
                                                                                                <MudChip Icon="@Icons.Material.Filled.PersonOutline" Color="Color.Dark">@Localizer1["UsersOperator"]</MudChip>
                                                                                            </MudPaper>
                                                                                            break;
                                                                                    }

                                                                                </CardHeaderContent>
                                                                                <CardHeaderActions>

                                                                                </CardHeaderActions>
                                                                            </MudCardHeader>
                                                                            <MudCardContent>
                                                                                <div class="font-weight-bold"><b>@Localizer1["UsersName"]:</b> @sub.Name</div>
                                                                                <div class="font-weight-light"><b>@Localizer1["UsersArea"]:</b> @sub.Area?.Description</div>
                                                                                <div class="font-weight-light"><b>@Localizer1["UsersDistribution"]:</b> @sub.Distribution?.Description</div>
                                                                            </MudCardContent>
                                                                            <MudCardActions></MudCardActions>
                                                                        </MudCard>
                                                                    }
                                                                </MudItem>
                                                            </MudItem>

                                                        </MudExpansionPanel>
                                                    }


                                                </MudExpansionPanels>
                                            </ChildContent>
                                        </MudMenu>


                                        break;
                                    case 4:

                                        <MudMenu Dense=true MaxHeight="300" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                                            <ActivatorContent>
                                                <MudButton FullWidth=true StartIcon="@Icons.Material.Filled.Info" Color="Color.Info" Variant="Variant.Filled" Size="Size.Small">@Localizer1["UsersShowMoreInfo"]</MudButton>
                                            </ActivatorContent>
                                            <ChildContent>
                                                <MudExpansionPanels Elevation="0">
                                                    <MudExpansionPanel Text="@Localizer1["UsersEmail"]">
                                                        <MudItem class="d-flex flex-column justify-center ma-1">
                                                            <MudItem class="d-flex d-flex-column justify-center">
                                                                <MudPaper Elevation="0">
                                                                    <div class="font-weight-bold"> @context.Email</div>
                                                                </MudPaper>
                                                            </MudItem>
                                                        </MudItem>
                                                    </MudExpansionPanel>
                                                    @if (context.UserType < 4)
                                                    {
                                                        <MudExpansionPanel Text="@Localizer1["UsersObject"]">
                                                            <MudItem class="d-flex flex-column justify-center ma-1">
                                                                <MudItem class="d-flex d-flex-column justify-center">
                                                                    <MudPaper Elevation="0">
                                                                        <div class="font-weight-bold"> @context.ObjectId</div>
                                                                    </MudPaper>
                                                                </MudItem>
                                                            </MudItem>
                                                        </MudExpansionPanel>
                                                    }
                                                    @if (context.Superior != null)
                                                    {
                                                        <MudExpansionPanel Text="@Localizer1["UsersSuperiorSSV"]" MaxHeight="300">
                                                            <MudCard Elevation="1" Class="mr-5" Style="width: 300px;">
                                                                <MudCardHeader>
                                                                    <CardHeaderContent>
                                                                        @switch (context.Superior.UserType)
                                                                        {
                                                                            case 1:
                                                                                <MudPaper Elevation="0">
                                                                                    <MudChip Icon="@Icons.Material.Filled.AdminPanelSettings" Color="Color.Primary">@Localizer1["UsersAdmin"]</MudChip>
                                                                                </MudPaper>
                                                                                break;
                                                                            case 2:
                                                                                <MudPaper Elevation="0">
                                                                                    <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary">@Localizer1["UsersSeniorSupervisor"]</MudChip>
                                                                                </MudPaper>
                                                                                break;
                                                                            case 3:
                                                                                <MudPaper Elevation="0">
                                                                                    <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary">@Localizer1["UsersSupervisor"]</MudChip>
                                                                                </MudPaper>
                                                                                break;
                                                                            case 4:
                                                                                <MudPaper Elevation="0">
                                                                                    <MudChip Icon="@Icons.Material.Filled.PersonOutline" Color="Color.Dark">@Localizer1["UsersOperator"]</MudChip>
                                                                                </MudPaper>
                                                                                break;
                                                                        }

                                                                    </CardHeaderContent>
                                                                    <CardHeaderActions>

                                                                    </CardHeaderActions>
                                                                </MudCardHeader>
                                                                <MudCardContent>
                                                                    <div class="font-weight-bold"><b>@Localizer1["UsersName"]:</b> @context.Superior.Name</div>
                                                                    <div class="font-weight-light"><b>@Localizer1["UsersPlant"]:</b> @context.Superior?.Plant?.Description</div>
                                                                    <div class="font-weight-light"><b>@Localizer1["UsersGroup"]:</b> @context.Superior?.Group?.Description</div>
                                                                </MudCardContent>
                                                                <MudCardActions></MudCardActions>
                                                            </MudCard>
                                                        </MudExpansionPanel>
                                                    }

                                                    @if (context.Subordinates?.Count > 0)
                                                    {
                                                        <MudExpansionPanel Text="@Localizer1["UsersSubordinates"]" MaxHeight="300">
                                                            <MudItem class="d-flex flex-column justify-center ma-1">
                                                                <MudItem class="d-flex d-flex-column justify-center">
                                                                    @foreach (var sub in context.Subordinates)
                                                                    {
                                                                        <MudCard Elevation="1" Class="mr-5" Style="width: 300px;">
                                                                            <MudCardHeader>
                                                                                <CardHeaderContent>
                                                                                    @switch (sub.UserType)
                                                                                    {
                                                                                        case 1:
                                                                                            <MudPaper Elevation="0">
                                                                                                <MudChip Icon="@Icons.Material.Filled.AdminPanelSettings" Color="Color.Primary">@Localizer1["UsersAdmin"]</MudChip>
                                                                                            </MudPaper>
                                                                                            break;
                                                                                        case 2:
                                                                                            <MudPaper Elevation="0">
                                                                                                <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary">@Localizer1["UsersSeniorSupervisor"]</MudChip>
                                                                                            </MudPaper>
                                                                                            break;
                                                                                        case 3:
                                                                                            <MudPaper Elevation="0">
                                                                                                <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary">@Localizer1["UsersSupervisor"]</MudChip>
                                                                                            </MudPaper>
                                                                                            break;
                                                                                        case 4:
                                                                                            <MudPaper Elevation="0">
                                                                                                <MudChip Icon="@Icons.Material.Filled.PersonOutline" Color="Color.Dark">@Localizer1["UsersOperator"]</MudChip>
                                                                                            </MudPaper>
                                                                                            break;
                                                                                    }

                                                                                </CardHeaderContent>
                                                                                <CardHeaderActions>

                                                                                </CardHeaderActions>
                                                                            </MudCardHeader>
                                                                            <MudCardContent>
                                                                                <div class="font-weight-bold"><b>@Localizer1["UsersName"]:</b> @sub.Name</div>
                                                                                <div class="font-weight-light"><b>@Localizer1["UsersArea"]:</b> @sub.Area?.Description</div>
                                                                                <div class="font-weight-light"><b>@Localizer1["UsersDistribution"]:</b> @sub.Distribution?.Description</div>
                                                                            </MudCardContent>
                                                                            <MudCardActions></MudCardActions>
                                                                        </MudCard>
                                                                    }
                                                                </MudItem>
                                                            </MudItem>

                                                        </MudExpansionPanel>
                                                    }


                                                </MudExpansionPanels>
                                            </ChildContent>
                                        </MudMenu>



                                        break;
                                }


                            </MudTd>
                        }
                        else
                        {
                            @if (uploadtype > 4)
                            {
                                <MudTd DataLabel="@Localizer1["UsersPayroll"]">
                                    <MudText Align="Align.Center">@context.Payroll</MudText>
                                </MudTd>
                            }

                            <MudTd DataLabel="@Localizer1["UsersName"]">
                                <MudText Align="Align.Center">@context.Name</MudText>
                            </MudTd>

                            @if (uploadtype > 1 && uploadtype < 5)
                            {
                                <MudTd DataLabel="@Localizer1["UsersObject"]">
                                    <MudText Align="Align.Center">@context.ObjectId</MudText>
                                </MudTd>
                                <MudTd DataLabel="@Localizer1["UsersEmail"]">
                                    <MudText Align="Align.Center">@context.Email</MudText>
                                </MudTd>
                            }

                            @switch (uploadtype)
                            {
                                case 3:
                                    @if (@context.Superior is null)
                                    {
                                        <MudTd DataLabel="@Localizer1["UsersSuperiorSSV"]">

                                            <MudSelect T="User" Label="@Localizer1["UsersSSV"]" Placeholder="@Localizer1["UsersPHSSV"]" @bind-Value="@context.Superior" For="@(() => @context.Superior)" SelectedValuesChanged="@(() => UpdateSelectSuperiorContextItem(@context))" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                                                <MudSelectItem Disabled="true" Value="@context.Superior"> @Localizer1["UsersPHSSV"]  </MudSelectItem>
                                                @foreach (var SS in _allUsers)
                                                {
                                                    @if (SS.UserType == 2)
                                                    {
                                                        <MudSelectItem Value="SS">@($"{SS.Name}-{SS.Plant?.Description}-{SS.Group?.Description}") </MudSelectItem>
                                                    }
                                                }
                                            </MudSelect>
                                        </MudTd>
                                    }
                                    else
                                    {
                                        <MudTd DataLabel="@Localizer1["UsersSuperiorSSV"]">
                                            <MudItem Class="d-flex justify-content-center align-items-center">
                                                <MudTextField @bind-Value="@context.Superior.Name" ReadOnly=true Variant="Variant.Outlined" Margin="Margin.Dense" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Edit" OnAdornmentClick="@(() => RemoveSelectedSuperiorContextItem(context))" Style="cursor:pointer"></MudTextField>
                                            </MudItem>
                                        </MudTd>


                                    }


                                    break;
                                case 4:
                                    @if (selectedSSVOfList is null)
                                    {
                                        <MudTd DataLabel="@Localizer1["UsersSuperiorSS"]">
                                            <MudText Align="Align.Center">@Localizer1["UsersSelectSuperior"]</MudText>
                                        </MudTd>
                                    }
                                    else
                                    {
                                        <MudTd DataLabel="@Localizer1["UsersSuperiorSV"]">
                                            <MudText Align="Align.Center">@selectedSSVOfList?.Name</MudText>
                                        </MudTd>
                                    }
                                    break;
                                case 5:

                                    @if (@context.Superior is null)
                                    {
                                        <MudTd DataLabel="@Localizer1["UsersSuperiorSV"]">

                                            <MudSelect T="User" Label="@Localizer1["UsersSV"]" Placeholder="@Localizer1["UsersPHSV"]" @bind-Value="@context.Superior" For="@(() => @context.Superior)" SelectedValuesChanged="@(() => UpdateSelectSuperiorContextItem(@context))" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                                                <MudSelectItem Disabled="true" Value="@context.Superior"> @Localizer1["UsersPHSV"]  </MudSelectItem>
                                                @foreach (var SS in _allUsers)
                                                {
                                                    @if (SS.UserType == 3)
                                                    {
                                                        <MudSelectItem Value="SS">@($"{SS.Name}-{SS.Area?.Description}-{SS.Group?.Description}") </MudSelectItem>
                                                    }
                                                }
                                            </MudSelect>
                                        </MudTd>
                                    }
                                    else
                                    {
                                        <MudTd DataLabel="@Localizer1["UsersSuperiorSV"]">
                                            <MudItem Class="d-flex justify-content-center align-items-center">
                                                <MudTextField @bind-Value="@context.Superior.Name" ReadOnly=true Variant="Variant.Outlined" Margin="Margin.Dense" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Edit" OnAdornmentClick="@(() => RemoveSelectedSuperiorContextItem(context))" Style="cursor:pointer"></MudTextField>
                                            </MudItem>
                                        </MudTd>


                                    }


                                    break;
                                case 6:
                                    @if (selectedSupervisorOfList is null)
                                    {
                                        <MudTd DataLabel="@Localizer1["UsersSV"]">
                                            <MudText Align="Align.Center">@Localizer1["UsersSelectSuperior"]</MudText>
                                        </MudTd>
                                    }
                                    else
                                    {
                                        <MudTd DataLabel="@Localizer1["UsersSV"]">
                                            <MudText Align="Align.Center">@selectedSupervisorOfList?.Name</MudText>
                                        </MudTd>
                                    }
                                    break;

                            }




                            <MudTd DataLabel="@Localizer1["UsersPlant"]" Class="mtc">
                                @if (context.Plant is null)
                                {
                                    @switch (uploadtype)
                                    {
                                        case 2:
                                            <MudSelect SelectedValuesChanged="@(() => updateSelectPlantContextItem(context))" T="Plant" Label="@Localizer1["UsersPlant"]" Placeholder="@Localizer1["UsersPHPlant"]" @bind-Value="@context.Plant" For="@(() => @context.Plant)" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                                                <MudSelectItem Disabled="true" Value="@context.Plant"> @Localizer1["UsersPHPlant"]  </MudSelectItem>
                                                @foreach (var item in _plants)
                                                {
                                                    <MudSelectItem Value="item">@($"{item.Code}-{item.Description}") </MudSelectItem>
                                                }
                                            </MudSelect>
                                            break;
                                        case 3:
                                        case 4:
                                        case 5:
                                        case 6:
                                            <MudText Align="Align.Center" class="marquee">@Localizer1["UsersBySuperior"] </MudText>
                                            break;
                                    }
                                }
                                else
                                {
                                    <MudItem Class="d-flex justify-content-center align-items-center">
                                        <MudTextField @bind-Value="@context.Plant.Description" ReadOnly=true Variant="Variant.Outlined" Margin="Margin.Dense" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Edit" OnAdornmentClick="@(() => RemoveSelectedPlantContextItem(context))" Style="cursor:pointer"></MudTextField>
                                    </MudItem>


                                }
                            </MudTd>

                            @if (uploadtype == 2)
                            {

                                <MudTd DataLabel="@Localizer1["UsersAreasManage"]">
                                    @if (context.Areas?.Count > 0)
                                    {
                                        <MudToolBar>


                                            <MudItem Style="text-align: center;">
                                                <MudMenu Dense=true MaxHeight="300" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                                                    <ActivatorContent>
                                                        <MudButton FullWidth=true StartIcon="@Icons.Material.Filled.Info" Color="Color.Info" Variant="Variant.Filled" Size="Size.Small">@Localizer1["UsersShowAreas"]</MudButton>
                                                    </ActivatorContent>
                                                    <ChildContent>
                                                        @foreach (var area in context.Areas)
                                                        {
                                                            <MudMenuItem>
                                                                <MudButton StartIcon="@Icons.Material.Filled.Business" IconColor="Color.Info">@area.Code - @area.Description</MudButton>
                                                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="() => DeleteAreaFromContextItem(area, context)" OnTouch="() => DeleteAreaFromContextItem(area, context)" />
                                                            </MudMenuItem>
                                                        }
                                                    </ChildContent>
                                                </MudMenu>

                                            </MudItem>

                                            <MudSpacer />
                                            <MudIconButton Icon="@Icons.Material.Outlined.Edit" OnClick="(() => OpenDialog(context))" />
                                        </MudToolBar>
                                    }
                                    else
                                    {
                                        if (context.Plant != null)
                                        {
                                            <MudToolBar>
                                                <MudText Typo="Typo.button">@Localizer1["UsersNoAreas"]</MudText>
                                                <MudSpacer />
                                                <MudIconButton Icon="@Icons.Material.Outlined.Edit" OnClick="(() => OpenDialog(context))" />
                                            </MudToolBar>
                                        }
                                        else
                                        {
                                            <MudText Typo="Typo.button" Align="Align.Center">@Localizer1["UsersFirstPlant"]</MudText>
                                        }
                                    }
                                </MudTd>
                            }
                            else if (uploadtype == 3 || uploadtype == 4)
                            {

                                @switch (uploadtype)
                                {
                                    case 3:
                                        @if (@context.Superior is null)
                                        {
                                            <MudTd DataLabel="@Localizer1["UsersAssinedArea"]">
                                                <MudText Align="Align.Center">@Localizer1["UsersSelectSuperior"]</MudText>
                                            </MudTd>
                                        }
                                        else
                                        {
                                            <MudTd DataLabel="@Localizer1["UsersAssignedArea"]">

                                                @if (@context.Area != null)
                                                {
                                                    <MudTd DataLabel="Area">
                                                        <MudItem Class="d-flex justify-content-center align-items-center">
                                                            <MudTextField Value="@context.Area?.Description" ReadOnly=true Variant="Variant.Outlined" Margin="Margin.Dense" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Edit" OnAdornmentClick="@(() => RemoveSelectedAreaContextItem(context))" Style="cursor:pointer"></MudTextField>
                                                        </MudItem>
                                                    </MudTd>
                                                }
                                                else
                                                {
                                                    @if (context.Superior.Areas is not null)
                                                    {
                                                        if (context.Superior.Areas.Count > 0)
                                                        {
                                                            <MudSelect SelectedValuesChanged="@(() => updateSelectAreaContextItem(context))" T="Area" Label="Area" Placeholder="Area" @bind-Value="@context.Area" For="@(() => @context.Area)" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                                                                <MudSelectItem Disabled="true" Value="@context.Area"> @Localizer1["UsersAssignedArea"]</MudSelectItem>
                                                                @foreach (var item in context.Superior.Areas)
                                                                {
                                                                    <MudSelectItem Value="item">@($"{item.Code}-{item.Description}") </MudSelectItem>
                                                                }
                                                            </MudSelect>
                                                        }
                                                        else
                                                        {
                                                            <MudText Typo="Typo.button">@Localizer1["UsersNoAreas"]</MudText>
                                                        }
                                                    }
                                                }

                                            </MudTd>
                                        }
                                        break;
                                    case 4:
                                        @if (selectedSSVOfList is null)
                                        {
                                            <MudTd DataLabel="@Localizer1["UsersAssignedArea"]">
                                                <MudText Align="Align.Center">@Localizer1["UsersSelectSuperior"]</MudText>
                                            </MudTd>
                                        }
                                        else
                                        {

                                            <MudTd DataLabel="@Localizer1["UsersAssignedArea"]">
                                                @if (selectedSSVOfList.Areas is not null)
                                                {
                                                    if (selectedSSVOfList.Areas.Count > 0)
                                                    {
                                                        <MudSelect T="Area" SelectedValuesChanged="@(() => updateSelectAreaContextItem(context))" Label="Area" Placeholder="Area" @bind-Value="@context.Area" For="@(() => @context.Area)" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                                                            <MudSelectItem Disabled="true" Value="@context.Area"> @Localizer1["UsersAssignedArea"]  </MudSelectItem>
                                                            @foreach (var item in selectedSSVOfList.Areas)
                                                            {
                                                                <MudSelectItem Value="item">@($"{item.Code}-{item.Description}") </MudSelectItem>
                                                            }
                                                        </MudSelect>
                                                    }
                                                    else
                                                    {
                                                        <MudText Typo="Typo.button">@Localizer1["UsersNoAreasSSV"]</MudText>
                                                    }
                                                }
                                            </MudTd>
                                        }
                                        break;
                                }

                            }
                            else
                            {
                                //area asignada al operador por el superior

                                @if (@context.Area != null)
                                {
                                    <MudTd DataLabel="Area">
                                        <MudItem Class="d-flex justify-content-center align-items-center">
                                            <MudTextField Value="@context.Area?.Description" ReadOnly=true Variant="Variant.Outlined" Margin="Margin.Dense" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Edit" OnAdornmentClick="@(() => RemoveSelectedAreaContextItem(context))" Style="cursor:pointer"></MudTextField>
                                        </MudItem>
                                    </MudTd>
                                }
                                else
                                {
                                    <MudTd DataLabel="Area" Class="mtc">
                                        <MudText Align="Align.Center" class="marquee">@Localizer1["UsersBySuperior"]</MudText>
                                    </MudTd>
                                }
                            }

                            @if (uploadtype > 4)
                            {
                                <MudTd DataLabel="@Localizer1["UsersDistribution"]" Class="mtc">

                                    @if (context.Distribution is not null)
                                    {
                                        <MudItem Class="d-flex justify-content-center align-items-center">
                                            <MudTextField Value="@context.Distribution?.Description" ReadOnly=true Variant="Variant.Outlined" Margin="Margin.Dense" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Edit" OnAdornmentClick="@(() => RemoveSelectedDistributionContextItem(context))" Style="cursor:pointer"></MudTextField>
                                        </MudItem>
                                    }
                                    else
                                    {
                                        @if (context.PlantId != null && context.AreaId != null)
                                        {
                                            @if (_distributions[(int)context.PlantId][(int)context.AreaId].Count > 0)
                                            {
                                                <MudSelect SelectedValuesChanged="@(() => updateSelectDistributionContextItem(context))" T="Distribution" Label="@Localizer1["UsersDistribution"]" Placeholder="@Localizer1["UsersDistribution"]" @bind-Value="@context.Distribution" For="@(() => @context.Distribution)" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                                                    <MudSelectItem Disabled="true" Value="@context.Distribution"> @Localizer1["UsersDistribution"]  </MudSelectItem>
                                                    @foreach (var item in _distributions[(int)context.PlantId][(int)context.AreaId])
                                                    {
                                                        <MudSelectItem Value="item">@($"{item.Code}-{item.Description}") </MudSelectItem>
                                                    }
                                                </MudSelect>
                                            }
                                            else
                                            {
                                                <MudText Typo="Typo.button" class="marquee">@Localizer1["UsersNoDistribution"]</MudText>
                                            }
                                        }
                                        else
                                        {
                                            <MudText Align="Align.Center" class="marquee">@Localizer1["UsersBySuperior"]</MudText>
                                        }

                                    }
                                </MudTd>

                            }


                            <MudTd DataLabel="@Localizer1["UsersGroup"]" Class="mtc">
                                @if (context.Group is null)
                                {
                                    @switch (uploadtype)
                                    {
                                        case 3:
                                        case 4:
                                        case 5:
                                        case 6:
                                            <MudText Align="Align.Center" class="marquee">@Localizer1["UsersBySuperior"] </MudText>
                                            break;
                                        default:
                                            <MudSelect SelectedValuesChanged="@(() => updateSelectGroupContextItem(@context))" T="Data.Entities.Group" Label="@Localizer1["UsersLabelGroup"]" Placeholder="@Localizer1["UsersPHGroup"]" @bind-Value="@context.Group" For="@(() => @context.Group)" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                                                <MudSelectItem Disabled="true" Value="@context.Group"> @Localizer1["UsersPHGroup"]  </MudSelectItem>
                                                @foreach (var item in _groups)
                                                {
                                                    <MudSelectItem Value="item">@($"{item.Code}-{item.Description}") </MudSelectItem>
                                                }
                                            </MudSelect>
                                            break;
                                    }
                                }
                                else
                                {
                                    <MudItem Class="d-flex justify-content-center align-items-center">
                                        <MudTextField ReadOnly=true @bind-Value="@context.Group.Description" Variant="Variant.Outlined" Margin="Margin.Dense" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Edit" OnAdornmentClick="@(() => RemoveSelectedGroupContextItem(context))" Style="cursor:pointer"></MudTextField>
                                    </MudItem>
                                }

                            </MudTd>


                        }

                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
            }
    
</MudContainer>
<MudSpacer></MudSpacer>

<MudDialog DisableSidePadding="false" @bind-IsVisible="AreasManagerVisibleDialog" Options="dialogOptions">
    <DialogContent>
        <MudContainer Style="max-height: 80vh; overflow-y: scroll; display: flex; flex-wrap: wrap;" Class="gap-4">
            <MudItem xs="12" sm="12" lg="12" md="12" Style="text-align: center">
                <MudText Typo="Typo.h6">
                    Area Manager
                </MudText>
            </MudItem>

            <MudItem Class="d-flex flex-column justify-center ma-1">
                @if (AuxDialogUser.Areas is not null && AuxDialogUser.Areas?.ToList().Count > 0)
                {
                    <MudItem class="d-flex flex-column justify-center ma-1">
                        <MudItem class="d-flex d-flex-column justify-center">
                            @foreach (var itemArea in AuxDialogUser.Areas)
                            {
                                <MudCard Elevation="1" Class="mr-5" Style="width: 300px;">
                                    <MudCardHeader>
                                        <CardHeaderContent>
                                            <MudText Typo="Typo.subtitle1"><b>Area Id:</b> @itemArea.AreaId</MudText>
                                        </CardHeaderContent>
                                        <CardHeaderActions>
                                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="() => DeleteAreaFromContextItemList(itemArea)" />
                                        </CardHeaderActions>
                                    </MudCardHeader>
                                    <MudCardContent>
                                        <div class="font-weight-bold"><b>@Localizer1["UsersCode"]:</b> @itemArea.Code</div>
                                        <div class="font-weight-light"><b>@Localizer1["UsersDescription"]:</b> @itemArea.Description</div>
                                    </MudCardContent>
                                    <MudCardActions></MudCardActions>
                                </MudCard>
                            }
                        </MudItem>
                    </MudItem>
                }

                @if (_areasManager?.Count > 0 && AuxDialogUser.PlantId != 0)
                {
                    <MudItem class="d-flex d-flex-column justify-center ma-1">
                        <MudItem Class="d-flex d-flex-row">
                            <MudSelect T="Area" Label="@Localizer1["UsersLabelArea"]" SelectedValuesChanged="@OnSelectedAreaToManageFunction" Placeholder="@Localizer1["UsersPHArea"]" @bind-Value="@selectedAreaOfList" For="@(() => selectedAreaOfList)" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                                <MudSelectItem Disabled="true" Value="selectedAreaOfList"> @Localizer1["UsersPHArea"] </MudSelectItem>
                                @foreach (var areaItem in _areasManager)
                                {
                                    <MudSelectItem Value="areaItem">@($"{areaItem.Code}-{areaItem.Description}") </MudSelectItem>
                                }
                            </MudSelect>
                            <MudButton Class="ml-5" Disabled="@ActiveAddArea" OnClick="@(() => AddAreaToItemContextList(selectedAreaOfList))" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Secondary" Size="Size.Large"> @Localizer1["UsersAddArea"] </MudButton>
                        </MudItem>
                    </MudItem>
                }
            </MudItem>

        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Info" OnClick="CloseDialog">@Localizer1["Close"]</MudButton>
    </DialogActions>
</MudDialog>

<MudMessageBox @ref="mbox" Title="Warning" CancelText="Cancel">
    <MessageContent>
        @Localizer1["UsersMsg1"]  <br>
        <b><i>@Localizer1["UsersMsg2"]</i></b>


    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever">Delete!</MudButton>
    </YesButton>
</MudMessageBox>




