@page "/usersmanagement"
@inject IGroupService GroupService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime


@*Title*@
<PageTitle>Supervisor Mobility | Users Management</PageTitle>

@*Breadcrumb links*@
<MudBreadcrumbs Class="mb-10" Items="_links">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
    </ItemTemplate>
</MudBreadcrumbs>



@if (_users == null)
{
    <MudSimpleTable Class="styled-table table-striped">
        <thead>
            <tr>
                <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
            </tr>
            <tr>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
            </tr>
            <tr>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
            </tr>
            <tr>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
            </tr>
            <tr>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /> <MudSpacer />   <MudSkeleton SkeletonType="SkeletonType.Rectangle" /> <MudSpacer />  <MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
            </tr>

        </tbody>
    </MudSimpleTable>
}
else if (_users.Count == 0)
{
    <MudContainer>
        <MudGrid class="d-flex flex-column justify-center align-self-center">
            <MudItem class="d-flex justify-center align-self-center ">
                <MudText Typo="Typo.h6" Class="align-item-center center">No Users Found</MudText>
            </MudItem>
            <MudItem Class="d-flex">
                <MudSpacer />
                <MudButton Href="/usersmanagement/UploadUsers">
                    <MudText>Upload Users</MudText>
                    <MudIcon Icon="@Icons.Material.Filled.SupervisedUserCircle" aria-label="Upload" Color="Color.Primary"></MudIcon>
                </MudButton>
                <MudSpacer />
                <MudButton Href="/usersmanagement/CreateUser">
                    <MudText>Create New User</MudText>
                    <MudIcon Icon="@Icons.Material.Filled.PersonAddAlt1" aria-label="Cancel" Color="Color.Warning"></MudIcon>
                </MudButton>
                <MudSpacer />
            </MudItem>
        </MudGrid>
       
    </MudContainer>
}
else
{


    <MudTable Items="_users" T="User" Hover="true" ReadOnly="true"
          SortLabel="Sort By" Filter="new Func<User,bool>(FilterFunc)" Class="styled-table table-striped"
          HorizontalScrollbar="true">
        <ToolBarContent>
            <MudGrid class="d-flex flex-column justify-center align-self-center">
                <MudItem class="d-flex justify-center align-self-center ">
                    <MudText Typo="Typo.h6" Class="align-item-center center">Users</MudText>
                </MudItem><MudSpacer />
                <MudItem Class="d-flex">
                    <MudSpacer />
                    <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    <MudSpacer />
                    <MudButton Href="/usersmanagement/UploadUsers">
                        <MudText>Upload Users</MudText>
                        <MudIcon Icon="@Icons.Material.Filled.SupervisedUserCircle" aria-label="Upload" Color="Color.Primary"></MudIcon>
                    </MudButton>
                    <MudSpacer />
                    <MudButton Href="/usersmanagement/BulkUsers">
                        <MudText>Bulk Users</MudText>
                        <MudIcon Icon="@Icons.Material.Filled.CloudDownload" aria-label="Cancel" Color="Color.Warning"></MudIcon>
                    </MudButton>
                    <MudSpacer />
                    <MudButton Href="/usersmanagement/createuser">
                        <MudText>Create new User</MudText>
                        <MudIcon Icon="@Icons.Material.Filled.PersonAddAlt1" aria-label="Cancel" Color="Color.Warning"></MudIcon>
                    </MudButton>
                    <MudSpacer />
                </MudItem>
            </MudGrid>
        </ToolBarContent>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<User, object>(x=>x?.UserId)">User Id</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<User, object>(x=>x?.Name)">Name</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<User, object>(x=>x?.Payroll)">PayRoll Number</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<User, object>(x=>x?.Plant?.Description)">Plant</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<User, object>(x=>x?.Area?.Description)">Area</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<User, object>(x=>x?.Group?.Description)">Group</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<User, object>(x=>x?.IsActive)">Status</MudTableSortLabel></MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="UserId">
                <MudText Align="Align.Center">@context.UserId</MudText>
            </MudTd>
            <MudTd DataLabel="Area">
                <MudText Align="Align.Center">@context.Name</MudText>
            </MudTd>
            <MudTd DataLabel="Distribution">
                <MudText Align="Align.Center">@context.Payroll</MudText>
            </MudTd>
            <MudTd DataLabel="GOS">
                <MudText Align="Align.Center">@context.Plant?.Description</MudText>
            </MudTd> <MudTd DataLabel="CCP">
                <MudText Align="Align.Center">@context.Area?.Description</MudText>
            </MudTd> <MudTd DataLabel="HOE">
                <MudText Align="Align.Center">@context.Group?.Description</MudText>
            </MudTd>
            <MudTd DataLabel="Status">
                @if (context.IsActive == true)
                {
                    <MudText Align="Align.Center">
                        <MudChip Variant="Variant.Text" Color="Color.Success">Active</MudChip>
                    </MudText>
                }
                else
                {
                    <MudText Align="Align.Center">
                        <MudChip Variant="Variant.Text" Color="Color.Error">Inactive</MudChip>
                    </MudText>
                }
            </MudTd>
            <MudTd>
                <MudText Align="Align.Center">
                    <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.Info" Color="Color.Success" @onclick="(() =>  UserDetails(context.UserId))"> </MudIconButton>
                    <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.Edit" Color="Color.Info" @onclick="()=>EditUser(context.UserId)">@*Edit*@</MudIconButton>
                    <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="@(() =>DeleteUser(context.UserId))"></MudIconButton>
                </MudText>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>

}




@code {

        List<User> _users = new List<User>();
    string searchString = "";


    private List<BreadcrumbItem> _links = new List<BreadcrumbItem>
        {
            new BreadcrumbItem("Home", href: "#"),
            new BreadcrumbItem("Configuration", href: "/configuration"),
            new BreadcrumbItem("Users Management", href: "", disabled: true)
        };

    //protected async override Task OnInitializedAsync()
    protected override void OnInitialized()
    {
        _users.Add(new User{UserId = 1, Name= "M. Aguayo", Payroll = 239935, IsActive=true});
    }

   
  
    // Plant details
    void PlantDetails(int plantId)
    {
        NavigationManager.NavigateTo($"plants/{plantId}");
    }


    void EditUser(int userId)
    {
        NavigationManager.NavigateTo($"/usersmanagement/EditUser/{userId}");
    }

    async void DeleteUser(int iduser)
    {
        bool confirm = await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete this user?");

        if (confirm)
        {
            _users.RemoveAll(user => user.UserId == iduser);
            //await PlantService.DeletePlant(plantId);
        }
    }

    void UserDetails(int userId)
    {
        NavigationManager.NavigateTo($"/usersmanagement/DetailUser/{userId}");
    }

    private bool FilterFunc(User element)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Payroll.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Plant!.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Area!.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Group!.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.UserId} {element.Payroll} {element.Name} {element.Plant?.Description} {element.Area?.Description} {element.Group?.Description}".Contains(searchString))
            return true;
        return false;
    }

}