@page "/configurationIS/Checkpoint/Details/{CheckpointId:int}/DetailsStandars/{Norm_Id:int}"
@page "/configurationIS/Checkpoint/Details/{CheckpointId:int}/CreateStandars"
@page "/configurationIS/Checkpoint/Details/{CheckpointId:int}/UpdateStandars/{Norm_Id:int}"

@inject ICheckPointService _CheckPointServices
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Resource1> Localizer1
@inject IStringLocalizer<Resource> Localizer
@inject ISnackbar Snackbar
@inject IBreadcrumbService BreadcrumbService


@if (ShowLoading)
{
    <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudItem class="d-flex flex-column justify-center align-self-center">
                    <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                </MudItem>
                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
            </div>
        </ItemTemplate>
    </MudCarousel>
}
else
{
    <MudGrid class="mt-2">
        <MudItem xs="12" sm="6" md="3">
                <MudCard Style="height:100%; width: 100%">
                    <MudCardHeader>
                        <CardHeaderActions>
                        </CardHeaderActions>
                        <CardHeaderContent>
                        </CardHeaderContent>
                        <CardHeaderActions>
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent Style="justify-content:center">
                        <MudText Align="Align.Center"><MudIcon Icon="@Icons.Filled.ViewList"></MudIcon></MudText>
                        <MudText Align="Align.Center">@_Checkpoint.CheckpointId</MudText>
                        <MudText Typo="Typo.h5" Align="Align.Center">@_Checkpoint.CheckpointTitle ~ @_Checkpoint.CheckpointDescription</MudText>
                        @if (_Checkpoint.IsActive == true)
                        {
                            <MudText Align="Align.Center" Class="pt-2">
                                <MudChip Variant="Variant.Text" Color="Color.Success">Active</MudChip>
                            </MudText>
                        }
                        else
                        {
                            <MudText Align="Align.Center" Class="pa-4">
                                <MudChip Variant="Variant.Text" Color="Color.Error">Inactive</MudChip>
                            </MudText>
                        }
                    </MudCardContent>
                </MudCard>
        
        </MudItem>
        @*Related questions*@
        <MudItem xs="12" sm="6" md="9">
            <EditForm Model="_CheckpointNorm" OnValidSubmit="SubmitOperations">
                <DataAnnotationsValidator />
                <MudGrid>

                    <MudItem xs="12">
                        <MudCard>
                            <MudCardHeader>
                                <CardHeaderContent>
                                    @switch (pageType)
                                    {
                                        case PageType.Create:
                                            <MudText Typo="Typo.h6">@Localizer["CheckpointNormCreate"]</MudText>
                                            break;
                                        case PageType.Update:
                                            <MudText Typo="Typo.h6">@Localizer["CheckpointNormUpdate"]</MudText>
                                            break;
                                        case PageType.Details:
                                            <MudText Typo="Typo.h6">@Localizer["CheckpointNormDetails"]</MudText>
                                            break;
                                    }
                                </CardHeaderContent>
                                <CardHeaderActions>
                                    @switch (pageType)
                                    {
                                        case PageType.Details:

                                            <MudChip Variant="Variant.Text" Color="Color.Success" OnClick="() => CheckpointNormUpdate((int)Norm_Id)" @ontouchstart="() => CheckpointNormUpdate((int)Norm_Id)">
                                                @Localizer["edit"]
                                                <MudIcon Icon="@Icons.Material.Filled.Edit" Color="Color.Primary"></MudIcon>
                                            </MudChip>
                                            break;
                                        case PageType.Create:
                                            <MudChip Variant="Variant.Text" Color="Color.Success">@Localizer["create"]</MudChip>
                                            break;
                                        case PageType.Update:
                                            <MudChip Variant="Variant.Text" Color="Color.Success">@Localizer["update"]</MudChip>
                                            break;
                                    }
                                </CardHeaderActions>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudTextField Label="@Localizer1["CheckpointNormStandar"]" ReadOnly="@(pageType == PageType.Details)" @bind-Value="_CheckpointNorm.Standard" For="@(() => _CheckpointNorm.Standard)" />


                                @if (user.UserType == 1)
                                {
                                    <MudSwitch Class="mt-3" Label="Is active?" ReadOnly="@(pageType == PageType.Details)" @bind-Checked="_CheckpointNorm.IsActive" Color="Color.Info" UnCheckedColor="Color.Dark" />
                                }

                                <MudItem>

                                    @if (pageType != PageType.Details)
                                    {

                                        <MudItem Style="display: flex; align-content: space-between; flex-wrap: wrap; justify-content: space-evenly; align-items: center;">

                                            <InputFile id="previousSketch" OnChange="@( (e) => UploadFiles(e, 1))" hidden multiple accept=".jpg, .jpeg, .gif, .svg, .png"></InputFile>
                                            <MudButton Class="flex-initial d-flex flex-grow-0 px-9 py-2"
                                                       HtmlTag="label"
                                                       Variant="Variant.Filled"
                                                       Color="Color.Primary"
                                                       StartIcon="@Icons.Material.Filled.Image"
                                                       for="previousSketch">
                                                Load picture
                                            </MudButton>
                                            @if (CheckpointImages.Count == 0)
                                            {
                                                <MudItem>
                                                    <MudButton @onclick="() => OpenCameraDialog(1)" Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.AddAPhoto">
                                                        Open Camera
                                                    </MudButton>
                                                </MudItem>
                                            }
                                            else if (CheckpointImages.Count > 0)
                                            {
                                                <MudItem>
                                                    <MudButton Variant="Variant.Filled" @onclick="() => OpenCameraDialog(1)" StartIcon="@Icons.Material.Filled.AddAPhoto" Color="Color.Info">Add photo</MudButton>
                                                </MudItem>
                                            }
                                        </MudItem>
                                    }


                                    <MudItem Style="display: flex; align-content: space-between; flex-wrap: wrap; justify-content: space-evenly; align-items: center;">
                                        @if (CheckpointImages.Count > 0 || tempCapturedImages.Count > 0)
                                        {
                                            <div style="display: flex; align-items: center; justify-content: space-between;" class="mt-4">
                                                <MudItem Class="d-flex" Style="flex-direction: row; flex-wrap: wrap; justify-content: flex-start; overflow-y: scroll; max-height:50vh; scroll-behavior: smooth; justify-content: center;">

                                                    @foreach (var (image, index) in CheckpointImages.Select((image, index) => (image, index)))
                                                    {
                                                        <MudItem Class=" mr-8 mb-4">
                                                            <MudItem Style="text-align:end !important; margin-right: -15px; margin-bottom: -7px; cursor:pointer">
                                                                <MudTooltip Text="Delete photo" Color="Color.Error" Placement="Placement.Right" Arrow="true">
                                                                    <MudIcon Icon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="() => OpenDeleteDialog(index, true, false, image.imgId)"></MudIcon>
                                                                </MudTooltip>
                                                            </MudItem>
                                                            <MudImage ObjectFit="ObjectFit.Cover" Height="80" Width="130" Src=@image.src Alt="Sketch" Elevation="25" Class="rounded-lg" Style="cursor:pointer" @onclick="() => OpenSketchDialog(index, 0)" />
                                                        </MudItem>
                                                    }

                                                    @foreach (var (image, index) in tempCapturedImages.Select((image, index) => (image, index)))
                                                    {
                                                        <MudItem Class=" mr-8 mb-4">
                                                            <MudItem Style="text-align:end !important; margin-right: -15px; margin-bottom: -7px; cursor:pointer">
                                                                <MudTooltip Text="Delete photo" Color="Color.Error" Placement="Placement.Right" Arrow="true">
                                                                    <MudIcon Icon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="() => OpenDeleteDialog(index, true, true)"></MudIcon>
                                                                </MudTooltip>
                                                            </MudItem>
                                                            <MudImage ObjectFit="ObjectFit.Cover" Height="80" Width="130" Src=@image Alt="Sketch" Elevation="25" Class="rounded-lg" Style="cursor:pointer" @onclick="() => OpenSketchDialog(index, 1)" />
                                                        </MudItem>
                                                    }
                                                </MudItem>

                                            </div>
                                        }


                                    </MudItem>
                                </MudItem>
                              
                            </MudCardContent>
                            <MudCardActions>
                                @if (pageType != PageType.Details)
                                {
                                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto">@(pageType == PageType.Create ? Localizer["create"] : Localizer["save"])</MudButton>
                                }
                                <MudButton @onclick="(() => CancelFunction())" @ontouchstart="(() => CancelFunction())" Variant="Variant.Filled" Class="ml-4">@Localizer["Cancel"]</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                </MudGrid>
            </EditForm>



        </MudItem>
    </MudGrid>
}

@*Camera Modal*@
<MudDialog DisableSidePadding="false" @bind-IsVisible="visibleCamera" Options="dialogCameraOptions">
    <TitleContent>
        <MudItem>
            <MudText Typo="Typo.h6" Style="text-align:center">Kaizen Sketch</MudText>
        </MudItem>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 85vh; overflow-y: scroll text-align:center; justify-content: center; align-items:center;">
            <MudPaper Elevation="0">
                <CameraStreamer @ref=CameraStreamerReference
                                Width=1280
                                Height=720
                                OnRendered=OnRenderedHandler
                                OnFrame=OnFrameHandler
                                Style="max-height: 70vh; width: 100%; border-radius: 10px"
                                Class="mud-elevation-4 rounded white"
                                CameraID=@cameraId
                                Autostart />
                <MudItem style="text-align: center">
                    @if (frameCount > 0)
                    {
                        <MudButton @onclick=GetCurrentFrame Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.LinkedCamera" Color="Color.Info" Class="mt-2 mb-4">
                            Take photo
                        </MudButton>
                    }
                    else
                    {
                        <MudButton StartIcon="@Icons.Material.Filled.LinkedCamera" Color="Color.Info" Class="mt-2 mb-4" Disabled>
                            Take photo
                        </MudButton>
                    }
                </MudItem>
            </MudPaper>
        </MudContainer>
    </DialogContent>
</MudDialog>


@*Sketch Modal*@
<MudDialog DisableSidePadding="false" @bind-IsVisible="visibleSketch" Options="dialogSketchOptions">
    <DialogContent>
        <MudTabs @bind-ActivePanelIndex="selectedSketch" Outlined="true" Rounded="true" Border="true" TabPanelHeaderPosition="TabHeaderPosition.Before"
                 ApplyEffectsToContainer="true" PanelClass="px-6" Style="max-height: 85vh; min-height: 70vh; width: 100%;">
            <MudTabPanel @onclick="(() => photoIndex = 0)">
                <TabContent>
                    <MudChip Icon="@Icons.Material.Filled.Folder" Style="display: flex;" Color="Color.Info">Sketches</MudChip>
                </TabContent>
                <ChildContent>
                    <MudPaper Elevation="0">
                        @if (CheckpointImages.Count() > 0)
                        {
                            <MudCarousel Class="mud-width-full" Style="height: 75vh" ShowArrows=true ShowBullets=true EnableSwipeGesture=true AutoCycle="false" TData="object" @bind-SelectedIndex=@photoIndex>
                                <PreviousButtonTemplate>
                                    <MudAvatar Color="Color.Dark" Variant="Variant.Filled" Class="ml-4" Style="cursor:pointer">
                                        <MudIcon Icon="@Icons.Material.Filled.NavigateBefore" />
                                    </MudAvatar>
                                </PreviousButtonTemplate>
                                <NextButtonTemplate>
                                    <MudAvatar Color="Color.Dark" Variant="Variant.Filled" Class="mr-4" Style="cursor:pointer">
                                        <MudIcon Icon="@Icons.Material.Filled.NavigateNext" />
                                    </MudAvatar>
                                </NextButtonTemplate>
                                <ChildContent>
                                    @foreach (var Sketch in CheckpointImages)
                                    {
                                        <MudCarouselItem Transition="Transition.Fade">
                                            <MudImage ObjectFit="ObjectFit.Cover" Height="720" Width="1280" Src=@Sketch.src Alt="Sketch" Elevation="25" Class="rounded-lg" Style="max-height: 66vh; width: 100%; border-radius: 10px; margin-bottom:24px;" />
                                        </MudCarouselItem>
                                    }
                                </ChildContent>
                            </MudCarousel>
                        }
                        else
                        {
                            <MudItem Style="height: 75vh">
                                <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                                    @Localizer["there is sketches:)"]
                                </MudAlert>
                            </MudItem>
                        }
                    </MudPaper>
                </ChildContent>
            </MudTabPanel>
            @if (pageType == PageType.Update)
            {
                <MudTabPanel @onclick="(() => photoIndex = 0)">
                    <TabContent>
                        <MudChip Icon="@Icons.Material.Filled.Folder" Style="display: flex;" Color="Color.Info">Sketches Just added.</MudChip>
                    </TabContent>
                    <ChildContent>
                        <MudPaper Elevation="0">
                            @if (tempCapturedImages.Count() > 0)
                            {
                                <MudCarousel Class="mud-width-full" Style="height: 75vh" ShowArrows=true ShowBullets=true EnableSwipeGesture=true AutoCycle="false" TData="object" @bind-SelectedIndex=@photoIndex>
                                    <PreviousButtonTemplate>
                                        <MudAvatar Color="Color.Dark" Variant="Variant.Filled" Class="ml-4" Style="cursor:pointer">
                                            <MudIcon Icon="@Icons.Material.Filled.NavigateBefore" />
                                        </MudAvatar>
                                    </PreviousButtonTemplate>
                                    <NextButtonTemplate>
                                        <MudAvatar Color="Color.Dark" Variant="Variant.Filled" Class="mr-4" Style="cursor:pointer">
                                            <MudIcon Icon="@Icons.Material.Filled.NavigateNext" />
                                        </MudAvatar>
                                    </NextButtonTemplate>
                                    <ChildContent>
                                        @foreach (var Sketch in tempCapturedImages)
                                        {
                                            <MudCarouselItem Transition="Transition.Fade">
                                                <MudImage ObjectFit="ObjectFit.Cover" Height="720" Width="1280" Src=@Sketch Alt="Sketch" Elevation="25" Class="rounded-lg" Style="max-height: 66vh; width: 100%; border-radius: 10px; margin-bottom:24px;" />
                                            </MudCarouselItem>
                                        }
                                    </ChildContent>
                                </MudCarousel>
                            }
                            else
                            {
                                <MudItem Style="height: 75vh">
                                    <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                                        @Localizer["there is no sketches:)"]
                                    </MudAlert>
                                </MudItem>
                            }
                        </MudPaper>
                    </ChildContent>
                </MudTabPanel>
            }
        </MudTabs>
    </DialogContent>

</MudDialog>

<MudDialog @bind-IsVisible="visibleDelete" Options="dialogSketchOptions">
    <DialogContent>
        <MudText Typo="Typo.h6">@Localizer["confirm"]</MudText>
        <MudText Class="mt-4 mb-4">
            <span style="color: #2196f3; text-align:justify">@user.Name</span>,
            @Localizer["Are you sure you want to delete this Image?"]
        </MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseDeleteModal" Variant="Variant.Filled">@Localizer["cancel"]</MudButton>
        <MudButton @onclick="(() => RemoveImage())" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" Variant="Variant.Filled">@Localizer["delete"]</MudButton>
    </DialogActions>
</MudDialog>
