@page "/configurationIS/ProblemDefect"

@inject IProblemDefectServices ProblemDefectsServices
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Resource1> Localizer1
@inject IStringLocalizer<Resource> Localizer
@inject ISnackbar Snackbar
@inject IBreadcrumbService BreadcrumbService
@inject IDialogService DialogService

@*Title*@
<PageTitle>Supervisor Mobility | @Localizer["ProblemDefects"]</PageTitle>


@if (ShowLoading)
{
    <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudItem class="d-flex flex-column justify-center align-self-center">
                    <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                </MudItem>
                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
            </div>
        </ItemTemplate>
    </MudCarousel>
}
else if (_ProblemDefects.Count == 0)
{
    <MudContainer MaxWidth="MaxWidth.Medium" Class="mt-16">
        <MudPaper Elevation="3" Class="pa-8 d-flex flex-column align-center justify-center mud-background-gray" Style="border: 2px dashed var(--mud-palette-divider); border-radius: 16px;">
        
            @* Icono sutil de fondo o ilustración *@
            <MudIcon Icon="@Icons.Material.Filled.SearchOff" Color="Color.Tertiary" Style="font-size: 5rem;" Class="mb-4 opacity-50" />

            <MudText Typo="Typo.h5" Align="Align.Center" GutterBottom="true">
                <b>@Localizer["thereAreNoProblemDefectsCreated"]</b>
            </MudText>
        
            <MudText Typo="Typo.body1" Align="Align.Center" Color="Color.Info" Class="mb-6">
                @Localizer["noProblemsFound"]
            </MudText>

            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       Size="Size.Large"
                       StartIcon="@Icons.Material.Filled.Add"
                       OnClick="CreateProblemDefects"
                       Style="border-radius: 8px; text-transform: none;">
                @Localizer["ProblemDefectCreate"]
            </MudButton>

        </MudPaper>
    </MudContainer>
}
else
{
    <MudTable Items="_ProblemDefects" Hover="true" T="ProblemDefect" Height="75vh"
              RowClassFunc="@SelectedRowClassFunc" @ref="SelectTableEvent" OnRowClick="RowClickEvent"
              Filter="new Func<ProblemDefect,bool>(FilterFunc)"
              Elevation="4" Class="rounded-lg" FixedHeader="true">
    
        <ToolBarContent>
            <div class="d-flex align-center gap-4 mud-width-full py-4 px-2">
                <MudText Typo="Typo.h5" Color="Color.Primary" Class="fw-bold">
                    <b>@Localizer["ProblemDefectTitle"]</b>
                </MudText>
            
                <MudSpacer />
            
                <MudTextField @bind-Value="searchString"
                              Placeholder="Buscar defecto..."
                              Clearable="true"
                              Variant="Variant.Outlined"
                              Margin="Margin.Dense"
                              Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search"
                              Class="mt-0"
                              Style="max-width: 300px; background-color: var(--mud-palette-background-grey);" />

                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.Add"
                           OnClick="CreateProblemDefects"
                           Class="ml-2 px-6">
                    @Localizer["ProblemDefectCreate"]
                </MudButton>
            </div>
        </ToolBarContent>

        <HeaderContent>
            @if (user.UserType == 1)
            {
                <MudTh><MudTableSortLabel SortBy="new Func<ProblemDefect, object>(x => x.ProblemDefectId)">ID</MudTableSortLabel></MudTh>
            }
            <MudTh><MudTableSortLabel SortBy="new Func<ProblemDefect, object>(x => x.DefectDescription)">Descripción</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<ProblemDefect, object>(x => x.ItemOrder)">Orden</MudTableSortLabel></MudTh>
            @if (user.UserType == 1)
            {
                <MudTh Style="text-align:center">Estado</MudTh>
            }
            <MudTh Style="text-align:right">Acciones</MudTh>
        </HeaderContent>

        <RowTemplate>
            @if (user.UserType == 1)
            {
                <MudTd DataLabel="ID">
                    <MudText Typo="Typo.body2" Class="mud-text-secondary font-monospace">#@context.ProblemDefectId</MudText>
                </MudTd>
            }
         
            <MudTd DataLabel="Description">
                <MudText Typo="Typo.body1" Class="fw-medium">@context.DefectDescription</MudText>
            </MudTd>
        
            <MudTd DataLabel="Sequence">
                <MudAvatar Size="Size.Small" Color="Color.Default" Variant="Variant.Outlined">
                    @context.ItemOrder
                </MudAvatar>
            </MudTd>

            @if (user.UserType == 1)
            {
                <MudTd DataLabel="Status" Style="text-align:center">
                    <MudChip Size="Size.Small"
                             Variant="Variant.Filled"
                             Color="@(context.IsActive == true ? Color.Success : Color.Error)">
                        @(context.IsActive == true ? "Activo" : "Inactivo")
                    </MudChip>
                </MudTd>
            }

            <MudTd Style="text-align:right">
                <MudMenu Icon="@Icons.Material.Filled.MoreVert" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopRight" Dense="true">
                    <MudMenuItem Icon="@Icons.Material.Filled.Info" IconColor="Color.Primary" OnClick="(() => ProblemDefectsDetails(context.ProblemDefectId))">Detalles</MudMenuItem>
                    <MudMenuItem Icon="@Icons.Material.Filled.Edit" IconColor="Color.Info" OnClick="(() => ProblemDefectUpdate(context.ProblemDefectId))">Editar</MudMenuItem>
                    <MudDivider DividerType="DividerType.Middle" Class="my-1" />
                    <MudMenuItem Icon="@Icons.Material.Filled.Delete" IconColor="Color.Error" OnClick="(() => DeleteProblemDefects(context.ProblemDefectId))">Eliminar</MudMenuItem>
                </MudMenu>
            </MudTd>
        </RowTemplate>

        <PagerContent>
            <MudTablePager InfoFormat="{first_item}-{last_item} de {all_items}" RowsPerPageString="Filas por página:" />
        </PagerContent>
    </MudTable>
}

