@page "/soshoe/Flow/Update/{FlowId:int}"

@inject ISOSFlowService SOSFlowServices
@inject IStringLocalizer<Resource> Localizer
@inject IStringLocalizer<Resource1> Localizer1
@inject ISnackbar Snackbar
@inject IExportationService Exportation
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@using Blazor.Diagrams.Components
@using Blazor.Diagrams.Components.Widgets


<style>
    .vertical {
        writing-mode: tb-rl;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .border-left {
        border-left: 2px solid #ababab;
    }

    .table-header td {
        background-color: #f5f5f6;
    }

    .table-header-gray th {
        background-color: #f5f5f6;
    }

    .table-header-gray td {
        padding: 0px 1% !important;
    }

    .divider {
        border-left: 1px solid var(--mud-palette-table-lines);
    }

    .images_cell {
    }

    .table-header-gray .images_cell {
        padding: 1% 2% !important;
    }

    .section_divider {
        border-top: 3px dashed var(--mud-palette-table-lines);
    }

</style>

@if (ShowLoading)
{
    <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudItem class="d-flex flex-column justify-center align-self-center">
                    <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                </MudItem>
                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
            </div>
        </ItemTemplate>
    </MudCarousel>
}
else
{

    <MudPaper Square="true" Elevation="3">

        <MudExpansionPanels Outlined="false" Elevation="0">
            <MudExpansionPanel IsInitiallyExpanded=true Style="min-width: 100%">
                <TitleContent>
                    <MudItem Style="display: flex;    align-items: center;    justify-content: space-between;">
                        <MudText Typo="Typo.h6"><b>HOJA DE OPERACION ESTANDAR (FLUJO)</b></MudText>
                        <MudItem Class="" Style="float: right">
                            <MudButton OnClick="UpdateFlow" StartIcon="@Icons.Material.Filled.PlayCircle" Disabled="UpdateButton" Variant="Variant.Filled" Color="Color.Info">@Localizer["UpdateFlow"]</MudButton>
                        </MudItem>
                    </MudItem>
                </TitleContent>
                <ChildContent>
                    <MudSimpleTable Class="mb-5 calendar-table rounded" Style="overflow-x: auto; float: right" Dense>
                        <thead>
                            <tr>
                                <th rowspan="2">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <MudItem Style="justify-content: end" Class="ml-auto">
                                        <MudItem Class="d-flex">
                                            @if (_sosFlow.FlowLogbooks?.Last().Status == 1)
                                            {
                                                <MudChip Class="mr-10" Icon="@Icons.Material.Filled.PlaylistPlay" Color="Color.Warning" Variant="Variant.Text">
                                                    @Localizer["new"]
                                                </MudChip>
                                            }
                                            else if (_sosFlow.FlowLogbooks?.Last().Status == 2)
                                            {
                                                <MudChip Class="mr-10" Icon="@Icons.Material.Filled.PlaylistAddCheck" Color="Color.Success" Variant="Variant.Text">
                                                    @Localizer["approved"]!
                                                </MudChip>
                                            }

                                            @if ((user.UserType < 3) && _sosFlow.FlowLogbooks?.Last().Status != 2)
                                            {
                                                <MudButton @onclick="(() => OpenApproveFlow())" StartIcon="@Icons.Material.Filled.BorderColor" IconColor="Color.Info">@Localizer["approveFlow"]</MudButton>
                                            }
                                        </MudItem>
                                    </MudItem>
                                </td>
                            </tr>
                        </tbody>
                    </MudSimpleTable>
                    <MudPaper Square="true" Elevation="3">
                        <MudSimpleTable>
                            <thead>
                                <MudTr>
                                    <MudTh><b>PLANTA</b><br />@_sosFlow.SOSHub?.Plant?.Description </MudTh>
                                    <MudTd><b>GERENCIA</b><br />@_sosFlow.SOSHub?.Department?.Description</MudTd>
                                    <MudTd><b>DEPARTAMENTO</b><br />@_sosFlow.SOSHub?.Distribution?.Description</MudTd>
                                    <MudTd><b>NO. Control</b><br />@_sosFlow.InternalControlNumber</MudTd>
                                    <MudTd><b>HOJA</b><br />1 de 1</MudTd>
                                </MudTr>
                            </thead>
                        </MudSimpleTable>
                        <MudSimpleTable>
                            <tbody>
                                <MudTr>
                                    <MudTh colspan="8" rowspan="3"><b>NOMBRE DE LA OPERACION</b><br />@_sosFlow.OperationName</MudTh>
                                    @if (TryGetFlowLogbooksElementAtIndex(7, out var item))
                                    {
                                        <MudTh colspan="2">@item.Approver?.Name</MudTh>
                                        <MudTh>@item.Status</MudTh>

                                        <MudTh colspan="4"> @item.Changes</MudTh>
                                        <MudTh>@item.Date</MudTh>
                                        <MudTh>
                                            @if (item.NoRevision == 0)
                                            {
                                                <b>N</b>
                                            }
                                            else
                                            {
                                                @item.NoRevision
                                            }
                                        </MudTh>
                                    }
                                    else
                                    {
                                        <MudTh colspan="2"></MudTh>
                                        <MudTh></MudTh>
                                        <MudTh colspan="4"></MudTh>
                                        <MudTh></MudTh>
                                        <MudTh></MudTh>
                                    }
                                </MudTr>
                                <MudTr>
                                    @if (TryGetFlowLogbooksElementAtIndex(6, out var item))
                                    {
                                        <MudTh colspan="2">@item.Approver?.Name</MudTh>
                                        <MudTh>@item.Status</MudTh>
                                        <MudTh colspan="4"> @item.Changes</MudTh>
                                        <MudTh>@item.Date</MudTh>
                                        <MudTh>
                                            @if (item.NoRevision == 0)
                                            {
                                                <b>N</b>
                                            }
                                            else
                                            {
                                                @item.NoRevision
                                            }
                                        </MudTh>
                                    }
                                    else
                                    {
                                        <MudTh colspan="2"></MudTh>
                                        <MudTh></MudTh>
                                        <MudTh colspan="4"></MudTh>
                                        <MudTh></MudTh>
                                        <MudTh></MudTh>
                                    }
                                </MudTr>
                                <MudTr>
                                    @if (TryGetFlowLogbooksElementAtIndex(5, out var item))
                                    {
                                        <MudTh colspan="2">@item.Approver?.Name</MudTh>
                                        <MudTh>@item.Status</MudTh>
                                        <MudTh colspan="4"> @item.Changes</MudTh>
                                        <MudTh>@item.Date</MudTh>
                                        <MudTh>
                                            @if (item.NoRevision == 0)
                                            {
                                                <b>N</b>
                                            }
                                            else
                                            {
                                                @item.NoRevision
                                            }
                                        </MudTh>
                                    }
                                    else
                                    {
                                        <MudTh colspan="2"></MudTh>
                                        <MudTh></MudTh>
                                        <MudTh colspan="4"></MudTh>
                                        <MudTh></MudTh>
                                        <MudTh></MudTh>
                                    }
                                </MudTr>
                                <MudTr>
                                    <MudTd colspan="2" rowspan="3">
                                        <b>ELABORÓ</b><br />
                                        @if (_sosFlow.SOSHub?.ApproverOwners?.FirstOrDefault()?.Name != null)
                                        {
                                            @_sosFlow.SOSHub?.ApproverOwners?.FirstOrDefault()?.Name
                                        }
                                    </MudTd>
                                    <MudTd colspan="2" rowspan="3">
                                        <b>REVISÓ</b><br />
                                        @if (_sosFlow.SOSHub?.ReviewerEditors?.FirstOrDefault()?.Name != null)
                                        {
                                            @_sosFlow.SOSHub?.ReviewerEditors?.FirstOrDefault()?.Name
                                        }
                                    </MudTd>
                                    <MudTd colspan="2" rowspan="3">
                                        <b>REVISÓ (H. Y S.)</b><br />
                                        @if (_sosFlow.ReviewerHS?.Name != null)
                                        {
                                            @_sosFlow.ReviewerHS.Name
                                        }
                                    </MudTd>
                                    <MudTd colspan="2" rowspan="3">
                                        <b>APROBÓ</b><br />
                                        @if (_sosFlow.SOSHub?.ApproverOwners?.FirstOrDefault()?.Name != null)
                                        {
                                            @_sosFlow.SOSHub?.ApproverOwners?.FirstOrDefault()?.Name
                                        }
                                    </MudTd>
                                    @if (TryGetFlowLogbooksElementAtIndex(4, out var item))
                                    {
                                        <MudTh colspan="2">@item.Approver?.Name</MudTh>
                                        <MudTh>@item.Status</MudTh>
                                        <MudTh colspan="4"> @item.Changes</MudTh>
                                        <MudTh>@item.Date</MudTh>
                                        <MudTh>
                                            @if (item.NoRevision == 0)
                                            {
                                                <b>N</b>
                                            }
                                            else
                                            {
                                                @item.NoRevision
                                            }
                                        </MudTh>
                                    }
                                    else
                                    {
                                        <MudTh colspan="2"></MudTh>
                                        <MudTh></MudTh>
                                        <MudTh colspan="4"></MudTh>
                                        <MudTh></MudTh>
                                        <MudTh></MudTh>
                                    }
                                </MudTr>
                                <MudTr>
                                    @if (TryGetFlowLogbooksElementAtIndex(3, out var item))
                                    {
                                        <MudTh colspan="2">@item.Approver?.Name</MudTh>
                                        <MudTh>@item.Status</MudTh>
                                        <MudTh colspan="4"> @item.Changes</MudTh>
                                        <MudTh>@item.Date</MudTh>
                                        <MudTh>
                                            @if (item.NoRevision == 0)
                                            {
                                                <b>N</b>
                                            }
                                            else
                                            {
                                                @item.NoRevision
                                            }
                                        </MudTh>
                                    }
                                    else
                                    {
                                        <MudTh colspan="2"></MudTh>
                                        <MudTh></MudTh>
                                        <MudTh colspan="4"></MudTh>
                                        <MudTh></MudTh>
                                        <MudTh></MudTh>
                                    }
                                </MudTr>
                                <MudTr>
                                    @if (TryGetFlowLogbooksElementAtIndex(2, out var item))
                                    {
                                        <MudTh colspan="2">@item.Approver?.Name</MudTh>
                                        <MudTh>@item.Status</MudTh>
                                        <MudTh colspan="4"> @item.Changes</MudTh>
                                        <MudTh>@item.Date</MudTh>
                                        <MudTh>
                                            @if (item.NoRevision == 0)
                                            {
                                                <b>N</b>
                                            }
                                            else
                                            {
                                                @item.NoRevision
                                            }
                                        </MudTh>
                                    }
                                    else
                                    {
                                        <MudTh colspan="2"></MudTh>
                                        <MudTh></MudTh>
                                        <MudTh colspan="4"></MudTh>
                                        <MudTh></MudTh>
                                        <MudTh></MudTh>
                                    }
                                </MudTr>
                                <MudTr>
                                    <MudTh colspan="3" rowspan="3"></MudTh>
                                    <MudTd colspan="2" rowspan="3"><b>FECHA </b><br />@_sosFlow.CreatedAt?.ToShortDateString()</MudTd>
                                    <MudTd colspan="3" rowspan="3"><b>TIEMPO OBJETIVO</b><br />@_sosFlow.TargetTime</MudTd>

                                    @if (TryGetFlowLogbooksElementAtIndex(1, out var item))
                                    {
                                        <MudTh colspan="2">@item.Approver?.Name</MudTh>
                                        <MudTh>@item.Status</MudTh>
                                        <MudTh colspan="4"> @item.Changes</MudTh>
                                        <MudTh>@item.Date</MudTh>
                                        <MudTh>
                                            @if (item.NoRevision == 0)
                                            {
                                                <b>N</b>
                                            }
                                            else
                                            {
                                                @item.NoRevision
                                            }
                                        </MudTh>
                                    }
                                    else
                                    {
                                        <MudTh colspan="2"></MudTh>
                                        <MudTh></MudTh>
                                        <MudTh colspan="4"></MudTh>
                                        <MudTh></MudTh>
                                        <MudTh></MudTh>
                                    }
                                </MudTr>
                                <MudTr>
                                    @if (TryGetFlowLogbooksElementAtIndex(0, out var item))
                                    {
                                        <MudTh colspan="2">@item.Approver?.Name</MudTh>
                                        <MudTh>@item.Status</MudTh>
                                        <MudTh colspan="4"> @item.Changes</MudTh>
                                        <MudTh>@item.Date</MudTh>
                                        <MudTh>
                                            @if (item.NoRevision == 0)
                                            {
                                                <b>N</b>
                                            }
                                            else
                                            {
                                                @item.NoRevision
                                            }
                                        </MudTh>
                                    }
                                    else
                                    {
                                        <MudTh colspan="2"></MudTh>
                                        <MudTh></MudTh>
                                        <MudTh colspan="4"></MudTh>
                                        <MudTh></MudTh>
                                        <MudTh></MudTh>
                                    }
                                </MudTr>
                                <MudTr>
                                    <MudTh colspan="2"><b>APROBO </b></MudTh>
                                    <MudTh><b>NO </b></MudTh>
                                    <MudTh colspan="4"><b>CAMBIO </b></MudTh>
                                    <MudTh><b>FECHA </b></MudTh>
                                    <MudTh><b>REV.</b></MudTh>
                                </MudTr>
                            </tbody>
                        </MudSimpleTable>


                    </MudPaper>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel Text="Flow Editor" Style="min-width: 100%">
                <MudItem Class=" mr-8 mb-4">
                    <MudPaper Height="120vh" Style="overflow:hidden; position:relative;">
                        <MudDrawerContainer Class="mud-height-full">

                            <MudDrawer @bind-Open="@_expandedDiagramFigures" Fixed="false" Elevation="1" Variant="@DrawerVariant.Mini" Style="scrollbar-width: none;">
                                <MudNavMenu>

                                    @if (!_expandedDiagramFigures)
                                    {
                                        <MudNavLink Icon="@Icons.Material.Filled.KeyboardDoubleArrowRight" IconColor="@Color.Success" OnClick="_ => ChangedExpandedDiagram()">
                                        </MudNavLink>
                                    }
                                    else
                                    {
                                        <MudNavLink Icon="@Icons.Material.Filled.KeyboardDoubleArrowLeft" IconColor="@Color.Error" OnClick="_ => ChangedExpandedDiagram()">
                                            <span>Collapse</span>
                                        </MudNavLink>
                                    }

                                    @if (!_gridPoints)
                                    {
                                        <MudNavLink Icon="@Icons.Material.Filled.GridOff" OnClick="_ => GridPoints = !_gridPoints">
                                            <span>Grid is @(_gridPoints ? "On" : "Off")</span>
                                        </MudNavLink>
                                    }
                                    else
                                    {
                                        <MudNavLink Icon="@Icons.Material.Filled.GridOn" OnClick="_ => GridPoints = !_gridPoints">
                                            <span>Grid is @(_gridPoints ? "On" : "Off")</span>
                                        </MudNavLink>
                                    }

                                    @if (_expandedDiagramFigures)
                                    {
                                        <MudNavLink>
                                            Terminal
                                            <MudItem Class="pa-2">
                                                <a class="data-figure" style="overflow: hidden; width: 100px; height: 98px; padding: 1px; opacity: 1;" draggable="true" data-figure-type="Terminal">
                                                    <svg style="left: 1px; top: 1px; width: 98px; height: 96px; display: block; position: relative; overflow: hidden; pointer-events: none;">
                                                        <g transform="translate(0.5,0.5)" style="visibility: visible; pointer-events: none;">
                                                            <rect x="4.7" y="22.9" width="84.7" height="42.3" rx="28" ry="28" fill="none" stroke="rgb(0, 0, 0)" stroke-width="1.3" style="pointer-events: none;"></rect>
                                                        </g>
                                                    </svg>
                                                </a>
                                            </MudItem>
                                        </MudNavLink>

                                        <MudNavLink>
                                            Proceso
                                            <MudItem Class="pa-2">
                                                <a class="data-figure" style="overflow: hidden; width: 100px; height: 98px; padding: 1px; opacity: 1;" draggable="true" data-figure-type="Proceso">
                                                    <svg style="left: 1px; top: 1px; width: 98px; height: 96px; display: block; position: relative; overflow: hidden; pointer-events: none;">
                                                        <g transform="translate(0.5,0.5)" style="visibility: visible; pointer-events: none;">
                                                            <rect x="10" y="10" width="80" height="50" fill="none" stroke="rgb(0, 0, 0)" stroke-width="1.3"></rect>
                                                        </g>
                                                    </svg>
                                                </a>
                                            </MudItem>
                                        </MudNavLink>

                                        <MudNavLink>
                                            Decision
                                            <MudItem Class="pa-2">
                                                <a class="data-figure" style="overflow: hidden; width: 115px; height: 80px; padding: 1px; opacity: 1;" draggable="true" data-figure-type="DecisionRombo">
                                                    <svg width="115" height="80" style="display: block; position: relative; overflow: hidden;">
                                                        <polygon points="57.5,0 115,40 57.5,80 0,40" fill="none" stroke="rgb(0, 0, 0)" stroke-width="1.3"></polygon>
                                                    </svg>
                                                </a>
                                            </MudItem>
                                        </MudNavLink>



                                        <MudNavLink>
                                            Decision
                                            <MudItem Class="pa-2">
                                                <a class="data-figure" style="overflow: hidden; width: 115px; height: 80px; padding: 1px; opacity: 1;" draggable="true" data-figure-type="Decision">
                                                    <svg width="115" height="80" style="display: block; position: relative; overflow: hidden;">
                                                        <polygon points="10,40 40,10 80,10 110,40 80,70 40,70" fill="none" stroke="rgb(0, 0, 0)" stroke-width="1.3"></polygon>
                                                    </svg>
                                                </a>
                                            </MudItem>
                                        </MudNavLink>

                                        <MudNavLink>
                                            Conexion
                                            <MudItem Class="pa-2">
                                                <a class="data-figure" style="overflow: hidden; width: 100px; height: 98px; padding: 1px; opacity: 1;" draggable="true" data-figure-type="Conexion">
                                                    <svg width="100" height="100" style="display: block; position: relative; overflow: hidden;">
                                                        <circle cx="50" cy="50" r="40" fill="none" stroke="rgb(0, 0, 0)" stroke-width="1.3"></circle>
                                                    </svg>
                                                </a>
                                            </MudItem>
                                        </MudNavLink>

                                        <MudNavLink>
                                            Suplemento
                                            <MudItem Class="pa-2">
                                                <a class="data-figure" style="overflow: hidden; width: 100px; height: 70px; padding: 1px; opacity: 1;" draggable="true" data-figure-type="Suplemento">
                                                    <svg width="100" height="70" style="display: block; position: relative; overflow: hidden;">
                                                        <path d="M85,10 H15 V60 H85" fill="none" stroke="black" stroke-width="1.3"></path>
                                                    </svg>
                                                </a>
                                            </MudItem>
                                        </MudNavLink> 
                                        
                                        <MudNavLink>
                                            Commentario
                                            <MudItem Class="pa-2">
                                                <a class="data-figure" style="overflow: hidden; width: 100px; height: 70px; padding: 1px; opacity: 1;" draggable="true" data-figure-type="Commentary">
                                                    <svg width="100" height="70" style="display: block; position: relative; overflow: hidden;">
                                                        <rect x="0" y="0" width="100" height="70" rx="10" ry="10" fill="#fff3e0" stroke="#ffcc80" stroke-width="1.3"></rect>

                                                        @for (int i = 1; i <= 5; i++)
                                                        {
                                                            <line x1="10" y1="@((100 / 6) * i)" x2="90" y2="@((70 / 6) * i)" stroke="#ffcc80" stroke-width="1"></line>
                                                        }
                                                    </svg>
                                                </a>
                                            </MudItem>
                                        </MudNavLink>
                                    }
                                    else
                                    {
                                        <MudNavLink class="data-figure" draggable="true" data-figure-type="Terminal">
                                            <svg width="25" height="25" viewBox="0 0 100 70" style="display: block; position: relative; overflow: hidden; left: -45%">
                                                <rect x="4.7" y="22.9" width="84.7" height="42.3" rx="28" ry="28" fill="none" stroke="rgb(0, 0, 0)" stroke-width="7"></rect>
                                            </svg>
                                        </MudNavLink>

                                        <MudNavLink Icon="@Icons.Material.Outlined.Square" class="data-figure" draggable="true" data-figure-type="Proceso">

                                        </MudNavLink>

                                        <MudNavLink class="data-figure" draggable="true" data-figure-type="DecisionRombo">
                                            <svg width="25" height="25" viewBox="0 0 115 80" style="display: block; position: relative; overflow: hidden; left: -50%;">
                                                <polygon points="57.5,0 115,40 57.5,80 0,40" fill="none" stroke="rgb(0, 0, 0)" stroke-width="7"></polygon>
                                            </svg>
                                        </MudNavLink>



                                        <MudNavLink Icon="@Icons.Material.Outlined.Hexagon" class="data-figure" draggable="true" data-figure-type="Decision">

                                        </MudNavLink>

                                        <MudNavLink Icon="@Icons.Material.Outlined.Circle" class="data-figure" draggable="true" data-figure-type="Conexion">

                                        </MudNavLink>

                                        <MudNavLink class="data-figure" draggable="true" data-figure-type="Suplemento">
                                            <svg width="24" height="24" viewBox="0 0 100 70" style="display: block; position: relative; overflow: hidden; left: -35%;">
                                                <path d="M70,10 H1 V60 H70" fill="none" stroke="black" stroke-width="7"></path>
                                            </svg>
                                        </MudNavLink>

                                        <MudNavLink Icon="@Icons.Material.Outlined.Note" class="data-figure" draggable="true" data-figure-type="Commentary">
                                        
                                        </MudNavLink>
                                    }



                                </MudNavMenu>
                            </MudDrawer>

                            <div class="mud-height-full" style="display: flex; align-items: center; flex-direction: column;">
                                <MudSimpleTable Dense Style="width:100%; margin:0px; padding:0px;" Square="true">
                                    <tbody class="table-header-gray">
                                        <MudTr>
                                            <MudTh Style="text-align:center">
                                                <MudItem>
                                                    <b>FLUJO </b>
                                                </MudItem>
                                            </MudTh>
                                            <MudTh Style="text-align:center"><b>CRITERIO DE JUICIO </b></MudTh>
                                        </MudTr>
                                    </tbody>
                                </MudSimpleTable>
                                <div class="diagram-container" style="width: 100%;" @ref="container" @ondrop="OnDrop">
                                    <CascadingValue Value="Diagram" IsFixed="true">
                                        <DiagramCanvas>
                                            <Widgets>
                                                <GridWidget Size="30" Mode="@(GridPoints ? GridMode.Line : GridMode.Point )" BackgroundColor="white" />
                                            </Widgets>
                                        </DiagramCanvas>
                                    </CascadingValue>
                                </div>

                            </div>
                        </MudDrawerContainer>
                    </MudPaper>

                </MudItem>

            </MudExpansionPanel>

        </MudExpansionPanels>

        <br />
    </MudPaper>

    @*  <MudScrollToTop TopOffset="1"
                    Selector="#unique_id_scroll_section"
                    VisibleCssClass="visible absolute"
                    HiddenCssClass="invisible">
        <MudButton  Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowUpward" Color="Color.Primary">Show Title</MudButton>
    </MudScrollToTop> *@
}

<MudDialog DisableSidePadding="false" @bind-IsVisible="visibleLogbook" Options="dialogLogbookOptions">
    <TitleContent>
        <div class="d-flex" style="align-items: center; justify-content:center;">
            <MudImage ObjectFit="ObjectFit.Cover" Height="25" Src="Images/logo.png" Alt="Evidence" Elevation="25" Class="rounded-lg mr-4" />
            <MudText Typo="Typo.h6" Style="text-align: center;">
                @Localizer["Flow Logbook"]
            </MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudItem Style="height: 65vh">
            <MudSimpleTable Style="overflow-x: auto;" Class="comments-table" Dense="true" Elevation="0" Hover>
                <thead>
                    <tr class="table-header-gray">
                        <th>No. de revisión</th>
                        <th>SSV</th>
                        <th>SV</th>
                        <th>Date</th>
                        <th>Revised Items</th>
                    </tr>
                </thead>
                <tbody>
                    @if (_sosFlow.FlowLogbooks?.Any() ?? false)
                    {
                        int i = 0;
                        @foreach (SOSFlowLogbook logbook in _sosFlow.FlowLogbooks)
                        {
                            <tr>
                                <td>
                                    @if (i == 0)
                                    {
                                        <span>N</span>
                                        i++;
                                    }
                                    else
                                    {
                                        <span>@(i++)</span>
                                    }
                                </td>
                                <td>@logbook.Approver?.Name</td>
                                <td>@logbook.Reviewer?.Name</td>
                                <td>@logbook.Date?.ToShortDateString()</td>
                                <td>@logbook.Changes</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">
                                <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                                    @Localizer["There is no Flow logbook"]
                                </MudAlert>
                            </td>
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
        </MudItem>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseLogbookDialog" Variant="Variant.Filled">@Localizer["close"]</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-IsVisible="visibleApproveFlow" Options="dialogSignOptions">
    <DialogContent>
        <MudText Typo="Typo.h6">Confirm</MudText>
        <MudText Class="mt-4 mb-4">
            <span style="color: #2196f3; text-align:justify">@user.Name</span>,
            @Localizer["areYouSureYouWantToApproveThisFlow"]
        </MudText>
        <MudText Class="mt-4 mb-4">
            @Localizer["onceApprovedItCannotBeModified"]
        </MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseSign" Variant="Variant.Filled">@Localizer["cancel"]</MudButton>
        <MudButton @onclick="(() => ApproveFlow())" Color="Color.Info" StartIcon="@Icons.Material.Filled.PlaylistAddCheck" Variant="Variant.Filled">@Localizer["approveFlow"]</MudButton>
    </DialogActions>
</MudDialog>


