@page "/plants"
@inject IPlantService PlantService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@*Title*@
<PageTitle>Supervisor Mobility | Plants</PageTitle>

@*Breadcrumb links*@
<MudBreadcrumbs Class="mb-10" Items="_links">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
    </ItemTemplate>
</MudBreadcrumbs>

@if (_plants == null)
{
    <text>
        Cargando . . .
    </text>
}
else if (_plants.Count == 0)
{

    <MudContainer>

        <MudText Align="Align.Center">
            <h4>Aun no existen plantas</h4>
            <MudSpacer></MudSpacer>
            <text>Crear Planta</text>
            <MudIconButton Icon="@Icons.Material.Filled.Add" aria-label="add" @onclick="(() => CreatePlant())"></MudIconButton>

        </MudText>

    </MudContainer>

}
else
{

    <MudTable SortLabel="SortBy" Class="styled-table table-striped"
          Items="@_plants" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="true" Filter="new Func<Plant,bool>(FilterFunc1)" @bind-SelectedItem="@_plant">
        <PagerContent>
            <MudTablePager />
        </PagerContent>
        <ToolBarContent>
            <MudText Typo="Typo.h6">Plants</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="@searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Filled.Add" aria-label="add" @onclick="(() => CreatePlant())"></MudIconButton>

        </ToolBarContent>
        <HeaderContent>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Plant, object>(x=>x.PlantId)" Enabled="true">PlantId</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Plant, object>(x=>x.Code)" >Code</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Plant, object>(x=>x.Description)"><MudText>Description</MudText></MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Plant, object>(x=>x.IsActive)">Status</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudText Align="Align.Center">Actions</MudText>
            </MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="PlantId">
                <MudText Align="Align.Center">@context.PlantId</MudText>
            </MudTd>
            <MudTd DataLabel="Code">
                <MudText Align="Align.Center">@context.Code</MudText>
            </MudTd>
            <MudTd DataLabel="Description">
                <MudText Align="Align.Center">@context.Description</MudText>
            </MudTd>
            <MudTd DataLabel="Status">
                @if (context.IsActive == true)
                {
                    <MudText Align="Align.Center">
                        <MudChip Variant="Variant.Text" Color="Color.Success">Active</MudChip>
                    </MudText>
                }
                else
                {
                    <MudText Align="Align.Center">
                        <MudChip Variant="Variant.Text" Color="Color.Error">Inactive</MudChip>
                    </MudText>
                }
            </MudTd>
            <MudTd>
                <MudText Align="Align.Center">
                    <MudIconButton Icon="@Icons.Material.Filled.Info" aria-label="info" @onclick="(() => PlantDetails(context.PlantId))"></MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" aria-label="edit" @onclick="(() => UpdatePlant(context.PlantId))"></MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" @onclick="(() => DeletePlant(context.PlantId))"></MudIconButton>
                </MudText>
            </MudTd>
        </RowTemplate>
    </MudTable>
}