@page "/assychart/updateassychart/{assychartId:int}"
@using System.Text.RegularExpressions;

@*Title*@
<PageTitle>Supervisor Mobility |@Localizer1["ACUpdateAC"]</PageTitle>

@inject IPlantService PlantServices
@inject IAreaService AreaServices
@inject IDistributionService DistributionServices
@inject IAssyChartService AssyChartServices
@inject IProductService ProductsServices
@inject IJSRuntime JsRuntime
@inject IBridgeCDMSService CDMSServices
@inject ITreeService TreeServices
@inject IStringLocalizer<Resource1> Localizer1
@inject IStringLocalizer<Resource> Localizer
@inject NavigationManager NavigationManager


@*Breadcrumb links*@
<MudBreadcrumbs Class="mb-10" Items="_links">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
    </ItemTemplate>
</MudBreadcrumbs>


@*Form New Assy Chard*@
<EditForm Model="_assychart" OnValidSubmit="UpdateAssyChartAsync">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">@Localizer1["ACUpdate"]</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudChip Variant="Variant.Text" Color="Color.Success">@Localizer1["ACUpdate"]</MudChip>
                    </CardHeaderActions>
                </MudCardHeader>
                @*Mud select of plants *@
                @if(DisplayLoading){
                    <MudCarousel Class="mud-width-full" Context="Carousel" ItemsSource="@_sourceMsgLoading" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
                    <ItemTemplate>
                        <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                            <MudItem class="d-flex flex-column justify-center align-self-center">
                                <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                            </MudItem>
                            @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                            <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
                        </div>
                    </ItemTemplate>
                </MudCarousel>
                }
                else
                {
                    <MudCardContent>

                        <MudSelect T="int" Label="@Localizer1["ACLabelPlant"]" Variant="Variant.Text" Placeholder="@Localizer1["ACPHPlant"]" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@auxplant" For="@(() => auxplant)" SelectedValuesChanged="UpdateAreas">
                            <MudSelectItem Disabled="true" Value="0">@Localizer1["ACPHPlant"]</MudSelectItem>
                            @foreach (var type in _plants)
                            {
                                <MudSelectItem Value="type.PlantId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                            }
                        </MudSelect>

                        @*Mud select of Areas *@

                        <MudSelect T="int" Label="@Localizer1["ACLabelArea"]" Variant="Variant.Text" Placeholder="@Localizer1["ACPHArea"]" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@auxarea" For="@(() => auxarea)" SelectedValuesChanged="UpdateDistributions">
                            <MudSelectItem Disabled="true" Value="0">@Localizer1["ACPHArea"]</MudSelectItem>
                            @foreach (var type in _areas)
                            {
                                <MudSelectItem Value="type.AreaId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                            }
                        </MudSelect>

                        @*Mud select of Distributions *@

                        <MudSelect T="int" Label="@Localizer1["ACLabelDistribution"]" Placeholder="@Localizer1["ACPHDistribution"]" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@auxdistribution" For="@(() => auxdistribution)" SelectedValuesChanged="UpdateOperationProducts">
                            <MudSelectItem Disabled="true" Value="0">@Localizer1["ACPHDistribution"]</MudSelectItem>
                            @foreach (var type in _distributions)
                            {
                                <MudSelectItem Value="type.DistributionId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                            }
                        </MudSelect>

                    




                        <MudItem Class="d-flex flex-column justify-center">




                            @switch (_assychart.RoutesProductsAssyChart?.Count)
                            {
                                case null:

                                    <MudItem class="d-flex d-flex-column justify-center">
                                        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                    </MudItem>

                                    break;
                                case 0:

                                    if (auxplant == 0)
                                    {
                                        <MudItem class="d-flex d-flex-column justify-center">
                                            <MudText Typo="Typo.h6"> @Localizer1["Routes"] </MudText>
                                        </MudItem>

                                        <MudItem class="d-flex flex-column justify-center justify-align-center">
                                            <MudAlert Severity="Severity.Info">
                                                First Select Plant
                                            </MudAlert>
                                        </MudItem>
                                    }
                                    else if (auxarea == 0)
                                    {
                                        <MudItem class="d-flex d-flex-column justify-center">
                                            <MudText Typo="Typo.h6"> @Localizer1["Routes"] </MudText>
                                        </MudItem>

                                        <MudItem class="d-flex flex-column justify-center justify-align-center">
                                            <MudAlert Severity="Severity.Info">
                                                First Select Area
                                            </MudAlert>
                                        </MudItem>
                                    }
                                    else if (auxdistribution == 0)
                                    {
                                        <MudItem class="d-flex d-flex-column justify-center">
                                            <MudText Typo="Typo.h6"> @Localizer1["Routes"] </MudText>
                                        </MudItem>

                                        <MudItem class="d-flex flex-column justify-center justify-align-center">
                                            <MudAlert Severity="Severity.Info">
                                                First Select Distribution
                                            </MudAlert>
                                        </MudItem>
                                    }
                                    else
                                    {
                                        <MudItem class="d-flex d-flex-column justify-center">
                                            <MudText Typo="Typo.h6"> @Localizer1["Routes"] </MudText>
                                        </MudItem>
                                        <MudAlert Severity="Severity.Info">
                                            This AssyChart No Have Paths Added
                                        </MudAlert>

                                        <MudItem class="d-flex flex-column justify-center justify-align-center">
                                            
                                              
                                            <MudPaper Style="width: 100%">
                                                <MudButton OnClick="@(e => CreateCodePath())" FullWidth="true" Class="d-flex justify-center" Style="height:100%">
                                                        <MudItem style="text-align:center">
                                                            <img src="Images/agregar.png" Height="100" Width="100" />
                                                            <MudText  Variant="Variant.Text" Color="Color.Info">Add New Path Code</MudText>
                                                        </MudItem>
                                                    </MudButton>
                                                </MudPaper>
                                        </MudItem>
                                    }
                                    break;
                                default:
                                    <MudItem class="d-flex d-flex-column justify-center">
                                        <MudText Typo="Typo.h6"> @Localizer1["Routes"] </MudText>
                                    </MudItem>

                                    
                                        @if (_assychart.RoutesProductsAssyChart is not null && _assychart.RoutesProductsAssyChart?.ToList().Count > 0)
                                        {

                                            <MudItem Style="max-height: 70vh; max-width: 90vw; overflow-y: scroll; display: flex; flex-wrap: wrap;" Class="gap-4">
                                                @foreach (var item in _assychart.RoutesProductsAssyChart)
                                                {
                                                    <MudButton OnClick="@(e => OpenDialogEditCodePath(item))" FullWidth="false" Class="d-flex justify-center" Style="height:100%;">
                                                    <MudCard Elevation="3" Outlined="true" Style="min-width:450px">
                                                        <MudCardHeader>
                                                            <CardHeaderAvatar>
                                                                <MudChip Icon="@Icons.Material.Filled.DirectionsCar" Color="Color.Info">@item.Product?.Code</MudChip>
                                                            </CardHeaderAvatar>
                                                            <CardHeaderContent>
                                                                <MudText Typo="Typo.body1">@item.Code</MudText>
                                                            </CardHeaderContent>

                                                        </MudCardHeader>

                                                        <MudCardContent Style="max-height: 250px; overflow-x:scroll; flex-wrap: wrap; flex-direction: column;" Class="gap-4">
                                                            <MudTextField Label="@Localizer1["ACLabelHOESelect"]" ReadOnly="true" Value="@Regex.Replace(item.HOE, @"/(.*?)§", "/").Replace('§', ' ')" />
                                                            @if (item.CommonDirectionHOE != "")
                                                            {
                                                                <MudTextField Label="@Localizer1["ACLabelHOESelectCD"]" ReadOnly="true" Value="@Regex.Replace(item.CommonDirectionHOE, @"/(.*?)§", "/").Replace('§', ' ')" />
                                                            }
                                                            <MudTextField Label="@Localizer1["ACLabelCCPSelect"]" ReadOnly="true" @bind-Value="@item.CCP" />
                                                            @if (item.CommonDirectionCCP != "")
                                                            {
                                                                <MudTextField Label="@Localizer1["ACLabelCCPSelectCD"]" ReadOnly="true" @bind-Value="@item.CommonDirectionCCP" />
                                                            }
                                                            <MudTextField Label="@Localizer1["ACLabelGOSSelect"]" ReadOnly="true" @bind-Value="@item.GOS" />
                                                            @if (item.CommonDirectionGOS != "")
                                                            {
                                                                <MudTextField Label="@Localizer1["ACLabelGOSSelectCD"]" ReadOnly="true" @bind-Value="@item.CommonDirectionGOS" />
                                                            }
                                                        </MudCardContent>
                                                    </MudCard>
                                                    </MudButton>

                                                }
                                            <MudPaper>
                                                <MudButton OnClick="@(e => CreateCodePath())" FullWidth="true" Class="d-flex justify-center" Style="height:100%">
                                                    <MudItem style="text-align:center">
                                                        <img src="Images/agregar.png" Height="100" Width="100" />
                                                        <MudText Variant="Variant.Text" Color="Color.Info">Add New Path Code</MudText>
                                                    </MudItem>
                                                </MudButton>
                                            </MudPaper>
                                            </MudItem>

                                        }



                                    break;
                            }



                        </MudItem>




                        @*Operation *@

                        @* <MudItem xs="12" sm="12" lg="12" md="12" Style="display: flex; flex-wrap: wrap; flex-direction:row">
                    <MudItem xs="9" sm="9" lg="9" md="9">
                    <MudSelect T="int" Label="@Localizer1["ACLabelOperation"]" Placeholder="@Localizer1["ACPHOperation"]" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_assychart.OperationId" For="@(() => _assychart.OperationId)">
                    <MudSelectItem Disabled="true" Value="0">@Localizer1["ACPHOperation"]</MudSelectItem>
                    @foreach (var type in _distributionValues.Operations)
                    {
                    <MudSelectItem Value="type.OperationId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                    }
                    </MudSelect>
                    </MudItem>
                    <MudItem xs="3" sm="3" lg="3" md="3">
                    @if (_assychart.OperationId != 0)
                    {

                    @switch (_distributionValues.Operations.Find(op => op.OperationId == _assychart.OperationId).CriticalType)
                    {
                    case 1:
                    <MudTextField  Class="mt-3" AnchorOrigin="Origin.BottomCenter" ReadOnly Value="'A'" Label="@Localizer1["ACCriticalLabel"]" Align="Align.Center"></MudTextField>
                    break;
                    case 2:
                    <MudTextField  Class="mt-3" AnchorOrigin="Origin.BottomCenter" ReadOnly Value="'B'" Label="@Localizer1["ACCriticalLabel"]" Align="Align.Center"></MudTextField>
                    break;
                    case 3:
                    <MudTextField  Class="mt-3" AnchorOrigin="Origin.BottomCenter" ReadOnly Value="'C'" Label="@Localizer1["ACCriticalLabel"]" Align="Align.Center"></MudTextField>
                    break;
                    default:
                    <MudTextField Class="mt-3" AnchorOrigin="Origin.BottomCenter" ReadOnly Value="@Localizer["OPCritical"]" Label="@Localizer1["ACCriticalLabel"]" Align="Align.Center"></MudTextField>
                    break;
                    }

                    }
                    </MudItem>
                    </MudItem>*@





                    </MudCardContent>
                }

                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto">@Localizer1["ACUpdate"]</MudButton>
                    <MudButton Variant="Variant.Filled" Class="ml-4" @onclick="(() => CancelUpdateAssyChart())">@Localizer1["Cancel"]</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>


            
<MudDialog @bind-IsVisible="ProductModalDisplay" Options="dialogOptions" @onclose="@(() => StateHasChanged())">
    <DialogContent>
      
        <MudItem Style="max-height: 75vh; min-height: 70vh; min-width: 90vw; overflow-y: scroll;" Class="gap-4">


            <MudCard Elevation="3" Outlined="true">

                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudChip Color="Color.Info">@CodePathDialog.Product?.Code</MudChip>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudTextField Typo="Typo.body1" Label="Code" @bind-Value="@CodePathDialog.Code" ></MudTextField>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudMenu EndIcon="@Icons.Material.Filled.Settings" Label="Options" Color="Color.Info" AnchorOrigin="Origin.BottomCenter">
                            @if (!if_add_CD_HOE)
                            {
                                <MudMenuItem Icon="@Icons.Material.Filled.CreateNewFolder" @onclick="(() => AddRemove_CD_HOE())" @ontouchstart="(() => AddRemove_CD_HOE())">
                                    Add Common Direction HOE
                                </MudMenuItem>
                            }
                            @if (!if_add_CD_CCP)
                            {
                                <MudMenuItem Icon="@Icons.Material.Filled.CreateNewFolder" @onclick="(() => AddRemove_CD_CCP())" @ontouchstart="(() => AddRemove_CD_CCP())">
                                    Add Common Direction CCP
                                </MudMenuItem>
                            }
                            @if (!if_add_CD_GOS)
                            {
                                <MudMenuItem Icon="@Icons.Material.Filled.CreateNewFolder" @onclick="(() => AddRemove_CD_GOS())" @ontouchstart="(() => AddRemove_CD_GOS())">
                                    Add Common Direction GOS
                                </MudMenuItem>
                            }
                        </MudMenu>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent Style="min-width: 70vw;    max-height: 65vh;    min-height: 60vh; overflow-y: scroll; display: flex; flex-wrap: wrap;" Class="gap-4">

                    <MudCard Elevation="1" Class="mr-5"  Style="min-width: 350px; flex: 0 0 calc(28% - 1rem);">
                        <MudCardHeader>
                            <CardHeaderActions>
                                <MudChip Icon="@Icons.Material.Filled.FolderOpen" Color="Color.Info" Variant="Variant.Outlined">HOE</MudChip>
                                <MudIconButton Icon="@Icons.Material.Filled.FormatClear" Color="Color.Error" OnClick="@(() => DeleteHOERoute())" />
                            </CardHeaderActions>

                        </MudCardHeader>
                        <MudCardContent>

                            @if (HOEFolders != null)
                            {
                                @if (rootNodeHOE.TreeItems.Count > 0)
                                {
                                    <MudPaper Elevation="0">

                                        <MudTextField Label="@Localizer1["ACLabelHOESelect"]" ReadOnly="true" Value="@Regex.Replace(CodePathDialog.HOE, @"/(.*?)§", "/").Replace('§', ' ')" />

                                        <MudTreeView ServerData="LoadServerData" Color="Color.Primary" @bind-SelectedValue="@SelectedNodeHOE" @bind-Value="@CodePathDialog.CommonDirectionHOE" Context="OtherContext" Items="rootNodeHOE.TreeItems">
                                            <ItemTemplate>
                                                <MudTreeViewItem Value="@OtherContext" @onclick="@(() => { @CodePathDialog.HOE = OtherContext.Ruta; })" LoadingIconColor="Color.Info" CanExpand="@OtherContext.EsDirectorio" Text="@OtherContext.Nombre.Split('§').Last()" EndTextTypo="@Typo.caption" />
                                            </ItemTemplate>
                                        </MudTreeView>
                                    </MudPaper>
                                }
                                else
                                {
                                    <MudAlert Severity="Severity.Info" Style="text-align: center">@Localizer1["ACHOEDirectory"]</MudAlert>
                                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                }

                            }
                            else
                            {
                                if (folderHOEError)
                                {
                                    <MudAlert Severity="Severity.Warning" Style="text-align: center"> @Localizer1["ServerNotResponse"] </MudAlert>
                                }
                            }

                             @if (if_add_CD_HOE)
                            {
                                <MudPaper Elevation="0">
                                    @if (if_add_CD_HOE)
                                    {
                                   
                                               <MudIconButton Icon="@Icons.Material.Filled.FolderDelete" Color="Color.Error" OnClick="@(() => AddRemove_CD_HOE())" @ontouchstart="@(() => AddRemove_CD_HOE())" />
                                    <MudChip Icon="@Icons.Material.Filled.Folder" Color="Color.Warning">CommonDirection HOE</MudChip>
                                    <MudIconButton Icon="@Icons.Material.Filled.FormatClear" Color="Color.Warning" OnClick="@(() => DeleteHOERouteCD())" @ontouchstart="@(() => DeleteHOERouteCD())" />
                               
                                        }

                                </MudPaper>
                                @if (HOEFolders != null)
                                {
                                    @if (rootNodeHOE.TreeItems.Count > 0)
                                    {
                                        <MudPaper Elevation="0">

                                            <MudTextField Label="@Localizer1["ACLabelHOESelectCD"]" ReadOnly="true" Value="@Regex.Replace(CodePathDialog.CommonDirectionHOE, @"/(.*?)§", "/").Replace('§', ' ')" />

                                            <MudTreeView ServerData="LoadServerData" Color="Color.Primary" @bind-SelectedValue="@SelectedNodeHOE" @bind-Value="@CodePathDialog.CommonDirectionHOE" For="@(() => @CodePathDialog.CommonDirectionHOE)" Context="OtherContext" Items="rootNodeHOE.TreeItems">
                                                <ItemTemplate>
                                                    <MudTreeViewItem Value="@OtherContext" @onclick="@(() => { @CodePathDialog.CommonDirectionHOE = OtherContext.Ruta; })" LoadingIconColor="Color.Info" CanExpand="@OtherContext.EsDirectorio" Text="@OtherContext.Nombre.Split('§').Last()" EndTextTypo="@Typo.caption" />
                                                </ItemTemplate>
                                            </MudTreeView>
                                        </MudPaper>
                                    }
                                    else
                                    {
                                        <MudAlert Severity="Severity.Info" Style="text-align: center">@Localizer1["ACHOEDirectory"]</MudAlert>
                                        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                    }

                                }
                                else
                                {
                                    if (folderHOEError)
                                    {
                                        <MudAlert Severity="Severity.Warning" Style="text-align: center"> @Localizer1["ServerNotResponse"] </MudAlert>
                                    }
                                }


                            }
                        </MudCardContent>
                    </MudCard>

           

                    <MudCard Elevation="1" Class="mr-5" Style="min-width: 350px; flex: 0 0 calc(28% - 1rem);">
                        <MudCardHeader>
                            <CardHeaderActions>
                                <MudChip Icon="@Icons.Material.Filled.Folder" Color="Color.Warning">CCP</MudChip>
                                <MudIconButton Icon="@Icons.Material.Filled.FormatClear" Color="Color.Error" OnClick="@(() => DeleteCCPRoute())" />

                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudCardContent>

                            @if (CCPFolders != null)
                            {
                                @if (rootNodeCCP.TreeItems.Count > 0)
                                {
                                    <MudPaper Elevation="0">
                                        <MudTextField Label="@Localizer1["ACLabelCCPSelect"]" ReadOnly="true"
                                        @bind-Value="@CodePathDialog.CCP" For="@(() => @CodePathDialog.CCP)" />
                                        <MudTreeView ServerData="LoadServerData" Color="Color.Primary" @bind-SelectedValue="@SelectedNodeCCP" Context="CCPContext" Items="rootNodeCCP.TreeItems">
                                            <ItemTemplate>
                                                <MudTreeViewItem Value="@CCPContext" @onclick="@(() => { @CodePathDialog.CCP = CCPContext.Ruta; })" LoadingIconColor="Color.Info" CanExpand="@CCPContext.EsDirectorio" Text="@CCPContext.Nombre" EndTextTypo="@Typo.caption" />
                                            </ItemTemplate>
                                        </MudTreeView>
                                    </MudPaper>
                                }
                                else
                                {
                                    <MudAlert Severity="Severity.Info" Style="text-align: center">@Localizer1["ACCCPDirectory"]</MudAlert>
                                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                }
                            }
                            else
                            {
                                if (folderCCPError)
                                {
                                    <MudAlert Severity="Severity.Warning" Style="text-align: center"> @Localizer["ServerNotResponse"] </MudAlert>
                                }
                            }

                            @if (if_add_CD_CCP)
                            {
                                <MudPaper Elevation="1">
                                    @if (if_add_CD_CCP)
                                    {
                                        <MudIconButton Icon="@Icons.Material.Filled.FolderDelete" Color="Color.Error" OnClick="@(() => AddRemove_CD_CCP())" @ontouchstart="@(() => AddRemove_CD_CCP())" />
                                        <MudChip Icon="@Icons.Material.Filled.Folder" Color="Color.Warning">CommonDirection CCP</MudChip>
                                        <MudIconButton Icon="@Icons.Material.Filled.FormatClear" Color="Color.Warning" OnClick="@(() => DeleteCCPRouteCD())" @ontouchstart="@(() => DeleteCCPRouteCD())" />
                                    }

                                </MudPaper>

                                @if (CCPFolders != null)
                                {
                                    @if (rootNodeCCP.TreeItems.Count > 0)
                                    {
                                        <MudPaper Elevation="0">
                                            <MudTextField Label="@Localizer1["ACLabelCCPSelect"]" ReadOnly="true"
                                            @bind-Value="@CodePathDialog.CommonDirectionCCP" For="@(() => @CodePathDialog.CommonDirectionCCP)" />
                                            <MudTreeView ServerData="LoadServerData" Color="Color.Primary" @bind-SelectedValue="@SelectedNodeCCP" Context="CCPContext" Items="rootNodeCCP.TreeItems">
                                                <ItemTemplate>
                                                    <MudTreeViewItem Value="@CCPContext" @onclick="@(() => { @CodePathDialog.CommonDirectionCCP = CCPContext.Ruta; })" LoadingIconColor="Color.Info" CanExpand="@CCPContext.EsDirectorio" Text="@CCPContext.Nombre" EndTextTypo="@Typo.caption" />
                                                </ItemTemplate>
                                            </MudTreeView>
                                        </MudPaper>
                                    }
                                    else
                                    {
                                        <MudAlert Severity="Severity.Info" Style="text-align: center">@Localizer1["ACCCPDirectory"]</MudAlert>
                                        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                    }
                                }
                                else
                                {
                                    if (folderCCPError)
                                    {
                                        <MudAlert Severity="Severity.Warning" Style="text-align: center"> @Localizer["ServerNotResponse"] </MudAlert>
                                    }
                                }
                            }


                        </MudCardContent>
                    </MudCard>

                    <MudCard Elevation="1" Class="mr-5" Style="min-width: 350px; flex: 0 0 calc(28% - 1rem);">
                        <MudCardHeader>
                            <CardHeaderActions>
                                <MudChip Icon="@Icons.Material.Filled.Folder" Color="Color.Warning"> GOS</MudChip>
                                <MudIconButton Icon="@Icons.Material.Filled.FormatClear" Color="Color.Warning" OnClick="@(() => DeleteGOSRoute())" />
                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudCardContent>
                            @if (GOSFolders != null)
                            {
                                @if (rootNodeGOS.TreeItems.Count > 0)
                                {
                                    <MudPaper Elevation="0">
                                        <MudTextField Label="@Localizer1["ACLabelGOSSelect"]" ReadOnly="true"
                                        @bind-Value="@CodePathDialog.GOS" For="@(() => @CodePathDialog.GOS)" />
                                        <MudTreeView ServerData="LoadServerData" Color="Color.Primary" @bind-SelectedValue="@SelectedNodeGOS" Context="GosContext" Items="rootNodeGOS.TreeItems">
                                            <ItemTemplate>
                                                <MudTreeViewItem Value="@GosContext" @onclick="@(() => { @CodePathDialog.GOS = GosContext.Ruta; })" LoadingIconColor="Color.Info" CanExpand="@GosContext.EsDirectorio" Text="@GosContext.Nombre" EndTextTypo="@Typo.caption" />
                                            </ItemTemplate>
                                        </MudTreeView>
                                    </MudPaper>
                                }
                                else
                                {
                                    <MudAlert Severity="Severity.Info" Style="text-align: center">@Localizer1["ACGOSDirectory"]</MudAlert>
                                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                }
                            }
                            else
                            {
                                if (folderGOSError)
                                {
                                    <MudAlert Severity="Severity.Warning" Style="text-align: center"> @Localizer["ServerNotResponse"] </MudAlert>
                                }
                            }

                            @if (if_add_CD_GOS)
                            {
                                <MudPaper Elevation="0">
                                    @if (if_add_CD_GOS)
                                    {
                                        <MudIconButton Icon="@Icons.Material.Filled.FolderDelete" Color="Color.Error" OnClick="@(() => AddRemove_CD_GOS())" @ontouchstart="@(() => AddRemove_CD_GOS())" />
                                        <MudChip Icon="@Icons.Material.Filled.Folder" Color="Color.Warning">CommonDirection GOS</MudChip>
                                        <MudIconButton Icon="@Icons.Material.Filled.FormatClear" Color="Color.Warning" OnClick="@(() => DeleteGOSRouteCD())" @ontouchstart="@(() => DeleteGOSRouteCD())" />
                                    }

                                </MudPaper>

                                @if (GOSFolders != null)
                                {
                                    @if (rootNodeGOS.TreeItems.Count > 0)
                                    {
                                        <MudPaper Elevation="0">
                                            <MudTextField Label="@Localizer1["ACLabelGOSSelectCD"]" ReadOnly="true"
                                            @bind-Value="@CodePathDialog.CommonDirectionGOS" For="@(() => @CodePathDialog.CommonDirectionGOS)" />
                                            <MudTreeView ServerData="LoadServerData" Color="Color.Primary" @bind-SelectedValue="@SelectedNodeGOS" Context="GosContext" Items="rootNodeGOS.TreeItems">
                                                <ItemTemplate>
                                                    <MudTreeViewItem Value="@GosContext" @onclick="@(() => { @CodePathDialog.CommonDirectionGOS = GosContext.Ruta; })" LoadingIconColor="Color.Info" CanExpand="@GosContext.EsDirectorio" Text="@GosContext.Nombre" EndTextTypo="@Typo.caption" />
                                                </ItemTemplate>
                                            </MudTreeView>
                                        </MudPaper>
                                    }
                                    else
                                    {
                                        <MudAlert Severity="Severity.Info" Style="text-align: center">@Localizer1["ACGOSDirectory"]</MudAlert>
                                        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                    }
                                }
                                else
                                {
                                    if (folderGOSError)
                                    {
                                        <MudAlert Severity="Severity.Warning" Style="text-align: center"> @Localizer["ServerNotResponse"] </MudAlert>
                                    }
                                }
                            }
                        </MudCardContent>
                    </MudCard>


                </MudCardContent>
            </MudCard>

        </MudItem>

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseProductModal" Disabled="EnableUpdate" Variant="Variant.Filled">@Localizer1["save"]</MudButton>
    </DialogActions>
</MudDialog>


<MudDialog @bind-IsVisible="CreatePathCodeModalDisplay" Options="dialogOptionsOutClose">
    <DialogContent>

        <MudItem Style="max-height: 75vh; min-height: 70vh; min-width: 90vw; overflow-y: scroll;" Class="gap-4">


            <MudCard Elevation="3" Outlined="true">

                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudCard>
                            <MudCardContent Style="justify-content:center">
                                <MudText Align="Align.Center"><MudIcon Icon="@Icons.Material.Filled.DirectionsCar"></MudIcon></MudText>
                                @if (IndexProd != -1)
                                {
                                    <MudText Align="Align.Center">@_product.Code</MudText>
                                }
                                else
                                {
                                    <MudAlert Severity="Severity.Info">
                                        @Localizer["selectAProduct"]
                                    </MudAlert>
                                }

                                <MudSelect T="int" Label=@Localizer["product"] Variant="Variant.Text" Class="mt-3 mr-4 h5" AnchorOrigin="Origin.BottomCenter" @bind-Value="@IndexProd" For="@(() => IndexProd)" SelectedValuesChanged="UpdateProduct">
                                    <MudSelectItem Value="-1">@Localizer["selectAProduct"]</MudSelectItem>

                                    @for (var i = 0; i < _products.Count; i++)
                                    {
                                        var type = _products[i];
                                        <MudSelectItem Value="i">@($"{type.Description}")</MudSelectItem>
                                    }
                                </MudSelect>
                                @if (_product.IsActive == true && IndexProd != -1)
                                {
                                    <MudText Align="Align.Center" Class="pt-2">
                                        <MudChip Variant="Variant.Text" Color="Color.Success">@Localizer["active"]</MudChip>
                                    </MudText>
                                }
                                else if (IndexProd != -1)
                                {
                                    <MudText Align="Align.Center" Class="pa-4">
                                        <MudChip Variant="Variant.Text" Color="Color.Error">@Localizer["inactive"]</MudChip>
                                    </MudText>
                                }
                            </MudCardContent>
                        </MudCard>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudTextField Typo="Typo.body1" Label="Type New Code" @bind-Value="@CodePathDialog.Code"></MudTextField>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudMenu EndIcon="@Icons.Material.Filled.Settings" Label="Options" Color="Color.Info" AnchorOrigin="Origin.BottomCenter">
                            @if (!if_add_CD_HOE)
                            {
                                <MudMenuItem Icon="@Icons.Material.Filled.CreateNewFolder" @onclick="(() => AddRemove_CD_HOE())" @ontouchstart="(() => AddRemove_CD_HOE())">
                                    Add Common Direction HOE
                                </MudMenuItem>
                            }
                            @if (!if_add_CD_CCP)
                            {
                                <MudMenuItem Icon="@Icons.Material.Filled.CreateNewFolder" @onclick="(() => AddRemove_CD_CCP())" @ontouchstart="(() => AddRemove_CD_CCP())">
                                    Add Common Direction CCP
                                </MudMenuItem>
                            }
                            @if (!if_add_CD_GOS)
                            {
                                <MudMenuItem Icon="@Icons.Material.Filled.CreateNewFolder" @onclick="(() => AddRemove_CD_GOS())" @ontouchstart="(() => AddRemove_CD_GOS())">
                                    Add Common Direction GOS
                                </MudMenuItem>
                            }
                        </MudMenu>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent Style="min-width: 70vw;    max-height: 65vh;    min-height: 60vh; overflow-y: scroll; display: flex; flex-wrap: wrap;" Class="gap-4">

                    <MudCard Elevation="1" Class="mr-5" Style="min-width: 350px; flex: 0 0 calc(28% - 1rem);">
                        <MudCardHeader>
                            <CardHeaderActions>
                                <MudChip Icon="@Icons.Material.Filled.FolderOpen" Color="Color.Info" Variant="Variant.Outlined">HOE</MudChip>
                                <MudIconButton Icon="@Icons.Material.Filled.FormatClear" Color="Color.Error" OnClick="@(() => DeleteHOERoute())" />
                            </CardHeaderActions>

                        </MudCardHeader>
                        <MudCardContent>

                            @if (HOEFolders != null)
                            {
                                @if (rootNodeHOE.TreeItems.Count > 0)
                                {
                                    <MudPaper Elevation="0">

                                        <MudTextField Label="@Localizer1["ACLabelHOESelect"]" ReadOnly="true" Value="@Regex.Replace(CodePathDialog.HOE, @"/(.*?)§", "/").Replace('§', ' ')" />

                                        <MudTreeView ServerData="LoadServerData" Color="Color.Primary" @bind-SelectedValue="@SelectedNodeHOE" @bind-Value="@CodePathDialog.CommonDirectionHOE" Context="OtherContext" Items="rootNodeHOE.TreeItems">
                                            <ItemTemplate>
                                                <MudTreeViewItem Value="@OtherContext" @onclick="@(() => { @CodePathDialog.HOE = OtherContext.Ruta; })" LoadingIconColor="Color.Info" CanExpand="@OtherContext.EsDirectorio" Text="@OtherContext.Nombre.Split('§').Last()" EndTextTypo="@Typo.caption" />
                                            </ItemTemplate>
                                        </MudTreeView>
                                    </MudPaper>
                                }
                                else
                                {
                                    <MudAlert Severity="Severity.Info" Style="text-align: center">@Localizer1["ACHOEDirectory"]</MudAlert>
                                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                }

                            }
                            else
                            {
                                if (folderHOEError)
                                {
                                    <MudAlert Severity="Severity.Warning" Style="text-align: center"> @Localizer1["ServerNotResponse"] </MudAlert>
                                }
                            }

                            @if (if_add_CD_HOE)
                            {
                                <MudPaper Elevation="0">
                                    @if (if_add_CD_HOE)
                                    {

                                        <MudIconButton Icon="@Icons.Material.Filled.FolderDelete" Color="Color.Error" OnClick="@(() => AddRemove_CD_HOE())" @ontouchstart="@(() => AddRemove_CD_HOE())" />
                                        <MudChip Icon="@Icons.Material.Filled.Folder" Color="Color.Warning">CommonDirection HOE</MudChip>
                                        <MudIconButton Icon="@Icons.Material.Filled.FormatClear" Color="Color.Warning" OnClick="@(() => DeleteHOERouteCD())" @ontouchstart="@(() => DeleteHOERouteCD())" />

                                    }

                                </MudPaper>
                                @if (HOEFolders != null)
                                {
                                    @if (rootNodeHOE.TreeItems.Count > 0)
                                    {
                                        <MudPaper Elevation="0">

                                            <MudTextField Label="@Localizer1["ACLabelHOESelectCD"]" ReadOnly="true" Value="@Regex.Replace(CodePathDialog.CommonDirectionHOE, @"/(.*?)§", "/").Replace('§', ' ')" />

                                            <MudTreeView ServerData="LoadServerData" Color="Color.Primary" @bind-SelectedValue="@SelectedNodeHOE" @bind-Value="@CodePathDialog.CommonDirectionHOE" For="@(() => @CodePathDialog.CommonDirectionHOE)" Context="OtherContext" Items="rootNodeHOE.TreeItems">
                                                <ItemTemplate>
                                                    <MudTreeViewItem Value="@OtherContext" @onclick="@(() => { @CodePathDialog.CommonDirectionHOE = OtherContext.Ruta; })" LoadingIconColor="Color.Info" CanExpand="@OtherContext.EsDirectorio" Text="@OtherContext.Nombre.Split('§').Last()" EndTextTypo="@Typo.caption" />
                                                </ItemTemplate>
                                            </MudTreeView>
                                        </MudPaper>
                                    }
                                    else
                                    {
                                        <MudAlert Severity="Severity.Info" Style="text-align: center">@Localizer1["ACHOEDirectory"]</MudAlert>
                                        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                    }

                                }
                                else
                                {
                                    if (folderHOEError)
                                    {
                                        <MudAlert Severity="Severity.Warning" Style="text-align: center"> @Localizer1["ServerNotResponse"] </MudAlert>
                                    }
                                }


                            }
                        </MudCardContent>
                    </MudCard>



                    <MudCard Elevation="1" Class="mr-5" Style="min-width: 350px; flex: 0 0 calc(28% - 1rem);">
                        <MudCardHeader>
                            <CardHeaderActions>
                                <MudChip Icon="@Icons.Material.Filled.Folder" Color="Color.Warning">CCP</MudChip>
                                <MudIconButton Icon="@Icons.Material.Filled.FormatClear" Color="Color.Error" OnClick="@(() => DeleteCCPRoute())" />

                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudCardContent>

                            @if (CCPFolders != null)
                            {
                                @if (rootNodeCCP.TreeItems.Count > 0)
                                {
                                    <MudPaper Elevation="0">
                                        <MudTextField Label="@Localizer1["ACLabelCCPSelect"]" ReadOnly="true"
                                        @bind-Value="@CodePathDialog.CCP" For="@(() => @CodePathDialog.CCP)" />
                                        <MudTreeView ServerData="LoadServerData" Color="Color.Primary" @bind-SelectedValue="@SelectedNodeCCP" Context="CCPContext" Items="rootNodeCCP.TreeItems">
                                            <ItemTemplate>
                                                <MudTreeViewItem Value="@CCPContext" @onclick="@(() => { @CodePathDialog.CCP = CCPContext.Ruta; })" LoadingIconColor="Color.Info" CanExpand="@CCPContext.EsDirectorio" Text="@CCPContext.Nombre" EndTextTypo="@Typo.caption" />
                                            </ItemTemplate>
                                        </MudTreeView>
                                    </MudPaper>
                                }
                                else
                                {
                                    <MudAlert Severity="Severity.Info" Style="text-align: center">@Localizer1["ACCCPDirectory"]</MudAlert>
                                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                }
                            }
                            else
                            {
                                if (folderCCPError)
                                {
                                    <MudAlert Severity="Severity.Warning" Style="text-align: center"> @Localizer["ServerNotResponse"] </MudAlert>
                                }
                            }

                            @if (if_add_CD_CCP)
                            {
                                <MudPaper Elevation="1">
                                    @if (if_add_CD_CCP)
                                    {
                                        <MudIconButton Icon="@Icons.Material.Filled.FolderDelete" Color="Color.Error" OnClick="@(() => AddRemove_CD_CCP())" @ontouchstart="@(() => AddRemove_CD_CCP())" />
                                        <MudChip Icon="@Icons.Material.Filled.Folder" Color="Color.Warning">CommonDirection CCP</MudChip>
                                        <MudIconButton Icon="@Icons.Material.Filled.FormatClear" Color="Color.Warning" OnClick="@(() => DeleteCCPRouteCD())" @ontouchstart="@(() => DeleteCCPRouteCD())" />
                                    }

                                </MudPaper>

                                @if (CCPFolders != null)
                                {
                                    @if (rootNodeCCP.TreeItems.Count > 0)
                                    {
                                        <MudPaper Elevation="0">
                                            <MudTextField Label="@Localizer1["ACLabelCCPSelect"]" ReadOnly="true"
                                            @bind-Value="@CodePathDialog.CommonDirectionCCP" For="@(() => @CodePathDialog.CommonDirectionCCP)" />
                                            <MudTreeView ServerData="LoadServerData" Color="Color.Primary" @bind-SelectedValue="@SelectedNodeCCP" Context="CCPContext" Items="rootNodeCCP.TreeItems">
                                                <ItemTemplate>
                                                    <MudTreeViewItem Value="@CCPContext" @onclick="@(() => { @CodePathDialog.CommonDirectionCCP = CCPContext.Ruta; })" LoadingIconColor="Color.Info" CanExpand="@CCPContext.EsDirectorio" Text="@CCPContext.Nombre" EndTextTypo="@Typo.caption" />
                                                </ItemTemplate>
                                            </MudTreeView>
                                        </MudPaper>
                                    }
                                    else
                                    {
                                        <MudAlert Severity="Severity.Info" Style="text-align: center">@Localizer1["ACCCPDirectory"]</MudAlert>
                                        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                    }
                                }
                                else
                                {
                                    if (folderCCPError)
                                    {
                                        <MudAlert Severity="Severity.Warning" Style="text-align: center"> @Localizer["ServerNotResponse"] </MudAlert>
                                    }
                                }
                            }


                        </MudCardContent>
                    </MudCard>

                    <MudCard Elevation="1" Class="mr-5" Style="min-width: 350px; flex: 0 0 calc(28% - 1rem);">
                        <MudCardHeader>
                            <CardHeaderActions>
                                <MudChip Icon="@Icons.Material.Filled.Folder" Color="Color.Warning"> GOS</MudChip>
                                <MudIconButton Icon="@Icons.Material.Filled.FormatClear" Color="Color.Warning" OnClick="@(() => DeleteGOSRoute())" />
                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudCardContent>
                            @if (GOSFolders != null)
                            {
                                @if (rootNodeGOS.TreeItems.Count > 0)
                                {
                                    <MudPaper Elevation="0">
                                        <MudTextField Label="@Localizer1["ACLabelGOSSelect"]" ReadOnly="true"
                                        @bind-Value="@CodePathDialog.GOS" For="@(() => @CodePathDialog.GOS)" />
                                        <MudTreeView ServerData="LoadServerData" Color="Color.Primary" @bind-SelectedValue="@SelectedNodeGOS" Context="GosContext" Items="rootNodeGOS.TreeItems">
                                            <ItemTemplate>
                                                <MudTreeViewItem Value="@GosContext" @onclick="@(() => { @CodePathDialog.GOS = GosContext.Ruta; })" LoadingIconColor="Color.Info" CanExpand="@GosContext.EsDirectorio" Text="@GosContext.Nombre" EndTextTypo="@Typo.caption" />
                                            </ItemTemplate>
                                        </MudTreeView>
                                    </MudPaper>
                                }
                                else
                                {
                                    <MudAlert Severity="Severity.Info" Style="text-align: center">@Localizer1["ACGOSDirectory"]</MudAlert>
                                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                }
                            }
                            else
                            {
                                if (folderGOSError)
                                {
                                    <MudAlert Severity="Severity.Warning" Style="text-align: center"> @Localizer["ServerNotResponse"] </MudAlert>
                                }
                            }

                            @if (if_add_CD_GOS)
                            {
                                <MudPaper Elevation="0">
                                    @if (if_add_CD_GOS)
                                    {
                                        <MudIconButton Icon="@Icons.Material.Filled.FolderDelete" Color="Color.Error" OnClick="@(() => AddRemove_CD_GOS())" @ontouchstart="@(() => AddRemove_CD_GOS())" />
                                        <MudChip Icon="@Icons.Material.Filled.Folder" Color="Color.Warning">CommonDirection GOS</MudChip>
                                        <MudIconButton Icon="@Icons.Material.Filled.FormatClear" Color="Color.Warning" OnClick="@(() => DeleteGOSRouteCD())" @ontouchstart="@(() => DeleteGOSRouteCD())" />
                                    }

                                </MudPaper>

                                @if (GOSFolders != null)
                                {
                                    @if (rootNodeGOS.TreeItems.Count > 0)
                                    {
                                        <MudPaper Elevation="0">
                                            <MudTextField Label="@Localizer1["ACLabelGOSSelectCD"]" ReadOnly="true"
                                            @bind-Value="@CodePathDialog.CommonDirectionGOS" For="@(() => @CodePathDialog.CommonDirectionGOS)" />
                                            <MudTreeView ServerData="LoadServerData" Color="Color.Primary" @bind-SelectedValue="@SelectedNodeGOS" Context="GosContext" Items="rootNodeGOS.TreeItems">
                                                <ItemTemplate>
                                                    <MudTreeViewItem Value="@GosContext" @onclick="@(() => { @CodePathDialog.CommonDirectionGOS = GosContext.Ruta; })" LoadingIconColor="Color.Info" CanExpand="@GosContext.EsDirectorio" Text="@GosContext.Nombre" EndTextTypo="@Typo.caption" />
                                                </ItemTemplate>
                                            </MudTreeView>
                                        </MudPaper>
                                    }
                                    else
                                    {
                                        <MudAlert Severity="Severity.Info" Style="text-align: center">@Localizer1["ACGOSDirectory"]</MudAlert>
                                        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                    }
                                }
                                else
                                {
                                    if (folderGOSError)
                                    {
                                        <MudAlert Severity="Severity.Warning" Style="text-align: center"> @Localizer["ServerNotResponse"] </MudAlert>
                                    }
                                }
                            }
                        </MudCardContent>
                    </MudCard>


                </MudCardContent>
            </MudCard>

        </MudItem>

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@(() => CreatePathCodeModalDisplay = !(_assychart.RoutesProductsAssyChart.Remove(CodePathDialog)) )"  Variant="Variant.Filled">@Localizer1["Cancel"]</MudButton>
        <MudButton OnClick="@(() => CloseCreateCodePath())"  Variant="Variant.Filled">@Localizer["save"]</MudButton>
    </DialogActions>
</MudDialog>



<MudMessageBox @ref="GOSmbox" Title="@Localizer1["ACNoticeGOS"]">
    <MessageContent>
        @Localizer1["ACProviderPath"] `@CodePathDialog.GOS`  @Localizer1["ACFinalProvider"] <br>
        <b><i>@Localizer1["ACPleaseProvider"]</i></b>
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.CheckCircleOutline">Ok!</MudButton>
    </YesButton>
</MudMessageBox>

<MudMessageBox @ref="HOEmbox" Title="@Localizer1["ACNoticeHOE"]">
    <MessageContent>
        @Localizer1["ACProviderPath"] `@CodePathDialog.HOE.Replace('§', ' ')`   @Localizer1["ACFinalProvider"] <br>
        <b><i>@Localizer1["ACPleaseProvider"]</i></b>
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.CheckCircleOutline">Ok!</MudButton>
    </YesButton>
</MudMessageBox>

<MudMessageBox @ref="CCPmbox" Title="@Localizer1["ACNoticeCCP"]">
    <MessageContent>
        @Localizer1["ACProviderPath" ] `@CodePathDialog.CCP`  @Localizer1["ACFinalProvider"] <br>
        <b><i>@Localizer1["ACPleaseProvider"]</i></b>
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.CheckCircleOutline">Ok!</MudButton>
    </YesButton>
</MudMessageBox>

        <MudMessageBox @ref="CreateCodePathErrormbox" Title="@Localizer1["Notice"]">
    <MessageContent>
        You Need: <br>
        @if(IndexProd == -1){
        <b><i>Select first Product</i></b> 
        }
        @if(IndexProd == -1 && CodePathDialog.Code == ""){
        <b><i> An </i></b>
        }
        @if(CodePathDialog.Code == "")
        {
            
        <b><i>Write a Code</i></b>
        }
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.CheckCircleOutline">Ok!</MudButton>
    </YesButton>
</MudMessageBox>

