@page "/assychart/UploadAssyCharts"
@using SupervisorMobility.Client.Pages.Configuration.AssyChartPage
@inject IFileUploadAndDownloadService FileUpDoServices
@inject IPlantService PlantsServices
@inject IAreaService AreasServices
@inject IDistributionService DistributionsServices
@inject IAssyChartService AssyChartServices
@inject IProductService ProductsServices
@inject IJSRuntime _js
@inject IStringLocalizer<Resource1> Localizer


@*Title*@
<PageTitle>Supervisor Mobility | @Localizer["ACUploadAC"]</PageTitle>
@*Breadcrumb links*@
<MudBreadcrumbs Class="mb-10" Items="_links">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
    </ItemTemplate>
</MudBreadcrumbs>

@if (displayResume)
{
    <MudContainer Class="d-flex flex-column justify-center align-self-center ">
        <MudItem class="d-flex justify-center align-self-center ">
            <MudText Typo="Typo.h2">@Localizer["Resume"]</MudText>
        </MudItem>
        <MudItem>
            <MudCarousel Class="mud-width-full" Style="height:300px;" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">
                <MudCarouselItem Transition="Transition.Fade" Color="@Color.Primary" class="d-flex justify-center align-self-center ">
                    <div style="height:100%" class="d-flex flex-column justify-center align-self-center ">
                        <MudItem class="d-flex justify-center align-self-center ">
                            <MudText Typo="Typo.h5">@Localizer["ACPlantResume"]</MudText>
                        </MudItem>
                        <MudItem class="d-flex">

                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer["ACmsgCreate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.PlantCreate</MudText>
                                </MudChip>
                            </MudBadge>
                            <MudDivider DividerType="DividerType.Inset" />
                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer["ACmsgUpdate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.PlantUpdate</MudText>
                                </MudChip>
                            </MudBadge>
                        </MudItem>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Fade" Color="@Color.Secondary" class="d-flex justify-center align-self-center ">
                    <div style="height:100%" class="d-flex flex-column justify-center align-self-center ">
                        <MudItem class="d-flex justify-center align-self-center ">
                            <MudText Typo="Typo.h5">@Localizer["ACAreaResume"]</MudText>
                        </MudItem>
                        <MudItem class="d-flex">
                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer["ACmsgCreate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.AreasCreated</MudText>
                                </MudChip>
                            </MudBadge>
                            <MudDivider DividerType="DividerType.Inset" />
                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer["ACmsgUpdate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.AreasUpdated</MudText>
                                </MudChip>
                            </MudBadge>
                        </MudItem>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Fade" class="d-flex justify-center align-self-center ">
                    <div style="height:100%" class="d-flex flex-column justify-center align-self-center ">
                        <MudItem class="d-flex justify-center align-self-center ">
                            <MudText Typo="Typo.h5">@Localizer["ACDistributionResume"]</MudText>
                        </MudItem>
                        <MudItem class="d-flex">

                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer["ACmsgCreate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.DistributionCreated</MudText>
                                </MudChip>
                            </MudBadge>
                            <MudDivider DividerType="DividerType.Inset" />
                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer["ACmsgUpdate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.DistributionUpdated</MudText>
                                </MudChip>
                            </MudBadge>
                        </MudItem>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Fade" Color="@Color.Primary" class="d-flex justify-center align-self-center ">
                    <div style="height:100%" class="d-flex flex-column justify-center align-self-center ">
                        <MudItem class="d-flex justify-center align-self-center ">
                            <MudText Typo="Typo.h5">@Localizer["ACOperationResumen"]</MudText>
                        </MudItem>
                        <MudItem class="d-flex">

                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer["ACmsgCreate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.OperationCreated</MudText>
                                </MudChip>
                            </MudBadge>
                            <MudDivider DividerType="DividerType.Inset" />
                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer["ACmsgUpdate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.OperationUpdated</MudText>
                                </MudChip>
                            </MudBadge>
                        </MudItem>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Fade" Color="@Color.Secondary" class="d-flex justify-center align-self-center ">
                    <div style="height:100%" class="d-flex flex-column justify-center align-self-center ">
                        <MudItem class="d-flex justify-center align-self-center ">
                            <MudText Typo="Typo.h5">@Localizer["ACProductResume"]</MudText>
                        </MudItem>
                        <MudItem class="d-flex">
                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer["ACmsgCreate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.ProductCreated</MudText>
                                </MudChip>
                            </MudBadge>
                            <MudDivider DividerType="DividerType.Inset" />
                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer["ACmsgUpdate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.ProductUpdated</MudText>
                                </MudChip>
                            </MudBadge>
                        </MudItem>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Fade" class="d-flex justify-center align-self-center ">
                    <div style="height:100%" class="d-flex flex-column justify-center align-self-center ">
                        <MudItem class="d-flex justify-center align-self-center ">
                            <MudText Typo="Typo.h5">@Localizer["ACACResume"]</MudText>
                        </MudItem>
                        <MudItem class="d-flex">

                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer["ACmsgCreate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.AssyChartCreated</MudText>
                                </MudChip>
                            </MudBadge>
                            <MudDivider DividerType="DividerType.Inset" />
                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer["ACmsgResume"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.AssyChartUpdated</MudText>
                                </MudChip>
                            </MudBadge>
                        </MudItem>
                    </div>
                </MudCarouselItem>
            </MudCarousel>
        </MudItem>
    </MudContainer>
}


<MudContainer Fixed="true" Class="py-3">
    <MudGrid>
        <MudItem xs="2" xl="2" class="align-center justify-center mud-width-full">
            <MudImage Src="Images/uploadcloud.png" Alt="Imagen Upload Clou" Height="120" Width="120"></MudImage>
            <MudButton OnClick="DownloadAssyChartFormat"
                       Target="_blank"
                       Variant="Variant.Outlined"
                       EndIcon="@Icons.Material.Filled.FileDownload"
                       Color="Color.Primary" FullWidth="true">
                <b>@Localizer["ACFormat"]</b>
            </MudButton>
        </MudItem>
        <MudItem id="Upload" xs="10" xl="10" class="d-flex flex-column">
            <MudItem Class="d-flex flex-row align-center justify-center mud-width-full">

                <MudSpacer />
                <MudText Typo="Typo.h6">@Localizer["ACTitle"]</MudText>
                <MudSpacer />

            </MudItem>
            <MudItem Class="d-flex flex-column align-center justify-center">
                @*File Upload*@
                <MudItem Class="d-flex flex-row align-center justify-center mud-width-full">
                    <InputFile id="input" OnChange="@OnChange" hidden single></InputFile>

                    <MudText Typo="Typo.h6" Color="Color.Info" Class="py-5">@ErrorMessageToDisplay </MudText>

                </MudItem>
                <MudItem Class="d-flex flex-row align-center justify-center mud-width-full">
                    <MudTextField Class="flex-initial d-flex flex-grow-1 px-9" Width="60%" @bind-Value="@FileName" Label="File Name" Variant="Variant.Outlined" Disabled="true" />
                    <MudButton Class="flex-initial d-flex flex-grow-0 px-9 py-2" Width="20%"
                               HtmlTag="label"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.CloudUpload"
                               for="input">
                        @Localizer["ACUploadFiles"]
                    </MudButton>
                </MudItem>
            </MudItem>
        </MudItem>
    </MudGrid>
</MudContainer>

<MudExpansionPanels>
    <MudExpansionPanel Text="Show event log">
        @foreach (var message in List_Events)
        {
            <MudText>@message.Mensaje</MudText>
        }
       
    </MudExpansionPanel>
</MudExpansionPanels>

<MudContainer Fixed="true" Class="py-10">
    <MudGrid>
        <MudItem>
            @if (showTable)
            {
                <MudTable Items="@_assycharts" T="AssyChart" HorizontalScrollbar="true" ReadOnly="true">
                    <ToolBarContent>
                        <MudSpacer />
                        <MudText Typo="Typo.h6">@Localizer["ACACResume"]</MudText>
                        <MudSpacer />
                        <MudButton @onclick="(() => UploadFunction())" Disabled="@activeUpload">
                            <MudText>@Localizer["ACUpload"]</MudText>
                            <MudIcon Icon="@Icons.Material.Filled.UploadFile" aria-label="Upload" Color="Color.Primary"></MudIcon>
                        </MudButton>
                        <MudSpacer />
                        <MudButton @onclick="(() => CancelFunction())">
                            <MudText>@Localizer["ACCancelUpload"]</MudText>
                            <MudIcon Icon="@Icons.Material.Filled.Cancel" aria-label="Cancel" Color="Color.Warning"></MudIcon>
                        </MudButton>
                        <MudSpacer />
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>@Localizer["ACPlant"]</MudTh>
                        <MudTh>@Localizer["ACArea"]</MudTh>
                        <MudTh>@Localizer["ACDistribution"]</MudTh>
                          <MudTh>@Localizer["Paths"]</MudTh>
                    @* <MudTh>@Localizer["ACCCP"]</MudTh>*@
                        @*<MudTh>@Localizer["ACHOE"]</MudTh>*@
                        @*<MudTh>@Localizer["ACOperation"]</MudTh>*@
                        @*<MudTh>@Localizer["ACModel"]</MudTh>*@
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Plant">
                            <MudText Align="Align.Center">@context.Plant?.Description</MudText>
                        </MudTd>
                        <MudTd DataLabel="Area">
                            <MudText Align="Align.Center">@context.Area?.Description</MudText>
                        </MudTd>
                        <MudTd DataLabel="Distribution ">
                            <MudText Align="Align.Center">@context.Distribution?.Description</MudText>
                        </MudTd>
                        <MudTd DataLabel="Rutas">
                            <MudText Align="Align.Center">@context.Distribution?.Description</MudText>
                        </MudTd>
                        
                        <MudTd DataLabel="Paths">
                            <MudText Align="Align.Center">Paths</MudText>
                        </MudTd> 
                       @* <MudTd DataLabel="CCP">
                            <MudText Align="Align.Center">@context.CCP</MudText>
                        </MudTd> <MudTd DataLabel="HOE">
                            <MudText Align="Align.Center">@context.HOE</MudText>
                        </MudTd>
                        <MudTd DataLabel="Operation">
                            <MudText Align="Align.Center">@context.Operation?.Description</MudText>
                        </MudTd>
                        <MudTd DataLabel="Product">
                            <MudText Align="Align.Center">@context.Product?.Description</MudText>
                        </MudTd>*@
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
            }
        </MudItem>
    </MudGrid>
</MudContainer>
<MudSpacer></MudSpacer>


