@page "/assychart/UploadAssyCharts"
@using SupervisorMobility.Client.Pages.Configuration.AssyChartPage
@inject IFileUploadAndDownloadService FileUpDoServices
@inject IPlantService PlantsServices
@inject IAreaService AreasServices
@inject IDistributionService DistributionsServices
@inject IAssyChartService AssyChartServices
@inject IProductService ProductsServices
@inject IJSRuntime _js
@inject IStringLocalizer<Resource> Localizer
@inject IStringLocalizer<Resource1> Localizer1



@*Title*@
<PageTitle>Supervisor Mobility | @Localizer1["ACUploadAC"]</PageTitle>
@*Breadcrumb links*@
<MudBreadcrumbs Class="mb-10" Items="_links">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
    </ItemTemplate>
</MudBreadcrumbs>

@if (displayResume)
{
    <MudContainer Class="d-flex flex-column justify-center align-self-center ">
        <MudItem class="d-flex justify-center align-self-center ">
            <MudText Typo="Typo.h2">@Localizer1["Resume"]</MudText>
        </MudItem>
        <MudItem>
            <MudCarousel Class="mud-width-full" Style="height:300px;" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">
                <MudCarouselItem Transition="Transition.Fade" Color="@Color.Primary" class="d-flex justify-center align-self-center ">
                    <div style="height:100%" class="d-flex flex-column justify-center align-self-center ">
                        <MudItem class="d-flex justify-center align-self-center ">
                            <MudText Typo="Typo.h5">@Localizer1["ACPlantResume"]</MudText>
                        </MudItem>
                        <MudItem class="d-flex">

                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer1["ACmsgCreate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.PlantCreate</MudText>
                                </MudChip>
                            </MudBadge>
                            <MudDivider DividerType="DividerType.Inset" />
                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer1["ACmsgUpdate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.PlantUpdate</MudText>
                                </MudChip>
                            </MudBadge>
                        </MudItem>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Fade" Color="@Color.Secondary" class="d-flex justify-center align-self-center ">
                    <div style="height:100%" class="d-flex flex-column justify-center align-self-center ">
                        <MudItem class="d-flex justify-center align-self-center ">
                            <MudText Typo="Typo.h5">@Localizer1["ACAreaResume"]</MudText>
                        </MudItem>
                        <MudItem class="d-flex">
                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer1["ACmsgCreate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.AreasCreated</MudText>
                                </MudChip>
                            </MudBadge>
                            <MudDivider DividerType="DividerType.Inset" />
                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer1["ACmsgUpdate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.AreasUpdated</MudText>
                                </MudChip>
                            </MudBadge>
                        </MudItem>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Fade" class="d-flex justify-center align-self-center ">
                    <div style="height:100%" class="d-flex flex-column justify-center align-self-center ">
                        <MudItem class="d-flex justify-center align-self-center ">
                            <MudText Typo="Typo.h5">@Localizer1["ACDistributionResume"]</MudText>
                        </MudItem>
                        <MudItem class="d-flex">

                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer1["ACmsgCreate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.DistributionCreated</MudText>
                                </MudChip>
                            </MudBadge>
                            <MudDivider DividerType="DividerType.Inset" />
                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer1["ACmsgUpdate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.DistributionUpdated</MudText>
                                </MudChip>
                            </MudBadge>
                        </MudItem>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Fade" Color="@Color.Primary" class="d-flex justify-center align-self-center ">
                    <div style="height:100%" class="d-flex flex-column justify-center align-self-center ">
                        <MudItem class="d-flex justify-center align-self-center ">
                            <MudText Typo="Typo.h5">@Localizer1["ACOperationResumen"]</MudText>
                        </MudItem>
                        <MudItem class="d-flex">

                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer1["ACmsgCreate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.OperationCreated</MudText>
                                </MudChip>
                            </MudBadge>
                            <MudDivider DividerType="DividerType.Inset" />
                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer1["ACmsgUpdate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.OperationUpdated</MudText>
                                </MudChip>
                            </MudBadge>
                        </MudItem>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Fade" Color="@Color.Secondary" class="d-flex justify-center align-self-center ">
                    <div style="height:100%" class="d-flex flex-column justify-center align-self-center ">
                        <MudItem class="d-flex justify-center align-self-center ">
                            <MudText Typo="Typo.h5">@Localizer1["ACProductResume"]</MudText>
                        </MudItem>
                        <MudItem class="d-flex">
                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer1["ACmsgCreate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.ProductCreated</MudText>
                                </MudChip>
                            </MudBadge>
                            <MudDivider DividerType="DividerType.Inset" />
                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer1["ACmsgUpdate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.ProductUpdated</MudText>
                                </MudChip>
                            </MudBadge>
                        </MudItem>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Fade" class="d-flex justify-center align-self-center ">
                    <div style="height:100%" class="d-flex flex-column justify-center align-self-center ">
                        <MudItem class="d-flex justify-center align-self-center ">
                            <MudText Typo="Typo.h5">@Localizer1["ACACResume"]</MudText>
                        </MudItem>
                        <MudItem class="d-flex">

                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer1["ACmsgCreate"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.AssyChartCreated</MudText>
                                </MudChip>
                            </MudBadge>
                            <MudDivider DividerType="DividerType.Inset" />
                            <MudBadge Dot="true" Color="Color.Error" Overlap="true" Bordered="true" Class="mx-6 my-4">
                                <MudChip Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="Color.Primary">
                                    <MudText>@Localizer1["ACmsgResume"]</MudText>
                                    <MudDivider DividerType="DividerType.Inset" />
                                    <MudText>@retornedResult_Uploaded.AssyChartUpdated</MudText>
                                </MudChip>
                            </MudBadge>
                        </MudItem>
                    </div>
                </MudCarouselItem>
            </MudCarousel>
        </MudItem>
    </MudContainer>
}

@if (displayLoading && false)
{
    <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudItem class="d-flex flex-column justify-center align-self-center">
                    <MudProgressCircular Color="@_Colors[context.IndexOf(context)]" Style="height:70px;width:70px;" Indeterminate="true" />
                </MudItem>
                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@context</MudText>
            </div>
        </ItemTemplate>
    </MudCarousel>
}
else if(false)
{
    <MudContainer Fixed="true" Class="py-3">
        <MudGrid>
            <MudItem xs="2" xl="2" class="align-center justify-center mud-width-full">
                <MudImage Src="Images/uploadcloud.png" Alt="Imagen Upload Clou" Height="120" Width="120"></MudImage>
                <MudButton OnClick="DownloadAssyChartFormat"
                           Target="_blank"
                           Variant="Variant.Outlined"
                           EndIcon="@Icons.Material.Filled.FileDownload"
                           Color="Color.Primary" FullWidth="true">
                    <b>@Localizer1["ACFormat"]</b>
                </MudButton>
            </MudItem>
            <MudItem id="Upload" xs="10" xl="10" class="d-flex flex-column">
                <MudItem Class="d-flex flex-row align-center justify-center mud-width-full">

                    <MudSpacer />
                    <MudText Typo="Typo.h6">@Localizer1["ACTitle"]</MudText>
                    <MudSpacer />

                </MudItem>
                <MudItem Class="d-flex flex-column align-center justify-center">
                    @*File Upload*@
                    <MudItem Class="d-flex flex-row align-center justify-center mud-width-full">
                        <InputFile id="input" OnChange="@OnChange" hidden single></InputFile>

                        <MudText Typo="Typo.h6" Color="Color.Info" Class="py-5">@ErrorMessageToDisplay </MudText>

                    </MudItem>
                    <MudItem Class="d-flex flex-row align-center justify-center mud-width-full">
                        <MudTextField Class="flex-initial d-flex flex-grow-1 px-9" Width="60%" @bind-Value="@FileName" Label="File Name" Variant="Variant.Outlined" Disabled="true" />
                        <MudButton Class="flex-initial d-flex flex-grow-0 px-9 py-2" Width="20%"
                                   HtmlTag="label"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.CloudUpload"
                                   for="input">
                            @Localizer1["ACUploadFiles"]
                        </MudButton>
                    </MudItem>
                </MudItem>
            </MudItem>
        </MudGrid>
    </MudContainer>
}
else
{
   
<MudItem style="text-align:center">
    <MudText FullWidth="true" Variant="Variant.Text" Color="Color.Info">Site Under Construction</MudText>
    <img src="Images/underConstruction.jpg"  />
</MudItem>
}

<MudContainer Fixed="true" Class="py-10">
    <MudGrid>
        <MudItem>
            @if (showTable)
            {
                <MudTable Items="@_assycharts" T="AssyChart" HorizontalScrollbar="true" ReadOnly="true">
                    <ToolBarContent>
                        <MudSpacer />
                        <MudText Typo="Typo.h6">@Localizer1["ACACResume"]</MudText>
                        <MudSpacer />
                        <MudButton @onclick="(() => UploadFunction())" Disabled="@activeUpload">
                            <MudText>@Localizer1["ACUpload"]</MudText>
                            <MudIcon Icon="@Icons.Material.Filled.UploadFile" aria-label="Upload" Color="Color.Primary"></MudIcon>
                        </MudButton>
                        <MudSpacer />
                        <MudButton @onclick="(() => CancelFunction())">
                            <MudText>@Localizer1["ACCancelUpload"]</MudText>
                            <MudIcon Icon="@Icons.Material.Filled.Cancel" aria-label="Cancel" Color="Color.Warning"></MudIcon>
                        </MudButton>
                        <MudSpacer />
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>@Localizer1["ACPlant"]</MudTh>
                        <MudTh>@Localizer1["ACArea"]</MudTh>
                        <MudTh>@Localizer1["ACDistribution"]</MudTh>
                          <MudTh>@Localizer1["Paths"]</MudTh>
                    @* <MudTh>@Localizer1["ACCCP"]</MudTh>*@
                        @*<MudTh>@Localizer1["ACHOE"]</MudTh>*@
                        @*<MudTh>@Localizer1["ACOperation"]</MudTh>*@
                        @*<MudTh>@Localizer1["ACModel"]</MudTh>*@
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Plant">
                            <MudText Align="Align.Center">@context.Plant?.Description</MudText>
                        </MudTd>
                        <MudTd DataLabel="Area">
                            <MudText Align="Align.Center">@context.Area?.Description</MudText>
                        </MudTd>
                        <MudTd DataLabel="Distribution ">
                            <MudText Align="Align.Center">@context.Distribution?.Description</MudText>
                        </MudTd>
                        <MudTd DataLabel="Rutas">
                            <MudText Align="Align.Center">@context.Distribution?.Description</MudText>
                        </MudTd>
                        
                        <MudTd DataLabel="Paths">
                            <MudText Align="Align.Center">Paths</MudText>
                        </MudTd> 
                       @* <MudTd DataLabel="CCP">
                            <MudText Align="Align.Center">@context.CCP</MudText>
                        </MudTd> <MudTd DataLabel="HOE">
                            <MudText Align="Align.Center">@context.HOE</MudText>
                        </MudTd>
                        <MudTd DataLabel="Operation">
                            <MudText Align="Align.Center">@context.Operation?.Description</MudText>
                        </MudTd>
                        <MudTd DataLabel="Product">
                            <MudText Align="Align.Center">@context.Product?.Description</MudText>
                        </MudTd>*@
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
            }

          
          
            

        </MudItem>
    </MudGrid>
</MudContainer>
<MudSpacer></MudSpacer>




<MudExpansionPanels>
    <MudExpansionPanel Text="Show event log">
        @foreach (var message in List_Events)
        {
            <MudText>@message.Mensaje</MudText>
        }

    </MudExpansionPanel>
</MudExpansionPanels>
