@page "/configurationIS/Checkpoint/Create"
@page "/configurationIS/Checkpoint/Details/{CheckpointId:int}"
@page "/configurationIS/Checkpoint/Update/{CheckpointId:int}"

@inject ICheckPointService _CheckPointServices
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Resource1> Localizer1
@inject IStringLocalizer<Resource> Localizer
@inject ISnackbar Snackbar
@inject IBreadcrumbService BreadcrumbService



@if (ShowLoading)
{
    <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudItem class="d-flex flex-column justify-center align-self-center">
                    <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                </MudItem>
                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
            </div>
        </ItemTemplate>
    </MudCarousel>
}
else
{

    @*Form*@
    <EditForm Model="_Checkpoint" OnValidSubmit="SubmitOperations">
        <DataAnnotationsValidator />
        <MudGrid>
            <MudItem xs="12">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            @switch (pageType)
                            {
                                case PageType.Create:
                                    <MudText Typo="Typo.h6">@Localizer["CheckpointCreate"]</MudText>
                                    break;
                                case PageType.Update:
                                    <MudText Typo="Typo.h6">@Localizer["CheckpointUpdate"]</MudText>
                                    break;
                                case PageType.Details:
                                    <MudText Typo="Typo.h6">@Localizer["CheckpointDetails"]</MudText>
                                    break;
                            }
                        </CardHeaderContent>
                        <CardHeaderActions>
                            @switch (pageType)
                            {
                                case PageType.Details:

                                    <MudChip Variant="Variant.Text" Color="Color.Success" OnClick="() => CheckpointUpdate((int)CheckpointId)" @ontouchstart="() => CheckpointUpdate((int)CheckpointId)">
                                        @Localizer["edit"]
                                        <MudIcon Icon="@Icons.Material.Filled.Edit" Color="Color.Primary"></MudIcon>
                                    </MudChip>
                                    break;
                                case PageType.Create:
                                    <MudChip Variant="Variant.Text" Color="Color.Success">@Localizer["create"]</MudChip>
                                    break;
                                case PageType.Update:
                                    <MudChip Variant="Variant.Text" Color="Color.Success">@Localizer["update"]</MudChip>
                                    break;
                            }
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudTextField Label="@Localizer1["CheckpointTitle"]" ReadOnly="@(pageType == PageType.Details)" @bind-Value="_Checkpoint.CheckpointTitle" For="@(() => _Checkpoint.CheckpointTitle)" />
                        <MudTextField Label="@Localizer1["CheckpointDescription"]" ReadOnly="@(pageType == PageType.Details)" @bind-Value="_Checkpoint.CheckpointDescription" For="@(() => _Checkpoint.CheckpointDescription)" />

            
                        @if (user.UserType == 1)
                        {
                            <MudSwitch Class="mt-3" Label="Is active?" ReadOnly="@(pageType == PageType.Details)" @bind-Checked="_Checkpoint.IsActive" Color="Color.Info" UnCheckedColor="Color.Dark" />
                        }

                        <MudItem>

                            @if (pageType != PageType.Details)
                            {

                                <MudItem Style="display: flex; align-content: space-between; flex-wrap: wrap; justify-content: space-evenly; align-items: center;">

                                    <InputFile id="previousEvidence" OnChange="@( (e) => UploadFiles(e, 1))" hidden multiple accept=".jpg, .jpeg, .gif, .svg, .png"></InputFile>
                                    <MudButton Class="flex-initial d-flex flex-grow-0 px-9 py-2"
                                               HtmlTag="label"
                                               Variant="Variant.Filled"
                                               Color="Color.Primary"
                                               StartIcon="@Icons.Material.Filled.Image"
                                               for="previousEvidence">
                                        Load picture
                                    </MudButton>
                                    @if (CheckpointImages.Count == 0)
                                    {
                                        <MudItem>
                                            <MudButton @onclick="() => OpenCameraDialog(1)" Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.AddAPhoto">
                                                Open Camera
                                            </MudButton>
                                        </MudItem>
                                    }
                                    else if (CheckpointImages.Count > 0)
                                    {
                                        <MudItem>
                                            <MudButton Variant="Variant.Filled" @onclick="() => OpenCameraDialog(1)" StartIcon="@Icons.Material.Filled.AddAPhoto" Color="Color.Info">Add photo</MudButton>
                                        </MudItem>
                                    }
                                </MudItem>
                            }


                            <MudItem Style="display: flex; align-content: space-between; flex-wrap: wrap; justify-content: space-evenly; align-items: center;">
                                @if (CheckpointImages.Count > 0 || tempCapturedImages.Count > 0)
                                {
                                    <div style="display: flex; align-items: center; justify-content: space-between;" class="mt-4">
                                        <MudItem Class="d-flex" Style="flex-direction: row; flex-wrap: wrap; justify-content: flex-start; overflow-y: scroll; max-height:50vh; scroll-behavior: smooth; justify-content: center;">

                                            @foreach (var (image, index) in CheckpointImages.Select((image, index) => (image, index)))
                                            {
                                                <MudItem Class=" mr-8 mb-4">
                                                    <MudItem Style="text-align:end !important; margin-right: -15px; margin-bottom: -7px; cursor:pointer">
                                                        <MudTooltip Text="Delete photo" Color="Color.Error" Placement="Placement.Right" Arrow="true">
                                                            <MudIcon Icon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="() => OpenDeleteDialog(index, true, false)"></MudIcon>
                                                        </MudTooltip>
                                                    </MudItem>
                                                    <MudImage ObjectFit="ObjectFit.Cover" Height="80" Width="130" Src=@image Alt="Evidence" Elevation="25" Class="rounded-lg" Style="cursor:pointer" @onclick="() => OpenEvidenceDialog(index, 0)" />
                                                </MudItem>
                                            }

                                            @foreach (var (image, index) in tempCapturedImages.Select((image, index) => (image, index)))
                                            {
                                                <MudItem Class=" mr-8 mb-4">
                                                    <MudItem Style="text-align:end !important; margin-right: -15px; margin-bottom: -7px; cursor:pointer">
                                                        <MudTooltip Text="Delete photo" Color="Color.Error" Placement="Placement.Right" Arrow="true">
                                                            <MudIcon Icon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="() => OpenDeleteDialog(index, true, true)"></MudIcon>
                                                        </MudTooltip>
                                                    </MudItem>
                                                    <MudImage ObjectFit="ObjectFit.Cover" Height="80" Width="130" Src=@image Alt="Evidence" Elevation="25" Class="rounded-lg" Style="cursor:pointer" @onclick="() => OpenEvidenceDialog(index, 1)" />
                                                </MudItem>
                                            }
                                        </MudItem>

                                    </div>
                                }


                            </MudItem>
                        </MudItem>

                    </MudCardContent>
                    <MudCardActions>
                        @if (pageType != PageType.Details)
                        {
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto">@(pageType == PageType.Create ? Localizer["create"] : Localizer["save"])</MudButton>
                        }
                        <MudButton Href="/configurationIS/Checkpoints" Variant="Variant.Filled" Class="ml-4">@Localizer["Cancel"]</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudGrid>
    </EditForm>
}




@*Camera Modal*@
<MudDialog DisableSidePadding="false" @bind-IsVisible="visibleCamera" Options="dialogCameraOptions">
    <TitleContent>
        <MudItem>
            <MudText Typo="Typo.h6" Style="text-align:center">Kaizen Evidence</MudText>
        </MudItem>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 85vh; overflow-y: scroll text-align:center; justify-content: center; align-items:center;">
            <MudPaper Elevation="0">
                <CameraStreamer @ref=CameraStreamerReference
                                Width=1280
                                Height=720
                                OnRendered=OnRenderedHandler
                                OnFrame=OnFrameHandler
                                Style="max-height: 70vh; width: 100%; border-radius: 10px"
                                Class="mud-elevation-4 rounded white"
                                CameraID=@cameraId
                                Autostart />
                <MudItem style="text-align: center">
                    @if (frameCount > 0)
                    {
                        <MudButton @onclick=GetCurrentFrame Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.LinkedCamera" Color="Color.Info" Class="mt-2 mb-4">
                            Take photo
                        </MudButton>
                    }
                    else
                    {
                        <MudButton StartIcon="@Icons.Material.Filled.LinkedCamera" Color="Color.Info" Class="mt-2 mb-4" Disabled>
                            Take photo
                        </MudButton>
                    }
                </MudItem>
            </MudPaper>
        </MudContainer>
    </DialogContent>
</MudDialog>


@*Evidence Modal*@
<MudDialog DisableSidePadding="false" @bind-IsVisible="visibleEvidence" Options="dialogEvidenceOptions">
    <DialogContent>
        <MudTabs @bind-ActivePanelIndex="selectedEvidence" Outlined="true" Rounded="true" Border="true" TabPanelHeaderPosition="TabHeaderPosition.Before"
                 ApplyEffectsToContainer="true" PanelClass="px-6" Style="max-height: 85vh; min-height: 70vh; width: 100%;">
            <MudTabPanel @onclick="(() => photoIndex = 0)">
                <TabContent>
                    <MudChip Icon="@Icons.Material.Filled.Folder" Style="display: flex;" Color="Color.Info">Previous Sketches</MudChip>
                </TabContent>
                <ChildContent>
                    <MudPaper Elevation="0">
                        @if (CheckpointImages.Count() > 0)
                        {
                            <MudCarousel Class="mud-width-full" Style="height: 75vh" ShowArrows=true ShowBullets=true EnableSwipeGesture=true AutoCycle="false" TData="object" @bind-SelectedIndex=@photoIndex>
                                <PreviousButtonTemplate>
                                    <MudAvatar Color="Color.Dark" Variant="Variant.Filled" Class="ml-4" Style="cursor:pointer">
                                        <MudIcon Icon="@Icons.Material.Filled.NavigateBefore" />
                                    </MudAvatar>
                                </PreviousButtonTemplate>
                                <NextButtonTemplate>
                                    <MudAvatar Color="Color.Dark" Variant="Variant.Filled" Class="mr-4" Style="cursor:pointer">
                                        <MudIcon Icon="@Icons.Material.Filled.NavigateNext" />
                                    </MudAvatar>
                                </NextButtonTemplate>
                                <ChildContent>
                                    @foreach (var evidence in CheckpointImages)
                                    {
                                        <MudCarouselItem Transition="Transition.Fade">
                                            <MudImage ObjectFit="ObjectFit.Cover" Height="720" Width="1280" Src=@evidence Alt="Evidence" Elevation="25" Class="rounded-lg" Style="max-height: 66vh; width: 100%; border-radius: 10px; margin-bottom:24px;" />
                                        </MudCarouselItem>
                                    }
                                </ChildContent>
                            </MudCarousel>
                        }
                        else
                        {
                            <MudItem Style="height: 75vh">
                                <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                                    @Localizer["there is sketches:)"]
                                </MudAlert>
                            </MudItem>
                        }
                    </MudPaper>
                </ChildContent>
            </MudTabPanel>
            @if (pageType != PageType.Create)
            {
                <MudTabPanel @onclick="(() => photoIndex = 0)">
                    <TabContent>
                        <MudChip Icon="@Icons.Material.Filled.Folder" Style="display: flex;" Color="Color.Info">Just added prev.</MudChip>
                    </TabContent>
                    <ChildContent>
                        <MudPaper Elevation="0">
                            @if (tempCapturedImages.Count() > 0)
                            {
                                <MudCarousel Class="mud-width-full" Style="height: 75vh" ShowArrows=true ShowBullets=true EnableSwipeGesture=true AutoCycle="false" TData="object" @bind-SelectedIndex=@photoIndex>
                                    <PreviousButtonTemplate>
                                        <MudAvatar Color="Color.Dark" Variant="Variant.Filled" Class="ml-4" Style="cursor:pointer">
                                            <MudIcon Icon="@Icons.Material.Filled.NavigateBefore" />
                                        </MudAvatar>
                                    </PreviousButtonTemplate>
                                    <NextButtonTemplate>
                                        <MudAvatar Color="Color.Dark" Variant="Variant.Filled" Class="mr-4" Style="cursor:pointer">
                                            <MudIcon Icon="@Icons.Material.Filled.NavigateNext" />
                                        </MudAvatar>
                                    </NextButtonTemplate>
                                    <ChildContent>
                                        @foreach (var evidence in tempCapturedImages)
                                        {
                                            <MudCarouselItem Transition="Transition.Fade">
                                                <MudImage ObjectFit="ObjectFit.Cover" Height="720" Width="1280" Src=@evidence Alt="Evidence" Elevation="25" Class="rounded-lg" Style="max-height: 66vh; width: 100%; border-radius: 10px; margin-bottom:24px;" />
                                            </MudCarouselItem>
                                        }
                                    </ChildContent>
                                </MudCarousel>
                            }
                            else
                            {
                                <MudItem Style="height: 75vh">
                                    <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                                        @Localizer["there is no sketches:)"]
                                    </MudAlert>
                                </MudItem>
                            }
                        </MudPaper>
                    </ChildContent>
                </MudTabPanel>
            }
        </MudTabs>
    </DialogContent>

</MudDialog>

<MudDialog @bind-IsVisible="visibleDelete" Options="dialogDeleteOptions">
    <DialogContent>
        <MudText Typo="Typo.h6">@Localizer["confirm"]</MudText>
        <MudText Class="mt-4 mb-4">
            <span style="color: #2196f3; text-align:justify">@user.Name</span>,
            @Localizer["Are you sure you want to delete this Image?"]
        </MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseDeleteModal" Variant="Variant.Filled">@Localizer["cancel"]</MudButton>
        <MudButton @onclick="(() => RemoveImage())" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" Variant="Variant.Filled">@Localizer["delete"]</MudButton>
    </DialogActions>
</MudDialog>
