@using static SupervisorMobility.Client.Pages.Inicio.SOSProgramPage.SOS_Details
@using System.Text.RegularExpressions;


@inject IStringLocalizer<Resource> Localizer
@inject IStringLocalizer<Resource1> Localizer1


@{
    int totalDiasLaburables = ObtenerDiasLaburables();
    int totalColumnas = ObtenerDiasLaburables() + 7;
}
<div class="table-container">
    <div class="scrollable-columns">
        <MudSimpleTable Class="mb-5 calendar-table rounded" Dense FixedHeader Style="overflow-x: auto; height: 75vh">
            <thead class="thead">
                <tr>
                    <th rowspan="2" class="fixed-column dynamic-left" style="width: 150px; max-width: 180px;">
                        @Localizer["HOEName"]
                    </th>
                    <th rowspan="2" class="fixed-column dynamic-left">
                        @Localizer["whoReviews"]
                    </th>
                    <th rowspan="2">
                        @Localizer["directories"]
                    </th>
                    <th rowspan="2" class="vertical-text fixed-column dynamic-left">
                        <span style="font-size: 10px">
                            @Localizer["scheduling"]
                        </span>
                    </th>
                    @for (var i = 1; i <= daysInMonth; i++)
                    {
                        DateTime fechaActual = new DateTime(_yearMonth.Value.Year, _yearMonth.Value.Month, i);
                        // Verificar si el día actual no es sábado ni domingo
                        if (fechaActual.DayOfWeek != DayOfWeek.Saturday && fechaActual.DayOfWeek != DayOfWeek.Sunday)
                        {
                            <th style="text-align: center;" rowspan="2">
                                <div style="position: sticky; top: 0; z-index: 1;">
                                    @i
                                </div>
                            </th>
                        }
                    }
                    <th colspan="3" rowspan="2">
                        @Localizer["notes"]
                    </th>
                </tr>
            </thead>
            <tbody style="width: 100%;">
                @foreach (Distribution Distribution_Item in Dist_Manager.Where(item => item.isSelected).Select(item => item.distribution))
                {
                    int dist_Id = Distribution_Item.DistributionId;
                    var rowTotal = Distribution_Item.Operations.Count() != 0 ? Distribution_Item.Operations.Count() * 2 + 1 : 2;
                    var rowT = rowTotal - 2;
                    var _ = OperationsInDistributionCount.TryGetValue(Distribution_Item.DistributionId, out SosJobCount opInDist);

                    @if (Distribution_Item.ShowDetails)
                    {
                        <MudTr Class="fixed-row">
                            <MudTd colspan="@(rowT)" DataLabel="Distribution" OnTouch="@(() => ShowBtnPress.InvokeAsync(dist_Id))" @onclick="@(() => ShowBtnPress.InvokeAsync(dist_Id))">
                                @if (opInDist != null)
                                {
                                    <MudButton Style=" display: -webkit-box; max-width: 650px" Variant="Variant.Text" Class="fixed-column dynamic-left" Size="Size.Small" OnTouch="@(() => ShowBtnPress.InvokeAsync(dist_Id))" OnClick="@(() => ShowBtnPress.InvokeAsync(dist_Id))">
                                        <MudButton Size="Size.Small" Style="width: 500px;" Class="fixed-column dynamic-left" StartIcon="@Icons.Material.Filled.AccountTree" EndIcon="@(Distribution_Item.ShowDetails ? @Icons.Material.Filled.KeyboardArrowUp : @Icons.Material.Filled.KeyboardArrowDown)" OnClick="@(() => ShowBtnPress.InvokeAsync(Distribution_Item.DistributionId))">

                                            @Distribution_Item.Description -  @dist_Id
                                        </MudButton>
                                        @if (opInDist != null)
                                        {
                                            @if (@opInDist.sosfinished == @opInDist.TotalJobs)
                                            {
                                                <MudChip Color="Color.Success" Variant="Variant.Text" Size="Size.Small">@opInDist.sosfinished of @opInDist.TotalJobs</MudChip>
                                            }
                                            else
                                            {
                                                <MudChip Color="Color.Warning" Variant="Variant.Text" Size="Size.Small">@opInDist.sosfinished of @opInDist.TotalJobs</MudChip>
                                            }
                                        }
                                        <MudButton Style=" display: -webkit-box;" Class="fixed-column dynamic-left" FullWidth="true" Color="Color.Primary" Variant="Variant.Text" Size="Size.Small" EndIcon="@Icons.Material.Filled.BarChart" OnTouch="@(() => OpenGraphicDonnut.InvokeAsync(@opInDist))" OnClick="@(() => OpenGraphicDonnut.InvokeAsync(@opInDist))">
                                        </MudButton>
                                    </MudButton>
                                }
                                else
                                {
                                    <MudButton Style=" display: -webkit-box; width: 650px" Variant="Variant.Text" Class="fixed-column dynamic-left" Size="Size.Small" OnClick="@(() => ShowBtnPress.InvokeAsync(Distribution_Item.DistributionId))" OnTouch="@(() => ShowBtnPress.InvokeAsync(Distribution_Item.DistributionId))">
                                        <MudButton Size="Size.Small" Style="width: 500px;" Class="fixed-column dynamic-left" StartIcon="@Icons.Material.Filled.AccountTree" EndIcon="@(Distribution_Item.ShowDetails ? @Icons.Material.Filled.KeyboardArrowUp : @Icons.Material.Filled.KeyboardArrowDown)" OnTouch="@(() => ShowBtnPress.InvokeAsync(Distribution_Item.DistributionId))" OnClick="@(() => ShowBtnPress.InvokeAsync(Distribution_Item.DistributionId))">
                                            @Distribution_Item.Description - @dist_Id
                                        </MudButton>
                                    </MudButton>
                                }
                            </MudTd>
                        </MudTr>
                    }
                    else
                    {
                        <MudTr>
                            <MudTd colspan="@(rowT)" DataLabel="Distribution" @onclick="@(() => ShowBtnPress.InvokeAsync(dist_Id))" OnTouch="@(() => ShowBtnPress.InvokeAsync(dist_Id))">
                                @if (opInDist != null)
                                {
                                    <MudButton Style=" display: -webkit-box; max-width: 650px" Variant="Variant.Text" Class="fixed-column dynamic-left" Size="Size.Small" OnClick="@(() => ShowBtnPress.InvokeAsync(Distribution_Item.DistributionId))" OnTouch="@(() => ShowBtnPress.InvokeAsync(Distribution_Item.DistributionId))">
                                        <MudButton Size="Size.Small" Style="width: 500px;" Class="fixed-column dynamic-left" EndIcon="@(Distribution_Item.ShowDetails ? @Icons.Material.Filled.KeyboardArrowUp : @Icons.Material.Filled.KeyboardArrowDown)" OnClick="@(() => ShowBtnPress.InvokeAsync(dist_Id))" OnTouch="@(() => ShowBtnPress.InvokeAsync(dist_Id))">
                                            @Distribution_Item.Description - @dist_Id
                                        </MudButton>
                                        @if (opInDist != null)
                                        {
                                            @if (@opInDist.sosfinished == @opInDist.TotalJobs)
                                            {
                                                <MudChip Color="Color.Success" Variant="Variant.Text" Size="Size.Small">@opInDist.sosfinished of @opInDist.TotalJobs</MudChip>
                                            }
                                            else
                                            {
                                                <MudChip Color="Color.Warning" Variant="Variant.Text" Size="Size.Small">@opInDist.sosfinished of @opInDist.TotalJobs</MudChip>
                                            }
                                        }
                                        <MudButton Style=" display: -webkit-box;" Class="fixed-column dynamic-left" FullWidth="true" Color="Color.Primary" Variant="Variant.Text" Size="Size.Small" EndIcon="@Icons.Material.Filled.BarChart" OnTouch="@(() => OpenGraphicDonnut.InvokeAsync(@opInDist))" OnClick="@(() => OpenGraphicDonnut.InvokeAsync(@opInDist))">
                                        </MudButton>
                                    </MudButton>
                                }
                                else
                                {
                                    <MudButton Style=" display: -webkit-box; width: 650px" Variant="Variant.Text" Class="fixed-column dynamic-left" Size="Size.Small" OnClick="@(() => ShowBtnPress.InvokeAsync(dist_Id))" OnTouch="@(() => ShowBtnPress.InvokeAsync(dist_Id))">
                                        <MudButton Size="Size.Small" Style="width: 500px;" Class="fixed-column dynamic-left" EndIcon="@(Distribution_Item.ShowDetails ? @Icons.Material.Filled.KeyboardArrowUp : @Icons.Material.Filled.KeyboardArrowDown)" OnTouch="@(() => ShowBtnPress.InvokeAsync(dist_Id))" OnClick="@(() => ShowBtnPress.InvokeAsync(dist_Id))">
                                            @Distribution_Item.Description - @dist_Id
                                        </MudButton>
                                    </MudButton>
                                }
                            </MudTd>
                        </MudTr>
                    }

                    @if (Distribution_Item.ShowDetails)
                    {

                        foreach (var op in Distribution_Item.Operations)
                        {
                            <MudTr>
                                <td rowspan="2" class="fixed-column dynamic-left" style="width: 150px; max-width: 180px;">
                                    <MudItem Class="d-flex" Style="flex-wrap: wrap; flex-direction: column;">
                                        @if (op.Description.Length > 15)
                                        {
                                            <div class="marquee-container">
                                                <span id="marqueeText" class="marquee">@op.Description</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <MudText Class="ml-2">@op.Description</MudText>
                                        }
                                        <MudText Class="ml-2"><b>@op.Code</b></MudText>
                                    </MudItem>
                                </td>

                                <MudTd rowspan="2" class="fixed-column dynamic-left">
                                    @if (Suggested_SOS_Registers_UserOperationRelationship.TryGetValue(op.OperationId, out var context))
                                    {
                                        <MudMenu>
                                            <ActivatorContent>
                                                <MudButton Color="Color.Primary" StartIcon="@Icons.Material.Filled.Person" EndIcon="@Icons.Material.Filled.Edit" Variant="Variant.Outlined"></MudButton>
                                            </ActivatorContent>
                                            <ChildContent>

                                                <MudMenuItem Icon="@Icons.Material.Filled.PersonPin" OnClick="@(() => OpenSuggestSVPanelDialog.InvokeAsync((0, context,op.OperationId)))" OnTouch="@(() => OpenSuggestSVPanelDialog.InvokeAsync((0, context,op.OperationId)))">Info SV</MudMenuItem>
                                                <MudMenuItem Icon="@Icons.Material.Filled.SwitchAccount" OnClick="@(() => OpenSuggestSVPanelDialog.InvokeAsync((1, context,op.OperationId)))" OnTouch="@(() => OpenSuggestSVPanelDialog.InvokeAsync((1, context,op.OperationId)))">Change SV</MudMenuItem>

                                            </ChildContent>
                                        </MudMenu>
                                    }
                                </MudTd>
                                <MudTd rowspan="2">
                                    @if (_assyCharts.Any(r => r.DistributionId == Distribution_Item.DistributionId))
                                    {
                                        var _assychart = _assyCharts?.Where(r => r.DistributionId == Distribution_Item.DistributionId).FirstOrDefault();

                                        <MudItem Style="text-align: start">
                                            @if (_assychart != null)
                                            {
                                                <MudItem Class="d-flex flex-row align-start justify-center">
                                                    @if (_assychart.RoutesProductsAssyChart?.Count > 0 && _assychart.RoutesProductsAssyChart.Any(r => r.Code.ToLower().Contains(op.Code.ToLower(), StringComparison.InvariantCultureIgnoreCase)))
                                                    {
                                                        var RoutesCode = _assychart.RoutesProductsAssyChart.Where(r => r.Code.ToLower().Contains(op.Code.ToLower(), StringComparison.InvariantCultureIgnoreCase)).ToList();
                                                        <MudMenu Dense=true AnchorOrigin="Origin.BottomCenter" Style="display: flex" TransformOrigin="Origin.TopCenter">
                                                            <ActivatorContent>
                                                                <MudButton FullWidth="true" StartIcon="@Icons.Material.Filled.Folder" Color="Color.Warning" Variant="Variant.Filled" Size="Size.Small"></MudButton>
                                                            </ActivatorContent>
                                                            <ChildContent>
                                                                <MudExpansionPanels Elevation="0">
                                                                    @foreach (SOSCodePath item in RoutesCode)
                                                                    {

                                                                        <MudExpansionPanel Style="width: auto;">
                                                                            <TitleContent>
                                                                                <div Style="align-items: center; display: flex;">
                                                                                    <MudText>@item.Code</MudText>
                                                                                    <MudChip Icon="@Icons.Material.Filled.DirectionsCar" IconColor="Color.Info" Variant="Variant.Text" Color="Color.Success">@item.Product?.Code - @item.Product?.Description</MudChip>
                                                                                </div>
                                                                            </TitleContent>
                                                                            <ChildContent>
                                                                                <MudItem class="d-flex flex-column justify-center ma-1">
                                                                                    <MudItem class="d-flex d-flex-column justify-center">

                                                                                        <MudItem Style="flex-direction: column;">
                                                                                            @if (item.HOE != "")
                                                                                            {
                                                                                                <MudPaper Elevation="0">
                                                                                                    <MudButton OnClick="(() => OpenDialogCodePath.InvokeAsync((item, 1)))" OnTouch="(() => OpenDialogCodePath.InvokeAsync((item, 1)))" Style="padding: 0px;" Color="Color.Error">
                                                                                                        <MudTooltip Text=@Localizer["openHOEFolder"] Color="Color.Primary" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false">
                                                                                                            <MudTooltip Text="@Regex.Replace(item.HOE, @"/(.*?)§", "/").Replace('§', ' ')" Color="Color.Primary" Placement="Placement.Top" Arrow="true" ShowOnFocus="false">
                                                                                                                <MudChip Icon="@Icons.Material.Filled.SnippetFolder" Variant="Variant.Text" Color="Color.Primary" Style="font-size: 10px">@item.HOE.Split('§').Last()</MudChip>
                                                                                                            </MudTooltip>
                                                                                                        </MudTooltip>
                                                                                                    </MudButton>
                                                                                                </MudPaper>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <MudPaper Elevation="0">
                                                                                                    <MudAlert Severity="Severity.Info">@Localizer["noHOEPath"]</MudAlert>
                                                                                                </MudPaper>
                                                                                            }

                                                                                            @if (item.CommonDirectionHOE != "")
                                                                                            {
                                                                                                <MudPaper Elevation="0">
                                                                                                    <MudButton OnClick="(() => OpenDialogCodePath.InvokeAsync((item, 4)))" OnTouch="(() => OpenDialogCodePath.InvokeAsync((item, 4)))" Style="padding: 0px;" Color="Color.Error">
                                                                                                        <MudTooltip Text=@Localizer["openHOEFolderCD"] Color="Color.Primary" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false">
                                                                                                            <MudTooltip Text="@Regex.Replace(item.CommonDirectionHOE, @"/(.*?)§", "/").Replace('§', ' ')" Color="Color.Primary" Placement="Placement.Top" Arrow="true" ShowOnFocus="false">
                                                                                                                <MudChip Icon="@Icons.Material.Filled.SnippetFolder" Variant="Variant.Text" Color="Color.Primary" Style="font-size: 10px">@item.CommonDirectionHOE.Split('§').Last()</MudChip>
                                                                                                            </MudTooltip>
                                                                                                        </MudTooltip>
                                                                                                    </MudButton>
                                                                                                </MudPaper>
                                                                                            }

                                                                                        </MudItem>

                                                                                        <MudItem Style="flex-direction: column;">
                                                                                            @if (@item.CCP != "")
                                                                                            {
                                                                                                <MudPaper Elevation="0">
                                                                                                    <MudButton OnClick="(() => OpenDialogCodePath.InvokeAsync((item, 2)))" OnTouch="(() => OpenDialogCodePath.InvokeAsync((item, 2)))" Style="padding: 0px;" Color="Color.Error">
                                                                                                        <MudTooltip Text=@Localizer["openCCPFolder"] Color="Color.Primary" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false">
                                                                                                            <MudTooltip Text="@item.CCP" Color="Color.Primary" Placement="Placement.Top" Arrow="true" ShowOnFocus="false">
                                                                                                                <MudChip Icon="@Icons.Material.Filled.SnippetFolder" Variant="Variant.Text" Color="Color.Primary" Style="font-size: 10px">@item.CCP.Split('/').Last()</MudChip>
                                                                                                            </MudTooltip>
                                                                                                        </MudTooltip>
                                                                                                    </MudButton>
                                                                                                </MudPaper>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <MudPaper Elevation="0">
                                                                                                    <MudAlert Severity="Severity.Info">@Localizer["noCCPPath"]</MudAlert>
                                                                                                </MudPaper>
                                                                                            }
                                                                                            @if (@item.CommonDirectionCCP != "")
                                                                                            {
                                                                                                <MudPaper Elevation="0">
                                                                                                    <MudButton OnClick="(() => OpenDialogCodePath.InvokeAsync((item, 5)))" OnTouch="(() => OpenDialogCodePath.InvokeAsync((item, 5)))" Style="padding: 0px;" Color="Color.Error">
                                                                                                        <MudTooltip Text=@Localizer["openCCPFolderCD"] Color="Color.Primary" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false">
                                                                                                            <MudTooltip Text="@item.CommonDirectionCCP" Color="Color.Primary" Placement="Placement.Top" Arrow="true" ShowOnFocus="false">
                                                                                                                <MudChip Icon="@Icons.Material.Filled.SnippetFolder" Variant="Variant.Text" Color="Color.Primary" Style="font-size: 10px">@item.CommonDirectionCCP.Split('/').Last()</MudChip>
                                                                                                            </MudTooltip>
                                                                                                        </MudTooltip>
                                                                                                    </MudButton>
                                                                                                </MudPaper>
                                                                                            }
                                                                                        </MudItem>

                                                                                        <MudItem Style="flex-direction: column;">
                                                                                            @if (item.GOS != "")
                                                                                            {
                                                                                                <MudPaper Elevation="0">
                                                                                                    <MudButton OnClick="(() => OpenDialogCodePath.InvokeAsync((item, 3)))" OnTouch="(() => OpenDialogCodePath.InvokeAsync((item, 3)))" Style="padding: 0px;" Color="Color.Error">
                                                                                                        <MudTooltip Text=@Localizer["openGOSFolder"] Color="Color.Primary" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false">
                                                                                                            <MudTooltip Text="@item.GOS" Color="Color.Primary" Placement="Placement.Top" Arrow="true" ShowOnFocus="false">
                                                                                                                <MudChip Icon="@Icons.Material.Filled.SnippetFolder" Variant="Variant.Text" Color="Color.Primary" Style="font-size: 10px">@item.GOS.Split('/').Last()</MudChip>
                                                                                                            </MudTooltip>
                                                                                                        </MudTooltip>
                                                                                                    </MudButton>

                                                                                                </MudPaper>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <MudPaper Elevation="0">

                                                                                                    <MudAlert Severity="Severity.Info">@Localizer["noGOSPath"]</MudAlert>
                                                                                                </MudPaper>
                                                                                            }
                                                                                            @if (item.CommonDirectionGOS != "")
                                                                                            {
                                                                                                <MudPaper Elevation="0">
                                                                                                    <MudButton OnClick="(() => OpenDialogCodePath.InvokeAsync((item, 6)))" OnTouch="(() => OpenDialogCodePath.InvokeAsync((item, 6)))" Style="padding: 0px;" Color="Color.Error">
                                                                                                        <MudTooltip Text=@Localizer["openGOSFolderCD"] Color="Color.Primary" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false">
                                                                                                            <MudTooltip Text="@item.CommonDirectionGOS" Color="Color.Primary" Placement="Placement.Top" Arrow="true" ShowOnFocus="false">
                                                                                                                <MudChip Icon="@Icons.Material.Filled.SnippetFolder" Variant="Variant.Text" Color="Color.Primary" Style="font-size: 10px">@item.CommonDirectionGOS.Split('/').Last()</MudChip>
                                                                                                            </MudTooltip>
                                                                                                        </MudTooltip>
                                                                                                    </MudButton>

                                                                                                </MudPaper>
                                                                                            }
                                                                                        </MudItem>






                                                                                    </MudItem>
                                                                                </MudItem>

                                                                            </ChildContent>
                                                                        </MudExpansionPanel>
                                                                    }
                                                                </MudExpansionPanels>
                                                            </ChildContent>
                                                        </MudMenu>
                                                    }
                                                    else
                                                    {
                                                        <MudAlert Severity="Severity.Info">
                                                            @Localizer["notFound"]
                                                        </MudAlert>
                                                    }
                                                </MudItem>
                                            }
                                            else
                                            {
                                                if (_assychart is null)
                                                {
                                                    <MudItem class="d-flex flex-column justify-center align-self-start">
                                                        <MudPaper Elevation="0">
                                                            <MudAlert Severity="Severity.Info">
                                                                No Job Allocation Found
                                                            </MudAlert>
                                                        </MudPaper>
                                                    </MudItem>
                                                }
                                                else
                                                {
                                                    <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
                                                }


                                            }

                                        </MudItem>
                                    }
                                    else
                                    {
                                        <MudAlert Severity="Severity.Info">
                                            @Localizer["notFound"]
                                        </MudAlert>
                                    }
                                </MudTd>

                                <MudTd class="fixed-column dynamic-left program">@Localizer["P"]</MudTd>
                                @for (var i = 1; i <= daysInMonth; i++)
                                {
                                    var date = new DateTime(_yearMonth.Value.Year, _yearMonth.Value.Month, i);
                                    var dayName = date.ToString("ddd");
                                    var compare = new DateTime(_yearMonth.Value.Year, _yearMonth.Value.Month, i);
                                    int currentIndex = i;

                                    if (date.DayOfWeek != DayOfWeek.Saturday && date.DayOfWeek != DayOfWeek.Sunday)
                                    {
                                        <MudTd style="text-align: center; width:160px; max-height:160px;" class="@(date.DayOfWeek == DayOfWeek.Friday ? "right-border" : "")">
                                            @foreach (var jobobs in _All_Suggested_SOSJobobservation.Where(j => j.DistributionId == Distribution_Item.DistributionId))
                                            {
                                                if (Convert.ToDateTime(jobobs.StartDate?.ToShortDateString()).Date == Convert.ToDateTime(compare.ToShortDateString()).Date && jobobs.Operations?.FirstOrDefault()?.OperationId == op.OperationId)
                                                {
                                                    <MudTooltip Text="@Localizer["programmed"]" Color="Color.Warning" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false">
                                                        <MudChip @onclick="()=>OpenToReprogramSuggestion.InvokeAsync(jobobs)" OnTouch="()=>OpenToReprogramSuggestion.InvokeAsync(jobobs)" Variant="Variant.Outlined" Color="Color.Warning">
                                                            <MudIcon Icon="@Icons.Material.Filled.CropSquare" Color="Color.Warning" />
                                                        </MudChip>
                                                    </MudTooltip>
                                                }
                                            }
                                        </MudTd>
                                    }
                                }
                                <MudTd rowspan="2">@op.RestrictionOrComment</MudTd>
                            </MudTr>

                            <MudTr>

                                <MudTd class="fixed-column dynamic-left real">@Localizer["R"]</MudTd>

                                @for (var i = 1; i <= daysInMonth; i++)
                                {
                                    var date = new DateTime(_yearMonth.Value.Year, _yearMonth.Value.Month, i);

                                    @if (date.DayOfWeek != DayOfWeek.Saturday && date.DayOfWeek != DayOfWeek.Sunday)
                                    {
                                        <MudTd class="@(date.DayOfWeek == DayOfWeek.Friday ? "right-border" : "")"></MudTd>
                                    }
                                }


                            </MudTr>


                        }

                    }
                }

            </tbody>
        </MudSimpleTable>

    </div>
</div>
@code {
    [Parameter]
    public List<JobObservationNulls> _All_Suggested_SOSJobobservation { get; set; } = new();
    [Parameter]
    public Dictionary<int, SOSRegUserOperationRelationship?> Suggested_SOS_Registers_UserOperationRelationship { get; set; } = new Dictionary<int, SOSRegUserOperationRelationship?>();
    [Parameter]
    public Dictionary<(int, int), List<JobObservationNulls>?> Suggested_Registers_Matrix { get; set; } = new Dictionary<(int, int), List<JobObservationNulls>?>();

    [Parameter]
    public List<AssyChart> _assyCharts { get; set; } = new();
    [Parameter]
    public List<DistSelect> Dist_Manager { get; set; } = new List<DistSelect>();

    [Parameter]
    public Dictionary<int, SosJobCount> OperationsInDistributionCount { get; set; } = new Dictionary<int, SosJobCount>();


    [Parameter]
    public int daysInMonth { get; set; }
    [Parameter]
    public DateTime? _yearMonth { get; set; }

    [Parameter]
    public EventCallback<int> ShowBtnPress { get; set; } 
    
    [Parameter]
    public EventCallback<SosJobCount> OpenGraphicDonnut { get; set; }
 
    [Parameter]
    public EventCallback<JobObservationNulls> OpenToReprogramSuggestion { get; set; }

    [Parameter]
    public EventCallback<(int, SOSRegUserOperationRelationship, int)> OpenSuggestSVPanelDialog { get; set; }

    [Parameter]
    public EventCallback<(SOSCodePath, int)> OpenDialogCodePath { get; set; }



            public int ObtenerDiasLaburables()
        {
            DateTime fechaInicio = new DateTime(_yearMonth.Value.Year, _yearMonth.Value.Month, 1);
            int totalDiasLaborables = 0;
            int totalDiasEnMes = DateTime.DaysInMonth(fechaInicio.Year, fechaInicio.Month);

            for (int i = 1; i <= totalDiasEnMes; i++)
            {
                DateTime fechaActual = new DateTime(fechaInicio.Year, fechaInicio.Month, i);

                // Verificar si el día actual no es sábado ni domingo
                if (fechaActual.DayOfWeek != DayOfWeek.Saturday && fechaActual.DayOfWeek != DayOfWeek.Sunday)
                {
                    totalDiasLaborables++;
                }
            }

            return totalDiasLaborables;
        }
}
