@inject IStringLocalizer<Resource1> Localizer
@inject IDistributionService DistributionsServices
@inject IAreaService AreaServices
@inject IDialogService DialogService
@using System.ComponentModel.DataAnnotations

<MudGrid>
    <MudItem xs="6"><MudTextField Label="@Localizer["UsersObject"]" @bind-value="@_user.ObjectId" For="@(() => _user.ObjectId)" HelperText="E.g. user@compasdcpcs.local" /></MudItem>
    <MudItem xs="6"><MudTextField Label="@Localizer["UsersName"]" @bind-Value="@_user.Name" /></MudItem>
    <MudItem xs="6"><MudTextField Label="@Localizer["UsersPayroll"]" @bind-Value="@_user.Payroll" For="@(() => _user.Payroll)" /></MudItem>
    <MudItem xs="6"><MudTextField T="string" Label="@Localizer["UsersEmail"]" @bind-Value="@_user.Email" For="@(() => _user.Email)" RequiredError="Email is required!"
                  Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})" /></MudItem>
</MudGrid>

<MudItem Class="mt-5">
    <MudText Typo="Typo.h6">@Localizer["UsersEmployeInfo"]</MudText>
</MudItem>

<MudGrid>
    <MudItem xs="6"><MudTextField @bind-Value="plantInfo" Label="@Localizer["UsersLabelPlant"]" ReadOnly="true" Variant="Variant.Outlined" /></MudItem>
    <MudItem xs="6"><MudTextField @bind-Value="grupInfo" Label="@Localizer["UsersLabelGroup"]" ReadOnly="true" Variant="Variant.Outlined" /></MudItem>
</MudGrid>

@* Areas Managed *@
<MudItem Class="mt-5">
    <MudText Typo="Typo.h6">@Localizer["UsersManageAreas"]</MudText>
</MudItem>

@*Selector Ares*@
@if (_areasManager?.Count > 0 && auxPlant != 0)
{
    <MudItem class="d-flex d-flex-column justify-center ma-1">
        <MudItem Class="d-flex d-flex-row">
            <MudSelect T="Area" Label="@Localizer["UsersLabelArea"]" SelectedValuesChanged="@OnSelectedAreaToManageFunction" Placeholder="@Localizer["UsersPHArea"]" @bind-Value="@selectedAreaOfList" Style="min-width: 300px" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                <MudSelectItem Disabled="true" Value="selectedAreaOfList"> @Localizer["UsersPHArea"] </MudSelectItem>
                @foreach (var areaItem in _areasManager)
                {
                    <MudSelectItem Value="areaItem">@($"{areaItem.Code}-{areaItem.Description}") </MudSelectItem>
                }
            </MudSelect>
            <MudButton Class="ml-5" Disabled="@ActiveAddArea" OnClick="@(() => AddAreaToUserList(selectedAreaOfList))" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Secondary" Size="Size.Large"> @Localizer["UsersAddArea"] </MudButton>
        </MudItem>
    </MudItem>
}

@switch (_user.Areas?.Count)
{
    case null:
    case 0:
        @if (auxPlant == 0)
        {
            <MudItem class="d-flex flex-column justify-center justify-align-center">
                <MudAlert Severity="Severity.Info">
                    @Localizer["UsersFirstSuperior"]
                </MudAlert>
            </MudItem>
        }
        else
        {
            @if (_areasManager?.Count > 0)
            {
                <MudItem class="d-flex flex-column justify-center">
                    <MudAlert Severity="Severity.Info">
                        @Localizer["UsersFirstAddArea"]
                    </MudAlert>
                </MudItem>
            }
            else
            {
                <MudItem class="d-flex flex-column justify-center">
                    <MudAlert Severity="Severity.Info">
                        @Localizer["UsersPlantNoAreas"]
                    </MudAlert>
                </MudItem>
            }
        }
        break;
    default:
        @if (_user.Areas is not null && _user.Areas?.ToList().Count > 0)
        {
            <MudItem class="d-flex flex-column justify-center ma-1">
                <MudItem class="d-flex d-flex-column justify-center" Style="overflow-x: auto; padding: 12px;">
                    @foreach (var itemArea in _user.Areas)
                    {
                        <MudCard Elevation="4" Class="mr-5" Style="width: 300px; min-width: 250px; border-radius: 15px; background-color: #f9faf9 !important;">
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.subtitle1"><b>@Localizer["UsersAreaId"]:</b> @itemArea.AreaId</MudText>
                                </CardHeaderContent>
                                <CardHeaderActions>
                                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="() => DeleteAreaFromUserList(itemArea)" />
                                </CardHeaderActions>
                            </MudCardHeader>
                            <MudCardContent>
                                <div class="font-weight-bold"><b>@Localizer["UsersCode"]:</b> @itemArea.Code</div>
                                <div class="font-weight-light"><b>@Localizer["UsersDescription"]:</b> @itemArea.Description</div>
                            </MudCardContent>
                            <MudCardActions></MudCardActions>
                        </MudCard>
                    }
                </MudItem>
            </MudItem>
        }
        break;
}

<MudItem>
    <MudItem Class="mt-5">
        <MudText Typo="Typo.h6"> @Localizer["UsersHT"] </MudText>
    </MudItem>
    @*Superiorcard *@
    <MudItem Class="d-flex flex-column justify-center ma-1">
        @if (_user.Superior != null)
        {
            <MudItem class="d-flex d-flex-column justify-center">
                <MudCard Elevation="4" Class="m-3" Style="width: 300px; border-radius: 10px; background-color: #f9faf9 !important;">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.subtitle1"> @Localizer["UsersSuperior"] </MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            @if (!(LogedUser.UserType == 2 && _user.UserType == 3))
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(() => RemoveSuperiorUser())" />
                            }
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        <div class="font-weight-bold"> <MudText Typo="Typo.subtitle2"> <b>@Localizer["UsersName"]:</b></MudText> @_user.Superior.Name </div>
                        <div class="font-weight-light"><MudText Typo="Typo.subtitle2"> <b>@Localizer["UsersGroup"]:</b></MudText> @_user.Superior.Group?.Description </div>
                        <div class="font-weight-light"><MudText Typo="Typo.subtitle2"> <b>@Localizer["UsersAreas"]:</b></MudText> @UserAreas(_user.Superior.Areas?.ToList()) </div>
                    </MudCardContent>
                    <div class="d-flex justify-content-between justify-center">
                        @switch (_user.Superior.UserType)
                        {
                            case 1:
                                <MudPaper Elevation="0">
                                    <MudChip Icon="@Icons.Material.Filled.AdminPanelSettings" Color="Color.Primary"> @Localizer["UsersAdmin"] </MudChip>
                                </MudPaper>
                                break;
                            case 2:
                                <MudPaper Elevation="0">
                                    <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary"> @Localizer["UsersSeniorSupervisor"] </MudChip>
                                </MudPaper>
                                break;
                        }
                    </div>
                    <MudCardActions>

                    </MudCardActions>
                </MudCard>

            </MudItem>

        }
        else
        {
            @if (_user.UserType > 2 && _user.UserType != 5)
            {
                <MudItem class="d-flex d-flex-column justify-center">
                    <MudText Typo="Typo.h6"> @Localizer["UsersSuperior"] </MudText>
                </MudItem>
                <MudItem class="d-flex d-flex-column justify-center">
                    <MudAlert Severity="Severity.Info">
                        @Localizer["UsersFirstSuperior"]
                    </MudAlert>
                </MudItem>
            }
            @*Select Superior *@

            @if (SeniorsSupervisors.Count > 0)
            {
                <MudItem Class="d-flex d-flex-row">
                    <MudSelect T="User" Label="SSV" Placeholder="@Localizer["UsersPHSuperior"]" @bind-Value="@_user.Superior" SelectedValuesChanged="SetSuperiorToUser" Style="max-width: 350px !important" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                        <MudSelectItem Disabled="true" Value="selectedSeniorSupervisorOfList"> @Localizer["UsersPHSuperior"]</MudSelectItem>
                        @foreach (var SS in SeniorsSupervisors)
                        {
                            @if (LogedUser.UserType == 1)
                            {
                                <MudSelectItem Value="SS">@($"{SS.Name}-{SS.Group?.Description}") </MudSelectItem>
                            }
                            else
                            {
                                @if (SS.PlantId == _user.PlantId && SS.AreaId == _user.AreaId)
                                {
                                    <MudSelectItem Value="SS">@($"{SS.Name}-{SS.Group?.Description}") </MudSelectItem>
                                }
                            }
                        }
                    </MudSelect>
                </MudItem>
            }
                
        }
    </MudItem>

    @*Subordinados *@
    <MudItem Class="d-flex flex-column justify-center">
        <MudItem class="d-flex d-flex-column justify-center">
            <MudText Typo="Typo.h6"> @Localizer["UsersSubordinates"] </MudText>
        </MudItem>

        @*Seccion de Selector Subordinados *@
        <MudItem class="d-flex d-flex-column justify-center ma-1">

            <MudItem Class="d-flex d-flex-row">
                @if (Operators?.Count > 0 && auxPlant != 0)
                {
                    <MudSelect T="User" Label="@Localizer["UsersOperators"]" SelectedValuesChanged="OnSelectedSubordinatedFunction" Placeholder="@Localizer["UsersPHOperator"]" @bind-Value="@selectedOperatorOfList" Style="width: 350px" Class="mt-3" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter">
                        <MudSelectItem Disabled="true" Value="selectedOperatorOfList"> @Localizer["UsersPHOperator"]</MudSelectItem>
                        @foreach (var SS in Operators)
                        {
                            @if (LogedUser.UserType == 1)
                            {
                                <MudSelectItem Value="SS">@($"{SS.Name}-{SS.Area?.Description}-{SS.Group?.Description} - {SS.Distribution?.Description}") </MudSelectItem>
                            }
                            else
                            {
                                @if (_user.Areas?.ToList().FindIndex(a => a.AreaId == SS.AreaId) != -1)
                                {
                                    <MudSelectItem Value="SS">@($"{SS.Name}-{SS.Area?.Description}-{SS.Group?.Description} - {SS.Distribution?.Description}") </MudSelectItem>
                                }
                            }
                        }
                    </MudSelect>
                    <MudButton Disabled="@ActiveAddSubordinated" OnClick="@(() => AddOperatorToSubordinateList(selectedOperatorOfList))" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Secondary" Size="Size.Large"> Add subordinate </MudButton>
                }
            </MudItem>
        </MudItem>

        @switch (_user.Subordinates?.Count)
        {
            case null:

                @if (auxPlant == 0 && _user.UserType > 2)
                {
                    <MudItem class="d-flex flex-column justify-center">
                        <MudAlert Severity="Severity.Info">
                            @Localizer["UsersFirstSuperior"]
                        </MudAlert>
                    </MudItem>
                }
                else
                {
                    @if (Operators?.Count > 0)
                    {
                        @if (_user.Superior != null)
                        {
                            <MudItem class="d-flex flex-column justify-center">
                                <MudAlert Severity="Severity.Info">
                                    @Localizer["UsersFirstSubordinate"]
                                </MudAlert>
                            </MudItem>
                        }
                        else
                        {
                            <MudItem class="d-flex flex-column justify-center">
                                <MudAlert Severity="Severity.Info">
                                    @Localizer["UsersFirstSuperior"]
                                </MudAlert>
                            </MudItem>
                        }
                    }
                    else
                    {
                        <MudItem class="d-flex flex-column justify-center">
                            <MudAlert Severity="Severity.Info">
                                @Localizer["UsersPlantNoOP"]
                            </MudAlert>
                        </MudItem>
                    }
                }
                break;
            case 0:

                @if (auxPlant == 0 && _user.UserType > 2)
                {
                    <MudItem class="d-flex flex-column justify-center justify-align-center">
                        <MudAlert Severity="Severity.Info">
                            @Localizer["UsersFirstSuperior"]
                        </MudAlert>
                    </MudItem>
                }
                else
                {
                    if (Operators?.Count > 0)
                    {
                        if (_user.Superior != null)
                        {
                            <MudItem class="d-flex flex-column justify-center">
                                <MudAlert Severity="Severity.Info">
                                    @Localizer["UsersFirstSubordinate"]
                                </MudAlert>
                            </MudItem>
                        }
                        else
                        {
                            <MudItem class="d-flex flex-column justify-center">
                                <MudAlert Severity="Severity.Info">
                                    @Localizer["UsersFirstSuperior"]
                                </MudAlert>
                            </MudItem>
                        }
                    }
                    else
                    {
                        <MudItem class="d-flex flex-column justify-center">
                            <MudAlert Severity="Severity.Info">
                                @Localizer["UsersPlantNoOP"]
                            </MudAlert>
                        </MudItem>
                    }
                }
                break;
            default:
                @if (_user.Subordinates is not null && _user.Subordinates?.ToList().Count > 0)
                {
                    <MudItem class="d-flex d-flex-column justify-center" Style="overflow-x: auto; padding: 12px;">
                        @foreach (var item in _user.Subordinates)
                        {
                            <MudBadge Color="Color.Warning" Overlap="true" Origin="Origin.TopLeft">
                                <MudCard Elevation="4" Class="mr-5" Style="width: 300px; min-width: 250px; border-radius: 15px; background-color: #f9faf9 !important;">
                                    <MudCardHeader>
                                        <CardHeaderContent>
                                            <MudChip Icon="@Icons.Material.Filled.Edit" IconColor="Color.Primary" Color="Color.Primary" Variant="Variant.Outlined" OnClick="@(() => OpenUpdateAreasDialog(item))">Update Areas</MudChip>
                                        </CardHeaderContent>
                                        <CardHeaderActions>
                                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(() => DeleteOperatorFromSubordinateList(item))" />
                                        </CardHeaderActions>
                                    </MudCardHeader>
                                    <MudCardContent>
                                        <div class="font-weight-bold"> <MudText Typo="Typo.subtitle2"> <b>@Localizer["UsersName"]:</b></MudText> @item.Name </div>
                                        <div class="font-weight-light"><MudText Typo="Typo.subtitle2"> <b>@Localizer["UsersGroup"]:</b></MudText> @item.Group?.Description </div>
                                    </MudCardContent>
                                    <div class="d-flex justify-content-between justify-center">
                                        @switch (item.UserType)
                                        {
                                            case 4:
                                                <MudPaper Elevation="0">
                                                    <MudChip Icon="@Icons.Material.Filled.PersonOutline" Color="Color.Dark"> @Localizer["UsersOperator"] </MudChip>
                                                </MudPaper>
                                                break;
                                        }
                                    </div>
                                </MudCard>
                            </MudBadge>
                        }
                    </MudItem>
                }
                break;
        }
    </MudItem>
</MudItem>


<MudItem Class="ml-auto mt-3">
    @if (_user.UserType != 0)
    {
        <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="SubmitUser">@Localizer["UsersNew"]</MudButton>
    }
    <MudButton Href="/usersmanagement" Variant="Variant.Filled" Class="ml-4">@Localizer["Cancel"]</MudButton>
</MudItem>

@code {
        [Parameter] public User _user { get; set; }
        [Parameter] public User LogedUser { get; set; }
        [Parameter] public List<Department> _departments { get; set; }
        [Parameter] public List<Distribution> _distributions { get; set; }
        [Parameter] public List<User> _allUsers { get; set; }
        [Parameter] public List<User> SeniorsSupervisors { get; set; }
        [Parameter] public List<User> Supervisors { get; set; }
        [Parameter] public List<User> Operators { get; set; }
        [Parameter] public List<Area> _areasManager { get; set; }
        [Parameter] public EventCallback<UserManagmentFormDto> OnUserChanged { get; set; }

    private string plantInfo;
    private string grupInfo;
    private int auxDepa;
    private int auxArea;
    private int auxPlant;
    private int auxGroup;
    private int auxDistribution;

    private Area selectedAreaOfList = new Area();
    private bool ActiveAddArea = true;

    private User selectedSupervisorOfList = new User();
    private User selectedSeniorSupervisorOfList = new User();
    private User selectedOperatorOfList = new User();
    private bool ActiveAddSubordinated = true;
    private bool superior = false;

    private List<UpdateAreasForSuperiorDto> SubordinatesToUpdate = new List<UpdateAreasForSuperiorDto>();

    private async Task SubmitUser()
    {
        UserManagmentFormDto userManagmentFormDto = new UserManagmentFormDto
        {
            User = _user,
            Subordinates = SubordinatesToUpdate
        };
        await OnUserChanged.InvokeAsync(userManagmentFormDto);
    }

    private async void ShowDistributionInvokeByAreasSelector()
    {
        _user.DistributionId = 0;
        Operators.Clear();

        // Filtrar operadores que tengan el área en su colección Areas o en AreaId (compatibilidad)
        foreach (User item in _allUsers)
        {
            if (item.UserType == 4 && item.PlantId == auxPlant && item.GroupId == auxGroup)
            {
                // Verificar si tiene el área en Areas collection o en AreaId
                bool hasArea = (item.Areas != null && item.Areas.Any(a => a.AreaId == auxArea)) ||
                               item.AreaId == auxArea;
                if (hasArea)
                    Operators.Add(item);
            }
        }

        if (auxPlant != 0 && auxArea != 0)
        {
            _distributions = await DistributionsServices.GetDistributions(auxPlant, auxArea);
        }
        StateHasChanged();
    }

    // Areas Managed Functions
    #region Areas Functions
    private void DeleteAreaFromUserList(Area element)
    {
        _user.Areas.Remove(element);
        _areasManager.Add(element);
        StateHasChanged();
    }

    private async void OnSelectedAreaToManageFunction()
    {
        if (selectedAreaOfList != new Area())
            ActiveAddArea = false;
        else
            ActiveAddArea = true;
    }

    private void AddAreaToUserList(Area selection)
    {
        if (_user.Areas == null)
            _user.Areas = new List<Area>();

        if (selectedAreaOfList != null && !_user.Areas.Contains(selection))
        {
            _user.Areas.Add(selection);

            _areasManager.Remove(selection);
            //reset value from selector
            selectedAreaOfList = null;
            ActiveAddArea = true;
        }
        StateHasChanged();
    }

    private string UserAreas(List<Area>? areas)
    {
        return (areas != null && areas.Any())
            ? string.Join(", ", areas.Select(a => a.Description))
            : "User has no areas";
    }

    private async Task OpenUpdateAreasDialog(User subordinate)
    {
        var result = await DialogService.Show<UpdateAreasDialog>("Update Areas", new DialogParameters
        {
            { "Superior", _user },
            { "Subordinate", subordinate},
            { "Areas", _user.Areas }
        }).Result;

        if (!result.Cancelled)
        {
            var updatedAreas = result.Data as UpdateAreasForSuperiorDto;
            if (updatedAreas != null)
            {
                // Actualizar las áreas del subordinado
                SubordinatesToUpdate.Add(updatedAreas);
                StateHasChanged();

                // Actualizar las áreas del subordinado en la lista de subordinados del usuario
                var subordinateToUpdate = _user.Subordinates.FirstOrDefault(s => s.UserId == subordinate.UserId);
                if (subordinateToUpdate != null)
                {
                    subordinateToUpdate.Areas = new List<Area>();
                    foreach (var areaId in updatedAreas.AreaIds)
                    {
                        var area = _user.Areas.FirstOrDefault(a => a.AreaId == areaId);
                        if (area != null)
                        {
                            subordinateToUpdate.Areas.Add(area);
                        }
                    }
                }
            }
        }
    }
    #endregion

    // Funciones del árbol de Jerarquía
    #region Árbol de Jerarquía
    private async void OnSelectedSubordinatedFunction()
    {
        if (selectedSupervisorOfList != new User() || selectedSeniorSupervisorOfList != new User() || selectedOperatorOfList != new User())
        {
            ActiveAddSubordinated = false;
        }
        else
        {
            ActiveAddSubordinated = true;
        }

    }

    private void RemoveSuperiorUser()
    {
        auxDistribution = 0;
        _distributions = new();
        _user.SuperiorId = null;
        _user.Superior = null;
        superior = false;

        StateHasChanged();
    }

    private async Task SetSuperiorToUser()
    {
        _user.SuperiorId = _user.Superior.SuperiorId;
        superior = true;


        //Idemtificar user
        _user.PlantId = _user.Superior?.PlantId;
        _user.GroupId = _user.Superior?.GroupId;

        auxPlant = (int)_user.Superior?.PlantId;
        auxGroup = (int)_user.Superior?.GroupId;

        plantInfo = _user.Superior?.Plant?.Description;
        grupInfo = _user.Superior?.Group?.Description;

        _user.Group = new Group();
        _user.Group.Description = grupInfo;

        // Cargar áreas disponibles basadas en el superior (SSV)
        if (auxPlant != 0)
        {
            _areasManager?.Clear();
            if (_user.Superior.Areas != null && _user.Superior.Areas.Count > 0)
            {
                // Usar las áreas del superior
                _areasManager = _user.Superior.Areas.ToList();
                // Automaticamente colocar el Area en casod e ser unica para el Superior
                if (_user.Superior.Areas.Count == 1)
                    AddAreaToUserList(_user.Superior.Areas.FirstOrDefault());
            }
            else
                // Si el superior no tiene áreas, cargar todas de la planta
                _areasManager = await AreaServices.GetAreas(auxPlant);
        }
        StateHasChanged();
    }

    private void AddOperatorToSubordinateList(User selection)
    {
        if (_user.Subordinates == null)
            _user.Subordinates = new List<User>();

        if (selectedOperatorOfList != null && !_user.Subordinates.Contains(selection))
        {
            _user.Subordinates.Add(selection);

            Operators.Remove(selection);

            selectedOperatorOfList = null;
            ActiveAddSubordinated = true;
        }
        StateHasChanged();
    }

    private void DeleteOperatorFromSubordinateList(User selection)
    {
        _user.Subordinates.Remove(selection);
        Operators.Add(selection);
        if (SubordinatesToUpdate.Any(s => s.UserId == selection.UserId))
        {
            UpdateAreasForSuperiorDto toRemove = SubordinatesToUpdate.FirstOrDefault(s => s.UserId == selection.UserId);
            SubordinatesToUpdate.Remove(toRemove);
        }
        
        StateHasChanged();
    }
    #endregion
}
