@page "/treeview/{Path_Id:int}"

@inject ITreeService TreeServices
@inject IBridgeCDMSService CDMSServices
@inject IAssyChartService AssyChartServices
@inject IStringLocalizer<Resource> Localizer
@inject IStringLocalizer<Resource1> Localizer1
@inject IJSRuntime JS

@using System.Text.RegularExpressions;
@using SupervisorMobility.Client.Data.Entities.TreeStruct
@using System.Runtime.CompilerServices

<style>
    .mud-tabs-header.mud-tabs-header-before {
    }
</style>

@if (ShowLoading)
{
    <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudItem class="d-flex flex-column justify-center align-self-center">
                    <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                </MudItem>
                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
            </div>
        </ItemTemplate>
    </MudCarousel>
}
else
{
    @if (Path_Item != null)
    {
        <MudItem style="display: flex;    justify-content: space-evenly;   align-items: flex-end;">
            <MudText Typo="Typo.subtitle1">@Path_Item.Code</MudText>
            <MudItem Style="min-width: 35vw;    max-width: 50vw;    align-self: center">
                @* <MudTextField @bind-Value="searchCodeString" Placeholder="@Localizer["Search"]" TextChanged="SearchFunction" Adornment="Adornment.Start" Clearable="true" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField> *@
            </MudItem>
            <MudItem style="display: flex; align-items: center">
                <MudChip Color="Color.Info">@Path_Item.Product?.Code</MudChip>
                <MudText Typo="Typo.body1">@Path_Item.Product?.Description</MudText>
            </MudItem>
        </MudItem>
    }


  @*   @if (ChangeDirectory)
    {

        <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
            <MudButton OnClick="() => SetButtonText(0)">Show HOE File Explorer</MudButton>
            <MudButton OnClick="() => SetButtonText(1)">Show GOS File Explorer</MudButton>
            <MudButton OnClick="() => SetButtonText(2)">Show CCP File Explorer</MudButton>
            @if (Path_Item.CommonDirectionHOE != "")
            {
                <MudButton OnClick="() => SetButtonText(3)">Show HOE CD File Explorer</MudButton>
            }
            @if (Path_Item.CommonDirectionGOS != "")
            {
                <MudButton OnClick="() => SetButtonText(4)">Show GOS CD File Explorer</MudButton>
            }
            @if (Path_Item.CommonDirectionCCP != "")
            {
                <MudButton OnClick="() => SetButtonText(5)">Show CCP CD File Explorer</MudButton>
            }
        </MudButtonGroup>
    } *@

    @if (rootNodeHOE.TreeItems.Count > 0 || rootNodeGOS.TreeItems.Count > 0 || rootNodeCCP.TreeItems.Count > 0)
    {

        <MudTabs @bind-ActivePanelIndex="@activeTabIndex" Class="mb-10">
            @foreach (var tab in openTabs)
            {
                <MudTabPanel @onclick="() => RecreateFileExplorer()" Icon="@(openTabs.IndexOf(tab) == 0 ? Icons.Material.Filled.FolderOpen : null)">

                    <TabContent>
                        @if ((openTabs.IndexOf(tab) == 0))
                        {
                            <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
                                <MudButton StartIcon="@Icons.Material.Filled.FolderZip" OnClick="TitleButtonClick">@_buttonText</MudButton>
                                <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown" Style="align-self: auto;">
                                    <MudMenuItem OnClick="() => SetButtonText(0)" OnTouch="() => SetButtonText(0)">Show HOE File Explorer</MudMenuItem>
                                    <MudMenuItem OnClick="() => SetButtonText(1)" OnTouch="() => SetButtonText(1)">Show GOS File Explorer</MudMenuItem>
                                    <MudMenuItem OnClick="() => SetButtonText(2)" OnTouch="() => SetButtonText(2)">Show CCP File Explorer</MudMenuItem>
                                    @if (Path_Item.CommonDirectionHOE != "")
                                    {
                                        <MudMenuItem OnClick="() => SetButtonText(3)">Show HOE CD File Explorer</MudMenuItem>
                                    }
                                    @if (Path_Item.CommonDirectionGOS != "")
                                    {
                                        <MudMenuItem OnClick="() => SetButtonText(4)">Show GOS CD File Explorer</MudMenuItem>
                                    }
                                    @if (Path_Item.CommonDirectionCCP != "")
                                    {
                                        <MudMenuItem OnClick="() => SetButtonText(5)">Show CCP CD File Explorer</MudMenuItem>
                                    }
                                </MudMenu>
                            </MudButtonGroup>
                        }
                        else
                        {
                            <MudText Typo="Typo.subtitle1">@(Regex.Replace(tab.Name, @"^\d+§", string.Empty))</MudText>
                        }
                    </TabContent>
                    <ChildContent>

                        <MudPaper Elevation="0">
                            @if (LoadingContents)
                            {
                                <MudItem class="d-flex flex-column justify-center align-self-center">
                                    <MudProgressCircular Color="Color.Info" Style="height:70px;width:70px;" Indeterminate="true" />
                                </MudItem>
                            }
                            else
                            {
                                @if (tab.TreeItems.Count > 0)
                                {
                                    <MudTable T="TreeItemData" Items="tab.TreeItems" Dense Style="max-height: 40vh; overflow-y: scroll; scrollbar-width: thin;" Hover>
                                        <RowTemplate>
                                            <MudTd @onclick="() => OnNodeClick(context)"
                                                   Class="mud-td-hover d-flex align-center">
                                                <MudButton Variant="Variant.Text"
                                                           StartIcon="@GetIcon(context)"
                                                           IconColor="@GetIconColor(true)"
                                                           @onclick="() => OnNodeClick(context)">
                                                    @Regex.Replace(context.Name, @"^\d+§", string.Empty)
                                                </MudButton>
                                            </MudTd>
                                        </RowTemplate>
                                    </MudTable>

                                }
                                else
                                {
                                    @if (isFinalPath)
                                    {
                                        <MudItem Style="display:flex; align-items: center;">
                                            <MudTextField Immediate="true" @bind-Value="searchString" Clearable Placeholder=@Localizer["search"] Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mb-5 ml-5 mr-5"></MudTextField>
                                            @* <MudButton StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="AddToFinalSelection" Size="Size.Small">Add Files To Selection</MudButton> *@
                                        </MudItem>
                                    }
                                    if (IsHOE)
                                    {
                                        if (HoeFilesInFolder != null && HoeFilesInFolder.operation.Any())
                                        {
                                            <MudTable Items="@HoeFilesInFolder!.operation" Filter="new Func<HOEDocument,bool>(FilterHOEFunc)" Dense Style="max-height: 40vh; overflow-y: scroll; scrollbar-width: thin;" Hover>
                                                <RowTemplate>
                                                    <MudTd @onclick="() => DownloadFileFromURL_HOE(context.URL, context.Nombre)"
                                                           Class="mud-td-hover d-flex align-center">

                                                        <MudItem style="text-align:center; display: flex; justify-content: center;" Class="mt-5">
                                                            @switch (context.Extension)
                                                            {
                                                                case "pdf":
                                                                    <img src="Images/pdf.png" Height="35" Width="35" />
                                                                    break;
                                                                case "doc":
                                                                    <img src="Images/doc.png" Height="35" Width="35" />
                                                                    break;
                                                                case "docx":
                                                                    <img src="Images/docx.png" Height="35" Width="35" />
                                                                    break;
                                                                case "ppt":
                                                                    <img src="Images/ppt.png" Height="35" Width="35" />
                                                                    break;
                                                                case "pptx":
                                                                    <img src="Images/pptx.png" Height="35" Width="35" />
                                                                    break;
                                                                case "xls":
                                                                    <img src="Images/xls.png" Height="35" Width="35" />
                                                                    break;
                                                                case "xlsx":
                                                                    <img src="Images/xlsx.png" Height="35" Width="35" />
                                                                    break;
                                                                case "jpg":
                                                                    <img src="Images/jpg.png" Height="35" Width="35" />
                                                                    break;
                                                                case "jpeg":
                                                                    <img src="Images/jpg.png" Height="35" Width="35" />
                                                                    break;
                                                                case "png":
                                                                    <img src="Images/png.png" Height="35" Width="35" />
                                                                    break;
                                                                case "gif":
                                                                    <img src="Images/gif.png" Height="35" Width="35" />
                                                                    break;
                                                                default:
                                                                    <img src="Images/error.png" Height="35" Width="35" />
                                                                    break;
                                                            }
                                                            <MudTooltip Text="Download" Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="true">
                                                                <MudButton OnClick="() => DownloadFileFromURL_HOE(context.URL, context.Nombre)">
                                                                    <MudItem>
                                                                        <MudChip Size="Size.Small" Variant="Variant.Text" Style="cursor:pointer;max-width: 280px; white-space: normal; overflow-wrap: break-word;" Icon="@Icons.Material.Filled.Download" Text="@context.Nombre" Color="Color.Info" />
                                                                    </MudItem>
                                                                </MudButton>
                                                            </MudTooltip>
                                                        </MudItem>
                                                    </MudTd>
                                                </RowTemplate>
                                            </MudTable>
                                        }
                                    }
                                    else if (IsGOS)
                                    {
                                        if (GosFilesInFolder != null && GosFilesInFolder.operation.Any())
                                        {
                                            <MudTable Items="@GosFilesInFolder!.operation" Filter="new Func<GOSDocument,bool>(FilterGOSFunc)" Dense Style="max-height: 40vh; overflow-y: scroll; scrollbar-width: thin;" Hover>
                                                <RowTemplate>
                                                    <MudTd @onclick="() => DownloadFileFromURL_GOS(context.ID_DOC, context.Nombre)" Class="mud-td-hover d-flex align-center">
                                                        <MudItem style="text-align:center; display: flex; justify-content: center;" Class="mt-5">
                                                            @switch (context.Extension)
                                                            {
                                                                case "pdf":
                                                                    <img src="Images/pdf.png" Height="35" Width="35" />
                                                                    break;
                                                                case "doc":
                                                                    <img src="Images/doc.png" Height="35" Width="35" />
                                                                    break;
                                                                case "docx":
                                                                    <img src="Images/docx.png" Height="35" Width="35" />
                                                                    break;
                                                                case "ppt":
                                                                    <img src="Images/ppt.png" Height="35" Width="35" />
                                                                    break;
                                                                case "pptx":
                                                                    <img src="Images/pptx.png" Height="35" Width="35" />
                                                                    break;
                                                                case "xls":
                                                                    <img src="Images/xls.png" Height="35" Width="35" />
                                                                    break;
                                                                case "xlsx":
                                                                    <img src="Images/xlsx.png" Height="35" Width="35" />
                                                                    break;
                                                                case "jpg":
                                                                    <img src="Images/jpg.png" Height="35" Width="35" />
                                                                    break;
                                                                case "jpeg":
                                                                    <img src="Images/jpg.png" Height="35" Width="35" />
                                                                    break;
                                                                case "png":
                                                                    <img src="Images/png.png" Height="35" Width="35" />
                                                                    break;
                                                                case "gif":
                                                                    <img src="Images/gif.png" Height="35" Width="35" />
                                                                    break;
                                                                default:
                                                                    <img src="Images/error.png" Height="35" Width="35" />
                                                                    break;
                                                            }
                                                            <MudTooltip Text="Download" Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="true">
                                                                <MudButton OnClick="() => DownloadFileFromURL_GOS(context.ID_DOC, context.Nombre)">
                                                                    <MudItem>
                                                                        <MudChip Size="Size.Small" Variant="Variant.Text" Style="cursor:pointer;max-width: 280px; white-space: normal; overflow-wrap: break-word;" Icon="@Icons.Material.Filled.Download" Text="@context.Nombre" Color="Color.Info" />
                                                                    </MudItem>
                                                                </MudButton>
                                                            </MudTooltip>
                                                        </MudItem>

                                                    </MudTd>
                                                </RowTemplate>
                                            </MudTable>

                                        }
                                    }
                                    else if (IsCCP)
                                    {
                                        if (CcpFilesInFolder != null && CcpFilesInFolder.operation.Any())
                                        {
                                            <MudTable Items="@CcpFilesInFolder!.operation" Filter="new Func<CCPDocument,bool>(FilterCCPFunc)" Dense Style="max-height: 40vh; overflow-y: scroll; scrollbar-width: thin;" Hover>
                                                <RowTemplate>
                                                    <MudTd @onclick="() => DownloadFileFromURL_CCP(context.ID_DOC, context.Nombre)" Class="mud-td-hover d-flex align-center">
                                                        <MudItem style="text-align:center; display: flex; justify-content: center;" Class="mt-5">
                                                            @switch (context.Extension)
                                                            {
                                                                case "pdf":
                                                                    <img src="Images/pdf.png" Height="35" Width="35" />
                                                                    break;
                                                                case "doc":
                                                                    <img src="Images/doc.png" Height="35" Width="35" />
                                                                    break;
                                                                case "docx":
                                                                    <img src="Images/docx.png" Height="35" Width="35" />
                                                                    break;
                                                                case "ppt":
                                                                    <img src="Images/ppt.png" Height="35" Width="35" />
                                                                    break;
                                                                case "pptx":
                                                                    <img src="Images/pptx.png" Height="35" Width="35" />
                                                                    break;
                                                                case "xls":
                                                                    <img src="Images/xls.png" Height="35" Width="35" />
                                                                    break;
                                                                case "xlsx":
                                                                    <img src="Images/xlsx.png" Height="35" Width="35" />
                                                                    break;
                                                                case "jpg":
                                                                    <img src="Images/jpg.png" Height="35" Width="35" />
                                                                    break;
                                                                case "jpeg":
                                                                    <img src="Images/jpg.png" Height="35" Width="35" />
                                                                    break;
                                                                case "png":
                                                                    <img src="Images/png.png" Height="35" Width="35" />
                                                                    break;
                                                                case "gif":
                                                                    <img src="Images/gif.png" Height="35" Width="35" />
                                                                    break;
                                                                default:
                                                                    <img src="Images/error.png" Height="35" Width="35" />
                                                                    break;
                                                            }
                                                            <MudTooltip Text="Download" Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="true">
                                                                <MudButton OnClick="() => DownloadFileFromURL_CCP(context.ID_DOC, context.Nombre)">
                                                                    <MudItem>
                                                                        <MudChip Size="Size.Small" Variant="Variant.Text" Style="cursor:pointer;max-width: 280px; white-space: normal; overflow-wrap: break-word;" Icon="@Icons.Material.Filled.Download" Text="@context.Nombre" Color="Color.Info" />
                                                                    </MudItem>
                                                                </MudButton>
                                                            </MudTooltip>
                                                        </MudItem>

                                                    </MudTd>
                                                </RowTemplate>
                                            </MudTable>
                                        }
                                    }
                                }
                            }
                        </MudPaper>
                    </ChildContent>
                </MudTabPanel>
            }
        </MudTabs>
    }



 
}
