@page "/headCount"

@using System.Net.Http.Headers;
@using System.Runtime.CompilerServices;
@inject IStringLocalizer<Resource> Localizer
@inject IStringLocalizer<Resource1> Localizer1
@inject IHeadCountService HeadCountServices
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

@*Title*@
<PageTitle>Supervisor Mobility | @Localizer1["HeadcountTitle"]</PageTitle>
@*Breadcrumb links*@
<MudBreadcrumbs Class="mb-2" Items="_links">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
    </ItemTemplate>
</MudBreadcrumbs>

<MudTabs @ref="tabs" Elevation="4" Color="@Color.Info" TabPanelClass="px-10 mx-10" Rounded="true" ApplyEffectsToContainer="true" Centered="true">

    <MudTabPanel @ref="panel01_Upload" Icon="@Icons.Material.Filled.UploadFile" Text="@Localizer1["UploadHeadCount"]" BadgeData='"🡩"' BadgeColor="Color.Success">
        <ChildContent>
            <MudContainer Fixed="true" Class="py-3 mt-10">
                <MudGrid>
                    <MudItem xs="2" xl="2" class="align-center justify-center mud-width-full">
                        <MudImage Src="Images/uploadcloud.png" Alt="Imagen Upload Clou" Height="120" Width="120"></MudImage>

                    </MudItem>
                    <MudItem id="Upload" xs="10" xl="10" class="d-flex flex-column">
                        <MudItem Class="d-flex flex-row align-center justify-center mud-width-full">


                            <MudSpacer />
                            <MudItem class="d-flex flex-column flex-column justify-center" style="height:100% ;     max-width: 60vw;    min-width: 40vw;">


                                @if (showLoading)
                                {
                                    <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
                                        <ItemTemplate>
                                            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                                                <MudItem class="d-flex flex-column justify-center align-self-center">
                                                    <MudProgressCircular Color="@_Colors[context.IndexOf(context)]" Style="height:70px;width:70px;" Indeterminate="true" />
                                                </MudItem>
                                                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                                                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@context</MudText>
                                            </div>
                                        </ItemTemplate>
                                    </MudCarousel>
                                }
                                @if (showUpload)
                                {
                                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                }
                            </MudItem>
                            <MudSpacer />


                        </MudItem>
                        <MudItem Class="d-flex flex-column align-center justify-center">
                            @*File Upload*@
                            <MudItem Class="d-flex flex-row align-center justify-center mud-width-full">
                                <InputFile id="input" OnChange="@OnChange" hidden single></InputFile>



                            </MudItem>
                            <MudItem Class="d-flex flex-row align-center justify-center mud-width-full">
                                <MudTextField Class="flex-initial d-flex flex-grow-1 px-9" Width="60%" @bind-Value="@FileName" Label="File Name" Variant="Variant.Outlined" Disabled="true" />
                                <MudButton Class="flex-initial d-flex flex-grow-0 px-9 py-2" Width="20%"
                                           HtmlTag="label"
                                           Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           StartIcon="@Icons.Material.Filled.CloudUpload"
                                           for="input">
                                    @Localizer1["ACUploadFiles"]
                                </MudButton>
                            </MudItem>
                        </MudItem>
                    </MudItem>
                </MudGrid>

                <MudItem Class="d-flex flex-row align-center justify-center mud-width-full">
                    <MudStack Style="width: 80%">
                        <MudFileUpload T="IReadOnlyList<IBrowserFile>" OnFilesChanged="OnChange" Hidden="false" Class="flex-1" InputClass="absolute mud-width-full mud-height-full overflow-hidden z-20" InputStyle="opacity:0"
                        @ondragenter="@SetDragClass" @ondragleave="@ClearDragClass" @ondragend="@ClearDragClass">
                            <ButtonTemplate Context="DragAndDrop">
                                <MudPaper Height="200px" Outlined="true" Class="@DragClass">
                                    <MudText Typo="Typo.h6">@Localizer1["DragAndDrop"]</MudText>
                                    @foreach (var file in fileNames)
                                    {
                                        <MudItem style="text-align:center" Class="d-flex justify-center flex-column align-content-center align-center">
                                            <MudText Typo="Typo.h6">@file.message</MudText>

                                            @switch (file.ftype)
                                            {
                                                case "xls":
                                                    <img src="Images/xls.png" Height="70" Width="70" />
                                                    break;
                                                case "xlsx":
                                                    <img src="Images/xlsx.png" Height="70" Width="70" />
                                                    break;
                                                case "csv":
                                                    <img src="Images/csv.png" Height="70" Width="70" />
                                                    break;
                                                default:
                                                    <img src="Images/error.png" Height="70" Width="70" />
                                                    break;
                                            }

                                            <MudChip Color="Color.Info" Text="@file.name" />
                                        </MudItem>
                                    }
                                </MudPaper>
                            </ButtonTemplate>
                        </MudFileUpload>
                    </MudStack>
                </MudItem>
                <MudItem Class="d-flex flex-row align-center justify-center mud-width-full">
                    <MudStack Style="width: 80%">
                        <MudToolBar DisableGutters="true" Class="gap-4">
                            <MudButton OnClick="@(() => UploadFunction(showUpload = true))" Disabled="@(!fileNames.Any())" Color="Color.Primary" Variant="Variant.Filled">@Localizer1["UploadHeadCount"]</MudButton>
                            <MudButton OnClick="Clear" Disabled="@(!fileNames.Any())" Color="Color.Error" Variant="Variant.Filled">@Localizer1["ClearFileHeadCount"]</MudButton>
                        </MudToolBar>
                    </MudStack>
                </MudItem>


            </MudContainer>
        </ChildContent>
    </MudTabPanel>
    <MudTabPanel @ref="panel02_View" Icon="@Icons.Material.Filled.BubbleChart" Text="@Localizer1["ViewHeadCount"]" OnClick="InstanceData">
        <ChildContent>

            @if (showLoading)
            {

                <MudCarousel Class="mud-width-full styled-table table-striped" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
                    <ItemTemplate>
                        <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                            <MudItem class="d-flex flex-column justify-center align-self-center">
                                <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                            </MudItem>
                            @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                            <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
                        </div>
                    </ItemTemplate>
                </MudCarousel>

                <MudSimpleTable Class="styled-table table-striped" FixedHeader=true>
                    <thead>
                        <tr>
                            <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                            <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                            <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                            <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                            <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                            <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                            <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                        </tr>
                        <tr>
                            <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                            <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                            <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                            <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                        </tr>
                        <tr>
                            <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                            <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                            <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                            <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                        </tr>
                        <tr>
                            <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                            <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                            <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                            <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                        </tr>
                        <tr>
                            <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                            <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                            <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                            <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /> <MudSpacer />   <MudSkeleton SkeletonType="SkeletonType.Rectangle" /> <MudSpacer />  <MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                        </tr>

                    </tbody>
                </MudSimpleTable>

            }
            else
            {
                @if (HeadCountData?.Count == 0)
                {
                    <MudItem Align="Align.Center" Class="d-flex align-center justify-center  mud-width-full mt-10">
                        <MudItem Align="Align.Center" Class="flex d-flex-row align-center justify-center">
                            <img src="Images/navegador.png" Height="140" Width="140" />
                        </MudItem>

                        <MudItem Align="Align.Center" Class="flex d-flex-row align-center justify-center">

                            <MudText Typo="Typo.h4" Align="Align.Center" Label="Name">@Localizer1["NoHCDataTitle"]</MudText>

                            <MudItem Class="d-flex flex-column align-center justify-center pa-3 ma-2">
                                <MudText Typo="Typo.h6" Align="Align.Center" Label="Name">@Localizer1["NoHCDataMsg"]</MudText>
                            </MudItem>
                        </MudItem>
                    </MudItem>
                }
                else
                {
                    <MudTable SortLabel="SortBy" Hover="true" Breakpoint="Breakpoint.Sm"
                              Items="@HeadCountData" Filter="@_quickFilter"
                              GroupBy="@_groupDefinition"
                              GroupHeaderStyle="background-color:var(--mud-palette-background-grey)"
                              GroupFooterClass="mb-4"
                              Dense="true" FixedHeader="true"
                              Virtualize="true" 
                              RowClassFunc="@SelectedRowClassFunc" @ref="ReferenceGrid"
                              Height="65vh" HorizontalScrollbar="true" Class="mud-width-full styled-table table-striped">
                        <ColGroup>
                            <col style="width: 60px;" />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                        </ColGroup>
                        <ToolBarContent>
            <MudText Typo="Typo.h6" Align="Align.Center"></MudText>
            <MudSpacer />
            <MudTextField @bind-Value="@_searchString" Placeholder=@Localizer["search"] Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mb-2"></MudTextField>
            <MudSpacer />
            <MudText Typo="Typo.h6" Align="Align.Center"></MudText>
        </ToolBarContent>
                        <HeaderContent>
                            <MudTh>                                <MudTableSortLabel SortBy="new Func<HeadCount, object>(x=>x.HeadCountId)" Enabled="true">@Localizer1["HCId"]</MudTableSortLabel></MudTh>
                            <MudTh>                                <MudTableSortLabel SortBy="new Func<HeadCount, object>(x=>x.Codigo)" Enabled="true">@Localizer1["HCSSFF"]</MudTableSortLabel></MudTh>
                            <MudTh>                                <MudTableSortLabel SortBy="new Func<HeadCount, object>(x=>x.CO)" Enabled="true">@Localizer1["HCCO"]</MudTableSortLabel></MudTh>
                            <MudTh>                                <MudTableSortLabel SortBy="new Func<HeadCount, object>(x=>x.ID_Area)" Enabled="true">@Localizer1["HCIDAreaCompas"]</MudTableSortLabel></MudTh>
                            <MudTh>                                <MudTableSortLabel SortBy="new Func<HeadCount, object>(x=>x.Nombre_Area)" Enabled="true">@Localizer1["HCNameAreaCompas"]</MudTableSortLabel></MudTh>
                            <MudTh>                                <MudTableSortLabel SortBy="new Func<HeadCount, object>(x=>x.Cost_center)" Enabled="true">@Localizer1["HCCostCenter"]</MudTableSortLabel></MudTh>
                            <MudTh>                                <MudTableSortLabel SortBy="new Func<HeadCount, object>(x=>x.ID_Departamento)" Enabled="true">@Localizer1["HCIDDepartamentoCompas"]</MudTableSortLabel></MudTh>
                            <MudTh>                                <MudTableSortLabel SortBy="new Func<HeadCount, object>(x=>x.Nombre_Departamento)" Enabled="true">@Localizer1["HCNameDepartamentoCompas"]</MudTableSortLabel></MudTh>
                            <MudTh>                                <MudTableSortLabel SortBy="new Func<HeadCount, object>(x=>x.ID_subarea)" Enabled="true">@Localizer1["HCIDSubAreaCompas"]</MudTableSortLabel></MudTh>
                            <MudTh>                                <MudTableSortLabel SortBy="new Func<HeadCount, object>(x=>x.nombre_subarea)" Enabled="true">@Localizer1["HCNameSubAreaCompas"]</MudTableSortLabel></MudTh>
                            <MudTh>                                <MudTableSortLabel SortBy="new Func<HeadCount, object>(x=>x.Fuction_Type)" Enabled="true">@Localizer1["HCFuncionCompas"]</MudTableSortLabel></MudTh>
                            <MudTh>                                <MudTableSortLabel SortBy="new Func<HeadCount, object>(x=>x.Nivel)" Enabled="true">@Localizer1["HCNivelEmpleado"]</MudTableSortLabel></MudTh>
                            <MudTh>                                <MudTableSortLabel SortBy="new Func<HeadCount, object>(x=>x.Group)" Enabled="true">@Localizer1["HCGrupo"]</MudTableSortLabel></MudTh>
                            <MudTh>                                <MudTableSortLabel SortBy="new Func<HeadCount, object>(x=>x.BUDGET)" Enabled="true">@Localizer1["HCROR/Offline"]</MudTableSortLabel>                            </MudTh>
                            <MudTh>                                <MudTableSortLabel SortBy="new Func<HeadCount, object>(x=>x.RTO)" Enabled="true">@Localizer1["HCRTO"]</MudTableSortLabel></MudTh>
                            <MudTh>                                <MudTableSortLabel SortBy="new Func<HeadCount, object>(x=>x.HC)" Enabled="true">@Localizer1["HCSSF"]</MudTableSortLabel></MudTh>
                            <MudTh>                                <MudTableSortLabel SortBy="new Func<HeadCount, object>(x=>x.Comentarios)" Enabled="true">@Localizer1["HCComentario"]</MudTableSortLabel></MudTh>
                            <MudTh>                                <MudTableSortLabel SortBy="new Func<HeadCount, object>(x=>x.LABOR_TYPE)" Enabled="true">@Localizer1["HCTipoContratacion"]</MudTableSortLabel></MudTh>
                            <MudTh>                                <MudTableSortLabel SortBy="new Func<HeadCount, object>(x=>x.Fecha_de_alta)" Enabled="true">@Localizer1["HCFechaAlta"]</MudTableSortLabel></MudTh>
                            <MudTh>                                <MudTableSortLabel SortBy="new Func<HeadCount, object>(x=>x.UserUploadId)" Enabled="true">@Localizer1["HCUserAlta"]</MudTableSortLabel></MudTh>
                        </HeaderContent>
                        <GroupHeaderTemplate>
                            <MudTh Class="mud-table-cell-custom-group" colspan="20">@($"{context.GroupName}: {context.Key}") </MudTh>
                        </GroupHeaderTemplate>
                        <RowTemplate>
                            <MudTd DataLabel="@Localizer1["HCId"]">@context.HeadCountId </MudTd>
                            <MudTd DataLabel="@Localizer1["HCSSFF"]">@context.Codigo </MudTd>
                            <MudTd DataLabel="@Localizer1["HCCO"]">@context.CO </MudTd>
                            <MudTd DataLabel="@Localizer1["HCIDAreaCompas"]">@context.ID_Area </MudTd>
                            <MudTd DataLabel="@Localizer1["HCNameAreaCompas"]">@context.Nombre_Area </MudTd>
                            <MudTd DataLabel="@Localizer1["HCCostCenter"]">@context.Cost_center </MudTd>
                            <MudTd DataLabel="@Localizer1["HCIDDepartamentoCompas"]">@context.ID_Departamento </MudTd>
                            <MudTd DataLabel="@Localizer1["HCNameDepartamentoCompas"]">@context.Nombre_Departamento </MudTd>
                            <MudTd DataLabel="@Localizer1["HCIDSubAreaCompas"]">@context.ID_subarea </MudTd>
                            <MudTd DataLabel="@Localizer1["HCNameSubAreaCompas"]">@context.nombre_subarea </MudTd>
                            <MudTd DataLabel="@Localizer1["HCFuncionCompas"]">@context.Fuction_Type </MudTd>
                            <MudTd DataLabel="@Localizer1["HCNivelEmpleado"]">@context.Nivel </MudTd>
                            <MudTd DataLabel="@Localizer1["HCGrupo"]">@context.Group </MudTd>
                            <MudTd DataLabel="@Localizer1["HCROR/Offline"]">@context.BUDGET </MudTd>
                            <MudTd DataLabel="@Localizer1["HCRTO"]">@context.RTO </MudTd>
                            <MudTd DataLabel="@Localizer1["HCSSF"]">@context.HC </MudTd>
                            <MudTd DataLabel="@Localizer1["HCComentario"]">@context.Comentarios </MudTd>
                            <MudTd DataLabel="@Localizer1["HCTipoContratacion"]">@context.LABOR_TYPE </MudTd>
                            <MudTd DataLabel="@Localizer1["HCFechaAlta"]">@context.Fecha_de_alta </MudTd>
                            <MudTd DataLabel="@Localizer1["HCUserAlta"]">@context.Usuario_de_alta </MudTd>
                        </RowTemplate>
                        <GroupFooterTemplate>
                            <MudTh Class="mud-table-cell-custom-group mud-table-cell-custom-group-footer" colspan="5">Total Items: @context.Items.Count()</MudTh>
                        </GroupFooterTemplate>
                    </MudTable>

                    @* <MudDataGrid T="HeadCount" Items="@HeadCountData" SortMode="SortMode.Multiple" Filterable="true" QuickFilter="@_quickFilter" FixedHeader="true"
            Hideable="true" RowClick="@RowClicked" Virtualize="true" @ref="ReferenceGrid" RowClassFunc="SelectedRowClassFunc"
            Height="60vh" HorizontalScrollbar="true" Class="mud-width-full styled-table table-striped">
            <ToolBarContent>
            <MudText Typo="Typo.h6">Headcount Report</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
            AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <Columns>
            <TemplateColumn>
            <CellTemplate>
            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@(() => StartedEditing(context.Item))" />
            </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.HeadCountId" Title="@Localizer1["HCId"]" Sortable="false" Filterable="false" />
            <PropertyColumn Property="x => x.Codigo" Title="@Localizer1["HCSSFF"]" />
            <PropertyColumn Property="x => x.CO" Title="@Localizer1["HCCO"]" />
            <PropertyColumn Property="x => x.ID_Area" Title="@Localizer1["HCIDAreaCompas"]" />
            <PropertyColumn Property="x => x.Nombre_Area" Title="@Localizer1["HCNameAreaCompas"]" />
            <PropertyColumn Property="x => x.Cost_center" Title="@Localizer1["HCCostCenter"]" />
            <PropertyColumn Property="x => x.ID_Departamento" Title="@Localizer1["HCIDDepartamentoCompas"]" />
            <PropertyColumn Property="x => x.Nombre_Departamento" Title="@Localizer1["HCNameDepartamentoCompas"]" />
            <PropertyColumn Property="x => x.ID_subarea" Title="@Localizer1["HCIDSubAreaCompas"]" />
            <PropertyColumn Property="x => x.nombre_subarea" Title="@Localizer1["HCNameSubAreaCompas"]" />
            <PropertyColumn Property="x => x.Fuction_Type" Title="@Localizer1["HCFuncionCompas"]" />
            <PropertyColumn Property="x => x.Nivel" Title="@Localizer1["HCNivelEmpleado"]" />
            <PropertyColumn Property="x => x.Group" Title="@Localizer1["HCGrupo"]" />
            <PropertyColumn Property="x => x.BUDGET" Title="@Localizer1["HCROR/Offline"]" />
            <PropertyColumn Property="x => x.RTO" Title="@Localizer1["HCRTO"]" />
            <PropertyColumn Property="x => x.HC" Title="@Localizer1["HCSSF"]" />
            <PropertyColumn Property="x => x.Comentarios" Title="@Localizer1["HCComentario"]" />
            <PropertyColumn Property="x => x.LABOR_TYPE" Title="@Localizer1["HCTipoContratacion"]" />
            <PropertyColumn Property="x => x.Fecha_de_alta" Title="@Localizer1["HCFechaAlta"]" />
            <PropertyColumn Property="x => x.Usuario_de_alta" Title="@Localizer1["HCUserAlta"]" />
            </Columns>
            <PagerContent>
            <MudDataGridPager T="HeadCount" />
            </PagerContent>
            </MudDataGrid>
            *@
                }





            }
        </ChildContent>
    </MudTabPanel>
    <MudTabPanel @ref="panel03_Edit" Icon="@Icons.Material.Filled.Edit" Text="@Localizer1["EditHeadCout"]" BadgeData='"🡣"' BadgeColor="Color.Warning">
        <ChildContent>
            @if (_IdUpdate != -1)
            {
                <MudPaper Class="pa-6" Elevation="1" MaxHeight="70vh" Style="overflow-x: scroll;">
                    <EditForm Model="_headCountUpdate" OnValidSubmit="UpdateHeadCountFunc" @bind-IsValid="@success">
                        <MudTextField T="int" Label="@Localizer1["HCId"]" Required="true" RequiredError="@Localizer1["HCIdError"]" Validation="@(new Func<int, string>(IntGreaterThanZero))"
                        @bind-Value="_headCountUpdate.Codigo" For="@(() => _headCountUpdate.Codigo)" />
                        <MudTextField T="string" Label="@Localizer1["HCCO"]" Required="true" RequiredError="@Localizer1["HCCOError"]" Validation="@(new Func<string, string>(StringNoNull))"
                        @bind-Value="_headCountUpdate.CO" For="@(() => _headCountUpdate.CO)" />

                        <MudTextField T="int?" Label="@Localizer1["HCIDAreaCompas"]" Required="true" RequiredError="@Localizer1["HCIDAreaCompasError"]" Validation="@(new Func<int, string>(IntGreaterThanZero))"
                        @bind-Value="_headCountUpdate.ID_Area" For="@(() => _headCountUpdate.ID_Area)" />
                        <MudTextField T="string" Label="@Localizer1["HCNameAreaCompas"]" Required="true" RequiredError="@Localizer1["HCNameAreaCompasError"]" Validation="@(new Func<string, string>(StringNoNull))"
                        @bind-Value="_headCountUpdate.Nombre_Area" For="@(() => _headCountUpdate.Nombre_Area)" />


                        <MudTextField T="int?" Label="@Localizer1["HCCostCenter"]" Required="true" RequiredError="@Localizer1["HCCostCenterError"]" Validation="@(new Func<int, string>(IntGreaterThanZero))"
                        @bind-Value="_headCountUpdate.Cost_center" For="@(() => _headCountUpdate.Cost_center)" />
                        <MudTextField T="string" Label="@Localizer1["HCIDDepartamentoCompas"]" Required="true" RequiredError="@Localizer1["HCIDDepartamentoCompasError"]" Validation="@(new Func<string, string>(StringNoNull))"
                        @bind-Value="_headCountUpdate.ID_Departamento" For="@(() => _headCountUpdate.ID_Departamento)" />
                        <MudTextField T="string" Label="@Localizer1["HCNameDepartamentoCompas"]" Required="true" RequiredError="@Localizer1["HCNameDepartamentoCompasError"]" Validation="@(new Func<string, string>(StringNoNull))"
                        @bind-Value="_headCountUpdate.Nombre_Departamento" For="@(() => _headCountUpdate.Nombre_Departamento)" />

                        <MudTextField T="int?" Label="@Localizer1["HCIDSubAreaCompas"]" Required="true" RequiredError="@Localizer1["HCIDSubAreaCompasError"]" Validation="@(new Func<int, string>(IntGreaterThanZero))"
                        @bind-Value="_headCountUpdate.ID_subarea" For="@(() => _headCountUpdate.ID_subarea)" />
                        <MudTextField T="string" Label="@Localizer1["HCNameSubAreaCompas"]" Required="true" RequiredError="@Localizer1["HCNameSubAreaCompasError"]" Validation="@(new Func<string, string>(StringNoNull))"
                        @bind-Value="_headCountUpdate.nombre_subarea" For="@(() => _headCountUpdate.nombre_subarea)" />
                        <MudTextField T="string" Label="@Localizer1["HCFuncionCompas"]" Required="true" RequiredError="@Localizer1["HCFuncionCompasError"]" Validation="@(new Func<string, string>(StringNoNull))"
                        @bind-Value="_headCountUpdate.Fuction_Type" For="@(() => _headCountUpdate.Fuction_Type)" />


                        <MudTextField T="string" Label="@Localizer1["HCNivelEmpleado"]" Required="true" RequiredError="@Localizer1["HCNivelEmpleadoError"]" Validation="@(new Func<string, string>(StringNoNull))"
                        @bind-Value="_headCountUpdate.Nivel" For="@(() => _headCountUpdate.Nivel)" />
                        <MudTextField T="string" Label="@Localizer1["HCGrupo"]" Required="true" RequiredError="@Localizer1["HCGrupoError"]" Validation="@(new Func<string, string>(StringNoNull))"
                        @bind-Value="_headCountUpdate.Group" For="@(() => _headCountUpdate.Group)" />
                        <MudTextField T="string" Label="@Localizer1["HCROR/Offline"]" Required="true" RequiredError="@Localizer1["HCROR/OfflineError"]" Validation="@(new Func<string, string>(StringNoNull))"
                        @bind-Value="_headCountUpdate.BUDGET" For="@(() => _headCountUpdate.BUDGET)" />
                        <MudTextField T="string" Label="@Localizer1["HCRTO"]" Required="true" RequiredError="@Localizer1["HCRTOError"]" Validation="@(new Func<string, string>(StringNoNull))"
                        @bind-Value="_headCountUpdate.RTO" For="@(() => _headCountUpdate.RTO)" />

                        <MudTextField T="int?" Label="@Localizer1["HCSSF"]" Required="true" RequiredError="@Localizer1["HCSSFError"]" Validation="@(new Func<int, string>(IntGreaterThanZero))"
                        @bind-Value="_headCountUpdate.HC" For="@(() => _headCountUpdate.HC)" />
                        <MudTextField T="string" Label="@Localizer1["HCComentario"]" @bind-Value="_headCountUpdate.Comentarios" For="@(() => _headCountUpdate.Comentarios)" />
                        <MudTextField T="string" Label="@Localizer1["HCTipoContratacion"]" Required="true" RequiredError="@Localizer1["HCTipoContratacionError"]" Validation="@(new Func<string, string>(StringNoNull))"
                        @bind-Value="_headCountUpdate.LABOR_TYPE" For="@(() => _headCountUpdate.LABOR_TYPE)" />


                        <div class="d-flex align-center justify-space-between">
                            <MudCheckBox T="bool" Required="true" @bind-Checked="@success" RequiredError="@Localizer1["HCErrorAcept"]" Label="@Localizer1["HCAcept"]" />
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" ButtonType="ButtonType.Submit" Class="ml-auto">@Localizer["save"]</MudButton>
                        </div>
                    </EditForm>
                </MudPaper>

            }
            else
            {
                <MudItem Align="Align.Center" Class="d-flex align-center justify-center  mud-width-full mt-10">
                    <MudItem Align="Align.Center" Class="flex d-flex-row align-center justify-center">
                        <img src="Images/navegador.png" Height="140" Width="140" />
                    </MudItem>

                    <MudItem Align="Align.Center" Class="flex d-flex-row align-center justify-center">

                        <MudText Typo="Typo.h4" Align="Align.Center" Label="Name"> @Localizer1["HCEditTitle"] </MudText>

                        <MudItem Class="d-flex flex-column align-center justify-center pa-3 ma-2">
                            <MudText Typo="Typo.h6" Align="Align.Center" Label="Name">@Localizer1["HCEditMsg"]</MudText>
                        </MudItem>
                    </MudItem>
                </MudItem>
            }
        </ChildContent>
    </MudTabPanel>
   @*  <MudTabPanel @ref="panel04_Procces" Icon="@Icons.Material.Filled.Task" Text="@Localizer1["TitleProcess"]" BadgeData='"☰"' OnClick="@( () => StartProcess() )">
        <ChildContent>
            <MudTabs @ref="tabsProcess" Elevation="4" Color="@Color.Info" TabPanelClass="px-10 mx-10" Rounded="true" ApplyEffectsToContainer="true" Centered="true">
                <MudTabPanel @ref="panel01_SeeAllProcess" Text="@Localizer1["SeeAllProcess"]" OnClick="@( () => StartProcess() )">
                    @if (showLoading)
                    {
                        <MudCarousel Class="mud-width-full styled-table table-striped" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
                            <ItemTemplate>
                                <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                                    <MudItem class="d-flex flex-column justify-center align-self-center">
                                        <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                                    </MudItem>
                                    
                                    <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
                                </div>
                            </ItemTemplate>
                        </MudCarousel>

                        <MudSimpleTable Class="styled-table table-striped" FixedHeader=true>
                            <thead>
                                <tr>
                                    <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                                    <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                                    <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                                    <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                                </tr>
                                <tr>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                                </tr>
                                <tr>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                                </tr>
                                <tr>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                                </tr>
                                <tr>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                                    <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /> <MudSpacer />   <MudSkeleton SkeletonType="SkeletonType.Rectangle" /> <MudSpacer />  <MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                                </tr>

                            </tbody>
                        </MudSimpleTable>

                    }
                    else
                    {
                        @if (_allProcess?.Count == 0)
                        {
                            <MudItem Align="Align.Center" Class="d-flex align-center justify-center  mud-width-full mt-10">
                                <MudItem Align="Align.Center" Class="flex d-flex-row align-center justify-center">
                                    <img src="Images/navegador.png" Height="140" Width="140" />
                                </MudItem>

                                <MudItem Align="Align.Center" Class="flex d-flex-row align-center justify-center">

                                    <MudText Typo="Typo.h4" Align="Align.Center" Label="Name">@Localizer1["NoHCProcessDataTitle"]</MudText>

                                    <MudItem Class="d-flex flex-column align-center justify-center pa-3 ma-2">
                                        <MudText Typo="Typo.h6" Align="Align.Center" Label="Name">@Localizer1["NoHCProcessDataMsg"]</MudText>
                                    </MudItem>
                                </MudItem>
                            </MudItem>
                        }
                        else
                        {
                            <MudDataGrid T="HeadCountProcess" Items="@_allProcess" SortMode="SortMode.Multiple" Filterable="true" QuickFilter="@_quickFilterProcess" FixedHeader="true"
                                         Hideable="true" RowClick="@RowClickedProcess" Virtualize="true" @ref="ReferenceGridProcess" RowClassFunc="SelectedRowProcessClassFunc"
                                         Height="60vh" HorizontalScrollbar="true" Class="mud-width-full styled-table table-striped">
                                <ToolBarContent>
                                    <MudText Typo="Typo.h6">Headcount Process</MudText>
                                    <MudSpacer />
                                    <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                                                  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                                </ToolBarContent>
                                <Columns>
                                    <TemplateColumn>
                                        <CellTemplate>
                                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@(() => StartedEditingProcess(context.Item))" />
                                        </CellTemplate>
                                    </TemplateColumn>
                                    <PropertyColumn Property="x => x.HeadCountProcessId" Title="@Localizer1["HCProcessId"]" Sortable="false" Filterable="false" />
                                    <PropertyColumn Property="x => x.Process" Title="@Localizer1["HCProcess"]" />
                                </Columns>
                                <PagerContent>
                                    <MudDataGridPager T="HeadCountProcess" />
                                </PagerContent>
                            </MudDataGrid>

                        }

                    }
                </MudTabPanel>
                <MudTabPanel @ref="panel02_ViewEditProcess" Text="@(ProcessUpdate ? @Localizer1["EditProcess"] : @Localizer1["DetailsProcess"])">
                    @if (_IdUpdateProcess != -1)
                    {
                        @if (ProcessUpdate)
                        {
                            <MudPaper Class="pa-6" Elevation="1" MaxHeight="70vh" Style="overflow-x: scroll;">
                                <EditForm Model="ProcessSelected" OnValidSubmit="UpdateProcess" @bind-IsValid="@success">
                                    <MudTextField T="string" Label="@Localizer1["HCProcess"]" Required="true" RequiredError="@Localizer1["HCProcessError"]" Validation="@(new Func<string, string>(StringNoNull))"
                                    @bind-Value="ProcessSelected.Process" For="@(() => ProcessSelected.Process)" />

                                    <div class="d-flex align-center justify-space-between">
                                        <MudCheckBox T="bool" Required="true" @bind-Checked="@success" RequiredError="@Localizer1["HCErrorAcept"]" Label="@Localizer1["HCAcept"]" />
                                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" ButtonType="ButtonType.Submit" Class="ml-auto">@Localizer["save"]</MudButton>
                                    </div>
                                </EditForm>
                            </MudPaper>
                        }
                        else
                        {
                            <MudCard>
                                <MudCardHeader>
                                    <CardHeaderContent>
                                        <MudText Typo="Typo.h6">@Localizer1["HCProcessDetails"]</MudText>
                                    </CardHeaderContent>
                                    <CardHeaderActions>
                                        <MudChip @onclick="()=>ProcessUpdate = true" @ontouchstart="()=> ProcessUpdate = true" Variant="Variant.Filled" Class="ml-auto" Icon="@Icons.Material.Filled.Edit" Color="Color.Info">@Localizer1["HCProcessEdit"]</MudChip>
                                    </CardHeaderActions>
                                </MudCardHeader>


                                <MudCardContent>
                                    <MudItem Style="max-height: 70vh; min-width: 70vw; display: flex; flex-wrap: wrap; justify-content: center;" Class="gap-4">
                                        <MudText Align="Align.Center">@ProcessSelected.Process</MudText>
                                    </MudItem>
                                </MudCardContent>
                                <MudCardActions>
                                    <MudButton Variant="Variant.Filled" Class="ml-4" @onclick="(() => ProcessUpdate = true)">@Localizer["HCProcessEdit"]</MudButton>
                                </MudCardActions>
                            </MudCard>
                        }

                    }
                    else
                    {
                        @if (_allProcess?.Count == 0)
                        {
                            <MudItem Align="Align.Center" Class="d-flex align-center justify-center  mud-width-full mt-10">
                                <MudItem Align="Align.Center" Class="flex d-flex-row align-center justify-center">
                                    <img src="Images/navegador.png" Height="140" Width="140" />
                                </MudItem>

                                <MudItem Align="Align.Center" Class="flex d-flex-row align-center justify-center">

                                    <MudText Typo="Typo.h4" Align="Align.Center" Label="Name">@Localizer1["NoHCProcessDataTitle"]</MudText>

                                    <MudItem Class="d-flex flex-column align-center justify-center pa-3 ma-2">
                                        <MudText Typo="Typo.h6" Align="Align.Center" Label="Name">@Localizer1["NoHCProcessDataMsg"]</MudText>
                                    </MudItem>
                                </MudItem>
                            </MudItem>
                        }
                        else
                        {
                            <MudItem Align="Align.Center" Class="d-flex align-center justify-center  mud-width-full mt-10">
                                <MudItem Align="Align.Center" Class="flex d-flex-row align-center justify-center">
                                    <img src="Images/navegador.png" Height="140" Width="140" />
                                </MudItem>

                                <MudItem Align="Align.Center" Class="flex d-flex-row align-center justify-center">

                                    <MudText Typo="Typo.h4" Align="Align.Center" Label="Name">@Localizer1["NoHCProcessSelectTitle"]</MudText>

                                    <MudItem Class="d-flex flex-column align-center justify-center pa-3 ma-2">
                                        <MudText Typo="Typo.h6" Align="Align.Center" Label="Name">@Localizer1["NoHCProcessSelectMsg"]</MudText>
                                    </MudItem>
                                </MudItem>
                            </MudItem>
                        }
                    }
                </MudTabPanel>
                <MudTabPanel @ref="panel03_Create" Text="@Localizer1["CreateProcess"]" OnClick="@( () => ProcessUpdate = false)">
                    <MudPaper Class="pa-6" Elevation="1" MaxHeight="70vh" Style="overflow-x: scroll;">
                        <EditForm Model="ProcessToCreate" OnValidSubmit="CreateProcess" @bind-IsValid="@success">
                            <MudTextField T="string" Label="@Localizer1["HCProcess"]" Required="true" RequiredError="@Localizer1["HCProcessError"]" Validation="@(new Func<string, string>(StringNoNull))"
                            @bind-Value="ProcessToCreate.Process" For="@(() => ProcessToCreate.Process)" />

                            <div class="d-flex align-center justify-space-between">
                                <MudCheckBox T="bool" Required="true" @bind-Checked="@success" RequiredError="@Localizer1["HCErrorAcept"]" Label="@Localizer1["HCAcept"]" />
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" ButtonType="ButtonType.Submit" Class="ml-auto">@Localizer["save"]</MudButton>
                            </div>
                        </EditForm>
                    </MudPaper>
                </MudTabPanel>
            </MudTabs>
        </ChildContent>
    </MudTabPanel> *@
</MudTabs>

<MudDialog DisableSidePadding="false" @bind-IsVisible="DialgUploadDocumentOk" Options="dialogOptions">
    <DialogContent>
        <MudContainer Style="max-height: 80vh; overflow-y: scroll; display: flex; flex-wrap: wrap;" Class="gap-4">
            <MudItem xs="12" sm="12" lg="12" md="12" Style="text-align: center">
                <MudText Typo="Typo.h6">
                    Documento Cargado Con Exito
                </MudText>
                <MudText>
                    Se esta procesando, se te notificara mediante una notificacion y mediante un correo.
                </MudText>
                </MudItem>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        @*<MudIconButton @onclick="(() => JobObservationUpdate(jobId))" Color="Color.Info" Icon="@Icons.Material.Filled.Edit"></MudIconButton>*@
        <MudButton Color="Color.Info" OnClick="@(() => NavigationManager.NavigateTo("newhome") )" >Entendido, Go Home</MudButton>
    </DialogActions>
</MudDialog>


@code {

    private List<BreadcrumbItem> _links;

    //Objects to Interacting with the archive upload Name display
    private string FileName;
    private string ErrorMessageToDisplay;
    private IBrowserFile? FileSource;

    //Animation Loading data
    private IList<string> _sourceMsgLoading = new List<string>();
    private IList<Color> _Colors = new List<Color>() { Color.Default, Color.Primary, Color.Secondary, Color.Success, Color.Info, Color.Default, Color.Primary, Color.Secondary, Color.Success, Color.Info };
    private bool showLoading = true;



    //drag and drop
    private static string DefaultDragClass = "d-flex flex-column align-center justify-center relative rounded-lg border-2 border-dashed pa-4 mt-4 mud-width-full mud-height-full z-10";
    private string DragClass = DefaultDragClass;
    private List<FileToDisplay> fileNames = new List<FileToDisplay>();
    private bool showUpload = false;

    //muddata grid
    private List<HeadCount>? HeadCountData = new List<HeadCount>();
    private string _searchString;
    private bool _sortNameByLength;

    //Edicion
    private bool _AfterUpdate = false;
    private int _IdUpdate = -1;
    private int _IdUpdateProcess = -1;
    private HeadCount _headCountUpdate = new();
    private bool success = false;
    EditForm formEdit;

    //dialog Aviso Carga documet
    private bool DialgUploadDocumentOk = false;
    private DialogOptions dialogOptions = new() { CloseOnEscapeKey = true, DisableBackdropClick = true, CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true, };

    //mudtabs
    MudTabs tabs;
    MudTabPanel panel01_Upload;
    MudTabPanel panel02_View;
    MudTabPanel panel03_Edit;
    MudTabPanel panel04_Procces;

    MudTabs tabsProcess;
    MudTabPanel panel01_SeeAllProcess;
    MudTabPanel panel02_ViewEditProcess;
    MudTabPanel panel03_Create;
    //User
    private string json = string.Empty;
    public User loggedUser = new();

    //Headcount
    private bool ProcessUpdate = false;
    private List<HeadCountProcess> _allProcess = new();
    private HeadCountProcess? ProcessSelected = null;
    private HeadCountProcess ProcessToCreate = new();

    //table
    private TableGroupDefinition<HeadCount> _groupDefinition = new()
        {
            GroupName = "Group",
            Indentation = false,
            Expandable = true,
            IsInitiallyExpanded = false,
            Selector = (e) => e.Nombre_Departamento
        };

    private class FileToDisplay
    {
        public string name { get; set; }
        public string ftype { get; set; }
        public string message { get; set; }
    }


    protected async override Task OnInitializedAsync()
    {
        _sourceMsgLoading.Add($"{Localizer1["Loading1"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading2"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading3"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading4"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading5"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading6"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading7"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading8"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading9"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading10"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading11"]}");

        _links = new List<BreadcrumbItem>
            {
                new BreadcrumbItem(text: Localizer["home"], href: "#"),
                new BreadcrumbItem(text: Localizer["configuration"], href: "/configuration"),
                new BreadcrumbItem(text: Localizer["HeadCount"], href: "/HeadCount", disabled: true),
            };
        try
        {
            await GetUserAsync();
        }
        catch (Exception ex) { }
        finally
        {
            showLoading = false;
        }



    }//end OnInitialized

    private async Task GetUserAsync()
    {
        if (!await TryGetAsync())
            loggedUser = new();
    }

    private async Task<bool> TryGetAsync()
    {
        bool hasProperty = await HasPropertyAsync();
        if (hasProperty)
        {
            json = await JS.InvokeAsync<string>("localStorage.getItem", "user");
            loggedUser = JsonSerializer.Deserialize<User>(json) ?? new();
        }
        return hasProperty;
    }

    private async Task<bool> HasPropertyAsync()
        => await JS.InvokeAsync<bool>("localStorage.hasOwnProperty", "user");

    async Task OnChange(InputFileChangeEventArgs e)
    {
        showUpload = true;
        //Clear Data
        FileName = string.Empty;
        FileSource = null;
        await Clear();

        //Assign new data
        FileName = e.File.Name;
        FileSource = e.File;

        fileNames.Add(new FileToDisplay() { name = FileName, ftype = FileName.Split(".").Last() });


        using var content = new MultipartFormDataContent();

        var fileContent = new StreamContent(e.File.OpenReadStream(509600000));
        fileContent.Headers.ContentType = new MediaTypeHeaderValue(e.File.ContentType);

        MemoryStream ms = new MemoryStream();
        await fileContent.CopyToAsync(ms);

        showUpload = false;


    }//end function on change

    async void UploadFunction(bool overlord)
    {

        showLoading = true;
        base.StateHasChanged();
        await Task.Delay(50);
        using var content = new MultipartFormDataContent();

        if (FileSource is not null)
        {

            var fileContent = new StreamContent(FileSource.OpenReadStream(509600000));
            fileContent.Headers.ContentType = new MediaTypeHeaderValue(FileSource.ContentType);

            content.Add(
            content: fileContent,
            name: "\"file\"",
            fileName: FileSource.Name);

            var newUploadResults = await HeadCountServices.UploadHeadCount(content, loggedUser.UserId);

            if (newUploadResults is not null)
            {

                ErrorMessageToDisplay = "Upload Data Succesfull";

                showLoading = false;
                showUpload = false;
                DialgUploadDocumentOk = true;

                base.StateHasChanged();

                //aqui va el dialogo para mostrar al usuario

                //Se esta procesando el documento
                //se notificara mediante notificacion de supervisor y se enviara un correo (Mostrar correo)


                // InstanceData();
                // tabs.ActivatePanel(panel02_View);
            }
            else
            {
                ErrorMessageToDisplay = $"{@Localizer1["HCFailUpload"]}";

                //error al subir el archivo
            }

        }
        else
        {
            ErrorMessageToDisplay = $"{@Localizer1["HCSourceNull"]}";
        }



    }//upload function

    private async Task Clear()
    {

        fileNames.Clear();
        ClearDragClass();
        await Task.Delay(100);
    }

    private void SetDragClass()
    {
        DragClass = $"{DefaultDragClass} mud-border-primary";
    }

    private void ClearDragClass()
    {
        DragClass = DefaultDragClass;
    }

    private Func<HeadCount, bool> _quickFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        if (x.HeadCountId.ToString().Contains(_searchString.ToLower(), StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.Codigo.ToString().Contains(_searchString.ToLower(), StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.Cost_center.ToString().Contains(_searchString.ToLower(), StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.ID_Area.ToString().Contains(_searchString.ToLower(), StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.ID_subarea.ToString().Contains(_searchString.ToLower(), StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.ID_Departamento.ToString().Contains(_searchString.ToLower(), StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.HC.ToString().Contains(_searchString.ToLower(), StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.Nombre_Area.Contains(_searchString.ToLower(), StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.Nombre_Departamento.Contains(_searchString.ToLower(), StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.nombre_subarea.Contains(_searchString.ToLower(), StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.Fuction_Type.ToLower().Contains(_searchString.ToLower(), StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.Nivel.ToLower().Contains(_searchString.ToLower(), StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.Group.ToLower().Contains(_searchString.ToLower(), StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.BUDGET.ToLower().Contains(_searchString.ToLower(), StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.RTO.ToLower().Contains(_searchString.ToLower(), StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.Comentarios.ToLower().Contains(_searchString.ToLower(), StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.LABOR_TYPE.ToLower().Contains(_searchString.ToLower(), StringComparison.OrdinalIgnoreCase))
            return true;
        if (x.Usuario_de_alta.ToLower().Contains(_searchString.ToLower(), StringComparison.OrdinalIgnoreCase))
            return true;




        //if ($"{x.Number} {x.Position} {x.Molar}".Contains(_searchString.ToLower()))
        //    return true;

        return false;
    };
    //filtro rapido


    private Func<HeadCountProcess, bool> _quickFilterProcess => x =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        if (x.HeadCountProcessId.ToString().Contains(_searchString.ToLower(), StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.Process.ToLower().Contains(_searchString.ToLower(), StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    };

    private int selectedRowNumber = -1;
    private MudTable<HeadCount> ReferenceGrid;
    private MudDataGrid<HeadCountProcess> ReferenceGridProcess;

    private void RowClickEvent(TableRowClickEventArgs<HeadCount> args)
    {
        // if (selectedRowNumber == args.RowIndex)
        // {

        //     selectedRowNumber = -1;

        //     if (ReferenceGrid.SelectedItem != null && ReferenceGrid.SelectedItem.Equals(args.Item))
        //     {
        //         _headCountUpdate = ObjectCloner.ObjectCloner.DeepClone(args.Item);
        //         tabs.ActivatePanel(panel03_Edit);
        //     }

        // }
        // else if (ReferenceGrid.SelectedItem != null && ReferenceGrid.SelectedItem.Equals(args.Item))
        // {
        //     _IdUpdate = args.Item.HeadCountId;
        //     _headCountUpdate = ObjectCloner.ObjectCloner.DeepClone(args.Item);
        //     selectedRowNumber = args.RowIndex;
        // }
        // else
        // {
        //     _IdUpdate = -1;
        //     selectedRowNumber = -1;
        // }        
    }

    private string SelectedRowClassFunc(HeadCount element, int rowNumber)
    {
        if (selectedRowNumber == rowNumber)
        {
            return "selected";
        }

        return string.Empty;
    }

    private void RowClickedProcess(DataGridRowClickEventArgs<HeadCountProcess> args)
    {
        
        if (selectedRowNumber == args.RowIndex)
        {

            selectedRowNumber = -1;

            if (ReferenceGridProcess.SelectedItem != null && ReferenceGridProcess.SelectedItem.Equals(args.Item))
            {
                ProcessSelected = ObjectCloner.ObjectCloner.DeepClone(args.Item);
                tabsProcess.ActivatePanel(panel02_ViewEditProcess);
            }

        }
        else if (ReferenceGridProcess.SelectedItem != null && ReferenceGridProcess.SelectedItem.Equals(args.Item))
        {
            _IdUpdateProcess = args.Item.HeadCountProcessId;
            ProcessSelected = ObjectCloner.ObjectCloner.DeepClone(args.Item);
            selectedRowNumber = args.RowIndex;
        }
        else
        {
            _IdUpdateProcess = -1;
            selectedRowNumber = -1;
        }

    }

   

    private string SelectedRowProcessClassFunc(HeadCountProcess element, int rowNumber)
    {

        if (selectedRowNumber == rowNumber)
        {
            return "selected";
        }

        return string.Empty;
    }//doble click table


    private async Task<AsyncVoidMethodBuilder> InstanceData()
    {

        try
        {
            showLoading = true;
            if (HeadCountData?.Count == 0)
            {
                HeadCountData = await HeadCountServices.GetAllHeadCout();
            }
            else if (_AfterUpdate)
            {
                var indexHead = HeadCountData.FindIndex(h => h.HeadCountId == _headCountUpdate.HeadCountId);
                HeadCountData[indexHead] = _headCountUpdate;
                _AfterUpdate = false;
                _IdUpdate = -1;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Erro Instance Function: {ex.Message}");
        }
        finally
        {
            showLoading = false;
        }

        return new AsyncVoidMethodBuilder();
    }


    private void StartedEditing(HeadCount item)
    {
        Console.WriteLine($"Ediciones vrgs");

        try
        {
            showLoading = true;
            _IdUpdate = item.HeadCountId;
            _headCountUpdate = ObjectCloner.ObjectCloner.DeepClone(item);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Erro StartedEditing : {ex.Message}");
        }
        finally
        {
            showLoading = false;
            tabs.ActivatePanel(panel03_Edit);
        }

    }
    private void StartedEditingProcess(HeadCountProcess item)
    {
        Console.WriteLine($"Ediciones vrgs");

        try
        {
            showLoading = true;
            _IdUpdateProcess = item.HeadCountProcessId;
            ProcessSelected = ObjectCloner.ObjectCloner.DeepClone(item);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Erro StartedEditing : {ex.Message}");
        }
        finally
        {
            ProcessUpdate = true;
            showLoading = false;
            tabsProcess.ActivatePanel(panel02_ViewEditProcess);
        }

    }

    private string StringNoNull(string arg)
    {
        if (arg.Trim() == "")
            return $"{@Localizer1["HCValidationString"]}";

        return null;
    }

    private string IntGreaterThanZero(int arg)
    {
        if (arg < 0)
            return $"{@Localizer1["HCValidationInt"]}";


        return null;
    }

    private async void UpdateHeadCountFunc()
    {
        success = false;

        _headCountUpdate.UserUploadId = loggedUser.UserId;
        _headCountUpdate.Usuario_de_alta = loggedUser.Name;
        _headCountUpdate.Fecha_de_alta = DateTime.Now;

        var updateResponse = await HeadCountServices.UpdateHeadCount(_headCountUpdate, _IdUpdate);


        if (updateResponse)
        {
            _searchString = _headCountUpdate.Codigo.ToString();
            _AfterUpdate = true;
            await InstanceData();
            tabs.ActivatePanel(panel02_View);
            StateHasChanged();
        }
        else
        {
            //error
        }


    }

    private async Task<AsyncVoidMethodBuilder> StartProcess()
    {
        try
        {

            showLoading = true;
            ProcessUpdate = false;
            if (_allProcess?.Count == 0)
            {
                _allProcess = await HeadCountServices.GetAllHeadCountProcesses();
            }


        }
        finally
        {
            showLoading = false;
            base.StateHasChanged();
        }

        return new AsyncVoidMethodBuilder();
    }

    private async void CreateProcess()
    {
        var createResponse = await HeadCountServices.CreateHeadCountPorcess(ProcessToCreate);


        if (createResponse != null)
        {
            _allProcess.Add(createResponse);
            ProcessToCreate = new();
            base.StateHasChanged();
            tabsProcess.ActivatePanel(panel01_SeeAllProcess);
        }
        else
        {
            //Mensaje de error
        }
    }



    private async void UpdateProcess()
    {

        var updateResponse = await HeadCountServices.UpdateHeadCountProcesses(ProcessSelected, ProcessSelected.HeadCountProcessId);

        if (updateResponse)
        {

            var indexHead = _allProcess.FindIndex(h => h.HeadCountProcessId == ProcessSelected.HeadCountProcessId);
            _allProcess[indexHead] = ProcessSelected;

            _IdUpdateProcess = -1;

            ProcessUpdate = false;
            base.StateHasChanged();
            tabsProcess.ActivatePanel(panel01_SeeAllProcess);
            //mensaje de sucess
        }
        else
        {
            //mensaje de error
        }

    }

}
