@page "/"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

@inject IJSRuntime js
@inject ILoginService UserLoginService
@inject IUserService UsersService
@inject ISnackbar Snackbar
@inject GlobalDataService GlobalData;
@inject IStringLocalizer<Resource> Localizer
@inject NavigationManager NavigationManager
@inject Microsoft.AspNetCore.Components.WebAssembly.Hosting.IWebAssemblyHostEnvironment Environment

<style>

    .menu-card {
        width: 100%;
        box-shadow: 5px 5px 5px rgb(218, 214, 213 );
        border-radius: 10px;
        transition: all 0.3s ease-out;
        cursor: default;
    }
    .menu-card:hover {
        box-shadow: #9ad8f3 0px 2px 4px;
        transform: scale(1.005);
    }

    .menu-card .header {
        border-radius: 10px 10px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f1f5f9;
    }


    .menu-card .content{
        text-align: justify;
        height: 16vh;
        overflow-x: scroll;
    }

    .menu-card .content::-webkit-scrollbar {
        width: 4px;
    }
    .menu-card .footer {
        border-radius: 0 0 10px 10px;
        background-color: #f1f5f9;
    }


</style>

@if (logged)
{
    @*Title*@
    <PageTitle>Supervisor Mobility | @Localizer["home"]</PageTitle>

    @*Dashboard grid*@
    <MudGrid>

        @if (user.UserType != 7)
        {
            @if (user.UserType != 5)
            {
                @*SOS Review Program*@
                <MudItem xs="12" sm="6" md="6" lg="4" xl="3" xxl="2" Class="d-flex">
                    <MudPaper Class="menu-card">
                        <MudItem Class="pa-2 header">
                            <MudChip Label Color="Color.Dark" Style="background-color: #6c757d; font-weight:bold" Variant="Variant.Filled" Size="Size.Small">SRP</MudChip>
                            <MudText>@Localizer["sosProgram"]</MudText>
                            <MudImage Src="Images/documento.png" Height="25" Width="25" />
                        </MudItem>
                        <MudItem Class="content">
                            <MudText Class="pa-4">
                                @Localizer["sosProgramDescription"]
                            </MudText>
                        </MudItem>
                        <MudItem Class="pa-3 footer">
                            <MudButton Href="sosProgram" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">View all</MudButton>
                            <MudButton Href="sosProgram/createSosReview" Color="Color.Success" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">Create</MudButton>
                        </MudItem>
                    </MudPaper>
                </MudItem>
            }
            @*Job Observation Schedule*@
            <MudItem xs="12" sm="6" md="6" lg="4" xl="3" xxl="2" Class="d-flex">
                <MudPaper Class="menu-card">
                    <MudItem Class="pa-2 header">
                        <MudChip Label Color="Color.Dark" Style="background-color: #6c757d; font-weight:bold" Variant="Variant.Filled" Size="Size.Small">JOP</MudChip>
                        <MudText>@Localizer["jobObservationProgram"]</MudText>
                        <MudImage Src="Images/interfaz.png" Height="25" Width="25" />
                    </MudItem>
                    <MudItem Class="content">
                        <MudText Class="pa-4">
                            @Localizer["jobObservationProgramDescription"]
                        </MudText>
                    </MudItem>
                    <MudItem Class="pa-3 footer">
                        <MudButton Href="jobobservationschedule" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">View all</MudButton>
                    </MudItem>
                </MudPaper>
            </MudItem>

            @*Job Observation*@
            <MudItem xs="12" sm="6" md="6" lg="4" xl="3" xxl="2" Class="d-flex">
                <MudPaper Class="menu-card">
                    <MudItem Class="pa-2 header">
                        <MudChip Label Color="Color.Dark" Style="background-color: #6c757d; font-weight:bold" Variant="Variant.Filled" Size="Size.Small">JO</MudChip>
                        <MudText>@Localizer["jobObservations"]</MudText>
                        <MudImage Src="Images/servicio.png" Height="25" Width="25" />
                    </MudItem>
                    <MudItem Class="content">
                        <MudText Class="pa-4">
                            @Localizer["jobObservationsDescription"]
                        </MudText>
                    </MudItem>
                    <MudItem Class="pa-3 footer">
                        <MudButton Href="jobobservation" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">View all</MudButton>
                            <MudButton @onclick="(() => CreateNewJobObservation())" Color="Color.Success" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">Create</MudButton>
                        <MudButton @onclick="(() => PlanJobObservation())" Color="Color.Success" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">Plan</MudButton>
                    </MudItem>
                </MudPaper>
            </MudItem>

            @if (Dev_env)
            {
                
            }

            @*Lup*@
            <MudItem xs="12" sm="6" md="6" lg="4" xl="3" xxl="2" Class="d-flex">
                <MudPaper Class="menu-card">
                    <MudItem Class="pa-2 header">
                        <MudChip Label Color="Color.Dark" Style="background-color: #6c757d; font-weight:bold" Variant="Variant.Filled" Size="Size.Small">LUP</MudChip>
                        <MudText>@Localizer["toDoLup"]</MudText>
                        <MudImage Src="Images/mecanografia.png" Height="25" Width="25" />
                    </MudItem>
                    <MudItem  Class="content">
                        <MudText Class="pa-4">
                            @Localizer["toDoLupDescription"]
                        </MudText>
                    </MudItem>
                    <MudItem Class="pa-3 footer">
                        <MudButton Href="lup" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">View all</MudButton>
                    </MudItem>
                </MudPaper>
            </MudItem>

            @if (user.UserType != 5)
            {
                @*PAT*@
                <MudItem xs="12" sm="6" md="6" lg="4" xl="3" xxl="2" Class="d-flex">
                    <MudPaper Class="menu-card">
                        <MudItem Class="pa-2 header">
                            <MudChip Label Color="Color.Dark" Style="background-color: #6c757d; font-weight:bold" Variant="Variant.Filled" Size="Size.Small">PAT</MudChip>
                            <MudText>PAT</MudText>
                            <MudImage Src="Images/prueba.png" Height="25" Width="25" />
                        </MudItem>
                        <MudItem  Class="content">
                            <MudText Class="pa-4">
                                @Localizer["patDescription"]
                            </MudText>
                        </MudItem>
                        <MudItem Class="pa-3 footer">
                            <MudButton Href="PAT" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">View all</MudButton>
                        </MudItem>
                    </MudPaper>
                </MudItem>
            }

            @if (user.UserType == 1 || user.UserType == 7)
            {
                @*HeadCount*@
                <MudItem xs="12" sm="6" md="6" lg="4" xl="3" xxl="2" Class="d-flex">
                    <MudPaper Class="menu-card">
                        <MudItem Class="pa-2 header">
                            <MudChip Label
                                      Color="Color.Dark" Style="background-color: #6c757d; font-weight:bold" Variant="Variant.Filled" Size="Size.Small">HC</MudChip>
                             <MudText>@Localizer["HeadCount"]</MudText>
                                <MudImage Src="Images/contar.png" Height="25" Width="25" />
                            </MudItem>
                            <MudItem Class="content">
                                <MudText Class="pa-4">
                                    @Localizer["HeadCountDescription"]
                            </MudText>
                        </MudItem>
                        <MudItem Class="pa-3 footer">
                            <MudButton Href="headCount" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">View all</MudButton>
                        </MudItem>
                    </MudPaper>
                </MudItem>

            }
            @if (user.UserType == 1 || user.UserType == 3)
            {
                @*Kaizen *@
                <MudItem xs="12" sm="6" md="6" lg="4" xl="3" xxl="2" Class="d-flex">
                    <MudPaper Class="menu-card">
                        <MudItem Class="pa-2 header">
                            <MudChip Label Color="Color.Dark" Style="background-color: #6c757d; font-weight:bold" Variant="Variant.Filled" Size="Size.Small">KZN</MudChip>
                             <MudText>@Localizer["Kaizen"]</MudText>
                                <MudImage Src="Images/historial-de-transacciones.png" Height="25" Width="25" />
                            </MudItem>
                            <MudItem Class="content">
                                <MudText Class="pa-4">
                                    @Localizer["KaizenDescription"]
                            </MudText>
                        </MudItem>
                        <MudItem Class="pa-3 footer">
                            <MudButton Href="kaizen" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">View all</MudButton>
                            <MudButton Href="kaizen/createkaizen" Color="Color.Success" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">Create</MudButton>
                        </MudItem>
                    </MudPaper>
                </MudItem>

              
                @*Configuration*@
                <MudItem xs="12" sm="6" md="6" lg="4" xl="3" xxl="2" Class="d-flex">
                    <MudPaper Class="menu-card">
                        <MudItem Class="pa-2 header">
                            <MudChip Label Color="Color.Dark" Style="background-color: #6c757d; font-weight:bold" Variant="Variant.Filled" Size="Size.Small">CONFIG</MudChip>
                            <MudText>@Localizer["configuration"]</MudText>
                            <MudImage Src="Images/admin.png" Height="25" Width="25" />
                        </MudItem>
                        <MudItem Class="content">
                            <MudText Class="pa-4">
                                @Localizer["configurationDescription"]
                            </MudText>
                        </MudItem>
                        <MudItem Class="pa-3 footer">
                            <MudButton Href="configuration" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">View all</MudButton>
                        </MudItem>
                    </MudPaper>
                </MudItem>
                
            }
            @*SOSHOE*@
            <MudItem xs="12" sm="6" md="6" lg="4" xl="3" xxl="2" Class="d-flex">
                <MudPaper Class="menu-card">
                    <MudItem Class="pa-2 header">
                        <MudChip Label Color="Color.Dark" Style="background-color: #6c757d; font-weight:bold" Variant="Variant.Filled" Size="Size.Small">SOS</MudChip>
                        <MudText>@Localizer["homeSOSHOE"]</MudText>
                        <MudImage Src="Images/soshoe.png" Height="25" Width="25" />
                    </MudItem>
                    <MudItem Class="content">
                        <MudText Class="pa-4">
                            @Localizer["SOSHOEDescription"]
                        </MudText>
                    </MudItem>
                    <MudItem Class="pa-3 footer">
                        <MudButton Href="SOSHOE" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">View all</MudButton>
                    </MudItem>
                </MudPaper>
            </MudItem>
              @*IS Template Apparence*@
            <MudItem xs="12" sm="6" md="6" lg="4" xl="3" xxl="2" Class="d-flex">
                <MudPaper Class="menu-card">
                    <MudItem Class="pa-2 header">
                        <MudChip Label Color="Color.Dark" Style="background-color: #6c757d; font-weight:bold" Variant="Variant.Filled" Size="Size.Small">IS</MudChip>
                        <MudText>@Localizer["ISTitle"]</MudText>
                        <MudImage Src="Images/IS.png" Height="25" Width="25" />
                    </MudItem>
                    <MudItem Class="content">
                        <MudText Class="pa-4">
                            @Localizer["ISDescription"]
                        </MudText>
                    </MudItem>
                    <MudItem Class="pa-3 footer">
                        <MudButton Href="IS" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" Class="ma-1">View all</MudButton>
                    </MudItem>
                </MudPaper>
            </MudItem>

        }
       
    </MudGrid>
}
else
{
    @*Title*@
    <PageTitle>Supervisor Mobility | @Localizer["login"]</PageTitle>
  
    @* Login Form*@
    <EditForm Model="_userLogin" OnValidSubmit="Login">
        <DataAnnotationsValidator />
        <MudGrid Justify="Justify.Center" Style="margin-bottom: 70px">
            <MudSimpleTable Style="overflow-x: auto;" Bordered=true Outlined=false Elevation="0">
                <tbody>
                    <tr>
                        <td style="text-align:center">
                            <MudItem Style="text-align:center">
                                <MudImage Src="Images/logo.png" Alt="Logo image" Style="max-height: 110px" Fluid=true Class="align-center justify-center"> </MudImage>
                            </MudItem>
                            <MudPaper Elevation="3">
                                <MudText Typo="Typo.h6" Class="pt-5 mt-5">
                                    @Localizer["login"]
                                </MudText>
                                <MudTextField @bind-Value="_userLogin.Username" Class="mt-5 pl-10 pr-10" Label=@Localizer["username"] Variant="Variant.Outlined" Margin="Margin.Dense" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Person" OnAdornmentClick="OpenDeleteDialog"></MudTextField>
                                <ValidationMessage For="@(() => _userLogin.Username)" style="color: red; font-size: 12px" />
                                <MudTextField @bind-Value="_userLogin.Password" Class="mt-5 pl-10 pr-10" Label=@Localizer["password"] Variant="Variant.Outlined" Margin="Margin.Dense" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password"></MudTextField>
                                <ValidationMessage For="@(() => _userLogin.Password)" style="color: red; font-size: 12px" />
                                <MudButton Disabled="@_processing" Class="mt-10 mb-10" Variant="Variant.Filled" Color="Color.Info" ButtonType="ButtonType.Submit">
                                    @if (_processing)
                                    {
                                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                        <MudText Class="ms-2">@Localizer["authenticating"]</MudText>
                                    }
                                    else
                                    {
                                        <MudText>@Localizer["signIn"]</MudText>
                                    }
                                </MudButton>
                            </MudPaper>
                        </td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        </MudGrid>
    </EditForm>
}


@*Delete observation modal*@
<MudDialog @bind-IsVisible="visibleText" Options="dialogTextOptions">
    <DialogContent>
        <MudText Typo="Typo.h6">@Localizer["help"]</MudText>
        <MudText Class="mt-4 mb-4">
            @Localizer["enterTheActiveDirectoryUserName"]
        </MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseModal" Variant="Variant.Filled">@Localizer["accept"]</MudButton>
    </DialogActions>
</MudDialog>