@page "/image-editor"
@using Microsoft.AspNetCore.Components.Forms
@inject IJSRuntime JS



<MudPaper Height="85vh" Style="overflow:hidden; position:relative;">
    <MudDrawerContainer Class="mud-height-full">
        <MudDrawer Open Fixed="false" Elevation="1" Variant="@DrawerVariant.Mini" >
            <MudNavMenu>
                <MudItem Class="pa-2">
                    <MudInput T="string" Placeholder="Buscar" @bind-Value="search" Immediate Clearable Style="width:100%;"/>
                </MudItem>
                <MudItem Class="pa-2">
                    <MudText Typo="Typo.subtitle1">Size</MudText>
                    <MudSlider @bind-Value="sliderSize" Min="20" Max="150" Step="1" Color="Color.Primary" />
                </MudItem>
                @foreach (var image in FilteredImagesWithSelection)
                {
                    <MudNavLink Match="NavLinkMatch.All">
                        <MudItem Style="display: flex; align-items: center;">
                            <MudCheckBox @bind-Checked="image.IsSelected" Color="Color.Info"/>
                            <MudImage src="@image.Src" Class="rounded-lg" id="@image.Src" Width="@(image.IsSelected ? sliderSize : 100)" draggable="true" @ondragstart="@(e => OnDragStart(e, image.Src))" @ontouchstart="@(e => OnTouchStart(e, image.Src))" />
                        </MudItem>
                    </MudNavLink>
                }
            </MudNavMenu>
        </MudDrawer>
        <div class="mud-height-full" style="display: flex; align-items: center; flex-direction: column;">
            <MudItem Class="d-flex mb-4">
                <MudButton 
                           HtmlTag="label"
                           Variant="Variant.Filled"
                           Size="Size.Small"
                           Color="Color.Info"
                           StartIcon="@Icons.Material.Filled.Image"
                           for="selectImage">
                    Load picture
                </MudButton>
                <InputFile hidden id="selectImage" OnChange="OnFileSelected" />
                <MudButton OnClick="ClearImage" Color="Color.Error" Size="Size.Small" Class="mt-2">Clear</MudButton>
                <MudButton OnClick="UndoChange" Color="Color.Primary" Size="Size.Small" Class="mt-2 ml-2" Disabled="@isUndoDisabled">Undo</MudButton>
                <MudButton OnClick="GenerateImage" Color="Color.Success" Size="Size.Small" Class="mt-2 ml-2">Generate Image</MudButton>
            </MudItem>
            <canvas id="canvas" style="border:1px solid #000;@(isCanvasVisible ? "" : "display:none;")" @ref="canvasRef"></canvas>
        </div>

    </MudDrawerContainer>
</MudPaper>
<img id="generatedImage" style="display:none; margin-top: 20px;" />

@code {
    private ElementReference canvasRef;
    private string uploadedImage;
    private bool isCanvasVisible = false;
    private int sliderSize = 100;
    private string search = string.Empty;

    public class ImageModel
    {
        public string Src { get; set; }
        public bool IsSelected { get; set; }
    }

    private List<ImageModel> imageUrls = new List<ImageModel>
    {
        new ImageModel { Src = "/Images/png.png", IsSelected = true },
        new ImageModel { Src = "/Images/pdf.png", IsSelected = true },
    };

    private IEnumerable<ImageModel> FilteredImagesWithSelection => imageUrls
        .Where(image => string.IsNullOrEmpty(search) || GetFileNameWithoutExtension(image.Src).Contains(search, StringComparison.OrdinalIgnoreCase));

    private string GetFileNameWithoutExtension(string filePath)
    {
        var fileName = System.IO.Path.GetFileNameWithoutExtension(filePath);
        return fileName;
    }

    private List<string> history = new List<string>();
    private bool isUndoDisabled = true;
    private bool isUploaded = false;
    private DotNetObjectReference<Pruebas>? dotNetObjectRef;

    [JSInvokable("OnImageDropped")]
    public async Task OnImageDropped()
    {
        var currentCanvasImage = await JS.InvokeAsync<string>("getCanvasImage", canvasRef);
        uploadedImage = currentCanvasImage;
        history.Add(uploadedImage);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dotNetObjectRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("setupCanvas", canvasRef, dotNetObjectRef);
        }
    }

    private async Task OnFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        using (var stream = file.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024))
        {
            var buffer = new byte[stream.Length];
            await stream.ReadAsync(buffer);
            var base64String = Convert.ToBase64String(buffer);
            var dataUrl = $"data:{file.ContentType};base64,{base64String}";
            uploadedImage = $"data:image/png;base64,{Convert.ToBase64String(buffer)}";
            history.Add(uploadedImage);
            await JS.InvokeVoidAsync("addImageToCanvas", dataUrl, canvasRef);
            isUndoDisabled = false;
            isUploaded = true;
            isCanvasVisible = true;
        }
    }

    private async Task OnDragStart(DragEventArgs e, string imageId)
    {
        await JS.InvokeVoidAsync("onDragStartJs", imageId);
    }

    private async Task OnTouchStart(TouchEventArgs e, string imageId)
    {
        await JS.InvokeVoidAsync("onDragStartJs", imageId);
    }

    private void ClearImage()
    {
        uploadedImage = null;
        history = new();
        JS.InvokeVoidAsync("clearCanvas", canvasRef);
        isUndoDisabled = true;
        isUploaded = false;
        isCanvasVisible = false;
    }

    private async void UndoChange()
    {
        if (history.Count > 0)
        {
            await JS.InvokeVoidAsync("clearCanvas", canvasRef);
            history.RemoveAt(history.Count - 1);

            if (history.Count > 0)
            {
                foreach (var imageData in history)
                {
                    await JS.InvokeVoidAsync("addImageToCanvas", imageData, canvasRef);
                }
            }
            else
            {
                uploadedImage = null;
                isUndoDisabled = true;
            }

            isUndoDisabled = history.Count == 0;
            isCanvasVisible = history.Count > 0;
            StateHasChanged();
        }
    }

    private async Task GenerateImage()
    {
        await JS.InvokeVoidAsync("generateImageFromCanvas", canvasRef);
    }
}

<style>
    img {
        position: relative;
        z-index: 1;
    }
</style>