@page "/camera"
@using System.Net.Http.Headers;

@inject IJSRuntime js
@inject ISnackbar Snackbar
@inject IStringLocalizer<Resource> Localizer
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IFileUploadAndDownloadService FilesServices
@inject ILupService LupServices

@*
<p>FrameCount: @frameCount</p>
*@

@if(capturedImages.Count == 0)
{
    <MudItem>
        <MudButton @onclick=OpenCameraDialog Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.LinkedCamera">
            Open Camera
        </MudButton>
    </MudItem>
}



<br />
@if (capturedImages.Count > 0)
{
    @foreach (var (image, index) in capturedImages.Select((image, index) => (image, index)))
    {
        <MudBadge Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" Class="mr-5 mb-5" @onclick="() => RemoveImage(index)">
            <MudImage ObjectFit="ObjectFit.Cover" Height="160" Width="320" Src=@image Alt="Evidence" Elevation="25" Class="rounded-lg"/>
        </MudBadge>
    }
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <MudItem>
            <MudButton Variant="Variant.Filled" @onclick=OpenCameraDialog StartIcon="@Icons.Material.Filled.Add" Color="Color.Info">Add photo</MudButton>
            <MudButton Class="ml-4" Variant="Variant.Filled" @onclick=UploadEvidence StartIcon="@Icons.Material.Filled.Save" Color="Color.Primary">Save</MudButton>
        </MudItem>
    </div>
}

<MudDialog DisableSidePadding="false" @bind-IsVisible="visibleCamera" Options="dialogOptions">
    <TitleContent>
        <MudItem>
            <MudText Typo="Typo.h6" Style="text-align:center">LUP Evidence</MudText>
        </MudItem>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 85vh; overflow-y: scroll text-align:center; justify-content: center; align-items:center;">
            <MudPaper Elevation="0">
            <CameraStreamer @ref=CameraStreamerReference
                            Width=1280
                            Height=720
                            OnRendered=OnRenderedHandler
                            OnFrame=OnFrameHandler
                                Style="max-height: 70vh; width: 100%; border-radius: 10px"
                                Class="mud-elevation-4 rounded white"
                            CameraID=@cameraId
                            
                                    Autostart />
                <MudItem style="text-align: center">
                    <MudButton @onclick=GetCurrentFrame Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.CameraAlt" Color="Color.Info" Class="mt-2 mb-4">
                        Take photo
                    </MudButton>
                </MudItem>
            </MudPaper>
        </MudContainer>
    </DialogContent>
</MudDialog>

@code {
    private DialogOptions dialogOptions = new() { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Medium, FullWidth = true, CloseButton = true, DisableBackdropClick = true };

    private List<string> capturedImages = new List<string>();

    private bool visibleCamera = false;
    private void OpenCameraDialog()
    {
        visibleCamera = true;

    }
    void Close2() => visibleCamera = false;

    private CameraStreamer CameraStreamerReference;

    private string? cameraId = null;

    private int frameCount;

    private string imageData;

    private async void OnRenderedHandler()
    {
        frameCount = 0;

        // Check camera-access or ask user, if it's not allowed currently
        if (await CameraStreamerReference.GetCameraAccessAsync())
        {
            // Reloading re-initializes the stream and starts the
            // stream automatically if the Autostart parameter is set
            await CameraStreamerReference.ReloadAsync();

            // If Autostart is not set, you have to manually start the stream again
            /* await CameraStreamerReference.StartAsync(); */
        }
    }

    private async void Start()
    {
        await CameraStreamerReference.StartAsync();
    }

    private async void Stop()
    {
        await CameraStreamerReference.StopAsync();
    }

    private void OnFrameHandler(string _)
    {
        ++frameCount;
    }

    private async void GetCurrentFrame()
    {
        imageData = await CameraStreamerReference.GetCurrentFrameAsync();

        if (!string.IsNullOrEmpty(imageData))
        {
            capturedImages.Add(imageData);
        }
        visibleCamera = false;
        StateHasChanged();
        Stop();
    }
    private bool IsValidBase64String(string base64String)
    {
        if (string.IsNullOrEmpty(base64String))
        {
            return false;
        }

        try
        {
            Convert.FromBase64String(base64String);
            return true;
        }
        catch (FormatException)
        {
            return false;
        }
    }

    private async Task UploadEvidence()
    {
        if (capturedImages.Count > 0)
        {
            foreach (var imageData in capturedImages)
            {
                if (!string.IsNullOrEmpty(imageData))
                {
                    // Elimina la cabecera si está presente
                    var base64Data = imageData.Replace("data:image/png;base64,", "");

                    if (IsValidBase64String(base64Data))
                    {
                        // Convierte base64Data en bytes
                        var imageBytes = Convert.FromBase64String(base64Data);

                        using var content = new MultipartFormDataContent();
                        var imageStream = new MemoryStream(imageBytes);
                        var fileContent = new StreamContent(imageStream);
                        fileContent.Headers.ContentType = new MediaTypeHeaderValue("image/png");

                        content.Add(
                            content: fileContent,
                            name: "\"file\"",
                            fileName: "captured_image.png");

                        // Llama a tu servicio de carga de archivos aquí
                        var result = await FilesServices.UploadEvidences(content, 1);

                        if (result is not null)
                        {
                            Snackbar.Configuration.MaxDisplayedSnackbars = 10;
                            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
                            Snackbar.Add("Image Added to Lup", Severity.Info);
                        }
                        else
                        {
                            Snackbar.Clear();
                            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
                            Snackbar.Add("Failed to upload Image to Lup", Severity.Error);
                        }
                    }
                    else
                    {
                        Snackbar.Clear();
                        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
                        Snackbar.Add("Invalid image data", Severity.Error);
                    }
                }
                else
                {
                    Snackbar.Clear();
                    Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
                    Snackbar.Add("No image data to upload", Severity.Warning);
                }
            }

            // Limpia la lista de imágenes capturadas después de cargarlas
            capturedImages.Clear();
        }
        else
        {
            Snackbar.Clear();
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
            Snackbar.Add("No images to upload", Severity.Warning);
        }
    }

    private void RemoveImage(int index)
    {
        if (index >= 0 && index < capturedImages.Count)
        {
            capturedImages.RemoveAt(index);
        }
    }

}
