<h3>saveCode</h3>
@*
<MudTabPanel Text="Monthly" ID='"pn_2"' OnClick="@( () => MonthlyView = true)">
            <ChildContent>

                <MudSimpleTable Dense>
                    <tbody>
                        <tr>
                            <td>
                                <MudItem Class="d-flex justify-content-between mb-5" Style="align-items: center;">
                                    <MudText Typo="Typo.h6">@Localizer["sosDetails"] @SOS_Review.AplicationYear</MudText>
                                </MudItem>
                            </td>
                            <td colspan="2">
                                <MudItem Class="d-flex">
                                    <MudIcon Icon="@Icons.Material.Filled.BusinessCenter"> </MudIcon>
                                    <MudText Class="ml-2">@Localizer["area"]</MudText>
                                </MudItem>
                            </td>
                            <td colspan="2">
                                <MudItem Class="d-flex">
                                    <MudIcon Icon="@Icons.Material.Filled.Business"> </MudIcon>
                                    <MudText Class="ml-2">@Localizer["plant"]</MudText>
                                </MudItem>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2">
                                <MudDatePicker Label=@Localizer["monthYear"] MinDate="@(new DateTime((int)SOS_Review.AplicationYear, 1, 1))" MaxDate="@(new DateTime((int)SOS_Review.AplicationYear, 12, 31))" OpenTo="OpenTo.Month" FixDay="1" DateFormat="MMMM / yyyy" PickerVariant="PickerVariant.Dialog" Color="Color.Info" AdornmentColor="Color.Info" DateChanged=@OnDateChanged Date="_yearMonth" />
                            </td>
                            <td rowspan="2" colspan="2">
                                @SOS_Review.Area?.Description
                            </td>
                            <td rowspan="2" colspan="2">
                                @SOS_Review.Plant?.Description
                            </td>
                        </tr>
                    </tbody>
                </MudSimpleTable>


                <MudSimpleTable Striped=true Bordered=true Elevation="6" Class="calendar-table rounded">
                    <thead>
                        <tr style="cursor:default">
                            @for (var dayIndex = 0; dayIndex < days.Count(); dayIndex++)
                            {
                                <th style="text-align: center; width:14.28%">
                                    @days[dayIndex].ToString().ToUpper()
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for (var weekIndex = 0; weekIndex < weeks.Count(); weekIndex++)
                        {
                            <tr>
                                @for (var dayIndex = 0; dayIndex < weeks[weekIndex].Dates.Count(); dayIndex++)
                                {
                                    var day = weeks[weekIndex].Dates[dayIndex].DayName;
                                    var wIndex = weekIndex;
                                    var dIndex = dayIndex;

                                    @if (weekIndex == 0 && (day == "31" || day == "30" || day == "29" || day == "28" || day == "27" || day == "26" || day == "25"))
                                    {
                                        <td style="text-align: end; width:14.28%;">
                                            <span style="color: #DDDDDD">@weeks[weekIndex].Dates[dayIndex].DayName</span>
                                            <div style="min-height: 16vh"></div>
                                        </td>
                                    }
                                    else
                                    {
                                        var date = @weeks[weekIndex].Dates[dayIndex].DateValue;

                                        var dayName = @weeks[weekIndex].Dates[dayIndex].DayName;

                                        var compare = DateTime.ParseExact(date, "d/M/yyyy", null);
                                        <td style="text-align: end; width:14.28%;">
                                            @if (CultureInfo.CurrentCulture.Name == "en-US" || CultureInfo.CurrentCulture.Name == "en")
                                            {
                                                var todayFormatedDay = DateTime.ParseExact(date, "d/M/yyyy", CultureInfo.InvariantCulture);
                                                var todayEnglish = todayFormatedDay.Month.ToString() + "/" + todayFormatedDay.Day.ToString() + "/" + todayFormatedDay.Year.ToString();

                                                @if (DateTime.Now.ToShortDateString() == todayEnglish)
                                                {
                                                    if (user.UserType == 1 || user.UserType == 2 || user.UserType == 3)
                                                    {
                                                        <MudMenu EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Label=@dayName Color="Color.Info" AnchorOrigin="Origin.BottomCenter">
                                                            <MudMenuItem Icon="@Icons.Material.Filled.PlaylistAdd">
                                                                @Localizer["programmedJobObservation"]
                                                            </MudMenuItem>
                                                            <MudMenuItem Icon="@Icons.Material.Filled.EditCalendar">
                                                                @Localizer["planJobObservation"]
                                                            </MudMenuItem>
                                                            <MudMenuItem Icon="@Icons.Material.Filled.Add">
                                                                @Localizer["createJobObservation"]
                                                            </MudMenuItem>
                                                        </MudMenu>
                                                    }
                                                    else
                                                    {
                                                        <MudButton Color="Color.Info">@dayName</MudButton>
                                                    }
                                                }
                                                else
                                                {
                                                    if (user.UserType == 1 || user.UserType == 2 || user.UserType == 3)
                                                    {
                                                        <MudMenu EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Label=@dayName AnchorOrigin="Origin.BottomCenter">
                                                            <MudMenuItem Icon="@Icons.Material.Filled.PlaylistAdd">
                                                                @Localizer["programmedJobObservation"]
                                                            </MudMenuItem>
                                                            <MudMenuItem Icon="@Icons.Material.Filled.EditCalendar">
                                                                @Localizer["planJobObservation"]
                                                            </MudMenuItem>
                                                            <MudMenuItem Icon="@Icons.Material.Filled.Add">
                                                                @Localizer["createJobObservation"]
                                                            </MudMenuItem>
                                                        </MudMenu>
                                                    }
                                                    else
                                                    {
                                                        <MudButton>@dayName</MudButton>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                @if (DateTime.Now.ToShortDateString() == date)
                                                {
                                                    if (user.UserType == 1 || user.UserType == 2 || user.UserType == 3)
                                                    {

                                                        <MudMenu EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Label=@dayName Color="Color.Info" AnchorOrigin="Origin.BottomCenter">
                                                            <MudMenuItem Icon="@Icons.Material.Filled.PlaylistAdd">
                                                                @Localizer["programmedJobObservation"]
                                                            </MudMenuItem>
                                                            <MudMenuItem Icon="@Icons.Material.Filled.EditCalendar">
                                                                @Localizer["planJobObservation"]
                                                            </MudMenuItem>
                                                            <MudMenuItem Icon="@Icons.Material.Filled.Add">
                                                                @Localizer["createJobObservation"]
                                                            </MudMenuItem>
                                                        </MudMenu>
                                                    }
                                                    else
                                                    {
                                                        <MudButton Color="Color.Info">@dayName</MudButton>
                                                    }
                                                }
                                                else
                                                {
                                                    if (user.UserType == 1 || user.UserType == 2 || user.UserType == 3)
                                                    {
                                                        <MudMenu EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Label=@dayName AnchorOrigin="Origin.BottomCenter">
                                                            <MudMenuItem Icon="@Icons.Material.Filled.PlaylistAdd">
                                                                @Localizer["programmedJobObservation"]
                                                            </MudMenuItem>
                                                            <MudMenuItem Icon="@Icons.Material.Filled.EditCalendar">
                                                                @Localizer["planJobObservation"]
                                                            </MudMenuItem>
                                                            <MudMenuItem Icon="@Icons.Material.Filled.Add">
                                                                @Localizer["createJobObservation"]
                                                            </MudMenuItem>
                                                        </MudMenu>
                                                    }
                                                    else
                                                    {
                                                        <MudButton>@dayName</MudButton>
                                                    }
                                                }
                                            }
                                            <div style="min-height: 16vh; overflow-y: scroll; max-height: 16vh; scroll-behavior: smooth;" class="scroll scroll1">
                                                @foreach (var jobobs in _All_SOSJobobservation)
                                                {
                                                    var time1 = jobobs.StartDate?.ToString("HH:mm");
                                                    var time2 = jobobs.EndDate?.ToString("HH:mm");

                                                    if (Convert.ToDateTime(jobobs.StartDate?.ToShortDateString()).Date <= Convert.ToDateTime(compare.ToShortDateString()).Date && Convert.ToDateTime(compare.ToShortDateString()).Date <= Convert.ToDateTime(jobobs.EndDate?.ToShortDateString()).Date)
                                                    {
                                                        //Ends the same day
                                                        if (Convert.ToDateTime(compare.ToShortDateString()).Date == Convert.ToDateTime(jobobs.StartDate?.ToShortDateString()).Date && Convert.ToDateTime(compare.ToShortDateString()).Date == Convert.ToDateTime(jobobs.EndDate?.ToShortDateString()).Date)
                                                        {
                                                            //Status filter
                                                            switch (optionStatus)
                                                            {
                                                                case 0:

                                                                    //Planned
                                                                    if (jobobs.Status == 1)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Warning" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Warning">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Warning" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.PlayCircle" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }
                                                                    //In Progress
                                                                    else if (jobobs.Status == 2)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Info">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Info" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.StopCircle" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }

                                                                    //Late job observations
                                                                    else if (jobobs.Status == 3)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Error" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Error">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Error" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.RemoveCircle" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }

                                                                    //Under Review job observations
                                                                    else if (jobobs.Status == 4)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Info">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Info" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.IncompleteCircle" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }

                                                                    //Rejected job observations
                                                                    else if (jobobs.Status == 5)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Error" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Error">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Error" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.Cancel" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }
                                                                    //Finalized
                                                                    else if (jobobs.Status == 6)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Success" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Success">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Success" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.Circle" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }

                                                                    break;
                                                                case 1:
                                                                    //Programmed
                                                                    if (jobobs.Status == 1)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Warning" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Warning">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Warning" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.PlayCircle" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }

                                                                    break;
                                                                case 2:
                                                                    //In Progress
                                                                    if (jobobs.Status == 2)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Info">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Info" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.StopCircle" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }
                                                                    break;
                                                                case 3:
                                                                    //Late job observations
                                                                    if (jobobs.Status == 3)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Error" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Error">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Error" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.RemoveCircle" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }
                                                                    break;
                                                                case 4:
                                                                    if (jobobs.Status == 4)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Info">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Info" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.IncompleteCircle" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }
                                                                    break;
                                                                case 5:
                                                                    if (jobobs.Status == 5)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Error" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Error">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Error" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.Cancel" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }
                                                                    break;
                                                                case 6:
                                                                    if (jobobs.Status == 6)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Success" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Success">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Variant="Variant.Text" Color="Color.Success" Size="Size.Small" Style="font-size: 10px">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.Circle" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }
                                                                    break;

                                                            }

                                                        }
                                                        //lasts more than one day
                                                        else
                                                        {
                                                            switch (optionStatus)
                                                            {
                                                                case 0:
                                                                    //Programmed
                                                                    if (jobobs.Status == 1)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Warning" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton Color="Color.Warning" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Warning" Size="Size.Small">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Warning" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }
                                                                    //In Progress
                                                                    else if (jobobs.Status == 2)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton Color="Color.Info" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Info" Size="Size.Small">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.StopCircle" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }
                                                                    //late job observations
                                                                    else if (jobobs.Status == 3)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Error" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton Color="Color.Error" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Error" Size="Size.Small">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.RemoveCircle" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }
                                                                    //Under Review job observations
                                                                    else if (jobobs.Status == 4)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton Color="Color.Info" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Info" Size="Size.Small">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.IncompleteCircle" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }
                                                                    //Rejected job observations
                                                                    else if (jobobs.Status == 5)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Error" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton Color="Color.Error" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Error" Size="Size.Small">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.Cancel" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }
                                                                    //Finalized
                                                                    else if (jobobs.Status == 6)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Success" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton Color="Color.Success" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Success" Size="Size.Small">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.Circle" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }
                                                                    break;
                                                                case 1:
                                                                    if (jobobs.Status == 1)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Warning" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton Color="Color.Warning" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Warning" Size="Size.Small">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Warning" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }
                                                                    break;
                                                                case 2:
                                                                    if (jobobs.Status == 2)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton Color="Color.Info" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Info" Size="Size.Small">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.StopCircle" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }
                                                                    break;
                                                                case 3:
                                                                    if (jobobs.Status == 3)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Error" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton Color="Color.Error" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Error" Size="Size.Small">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.RemoveCircle" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }
                                                                    break;
                                                                case 4:
                                                                    if (jobobs.Status == 4)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton Color="Color.Info" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Info" Size="Size.Small">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.IncompleteCircle" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }
                                                                    break;
                                                                case 5:
                                                                    if (jobobs.Status == 5)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Error" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton Color="Color.Error" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Error" Size="Size.Small">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.Cancel" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }
                                                                    break;
                                                                case 6:
                                                                    if (jobobs.Status == 6)
                                                                    {
                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Success" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                            <MudButton Color="Color.Success" @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Variant="Variant.Outlined">
                                                                                <MudChip Icon="@Icons.Material.Filled.AccessTime" Style="font-size: 10px" Variant="Variant.Text" Color="Color.Success" Size="Size.Small">@time1 - @time2</MudChip>
                                                                                <MudIcon Icon="@Icons.Material.Filled.Circle" />
                                                                            </MudButton>
                                                                            <span style="font-size: 11px; cursor:pointer"><span style="font-weight: bold; font-size: 13px">@jobobs.JobObservationId</span>.  @jobobs.Distribution?.Description</span>
                                                                        </MudTooltip>
                                                                    }
                                                                    break;

                                                            }

                                                        }
                                                    }
                                                }


                                            </div>

                                        
                                            INICIO Esto debe estar comentado
                                            @if (_jobObservations.Where(j => Convert.ToDateTime(j.StartDate?.ToShortDateString()).Date <= Convert.ToDateTime(compare.ToShortDateString()).Date && Convert.ToDateTime(compare.ToShortDateString()).Date <= Convert.ToDateTime(j.EndDate?.ToShortDateString()).Date && (j.Status == optionStatus || optionStatus == 0)).ToList().Count() > 2)
                                {
                                <MudButton @onclick="(() => OpenDialog5(date))" FullWidth=true Style="text-align:center; height: 5px;" Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.KeyboardArrowDown"></MudButton>
                                }
                                FIN  esto debe estar comentado

                                        </td>

                                    }

                                }
                            </tr>
                        }
                    </tbody>
                </MudSimpleTable>
            </ChildContent>
        </MudTabPanel>

        @if (!SOS_Review.SuggestionApplied)
        {
            <MudTabPanel Text="Suggest" ID='"pn_3"' OnClick="CreateSuggestion" Disabled="@isButtonDisabled">
                <ChildContent>

                    <MudTabs Border="true" Outlined="true" PanelClass="px-4 py-6" ApplyEffectsToContainer="true" Class="mt-0" HeaderPosition="TabHeaderPosition.After" PrevIcon="@Icons.Material.Filled.SkipPrevious" NextIcon="@Icons.Material.Filled.SkipNext">

                        <Header>
                            <MudItem Style="display: flex; justify-content: space-evenly;">


                                <MudSpacer />
                                <MudTextField @bind-Value="Startday" T="int" Validation="@(new Func<int?, IEnumerable<string>>(ValidateStartDay))" Label="Comenzar el día:" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-2" Clearable="true">

                                </MudTextField>

                                <MudSpacer />
                                <MudTextField @bind-Value="diasSeparate" T="int" Validation="@(new Func<int?, IEnumerable<string>>(ValidateStartDay))" Label="Dias Separacion" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-2" Clearable="true">

                                </MudTextField>

                                <MudSpacer />
                                <MudSelect T="int" Label="Randomize" Style="z-index:40;" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-2" AnchorOrigin="Origin.BottomCenter" @bind-Value="OptionRandom">
                                    <MudSelectItem Value="0">Secuencial</MudSelectItem>
                                    <MudSelectItem Value="1">Operaciones Aleatorias</MudSelectItem>
                                    <MudSelectItem Value="2">Distribucion aleatorio</MudSelectItem>
                                </MudSelect>
                                <MudSpacer />
                                <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary" OnClick="(() => CreateNewSuggestion())">Apply to Suggest</MudButton>
                                <MudSpacer />
                                <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Success" OnClick="(() => CreateNewSuggestion())">Confirm Suggest</MudButton>
                                <MudSpacer />
                            </MudItem>
                    </Header>
                    <ChildContent>
                        <MudTabPanel Text="Suggest Yearly" ID='"pn_one2"' OnClick="@( () => MonthlyView = false)">
                            <ChildContent>
                                @if (ShowTable)
                                    {

                                        <MudSimpleTable Dense>
                                        <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    <MudItem Class="d-flex">
                                                        <MudIcon Icon="@Icons.Material.Filled.BusinessCenter"> </MudIcon>
                                                        <MudText Class="ml-2">@Localizer["area"]</MudText>
                                                    </MudItem>
                                                </td>
                                                <td  colspan="2">
                                                    @SOS_Review.Area?.Description
                                                </td>
                                                <td colspan="2">
                                                    <MudItem Class="d-flex">
                                                        <MudIcon Icon="@Icons.Material.Filled.Business"> </MudIcon>
                                                        <MudText Class="ml-2">@Localizer["plant"]</MudText>
                                                    </MudItem>
                                                </td>
                                                <td colspan="2">
                                                    @SOS_Review.Plant?.Description
                                                </td>
                                            </tr>
                                        </tbody>
                                    </MudSimpleTable>
                                        <MudSimpleTable Class="mb-5 calendar-table rounded" Style="overflow-x: auto;" Dense Bordered=false>
                                            <thead>
                                                <tr>
                                                    <th rowspan="2">
                                                        Item
                                                    </th>
                                                    <th rowspan="2">
                                                        <MudItem Class="d-flex">
                                                            <MudIcon Icon="@Icons.Material.Filled.AccountTree"> </MudIcon>
                                                            <MudText Class="ml-2">@Localizer["distribution"]</MudText>
                                                        </MudItem>
                                                    </th>  
                                                    
                                                    <th colspan="12" >
                                                        <MudItem Class="d-flex">
                                                            <MudText Class="ml-2">@Localizer["Suggested_Plan"]</MudText>
                                                            <MudText Class="ml-2">  @SOS_Review.AplicationYear</MudText>
                                                        </MudItem>
                                                    </th>
                                                    <th colspan="3" rowspan="2">
                                                        Notas
                                                    </th>

                                                </tr>

                                                <tr>
                                                    @for (var i = 1; i <= 12; i++)
                                                    {
                                                        <th style="text-align: center">
                                                            @textInfo.ToTitleCase(CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i))
                                                        </th>
                                                    }
                                                </tr>

                                              
                                            </thead>
                                            <tbody>

                                                @foreach (Distribution Distribution_Item in _distributions)
                                                {
                                                    <tr>
                                                        <td>
                                                            No
                                                        </td>
                                                        <td>
                                                            @Distribution_Item.Description
                                                        </td>
                                                        @for (int i = 1; i < 13; i++)
                                                        {
                                                            int currentIndex = i;
                                                            <td style="text-align: end; width:160px; max-height:160px">
                                                                @if (Suggested_Registers_Matrix.TryGetValue((Distribution_Item.DistributionId, currentIndex), out var context))
                                                                {
                                                                    
                                                                        <div style="min-height: 8vh; overflow-y: scroll; max-height: 8vh; scroll-behavior: smooth;" class="scroll scroll1">

                                                                            @foreach (JobObservationNulls jobobs in context)
                                                                            {

                                                                            <MudTooltip Text="@jobobs.JobObservationId.ToString()" Color="Color.Success" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" IsVisible="false" ShowOnHover="false" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                                            <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Info">
                                                                                                <MudChip Icon="@Icons.Material.Filled.WorkspacePremium" Variant="Variant.Text" Color="Color.Success" Size="Size.Small" Style="font-size: 10px">@jobobs.Operation?.Description</MudChip>
                                                                                                <MudIcon Icon="@Icons.Material.Filled.GroupWork" />
                                                                                            </MudButton>
                                                                                            <span style="font-size: 11px; cursor:pointer">@jobobs.Distribution?.Description</span>
                                                                                 </MudTooltip>
                                                                               
                                                                            }

                                                                        </div>
                                                                        @if (context?.Count() > 2)
                                                                        {
                                                                            <MudButton @onclick="(() => OpenDialog4(Distribution_Item.DistributionId, currentIndex, 1))" FullWidth=true Style="text-align:center; height: 5px;" Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.KeyboardArrowDown"></MudButton>
                                                                        }

                                                                    
                                                                }
                                                            </td>

                                                        }

                                                        <td colspan="3"></td>
                                                    </tr>

                                                }

                                            </tbody>
                                        </MudSimpleTable>
                                    }
                                    else
                                    {
                                        <MudItem Style="text-align:center;">
                                            <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true" />
                                            <MudText Typo="Typo.h6">Cargando...</MudText>
                                        </MudItem>
                                        <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
                                            <ItemTemplate>
                                                <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                                                    <MudItem class="d-flex flex-column justify-center align-self-center">
                                                        <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                                                    </MudItem>
                                                    
                                                    <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
                                                </div>
                                            </ItemTemplate>
                                        </MudCarousel>
                                    }

                            </ChildContent>
                        </MudTabPanel>
                        <MudTabPanel Text="Suggest Monthly" ID='"pn_22"' OnClick="@( () => MonthlyView = true)">
                            <ChildContent>
                                <MudGrid Justify="Justify.Center" Class="overflow-x-auto mb-12">
                                    <MudItem lg="12" md="12" sm="12" xs="12" Class="text-align: center;">


                                      


                                        @if (ShowLoading)
                                            {
                                                <MudItem Style="text-align:center;" Class="mt-19">
                                                    <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true" />
                                                    <MudText Typo="Typo.h6">Cargando...</MudText>
                                                </MudItem>
                                                <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
                                                    <ItemTemplate>
                                                        <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                                                            <MudItem class="d-flex flex-column justify-center align-self-center">
                                                                <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                                                            </MudItem>
                                                            
                                                            <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
                                                        </div>
                                                    </ItemTemplate>
                                                </MudCarousel>
                                            }
                                            else
                                            {

                                                <MudSimpleTable Striped=true Bordered=true Elevation="6" Class="calendar-table rounded">
                                                    <thead>
                                                        <tr style="cursor:default">
                                                            @for (var dayIndex = 0; dayIndex < days.Count(); dayIndex++)
                                                            {
                                                                <th style="text-align: center; width:14.28%">
                                                                    @days[dayIndex].ToString().ToUpper()
                                                                </th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @for (var weekIndex = 0; weekIndex < weeks.Count(); weekIndex++)
                                                        {
                                                            <tr>
                                                                @for (var dayIndex = 0; dayIndex < weeks[weekIndex].Dates.Count(); dayIndex++)
                                                                {
                                                                    var day = weeks[weekIndex].Dates[dayIndex].DayName;
                                                                    var wIndex = weekIndex;
                                                                    var dIndex = dayIndex;

                                                                    @if (weekIndex == 0 && (day == "31" || day == "30" || day == "29" || day == "28" || day == "27" || day == "26" || day == "25"))
                                                                    {
                                                                        var compare = DateTime.ParseExact(@weeks[weekIndex].Dates[dayIndex].DateValue, "d/M/yyyy", null);

                                                                        <td style="text-align: end; width:14.28%;">
                                                                            <span style="color: #DDDDDD">@weeks[weekIndex].Dates[dayIndex].DayName</span>
                                                                            <div style="min-height: 16vh">
                                                                                @foreach (var jobobs in _All_Suggested_SOSJobobservation)
                                                                                {

                                                                                    if (Convert.ToDateTime(jobobs.StartDate?.ToShortDateString()).Date == Convert.ToDateTime(compare.ToShortDateString()).Date)
                                                                                    {
                                                                                        <MudTooltip Text="@jobobs.JobObservationId.ToString()" Style="@($"color:{Colors.Grey.Lighten1};")" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="false" IsVisible="false" ShowOnHover="false">
                                                                                            <MudButton DisableElevation="true" DisableRipple="true" Style="@($"color:{Colors.Grey.Lighten1}; padding: 0px;")">
                                                                                                <MudChip Icon="@Icons.Material.Filled.WorkspacePremium" Variant="Variant.Text" Size="Size.Small" Style="@($"color:{Colors.Grey.Lighten1}; font-size: 10px; ")">@jobobs.Operation?.Description</MudChip>
                                                                                                <MudIcon Icon="@Icons.Material.Filled.GroupWork" />
                                                                                            </MudButton>
                                                                                            <span style="font-size: 11px; cursor:pointer">@jobobs.Distribution?.Description</span>
                                                                                        </MudTooltip>
                                                                                    }
                                                                                }
                                                                            </div>
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        var date = @weeks[weekIndex].Dates[dayIndex].DateValue;

                                                                        var dayName = @weeks[weekIndex].Dates[dayIndex].DayName;

                                                                        var compare = DateTime.ParseExact(date, "d/M/yyyy", null);

                                                                        <td style="text-align: end; width:14.28%;">
                                                                            <span style="">@weeks[weekIndex].Dates[dayIndex].DayName</span>

                                                                            <div style="min-height: 16vh; overflow-y: scroll; max-height: 16vh; scroll-behavior: smooth;" class="scroll scroll1">
                                                                                @foreach (var jobobs in _All_Suggested_SOSJobobservation)
                                                                                {
                                                                                    //Verificar validaciones

                                                                                    if (Convert.ToDateTime(jobobs.StartDate?.ToShortDateString()).Date == Convert.ToDateTime(compare.ToShortDateString()).Date)
                                                                                    {
                                                                                        <MudTooltip ShowOnFocus="false" IsVisible="false" ShowOnHover="false" Text="@jobobs.JobObservationId.ToString()" Color="Color.Success" Placement="Placement.Bottom" Arrow="true" @onclick="(() => OpenDialog2(jobobs.JobObservationId))">
                                                                                            <MudButton @onclick="(() => OpenDialog2(jobobs.JobObservationId))" Style="padding: 0px;" Color="Color.Info">
                                                                                                <MudChip Icon="@Icons.Material.Filled.WorkspacePremium" Variant="Variant.Text" Color="Color.Success" Size="Size.Small" Style="font-size: 10px">@jobobs.Operation?.Description</MudChip>
                                                                                                <MudIcon Icon="@Icons.Material.Filled.GroupWork" />
                                                                                            </MudButton>
                                                                                            <span style="font-size: 11px; cursor:pointer">@jobobs.Distribution?.Description</span>
                                                                                        </MudTooltip>
                                                                                    }
                                                                                }

                                                                            </div>
                                                                            @if (_All_Suggested_SOSJobobservation.Where(j => Convert.ToDateTime(j.StartDate?.ToShortDateString()).Date <= Convert.ToDateTime(compare.ToShortDateString()).Date && Convert.ToDateTime(compare.ToShortDateString()).Date <= Convert.ToDateTime(j.EndDate?.ToShortDateString()).Date && (j.Status == optionStatus || optionStatus == 0)).ToList().Count() > 2)
                                                                            {
                                                                                <MudButton @onclick="(() => OpenDialog5(date))" FullWidth=true Style="text-align:center; height: 5px;" Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.KeyboardArrowDown"></MudButton>
                                                                            }
                                                                        </td>

                                                                    }

                                                                }
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </MudSimpleTable>

                                            }
                                        </MudItem>
                                    </MudGrid>
                                </ChildContent>
                            </MudTabPanel>


                        </ChildContent>
                    </MudTabs>

                </ChildContent>

            </MudTabPanel>
        }*@






@code {

}
