@page "/FileExplorer"
@using SupervisorMobility.Client.Data.Entities.TreeStruct;
@using SupervisorMobility.Client.Pages.Configuration.AssyChartPage
@using System.Text.RegularExpressions;
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject IAssyChartService AssyChartServices
@inject ISnackbar Snackbar
@inject IBridgeCDMSService CDMSServices
@inject ITreeService TreeServices
@inject IStringLocalizer<Resource1> Localizer1
@inject IStringLocalizer<Resource> Localizer

<style>
    .mud-td-hover {
        transition: transform 0.1s ease-in-out;
        cursor:pointer;
    }

    .mud-td-hover:hover {
        transform: translateY(-2px); 
    }
</style>

<MudItem xs="12">
    <MudCard Elevation="0">
        <MudCardContent>

            @if (ShowLoading)
            {
                <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
                    <ItemTemplate>
                        <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                            <MudItem class="d-flex flex-column justify-center align-self-center">
                                <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                            </MudItem>
                            @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                            <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
                        </div>
                    </ItemTemplate>
                </MudCarousel>
            }
            else
            {
                @if (GOSFolders != null || CCPFolders != null)
                {
                    <MudToggleIconButton  Toggled="@IsGOS" ToggledChanged="ChangeFileExplorer"
                                            Icon="@Icons.Material.Filled.FolderCopy" Color="@Color.Warning"
                                         ToggledIcon="@Icons.Material.Filled.FolderSpecial" ToggledColor="@Color.Warning" />

                    <span>@(IsGOS ? "Show CCP File Explorer" : "Show GOS File Explorer")</span>
                    @if (rootNodeGOS.TreeItems.Count > 0 || rootNodeCCP.TreeItems.Count > 0)
                    {

                        <MudTabs @bind-ActivePanelIndex="@activeTabIndex" Class="mb-10">
                            @foreach (var tab in openTabs)
                            {
                                <MudTabPanel Text="@((openTabs.IndexOf(tab) == 0) ? "" : Regex.Replace(tab.Name, @"§", string.Empty))" @onclick="() => RecreateFileExplorer()" 
                                                Icon="@(openTabs.IndexOf(tab) == 0 ? Icons.Material.Filled.FolderOpen : null)">
                                        
                                    <MudPaper Elevation="0">
                                        @if (LoadingContents)
                                        {
                                            <MudItem class="d-flex flex-column justify-center align-self-center">
                                                <MudProgressCircular Color="Color.Info" Style="height:70px;width:70px;" Indeterminate="true" />
                                            </MudItem>
                                        }
                                        else
                                        {
                                            @if (tab.TreeItems.Count > 0)
                                            {
                                                <MudTable T="TreeItemData" Items="tab.TreeItems" Dense Style="max-height: 40vh; overflow-y: scroll; scrollbar-width: thin;" Hover>
                                                    <RowTemplate>
                                                        <MudTd 
                                                            @onclick="() => OnNodeClick(context)"
                                                            @onmouseover="() => OnMouseOver(context)"
                                                            @onmouseout="() => OnMouseOut(context)"
                                                            Class="mud-td-hover">
                                                            <MudButton 
                                                                Variant="Variant.Text"
                                                                StartIcon="@GetIcon(context)"
                                                                IconColor="@GetIconColor(true)"
                                                                @onclick="() => OnNodeClick(context)"
                                                                @onmouseover="() => OnMouseOver(context)"
                                                                @onmouseout="() => OnMouseOut(context)"
                                                                >
                                                                @Regex.Replace(context.Name, @"§", string.Empty)
                                                            </MudButton>
                                                        </MudTd>
                                                    </RowTemplate>
                                                </MudTable>
                                            }
                                            else
                                            {
                                                @if (isFinalPath)
                                                {
                                                    <MudItem Style="display:flex; align-items: center;">
                                                        <MudTextField Immediate="true" @bind-Value="searchString" Clearable Placeholder=@Localizer["search"] Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mb-5 ml-5 mr-5"></MudTextField>
                                                        @* <MudButton StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="AddToFinalSelection" Size="Size.Small">Add Files To Selection</MudButton> *@
                                                    </MudItem>
                                                }
                                                if(IsGOS)
                                                {
                                                    <MudTable Items="@GosFilesInFolder!.operation" Filter="new Func<GOSDocument,bool>(FilterGOSFunc)" Dense Style="max-height: 40vh; overflow-y: scroll; scrollbar-width: thin;" Hover>
                                                        <RowTemplate>
                                                            <MudCheckBox T=bool Value="fileHoverStates[context].Item2" Color="Color.Primary" UnCheckedColor="Color.Default"
                                                            ValueChanged="(e)=> HandleCheck(e, context)"></MudCheckBox>
                                                            <MudTd @onclick="() => OnFileNodeClick(context)"
                                                            @onmouseover="() => OnFileMouseOver(context)"
                                                            @onmouseout="() => OnFileMouseOut(context)"
                                                            Class="mud-td-hover">
                                                                <MudButton Variant="Variant.Text"
                                                                StartIcon="@GetFileIcon(context)"
                                                                IconColor="@GetIconColor(false)"
                                                                @onclick="() => OnFileNodeClick(context)"
                                                                @onmouseover="() => OnFileMouseOver(context)"
                                                                @onmouseout="() => OnFileMouseOut(context)">
                                                                    @Regex.Replace(context.Nombre, @"§", string.Empty)
                                                                </MudButton>
                                                            </MudTd> 
                                                        </RowTemplate>
                                                    </MudTable>
                                                }
                                                else
                                                {
                                                    <MudTable Items="@CcpFilesInFolder!.operation" Filter="new Func<CCPDocument,bool>(FilterCCPFunc)" Dense Style="max-height: 40vh; overflow-y: scroll; scrollbar-width: thin;" Hover>
                                                        <RowTemplate>
                                                            <MudCheckBox T=bool Value="fileHoverStates[context].Item2" Color="Color.Primary" UnCheckedColor="Color.Default"
                                                                            ValueChanged="(e)=> HandleCheck(e, context)"></MudCheckBox>
                                                            <MudTd @onclick="() => OnFileNodeClick(context)"
                                                                    @onmouseover="() => OnFileMouseOver(context)"
                                                                    @onmouseout="() => OnFileMouseOut(context)"
                                                                    Class="mud-td-hover">
                                                                <MudButton Variant="Variant.Text"
                                                                            StartIcon="@GetFileIcon(context)"
                                                                            IconColor="@GetIconColor(false)"
                                                                            @onclick="() => OnFileNodeClick(context)"
                                                                            @onmouseover="() => OnFileMouseOver(context)"
                                                                            @onmouseout="() => OnFileMouseOut(context)">
                                                                    @Regex.Replace(context.Nombre, @"§", string.Empty)
                                                                </MudButton>
                                                            </MudTd>
                                                        </RowTemplate>
                                                    </MudTable>
                                                }
                                            }
                                        }
                                    </MudPaper>
                                </MudTabPanel>
                            }
                        </MudTabs>
                    }
                }
                if (finalFilesSelection.Any())
                {
                    <MudCard>
                        <MudPaper Elevation="0">
                            @foreach(var item in finalFilesSelection)
                            {
                                var path = @Regex.Replace(item.Item2, @"§", string.Empty);
                                <MudTooltip Text="@path">
                                    <MudButton Variant="Variant.Text"
                                                StartIcon="@Icons.Material.Filled.InsertDriveFile"
                                                IconColor="@Color.Info"
                                                Disabled="LoadingContents">
                                        @Regex.Replace((string)item.Item1.GetType().GetProperty("Nombre").GetValue(item.Item1), @"§", string.Empty)
                                    </MudButton>
                                    <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" Color="Color.Error" OnClick="()=>ManipulateFinalList(item.Item1, false, true)" Disabled="LoadingContents"></MudIconButton>
                                </MudTooltip><br />
                            }
                        </MudPaper>
                    </MudCard>
                }

            }

            @*<MudSwitch Class="mt-3" Label="Is active?" @bind-Checked="_product.IsActive" Color="Color.Info" UnCheckedColor="Color.Dark" />*@
        </MudCardContent>
    </MudCard>
</MudItem>


