@inject IStringLocalizer<Resource1> Localizer1
<MudDialog>
    <DialogContent>
        <h3>Pick an option</h3>
        <MudTabs Elevation="0" Outlined="true" ApplyEffectsToContainer="true" @bind-ActivePanelIndex="activeIndex">
            <MudTabPanel Style="color: lightgreen;" Text="@Localizer1["SOS_Yes_AssignSV"]" ID='"pn_one"'>
                <b>@((MarkupString)$"{Localizer1["Description"]}:")</b><br>
                @((MarkupString)$"{Localizer1["SOS_distribution_desc"]}")<br>
                <b>@((MarkupString)$"{Localizer1["Usage"]}:")</b><br>
                @((MarkupString)$"{Localizer1["SOS_distribution_usage"]}")
            </MudTabPanel>
            <MudTabPanel Style="color:darkcyan;" Text="@Localizer1["SOS_No_AssignSV"]" ID='"pn_two"'>
                <b>@((MarkupString)$"{Localizer1["Description"]}:")</b><br>
                @((MarkupString)$"{Localizer1["SOS_records_desc"]}")<br>
                <b>@((MarkupString)$"{Localizer1["Usage"]}:")</b><br>
                @((MarkupString)$"{Localizer1["SOS_records_usage"]}")
            </MudTabPanel>
            <MudTabPanel Style="color:gray;" Text="@Localizer1["SOS_Null_AssignSV"]" ID='"pn_three"'>
                <b>@((MarkupString)$"{Localizer1["Description"]}:")</b><br>
                @((MarkupString)$"{Localizer1["SOS_operation_desc"]}")<br>
                <b>@((MarkupString)$"{Localizer1["Usage"]}:")</b><br>
                @((MarkupString)$"{Localizer1["SOS_operation_usage"]}")
            </MudTabPanel>
        </MudTabs>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">@Localizer1["Cancel"]</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    private int activeIndex = 0;

    void Submit() {
        bool? optionFlag = activeIndex == 0 ? true : activeIndex == 1 ? false : null;
        MudDialog.Close(DialogResult.Ok(optionFlag)); 
    }
    void Cancel() => MudDialog.Cancel();
}