@page "/HOE/createHOE"

@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Resource> Localizer
@inject IBreadcrumbService BreadcrumbServices
@inject IAreaService AreaServices
@inject IUserService UsersService
@inject IProductService ProductsService
@inject IDataPanelService DataPanelServices
@inject IAppearanceService AppearanceServices
@inject ILogbookAppearanceService LogbookAppearanceServices
@inject SignatureImageService _signatureImageService
@inject IPartServices PartsServices

<style>

    .custom-table td:first-child{
        background-color: #999999;
    }

</style>

<PageTitle>Supervisor Mobility | @Localizer["configuration"]</PageTitle>
    <MudGrid Justify="Justify.Center" Style="margin-bottom: 70px">
        <MudItem lg="8" md="10" sm="10" xs="12">
            <MudExpansionPanels Elevation="5" MultiExpansion="true">
                <MudExpansionPanel IsInitiallyExpanded=true Style="min-width: 100%;">
                    <TitleContent>
                        <MudItem style="display: flex; align-items: center; justify-content:center;">
                            <MudText Typo="Typo.h6" Style="text-align: center;">
                                @Localizer["HOE / SOS"]
                            </MudText>
                        </MudItem>
                    </TitleContent>
                    <ChildContent>
                        <MudSimpleTable Style="overflow-x: auto;" Dense=true Elevation="0" Class="custom-table">
                            <tbody>
                                <tr>
                                <td width="25%">
                                        <MudText Style="color: white">Operation Description</MudText>
                                    </td>
                                    <td>
                                        <MudInput Style="width: 40vw" Value="@("Pr1960 install Water Pump Housing And Gasket - install Gasktet to Water Pump Housing")" />
                                    </td>
                                </tr>
                            <tr>
                                <td>
                                    <MudText Style="color: white">Process Sheet</MudText>
                                </td>
                                <td>
                                    <MudInput Style="width: 40vw" Value="@("PR1960-1 (PRk0)")" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <MudText Style="color: white">Common Direction</MudText>
                                </td>
                                <td>
                                    <MudInput Style="width: 40vw" Value="@("[None]")" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <MudText Style="color: white">Applied Models</MudText>
                                </td>
                                <td>
                                    <MudInput Style="width: 40vw" Value="@("PRk0")" />
                                </td>
                            </tr>
                            </tbody>
                        </MudSimpleTable>
                    </ChildContent>
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudItem>
    </MudGrid>


