@page "/lup/updateLup/{lupid:int}"
@using System.Text.RegularExpressions;
@using System.Net.Http.Headers;

@inject ILupService LupService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar
@inject IFileUploadAndDownloadService FilesServices
 
@*Title*@
<PageTitle>Supervisor Mobility | Update Lup</PageTitle>
@*Breadcrumb links*@
<MudBreadcrumbs Class="mb-10" Items="_links">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
    </ItemTemplate>
</MudBreadcrumbs>
@* Lup *@
<EditForm Model="_lup" OnValidSubmit="EditLup">
<MudGrid Justify="Justify.Center">
    <MudItem lg="10" md="12" sm="12" xs="12">
            <MudSwitch Class="mt-3" Label="Is active?" @bind-Checked="@_lup.IsActive" Color="Color.Info" UnCheckedColor="Color.Dark" />
        <MudItem xs="12" sm="12" lg="12" md="12" Style="text-align: center">
            <MudText Typo="Typo.h6">
                Lup @_lup.LupId
            </MudText>
        </MudItem>
        <MudItem Class="ml-2">
            <MudSimpleTable Bordered Class="mt-3">
                <tbody>
                    <tr>
                        <td style="width:50%">
                            <MudDatePicker @bind-Date="_lup.CreatedDate" Label="Start Date" Color="Color.Info" AdornmentColor="Color.Info" Class="mr-4" />
                        </td>
                        <td>
                            @if (_lup.EndDate == null)
                            {
                                <MudText>End Date: Not yet completed</MudText>
                            }
                            else
                            {
                                <MudDatePicker @bind-Date="_lup.EndDate" Label="End Date" Color="Color.Info" AdornmentColor="Color.Info" />
                            }
                        </td>
                    </tr>
                </tbody>
            </MudSimpleTable>
            <MudSimpleTable Style="overflow-x: auto;" Bordered=true Class="mt-3 mb-3">
                <thead>
                    <tr>
                        <th>
                            <MudText Style="font-weight:bold;">
                                Pillar
                            </MudText>
                        </th>
                        <th>
                            <MudText Style="text-align:center; font-weight:bold;">
                                Opportunity area detected
                            </MudText>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @if (_lup.Pillar == 1)
                        {
                            <td style="width: 20%">
                                S
                            </td>
                            <td>
                                <MudTextField T="string" @bind-Value="_lup.Oportunity" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" />
                            </td>
                        }
                    </tr>
                    <tr>
                        @if (_lup.Pillar == 2)
                        {
                            <td>
                                Q
                            </td>
                            <td>
                                    <MudTextField T="string" @bind-Value="_lup.Oportunity" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" />
                                </td>
                        }
                    </tr>
                    <tr>
                        @if (_lup.Pillar == 3)
                        {
                            <td>
                                D
                            </td>
                            <td>
                                    <MudTextField T="string" @bind-Value="_lup.Oportunity" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" />
                                </td>
                        }
                    </tr>
                    <tr>
                        @if (_lup.Pillar == 4)
                        {
                            <td>
                                C
                            </td>
                            <td>
                                    <MudTextField T="string" @bind-Value="_lup.Oportunity" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" />
                                </td>
                        }
                    </tr>
                    <tr>
                        @if (_lup.Pillar == 5)
                        {
                            <td>
                                Otros
                            </td>
                            <td>
                                    <MudTextField T="string" @bind-Value="_lup.Oportunity" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" />
                                </td>
                        }
                    </tr>
                </tbody>
            </MudSimpleTable>
            <MudSimpleTable Style="overflow-x: auto;" Bordered>
                <tbody>
                    <tr>
                        <td style="font-weight:bold; width: 20%">Job Observation Id</td>
                        <td>
                            <MudTooltip Text="Go to Job observation" Arrow="true" Placement="Placement.Right" Color="Color.Info">
                                <MudBadge Dot=true Color="Color.Info" Style="cursor: pointer">
                                    <MudChip Variant="Variant.Text" Color="Color.Info" Size="Size.Small" @onclick="(() => GoToJobObservation(_lup.JobObservationId))"> @_lup.JobObservationId</MudChip>
                                </MudBadge>
                            </MudTooltip>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Observer</td>
                        <td>@_lup.Observer</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Q3</td>
                        <td>
                            <MudTextField T="string" @bind-Value="_lup.Q3" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Q4</td>
                        <td>
                            <MudTextField T="string" @bind-Value="_lup.Q4" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Status</td>
                        <td>
                            @switch (_lup.Status)
                            {
                                case 1:
                                    <MudChip Variant="Variant.Text" Color="Color.Success" Size="Size.Small">New</MudChip>
                                    break;
                                case 2:
                                    <MudChip Variant="Variant.Text" Color="Color.Info" Size="Size.Small">In Progress</MudChip>
                                    break;
                                case 3:
                                    <MudChip Variant="Variant.Text" Color="Color.Warning" Size="Size.Small">Finished</MudChip>
                                    break;
                                case 4:
                                    <MudChip Variant="Variant.Text" Color="Color.Error" Size="Size.Small">Canceled</MudChip>
                                    break;
                            }

                        </td>
                    </tr>
                </tbody>
            </MudSimpleTable>
            <MudSimpleTable Bordered Class="mt-3 mb-10">
                <thead>
                    <tr>
                        <td>
                            <MudText Typo="Typo.h6">
                                Evidence
                            </MudText>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="d-flex" style="flex-direction: row; flex-wrap: wrap; justify-content: flex-start;">
                        @if(_lup.Evidences.Count > 0 ){
                            @foreach (var evidence in _lup.Evidences)
                            {
                                <MudPaper Class="mr-5 mt-5">
                                    <MudItem style="text-align:center" Class="d-flex justify-center flex-column align-content-center align-center">
                                        @switch (evidence?.ContentType)
                                        {
                                            case "application/pdf":
                                                    <img src="Images/pdf.png" Height="70" Width="70" />
                                                    break;

                                                case "application/msword":
                                                    // Para documentos Word con extensión .doc
                                                    <img src="Images/doc.png" Height="70" Width="70" />

                                                    break;

                                                case "application/vnd.openxmlformats-officedocument.wordprocessingml.document":
                                                    <img src="Images/docx.png" Height="70" Width="70" />

                                                    // Para documentos Word con extensión .docx
                                                    break;

                                                case "application/vnd.ms-powerpoint":
                                                    <img src="Images/ppt.png" Height="70" Width="70" />
                                                    // Para presentaciones PowerPoint con extensión .ppt
                                                    break;

                                                case "application/vnd.openxmlformats-officedocument.presentationml.presentation":
                                                    <img src="Images/pptx.png" Height="70" Width="70" />

                                                    // Para presentaciones PowerPoint con extensión .pptx
                                                    break;

                                                case "application/vnd.ms-excel":
                                                    // Para hojas de cálculo Excel con extensión .xls
                                                    <img src="Images/xls.png" Height="70" Width="70" />
                                                    break;

                                                case "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":
                                                    // Para hojas de cálculo Excel con extensión .xlsx
                                                    <img src="Images/xlsx.png" Height="70" Width="70" />

                                                    break;

                                                case "image/jpeg":
                                                    <img src="Images/jpg.png" Height="70" Width="70" />

                                                    // Para imágenes JPEG con extensión .jpg o .jpeg
                                                    break;

                                                case "image/png":
                                                    // Para imágenes PNG con extensión .png
                                                    <img src="Images/png.png" Height="70" Width="70" />

                                                    break;

                                                case "image/gif":
                                                    // Para imágenes GIF con extensión .gif
                                                    <img src="Images/gif.png" Height="70" Width="70" />
                                                    break;

                                                default:
                                                    <img src="Images/error.png" Height="70" Width="70" />
                                                    break;
                                        }
                                        @evidence.FileName
                                        <MudButton Class="d-flex justify-center flex-row align-content-center align-center"
                                            @onclick="@(() => DownloadFile(evidence.FileUploadId, evidence?.FileName) )">
                                            <MudItem>
                                                <MudText Color="Color.Info">Download</MudText>
                                                <MudChip Icon="@Icons.Material.Filled.Download" Text="@evidence?.FileName" Color="Color.Info" />
                                            </MudItem>
                                        </MudButton>
                                    </MudItem>

                                </MudPaper>
                            }
                        }
                        else 
                        {
                            <span>No files uploaded yet</span>
                        }
                         </td>
                    </tr>
                    <tr>
                        <td>
                        <MudStack Style="width: 100%">
                            <MudFileUpload T="IReadOnlyList<IBrowserFile>" OnFilesChanged="OnInputFileChanged" Hidden="false" Class="flex-1" InputClass="absolute mud-width-full mud-height-full overflow-hidden z-20" InputStyle="opacity:0"
                                           @ondragenter="@SetDragClass" @ondragleave="@ClearDragClass" @ondragend="@ClearDragClass">
                                <ButtonTemplate Context="evidence">
                                    <MudPaper Height="300px" Outlined="true" Class="@DragClass">
                                        <MudText Typo="Typo.h6">Drag and drop evidence files here or click</MudText>

                                        <MudGrid Class="d-flex justify-center flex-row align-content-center align-center">
                                            @foreach (var file in fileNames)
                                            {
                                                <MudItem style="text-align:center" Class="d-flex justify-center flex-column align-content-center align-center">
                                                    <MudText Typo="Typo.h6">@file.message</MudText>

                                                    @switch (file.ftype)
                                                    {
                                                        case "application/pdf":
                                                            <img src="Images/pdf.png" Height="70" Width="70" />
                                                            break;

                                                        case "application/msword":
                                                            // Para documentos Word con extensión .doc
                                                            <img src="Images/doc.png" Height="70" Width="70" />

                                                            break;

                                                        case "application/vnd.openxmlformats-officedocument.wordprocessingml.document":
                                                            <img src="Images/docx.png" Height="70" Width="70" />

                                                            // Para documentos Word con extensión .docx
                                                            break;

                                                        case "application/vnd.ms-powerpoint":
                                                            <img src="Images/ppt.png" Height="70" Width="70" />
                                                            // Para presentaciones PowerPoint con extensión .ppt
                                                            break;

                                                        case "application/vnd.openxmlformats-officedocument.presentationml.presentation":
                                                            <img src="Images/pptx.png" Height="70" Width="70" />

                                                            // Para presentaciones PowerPoint con extensión .pptx
                                                            break;

                                                        case "application/vnd.ms-excel":
                                                            // Para hojas de cálculo Excel con extensión .xls
                                                            <img src="Images/xls.png" Height="70" Width="70" />
                                                            break;

                                                        case "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":
                                                            // Para hojas de cálculo Excel con extensión .xlsx
                                                            <img src="Images/xlsx.png" Height="70" Width="70" />

                                                            break;

                                                        case "image/jpeg":
                                                            <img src="Images/jpg.png" Height="70" Width="70" />

                                                            // Para imágenes JPEG con extensión .jpg o .jpeg
                                                            break;

                                                        case "image/png":
                                                            // Para imágenes PNG con extensión .png
                                                            <img src="Images/png.png" Height="70" Width="70" />

                                                            break;

                                                        case "image/gif":
                                                            // Para imágenes GIF con extensión .gif
                                                            <img src="Images/gif.png" Height="70" Width="70" />
                                                            break;

                                                        default:
                                                            <img src="Images/error.png" Height="70" Width="70" />
                                                            break;
                                                    }
                                                    @*OnClick="@(() => Deleteitem(file))"*@
                                                    <MudButton Target="_blank"
                                                           Variant="Variant.Text"
                                                           Color="Color.Secondary"
                                                           Style="text-transform:none">
                                                        @file.name
                                                    </MudButton>
                                                </MudItem>
                                            }
                                        </MudGrid>

                                    </MudPaper>
                                </ButtonTemplate>
                            </MudFileUpload>
                            <MudToolBar DisableGutters="true" Class="gap-4">
                                <MudButton StartIcon="@Icons.Material.Filled.CloudUpload" OnClick="Upload" Disabled="@(upload)" Color="Color.Info" Variant="Variant.Filled">Upload</MudButton>
                                <MudButton OnClick="Clear" Disabled="@(!fileNames.Any() )" Color="Color.Error" Variant="Variant.Filled">Clear</MudButton>
                            </MudToolBar>
                        </MudStack>
                        </td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        </MudItem>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto">On Hold</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Info" Class="ml-4" @onclick="(() => FinishedLup())">Finished</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Info" Class="ml-4" @onclick="(() => CancelLup())">Cancel Lup</MudButton>
                <MudButton Variant="Variant.Filled" Class="ml-4" @onclick="(() => GoBack())">Go Back</MudButton>
        </MudCardActions>
    </MudItem>
</MudGrid>
</EditForm>
