@page "/jobobservation/createjobobservation/{date}"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components
@using System.Globalization;
@using System.Net.Http.Json;

@inject IJSRuntime JSRuntime
@inject IGroupService GroupService
@inject IChecklistService ChecklistService
@inject IDialogService DialogService
@inject IProductService ProductService
@inject IPlantService PlantServices
@inject IAreaService AreaServices
@inject IDistributionService DistributionService
@inject IOperationService OperationService
@inject IJobObservationService JobObservationService
@inject IGlosaryService GlosaryService
@inject ILupService LupService
@inject ISnackbar Snackbar
@inject IUserService UsersService
@inject NavigationManager NavigationManager

@*Title*@
<PageTitle>Supervisor Mobility | Job Observation</PageTitle>
@*Breadcrumb links*@
<MudBreadcrumbs Class="mb-10" Items="_links">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
    </ItemTemplate>
</MudBreadcrumbs>
@* Job Observation Form*@
<EditForm Model="_jobObservation" OnValidSubmit="CreateNewJobObservation">
    <DataAnnotationsValidator />
    <MudItem Style="text-align: end">
        <MudButton @onclick="(() => OpenDialogPastJobObservations())" Class="ml-4" Style="float:right" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" StartIcon="@Icons.Material.Filled.AccessTime">Past Job Observaion | Lup</MudButton>
    </MudItem>
    <MudGrid Justify="Justify.Center" Style="margin-bottom: 70px">
    <MudItem lg="10" md="12" sm="12" xs="12">
        <MudItem xs="12" sm="12" lg="12" md="12" Style="text-align: center">
            <MudText Typo="Typo.h6">
                Tarjeta de Observación de Operación Cíclica
                <MudChip Variant="Variant.Text" Color="Color.Surface" Class="pl-3">Eventual</MudChip>
            </MudText>
        </MudItem>
            <MudItem Class="ml-2">
            @*<MudSwitch Class="mt-3" Label="Is active?" @bind-Checked="@_jobObservation.IsActive" Color="Color.Info" UnCheckedColor="Color.Dark" />*@
                <MudSimpleTable Style="overflow-x: auto;" Dense=true Class="pt-3 pb-3">
                    <tbody>
                        <tr>
                            <td>
                                @if(user.IsAdmin){
                                    @*Mud select for Plants for Admin*@
                                    <MudSelect T="int" Label="Plant" Variant="Variant.Text" Placeholder="Select a Plant" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_jobObservation.PlantId" For="@(() => _jobObservation.PlantId)" SelectedValuesChanged="ShowAreas">
                                        <MudSelectItem Disabled="true" Value="0">Select a Plant</MudSelectItem>
                                        @foreach (var type in _plants)
                                        {
                                            <MudSelectItem Value="type.PlantId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                        }
                                    </MudSelect>
                                }
                                else{
                                    @*Mud select for Plants *@
                                    <MudSelect T="int" Label="Plant" Variant="Variant.Text" Placeholder="Select a Plant" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_jobObservation.PlantId" For="@(() => _jobObservation.PlantId)" SelectedValuesChanged="ShowAreas">
                                        @foreach (var type in _plants)
                                        {
                                            if(type.PlantId == user.PlantId){
                                                <MudSelectItem Value="type.PlantId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                            }
                                        }
                                    </MudSelect>
                                }
                            </td>
                            <td class="d-flex">
                                <MudDatePicker @bind-Date="_jobObservation.DateStart" Label="Fecha Inicio" Color="Color.Info" AdornmentColor="Color.Info" Class="mr-4 pt-2"/>
                                <MudDatePicker @bind-Date="_jobObservation.DateEnd" Label="Fecha Termino" Color="Color.Info" AdornmentColor="Color.Info" MinDate="_jobObservation.DateStart" Class="pt-2"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @if(user.IsAdmin){
                                    @*Mud select for Areas for Admin *@
                                    <MudSelect T="int" Label="Area" Variant="Variant.Text" Placeholder="Select an Area" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_jobObservation.AreaId" For="@(() => _jobObservation.AreaId)" SelectedValuesChanged="ShowDistributions">
                                        <MudSelectItem Disabled="true" Value="0">Select an Area</MudSelectItem>
                                        @foreach (var type in _areas)
                                        {
                                            <MudSelectItem Value="type.AreaId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                        }
                                    </MudSelect>
                                }
                                else{
                                    @*Mud select for Areas *@
                                    <MudSelect T="int" Label="Area" Variant="Variant.Text" Placeholder="Select an Area" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_jobObservation.AreaId" For="@(() => _jobObservation.AreaId)" SelectedValuesChanged="ShowDistributions">
                                        @foreach (var type in _areas)
                                        {
                                            if(type.AreaId == user.AreaId){
                                                <MudSelectItem Value="type.AreaId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                            }
                                        }
                                    </MudSelect>
                                }

                            </td>
                            <td class="d-flex">
                                <MudTimePicker Label="Start hour" @bind-Time="startHour" Color="Color.Info" AdornmentColor="Color.Info" Class="mr-4 pt-2" />
                                <MudTimePicker Label="End hour" @bind-Time="endHour" Color="Color.Info" AdornmentColor="Color.Info" Class="pt-2"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="d-flex">
                                @*Mud select for Distribution *@
                                <MudSelect T="int" Label="Distribution" Variant="Variant.Text" Placeholder="Select a Distribution" Class="mt-3 mr-4" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_jobObservation.DistributionId" For="@(() => _jobObservation.DistributionId)" SelectedValuesChanged="ShowOperations">
                                    <MudSelectItem Disabled="true" Value="0">Select a Distribution</MudSelectItem>
                                    @foreach (var type in _distributions)
                                    {
                                        <MudSelectItem Value="type.DistributionId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                    }
                                </MudSelect>
                                @*Mud select for Operation *@
                                <MudSelect T="int" Label="Operation" Variant="Variant.Text" Placeholder="Select an Operation" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_jobObservation.OperationId" For="@(() => _jobObservation.OperationId)" SelectedValuesChanged="ShowPastJobObservations">
                                    <MudSelectItem Disabled="true" Value="0">Select an Operation</MudSelectItem>
                                    @foreach (var type in _operations)
                                    {
                                        <MudSelectItem Value="type.OperationId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                    }
                                </MudSelect>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <MudTextField T="string" @bind-Value="_jobObservation.Supervisor.Name" Label="Observador" Class="mr-4"/>

                                     @*Mud select for Operator *@
                                    <MudSelect T="int" Label="Operator" Variant="Variant.Text" Placeholder="Select an Operator" AnchorOrigin="Origin.BottomCenter" @bind-Value="@_jobObservation.OperatorId" For="@(() => _jobObservation.OperatorId)">
                                        <MudSelectItem Disabled="true" Value="0">Select an Operator</MudSelectItem>
                                        @foreach (var type in operatorUsers)
                                        {
                                            <MudSelectItem Value="type.UserId">@($"{type.Name}")</MudSelectItem>
                                        }
                                    </MudSelect>
   @*                                 <MudTextField T="string" @bind-Value="_jobObservation.Operator" Label="Operador" />
                                    <MudText Color="Color.Error" Style="font-size:12px"><ValidationMessage For="@(() => _jobObservation.Operator)" /></MudText>*@
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center;">
                        <MudRadioGroup @bind-SelectedOption="_jobObservation.Option" Style="width:100%;">
                                <MudRadio Option="1" Color="Color.Info" Size="Size.Small">Verificar la Capacitación</MudRadio>
                                <MudRadio Option="2" Color="Color.Info" Size="Size.Small">Mantener y/o Mejorar el área de trabajo</MudRadio>
                                    <MudRadio Option="3" Color="Color.Info" Size="Size.Small">
                                        @if (_glosaryInfo != null && _glosaryInfo.ContainsKey("Manejo de la anomalía"))
                                        {
                                            Glosary word;
                                            word = _glosaryInfo["Manejo de la anomalía"];
                                            <MudTooltip Text="@word.Description" Arrow="true" Placement="Placement.Top" Color="Color.Info">
                                                <MudBadge Dot=true Color="Color.Info" Style="cursor: pointer">
                                                    <MudText>@word.Name</MudText>
                                                </MudBadge>
                                            </MudTooltip>
                                        }
                                        else
                                        {
                                            <span>Manejo de anomalía</span>
                                        }
                                    </MudRadio>
                                @if(_jobObservation.Option == 3)
                                {
                                            <MudTextField T="string" @bind-Value="_jobObservation.Anomaly" Label="Write the anomaly" Placeholder="Anomaly" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                }
                        </MudRadioGroup>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:center">
                                @if (_glosaryInfo != null && _glosaryInfo.ContainsKey("Tiempo de la HOE"))
                                {
                                    Glosary word;
                                    word = _glosaryInfo["Tiempo de la HOE"];
                                    <MudTooltip Text="@word.Description" Arrow="true" Placement="Placement.Top" Color="Color.Info">
                                        <MudBadge Dot=true Color="Color.Info" Style="cursor: pointer">
                                            <MudText Style="text-align:center; font-weight:bold;">@word.Name</MudText>
                                        </MudBadge>
                                    </MudTooltip>
                                }
                                else
                                {
                                    <span style="text-align:center; font-weight:bold;">Tiempo de la HOE</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @*<MudTimePicker Label="Minutes" Text="13:37" OpenTo="OpenTo.Minutes" />*@
                                    <MudTextField T="string" @bind-Value="_jobObservation.Time1HOE" Label="Tiempo 1" Required="true" Variant="Variant.Outlined" RequiredError="Time is required!" Margin="Margin.Dense" />
                            </td>
                            <td>
                                <MudTextField T="string" @bind-Value="_jobObservation.Time2HOE" Label="Tiempo 2" Required="true" Variant="Variant.Outlined" RequiredError="Time is required!" Margin="Margin.Dense" />
                            </td>
                        </tr>
                    </tbody>
                </MudSimpleTable>
            </MudItem>
            <MudItem Class="ml-2">
                <MudSimpleTable Dense=true Style="overflow-x: auto;" Bordered=true Class="mt-6 mb-3">
                    <tbody>
                        <tr>
                            <td colspan="5">
                                <MudText Style="text-align:center; font-weight:bold;">
                                    Modelo
                                </MudText>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @*Mud select of Products  *@
                                <MudSelect T="int" Label="Product 1" Variant="Variant.Text" Placeholder="Select a Plant" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="models[0]" SelectedValuesChanged="Option1">
                                    <MudSelectItem Disabled="true" Value="0">Select a Product</MudSelectItem>
                                    @foreach (var type in _products)
                                    {
                                        <MudSelectItem Value="type.ProductId">@($"{type.Code}")</MudSelectItem>
                                    }
                                </MudSelect>
                            </td>
                            <td>
                                <MudSelect T="int" Label="Product 2" Variant="Variant.Text" Placeholder="Select a Plant" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="models[1]" SelectedValuesChanged="Option2">
                                <MudSelectItem Disabled="true" Value="0">Select a Product</MudSelectItem>
                                @foreach (var type in _products)
                                {
                                <MudSelectItem Value="type.ProductId">@($"{type.Code}")</MudSelectItem>
                                }
                                </MudSelect>
                            </td>
                            <td>
                                <MudSelect T="int" Label="Product 3" Variant="Variant.Text" Placeholder="Select a Plant" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="models[2]" SelectedValuesChanged="Option3">
                                    <MudSelectItem Disabled="true" Value="0">Select a Product</MudSelectItem>
                                    @foreach (var type in _products)
                                    {
                                        <MudSelectItem Value="type.ProductId">@($"{type.Code}")</MudSelectItem>
                                    }
                                </MudSelect>
                            </td>
                            <td>
                                <MudSelect T="int" Label="Product 4" Variant="Variant.Text" Placeholder="Select a Plant" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="models[3]" SelectedValuesChanged="Option4">
                                    <MudSelectItem Disabled="true" Value="0">Select a Product</MudSelectItem>
                                    @foreach (var type in _products)
                                    {
                                        <MudSelectItem Value="type.ProductId">@($"{type.Code}")</MudSelectItem>
                                    }
                                </MudSelect>
                            </td>
                            <td>
                                <MudSelect T="int" Label="Product 5" Variant="Variant.Text" Placeholder="Select a Plant" Class="mt-3" AnchorOrigin="Origin.BottomCenter" @bind-Value="models[4]" SelectedValuesChanged="Option5">
                                    <MudSelectItem Disabled="true" Value="0">Select a Product</MudSelectItem>
                                    @foreach (var type in _products)
                                    {
                                        <MudSelectItem Value="type.ProductId">@($"{type.Code}")</MudSelectItem>
                                    }
                                </MudSelect>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" style="text-align:center; padding-top: 10px">
                                @if (_glosaryInfo != null && _glosaryInfo.ContainsKey("Tiempo ciclo"))
                                {
                                    Glosary word;
                                    word = _glosaryInfo["Tiempo ciclo"];
                                    <MudTooltip Text="@word.Description" Arrow="true" Placement="Placement.Top" Color="Color.Info">
                                        <MudBadge Dot=true Color="Color.Info" Style="cursor: pointer">
                                            <MudText Style="text-align:center; font-weight:bold;">@word.Name</MudText>
                                        </MudBadge>
                                    </MudTooltip>
                                }
                                else
                                {
                                    <span style="text-align:center; font-weight:bold;">Tiempo ciclo</span>
                                }
                                <MudItem Class="d-flex align-center">
                                    <MudToggleIconButton Toggled="@isRunning" ToggledChanged="OnTimerChanged" Color="Color.Info"
                                                         Icon="@Icons.Material.Filled.PlayArrow" ToggledIcon="@Icons.Material.Filled.Stop" ToggledColor="Color.Error" />

                                    <MudText>@elapsedTime</MudText>&nbsp; s
                                </MudItem>        
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                             <MudRadioGroup @bind-SelectedOption="opt">
                                <MudRadio Option="1" Color="Color.Info" Size="Size.Small">Cicle 1</MudRadio>
                                <MudRadio Option="2" Color="Color.Info" Size="Size.Small">Cicle 2</MudRadio>
                                <MudRadio Option="3" Color="Color.Info" Size="Size.Small">Cicle 3</MudRadio>
                                <MudRadio Option="4" Color="Color.Info" Size="Size.Small">Cicle 4</MudRadio>
                                <MudRadio Option="5" Color="Color.Info" Size="Size.Small">Cicle 5</MudRadio>
                            </MudRadioGroup>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <MudTextField T="string" @bind-Value="cicles[0]" Label="Cicle 1" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentText="cs" Adornment="Adornment.End" />
                            </td>
                            <td>
                                <MudTextField T="string" @bind-Value="cicles[1]" Label="Cicle 2" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentText="cs" Adornment="Adornment.End" />
                            </td>
                            <td>
                                <MudTextField T="string" @bind-Value="cicles[2]" Label="Cicle 3" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentText="cs" Adornment="Adornment.End"/>
                            </td>
                            <td>
                                <MudTextField T="string" @bind-Value="cicles[3]" Label="Cicle 4" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentText="cs" Adornment="Adornment.End" />
                            </td>
                            <td>
                                <MudTextField T="string" @bind-Value="cicles[4]" Label="Cicle 5" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentText="cs" Adornment="Adornment.End" />
                            </td>
                        </tr>
                    </tbody>
                </MudSimpleTable>
            </MudItem>
            <MudItem Class="ml-2">
                <MudSimpleTable Style="overflow-x: auto;" Dense=true Bordered=true Class="mt-6 mb-3">
                    <thead>
                        <tr>
                            <th>
                                <MudText Style="font-weight:bold;">
                                    Pilar
                                </MudText>
                            </th>
                            <th>
                                <MudText Style="text-align:center; font-weight:bold;">
                                    Área de oportunidad detectada
                                </MudText>
                            </th>
                            <th style="width: 5%">
                                Add
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="10%">
                                @if (_glosaryInfo != null && _glosaryInfo.ContainsKey("S"))
                                {
                                    Glosary word;
                                    word = _glosaryInfo["S"];
                                    <MudTooltip Text="@word.Description" Arrow="true" Placement="Placement.Top" Color="Color.Info">
                                        <MudBadge Dot=true Color="Color.Info" Style="cursor: pointer">
                                            <MudText>@word.Name</MudText>
                                        </MudBadge>
                                    </MudTooltip>
                                }
                                else
                                {
                                    <span>S</span>
                                }
                            </td>
                            <td style="align-content: end">
                                <MudTextField T="string" @bind-Value="areaS" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="2" />
                            </td>
                            <td>
                                <MudTooltip Text="Add to Pillar S in LUP" Arrow="true" Placement="Placement.Top" Color="Color.Info">
                                    <MudIconButton @onclick="(() => AddTempLup(1))" Variant="Variant.Filled" Color="Color.Info" Icon="@Icons.Material.Filled.Add" Size="Size.Small"></MudIconButton>
                                </MudTooltip>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @if (_glosaryInfo != null && _glosaryInfo.ContainsKey("Q"))
                                {
                                    Glosary word;
                                    word = _glosaryInfo["Q"];
                                    <MudTooltip Text="@word.Description" Arrow="true" Placement="Placement.Top" Color="Color.Info">
                                        <MudBadge Dot=true Color="Color.Info" Style="cursor: pointer">
                                            <MudText>@word.Name</MudText>
                                        </MudBadge>
                                    </MudTooltip>
                                }
                                else
                                {
                                    <span>Q</span>
                                }
                            </td>
                            <td style="align-content: end">
                                <MudTextField T="string" @bind-Value="areaQ" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="2" />
                            </td>
                            <td>
                                <MudTooltip Text="Add to Pillar Q in LUP" Arrow="true" Placement="Placement.Top" Color="Color.Info">
                                    <MudIconButton @onclick="(() => AddTempLup(2))" Variant="Variant.Filled" Color="Color.Info" Icon="@Icons.Material.Filled.Add" Size="Size.Small"></MudIconButton>
                                </MudTooltip>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @if (_glosaryInfo != null && _glosaryInfo.ContainsKey("D"))
                                {
                                    Glosary word;
                                    word = _glosaryInfo["D"];
                                    <MudTooltip Text="@word.Description" Arrow="true" Placement="Placement.Top" Color="Color.Info">
                                        <MudBadge Dot=true Color="Color.Info" Style="cursor: pointer">
                                            <MudText>@word.Name</MudText>
                                        </MudBadge>
                                    </MudTooltip>
                                }
                                else
                                {
                                    <span>D</span>
                                }
                            </td>
                            <td style="align-content: end">
                                <MudTextField T="string" @bind-Value="areaD" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="2" />
                            </td>
                            <td>
                                <MudTooltip Text="Add to Pillar D in LUP" Arrow="true" Placement="Placement.Top" Color="Color.Info">
                                    <MudIconButton @onclick="(() => AddTempLup(3))" Variant="Variant.Filled" Color="Color.Info" Icon="@Icons.Material.Filled.Add" Size="Size.Small"></MudIconButton>
                                </MudTooltip>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @if (_glosaryInfo != null && _glosaryInfo.ContainsKey("C"))
                                {
                                    Glosary word;
                                    word = _glosaryInfo["C"];
                                    <MudTooltip Text="@word.Description" Arrow="true" Placement="Placement.Top" Color="Color.Info">
                                        <MudBadge Dot=true Color="Color.Info" Style="cursor: pointer">
                                            <MudText>@word.Name</MudText>
                                        </MudBadge>
                                    </MudTooltip>
                                }
                                else
                                {
                                    <span>C</span>
                                }
                            </td>
                            <td style="align-content: end">
                                <MudTextField T="string" @bind-Value="areaC" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="2" />
                            </td>
                            <td>
                                <MudTooltip Text="Add to Pillar C in LUP" Arrow="true" Placement="Placement.Top" Color="Color.Info">
                                    <MudIconButton @onclick="(() => AddTempLup(4))" Variant="Variant.Filled" Color="Color.Info" Icon="@Icons.Material.Filled.Add" Size="Size.Small"></MudIconButton>
                                </MudTooltip>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @if (_glosaryInfo != null && _glosaryInfo.ContainsKey("Other"))
                                {
                                    Glosary word;
                                    word = _glosaryInfo["Other"];
                                    <MudTooltip Text="@word.Description" Arrow="true" Placement="Placement.Top" Color="Color.Info">
                                        <MudBadge Dot=true Color="Color.Info" Style="cursor: pointer">
                                            <MudText>@word.Name</MudText>
                                        </MudBadge>
                                    </MudTooltip>
                                }
                                else
                                {
                                    <span>Other</span>
                                }
                            </td>
                            <td style="align-content: end">
                                <MudTextField T="string" @bind-Value="areaOther" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="2" />
                            </td>
                            <td>
                                <MudTooltip Text="Add to Pillar Other in LUP" Arrow="true" Placement="Placement.Top" Color="Color.Info">
                                    <MudIconButton @onclick="(() => AddTempLup(5))" Variant="Variant.Filled" Color="Color.Info" Icon="@Icons.Material.Filled.Add" Size="Size.Small"></MudIconButton>
                                </MudTooltip>
                            </td>
                        </tr>
                    </tbody>
                </MudSimpleTable>
            </MudItem>
            <MudItem Class="ml-2">
                <MudSimpleTable Style="overflow-x: auto;" Dense=true Bordered=true Class="mt-6 mb-6">
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <MudSimpleTable Style="overflow-x: auto;" Dense=true Bordered=true Elevation="0">
                                    <thead>
                                        <tr>
                                            <th>
                                                <MudText Style="font-weight:bold;">
                                                    Pillar
                                                </MudText>
                                            </th>
                                            <th>
                                                <MudText Style="text-align:center; font-weight:bold;">
                                                    Improve / Activity Detected
                                                </MudText>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td width="10%">
                                                @if (_glosaryInfo != null && _glosaryInfo.ContainsKey("S"))
                                                {
                                                    Glosary word;
                                                    word = _glosaryInfo["S"];
                                                    <MudTooltip Text="@word.Description" Arrow="true" Placement="Placement.Top" Color="Color.Info">
                                                        <MudBadge Dot=true Color="Color.Info" Style="cursor: pointer">
                                                            <MudText>@word.Name</MudText>
                                                        </MudBadge>
                                                    </MudTooltip>
                                                }
                                                else
                                                {
                                                    <span>S</span>
                                                }
                                            </td>
                                            <td>
                                                @if (_tempLup.Count > 0)
                                                {
                                                    foreach (var lup in _tempLup)
                                                    {
                                                        if (lup.Pillar == 1)
                                                        {
                                                            <MudTooltip Text="Lup will be created when the CREATE JOB OBSERVATION button is clicked." Color="Color.Info" Placement="Placement.Bottom" Arrow="true">
                                                                <MudButton Style="padding: 0px; margin-right: 10px; margin-top: 10px" Color="Color.Info" Variant="Variant.Outlined">
                                                                    <MudChip Color="Color.Info" OnClose="Closed" Size="Size.Small" CloseIcon="@Icons.Material.Filled.ChecklistRtl" Variant="Variant.Text" Style="cursor:pointer">
                                                                        @if (lup.Oportunity.Length < 50)
                                                                        {
                                                                            @lup.Oportunity
                                                                        }
                                                                        else
                                                                        {
                                                                            @lup.Oportunity.Substring(0,50) <span>...</span>
                                                                        }
                                                                    </MudChip>
                                                                    @if (lup.IsActive == true)
                                                                    {
                                                                        <MudText>
                                                                            <MudChip Variant="Variant.Text" Color="Color.Success" Size="Size.Small" Style="cursor:pointer">Active</MudChip>
                                                                        </MudText>
                                                                    }
                                                                    else
                                                                    {
                                                                        <MudText>
                                                                            <MudChip Variant="Variant.Text" Color="Color.Error" Size="Size.Small">Inactive Style="cursor:pointer"</MudChip>
                                                                        </MudText>
                                                                    }
                                                                    <MudTooltip Text="Delete Lup item" Color="Color.Error" Placement="Placement.Right" Arrow="true">
                                                                        <MudIconButton Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" Size="Size.Small" @onclick="(() => DeleteLup(lup))"></MudIconButton>
                                                                    </MudTooltip>
                                                                </MudButton>
                                                            </MudTooltip>

                                                        }
                                                    }
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @if (_glosaryInfo != null && _glosaryInfo.ContainsKey("Q"))
                                                {
                                                    Glosary word;
                                                    word = _glosaryInfo["Q"];
                                                    <MudTooltip Text="@word.Description" Arrow="true" Placement="Placement.Top" Color="Color.Info">
                                                        <MudBadge Dot=true Color="Color.Info" Style="cursor: pointer">
                                                            <MudText>@word.Name</MudText>
                                                        </MudBadge>
                                                    </MudTooltip>
                                                }
                                                else
                                                {
                                                    <span>Q</span>
                                                }
                                            </td>
                                            <td>
                                                @if (_tempLup.Count > 0)
                                                {
                                                    foreach (var lup in _tempLup)
                                                    {
                                                        if (lup.Pillar == 2)
                                                        {
                                                            <MudTooltip Text="Lup will be created when the CREATE JOB OBSERVATION button is clicked." Placement="Placement.Bottom" Arrow="true">
                                                                <MudButton Style="padding: 0px; margin-right: 10px; margin-top: 10px" Color="Color.Info" Variant="Variant.Outlined">
                                                                    <MudChip Color="Color.Info" OnClose="Closed" Size="Size.Small" CloseIcon="@Icons.Material.Filled.ChecklistRtl" Variant="Variant.Text" Style="cursor:pointer">
                                                                        @if (lup.Oportunity.Length < 50)
                                                                        {
                                                                            @lup.Oportunity
                                                                        }
                                                                        else
                                                                        {
                                                                            @lup.Oportunity.Substring(0,50) <span>...</span>
                                                                        }
                                                                    </MudChip>
                                                                    @if (lup.IsActive == true)
                                                                    {
                                                                        <MudText>
                                                                            <MudChip Variant="Variant.Text" Color="Color.Success" Size="Size.Small" Style="cursor:pointer">Active</MudChip>
                                                                        </MudText>
                                                                    }
                                                                    else
                                                                    {
                                                                        <MudText>
                                                                            <MudChip Variant="Variant.Text" Color="Color.Error" Size="Size.Small" Style="cursor:pointer">Inactive</MudChip>
                                                                        </MudText>
                                                                    }
                                                                    <MudTooltip Text="Delete Lup item" Color="Color.Error" Placement="Placement.Right" Arrow="true">
                                                                        <MudIconButton Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" Size="Size.Small" @onclick="(() => DeleteLup(lup))"></MudIconButton>
                                                                    </MudTooltip>
                                                                </MudButton>
                                                            </MudTooltip>

                                                        }
                                                    }
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @if (_glosaryInfo != null && _glosaryInfo.ContainsKey("D"))
                                                {
                                                    Glosary word;
                                                    word = _glosaryInfo["D"];
                                                    <MudTooltip Text="@word.Description" Arrow="true" Placement="Placement.Top" Color="Color.Info">
                                                        <MudBadge Dot=true Color="Color.Info" Style="cursor: pointer">
                                                            <MudText>@word.Name</MudText>
                                                        </MudBadge>
                                                    </MudTooltip>
                                                }
                                                else
                                                {
                                                    <span>D</span>
                                                }
                                            </td>
                                            <td>
                                                @if (_tempLup.Count > 0)
                                                {
                                                    foreach (var lup in _tempLup)
                                                    {
                                                        if (lup.Pillar == 3)
                                                        {
                                                            <MudTooltip Text="Lup will be created when the CREATE JOB OBSERVATION button is clicked." Color="Color.Info" Placement="Placement.Bottom" Arrow="true">
                                                                <MudButton Style="padding: 0px; margin-right: 10px; margin-top: 10px" Color="Color.Info" Variant="Variant.Outlined">
                                                                    <MudChip Color="Color.Info" OnClose="Closed" Size="Size.Small" CloseIcon="@Icons.Material.Filled.ChecklistRtl" Variant="Variant.Text" Style="cursor:pointer">
                                                                        @if (lup.Oportunity.Length < 50)
                                                                        {
                                                                            @lup.Oportunity
                                                                        }
                                                                        else
                                                                        {
                                                                            @lup.Oportunity.Substring(0,50) <span>...</span>
                                                                        }
                                                                    </MudChip>
                                                                    @if (lup.IsActive == true)
                                                                    {
                                                                        <MudText>
                                                                            <MudChip Variant="Variant.Text" Color="Color.Success" Size="Size.Small" Style="cursor:pointer">Active</MudChip>
                                                                        </MudText>
                                                                    }
                                                                    else
                                                                    {
                                                                        <MudText>
                                                                            <MudChip Variant="Variant.Text" Color="Color.Error" Size="Size.Small" Style="cursor:pointer">Inactive</MudChip>
                                                                        </MudText>
                                                                    }
                                                                    <MudTooltip Text="Delete Lup item" Color="Color.Error" Placement="Placement.Right" Arrow="true">
                                                                        <MudIconButton Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" Size="Size.Small" @onclick="(() => DeleteLup(lup))"></MudIconButton>
                                                                    </MudTooltip>
                                                                </MudButton>
                                                            </MudTooltip>

                                                        }
                                                    }
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @if (_glosaryInfo != null && _glosaryInfo.ContainsKey("C"))
                                                {
                                                    Glosary word;
                                                    word = _glosaryInfo["C"];
                                                    <MudTooltip Text="@word.Description" Arrow="true" Placement="Placement.Top" Color="Color.Info">
                                                        <MudBadge Dot=true Color="Color.Info" Style="cursor: pointer">
                                                            <MudText>@word.Name</MudText>
                                                        </MudBadge>
                                                    </MudTooltip>
                                                }
                                                else
                                                {
                                                    <span>C</span>
                                                }
                                            </td>
                                            <td>
                                                @if (_tempLup.Count > 0)
                                                {
                                                    foreach (var lup in _tempLup)
                                                    {
                                                        if (lup.Pillar == 4)
                                                        {
                                                            <MudTooltip Text="Lup will be created when the CREATE JOB OBSERVATION button is clicked." Color="Color.Info" Placement="Placement.Bottom" Arrow="true">
                                                                <MudButton Style="padding: 0px; margin-right: 10px; margin-top: 10px" Color="Color.Info" Variant="Variant.Outlined">
                                                                    <MudChip Color="Color.Info" OnClose="Closed" Size="Size.Small" CloseIcon="@Icons.Material.Filled.ChecklistRtl" Variant="Variant.Text" Style="cursor:pointer">
                                                                        @if (lup.Oportunity.Length < 50)
                                                                        {
                                                                            @lup.Oportunity
                                                                        }
                                                                        else
                                                                        {
                                                                            @lup.Oportunity.Substring(0,50) <span>...</span>
                                                                        }
                                                                    </MudChip>
                                                                    @if (lup.IsActive == true)
                                                                    {
                                                                        <MudText>
                                                                            <MudChip Variant="Variant.Text" Color="Color.Success" Size="Size.Small" Style="cursor:pointer">Active</MudChip>
                                                                        </MudText>
                                                                    }
                                                                    else
                                                                    {
                                                                        <MudText>
                                                                            <MudChip Variant="Variant.Text" Color="Color.Error" Size="Size.Small" Style="cursor:pointer">Inactive</MudChip>
                                                                        </MudText>
                                                                    }
                                                                    <MudTooltip Text="Delete Lup item" Color="Color.Error" Placement="Placement.Right" Arrow="true">
                                                                        <MudIconButton Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" Size="Size.Small" @onclick="(() => DeleteLup(lup))"></MudIconButton>
                                                                    </MudTooltip>
                                                                </MudButton>
                                                            </MudTooltip>

                                                        }
                                                    }
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @if (_glosaryInfo != null && _glosaryInfo.ContainsKey("Other"))
                                                {
                                                    Glosary word;
                                                    word = _glosaryInfo["Other"];
                                                    <MudTooltip Text="@word.Description" Arrow="true" Placement="Placement.Top" Color="Color.Info">
                                                        <MudBadge Dot=true Color="Color.Info" Style="cursor: pointer">
                                                            <MudText>@word.Name</MudText>
                                                        </MudBadge>
                                                    </MudTooltip>
                                                }
                                                else
                                                {
                                                    <span>Other</span>
                                                }
                                            </td>
                                            <td>
                                                @if (_tempLup.Count > 0)
                                                {
                                                    foreach (var lup in _tempLup)
                                                    {
                                                        if (lup.Pillar == 5)
                                                        {
                                                            <MudTooltip Text="Lup will be created when the CREATE JOB OBSERVATION button is clicked." Color="Color.Info" Placement="Placement.Bottom" Arrow="true">
                                                                <MudButton Style="padding: 0px; margin-right: 10px; margin-top: 10px" Color="Color.Info" Variant="Variant.Outlined">
                                                                    <MudChip Color="Color.Info" OnClose="Closed" Size="Size.Small" CloseIcon="@Icons.Material.Filled.ChecklistRtl" Variant="Variant.Text" Style="cursor:pointer">
                                                                        @if (lup.Oportunity.Length < 70)
                                                                        {
                                                                            @lup.Oportunity
                                                                        }
                                                                        else
                                                                        {
                                                                            @lup.Oportunity.Substring(0,70) <span>...</span>
                                                                        }
                                                                    </MudChip>
                                                                    @if (lup.IsActive == true)
                                                                    {
                                                                        <MudText>
                                                                            <MudChip Variant="Variant.Text" Color="Color.Success" Size="Size.Small" Style="cursor:pointer">Active</MudChip>
                                                                        </MudText>
                                                                    }
                                                                    else
                                                                    {
                                                                        <MudText>
                                                                            <MudChip Variant="Variant.Text" Color="Color.Error" Size="Size.Small" Style="cursor:pointer">Inactive</MudChip>
                                                                        </MudText>
                                                                    }
                                                                    <MudTooltip Text="Delete Lup item" Color="Color.Error" Placement="Placement.Right" Arrow="true">
                                                                        <MudIconButton Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" Size="Size.Small" @onclick="(() => DeleteLup(lup))"></MudIconButton>
                                                                    </MudTooltip>
                                                                </MudButton>
                                                            </MudTooltip>

                                                        }
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </MudSimpleTable>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <MudText Style="text-align:center; font-weight:bold;">
                                    @if (_glosaryInfo != null && _glosaryInfo.ContainsKey("SSV"))
                                    {
                                        Glosary word;
                                        word = _glosaryInfo["SSV"];
                                        <MudTooltip Text="@word.Description" Arrow="true" Placement="Placement.Top" Color="Color.Info">
                                            <MudBadge Dot=true Color="Color.Info" Style="cursor: pointer">
                                                <MudText Style="font-weight:bold">@word.Name</MudText>
                                            </MudBadge>
                                        </MudTooltip>
                                    }
                                    else
                                    {
                                        <span style="font-weight: bold">SSV </span>
                                    }
                                    Comentaries
                                </MudText>
                            </th>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <MudTextField T="string" @bind-Value="_jobObservation.SsvCommentary" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" />
                            </td>
                        </tr>
                    <th>
                        <MudText Style="text-align:center; font-weight:bold;">
                            Ideas de mejora y/o comentarios del Operador
                        </MudText>
                    </th>
                    <th>
                        <MudText Style="text-align:center; font-weight:bold;">
                        Firma del                                     
                        @if (_glosaryInfo != null && _glosaryInfo.ContainsKey("SSV"))
                        {
                            Glosary word;
                            word = _glosaryInfo["SSV"];
                            <MudTooltip Text="@word.Description" Arrow="true" Placement="Placement.Top" Color="Color.Info">
                                <MudBadge Dot=true Color="Color.Info" Style="cursor: pointer">
                                    <MudText Style="font-weight:bold">@word.Name</MudText>
                                </MudBadge>
                            </MudTooltip>
                        }
                        else
                        {
                            <span style="font-weight: bold"> SSV</span>
                        }
                        </MudText>
                    </th>
                    <tr>
                        <td>
                            <MudTextField T="string" @bind-Value="_jobObservation.OperatorCommentary" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="4" />
                        </td>
                        <td>
                            <MudTextField T="string" @bind-Value="_jobObservation.SsvSignature" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                            <MudText Style="text-align:center; font-weight:bold;">
                                Firma del Operador
                            </MudText>
                            <MudTextField T="string" @bind-Value="_jobObservation.OperatorSignature" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        </td>
                    </tr>
                    </tbody>
                </MudSimpleTable>
            </MudItem>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto">Create Job Observation</MudButton>
                <MudButton Variant="Variant.Filled" Class="ml-4" @onclick="(() => CancelCreateJobObservation())">Cancel</MudButton>
            </MudCardActions>
    </MudItem>
</MudGrid>
</EditForm>


@*lup modal*@
<MudDialog DisableSidePadding="false" @bind-IsVisible="visibleLup" Options="dialogLup">
    <DialogContent>
        <MudContainer Style="max-height: 75vh; overflow-y: scroll">
            <SupervisorMobility.Client.Pages.LupPage.LupDetails LupId="lupId"></SupervisorMobility.Client.Pages.LupPage.LupDetails>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudIconButton @onclick="(() => EditLup(lupId))" Color="Color.Info" Icon="@Icons.Material.Filled.Edit"></MudIconButton>
        <MudButton Color="Color.Info" OnClick="CloseLup">Close</MudButton>
    </DialogActions>
</MudDialog>



@*Past modal*@
<MudDialog DisableSidePadding="false" @bind-IsVisible="visiblePast" Options="dialogPastJobObservations">
    <DialogContent>
        <MudContainer Style="max-height: 75vh; min-height:50vh; overflow-y: scroll">
            <MudItem xs="12" sm="12" lg="12" md="12" Style="text-align: center">
                <MudText Typo="Typo.h6">
                    Past Job observations | Lup
                </MudText>
                <MudText>
                    <MudChip Color="Color.Info" Variant="Variant.Text">@distribution.Description</MudChip>
                    <MudChip Color="Color.Info" Variant="Variant.Text">@operation.Description</MudChip>

                </MudText>
            </MudItem>
            @if (pastjobObservations.Count > 0)
            {
                <MudTable Items="pastjobObservations" T="JobObservation" Bordered Class="mt-3 past-jobObservations-table mb-10">
                    <HeaderContent>
                        <MudTh style="text-align: center">
                            <MudTableSortLabel SortBy="new Func<JobObservation, object>(x=>x?.JobObservationId)">Id</MudTableSortLabel>
                        </MudTh>
                        <MudTh style="text-align: center"><MudTableSortLabel SortBy="new Func<JobObservation, object>(x=>x?.DateStart)">Start Date</MudTableSortLabel></MudTh>
                        <MudTh style="text-align: center; width: 65%">Total Lup</MudTh>
                        <MudTh style="text-align: center"><MudTableSortLabel SortBy="new Func<JobObservation, object>(x=>x?.Status)">Status</MudTableSortLabel></MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd>
                            <MudTooltip Text="Go to Job observation" Arrow="true" Placement="Placement.Right" Color="Color.Info">
                                <MudChip Variant="Variant.Text" Color="Color.Info" Size="Size.Small" @onclick="(() => GoToJobObservation(context.JobObservationId))"> @context.JobObservationId</MudChip>
                            </MudTooltip>
                        </MudTd>
                        <MudTd>
                            <MudText>@context.DateStart?.ToShortDateString()</MudText>
                        </MudTd>
                        <MudTd>
                            <MudText>
                                @if (pastLup.Count > 0)
                                {
                                    @foreach (var lup in pastLup)
                                    {
                                        if (lup.JobObservationId == context.JobObservationId)
                                        {
                                            <MudTooltip Text="@lup.LupId.ToString()" Color="Color.Info" Placement="Placement.Bottom" Arrow="true">
                                                <MudButton Style="padding: 0px; margin-right: 10px; margin-top: 10px" Color="Color.Info" Variant="Variant.Outlined" @onclick="(() => OpenDialogLup(lup.LupId))">
                                                    <MudChip Color="Color.Info" OnClose="Closed" Size="Size.Small" CloseIcon="@Icons.Material.Filled.ChecklistRtl" Variant="Variant.Text" Style="cursor:pointer">
                                                        @switch (lup.Pillar)
                                                        {
                                                            case 1:
                                                                <span>S | &nbsp;</span>
                                                                break;
                                                            case 2:
                                                                <span>Q | &nbsp;</span>
                                                                break;
                                                            case 3:
                                                                <span>D | &nbsp;</span>
                                                                break;
                                                            case 4:
                                                                <span>C | &nbsp;</span>
                                                                break;
                                                            case 5:
                                                                <span>Other | &nbsp;</span>
                                                                break;
                                                        }
                                                        @if (lup.Oportunity.Length < 70)
                                                        {
                                                            @lup.Oportunity
                                                        }
                                                        else
                                                        {
                                                            @lup.Oportunity.Substring(0,70) <span>...</span>
                                                        }
                                                    </MudChip>
                                                    @switch (lup.Status)
                                                    {
                                                        case 1:
                                                            <MudChip Variant="Variant.Text" Color="Color.Success" Size="Size.Small">New</MudChip>
                                                            break;
                                                        case 2:
                                                            <MudChip Variant="Variant.Text" Color="Color.Success" Size="Size.Small">In Progress</MudChip>
                                                            break;
                                                        case 3:
                                                            <MudChip Variant="Variant.Text" Color="Color.Warning" Size="Size.Small">Finished</MudChip>
                                                            break;
                                                        case 4:
                                                            <MudChip Variant="Variant.Text" Color="Color.Error" Size="Size.Small">Canceled</MudChip>
                                                            break;
                                                    }
                                                </MudButton>
                                            </MudTooltip>
                                        }
                                    }
                                }
                            </MudText>
                        </MudTd>
                        <MudTd>
                            <MudText>

                                @switch (context.Status)
                                {
                                    case 1:
                                        <MudChip Variant="Variant.Text" Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Success" Size="Size.Small" Style="cursor:pointer">Planned</MudChip>
                                        break;
                                    case 2:
                                        <MudChip Variant="Variant.Text" Icon="@Icons.Material.Filled.StopCircle" Color="Color.Info" Size="Size.Small" Style="cursor:pointer">In Progress</MudChip>
                                        break;
                                    case 3:
                                        <MudChip Variant="Variant.Text" Icon="@Icons.Material.Filled.RemoveCircle" Color="Color.Error" Size="Size.Small" Style="cursor:pointer">Late</MudChip>
                                        break;
                                    case 4:
                                        <MudChip Variant="Variant.Text" Icon="@Icons.Material.Filled.Circle" Color="Color.Info" Size="Size.Small" Style="cursor:pointer">Finished</MudChip>
                                        break;
                                }
                            </MudText>
                        </MudTd>
                    </RowTemplate>
                </MudTable>
            }
            else
            {
                <MudItem Style="text-align: center; margin-top: 100px">
                    <MudText Typo="Typo.h6">
                        There are no Past job observations
                    </MudText>
                </MudItem>
            }
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Info" OnClick="CloseOverdue">Close</MudButton>
    </DialogActions>
</MudDialog>