@page "/checklistcategories/category/{categoryId:int}/createquestion"
@inject IJobStructureService JobStructureCategoriesService
@inject IQuestionTypeService QuestionTypeService
@inject IPillarService PillarsService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<Resource> Localizer
@inject IBreadcrumbService BreadcrumbService
@inject IDialogService DialogService

<style>
    .force-full-width {
        width: 100% !important;
        max-width: 100% !important;
        display: block !important;
    }
</style>
@*Title*@
<PageTitle>Supervisor Mobility | Create Question</PageTitle>

@*Breadcrumb links*@
@* <MudBreadcrumbs Class="mb-10" Items="_links">
    <ItemTemplate Context="item">
        @if (item.Text == "CategoryDetail")
        {
            <MudButton @onclick="(() => CancelCreateOrUpdate())" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@_checklistCategory.Description</MudButton>
        }
        else
        {
            <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
        }
    </ItemTemplate>
</MudBreadcrumbs> *@

@*Form*@
<EditForm Model="_question" class="mt-2" OnValidSubmit="CreateQuestionAsync">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">@Localizer["create"] @Localizer["question"] </MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudChip Variant="Variant.Text" Color="Color.Success">New question</MudChip>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <MudTextField Label="Question Prompt" AutoGrow
                    @bind-Value="_question.Prompt" For="@(() => _question.Prompt)" />
                    <MudTextField Label="Question Prompt EN" AutoGrow
                    @bind-Value="_question.PromptEN" For="@(() => _question.PromptEN)" />
                    @*Mud select for Pillar for Admin*@
                    <!--    ///     -->
                    <MudText Class="mt-4"> @Localizer["pillar"] </MudText>

                    <MudItem Class="d-flex" Style="flex-direction: column;">
                        @foreach (var pillar in _pillars)
                        {
                            var isChecked = SelectedPillarIds.Contains(pillar.PillarId);
                            <MudCheckBox Label="@($"{pillar.Code} - {pillar.Description}")"  Color="Color.Info" Class="mr-2" CheckedChanged="@((bool value) => HandlePillarCheckedChanged(value, pillar.PillarId))" />
                        }

                    </MudItem>
                    <!--    ///     -->
                    <MudTextField Label="Question Not Good" Class="mt-3" 
                    @bind-Value="_question.NotGood" For="@(() => _question.NotGood)" /> 
                    <MudTextField Label="Question Not Good En" Class="mt-3"
                    @bind-Value="_question.NotGoodEN" For="@(() => _question.NotGoodEN)" />
                    @*<MudSwitch Class="mt-3" Label="Is active?" @bind-Checked="_question.IsActive" Color="Color.Info" UnCheckedColor="Color.Dark" />*@

                    <MudText Class="mt-4"> Type </MudText>
                    <MudSelect T="QuestionType" @bind-Value="questionType" Label="Select Question Type" Variant="Variant.Outlined" SelectedValuesChanged="(item)=>OnTypeSelected(item.FirstOrDefault())">
                        @foreach (var type in _questionTypes)
                        {
                            <MudSelectItem Value="@type">@type.Description</MudSelectItem>
                        }
                    </MudSelect>

                    @if (questionType != null && CodesToShowOptions.Contains(questionType.Code))
                    {
                        <MudText Class="mt-4"> Options </MudText>
                        <MudContainer>
                            <MudList>
                                @if (_question.Options != null && _question.Options.Any())
                                {
                                    @foreach (var (item, index) in _question.Options.Select((item, index) => (item, index)))
                                    {
                                        <MudListItem>
                                            <MudGrid>
                                                @if (questionType.Code == "TF")
                                                {
                                                    <MudItem>
                                                        <MudInputLabel>
                                                            @(
                                                                index switch
                                                                {
                                                                    0 => "Option 1",
                                                                    1 => "Option 2",
                                                                    2 => "Option 3",
                                                                    _ => "Other"
                                                                }
                                                                )
                                                        </MudInputLabel>
                                                    </MudItem>
                                                }
                                                <MudItem>
                                                    <MudTextField T="string" Class="mt-3" Value="item" ValueChanged="@((value) => HandleValueChanged(item, value))" Immediate="true"/>
                                                </MudItem>
                                                @if (CodesToAllowMoreOptions.Contains(questionType.Code))
                                                {
                                                    <MudItem>
                                                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="@(() => RemoveElement(item))">Remove</MudButton>
                                                    </MudItem>
                                                }
                                            </MudGrid>
                                        </MudListItem>
                                    }
                                }
                                @if (CodesToAllowMoreOptions.Contains(questionType.Code))
                                {
                                    <MudListItem>
                                        <MudGrid>
                                            <MudItem>
                                                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="AddElement">Add Option</MudButton>
                                            </MudItem>
                                        </MudGrid>
                                    </MudListItem>
                                }
                            </MudList>
                        </MudContainer>
                    }

                    <MudText Class="mt-4"> Policies </MudText>
                    <MudSwitch @bind-Value="_dependendcy"></MudSwitch>

                    @if (_dependendcy)
                    {
                        <div style="width:100%;">
                            <MudExpansionPanels >
                                @foreach (var (action, index) in _actions.Select((item, index) => (item, index)))
                                {
                                    <div style="width: 100%">
                                        <MudExpansionPanel Text="@("Policy N° "+(index+1))" Class="force-full-width" IsExpanded="@(_expandedPanelIndex == index)"
                                                           IsExpandedChanged="@((expanded) => OnExpansionChanged(index, expanded))">
                                            <TitleContent>
                                                <div class="d-flex">
                                                    <MudText Style="margin-top:13px;">Ploicy N° @(index+1)</MudText>
                                                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(() => RemoveAction(index))" />
                                                </div>
                                            </TitleContent>
                                            <ChildContent>
                                                <MudGrid Style="width:100%;">
                                                    <MudItem xs="12" md="6" id="t1">
                                                        <MudPaper Class="p-4">
                                                            <MudText Typo="Typo.h6">Questions</MudText>

                                                            <MudList>
                                                                @foreach (var (qstnItem, qIdx) in action.questions.Select((qstnItem, qIdx) => (qstnItem, qIdx)))
                                                                {
                                                                    <MudListItem>
                                                                        <MudGrid Spacing="1" Justify="Justify.Center">
                                                                            @{
                                                                                var currentQuestion = _checklistCategory.ChecklistQuestions.FirstOrDefault(q => q.QuestionID == selectedData[SelectedDataIds[index]].Questions[SelectedDataInnerIds[index].QID[qIdx]].QuestionId);
                                                                            }
                                                                            <MudItem xs="4">
                                                                                <MudSelect @bind-Value="selectedData[SelectedDataIds[index]].Questions[SelectedDataInnerIds[index].QID[qIdx]].QuestionId" T="int" SelectedValuesChanged="(id)=>HandleQuestionSelection(id.First(),index, qIdx)">
                                                                                    @foreach (var q in _checklistCategory.ChecklistQuestions.Where(p => allowableQT.Contains(p.TypeId)))
                                                                                    {
                                                                                        <MudSelectItem Value="@q.QuestionID">@Indexes[q.QuestionID] - @q.Prompt</MudSelectItem>
                                                                                    }
                                                                                </MudSelect>
                                                                            </MudItem>
                                                                            <MudItem xs="3">
                                                                                <MudSelect T="string" @bind-Value="selectedData[SelectedDataIds[index]].Questions[SelectedDataInnerIds[index].QID[qIdx]].Comparator" SelectedValuesChanged="(id)=>HandleQuestionOperation(id.First(),index, qIdx)">
                                                                                    <MudSelectItem Value="@("!")">different</MudSelectItem>
                                                                                    <MudSelectItem Value="@("=")">equal</MudSelectItem>
                                                                                </MudSelect>
                                                                            </MudItem>
                                                                            <MudItem xs="4">
                                                                                @if (currentQuestion?.Options != null)
                                                                                {
                                                                                    <MudSelect T="string" @bind-Value="selectedData[SelectedDataIds[index]].Questions[SelectedDataInnerIds[index].QID[qIdx]].QstOption" SelectedValuesChanged="(id)=>HandleQuestionOption(id.First(),index, qIdx)">
                                                                                        @foreach (var q in currentQuestion.Options)
                                                                                        {
                                                                                            <MudSelectItem Value="@q">@q</MudSelectItem>
                                                                                        }
                                                                                    </MudSelect>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <MudTextField T="string" Value="selectedData[SelectedDataIds[index]].Questions[SelectedDataInnerIds[index].QID[qIdx]].QstOption" ValueChanged="@((value) => HandleQuestionOption(value, index, qIdx))" />
                                                                                }
                                                                            </MudItem>
                                                                            <MudItem xs="1">
                                                                                <MudIconButton Style="margin-top:15px;" Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(() => RemoveQuestion(index, qIdx))" />
                                                                            </MudItem>
                                                                        </MudGrid>
                                                                    </MudListItem>

                                                                }
                                                            </MudList>

                                                            <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Add" OnClick="@(() => AddQuestionToAction(index))">
                                                                Add Question
                                                            </MudButton>
                                                        </MudPaper>
                                                    </MudItem>

                                                    <MudItem xs="12" md="6" id="t2">
                                                        <MudPaper Class="p-4">
                                                            <MudText Typo="Typo.h6">Actions</MudText>

                                                            <MudList>
                                                                @foreach (var (actnItem, aIdx) in action.actions.Select((actnItem, aIdx) => (actnItem, aIdx)))
                                                                {
                                                                    <MudListItem>
                                                                        <MudGrid Spacing="1" Justify="Justify.Center">
                                                                            @{
                                                                                var actionFlag = OperationsThatAddValueField.Contains(selectedData[SelectedDataIds[index]].Actions[SelectedDataInnerIds[index].AID[aIdx]].Operation);
                                                                            }
                                                                            <MudItem xs="@(actionFlag?4:5)">
                                                                                <MudSelect @bind-Value="selectedData[SelectedDataIds[index]].Actions[SelectedDataInnerIds[index].AID[aIdx]].Operation" T="string" SelectedValuesChanged="(id)=>HandleActionSelection(id.First(),index, aIdx)">
                                                                                    <MudSelectItem Value="@("SET")">SET VALUE</MudSelectItem>
                                                                                    <MudSelectItem Value="@("DISABLE")">DISABLE QUESTION</MudSelectItem>
                                                                                    @if (CodesToAllowMoreOptions.Contains(questionType?.Code))
                                                                                    {
                                                                                        <MudSelectItem Value="@("DBLOPT")">DISABLE OPTION</MudSelectItem>
                                                                                    }
                                                                                </MudSelect>
                                                                            </MudItem>
                                                                            @if(actionFlag)
                                                                            {
                                                                                <MudItem xs="7">
                                                                                    @switch (selectedData[SelectedDataIds[index]].Actions[SelectedDataInnerIds[index].AID[aIdx]].Operation)
                                                                                    {
                                                                                        case "SET":
                                                                                            <MudTextField T="string" Value="selectedData[SelectedDataIds[index]].Actions[SelectedDataInnerIds[index].AID[aIdx]].Value" 
                                                                                                ValueChanged="@((value) => HandleActionValueModification(value, index, aIdx))" />
                                                                                            break;
                                                                                        case "DBLOPT":
                                                                                            <MudSelect T="string" @bind-Value="selectedData[SelectedDataIds[index]].Actions[SelectedDataInnerIds[index].AID[aIdx]].Value"
                                                                                                 SelectedValuesChanged="(value)=>HandleActionValueModification(value.First(),index, aIdx)">
                                                                                                @foreach (var q in _question.Options)
                                                                                                {
                                                                                                    <MudSelectItem Value="@q">@q</MudSelectItem>
                                                                                                }
                                                                                            </MudSelect>
                                                                                            break;
                                                                                    }
                                                                                </MudItem>
                                                                            }
                                                                            <MudItem xs="1">
                                                                                <MudIconButton Style="margin-top:15px;" Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(() => RemoveAction(index, aIdx))" />
                                                                            </MudItem>
                                                                        </MudGrid>
                                                                    </MudListItem>
                                                                }
                                                            </MudList>

                                                            <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Add" OnClick="@(() => AddAnotherToAction(index))">
                                                                Add Action
                                                            </MudButton>
                                                        </MudPaper>
                                                    </MudItem>
                                                </MudGrid>
                                            </ChildContent>
                                    
                                        </MudExpansionPanel>
                                    </div>
                                }
                            </MudExpansionPanels>
                        </div>
                        <MudGrid>
                            <MudItem>
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="AddAction">Add Policy</MudButton>
                            </MudItem>
                        </MudGrid>
                    }

                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto">Save</MudButton>
                    <MudButton Variant="Variant.Filled" Class="ml-4" @onclick="(() => CancelCreateOrUpdate())">Cancel</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>