@page "/lup/updateLup/{lupid:int}"
@using System.Text.RegularExpressions;
@using System.Net.Http.Headers;

@inject ILupService LupServices
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar
@inject IFileUploadAndDownloadService FilesServices
@inject IJobObservationService JobObservationService
@inject IStringLocalizer<Resource> Localizer

@*Title*@
<PageTitle>Supervisor Mobility | @Localizer["update"] Lup</PageTitle>
@*Breadcrumb links*@
<MudBreadcrumbs Items="_links">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
    </ItemTemplate>
</MudBreadcrumbs>
@* Lup *@
<EditForm Model="_lup" OnValidSubmit="EditLup">
<MudGrid Justify="Justify.Center">
    <MudItem lg="10" md="12" sm="12" xs="12">
@*            <MudSwitch Class="mt-3" Label="Is active?" @bind-Checked="@_lup.IsActive" Color="Color.Info" UnCheckedColor="Color.Dark" />
*@        <MudItem xs="12" sm="12" lg="12" md="12" Style="text-align: center">
            <MudText Typo="Typo.h6">
                Lup @_lup.LupId
            </MudText>
        </MudItem>
        <MudItem Class="ml-2">
            <MudSimpleTable Bordered>
                <tbody>
                    <tr>
                        <td style="width:50%">
                            <MudDatePicker @bind-Date="_lup.CreatedDate" Label=@Localizer["startDate"] Color="Color.Info" AdornmentColor="Color.Info" Class="mr-4" />
                        </td>
                        <td> 
                            @if(_lup.EndDate == null)
                            {
                                    <MudText> @Localizer["endDate"]:  @Localizer["notYetCompleted"]</MudText>
                            }
                            else
                            {
                                <MudDatePicker @bind-Date="_lup.EndDate" Label=@Localizer["endDate"] Color="Color.Info" AdornmentColor="Color.Info" />
                            }
                        </td>
                    </tr>
                </tbody>
            </MudSimpleTable>
            <MudSimpleTable Style="overflow-x: auto;" Bordered=true Class="mt-3 mb-3">
                <thead>
                    <tr>
                        <th>
                            <MudText Style="font-weight:bold;">
                                @Localizer["pillar"]
                            </MudText>
                        </th>
                        <th>
                            <MudText Style="text-align:center; font-weight:bold;">
                                @Localizer["opportunityAreaDetected"]
                            </MudText>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @if (_lup.Pillar == 1)
                        {
                            <td style="width: 20%">
                                S
                            </td>
                            <td>
                                <MudTextField T="string" @bind-Value="_lup.Oportunity" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" />
                            </td>
                        }
                    </tr>
                    <tr>
                        @if (_lup.Pillar == 2)
                        {
                            <td>
                                Q
                            </td>
                            <td>
                                    <MudTextField T="string" @bind-Value="_lup.Oportunity" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" />
                                </td>
                        }
                    </tr>
                    <tr>
                        @if (_lup.Pillar == 3)
                        {
                            <td>
                                D
                            </td>
                            <td>
                                    <MudTextField T="string" @bind-Value="_lup.Oportunity" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" />
                                </td>
                        }
                    </tr>
                    <tr>
                        @if (_lup.Pillar == 4)
                        {
                            <td>
                                C
                            </td>
                            <td>
                                    <MudTextField T="string" @bind-Value="_lup.Oportunity" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" />
                                </td>
                        }
                    </tr>
                    <tr>
                        @if (_lup.Pillar == 5)
                        {
                            <td>
                                @Localizer["other"]
                            </td>
                            <td>
                                    <MudTextField T="string" @bind-Value="_lup.Oportunity" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" />
                                </td>
                        }
                    </tr>
                </tbody>
            </MudSimpleTable>
            <MudSimpleTable Style="overflow-x: auto;" Bordered>
                <tbody>
                    <tr>
                        <td style="font-weight:bold; width: 20%"> @Localizer["jobObservation"] Id</td>
                        <td>
                            <MudTooltip Text=@Localizer["goToJobObservation"] Arrow="true" Placement="Placement.Right" Color="Color.Info">
                                <MudBadge Dot=true Color="Color.Info" Style="cursor: pointer">
                                    <MudChip Variant="Variant.Text" Color="Color.Info" @onclick="(() => GoToJobObservation(_lup.JobObservationId))"> @_lup.JobObservationId</MudChip>
                                </MudBadge>
                            </MudTooltip>
                            <MudChip Variant="Variant.Text" Color="Color.Info"> @jobObservation.Distribution?.Description</MudChip>
                            <MudChip Variant="Variant.Text" Color="Color.Info"> @jobObservation.Operation?.Description</MudChip>
                        </td>
                    </tr>
                    <tr>
                            <td style="font-weight:bold"> @Localizer["observer"]</td>
                        <td>@_lup.Observer</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Q3</td>
                        <td>
                            <MudTextField T="string" @bind-Value="_lup.Q3" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Q4</td>
                        <td>
                            <MudTextField T="string" @bind-Value="_lup.Q4" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">@Localizer["status"]</td>
                        <td>
                            @switch (_lup.Status)
                            {
                                case 1:
                                    <MudChip Variant="Variant.Text" Color="Color.Warning" Size="Size.Small">@Localizer["new"]</MudChip>
                                    break;
                                case 2:
                                    <MudChip Variant="Variant.Text" Color="Color.Info" Size="Size.Small">@Localizer["inProgress"]</MudChip>
                                    break;
                                case 3:
                                    <MudChip Variant="Variant.Text" Color="Color.Success" Size="Size.Small">@Localizer["finished"]</MudChip>
                                    break;
                                case 4:
                                    <MudChip Variant="Variant.Text" Color="Color.Error" Size="Size.Small">@Localizer["canceled"]</MudChip>
                                    break;
                            }

                        </td>
                    </tr>
                </tbody>
            </MudSimpleTable>
            <MudSimpleTable Bordered Class="mt-3 mb-10">
                <tbody>
                    <tr>
                    <MudExpansionPanels Elevation="1" MultiExpansion="true">
                        <MudExpansionPanel  IsInitiallyExpanded=true Style="min-width: 100%;">
                            <TitleContent>
                                <MudText Typo="Typo.h6" Style="text-align: center;">
                                    @Localizer["Take photo"]
                                </MudText>
                            </TitleContent>
                            <ChildContent>
                                <td>
                                    @if (capturedImages.Count == 0)
                                    {
                                        <MudItem>
                                            <MudButton @onclick=OpenCameraDialog Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.AddAPhoto">
                                                Open Camera
                                            </MudButton>
                                        </MudItem>
                                    }



                                    <br />
                                    @if (capturedImages.Count > 0)
                                    {
                                        @foreach (var (image, index) in capturedImages.Select((image, index) => (image, index)))
                                        {
                                            <MudBadge Icon="@Icons.Material.Filled.Clear" Color="Color.Error" Class="mr-5 mb-5" @onclick="() => RemoveImage(index)">
                                                <MudImage ObjectFit="ObjectFit.Cover" Height="160" Width="320" Src=@image Alt="Evidence" Elevation="25" Class="rounded-lg" />
                                            </MudBadge>
                                        }
                                        <div style="display: flex; align-items: center; justify-content: space-between;">
                                            <MudItem>
                                                <MudButton Variant="Variant.Filled" @onclick=OpenCameraDialog StartIcon="@Icons.Material.Filled.AddAPhoto" Color="Color.Info">Add photo</MudButton>
                                                @{
                                                    string uploadMessage = "Upload Photo";
                                                    if(capturedImages.Count > 1)
                                                    {
                                                        uploadMessage = "Upload " + capturedImages.Count.ToString() + " Photos";     
                                                    }
                                                }

                                                <MudButton Class="ml-4" Variant="Variant.Filled" @onclick=UploadEvidence StartIcon="@Icons.Material.Filled.FileUpload" Color="Color.Primary">@uploadMessage</MudButton>
                                            </MudItem>
                                        </div>
                                    }
                                </td>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel Class="mb-4" IsInitiallyExpanded=true Style="min-width: 100%;">
                            <TitleContent>
                                <MudText Typo="Typo.h6" Style="text-align: center;">
                                    @Localizer["evidence"]
                                </MudText>
                            </TitleContent>
                            <ChildContent>
                        <td class="d-flex" style="flex-direction: row; flex-wrap: wrap; justify-content: flex-start;">
                        @if(_lup.Evidences.Count > 0 ){
                            @foreach (var evidence in _lup.Evidences)
                            {
                                <MudPaper Class="mr-5 mt-5">
                                            <MudItem Style="text-align:end !important">
                                                <MudIconButton Icon="@Icons.Material.Filled.Cancel" Size="Size.Small" Color="Color.Error" @onclick="(() => RemoveEvidence(evidence.FileUploadId))"></MudIconButton>
                                        </MudItem>
                                    <MudItem style="text-align:center" Class="d-flex justify-center flex-column align-content-center align-center">

                                        @switch (evidence?.ContentType)
                                        {
                                            case "application/pdf":
                                                    <img src="Images/pdf.png" Height="70" Width="70" />
                                                    break;

                                                case "application/msword":
                                                    // Para documentos Word con extensión .doc
                                                    <img src="Images/doc.png" Height="70" Width="70" />

                                                    break;

                                                case "application/vnd.openxmlformats-officedocument.wordprocessingml.document":
                                                    <img src="Images/docx.png" Height="70" Width="70" />

                                                    // Para documentos Word con extensión .docx
                                                    break;

                                                case "application/vnd.ms-powerpoint":
                                                    <img src="Images/ppt.png" Height="70" Width="70" />
                                                    // Para presentaciones PowerPoint con extensión .ppt
                                                    break;

                                                case "application/vnd.openxmlformats-officedocument.presentationml.presentation":
                                                    <img src="Images/pptx.png" Height="70" Width="70" />

                                                    // Para presentaciones PowerPoint con extensión .pptx
                                                    break;

                                                case "application/vnd.ms-excel":
                                                    // Para hojas de cálculo Excel con extensión .xls
                                                    <img src="Images/xls.png" Height="70" Width="70" />
                                                    break;

                                                case "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":
                                                    // Para hojas de cálculo Excel con extensión .xlsx
                                                    <img src="Images/xlsx.png" Height="70" Width="70" />

                                                    break;

                                                case "image/jpeg":
                                                    <img src="Images/jpg.png" Height="70" Width="70" />

                                                    // Para imágenes JPEG con extensión .jpg o .jpeg
                                                    break;

                                                case "image/png":
                                                    // Para imágenes PNG con extensión .png
                                                    <img src="Images/png.png" Height="70" Width="70" />

                                                    break;

                                                case "image/gif":
                                                    // Para imágenes GIF con extensión .gif
                                                    <img src="Images/gif.png" Height="70" Width="70" />
                                                    break;

                                                default:
                                                    <img src="Images/error.png" Height="70" Width="70" />
                                                    break;
                                        }
                                                <MudTooltip Text=@Localizer["download"] Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="true">
                                            <MudButton @onclick="@(() => DownloadFile(evidence.FileUploadId, evidence?.FileName) )">
                                                <MudItem>
                                                    <MudChip Variant="Variant.Text" Style="cursor:pointer" Icon="@Icons.Material.Filled.Download" Text="@evidence?.FileName" Color="Color.Info" />
                                                </MudItem>
                                            </MudButton>
                                        </MudTooltip>
   
                                    </MudItem>
                                </MudPaper>
                            }
                        }
                        else 
                        {
                                    <span> @Localizer["noFilesUploadedYet"]</span>
                        }
                         </td>
                            </ChildContent>
                        </MudExpansionPanel>
                    </MudExpansionPanels>
                    </tr>
                    <tr>
                        <td>
                        <MudStack Style="width: 100%">
                            <MudFileUpload T="IReadOnlyList<IBrowserFile>" OnFilesChanged="OnInputFileChanged" Hidden="false" Class="flex-1" InputClass="absolute mud-width-full mud-height-full overflow-hidden z-20" InputStyle="opacity:0"
                                           @ondragenter="@SetDragClass" @ondragleave="@ClearDragClass" @ondragend="@ClearDragClass">
                                <ButtonTemplate Context="evidence">
                                    <MudPaper Height="300px" Outlined="true" Class="@DragClass">
                                                <MudText Typo="Typo.h6"> @Localizer["dragAndDropEvidenceFilesHereOrClick"]</MudText>

                                        <MudGrid Class="d-flex justify-center flex-row align-content-center align-center">
                                            @foreach (var file in fileNames)
                                            {
                                                <MudItem style="text-align:center" Class="d-flex justify-center flex-column align-content-center align-center">
                                                    <MudText Typo="Typo.h6">@file.message</MudText>

                                                    @switch (file.ftype)
                                                    {
                                                        case "application/pdf":
                                                            <img src="Images/pdf.png" Height="70" Width="70" />
                                                            break;

                                                        case "application/msword":
                                                            // Para documentos Word con extensión .doc
                                                            <img src="Images/doc.png" Height="70" Width="70" />

                                                            break;

                                                        case "application/vnd.openxmlformats-officedocument.wordprocessingml.document":
                                                            <img src="Images/docx.png" Height="70" Width="70" />

                                                            // Para documentos Word con extensión .docx
                                                            break;

                                                        case "application/vnd.ms-powerpoint":
                                                            <img src="Images/ppt.png" Height="70" Width="70" />
                                                            // Para presentaciones PowerPoint con extensión .ppt
                                                            break;

                                                        case "application/vnd.openxmlformats-officedocument.presentationml.presentation":
                                                            <img src="Images/pptx.png" Height="70" Width="70" />

                                                            // Para presentaciones PowerPoint con extensión .pptx
                                                            break;

                                                        case "application/vnd.ms-excel":
                                                            // Para hojas de cálculo Excel con extensión .xls
                                                            <img src="Images/xls.png" Height="70" Width="70" />
                                                            break;

                                                        case "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":
                                                            // Para hojas de cálculo Excel con extensión .xlsx
                                                            <img src="Images/xlsx.png" Height="70" Width="70" />

                                                            break;

                                                        case "image/jpeg":
                                                            <img src="Images/jpg.png" Height="70" Width="70" />

                                                            // Para imágenes JPEG con extensión .jpg o .jpeg
                                                            break;

                                                        case "image/png":
                                                            // Para imágenes PNG con extensión .png
                                                            <img src="Images/png.png" Height="70" Width="70" />

                                                            break;

                                                        case "image/gif":
                                                            // Para imágenes GIF con extensión .gif
                                                            <img src="Images/gif.png" Height="70" Width="70" />
                                                            break;

                                                        default:
                                                            <img src="Images/error.png" Height="70" Width="70" />
                                                            break;
                                                    }
                                                    <MudButton Target="_blank"
                                                           Variant="Variant.Text"
                                                           Color="Color.Secondary"
                                                           Style="text-transform:none">
                                                        @file.name
                                                    </MudButton>
                                                </MudItem>
                                            }
                                        </MudGrid>

                                    </MudPaper>
                                </ButtonTemplate>
                            </MudFileUpload>
                            <MudToolBar DisableGutters="true" Class="gap-4">
                                <MudButton StartIcon="@Icons.Material.Filled.CloudUpload" OnClick="Upload" Disabled="@(upload)" Color="Color.Info" Variant="Variant.Filled"> @Localizer["uploadFile"]</MudButton>
                                <MudButton OnClick="Clear" Disabled="@(!fileNames.Any() )" Color="Color.Error" Variant="Variant.Filled"> @Localizer["clear"]</MudButton>
                            </MudToolBar>
                        </MudStack>
                        </td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        </MudItem>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto"> @Localizer["saveProgress"]</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Info" Class="ml-4" @onclick="(() => FinishedLup())"> @Localizer["finish"]</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Info" Class="ml-4" @onclick="(() => OpenCancelDialog())"> @Localizer["cancel"] Lup</MudButton>
                <MudButton Variant="Variant.Filled" Class="ml-4" @onclick="(() => GoBack())"> @Localizer["goBack"]</MudButton>
        </MudCardActions>
    </MudItem>
</MudGrid>
</EditForm>

@*Cancel Justification Modal*@

<MudDialog DisableSidePadding="false" @bind-IsVisible="visible" Options="dialogOptions">
    <DialogContent>
        <MudContainer Style="min-height:40vh; max-height: 75vh; overflow-y: scroll; text-align: center">
            <MudText Typo="Typo.h6"> @Localizer["writeDownTheJustificationToCancelTheLup"]</MudText>
            <MudTextField T="string" @bind-Value="_lup.Justification" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="10" Class="mt-8" />
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Info" @onclick="(() => CancelLup())"> @Localizer["save"]</MudButton>
        <MudButton Color="Color.Info" OnClick="Close"> @Localizer["close"]</MudButton>
    </DialogActions>
</MudDialog>

@*Camera Modal*@
<MudDialog DisableSidePadding="false" @bind-IsVisible="visibleCamera" Options="dialogCameraOptions">
    <TitleContent>
        <MudItem>
            <MudText Typo="Typo.h6" Style="text-align:center">LUP Evidence</MudText>
        </MudItem>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 85vh; overflow-y: scroll text-align:center; justify-content: center; align-items:center;">
            <MudPaper Elevation="0">
                <CameraStreamer @ref=CameraStreamerReference
                                Width=1280
                                Height=720
                                OnRendered=OnRenderedHandler
                                OnFrame=OnFrameHandler
                                Style="max-height: 70vh; width: 100%; border-radius: 10px"
                                Class="mud-elevation-4 rounded white"
                                CameraID=@cameraId
                                        Autostart />
                <MudItem style="text-align: center">
                    @if (frameCount > 0)
                    {
                        <MudButton @onclick=GetCurrentFrame Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.LinkedCamera" Color="Color.Info" Class="mt-2 mb-4">
                            Take photo
                        </MudButton>
                    }
                    else
                    {
                        <MudButton StartIcon="@Icons.Material.Filled.LinkedCamera" Color="Color.Info" Class="mt-2 mb-4" Disabled>
                        Take photo
                    </MudButton>
                    }
                </MudItem>
            </MudPaper>
        </MudContainer>
    </DialogContent>
</MudDialog>