@page "/lup/updateLup/{lupid:int}"
@using System.Text.RegularExpressions;
@using System.Net.Http.Headers;

@inject ILupService LupServices
@inject IDepartmentService DepartmentServices
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar
@inject IFileUploadAndDownloadService FilesServices
@inject IJobObservationService JobObservationService
@inject IStringLocalizer<Resource> Localizer
@inject IStringLocalizer<Resource1> Localizer1

@*Title*@
<PageTitle>Supervisor Mobility | @Localizer["update"] Lup</PageTitle>
@*Breadcrumb links*@
@*<MudBreadcrumbs Items="_links">
    <ItemTemplate Context="item">
        <MudButton Href="@item.Href" Variant="Variant.Text" Color="Color.Info" Disabled="item.Disabled">@item.Text</MudButton>
        </ItemTemplate>
    </MudBreadcrumbs>*@
    @if (showLoading)
{
    <MudGrid Justify="Justify.Center">
        <MudItem lg="10" md="12" sm="12" xs="12">
            <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
                <ItemTemplate>
                    <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                        <MudItem class="d-flex flex-column justify-center align-self-center">
                            <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                        </MudItem>
                        @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                        <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
                        </div>
                    </ItemTemplate>
                </MudCarousel>

                <MudSimpleTable Class="styled-table table-striped" FixedHeader=true>
                    <thead>
                        <tr>
                            <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                            <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                            <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                        </tr>
                        <tr>
                            <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                            <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                        </tr>
                        <tr>
                            <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                            <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                        </tr>
                        <tr>
                            <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                            <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                        </tr>
                        <tr>
                            <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                            <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /> <MudSpacer />   <MudSkeleton SkeletonType="SkeletonType.Rectangle" /> <MudSpacer />  <MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
                        </tr>

                    </tbody>
                </MudSimpleTable>
            </MudItem>
        </MudGrid>
}
else
{
    @* Lup *@
    <EditForm Model="_lup" OnValidSubmit="EditLup">
        <MudGrid Justify="Justify.Center">
            <MudItem lg="10" md="12" sm="12" xs="12">
                <MudItem Class="ml-2">
                    <MudExpansionPanels MultiExpansion="true" Elevation="5">
                        <MudExpansionPanel IsInitiallyExpanded=true Style="min-width: 100%;">
                            <TitleContent>
                                <MudText Typo="Typo.h6" Style="text-align: center;">
                                    Lup @_lup.LupId
                                </MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudSimpleTable Style="overflow-x: auto;" Bordered class="mb-3" Elevation="0">
                                     <thead>
                                         <tr>
                                             <th>
                                                 <MudText Style="font-weight:bold;">
                                                     @Localizer["pillar"]
                                                </MudText>
                                            </th>
                                            <th>
                                                <MudText Style="text-align:center; font-weight:bold;">
                                                    @Localizer["opportunityAreaDetected"]
                                                </MudText>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            @if (_lup.Pillar == 1)
                                            {
                                                <td style="width: 20%">
                                                    S
                                                </td>
                                                <td>

                                                    <MudTextField T="string" @bind-Value="_lup.Oportunity" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" />

                                                </td>
                                            }
                                        </tr>
                                        <tr>
                                            @if (_lup.Pillar == 2)
                                            {
                                                <td style="width: 20%">
                                                    Q
                                                </td>
                                                <td>
                                                    <MudTextField T="string" @bind-Value="_lup.Oportunity" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" />
                                                </td>
                                            }
                                        </tr>
                                        <tr>
                                            @if (_lup.Pillar == 3)
                                            {
                                                <td style="width: 20%">
                                                    D
                                                </td>
                                                <td>
                                                    <MudTextField T="string" @bind-Value="_lup.Oportunity" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" />
                                                </td>
                                            }
                                        </tr>
                                        <tr>
                                            @if (_lup.Pillar == 4)
                                            {
                                                <td style="width: 20%">
                                                    C
                                                </td>
                                                <td>
                                                    <MudTextField T="string" @bind-Value="_lup.Oportunity" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" />
                                                </td>
                                            }
                                        </tr>
                                        <tr>
                                            @if (_lup.Pillar == 5)
                                            {
                                                <td style="width: 20%">
                                                    @Localizer["other"]
                                                </td>
                                                <td>
                                                    <MudTextField T="string" @bind-Value="_lup.Oportunity" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="3" />
                                                </td>
                                            }
                                        </tr>
                                    </tbody>
                                </MudSimpleTable>
                                <MudSimpleTable Style="overflow-x: auto;" Bordered Elevation="0">
                                     <tbody>
                                         <tr>
                                             <td style="font-weight:bold; width: 20%">@Localizer["jobObservation"]</td>
                                            <td>
                                                <MudButton EndIcon="@Icons.Material.Filled.ContentPasteGo" Variant="Variant.Filled" Color="Color.Info" @onclick="(() => GoToJobObservation(_lup.JobObservationId))">@Localizer["jobObservation"]</MudButton>
                                                    <MudChip Variant="Variant.Text" Color="Color.Info" @onclick="(() => GoToJobObservation(_lup.JobObservationId))"> @jobObservation.Distribution?.Description</MudChip>
                                                    <MudChip Variant="Variant.Text" Color="Color.Info" @onclick="(() => GoToJobObservation(_lup.JobObservationId))"> @jobObservation.Operation?.Description</MudChip>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bold"> @Localizer["observer"]</td>
                                            <td>@_lup.Observer</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold"> @Localizer["department"]</td>
                                            <td>
                                                <MudItem Style="width: 20vw">
                                                    <MudSelect T="int" Label=@Localizer["department"] Variant="Variant.Text" Class="mt-3 mr-4" AnchorOrigin="Origin.BottomCenter" @bind-Value="@departmentID">
                                                        <MudSelectItem Value="0">@Localizer["selectADepartment"]</MudSelectItem>
                                                            @foreach (var type in _departments)
                                                        {
                                                            <MudSelectItem Value="type.DepartmentId">@($"{type.Description}")</MudSelectItem>
                                                        }
                                                    </MudSelect>
                                                </MudItem>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold">Begin / end</td>
                                            <td>
                                                <MudItem Style="display:inline-flex;  align-items: flex-end;">
                                                    <MudDatePicker @bind-Date="_lup.CreatedDate" Label=@Localizer["startDate"] Color="Color.Info" AdornmentColor="Color.Info" Class="mr-4" />
                                                    @if (_lup.EndDate == null)
                                                    {
                                                        <MudItem Style="display: inline-flex; flex-direction: column;">
                                                            <MudText Class="pl-2" Style="font-size: 0.8rem;"> @Localizer["endDate"]</MudText>
                                                                <MudChip Variant="Variant.Text" Color="Color.Default" Size="Size.Small" Style="margin-bottom: 0px;" CloseIcon="@Icons.Material.Filled.Today" OnClose="CloseChip">@Localizer["notYetCompleted"]</MudChip>
                                                            </MudItem>
                                                    }
                                                    else
                                                    {
                                                        <MudDatePicker @bind-Date="_lup.EndDate" Label=@Localizer["endDate"] Color="Color.Info" AdornmentColor="Color.Info" />
                                                    }

                                                </MudItem>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold">Q3</td>
                                            <td>
                                                <MudTextField T="string" @bind-Value="_lup.Q3" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold">Q4</td>
                                            <td>
                                                <MudTextField T="string" @bind-Value="_lup.Q4" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold">@Localizer["status"]</td>
                                            <td>
                                                <MudRadioGroup T="int" @bind-SelectedOption="auxStOKNG" >
                                                    <MudRadio Option="0" Color="Color.Primary" Size="Size.Small" Placement="Placement.Top">
                                                        <MudChart ChartType="ChartType.Pie" InputData="@data[0]" ChartOptions="chartOptions" InputLabels="@datalabels[0]" Width="40px" Height="40px" />
                                                    </MudRadio>
                                                    <MudRadio Option="1" Color="Color.Primary" Size="Size.Small" Placement="Placement.Top">
                                                        <MudChart ChartType="ChartType.Pie" InputData="@data[1]" ChartOptions="chartOptions" Width="40px" Height="40px" />
                                                    </MudRadio>
                                                    <MudRadio Option="2" Color="Color.Primary" Size="Size.Small" Placement="Placement.Top">
                                                        <MudChart ChartType="ChartType.Pie" InputData="@data[2]" ChartOptions="chartOptions" Width="40px" Height="40px" />
                                                    </MudRadio>
                                                    <MudRadio Option="3" Color="Color.Primary" Size="Size.Small" Placement="Placement.Top">
                                                        <MudChart ChartType="ChartType.Pie" InputData="@data[3]" ChartOptions="chartOptions" Width="40px" Height="40px" />
                                                    </MudRadio>
                                                    <MudRadio Option="4" Color="Color.Primary" Size="Size.Small" Placement="Placement.Top">
                                                        <MudChart ChartType="ChartType.Pie" InputData="@data[4]" ChartOptions="chartOptions" Width="40px" Height="40px" />
                                                    </MudRadio>
                                                </MudRadioGroup>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold">@Localizer["StdChange"]</td>
                                            <td>
                                                @* <MudRadioGroup T="int" SelectedOptionChanged="((v) => {_lup.StdChange = v;})"> *@
                                                <MudRadioGroup T="int" @bind-SelectedOption="auxStChange" >
                                                    <MudRadio Option="0" Color="Color.Primary" Size="Size.Small">
                                                        <MudChip Variant="Variant.Text" Color="Color.Warning" Size="Size.Small">@Localizer["Noo"]</MudChip>
                                                    </MudRadio>
                                                    <MudRadio Option="1" Color="Color.Primary" Size="Size.Small" >
                                                        <MudChip Variant="Variant.Text" Color="Color.Primary" Size="Size.Small">@Localizer["yes"]</MudChip>
                                                    </MudRadio>
                                                </MudRadioGroup>
                                            </td>
                                        </tr>
                                            <tr>
                                                <td style="font-weight:bold">@Localizer["StdUpdate"]</td>
                                            <td>
                                                <MudRadioGroup T="int" @bind-SelectedOption="auxStUpdate" >
                                                    <MudRadio Option="0" Color="Color.Primary" Size="Size.Small" >
                                                        <MudChip Variant="Variant.Text" Color="Color.Warning" Size="Size.Small">@Localizer["Noo"]</MudChip>
                                                        </MudRadio>
                                                        <MudRadio Option="1" Color="Color.Primary" Size="Size.Small" >
                                                            <MudChip Variant="Variant.Text" Color="Color.Primary" Size="Size.Small">@Localizer["yes"]</MudChip>
                                                        </MudRadio>
                                                    </MudRadioGroup>
                                                </td>
                                            </tr>
                                    </tbody>
                                </MudSimpleTable>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel IsInitiallyExpanded=true Style="min-width: 100%;">
                            <TitleContent>
                                <MudText Typo="Typo.h6" Style="text-align: center;">
                                    @Localizer["Take photo"]
                                </MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudSimpleTable Bordered Elevation="0">
                                     <tbody>
                                         <tr>
                                             <td>
                                                 @if (capturedImages.Count == 0)
                                                {
                                                    <MudItem>
                                                        <MudButton @onclick=OpenCameraDialog Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.AddAPhoto">
                                                            Open Camera
                                                        </MudButton>
                                                    </MudItem>
                                                }



                                                <br />
                                                @if (capturedImages.Count > 0)
                                                {
                                                    <MudItem Class="d-flex" Style="flex-direction: row; flex-wrap: wrap; justify-content: flex-start;">

                                                        @foreach (var (image, index) in capturedImages.Select((image, index) => (image, index)))
                                                        {
                                                            <MudItem Class=" mr-8 mb-4">
                                                                <MudItem Style="text-align:end !important; margin-right: -15px; margin-bottom: -7px; cursor:pointer">
                                                                    <MudTooltip Text="Delete photo" Color="Color.Error" Placement="Placement.Right" Arrow="true">
                                                                        <MudIcon Icon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="() => RemoveImage(index)"></MudIcon>
                                                                    </MudTooltip>
                                                                </MudItem>
                                                                <MudImage ObjectFit="ObjectFit.Cover" Height="160" Width="320" Src=@image Alt="Evidence" Elevation="25" Class="rounded-lg" />
                                                            </MudItem>
                                                        }
                                                    </MudItem>
                                                    <div style="display: flex; align-items: center; justify-content: space-between;">
                                                        <MudItem>
                                                            <MudButton Variant="Variant.Filled" @onclick=OpenCameraDialog StartIcon="@Icons.Material.Filled.AddAPhoto" Color="Color.Info">Add photo</MudButton>
                                                            @{
                                                                string uploadMessage = "Upload Photo";
                                                                if (capturedImages.Count > 1)
                                                                {
                                                                    uploadMessage = "Upload " + capturedImages.Count.ToString() + " Photos";
                                                                }
                                                            }

                                                            <MudButton Class="ml-4" Variant="Variant.Filled" @onclick=UploadEvidence StartIcon="@Icons.Material.Filled.FileUpload" Color="Color.Primary">@uploadMessage</MudButton>
                                                            </MudItem>
                                                        </div>
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </MudSimpleTable>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudExpansionPanel Class="mb-4" IsInitiallyExpanded=true Style="min-width: 100%;">
                            <TitleContent>
                                <MudText Typo="Typo.h6" Style="text-align: center;">
                                    @Localizer["evidence"]
                                </MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudSimpleTable Bordered Class="mt-3 mb-10" Elevation="0">
                                     <tbody>
                                         <tr>
                                             @if (_lup.Evidences.Where(e => e?.ContentType == "image/png").ToList().Count > 0)
                                            {
                                                <MudTooltip Text="Show images" Color="Color.Info" Placement="Placement.Right" Arrow="true">
                                                    <MudIcon Icon=@Icons.Material.Filled.PhotoLibrary Color="Color.Info" Style="cursor:pointer" Class="ml-4" @onclick="(() => OpenPhotoDialog(0))"></MudIcon>
                                                </MudTooltip>
                                            }
                                            <td>
                                                @if (_lup.Evidences.Count > 0)
                                                {
                                                    <MudItem Class="d-flex" Style="flex-direction: row; flex-wrap: wrap; justify-content: center;">

                                                        @foreach (var (evidence, index) in _lup.Evidences.Where(e => e?.ContentType == "image/png").Select((evidence, index) => (evidence, index)))
                                                        {
                                                            <MudItem Class=" mr-8 mb-4">
                                                                <MudItem Style="text-align:end !important; margin-right: -15px; margin-bottom: -7px; cursor:pointer">
                                                                    <MudTooltip Text="Delete photo" Color="Color.Error" Placement="Placement.Right" Arrow="true">
                                                                        <MudIcon Icon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="(() => RemoveEvidence(evidence.FileUploadId))"></MudIcon>
                                                                    </MudTooltip>
                                                                </MudItem>
                                                                <MudItem Style="display:flex; flex-direction: column; align-items: center;">
                                                                    <MudTooltip Text="Show images" Color="Color.Info" Placement="Placement.Top" Arrow="true" ShowOnFocus="true">
                                                                        <MudImage ObjectFit="ObjectFit.Cover" Height="160" Width="320" Src=@imageUrls[evidence.FileUploadId] Alt="Evidence" Elevation="25" Class="rounded-lg" Style="cursor:pointer" @onclick="(() => OpenPhotoDialog(index))" />
                                                                    </MudTooltip>
                                                                    <MudTooltip Text=@Localizer["download"] Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="true">
                                                                        <MudButton @onclick="@(() => DownloadFile(evidence.FileUploadId, evidence?.FileName) )">
                                                                            <MudItem>
                                                                                <MudChip Variant="Variant.Text" Style="cursor:pointer" Icon="@Icons.Material.Filled.Download" Text="@evidence?.FileName" Color="Color.Info" />
                                                                            </MudItem>
                                                                        </MudButton>
                                                                    </MudTooltip>
                                                                </MudItem>
                                                            </MudItem>
                                                        }
                                                    </MudItem>
                                                    <MudItem Class="d-flex" Style="flex-direction: row; flex-wrap: wrap; justify-content: flex-start;">
                                                        @foreach (var evidence in _lup.Evidences)
                                                        {
                                                            if (evidence?.ContentType != "image/png")
                                                            {
                                                                <MudPaper Class="mr-5 mt-5">
                                                                    <MudItem Style="text-align:end !important">
                                                                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Size="Size.Small" Color="Color.Error" @onclick="(() => RemoveEvidence(evidence.FileUploadId))"></MudIconButton>
                                                                    </MudItem>
                                                                    <MudItem style="text-align:center" Class="d-flex justify-center flex-column align-content-center align-center">

                                                                        @switch (evidence?.ContentType)
                                                                        {
                                                                            case "application/pdf":
                                                                                <img src="Images/pdf.png" Height="70" Width="70" />
                                                                                break;

                                                                            case "application/msword":
                                                                                // Para documentos Word con extensión .doc
                                                                                <img src="Images/doc.png" Height="70" Width="70" />

                                                                                break;

                                                                            case "application/vnd.openxmlformats-officedocument.wordprocessingml.document":
                                                                                <img src="Images/docx.png" Height="70" Width="70" />

                                                                                // Para documentos Word con extensión .docx
                                                                                break;

                                                                            case "application/vnd.ms-powerpoint":
                                                                                <img src="Images/ppt.png" Height="70" Width="70" />
                                                                                // Para presentaciones PowerPoint con extensión .ppt
                                                                                break;

                                                                            case "application/vnd.openxmlformats-officedocument.presentationml.presentation":
                                                                                <img src="Images/pptx.png" Height="70" Width="70" />

                                                                                // Para presentaciones PowerPoint con extensión .pptx
                                                                                break;

                                                                            case "application/vnd.ms-excel":
                                                                                // Para hojas de cálculo Excel con extensión .xls
                                                                                <img src="Images/xls.png" Height="70" Width="70" />
                                                                                break;

                                                                            case "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":
                                                                                // Para hojas de cálculo Excel con extensión .xlsx
                                                                                <img src="Images/xlsx.png" Height="70" Width="70" />

                                                                                break;

                                                                            case "image/jpeg":
                                                                                <img src="Images/jpg.png" Height="70" Width="70" />

                                                                                // Para imágenes JPEG con extensión .jpg o .jpeg
                                                                                break;


                                                                            case "image/gif":
                                                                                // Para imágenes GIF con extensión .gif
                                                                                <img src="Images/gif.png" Height="70" Width="70" />
                                                                                break;

                                                                            default:
                                                                                <img src="Images/error.png" Height="70" Width="70" />
                                                                                break;

                                                                        }
                                                                        <MudTooltip Text=@Localizer["download"] Color="Color.Info" Placement="Placement.Bottom" Arrow="true" ShowOnFocus="true">
                                                                            <MudButton @onclick="@(() => DownloadFile(evidence.FileUploadId, evidence?.FileName) )">
                                                                                <MudItem>
                                                                                    <MudChip Variant="Variant.Text" Style="cursor:pointer" Icon="@Icons.Material.Filled.Download" Text="@evidence?.FileName" Color="Color.Info" />
                                                                                </MudItem>
                                                                            </MudButton>
                                                                        </MudTooltip>

                                                                    </MudItem>
                                                                </MudPaper>
                                                            }
                                                        }
                                                    </MudItem>

                                                }
                                                else
                                                {
                                                    <span> @Localizer["noFilesUploadedYet"]</span>
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </MudSimpleTable>
                            </ChildContent>
                        </MudExpansionPanel>
                    </MudExpansionPanels>


                    <MudSimpleTable Bordered Class="mt-3 mb-10" Elevation="5">
                         <tbody>
                             <tr>
                                 <td>
                                     <MudStack Style="width: 100%">
                                         <MudFileUpload T="IReadOnlyList<IBrowserFile>" OnFilesChanged="OnInputFileChanged" Hidden="false" Class="flex-1" InputClass="absolute mud-width-full mud-height-full overflow-hidden z-20" InputStyle="opacity:0"
                                                        @ondragenter="@SetDragClass" @ondragleave="@ClearDragClass" @ondragend="@ClearDragClass">
                                             <ButtonTemplate Context="evidence">
                                                 <MudPaper Height="300px" Outlined="true" Class="@DragClass">
                                                     <MudText Typo="Typo.h6"> @Localizer["dragAndDropEvidenceFilesHereOrClick"]</MudText>

                                                        <MudGrid Class="d-flex justify-center flex-row align-content-center align-center">
                                                            @foreach (var file in fileNames)
                                                        {
                                                            <MudItem style="text-align:center" Class="d-flex justify-center flex-column align-content-center align-center">
                                                                <MudText Typo="Typo.h6">@file.message</MudText>

                                                                    @switch (file.ftype)
                                                                {
                                                                    case "application/pdf":
                                                                        <img src="Images/pdf.png" Height="70" Width="70" />
                                                                        break;

                                                                    case "application/msword":
                                                                        // Para documentos Word con extensión .doc
                                                                        <img src="Images/doc.png" Height="70" Width="70" />

                                                                        break;

                                                                    case "application/vnd.openxmlformats-officedocument.wordprocessingml.document":
                                                                        <img src="Images/docx.png" Height="70" Width="70" />

                                                                        // Para documentos Word con extensión .docx
                                                                        break;

                                                                    case "application/vnd.ms-powerpoint":
                                                                        <img src="Images/ppt.png" Height="70" Width="70" />
                                                                        // Para presentaciones PowerPoint con extensión .ppt
                                                                        break;

                                                                    case "application/vnd.openxmlformats-officedocument.presentationml.presentation":
                                                                        <img src="Images/pptx.png" Height="70" Width="70" />

                                                                        // Para presentaciones PowerPoint con extensión .pptx
                                                                        break;

                                                                    case "application/vnd.ms-excel":
                                                            // Para hojas de cálculo Excel con extensión .xls
                                                                        <img src="Images/xls.png" Height="70" Width="70" />
                                                                        break;

                                                                    case "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":
                                                                        // Para hojas de cálculo Excel con extensión .xlsx
                                                                        <img src="Images/xlsx.png" Height="70" Width="70" />

                                                                        break;

                                                                    case "image/jpeg":
                                                                        <img src="Images/jpg.png" Height="70" Width="70" />

                                                                        // Para imágenes JPEG con extensión .jpg o .jpeg
                                                                        break;

                                                                    case "image/png":
                                                                        // Para imágenes PNG con extensión .png
                                                                        <img src="Images/png.png" Height="70" Width="70" />

                                                                        break;

                                                                    case "image/gif":
                                                                        // Para imágenes GIF con extensión .gif
                                                                        <img src="Images/gif.png" Height="70" Width="70" />
                                                                        break;

                                                                    default:
                                                                        <img src="Images/error.png" Height="70" Width="70" />
                                                                        break;
                                                                }
                                                                <MudButton Target="_blank"
                                                                           Variant="Variant.Text"
                                                                           Color="Color.Secondary"
                                                                           Style="text-transform:none">
                                                                    @file.name
                                                                </MudButton>
                                                            </MudItem>
                                                        }
                                                    </MudGrid>

                                                </MudPaper>
                                            </ButtonTemplate>
                                        </MudFileUpload>
                                        <MudToolBar DisableGutters="true" Class="gap-4">
                                            <MudButton StartIcon="@Icons.Material.Filled.CloudUpload" OnClick="Upload" Disabled="@(upload)" Color="Color.Info" Variant="Variant.Filled"> @Localizer["uploadFile"]</MudButton>
                                                <MudButton OnClick="Clear" Disabled="@(!fileNames.Any() )" Color="Color.Error" Variant="Variant.Filled"> @Localizer["clear"]</MudButton>
                                            </MudToolBar>
                                        </MudStack>
                                    </td>
                                </tr>
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>
                    <MudCardActions>
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto"> @Localizer["saveProgress"]</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Info" Class="ml-4" @onclick="(() => FinishedLup())"> @Localizer["finish"]</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Info" Class="ml-4" @onclick="(() => OpenCancelDialog())"> @Localizer["cancel"] Lup</MudButton>
                    <MudButton Variant="Variant.Filled" Class="ml-4" @onclick="(() => GoBack())"> @Localizer["goBack"]</MudButton>
                    </MudCardActions>
                </MudItem>
            </MudGrid>
        </EditForm>
}

@*Cancel Justification Modal*@

<MudDialog DisableSidePadding="false" @bind-IsVisible="visible" Options="dialogOptions">
    <DialogContent>
        <MudContainer Style="min-height:40vh; max-height: 75vh; overflow-y: scroll; text-align: center">
            <MudText Typo="Typo.h6"> @Localizer["writeDownTheJustificationToCancelTheLup"]</MudText>
                <MudTextField T="string" @bind-Value="_lup.Justification" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="10" Class="mt-8" />
            </MudContainer>
        </DialogContent>
        <DialogActions>
            <MudButton Color="Color.Info" @onclick="(() => CancelLup())"> @Localizer["save"]</MudButton>
            <MudButton Color="Color.Info" OnClick="Close"> @Localizer["close"]</MudButton>
        </DialogActions>
    </MudDialog>

    @*Camera Modal*@
    <MudDialog DisableSidePadding="false" @bind-IsVisible="visibleCamera" Options="dialogCameraOptions">
        <TitleContent>
            <MudItem>
                <MudText Typo="Typo.h6" Style="text-align:center">LUP Evidence</MudText>
            </MudItem>
        </TitleContent>
        <DialogContent>
            <MudContainer Style="max-height: 85vh; overflow-y: scroll text-align:center; justify-content: center; align-items:center;">
                <MudPaper Elevation="0">
                    <CameraStreamer @ref=CameraStreamerReference
                                    Width=1280
                                    Height=720
                                    OnRendered=OnRenderedHandler
                                    OnFrame=OnFrameHandler
                                    Style="max-height: 70vh; width: 100%; border-radius: 10px"
                                    Class="mud-elevation-4 rounded white"
                                    CameraID=@cameraId
                                        Autostart />
                 <MudItem style="text-align: center">
                     @if (frameCount > 0)
                    {
                        <MudButton @onclick=GetCurrentFrame Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.LinkedCamera" Color="Color.Info" Class="mt-2 mb-4">
                            Take photo
                        </MudButton>
                    }
                    else
                    {
                        <MudButton StartIcon="@Icons.Material.Filled.LinkedCamera" Color="Color.Info" Class="mt-2 mb-4" Disabled>
                         Take photo
                     </MudButton>
                    }
                </MudItem>
            </MudPaper>
        </MudContainer>
    </DialogContent>
</MudDialog>



@*Photo Modal*@
<MudDialog DisableSidePadding="false" @bind-IsVisible="visiblePhoto" Options="dialogPhotoOptions">
    <DialogContent>
        <MudContainer Style="max-height: 85vh; overflow-y: scroll text-align:center; justify-content: center; align-items:center;">
            <MudPaper Elevation="0">
                <MudCarousel Class="mud-width-full" Style="height: 81vh" ShowArrows=true ShowBullets=true EnableSwipeGesture=true AutoCycle="false" TData="object" @bind-SelectedIndex=@photoIndex>
                    <PreviousButtonTemplate>
                        <MudAvatar Color="Color.Dark" Variant="Variant.Filled" Class="ml-4" Style="cursor:pointer">
                            <MudIcon Icon="@Icons.Material.Filled.NavigateBefore" />
                        </MudAvatar>
                    </PreviousButtonTemplate>
                    <NextButtonTemplate>
                        <MudAvatar Color="Color.Dark" Variant="Variant.Filled" Class="mr-4" Style="cursor:pointer">
                            <MudIcon Icon="@Icons.Material.Filled.NavigateNext" />
                        </MudAvatar>
                    </NextButtonTemplate>
                    <ChildContent>
                        @foreach (var evidence in _lup.Evidences.Where(e => e?.ContentType == "image/png"))
                        {
                            <MudCarouselItem Transition="Transition.Fade">
                                <MudText Typo="Typo.h6" Style="text-align:center">@evidence.FileName</MudText>
                                    <MudImage ObjectFit="ObjectFit.Cover" Height="720" Width="1280" Src=@imageUrls[evidence.FileUploadId] Alt="Evidence" Elevation="25" Class="rounded-lg" Style="max-height: 70vh; width: 100%; border-radius: 10px; margin-bottom:24px;" />
                                </MudCarouselItem>
                        }
                    </ChildContent>
                </MudCarousel>
            </MudPaper>
        </MudContainer>
    </DialogContent>
</MudDialog>