@page "/HCI/Create"
@page "/HCI/Update/{HCIID:int?}"
@page "/HCI/Details/{HCIID:int?}"
@using SupervisorMobility.Client.Pages.Inicio.HCIPage.Components
@inject NavigationManager NavManager
@inject IUserService UsrsService
@inject IHCIService HCIService
@inject ISnackbar Snackbar
@inject IStringLocalizer<Resource> Localizer
@inject IExportationService Exportation
@inject IJSRuntime JSRuntime


@if (dataloaded) {
<h3>@Localizer["HCITitle"]</h3>
<MudExpansionPanels MultiExpansion Class="d-flex flex-column justify-center" Style="align-items: center;">
    <MudExpansionPanel Style="min-width:100%;" IsInitiallyExpanded=true>
        <TitleContent>
            <div Style="align-items: center; display: flex;">
                    <MudText>@Localizer["HCIGeneralInfo"]</MudText>
            </div>
        </TitleContent>
        <ChildContent>
                <GeneralInfo _hci="_hci" image="/Images/profile picture.png" />
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel Style="min-width: 100%;" IsInitiallyExpanded=true>
        <TitleContent>
            <div Style="align-items: center; display: flex;">
                <MudText>I.- @Localizer["Expertise"]</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <!--<MudExpansionPanels>-->
                <Knwoledge Title="@Localizer["ExpTitle1"]" KnowledgeTable="manualCap" type="1"
                 Add="AddManual" Del="RemoveManual" Upd="@((args)=>ModifyManualEntry(args.Item1, args.Item2))" details="Details"
                />
                <Knwoledge Title="@Localizer["ExpTitle2"]" KnowledgeTable="companyCap" type="2"
                Add="AddCompany" Del="RemoveCompany" Upd="@((args)=>ModifyCompanyEntry(args.Item1, args.Item2))" details="Details"
                />
            <!--</MudExpansionPanels>-->
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel Style="min-width: 100%;" IsInitiallyExpanded=true>
        <TitleContent>
            <div Style="align-items: center; display: flex;">
                <MudText>II.- @Localizer["Titles"]</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <Quialifications QualificationsTable="titles" 
                Add="AddQualif" Del="RemoveQualif" Upd="@((args)=>ModifyQualifEntry(args.Item1, args.Item2))" details="Details"
                />
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel Style="min-width: 100%;" IsInitiallyExpanded=true>
        <TitleContent>
            <div Style="align-items: center; display: flex;">
                <MudText>III.- @Localizer["TechnicalSkill"]</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <Trajectory TrajectoryTable="careers"
                Add="AddCareer" Del="RemoveCareer" Upd="@((args)=>ModifyCareerEntry(args.Item1, args.Item2))" details="Details"/>
                <Expertise ExpertiseTable="expertise" user="user"
                Add="AddExpert" Del="RemoveExpert" Upd="@((args)=>ModifyExpertEntry(args.Item1, args.Item2))" details="Details"/>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel Style="min-width: 55%;" IsInitiallyExpanded=true>
        <TitleContent>
            <div Style="align-items: center; display: flex;">
                <MudText>@Localizer["CategoryTitle"]</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <Category CategoryTable="categories" 
                Add="AddCateg" Del="RemoveCateg" Upd="@((args)=>ModifyCategEntry(args.Item1, args.Item2))" details="Details"/>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel Style="min-width: 80%;" IsInitiallyExpanded=true>
        <TitleContent>
            <div Style="align-items: center; display: flex;">
                <MudText>@Localizer["SpNotes"]</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <Notes NotesTable="comments"
                Add="AddNote" Del="RemoveNote" Upd="@((args)=>ModifyNoteEntry(args.Item1, args.Item2))" details="Details"/>
        </ChildContent>
    </MudExpansionPanel>
</MudExpansionPanels>
@if(!Details){
    <MudCardActions>
        <MudItem Class="ml-auto mt-4">
                <MudButton StartIcon="@Icons.Material.Filled.StopCircle" Variant="Variant.Filled" Color="Color.Info" Class="ml-4" @onclick="(() => Complete())">
                    @if (HCIID == null)
                    {
                        <span>Create </span>
                    }
                    else
                    {
                        <span>Update </span>
                    } HCI
                </MudButton>
                @* <MudButton StartIcon="@Icons.Material.Filled.IncompleteCircle" Variant="Variant.Filled" Color="Color.Info" Class="ml-4" @onclick="(() => UnderReviewJobObservation())">@Localizer["underReview"]</MudButton>
            <MudButton Variant="Variant.Filled" Class="ml-4" @onclick="(() => CancelCreateJobObservation())">@Localizer["cancel"]</MudButton> *@
        </MudItem>
    </MudCardActions>
}
else
{
    <MudCardActions>
        <MudItem Class="ml-auto mt-4">
            <MudButton Color="Color.Success" StartIcon="@Icons.Custom.FileFormats.FileExcel" Variant="Variant.Filled" Size="Size.Small" OnClick="DownloadExcel" Class="ml-5 my-2">Export</MudButton>
        </MudItem>
    </MudCardActions>
}
}


