@page "/HCI"
@inject IBreadcrumbService BreadcrumbService
@inject IHCIService HCIsServices
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Resource> Localizer
@inject IStringLocalizer<Resource1> Localizer1

@*Title*@
<PageTitle>Supervisor Mobility | @Localizer["HCITitle"]</PageTitle>

<style>

    #ToolTipSearch.mud-tooltip-root {
        display: block !important;
        width: 75% !important;
    }
</style>

@if (Loading)
{
    <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudItem class="d-flex flex-column justify-center align-self-center">
                    <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                </MudItem>
                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
            </div>
        </ItemTemplate>
    </MudCarousel>

    <MudSimpleTable Class="styled-table table-striped" FixedHeader=true>
        <thead>
            <tr>
                <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
            </tr>
            <tr>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
            </tr>
            <tr>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
            </tr>
            <tr>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
            </tr>
            <tr>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /> <MudSpacer />   <MudSkeleton SkeletonType="SkeletonType.Rectangle" /> <MudSpacer />  <MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
            </tr>

        </tbody>
    </MudSimpleTable>
}
else
{
    @if (_HCIs.Count > 0)
    {
        <MudTable Items="_HCIs" T="HCI" Hover="true" Class="styled-table table-striped"
                  FixedHeader=true Height="75vh" RowClassFunc="@SelectedRowClassFunc" @ref="SelectTableEvent" OnRowClick="RowClickEvent"
                  SortLabel="SortBy" Filter="new Func<HCI,bool>(FilterFunc1)"
                  RowsPerPage="15" HorizontalScrollbar="true" Virtualize="true">
            <ToolBarContent>
                <MudText Typo="Typo.h6" Align="Align.Center">@Localizer["HCI"]</MudText>
                <MudSpacer />

                    <MudTooltip id="ToolTipSearch" Text="@Localizer["searchHCIIndex"]">
                        <ChildContent>
                            <div style="width:100%">

                            <MudTextField FullWidth @bind-Value="@searchString" Placeholder=@Localizer["searchHCIIndex"] Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mb-5"></MudTextField>
                            </div>
                        </ChildContent>
                    </MudTooltip>
                <MudSpacer />

             @*    <MudButton @onclick="(() => OpenCreateHci())">
                    <MudText>@Localizer["create"] @Localizer["hci"]</MudText>
                    <MudIcon Icon="@Icons.Material.Filled.Add" Color="Color.Primary"></MudIcon>
                </MudButton> *@
            </ToolBarContent>
            <HeaderContent>
                @if (user.UserType == 1)
                {
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<Data.Entities.HCI, object>(x=>x.HCIId)">
                            @Localizer["hci"] Id
                        </MudTableSortLabel>
                    </MudTh>
                }

                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Data.Entities.HCI, object>(x=>x.User?.Payroll)">
                        @Localizer["payroll"]
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Data.Entities.HCI, object>(x=>x.User?.Name)">
                        @Localizer["name"]
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Data.Entities.HCI, object>(x=>x.User?.Plant?.Code)">
                        @Localizer["plant"]
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Data.Entities.HCI, object>(x=>x.User?.Area?.Description)">
                        @Localizer["area"]
                    </MudTableSortLabel>
                </MudTh>

                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Data.Entities.HCI, object>(x=>x.User?.UserType)" InitialDirection="SortDirection.Ascending">
                        @Localizer1["UserType"]
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudText Align="Align.Center">@Localizer["actions"]</MudText>
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                @if (user.UserType == 1)
                {
                    <MudTd DataLabel="Id">
                        <MudText Align="Align.Center">@context.HCIId</MudText>
                    </MudTd>
                }
                <MudTd DataLabel=@Localizer["payroll"]>
                    <MudText Align="Align.Center">@context.User?.Payroll</MudText>
                </MudTd>
                <MudTd DataLabel=@Localizer["name"]>
                    <MudText Align="Align.Center">@context.User?.Name</MudText>
                </MudTd>

                <MudTd DataLabel=@Localizer["plant"]>
                    <MudText Align="Align.Center">@context.User?.Plant?.Code</MudText>
                </MudTd>
                <MudTd DataLabel=@Localizer["area"]>
                    <MudText Align="Align.Center">@context.User?.Area?.Description</MudText>
                </MudTd>
                <MudTd DataLabel=@Localizer1["UserType"]>
                    <MudItem Class="d-flex justify-center">
                        @switch (context.User?.UserType)
                        {
                            case 1:
                                <MudIcon Icon="@Icons.Material.Filled.AdminPanelSettings" Color="Color.Primary"></MudIcon>
                                <MudText Class="pl-2">@Localizer["UsersAdmin"]</MudText>
                                break;
                            case 2:
                                <MudIcon Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary"></MudIcon>
                                <MudText Class="pl-2">SSV</MudText>
                                break;
                            case 3:
                                <MudIcon Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary"></MudIcon>
                                <MudText Class="pl-2">Supervisor</MudText>
                                break;
                            case 4:
                                <MudIcon Icon="@Icons.Material.Filled.Person" Color="Color.Dark"></MudIcon>
                                <MudText Class="pl-2">@Localizer["UsersOperator"]</MudText>
                                break;
                            case 5:
                                <MudIcon Icon="@Icons.Material.Filled.ManageAccounts" Color="Color.Warning"></MudIcon>
                                <MudText Class="pl-2">@Localizer["UsersManager"]</MudText>
                                break;
                            case 6:
                                <MudIcon Icon="@Icons.Material.Filled.Engineering" Color="Color.Info"></MudIcon>
                                <MudText Class="pl-2">@Localizer["lineSupport"]</MudText>
                                break;
                            case 7:
                                <MudIcon Icon="@Icons.Material.Filled.PermContactCalendar" Color="Color.Info"></MudIcon>
                                <MudText Class="pl-2">@Localizer["headCount"]</MudText>
                                break;
                        }
                    </MudItem>
                </MudTd>

                <MudTd DataLabel=@Localizer["actions"]>
                    <MudText Align="Align.Center">
                        <MudMenu Dense=true MaxHeight="300" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                            <ActivatorContent>
                                <MudButton FullWidth=true StartIcon="@Icons.Material.Filled.Settings" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Style="background:white" Variant="Variant.Filled" Size="Size.Small"></MudButton>
                            </ActivatorContent>
                            <ChildContent>
                                <MudMenuItem Icon="@Icons.Material.Filled.Info" IconColor="Color.Primary" @onclick="(() => HCIDetails( context.HCIId))" OnTouch="(() => HCIDetails(context.HCIId))">@Localizer["HCIDetails"]</MudMenuItem>
                                @if (user.UserType == 1 || user.UserId != context.UserId)
                                {
                                    <MudMenuItem Icon="@Icons.Material.Filled.Edit" IconColor="Color.Info" @onclick="(() => UpdateHCI(context.HCIId))" OnTouch="(() => UpdateHCI( context.HCIId))">@Localizer["editHCI"]</MudMenuItem>
                                }
                                <MudMenuItem Icon="@Icons.Material.Filled.Delete" IconColor="Color.Error" @onclick="(() => OpenDeleteDialog(context.HCIId))" OnTouch="(() => OpenDeleteDialog(context.HCIId))">@Localizer["deleteHCI"]</MudMenuItem>
                            </ChildContent>
                        </MudMenu>
                    </MudText>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 15, 25, 50, 100, int.MaxValue }" />
            </PagerContent>
        </MudTable>
    }
    else
    {
        <MudText Align="Align.Center" Typo="Typo.h6" Class="mt-4">@Localizer["thereAreNoHCIsCreated"]</MudText>
        <MudText Align="Align.Center" Typo="Typo.h6" Class="mt-4">
            @* <MudButton Color="Color.Info" @onclick="(() => OpenCreateHci())">@Localizer["create"] @Localizer["hci"]</MudButton> *@
        </MudText>
    }
}

<MudDialog @bind-IsVisible="ShowCreateHCI" Options="dialogSVOptions">
    <TitleContent>
        <MudText Typo="Typo.h6" Style="text-align: center;">Create HCI</MudText>
    </TitleContent>
    <DialogContent>
        <MudAutocomplete Class="mt-5" Clearable T="User" Label="@Localizer1["User"]" @bind-Value="_SelectUser"
                         SearchFunc="@SearchSV" ToStringFunc="@(e=> e.Name == null || e.Name == "" ? $"{Localizer1["UsersPHSupervisor"]}" : $"[{e.Payroll}] - {e.Name} - {e.Group?.Description}")"
                         Variant="Variant.Outlined"
                         ShowProgressIndicator="true" MaxItems="10" ResetValueOnEmptyText>
            <ItemTemplate Context="e">
                <MudItem Style="text-align: center">
                    @switch (e.UserType)
                    {
                        case 3:
                            <MudChip Icon="@Icons.Material.Filled.SupervisorAccount" Color="Color.Secondary" Class="mr-15 mt-1"> @Localizer1["UsersSupervisor"] </MudChip>
                            break;
                    }
                </MudItem>
                <div class="font-weight-bold"><b>@Localizer1["UsersName"]:</b>  @e.Name</div>
                <div class="font-weight-bold"><b>@Localizer1["UserPayroll"]:</b>  @e.Payroll</div>
                <MudChip Icon="@Icons.Material.Filled.Business" Color="Color.Info" Class="pl-5 pr-5">@e.Area?.Code - @e.Area?.Description </MudChip>

            </ItemTemplate>
        </MudAutocomplete>

        @if (_SelectUser != null)
        {
            <MudCard Class="mt-10">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Secondary">U</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">@_SelectUser.Name</MudText>

                    </CardHeaderContent>
                    <CardHeaderActions>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <div class="font-weight-bold"><b>@Localizer1["UserId"]:</b>  @_SelectUser?.UserId</div>
                    <div class="font-weight-bold"><b>@Localizer1["UsersGroup"]:</b>  @_SelectUser?.Group?.Description</div>
                    <div class="font-weight-bold"><b>@Localizer["UsersArea"]:</b>  </div>
                    <MudChip Icon="@Icons.Material.Filled.Business" Color="Color.Info" Class="pl-5 pr-5">@_SelectUser?.Area?.Code - @_SelectUser?.Area?.Description </MudChip>
                </MudCardContent>
                <MudCardActions Style="justify-content: flex-end;">
                </MudCardActions>
            </MudCard>
        }
        else
        {
            <MudChip Icon="@Icons.Material.Filled.CrisisAlert" Class="mt=10" Style="display: flex;" Color="Color.Info">Select User from list</MudChip>
        }
    </DialogContent>
    <DialogActions>

        @if (_SelectUser != null)
        {
            <MudIconButton Icon="@Icons.Material.Filled.Save" OnClick="@( () =>  Createhci())" Color="Color.Default" />
        }




    </DialogActions>
</MudDialog>



<MudDialog @bind-IsVisible="visibleDelete" Options="dialogDeleteOptions">
    <DialogContent>
        <MudText Typo="Typo.h6">@Localizer["confirm"]</MudText>
        <MudText Class="mt-4 mb-4">
            @Localizer["areYouSureYouWantToDeleteThisHCI"]
        </MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseDeleteModal" Variant="Variant.Filled">@Localizer["cancel"]</MudButton>
        <MudButton @onclick="(() => DeleteHCI(deleteHCIId))" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" Variant="Variant.Filled">@Localizer["delete"]</MudButton>
    </DialogActions>
</MudDialog>

@code {

    private List<BreadcrumbItem> _links;
    private List<Data.Entities.HCI> _HCIs;
    private List<User> _Users;

    private IList<string> _sourceMsgLoading = new List<string>();
    private IList<Color> _Colors = new List<Color>() { Color.Default, Color.Primary, Color.Secondary, Color.Success, Color.Info, Color.Default, Color.Primary, Color.Secondary, Color.Success, Color.Info };


    private bool visibleDelete = false;
    private bool Loading = true;
    public int deleteHCIId = 0;

    private DialogOptions dialogDeleteOptions = new() { CloseOnEscapeKey = true, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true, Position = DialogPosition.TopCenter, DisableBackdropClick = true, CloseButton = true };

    //User
    private string json = string.Empty;
    public User user = new();
    public bool logged = false;

    private User _SelectUser;
    public bool ShowCreateHCI = false;
    private DialogOptions dialogSVOptions = new() { CloseOnEscapeKey = false, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true, DisableBackdropClick = true, CloseButton = true };

    public List<int> TypesThatCanEdit = new List<int> { 1, 8 };

    protected async override Task OnInitializedAsync()
    {
        _sourceMsgLoading.Add($"{Localizer1["Loading1"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading2"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading3"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading4"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading5"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading6"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading7"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading8"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading9"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading10"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading11"]}");

        _links = new List<BreadcrumbItem>{
            new BreadcrumbItem(text: Localizer["home"], href: "/", disabled:false),
            new BreadcrumbItem(text: Localizer["HCITitle"], href: "", disabled: true)
            };

        BreadcrumbService.UpdateBreadcrumbs(_links);

        logged = await TryGetAsync();
        _Users = await HCIsServices.GetUsersWithoutHCI();

        if (!logged)
        {
            Snackbar.Clear();
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
            Snackbar.Add(Localizer["errorYouHaveToLogIn"], Severity.Warning);
            NavigationManager.NavigateTo($"/");
        }
        else
        {

            _HCIs = new();
            try
            {
                _HCIs = await HCIsServices.GetHCIs(user.UserId, includePeople: true, includeNavigation: true);
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
            finally
            {
                Loading = false;
                StateHasChanged();

            }

        }
    }


    private async void OpenCreateHci()
    {
        ShowCreateHCI = true;
    }

    private async Task<bool> TryGetAsync()
    {
        bool hasProperty = await HasPropertyAsync();
        if (hasProperty)
        {
            json = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "user");
            user = JsonSerializer.Deserialize<User>(json) ?? new();

        }

        return hasProperty;
    }


    private async Task<bool> HasPropertyAsync()
       => await JSRuntime.InvokeAsync<bool>("localStorage.hasOwnProperty", "user");

    private void Createhci()
    {
        NavigationManager.NavigateTo($"/HCI/Create/?user={_SelectUser.UserId}");
    }

    void HCIDetails(int HCIID)
    {
        NavigationManager.NavigateTo($"/HCI/Details/{HCIID}");
    }
    // Update HCI
    void UpdateHCI(int HCIID)
    {
        NavigationManager.NavigateTo($"/HCI/Update/{HCIID}");
    }



    // Delete HCI
    async Task DeleteHCI(int HCIId)
    {
        _HCIs.RemoveAll(HCI => HCI.HCIId == HCIId);
        await HCIsServices.DeleteHCI(HCIId);

        visibleDelete = false;
    }

    void CloseDeleteModal() => visibleDelete = false;


    private void OpenDeleteDialog(int deleteId)
    {
        deleteHCIId = deleteId;
        visibleDelete = true;
    }


    private int selectedRowNumber = -1;
    private MudTable<Data.Entities.HCI> SelectTableEvent;

    private void RowClickEvent(TableRowClickEventArgs<Data.Entities.HCI> tableRowClickEventArgs)
    {
    }

    private string SelectedRowClassFunc(Data.Entities.HCI element, int rowNumber)
    {
        if (selectedRowNumber == rowNumber)
        {
            selectedRowNumber = -1;
            if (SelectTableEvent.SelectedItem != null && SelectTableEvent.SelectedItem.Equals(element))
            {
                NavigationManager.NavigateTo($"HCI/Details/{element.HCIId}");
            }
            return string.Empty;
        }
        else if (SelectTableEvent.SelectedItem != null && SelectTableEvent.SelectedItem.Equals(element))
        {
            selectedRowNumber = rowNumber;
            return "selected";
        }
        else
        {
            return string.Empty;
        }
    }


    private async Task<IEnumerable<User>> SearchSV(string value)
    {
        if (string.IsNullOrWhiteSpace(value))
            return _Users;

        value = value.Trim().ToLowerInvariant();

        await Task.Delay(150);

        return _Users.Where(x =>
            (!string.IsNullOrEmpty(x.Name) && x.Name.Contains(value, StringComparison.OrdinalIgnoreCase)) ||
            (x.Payroll.HasValue && x.Payroll.Value.ToString().Contains(value, StringComparison.OrdinalIgnoreCase)) ||
            (!string.IsNullOrEmpty(x.Email) && x.Email.Contains(value, StringComparison.OrdinalIgnoreCase)) ||
            (!string.IsNullOrEmpty(x.Management) && x.Management.Contains(value, StringComparison.OrdinalIgnoreCase)) ||
            (!string.IsNullOrEmpty(x.Process) && x.Process.Contains(value, StringComparison.OrdinalIgnoreCase)) ||
            (x.Plant != null && (
                (!string.IsNullOrEmpty(x.Plant.Description) && x.Plant.Description.Contains(value, StringComparison.OrdinalIgnoreCase)) ||
                (!string.IsNullOrEmpty(x.Plant.Code) && x.Plant.Code.Contains(value, StringComparison.OrdinalIgnoreCase))
            )) ||
            (x.Area != null && (
                (!string.IsNullOrEmpty(x.Area.Description) && x.Area.Description.Contains(value, StringComparison.OrdinalIgnoreCase)) ||
                (!string.IsNullOrEmpty(x.Area.Code) && x.Area.Code.Contains(value, StringComparison.OrdinalIgnoreCase))
            )) ||
            (x.Group != null && (
                (!string.IsNullOrEmpty(x.Group.Description) && x.Group.Description.Contains(value, StringComparison.OrdinalIgnoreCase)) ||
                (!string.IsNullOrEmpty(x.Group.Code) && x.Group.Code.Contains(value, StringComparison.OrdinalIgnoreCase))
            )) ||
            x.UserId.ToString().Contains(value, StringComparison.OrdinalIgnoreCase)
        );
    }

    private string searchString = "";

    private bool FilterFunc1(HCI element) => FilterFunc(element, searchString);


    private bool FilterFunc(HCI element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;

        searchString = searchString.Trim();

        // Acceso seguro a las propiedades del usuario
        var user = element.User;
        if (user == null)
            return false;

        // Buscar en los campos principales del usuario
        if (!string.IsNullOrEmpty(user.Name) && user.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (!string.IsNullOrEmpty(user.Email) && user.Email.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (!string.IsNullOrEmpty(user.Management) && user.Management.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (!string.IsNullOrEmpty(user.Process) && user.Process.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (user.Payroll.HasValue && user.Payroll.Value.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (user.Group != null && !string.IsNullOrEmpty(user.Group.Description) && user.Group.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (user.Group != null && !string.IsNullOrEmpty(user.Group.Code) && user.Group.Code.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        // Buscar en los campos de planta y área
        if (user.Plant != null)
        {
            if (!string.IsNullOrEmpty(user.Plant.Description) && user.Plant.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            if (!string.IsNullOrEmpty(user.Plant.Code) && user.Plant.Code.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
        }
        if (user.Area != null)
        {
            if (!string.IsNullOrEmpty(user.Area.Description) && user.Area.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            if (!string.IsNullOrEmpty(user.Area.Code) && user.Area.Code.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
        }

        // Buscar por ID de usuario
        if (user.UserId.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        // Buscar por HCIId
        if (element.HCIId.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }



}
