@page "/hci"
@inject IBreadcrumbService BreadcrumbService
@inject IHCIService HCIsServices
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Resource> Localizer
@inject IStringLocalizer<Resource1> Localizer1

@*Title*@
<PageTitle>Supervisor Mobility | @Localizer["HCITitle"]</PageTitle>


    @if (Loading)
{
    <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudItem class="d-flex flex-column justify-center align-self-center">
                    <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                </MudItem>
                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
                </div>
            </ItemTemplate>
        </MudCarousel>

    <MudSimpleTable Class="styled-table table-striped" FixedHeader=true>
        <thead>
            <tr>
                <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
                <th><MudSkeleton SkeletonType="SkeletonType.Text" /></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
            </tr>
            <tr>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
            </tr>
            <tr>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
            </tr>
            <tr>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /><MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
            </tr>
            <tr>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Text" /></td>
                <td><MudSkeleton SkeletonType="SkeletonType.Rectangle" /> <MudSpacer />   <MudSkeleton SkeletonType="SkeletonType.Rectangle" /> <MudSpacer />  <MudSkeleton SkeletonType="SkeletonType.Rectangle" /></td>
            </tr>

        </tbody>
    </MudSimpleTable>
}
else
{
    @if (_HCIs.Count > 0)
    {
        <MudTable Items="_HCIs" Hover="true" T="Data.Entities.HCI" Class="styled-table table-striped" FixedHeader=true Height="75vh" RowClassFunc="@SelectedRowClassFunc" @ref="SelectTableEvent" OnRowClick="RowClickEvent" T="HCI">
            <ToolBarContent>
                <MudSpacer />
                <MudButton @onclick="(() => Createhci())">
                    <MudText>@Localizer["create"] @Localizer["hci"]</MudText>
                        <MudIcon Icon="@Icons.Material.Filled.Add" Color="Color.Primary"></MudIcon>
                    </MudButton>
                </ToolBarContent>
                <HeaderContent>
                    @if (user.UserType == 1)
                {
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<Data.Entities.HCI, object>(x=>x.HCIId)">
                            @Localizer["hci"] Id
                        </MudTableSortLabel>
                    </MudTh>
                }

                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Data.Entities.HCI, object>(x=>x.HCIName)">
                        @Localizer["name"]
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Data.Entities.HCI, object>(x=>x.User?.Plant?.Code)">
                        @Localizer["plant"]
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Data.Entities.HCI, object>(x=>x.User?.Area?.Description)">
                        @Localizer["area"]
                    </MudTableSortLabel>
                </MudTh>
               
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Data.Entities.HCI, object>(x=>x.User?.Name)">
                        @Localizer["user"]
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudText Align="Align.Center">@Localizer["actions"]</MudText>
                    </MudTh>
                </HeaderContent>
                <RowTemplate>
                    @if (user.UserType == 1)
                {
                    <MudTd DataLabel="Id">
                        <MudText Align="Align.Center">@context.HCIId</MudText>
                        </MudTd>
                }
                <MudTd DataLabel=@Localizer["name"]>
                    <MudText Align="Align.Center">
                        @(context.HCIName.Length > 25 ? context.HCIName.Substring(0, 20) + "..." : context.HCIName)
                    </MudText>
                </MudTd>
              
                    <MudTd DataLabel=@Localizer["plant"]>
                        <MudText Align="Align.Center">@context.User?.Plant?.Code</MudText>
                    </MudTd>
                    <MudTd DataLabel=@Localizer["area"]>
                        <MudText Align="Align.Center">@context.User?.Area?.Description</MudText>
                    </MudTd>
                    <MudTd DataLabel=@Localizer["user"]>
                        <MudText Align="Align.Center">@context.User?.Name</MudText>
                    </MudTd>



                    <MudTd DataLabel=@Localizer["actions"]>
                        <MudText Align="Align.Center">
                            <MudMenu Dense=true MaxHeight="300" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                                <ActivatorContent>
                                    <MudButton FullWidth=true StartIcon="@Icons.Material.Filled.Settings" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Style="background:white" Variant="Variant.Filled" Size="Size.Small"></MudButton>
                                </ActivatorContent>
                                <ChildContent>
                                    @* <MudMenuItem Icon="@Icons.Material.Filled.Info" IconColor="Color.Primary" @onclick="(() => HCIDetails( context.HCIId))" @ontouchstart="(() => HCIDetails(context.HCIId))">@Localizer["HCIDetails"]</MudMenuItem> *@
                                    <MudMenuItem Icon="@Icons.Material.Filled.Edit" IconColor="Color.Info" @onclick="(() => UpdateHCI(context.HCIId))" @ontouchstart="(() => UpdateHCI( context.HCIId))">@Localizer["editHCI"]</MudMenuItem>
                                    <MudMenuItem Icon="@Icons.Material.Filled.Delete" IconColor="Color.Error" @onclick="(() => OpenDeleteDialog(context.HCIId))" @ontouchstart="(() => OpenDeleteDialog(context.HCIId))">@Localizer["deleteHCI"]</MudMenuItem>
                                </ChildContent>
                            </MudMenu>
                        </MudText>
                    </MudTd>
                </RowTemplate>
            </MudTable>
    }
    else
    {
        <MudText Align="Align.Center" Typo="Typo.h6" Class="mt-4">@Localizer["thereAreNoHCIsCreatedForThisPlant"]</MudText>
        <MudText Align="Align.Center" Typo="Typo.h6" Class="mt-4">
            <MudButton Color="Color.Info" @onclick="(() => Createhci())">@Localizer["createANewHCI"]</MudButton>
            </MudText>
    }
}


@code {

    private List<BreadcrumbItem> _links;
    private List<Data.Entities.HCI> _HCIs;

    private IList<string> _sourceMsgLoading = new List<string>();
    private IList<Color> _Colors = new List<Color>() { Color.Default, Color.Primary, Color.Secondary, Color.Success, Color.Info, Color.Default, Color.Primary, Color.Secondary, Color.Success, Color.Info };


    private bool visibleDelete = false;
    private bool Loading = true;
    public int deleteHCIId = 0;

    private DialogOptions dialogDeleteOptions = new() { CloseOnEscapeKey = true, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true, Position = DialogPosition.TopCenter, DisableBackdropClick = true, CloseButton = true };

    //User
    private string json = string.Empty;
    public User user = new();
    public bool logged = false;

    protected async override Task OnInitializedAsync()
    {
        _sourceMsgLoading.Add($"{Localizer1["Loading1"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading2"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading3"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading4"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading5"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading6"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading7"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading8"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading9"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading10"]}");
        _sourceMsgLoading.Add($"{Localizer1["Loading11"]}");

        _links = new List<BreadcrumbItem>{
            new BreadcrumbItem(text: Localizer["home"], href: "/", disabled:false),
            new BreadcrumbItem(text: Localizer["HCITitle"], href: "", disabled: true)
            };

        BreadcrumbService.UpdateBreadcrumbs(_links);

        logged = await TryGetAsync();

        if (!logged)
        {
            Snackbar.Clear();
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
            Snackbar.Add(Localizer["errorYouHaveToLogIn"], Severity.Warning);
            NavigationManager.NavigateTo($"/");
        }
        else
        {

            _HCIs = new();
            try
            {
                _HCIs = await HCIsServices.GetHCIs(includePeople: true);
            }
            catch (Exception ex)
            {

            }
            finally
            {
                Loading = false;
                StateHasChanged();

            }

        }
    }
  
    private async Task<bool> TryGetAsync()
    {
        bool hasProperty = await HasPropertyAsync();
        if (hasProperty)
        {
            json = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "user");
            user = JsonSerializer.Deserialize<User>(json) ?? new();

        }

        return hasProperty;
    }


    private async Task<bool> HasPropertyAsync()
       => await JSRuntime.InvokeAsync<bool>("localStorage.hasOwnProperty", "user");

    private void Createhci()
    {
        NavigationManager.NavigateTo($"/hci/createhci");

    }

    void HCIDetails(int HCIId)
    {
        NavigationManager.NavigateTo($"/hci/detailshci/{HCIId}");
    }



    // Delete HCI
    async Task DeleteHCI(int HCIId)
    {
        _HCIs.RemoveAll(HCI => HCI.HCIId == HCIId);
        await HCIsServices.DeleteHCI(HCIId);

        visibleDelete = false;
    }

    void CloseDeleteModal() => visibleDelete = false;


    private void OpenDeleteDialog(int deleteId)
    {
        deleteHCIId = deleteId;
        visibleDelete = true;
    }

    // Update HCI
    void UpdateHCI(int HCIId)
    {
        NavigationManager.NavigateTo($"plants");
    }


    private int selectedRowNumber = -1;
    private MudTable<Data.Entities.HCI> SelectTableEvent;

    private void RowClickEvent(TableRowClickEventArgs<Data.Entities.HCI> tableRowClickEventArgs)
    {
    }

    private string SelectedRowClassFunc(Data.Entities.HCI element, int rowNumber)
    {
        if (selectedRowNumber == rowNumber)
        {
            selectedRowNumber = -1;
            if (SelectTableEvent.SelectedItem != null && SelectTableEvent.SelectedItem.Equals(element))
            {
                NavigationManager.NavigateTo($"hci/Updatehci/{element.HCIId}");
            }
            return string.Empty;
        }
        else if (SelectTableEvent.SelectedItem != null && SelectTableEvent.SelectedItem.Equals(element))
        {
            selectedRowNumber = rowNumber;
            return "selected";
        }
        else
        {
            return string.Empty;
        }
    }
}
