@page "/SOSHOE/Hub/Details/{SOSHubId:int}"
@using System.Text.RegularExpressions

@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Resource> Localizer
@inject IStringLocalizer<Resource1> Localizer1
@inject IBreadcrumbService BreadcrumbServices
@inject IPlantService PlantServices
@inject IAreaService AreaServices
@inject IDistributionService DistributionServices
@inject IDepartmentService DepartmentServices
@inject IUserService UsersService
@inject IProductService ProductsService
@inject IDataPanelService DataPanelServices
@inject IAppearanceService AppearanceServices
@inject ILogbookAppearanceService LogbookAppearanceServices
@inject SignatureImageService _signatureImageService
@inject IPartServices PartsServices
@inject IFileUploadAndDownloadService FilesServices
@inject ITestService TestService
@inject IProductService ProductsServices
@inject ISOSHubService SOSHubServices
@inject IToolService ToolsServices
@inject IEquipmentService EquipmentsServices
@inject IMaterialService MaterialsServices
@inject IBridgeCDMSService CDMSServices
@inject IStationService StationServices


<style>

    .custom-table td:first-child {
        background-color: #f5f5f6;
    }

    .comments-table td:first-child {
        background-color: white;
    }

</style>

<PageTitle>Supervisor Mobility | @Localizer["configuration"]</PageTitle>

@if (ShowLoading)
{
    <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudItem class="d-flex flex-column justify-center align-self-center">
                    <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                </MudItem>
                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
            </div>
        </ItemTemplate>
    </MudCarousel>
}
else
{
    <MudGrid Justify="Justify.Center" Style="margin-bottom: 70px">
        <MudItem lg="10" md="10" sm="10" xs="12">
            <MudExpansionPanels Elevation="5" MultiExpansion="true">
                <MudExpansionPanel IsInitiallyExpanded=true Style="min-width: 100%;">
                    <TitleContent>
                        <div class="d-flex" style="align-items: center; justify-content:center;">
                            <MudImage ObjectFit="ObjectFit.Cover" Height="25" Src="Images/logo.png" Alt="Evidence" Elevation="25" Class="rounded-lg mr-4" />
                            <MudText Typo="Typo.h6" Style="text-align: center;">
                                @Localizer["HubCollectionTitle"]
                            </MudText>
                        </div>
                        <MudItem Style="text-align: end">
                            <MudChip Variant="Variant.Text" Color="Color.Info" Class="pl-3" OnClick="@HoeHistory" Icon="@Icons.Material.Filled.History">@Localizer["historyVersions"]</MudChip>
                        </MudItem>
                    </TitleContent>
                    <ChildContent>
                        <MudSimpleTable Style="overflow-x: auto;" Dense=true Elevation="0" Class="custom-table">
                            <tbody>
                                <tr>
                                    <td width="20%">
                                        <MudText>Folio</MudText>
                                    </td>
                                    <td>
                                        <MudTextField Margin="Margin.Dense" @bind-Value="_sosHub.Folio" ReadOnly />
                                     </td>
                                 </tr>
                                 <tr>
                                     <td style="padding: 0px">
                                         <MudTabs Color="Color.Tertiary" Position="Position.Left" Rounded="true" Border="true" SliderColor="Color.Dark" @bind-ActivePanelIndex="analysisTabsIndex"
                                                  ApplyEffectsToContainer="true">

                                             @if (_sosHub.Sections.Count() == 0)
                                            {
                                                <MudTabPanel Text="Analysis" Style="color:#424242; width: 15vw;">
                                                </MudTabPanel>
                                            }

                                            @if (_sosHub.Sections.Count() > 0)
                                            {
                                                <MudTabPanel Text="Preview" Style="color:#424242;  width: 15vw;">
                                                </MudTabPanel>
                                            }
                                        </MudTabs>


                                    </td>
                                    <td>


                                        @if (_sosHub.Sections.Count() == 0)
                                        {
                                            <MudContainer Style="display: flex; flex-direction: column;">
                                                <MudItem>
                                                    <MudAlert Severity="Severity.Normal">Estos Análisis No Forman parte de un paso principal</MudAlert>
                                                    <MudSimpleTable Style="overflow-x: auto;" Class="comments-table" Dense="true" Elevation="0">
                                                        <tbody>
                                                            @foreach (var (analisis, indexAnalisis) in _sosHub.AnalysesBkup.Select((analisis, indexAnalisis) => (analisis, indexAnalisis)))
                                                            {
                                                                <tr>
                                                                    <td width="90%">
                                                                        <MudText Typo="Typo.subtitle1" Label="Análisis" Variant="Variant.Filled" Class="mb-2">@analisis.Text</MudText>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </MudSimpleTable>
                                                </MudItem>
                                            </MudContainer>

                                        }
                                        else if (_sosHub.Sections.Count() > 0)
                                        {

                                            @if (RawAnalisis.Count > 0)
                                            {
                                                <MudAlert Severity="Severity.Normal">Estos Análisis No Forman parte de un paso principal</MudAlert>
                                                <MudItem Class="mb-5">
                                                    <MudSimpleTable Style="overflow-x: auto;" Class="comments-table" Dense="true" Elevation="0">
                                                        <tbody>
                                                            @foreach (var (analisis, indexAnalisis) in RawAnalisis.Select((analisis, indexAnalisis) => (analisis, indexAnalisis)))
                                                            {
                                                                <tr>
                                                                    <td width="90%">
                                                                        <MudText Typo="Typo.subtitle1" Label="Análisis" Variant="Variant.Filled" Class="mb-2">@analisis.Text</MudText>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </MudSimpleTable>
                                                </MudItem>
                                            }


                                            <MudSimpleTable Style="width:100%;" Class="styled-table table-striped">
                                                <thead>
                                                    <MudTr>
                                                        <MudTh>Análisis</MudTh>
                                                        <MudTh>Pasos</MudTh>
                                                        <MudTh>Punto Crítico</MudTh>
                                                    </MudTr>
                                                </thead>

                                                @foreach (var (section, indexSection) in _sosHub.Sections.Select((section, indexSection) => (section, indexSection)))
                                                {
                                                    <MudTr>
                                                        <MudTd Style="width:50%; background-color: white;">
                                                            @foreach (var (analisis, indexAnalisis) in section.Analyses.Select((analisis, indexAnalisis) => (analisis, indexAnalisis)))
                                                            {
                                                                @if (analisis.CriticalPoints.Any())
                                                                {
                                                                    <MudText T="MarkupString" ReadOnly="true" Variant="Variant.Text">
                                                                        @((MarkupString)GenerateHighlightedText(GetFormatedAnalisisText(indexSection, indexAnalisis), analisis.CriticalPoints))
                                                                    </MudText>
                                                                    @if (analisis != section.Analyses.Last())
                                                                    {
                                                                        <MudDivider DividerType="DividerType.Middle" Class="my-6" />
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <MudText Typo="Typo.subtitle1">
                                                                        @_sosHub.Sections[indexSection].Analyses[indexAnalisis].Text
                                                                    </MudText>
                                                                    @if (analisis != section.Analyses.Last())
                                                                    {
                                                                        <MudDivider DividerType="DividerType.Middle" Class="my-6" />
                                                                    }
                                                                }
                                                            }
                                                        </MudTd>
                                                        <MudTd Style="width:20%">
                                                            <MudText Typo="Typo.subtitle1" Class="mb-2">
                                                                @_sosHub.Sections[indexSection].Step
                                                            </MudText>
                                                        </MudTd>
                                                        <MudTd Style="width:30%">
                                                            @if (!string.IsNullOrEmpty(section.Step))
                                                            {
                                                                @foreach (var (analisis, indexAnalisis) in section.Analyses.Select((analisis, indexAnalisis) => (analisis, indexAnalisis)))
                                                                {
                                                                    <MudItem>
                                                                        @foreach (var (criticalPoint, indexPoints) in analisis.CriticalPoints.Select((criticalPoint, indexPoints) => (criticalPoint, indexPoints)))
                                                                        {
                                                                            <MudText Typo="Typo.subtitle1" Class="mb-2">
                                                                                @_sosHub.Sections[indexSection].Analyses[indexAnalisis].CriticalPoints[indexPoints]
                                                                            </MudText>
                                                                            <MudText>
                                                                                @ReasonFormat(_sosHub.Sections[indexSection].Analyses[indexAnalisis].Reasons[indexPoints])
                                                                            </MudText>
                                                                        }
                                                                    </MudItem>
                                                                    @if (analisis != section.Analyses.Last())
                                                                    {
                                                                        <MudDivider DividerType="DividerType.Middle" Class="my-6" />
                                                                    }
                                                                }
                                                            }
                                                        </MudTd>

                                                    </MudTr>
                                                }
                                            </MudSimpleTable>

                                        }

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <MudText>Process Sheet</MudText>
                                    </td>
                                    <td>
                                        <MudTextField ReadOnly Margin="Margin.Dense" @bind-Value="_sosHub.ProcessSheet" Class="ml-4" />
                                         <MudText Style="font-weight:bold;" Class="mt-4 ml-4">Revisión - Modificación</MudText>
                                         <MudSimpleTable Style="overflow-x: auto;" Class="comments-table" Dense="true" Elevation="0">
                                             <tbody>
                                                 @if (_sosHub.ProcessSheetCommentary != null && _sosHub.ProcessSheetCommentary.Count > 0)
                                                {
                                                    @foreach (var comment in _sosHub.ProcessSheetCommentary)
                                                    {
                                                        <tr>
                                                            <td width="90%">
                                                                <MudTextField ReadOnly @bind-Value="@comment.Comment" Label="Revisión - Modificación" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                                             </td>
                                                         </tr>
                                                    }
                                                }
                                            </tbody>
                                        </MudSimpleTable>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <MudText>Common Direction</MudText>
                                    </td>
                                    <td>
                                        @if (_sosHub.CommonDirection.Any())
                                        {
                                            <MudCard>
                                                <MudPaper Elevation="0">
                                                    @foreach (var item in _sosHub.CommonDirection)
                                                    {
                                                        var path = @Regex.Replace(item.route, @"§", string.Empty);
                                                        <MudTooltip Text="@path">
                                                            <MudButton Variant="Variant.Text"
                                                                       StartIcon="@Icons.Material.Filled.InsertDriveFile"
                                                                       IconColor="@Color.Info"
                                                                       Size="Size.Small"
                                                                       OnClick="()=>DownloadDocument(item)"
                                                                       EndIcon="@Icons.Material.Filled.FileDownload">
                                                                @Regex.Replace(item.name, @"§", string.Empty)
                                                            </MudButton>
                                                        </MudTooltip>

                                                        <br />
                                                    }
                                                </MudPaper>
                                            </MudCard>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <MudText>Applied Models</MudText>
                                    </td>
                                    <td>
                                        <MudSelect ReadOnly T="int" Label=@Localizer["product"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@productId" OpenIcon="@Icons.Material.Filled.DirectionsCar" AdornmentColor="Color.Info">
                                             <MudSelectItem Disabled="true" Value="0">@Localizer["selectAProduct"]</MudSelectItem>
                                             @foreach (var type in _products)
                                            {
                                                <MudSelectItem Value="type.ProductId">
                                                    @type.Code
                                                </MudSelectItem>
                                            }
                                        </MudSelect>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <MudText>Images</MudText>
                                    </td>
                                    <td>
                                        <MudButton Variant="Variant.Filled" OnClick="ShowImagesDialog">
                                            Show Images
                                            <span>&nbsp;(@capturedImages.Count)</span>
                                        </MudButton>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <MudText>Videos</MudText>
                                    </td>
                                    <td>
                                        <MudButton Variant="Variant.Filled" OnClick="ShowVideosDialog">
                                            Show Videos
                                            <span>&nbsp;(@MediaUris.Count)</span>
                                        </MudButton>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <MudText>Revised Items</MudText>
                                    </td>
                                    <td>
                                        <MudTextField ReadOnly Margin="Margin.Dense" @bind-Value="_sosHub.RevisedItems" />
                                     </td>
                                 </tr>
                                 <tr>
                                     <td>
                                         <MudText>Training time</MudText>
                                     </td>
                                     <td style="display:flex;">
                                         <MudAutocomplete T="int"
                                                          Label=@Localizer["Cycles"]
                                                          Variant="Variant.Text"
                                                          AnchorOrigin="Origin.BottomCenter"
                                         @bind-Value="cycleId"
                                                          OpenIcon="@Icons.Material.Filled.AccessTime"
                                                          AdornmentColor="Color.Info"
                                                                              Clearable
                                                                              ResetValueOnEmptyText
                                                          ShowProgressIndicator="true" ProgressIndicatorColor="Color.Info"
                                                          MaxItems="10"
                                                                              ReadOnly>

                                     </MudAutocomplete>
                                 </td>
                             </tr>
                             <tr>
                                 <td>
                                     <MudText>Safety Equipment</MudText>
                                 </td>
                                 <td>
                                     @if (_equipmentIds.Count > 0)
                                        {
                                            <MudItem Style="display: flex; align-content: space-between; flex-wrap: wrap; justify-content: center; align-items: center;">

                                                @foreach (var equipmentId in _equipmentIds)
                                                {
                                                    <MudButton Style="padding: 0px; margin-right: 10px; margin-top: 10px" Color="Color.Warning" Variant="Variant.Outlined">
                                                        <MudChip Color="Color.Warning" Icon="@Icons.Material.Filled.Engineering" Size="Size.Small" Variant="Variant.Text" Style="cursor:pointer">
                                                            @(_equipment.FirstOrDefault(t => t.EquipmentId == equipmentId)?.EquipmentName)
                                                        </MudChip>

                                                    </MudButton>
                                                }
                                            </MudItem>
                                        }
                                        else
                                        {
                                            <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Currently, there is no equipment.</MudAlert>
                                        }

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <MudText>Tools Used</MudText>
                                    </td>
                                    <td>
                                        @if (_toolsIds.Count > 0)
                                        {
                                            <MudItem Style="display: flex; align-content: space-between; flex-wrap: wrap; justify-content: center; align-items: center;">

                                                @foreach (var toolId in _toolsIds)
                                                {
                                                    <MudButton Style="padding: 0px; margin-right: 10px; margin-top: 10px" Color="Color.Info" Variant="Variant.Outlined">
                                                        <MudChip Color="Color.Info" Icon="@Icons.Material.Filled.Build" Size="Size.Small" Variant="Variant.Text" Style="cursor:pointer">
                                                            @(_tools.FirstOrDefault(t => t.ToolId == toolId)?.ToolName)
                                                        </MudChip>

                                                    </MudButton>
                                                }
                                            </MudItem>
                                        }
                                        else
                                        {
                                            <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Currently, there are no tools.</MudAlert>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <MudText>Materials Used</MudText>
                                    </td>
                                    <td>
                                        @if (_materialsIds.Count > 0)
                                        {
                                            <MudItem Style="display: flex; align-content: space-between; flex-wrap: wrap; justify-content: center; align-items: center;">

                                                @foreach (var materialId in _materialsIds)
                                                {
                                                    <MudButton Style="padding: 0px; margin-right: 10px; margin-top: 10px" Color="Color.Primary" Variant="Variant.Outlined">
                                                        <MudChip Color="Color.Primary" Icon="@Icons.Material.Filled.Work" Size="Size.Small" Variant="Variant.Text" Style="cursor:pointer">
                                                            @(_materials.FirstOrDefault(t => t.MaterialId == materialId)?.MaterialName)
                                                        </MudChip>

                                                    </MudButton>
                                                }
                                            </MudItem>
                                        }
                                        else
                                        {
                                            <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Currently, there are no materials.</MudAlert>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <MudText>Other information</MudText>
                                    </td>
                                    <td>
                                        <MudTextField ReadOnly Margin="Margin.Dense" @bind-Value="_sosHub.OtherInformation" Lines="3" />
                                     </td>
                                 </tr>
                                 <tr>
                                     <td>
                                         <MudText>Plant / Area / Distribution</MudText>
                                     </td>
                                     <td class="d-flex">
                                         <MudItem Class="mr-4">

                                             @if (user.UserType == 1)
                                            {

                                                <MudSelect T="int" Label=@Localizer["plant"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@plantId" FullWidth>
                                                 <MudSelectItem Disabled="true" Value="0">@Localizer["selectAPlant"]</MudSelectItem>
                                                 @foreach (var type in _plants)
                                                    {
                                                        <MudSelectItem Value="type.PlantId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                                    }
                                                </MudSelect>
                                            }
                                            else
                                            {
                                                <MudSelect T="int" Label=@Localizer["plant"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@plantId" FullWidth>
                                                 @foreach (var type in _plants)
                                                    {
                                                        if (type.PlantId == user.PlantId)
                                                        {
                                                            <MudSelectItem Value="type.PlantId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                                        }
                                                    }
                                                </MudSelect>
                                            }
                                        </MudItem>
                                        <MudItem>
                                            @if (plantId != 0 && user.UserType == 1)
                                            {
                                                @*Mud select for Areas for Admin *@
                                                <MudSelect T="int" Label=@Localizer["area"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="areaId" FullWidth>
                                                 <MudSelectItem Disabled="true" Value="0">@Localizer["selectAnArea"]</MudSelectItem>
                                                 @foreach (var type in _areas)
                                                    {
                                                        <MudSelectItem Value="type.AreaId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                                    }
                                                </MudSelect>
                                            }
                                            else if (plantId != 0 && user.UserType == 2)
                                            {
                                                @*Mud select for Areas for SSV *@
                                                <MudSelect T="int" Label=@Localizer["area"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@areaId" FullWidth>
                                                 <MudSelectItem Disabled="true" Value="0">@Localizer["selectAnArea"]</MudSelectItem>
                                                 @foreach (var type in user.Areas)
                                                    {
                                                        <MudSelectItem Value="type.AreaId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                                    }
                                                </MudSelect>
                                            }
                                            else if (plantId != 0)
                                            {
                                                @*Mud select for Areas for SV *@
                                                <MudSelect T="int" Label=@Localizer["area"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@areaId" FullWidth>
                                                 <MudSelectItem Disabled="true" Value="0">@Localizer["selectAnArea"]</MudSelectItem>
                                                 @foreach (var type in _areas)
                                                    {
                                                        if (type.AreaId == user.AreaId)
                                                        {
                                                            <MudSelectItem Value="type.AreaId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                                        }
                                                    }
                                                </MudSelect>
                                            }
                                            else
                                            {
                                                @*Mud select for Areas *@
                                                <MudSelect T="int" Label=@Localizer["area"] Variant="Variant.Text" Disabled AnchorOrigin="Origin.BottomCenter" @bind-Value="@areaId" FullWidth>
                                                 <MudSelectItem Disabled="true" Value="0">@Localizer["firstSelectAPlant"]</MudSelectItem>
                                             </MudSelect>
                                            }
                                        </MudItem>
                                        <MudItem Class="ml-4">
                                            @if (areaId != 0)
                                            {
                                                <MudSelect T="int" Label=@Localizer["distribution"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@distributionId">
                                                    <MudSelectItem Disabled="true" Value="0"> @Localizer["selectADistribution"]</MudSelectItem>
                                                    @foreach (var type in _distributions)
                                                    {
                                                        <MudSelectItem Value="type.DistributionId">
                                                            @(
                                                                $"{type.Code} - {type.Description}"
                                                                )
                                                        </MudSelectItem>
                                                    }
                                                </MudSelect>
                                            }
                                            else
                                            {
                                                <MudSelect T="int" Label=@Localizer["distribution"] Disabled Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@distributionId">
                                                     <MudSelectItem Disabled="true" Value="0">@Localizer["firstSelectAnArea"]</MudSelectItem>
                                                 </MudSelect>
                                            }
                                        </MudItem>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <MudText>Station / Department</MudText>
                                    </td>
                                    <td class="d-flex">
                                        <MudItem>

                                            <MudSelect T="int" Label=@Localizer["station"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="stationId" FullWidth>
                                             <MudSelectItem Disabled="true" Value="0">@Localizer["selectAnStation"]</MudSelectItem>
                                             @foreach (var type in _stations)
                                                {
                                                    <MudSelectItem Value="type.StationId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                                }
                                            </MudSelect>
                                        </MudItem>

                                        <MudItem Class="ml-4">
                                            <MudSelect T="int" Label=@Localizer["department"] Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" @bind-Value="@departmentId">
                                                <MudSelectItem Disabled="true" Value="0">@Localizer["selectADepartment"]</MudSelectItem>
                                                @foreach (var type in _departments)
                                                {
                                                    <MudSelectItem Value="type.DepartmentId">@($"{type.Code} - {type.Description}")</MudSelectItem>
                                                }
                                            </MudSelect>
                                        </MudItem>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <MudText>Owner</MudText>
                                    </td>
                                    <td>
                                        @if (_supervisors.Count > 0)
                                        {
                                            <MudAutocomplete T="int"
                                                             Label=@Localizer["Supervisor"]
                                                             Variant="Variant.Text"
                                                             AnchorOrigin="Origin.BottomCenter"
                                            @bind-Value="supervisorOwnerId"
                                                             OpenIcon="@Icons.Material.Filled.SupervisorAccount"
                                                             AdornmentColor="Color.Secondary"
                                                                                  Clearable
                                                                                  ResetValueOnEmptyText
                                                              ShowProgressIndicator="true"
                                                              ProgressIndicatorColor="Color.Info"
                                                              ToStringFunc="@(s => _supervisors.FirstOrDefault(x => x.UserId == s)?.Name)"
                                                              SearchFunc="SearchSupervisors"
                                                                                  ReadOnly>

                                         </MudAutocomplete>
                                        }

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <MudText>Created</MudText>
                                    </td>
                                    <td>
                                        <MudTextField ReadOnly T="DateTime?" Format="s" Label="DateTimeLocal" InputType="InputType.DateTimeLocal" @bind-Value="createdDateTime" />
                                     </td>
                                 </tr>
                                 <tr>
                                     <td>
                                         <MudText>Editor</MudText>
                                     </td>
                                     <td>
                                         @if (_supervisors.Count > 0)
                                        {
                                            <MudAutocomplete T="int"
                                                             Label=@Localizer["Supervisor"]
                                                             Variant="Variant.Text"
                                                             AnchorOrigin="Origin.BottomCenter"
                                            @bind-Value="supervisorEditorId"
                                                             OpenIcon="@Icons.Material.Filled.SupervisorAccount"
                                                             AdornmentColor="Color.Secondary"
                                                                                  Clearable
                                                                                  ResetValueOnEmptyText
                                                              ShowProgressIndicator="true" ProgressIndicatorColor="Color.Info"
                                                              ToStringFunc="@(s => _supervisors.FirstOrDefault(x => x.UserId == s)?.Name)"
                                                              SearchFunc="SearchSupervisors"
                                                                                  ReadOnly>
                                         </MudAutocomplete>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <MudText>Modified</MudText>
                                    </td>
                                    <td>
                                        <MudTextField ReadOnly T="DateTime?" Format="s" Label="DateTimeLocal" InputType="InputType.DateTimeLocal" @bind-Value="modifiedDateTime" />
                                     </td>
                                 </tr>
                                 <tr>
                                     <td>
                                         <MudText>Plan</MudText>
                                     </td>
                                     <td>
                                         <MudTextField ReadOnly Margin="Margin.Dense" @bind-Value="_sosHub.Plan" />
                                     </td>
                                 </tr>
                                 <tr>
                                     <td>
                                         <MudText>Source Plan</MudText>
                                     </td>
                                     <td>
                                         <MudTextField ReadOnly Margin="Margin.Dense" @bind-Value="_sosHub.SourcePlan" />
                                     </td>
                                 </tr>
                                 <tr>
                                     <td>
                                         <MudText>Status</MudText>
                                     </td>
                                     <td>
                                         <MudSelect ReadOnly Margin="Margin.Dense" T="string" Variant="Variant.Text" @bind-Value="_sosHub.Status">
                                             <MudSelectItem Value="@("Pending")" />
                                             <MudSelectItem Value="@("Approved")" />
                                             <MudSelectItem Value="@("Rejected")" />
                                         </MudSelect>
                                     </td>
                                 </tr>
                             </tbody>
                         </MudSimpleTable>
                     </ChildContent>
                 </MudExpansionPanel>
             </MudExpansionPanels>
         </MudItem>
     </MudGrid>
}
<MudDialog @bind-IsVisible="visibleStepsDialog" Options="dialogStepsOptions">
    <TitleContent>
        <div class="d-flex" style="align-items: center; justify-content:center;">
            <MudImage ObjectFit="ObjectFit.Cover" Height="25" Src="Images/logo.png" Alt="Evidence" Elevation="25" Class="rounded-lg mr-4" />
            <MudText Typo="Typo.h6" Style="text-align: center;">
                @Localizer["Steps"]
            </MudText>
        </div>
        <div class="d-flex" style="align-items: center; justify-content:center;">
            <MudText Typo="Typo.h6" Style="text-align: center;">
                @((MarkupString)HighlightedText)
            </MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudTable Items="@segments" Class="custom-table">
            <HeaderContent>
                <MudTh Style="font-weight:bold; width: 50%">Analysis</MudTh>
                <MudTh Style="font-weight:bold">Main Point</MudTh>
                <MudTh Style="font-weight:bold">Critical Points</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Analysis</MudTd>
                <MudTd>@context.MainPoint</MudTd>
                <MudTd>
                    <ul>
                        @foreach (var point in context.CriticalPoints)
                        {

                            <li>

                                @point
                            </li>
                        }
                    </ul>
                </MudTd>
            </RowTemplate>
        </MudTable>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseStepsDialog" Variant="Variant.Filled">@Localizer["cancel"]</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-IsVisible="visibleImagesDialog" Options="dialogImagesOptions">
    <TitleContent>
        <div class="d-flex" style="align-items: center; justify-content:center;">
            <MudImage ObjectFit="ObjectFit.Cover" Height="25" Src="Images/logo.png" Alt="Evidence" Elevation="25" Class="rounded-lg mr-4" />
            <MudText Typo="Typo.h6" Style="text-align: center;">
                @Localizer["Images"]
            </MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudItem Style="display: flex; align-content: space-between; flex-wrap: wrap; justify-content: space-evenly; align-items: center;  min-height: 50vh">
            @if (capturedImages.Count > 0)
            {
                <div style="display: flex; align-items: center; justify-content: space-between;" class="mt-4">
                    <MudItem Class="d-flex" Style="flex-direction: row; flex-wrap: wrap; justify-content: flex-start; overflow-y: scroll; max-height:50vh; scroll-behavior: smooth; justify-content: center;">

                        @foreach (var (image, index) in capturedImages.Select((image, index) => (image, index)))
                        {
                            <MudItem Class=" mr-8 mb-4">
                                <MudItem Style="text-align:end !important; margin-right: -15px; margin-bottom: -7px; cursor:pointer">
                                </MudItem>
                                <MudImage ObjectFit="ObjectFit.Contain" Height="80" Width="130" Src=@image Alt="Evidence" Elevation="25" Class="rounded-lg" Style="cursor:pointer" @onclick="() => OpenEvidenceDialog(index)" />
                            </MudItem>
                        }
                    </MudItem>

                </div>
            }
        </MudItem>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseImagesDialog" Variant="Variant.Filled">@Localizer["close"]</MudButton>
    </DialogActions>
</MudDialog>


<MudDialog @bind-IsVisible="visibleVideosDialog" Options="dialogVideosOptions">
    <TitleContent>
        <div class="d-flex" style="align-items: center; justify-content:center;">
            <MudImage ObjectFit="ObjectFit.Cover" Height="25" Src="Images/logo.png" Alt="Evidence" Elevation="25" Class="rounded-lg mr-4" />
            <MudText Typo="Typo.h6" Style="text-align: center;">
                @Localizer["Videos"]
            </MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudItem Style="display: flex; align-content: space-between; flex-wrap: wrap; justify-content: space-evenly; align-items: center;  min-height: 50vh">
            @if (MediaUris != null && MediaUris.Count > 0)
            {
                @foreach (var item in MediaUris.ToList())
                {
                    <MudItem Class="mr-4 mb-4">
                        <MudItem Style="text-align:end !important; margin-right: -15px; margin-bottom: -7px; cursor:pointer">
                        </MudItem>
                        <video width="300" height="150" controls @key="item.Key">
                            <source src="@item.Value.Item2">
                            Your browser does not support the video tag.
                        </video>
                    </MudItem>
                }
            }
            else
            {
                <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">No media available.</MudAlert>
            }
        </MudItem>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseVideosDialog" Variant="Variant.Filled">@Localizer["close"]</MudButton>
    </DialogActions>
</MudDialog>



@*Evidence Modal*@
<MudDialog DisableSidePadding="false" @bind-IsVisible="visibleEvidence" Options="dialogEvidenceOptions">
    <DialogContent>
        <MudPaper Elevation="0">
            @if (capturedImages.Count() > 0)
            {
                <MudCarousel Class="mud-width-full" Style="height: 75vh" ShowArrows=true ShowBullets=true EnableSwipeGesture=true AutoCycle="false" TData="object" @bind-SelectedIndex=@photoIndex>
                    <PreviousButtonTemplate>
                        <MudAvatar Color="Color.Dark" Variant="Variant.Filled" Class="ml-4" Style="cursor:pointer">
                            <MudIcon Icon="@Icons.Material.Filled.NavigateBefore" />
                        </MudAvatar>
                    </PreviousButtonTemplate>
                    <NextButtonTemplate>
                        <MudAvatar Color="Color.Dark" Variant="Variant.Filled" Class="mr-4" Style="cursor:pointer">
                            <MudIcon Icon="@Icons.Material.Filled.NavigateNext" />
                        </MudAvatar>
                    </NextButtonTemplate>
                    <ChildContent>
                        @foreach (var evidence in capturedImages)
                        {
                            <MudCarouselItem Transition="Transition.Fade">
                                <MudImage ObjectFit="ObjectFit.Cover" Height="720" Width="1280" Src=@evidence Alt="Evidence" Elevation="25" Class="rounded-lg" Style="max-height: 66vh; width: 100%; border-radius: 10px; margin-bottom:24px;" />
                            </MudCarouselItem>
                        }
                    </ChildContent>
                </MudCarousel>
            }
            else
            {
                <MudItem Style="height: 75vh">
                    <MudAlert Severity="Severity.Info" Dense ContentAlignment="HorizontalAlignment.Center">
                         @Localizer["there is no previous evidence :)"]
                     </MudAlert>
                 </MudItem>
            }
        </MudPaper>
    </DialogContent>
</MudDialog>

