@page "/SOSHOE/Hub"

@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Resource> Localizer
@inject IBreadcrumbService BreadcrumbService
@inject IUserService UsersService
@inject ISOSHubService SOSHubServices
@inject IDialogService DialogService

<style type="text/css">

    .bounceIn {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: bounceIn;
        animation-fill-mode: forwards;
    }

    .bounceOut {
        animation-duration: 0.5s;
        animation-name: bounceOut;
        animation-fill-mode: forwards;
    }

    .backInDown {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: backInDown;
        animation-fill-mode: forwards;
    }

    .backOutDown {
        animation-duration: 0.5s;
        animation-name: backOutDown;
        animation-fill-mode: forwards;
    }

    .rotateIn {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: rotateIn;
        animation-fill-mode: forwards;
    }

    .rotateOut {
        animation-duration: 0.5s;
        animation-name: rotateOut;
        animation-fill-mode: forwards;
    }

</style>

@*Title*@
<PageTitle>Supervisor Mobility | @Localizer["HOESOSHubTitle"]</PageTitle>

@if (ShowLoading)
{
    <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudItem class="d-flex flex-column justify-center align-self-center">
                    <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                </MudItem>
                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
            </div>
        </ItemTemplate>
    </MudCarousel>
}
else if (_Hoes.Count == 0)
{
    <MudContainer>

        <MudText Align="Align.Center">
            <h4>@Localizer["thereAreNoHoeCreated"]</h4>
            <MudSpacer></MudSpacer>
            <MudButton Href="/SOSHOE/Hub/Create">
                <MudText>@Localizer["newHoe"]</MudText>
                <MudIcon Icon="@Icons.Material.Filled.Add" Color="Color.Primary"></MudIcon>
            </MudButton>
        </MudText>
    </MudContainer>
}
else
{

    <MudTable Items="_Hoes" Hover="true" T="SOSHub" SortLabel="Sort By" Height="80vh"
              RowClassFunc="@SelectedRowClassFunc" @ref="SelectTableEvent" OnRowClick="RowClickEvent"
              Filter="new Func<SOSHub,bool>(FilterFunc)" Class="styled-table table-striped" FixedHeader=true>
        <ToolBarContent>
            <MudGrid class="d-flex flex-column justify-center align-self-center mb-10">
                <MudItem class="d-flex justify-center align-self-center ">
                    <MudText Typo="Typo.h6" Class="align-item-center center">@Localizer["jobstructure"]</MudText>
                </MudItem>
                <MudItem Class="d-flex">
                    <MudSpacer />
                    <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>

                    <MudSpacer />
                    <MudButton Href="/SOSHOE/Hub/Create">
                        <MudText>@Localizer["newHoe"]</MudText>
                        <MudIcon Icon="@Icons.Material.Filled.Add" Color="Color.Primary"></MudIcon>
                    </MudButton>
                    <MudButton OnClick="() => Generate(SosHubId)">
                        <MudText>@Localizer["Generate"]</MudText>
                        <MudIcon Icon="@Icons.Material.Filled.GeneratingTokens" Color="Color.Primary"></MudIcon>
                    </MudButton>
                    <MudSpacer />
                </MudItem>
            </MudGrid>
        </ToolBarContent>
        <HeaderContent>
            @if (user.UserType == 1)
            {
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<SOSHub, object>(x=>x?.SOSHubId)">Hoe Id</MudTableSortLabel>
                </MudTh>
            }
            <MudTh>
                <MudTableSortLabel SortBy="new Func<SOSHub, object>(x=>x?.Folio)">Folio</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<SOSHub, object>(x=>x?.ProcessSheet)">ProcessSheet</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<SOSHub, object>(x=>x?.AppliedModelId)">AppliedModelId</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<SOSHub, object>(x=>x?.Status)">Status</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudText Align="Align.Center">Actions</MudText>
            </MudTh>
        </HeaderContent>
        <RowTemplate>
            @if (user.UserType == 1)
            {
                <MudTd DataLabel="HoeId">
                    <MudText Align="Align.Center">@context.SOSHubId</MudText>
                </MudTd>
            }
            <MudTd DataLabel="Folio">
                <MudText Align="Align.Center">@context.Folio</MudText>
            </MudTd>
            <MudTd DataLabel="ProcessSheet">
                <MudText Align="Align.Center">@context.ProcessSheet</MudText>
            </MudTd>
            <MudTd DataLabel="AppliedModelId">
                <MudText Align="Align.Center">@context.AppliedModelId</MudText>
            </MudTd>
            <MudTd>
                <MudTableSortLabel SortBy="new Func<SOSHub, object>(x=>x?.Status)">Status</MudTableSortLabel>
            </MudTd>
            <MudTd>
                <MudText Align="Align.Center">
                    <MudMenu Dense=true MaxHeight="300" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                        <ActivatorContent>
                            <MudButton FullWidth=true StartIcon="@Icons.Material.Filled.Settings" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Style="background:white" Variant="Variant.Filled" Size="Size.Small"></MudButton>
                        </ActivatorContent>
                        <ChildContent>

                            <MudMenuItem Icon="@Icons.Material.Filled.Info" IconColor="Color.Primary" @onclick="(() => HoeDetails(context.SOSHubId))" @ontouchstart="(() => HoeDetails(context.SOSHubId))">Details</MudMenuItem>
                            <MudMenuItem Icon="@Icons.Material.Filled.Edit" IconColor="Color.Info" @onclick="(() => UpdateHoe(context.SOSHubId))" @ontouchstart="(() => UpdateHoe(context.SOSHubId))">Edit </MudMenuItem>
                            <MudMenuItem Icon="@Icons.Material.Filled.GeneratingTokens" IconColor="Color.Info" @onclick="(() => Generate(context.SOSHubId))" @ontouchstart="(() => Generate(context.SOSHubId))">Generate</MudMenuItem>
                            <MudMenuItem Icon="@Icons.Material.Filled.Delete" IconColor="Color.Error" @onclick="(() => DeleteHoe(context.SOSHubId))" @ontouchstart="(() => DeleteHoe(context.SOSHubId))">Delete </MudMenuItem>
                        </ChildContent>
                    </MudMenu>
                </MudText>
            </MudTd>
        </RowTemplate>
    </MudTable>
}

<MudDialog DisableSidePadding="false" @bind-IsVisible="ShowGenerateDialog" Options="dialogResourcesOptions">
    <DialogContent>
        <MudCarousel @bind-SelectedIndex="selectedIndex" Class="mud-width-full" Style="min-height:45vh; max-height:60vh" TData="object" AutoCycle="false" ShowBullets="false" ShowArrows="false">
            <MudCarouselItem CustomTransitionEnter="Transition.Slide">
                <div class="d-flex" style="height:100%">
                    <MudItem>
                        <SupervisorMobility.Client.Pages.Components.CustomButton Color="#39FF14" Text="Analysis" OnClick="@(async () => selectedIndex = 1)" />
                        <SupervisorMobility.Client.Pages.Components.CustomButton Color="#FF44CC" Text="Combination" OnClick="@(async () => selectedIndex = 2)" />
                        <SupervisorMobility.Client.Pages.Components.CustomButton Color="#0FF0FC" Text="Distribution" OnClick="@(async () => selectedIndex = 3)" />
                        <SupervisorMobility.Client.Pages.Components.CustomButton Color="#8A2BE2" Text="Flow" OnClick="@(async () => selectedIndex = 4)" />
                        <SupervisorMobility.Client.Pages.Components.CustomButton Color="#FF3131" Text="Sequence" OnClick="@(async () => selectedIndex = 5)" />

                        <MudButton Class="custom-button" Style="--clr:#39FF14" OnClick="@(async () => selectedIndex = 1)">

                            <MudCard>
                                <MudCardHeader>
                                    <CardHeaderAvatar>
                                        <MudAvatar Color="MudBlazor.Color.Secondary">
                                            <MudImage Src="Images/analisis-de-los-datos.png" />
                                        </MudAvatar>
                                    </CardHeaderAvatar>
                                    <CardHeaderContent>
                                        <MudText Typo="Typo.h5">Analysis</MudText>
                                    </CardHeaderContent>
                                    <CardHeaderActions>
                                        <MudIcon Icon="@Icons.Material.Filled.GeneratingTokens" Color="MudBlazor.Color.Primary"></MudIcon>

                                    </CardHeaderActions>
                                </MudCardHeader>
                            </MudCard>
                            <i></i>
                        </MudButton>

                    </MudItem>
                </div>
            </MudCarouselItem>
            <MudCarouselItem CustomTransitionEnter="Transition.Fade" CustomTransitionExit="backInDown">
                <div class="d-flex" style="height:45vh">
                    <MudItem>
                        <MudButton Style="float: left" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBack" OnClick="@(() =>  selectedIndex = 0)" Color="Color.Primary">Back</MudButton>
                    </MudItem>
                    <MudItem>
                        <MudCard Style="width:100%">
                            <MudCardHeader>
                                <MudText Typo="Typo.h6">Folio: @_Hoes.Find(h => h.SOSHubId == SosHubId)?.Folio</MudText>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudTextField @bind-Value="analisys.InternalControlNumber" Label="Internal Control Number" Variant="Variant.Filled" Class="mb-2" />
                                <MudTextField @bind-Value="analisys.ProcessName" Label="Process Name" Variant="Variant.Filled" Class="mb-2" />
                                <MudTextField @bind-Value="analisys.OperationName" Label="Operation Name" Variant="Variant.Filled" Class="mb-2" />
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.GeneratingTokens" OnClick="@(() =>  GenerateAnalisys())" Color="Color.Primary">Generate</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                </div>
            </MudCarouselItem>
            <MudCarouselItem CustomTransitionEnter="bounceIn" CustomTransitionExit="bounceOut">
                <div class="d-flex" style="height:100%">
                    <MudItem>
                        <MudButton Style="float: left" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBack" OnClick="@(() =>  selectedIndex = 0)" Color="Color.Primary">Back</MudButton>
                    </MudItem>
                    <MudItem>

                    </MudItem>
                </div>
            </MudCarouselItem>
            <MudCarouselItem CustomTransitionEnter="backInDown" CustomTransitionExit="backOutDown">
                <div class="d-flex" style="height:100%">
                    <MudItem>
                        <MudButton Style="float: left" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBack" OnClick="@(() =>  selectedIndex = 0)" Color="Color.Primary">Back</MudButton>
                    </MudItem>
                    <MudItem>

                    </MudItem>
                </div>
            </MudCarouselItem>
            <MudCarouselItem CustomTransitionEnter="rotateIn" CustomTransitionExit="rotateOut">
                <div class="d-flex" style="height:100%">
                    <MudItem>
                        <MudButton Style="float: left" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBack" OnClick="@(() =>  selectedIndex = 0)" Color="Color.Primary">Back</MudButton>
                    </MudItem>
                    <MudItem>

                    </MudItem>
                </div>
            </MudCarouselItem>
            <MudCarouselItem CustomTransitionEnter="backInDown" CustomTransitionExit="Transition.Slide">
                <div class="d-flex" style="height:100%">
                    <MudItem>
                        <MudButton Style="float: left" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBack" OnClick="@(() =>  selectedIndex = 0)" Color="Color.Primary">Back</MudButton>
                    </MudItem>
                    <MudItem>

                    </MudItem>
                </div>
            </MudCarouselItem>
        </MudCarousel>
    </DialogContent>
    @* <DialogActions>
    <MudButton OnClick="confirmSide" Variant="Variant.Filled">@Localizer["confirm"]</MudButton>
    </DialogActions> *@
</MudDialog>


@code {
    // Breadcrumb links
    private List<BreadcrumbItem> _links = new List<BreadcrumbItem>();

    // Objects
    public List<SOSHub> _Hoes { get; set; } = new();

    //User
    private string json = string.Empty;
    public User user = new();
    public bool logged = false;

    //Side Dialog
    private string SideName = string.Empty;
    private int SosHubId = 0;
    public bool ShowSideDialog = false;
    //Loading
    private IList<string> _sourceMsgLoading = new List<string>();
    private IList<Color> _Colors = new List<Color>() { Color.Default, Color.Primary, Color.Secondary, Color.Success, Color.Info, Color.Default, Color.Primary, Color.Secondary, Color.Success, Color.Info };
    public bool ShowLoading = true;

    //Generation
    private DialogOptions dialogResourcesOptions = new() { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Medium, FullWidth = true, CloseButton = true };
    public bool ShowGenerateDialog = false;
    private int selectedIndex = 0;

    //Analisis
    SOSAnalysis analisys { get; set; } = new SOSAnalysis();


    // Initialization
    protected async override Task OnInitializedAsync()
    {


        _Hoes = await SOSHubServices.GetAllSOSHub();

        await GetUserAsync();
        logged = await HasPropertyAsync();
        if (!logged)
        {
            Snackbar.Clear();
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
            Snackbar.Add($"Error You have to log in", Severity.Error);
            NavigationManager.NavigateTo($"/");
        }

        _links = new List<BreadcrumbItem>
             {
                 new BreadcrumbItem(text: Localizer["homeSOSHOE"], href: "/SOSHOE"),
                 new BreadcrumbItem(text: Localizer["HOESOSHubTitle"], href: "/SOSHOE/Hub", disabled: true)
                        };
        BreadcrumbService.UpdateBreadcrumbs(_links);
        ShowLoading = false;
    }

    //Local storage user
    private async Task GetUserAsync()
    {
        if (!await TryGetAsync())
            user = new();
    }

    private async Task<bool> TryGetAsync()
    {
        bool hasProperty = await HasPropertyAsync();
        if (hasProperty)
        {
            json = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "user");
            user = JsonSerializer.Deserialize<User>(json) ?? new();
        }
        return hasProperty;
    }

    private async Task<bool> HasPropertyAsync()
        => await JSRuntime.InvokeAsync<bool>("localStorage.hasOwnProperty", "user");

    private string searchString = "";

    private bool FilterFunc(SOSHub element)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        // if (element.HoeId.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
        //     return true;
        // if (element.HoeCode.Contains(searchString, StringComparison.OrdinalIgnoreCase))
        //     return true;
        // if (element.HoeName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
        //     return true;

        return false;
    }

    private int selectedRowNumber = -1;
    private MudTable<SOSHub> SelectTableEvent;

    private void RowClickEvent(TableRowClickEventArgs<SOSHub> args)
    {
        if (selectedRowNumber == SelectTableEvent.Items.ToList().IndexOf(args.Item))
        {
            HoeDetails(args.Item.SOSHubId);
        }
        else
        {
            SelectTableEvent.SelectedItem = args.Item;
            selectedRowNumber = SelectTableEvent.Items.ToList().IndexOf(args.Item);
        }
    }

    private string SelectedRowClassFunc(SOSHub element, int rowNumber)
    {
        if (selectedRowNumber == rowNumber)
        {
            SosHubId = element.SOSHubId;
            return "selected"; // Mantener la fila seleccionada
        }
        else if (SelectTableEvent.SelectedItem != null && SelectTableEvent.SelectedItem.Equals(element))
        {
            SosHubId = element.SOSHubId;
            selectedRowNumber = rowNumber;
            return "selected";
        }
        else
        {
            return string.Empty;
        }
    }


    void HoeDetails(int HoeId)
    {
        NavigationManager.NavigateTo($"/SOSHOE/Hub/Details//{HoeId}");
    }

    // Delete Hoe
    async Task DeleteHoe(int HoeId)
    {
        bool confirm = await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete this Hoe?");

        if (confirm)
        {
            _Hoes.RemoveAll(Hoe => Hoe.SOSHubId == HoeId);
            await SOSHubServices.DeleteSOSHub(HoeId);
        }
    }

    // Update Hoe
    void UpdateHoe(int HoeId)
    {
        NavigationManager.NavigateTo($"/SOSHOE/Hub/Update/{HoeId}");
    }

    async void Generate(int hoeId = 0)
    {
        if (hoeId == 0 || SosHubId == 0)
        {
            bool? result = await DialogService.ShowMessageBox("Warning", "Selecciona un elemento de la tabla!", yesText: "Ok!");
            var state = result == null ? "Canceled" : "Deleted!";
        }
        else
        {
            SosHubId = hoeId;
            selectedIndex = 0;
            ShowGenerateDialog = true;
        }
    }



    public async void GenerateAnalisys()
    {

        if (!string.IsNullOrEmpty(analisys.InternalControlNumber) && !string.IsNullOrEmpty(analisys.ProcessName) && !string.IsNullOrEmpty(analisys.OperationName))
        {
            var GenAnalisys = await SOSHubServices.GenerateAnalysis(SosHubId, analisys);

            Snackbar.Clear();
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
            if (GenAnalisys)
            {
                Snackbar.Add($"{Localizer["AnalisysGeneratedSucces"]}", Severity.Info);
                ShowGenerateDialog = false;
                analisys = new SOSAnalysis();
            }
            else
            {
                Snackbar.Add($"{Localizer["FailAnalisysGeneratedSucces"]}", Severity.Error);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox("Warning", "Es necesario completar los campos!", yesText: "Ok!");
            var state = result == null ? "Canceled" : "Deleted!";
        }

        StateHasChanged();
    }
}



