@page "/SOSHOE/Hub"

@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Resource> Localizer
@inject IBreadcrumbService BreadcrumbService
@inject IUserService UsersService
@inject ISOSHubService SOSHubServices
@inject IDialogService DialogService



<style type="text/css">

    .bounceIn {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: bounceIn;
        animation-fill-mode: forwards;
    }

    .bounceOut {
        animation-duration: 0.5s;
        animation-name: bounceOut;
        animation-fill-mode: forwards;
    }

    .backInDown {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: backInDown;
        animation-fill-mode: forwards;
    }

    .backOutDown {
        animation-duration: 0.5s;
        animation-name: backOutDown;
        animation-fill-mode: forwards;
    }

    .rotateIn {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: rotateIn;
        animation-fill-mode: forwards;
    }

    .rotateOut {
        animation-duration: 0.5s;
        animation-name: rotateOut;
        animation-fill-mode: forwards;
    }

</style>

@*Title*@
<PageTitle>Supervisor Mobility | @Localizer["HOESOSHubTitle"]</PageTitle>

@if (ShowLoading)
{
    <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudItem class="d-flex flex-column justify-center align-self-center">
                    <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                </MudItem>
                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
            </div>
        </ItemTemplate>
    </MudCarousel>
}
else if (_Hoes.Count == 0)
{
    <MudContainer>

        <MudText Align="Align.Center">
            <h4>@Localizer["thereAreNoHoeCreated"]</h4>
            <MudSpacer></MudSpacer>
            <MudButton Href="/SOSHOE/Hub/Create">
                <MudText>@Localizer["newHoe"]</MudText>
                <MudIcon Icon="@Icons.Material.Filled.Add" Color="Color.Primary"></MudIcon>
            </MudButton>
        </MudText>
    </MudContainer>
}
else
{

    <MudTable Items="_Hoes" Hover="true" T="SOSHub" SortLabel="Sort By" Height="80vh"
              RowClassFunc="@SelectedRowClassFunc" @ref="SelectTableEvent" OnRowClick="RowClickEvent"
              Filter="new Func<SOSHub,bool>(FilterFunc)" Class="styled-table table-striped" FixedHeader=true>
        <ToolBarContent>
            <MudGrid class="d-flex flex-column justify-center align-self-center mb-10">
                <MudItem class="d-flex justify-center align-self-center ">
                    <MudText Typo="Typo.h6" Class="align-item-center center">@Localizer["jobstructure"]</MudText>
                </MudItem>
                <MudItem Class="d-flex">
                    <MudSpacer />
                    <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>

                    <MudSpacer />
                    <MudButton Href="/SOSHOE/Hub/Create">
                        <MudText>@Localizer["newHoe"]</MudText>
                        <MudIcon Icon="@Icons.Material.Filled.Add" Color="Color.Primary"></MudIcon>
                    </MudButton>
                    <MudButton OnClick="() => Generate(SosHubId)">
                        <MudText>@Localizer["Generate"]</MudText>
                        <MudIcon Icon="@Icons.Material.Filled.GeneratingTokens" Color="Color.Primary"></MudIcon>
                    </MudButton>
                    <MudSpacer />
                </MudItem>
            </MudGrid>
        </ToolBarContent>
        <HeaderContent>
            @if (user.UserType == 1)
            {
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<SOSHub, object>(x=>x?.SOSHubId)">Hoe Id</MudTableSortLabel>
                </MudTh>
            }
            <MudTh>
                <MudTableSortLabel SortBy="new Func<SOSHub, object>(x=>x?.Folio)">Folio</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<SOSHub, object>(x=>x?.ProcessSheet)">ProcessSheet</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<SOSHub, object>(x=>x?.AppliedModelId)">AppliedModelId</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<SOSHub, object>(x=>x?.Status)">Status</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudText Align="Align.Center">Actions</MudText>
            </MudTh>
        </HeaderContent>
        <RowTemplate>
            @if (user.UserType == 1)
            {
                <MudTd DataLabel="HoeId">
                    <MudText Align="Align.Center">@context.SOSHubId</MudText>
                </MudTd>
            }
            <MudTd DataLabel="Folio">
                <MudText Align="Align.Center">@context.Folio</MudText>
            </MudTd>
            <MudTd DataLabel="ProcessSheet">
                <MudText Align="Align.Center">@context.ProcessSheet</MudText>
            </MudTd>
            <MudTd DataLabel="AppliedModelId">
                <MudText Align="Align.Center">@context.AppliedModelId</MudText>
            </MudTd>
            <MudTd>
                <MudTableSortLabel SortBy="new Func<SOSHub, object>(x=>x?.Status)">Status</MudTableSortLabel>
            </MudTd>
            <MudTd>
                <MudText Align="Align.Center">
                    <MudMenu Dense=true MaxHeight="300" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                        <ActivatorContent>
                            <MudButton FullWidth=true StartIcon="@Icons.Material.Filled.Settings" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Style="background:white" Variant="Variant.Filled" Size="Size.Small"></MudButton>
                        </ActivatorContent>
                        <ChildContent>

                            <MudMenuItem Icon="@Icons.Material.Filled.Info" IconColor="Color.Primary" @onclick="(() => HoeDetails(context.SOSHubId))" @ontouchstart="(() => HoeDetails(context.SOSHubId))">Details</MudMenuItem>
                            <MudMenuItem Icon="@Icons.Material.Filled.Edit" IconColor="Color.Info" @onclick="(() => UpdateHoe(context.SOSHubId))" @ontouchstart="(() => UpdateHoe(context.SOSHubId))">Edit </MudMenuItem>
                            <MudMenuItem Icon="@Icons.Material.Filled.GeneratingTokens" IconColor="Color.Info" @onclick="(() => Generate(context.SOSHubId))" @ontouchstart="(() => Generate(context.SOSHubId))">Generate</MudMenuItem>
                            <MudMenuItem Icon="@Icons.Material.Filled.Delete" IconColor="Color.Error" @onclick="(() => DeleteHoe(context.SOSHubId))" @ontouchstart="(() => DeleteHoe(context.SOSHubId))">Delete </MudMenuItem>
                        </ChildContent>
                    </MudMenu>
                </MudText>
            </MudTd>
        </RowTemplate>
    </MudTable>
}

<MudDialog DisableSidePadding="false" @bind-IsVisible="ShowGenerateDialog" Options="dialogResourcesOptions" Style="overflow:hidden">
    <DialogContent>
        <MudGrid Style="max-height: 75vh; overflow:hidden">
            <MudItem lg="12" md="12" sm="12" xs="12">
                <MudExpansionPanels MultiExpansion="true" Style="height:100%">
                    <MudExpansionPanel Text="" Style="min-width: 100%" IsInitiallyExpanded>
                        <TitleContent>
                            <div class="d-flex" style="align-items: center; justify-content:center;">
                                <MudImage ObjectFit="ObjectFit.Cover" Height="25" Src="Images/logo.png" Alt="Evidence" Elevation="25" Class="rounded-lg mr-4" />
                                <MudText Typo="Typo.h6" Style="text-align: center;">
                                    @Localizer["HOE"]
                                </MudText>
                            </div>
                        </TitleContent>
                        <ChildContent>
                            <MudGrid Spacing="2" Justify="Justify.SpaceEvenly">
                                <MudItem xs="4">
                                    <MudButton Class="custom-button-card" Style="--clr:#39FF14" OnClick="@( () => GoToPageGenerate(1))">
                                        <MudCard>
                                            <MudCardHeader>
                                                <CardHeaderAvatar>
                                                    <MudAvatar>
                                                        <MudImage Src="Images/analisis-de-los-datos.png" />
                                                    </MudAvatar>
                                                </CardHeaderAvatar>
                                                <CardHeaderContent>
                                                    <MudText Typo="Typo.h6" Style="text-align:left"><b>Analysis</b></MudText>
                                                    <MudText Typo="Typo.body2">DocumentoSosAnalisi</MudText>
                                                </CardHeaderContent>
                                                <CardHeaderActions>
                                                    <MudIcon Icon="@Icons.Material.Filled.ManageSearch" Color="MudBlazor.Color.Primary"></MudIcon>
                                                </CardHeaderActions>
                                            </MudCardHeader>
                                        </MudCard>
                                        <i></i>
                                    </MudButton>
                                </MudItem>
                                <MudItem xs="4">
                                    <MudButton Class="custom-button-card" Style="--clr:#FF44CC" OnClick="@(() => GoToPageGenerate(2))">
                                        <MudCard>
                                            <MudCardHeader>
                                                <CardHeaderAvatar>
                                                    <MudAvatar>
                                                        <MudImage Src="Images/combinacion.png" />
                                                    </MudAvatar>
                                                </CardHeaderAvatar>
                                                <CardHeaderContent>
                                                    <MudText Typo="Typo.h6" Style="text-align:left"><b>Combination</b></MudText>
                                                    <MudText Typo="Typo.body2">Descripcion Combination</MudText>
                                                </CardHeaderContent>
                                                <CardHeaderActions>
                                                    <MudIcon Icon="@Icons.Material.Filled.CallMerge" Color="MudBlazor.Color.Primary"></MudIcon>
                                                </CardHeaderActions>
                                            </MudCardHeader>
                                        </MudCard>
                                        <i></i>
                                    </MudButton>
                                </MudItem>
                                <MudItem xs="4">
                                    <MudButton Class="custom-button-card" Style="--clr:#0FF0FC" OnClick="@(() => GoToPageGenerate(3))">
                                        <MudCard>
                                            <MudCardHeader>
                                                <CardHeaderAvatar>
                                                    <MudAvatar>
                                                        <MudImage Src="Images/reparto-de-beneficios.png" />
                                                    </MudAvatar>
                                                </CardHeaderAvatar>
                                                <CardHeaderContent>
                                                    <MudText Typo="Typo.h6" Style="text-align:left"><b>Distribution</b></MudText>
                                                    <MudText Typo="Typo.body2">Documento de Distribucion</MudText>
                                                </CardHeaderContent>
                                                <CardHeaderActions>
                                                    <MudIcon Icon="@Icons.Material.Filled.Hub" Color="MudBlazor.Color.Primary"></MudIcon>
                                                </CardHeaderActions>
                                            </MudCardHeader>
                                        </MudCard>
                                        <i></i>
                                    </MudButton>
                                </MudItem>
                                <MudItem xs="4">
                                    <MudButton Class="custom-button-card" Style="--clr:#FF3131" OnClick="@(() => GoToPageGenerate(4))">
                                        <MudCard>
                                            <MudCardHeader>
                                                <CardHeaderAvatar>
                                                    <MudAvatar>
                                                        <MudImage Src="Images/flujo-de-datos.png" />
                                                    </MudAvatar>
                                                </CardHeaderAvatar>
                                                <CardHeaderContent>
                                                    <MudText Typo="Typo.h6" Style="text-align:left"><b>Flow</b></MudText>
                                                    <MudText Typo="Typo.body2">Flow Docuemnt Description</MudText>
                                                </CardHeaderContent>
                                                <CardHeaderActions>
                                                    <MudIcon Icon="@Icons.Material.Filled.Air" Color="MudBlazor.Color.Primary"></MudIcon>
                                                </CardHeaderActions>
                                            </MudCardHeader>
                                        </MudCard>
                                        <i></i>
                                    </MudButton>
                                </MudItem>
                                <MudItem xs="4">
                                    <MudButton Class="custom-button-card" Style="--clr:#8A2BE2" OnClick="@(() => GoToPageGenerate(5))">
                                        <MudCard>
                                            <MudCardHeader>
                                                <CardHeaderAvatar>
                                                    <MudAvatar>
                                                        <MudImage Src="Images/flujo-de-trabajo.png" />
                                                    </MudAvatar>
                                                </CardHeaderAvatar>
                                                <CardHeaderContent>
                                                    <MudText Typo="Typo.h6" Style="text-align:left"><b>Sequence</b></MudText>
                                                    <MudText Typo="Typo.body2">Documento de Sequence</MudText>
                                                </CardHeaderContent>
                                                <CardHeaderActions>
                                                    <MudIcon Icon="@Icons.Material.Filled.Earbuds" Color="MudBlazor.Color.Primary"></MudIcon>
                                                </CardHeaderActions>
                                            </MudCardHeader>
                                        </MudCard>
                                        <i></i>
                                    </MudButton>
                                </MudItem>
                            </MudGrid>

                        </ChildContent>
                    </MudExpansionPanel>
                    <MudExpansionPanel IsInitiallyExpanded Style="min-width: 100%">
                        <ChildContent>
                            <MudGrid Spacing="2" Justify="Justify.SpaceAround">
                                <MudItem xs="6" Style="display: flex; justify-content: center;">
                                    <MudButton Class="custom-button-card" Style="--clr:#39FF14" OnClick="@(() => GoToPageGenerate(6))">
                                        <MudCard>
                                            <MudCardHeader>
                                                <CardHeaderAvatar>
                                                    <MudAvatar>
                                                        <MudImage Src="Images/flujo-de-requisitos.png" />
                                                    </MudAvatar>
                                                </CardHeaderAvatar>
                                                <CardHeaderContent>
                                                    <MudText Typo="Typo.h6" Style="text-align:left"><b> Cuadro Sinoptico de Requisitos de Operación</b></MudText>
                                                    <MudText Typo="Typo.body2"> Cuadro Sinoptico de Requisitos de Operación</MudText>
                                                </CardHeaderContent>
                                                <CardHeaderActions>
                                                    <MudIcon Icon="@Icons.Material.Filled.ManageSearch" Color="MudBlazor.Color.Primary"></MudIcon>
                                                </CardHeaderActions>
                                            </MudCardHeader>
                                        </MudCard>
                                        <i></i>
                                    </MudButton>
                                </MudItem>
                                <MudItem xs="6" Style="display: flex; justify-content: center;">
                                    <MudButton Class="custom-button-card" Style="--clr:#39FF14" OnClick="@(() => GoToPageGenerate(7))">
                                        <MudCard>
                                            <MudCardHeader>
                                                <CardHeaderAvatar>
                                                    <MudAvatar>
                                                        <MudImage Src="Images/procedimiento.png" />
                                                    </MudAvatar>
                                                </CardHeaderAvatar>
                                                <CardHeaderContent>
                                                    <MudText Typo="Typo.h6" Style="text-align:left">
                                                        <b>
                                                            Cuadro Sinoptico de Puntos de Control
                                                        </b>
                                                    </MudText>
                                                    <MudText Typo="Typo.body2">Cuadro Sinoptico de Puntos de Control</MudText>
                                                </CardHeaderContent>
                                                <CardHeaderActions>
                                                    <MudIcon Icon="@Icons.Material.Filled.ManageSearch" Color="MudBlazor.Color.Primary"></MudIcon>
                                                </CardHeaderActions>
                                            </MudCardHeader>
                                        </MudCard>
                                        <i></i>
                                    </MudButton>
                                </MudItem>
                                <MudItem xs="6" Style="display: flex; justify-content: center;">
                                    <MudButton Class="custom-button-card" Style="--clr:#39FF14" OnClick="@(() => GoToPageGenerate(8))">
                                        <MudCard>
                                            <MudCardHeader>
                                                <CardHeaderAvatar>
                                                    <MudAvatar>
                                                        <MudImage Src="Images/planificacion.png" />
                                                    </MudAvatar>
                                                </CardHeaderAvatar>
                                                <CardHeaderContent>
                                                    <MudText Typo="Typo.h6" Style="text-align:left"><b>Plan Anual de Adiestramiento Técnico</b></MudText>
                                                    <MudText Typo="Typo.body2">Plan Anual de Adiestramiento Técnico</MudText>
                                                </CardHeaderContent>
                                                <CardHeaderActions>
                                                    <MudIcon Icon="@Icons.Material.Filled.ManageSearch" Color="MudBlazor.Color.Primary"></MudIcon>
                                                </CardHeaderActions>
                                            </MudCardHeader>
                                        </MudCard>
                                        <i></i>
                                    </MudButton>
                                </MudItem>
                                <MudItem xs="6" Style="display: flex; justify-content: center;">
                                    <MudButton Class="custom-button-card" Style="--clr:#39FF14" OnClick="@(() => GoToPageGenerate(9))">
                                        <MudCard>
                                            <MudCardHeader>
                                                <CardHeaderAvatar>
                                                    <MudAvatar>
                                                        <MudImage Src="Images/HojaControl.png" />
                                                    </MudAvatar>
                                                </CardHeaderAvatar>
                                                <CardHeaderContent>
                                                    <MudText Typo="Typo.h6" Style="text-align:left"><b>Hoja de Control Individual</b></MudText>
                                                    <MudText Typo="Typo.body2">Hoja de Control Individual</MudText>
                                                </CardHeaderContent>
                                                <CardHeaderActions>
                                                    <MudIcon Icon="@Icons.Material.Filled.ManageSearch" Color="MudBlazor.Color.Primary"></MudIcon>
                                                </CardHeaderActions>
                                            </MudCardHeader>
                                        </MudCard>
                                        <i></i>
                                    </MudButton>
                                </MudItem>
                            </MudGrid>
                        </ChildContent>
                    </MudExpansionPanel>
                </MudExpansionPanels>
            </MudItem>



        </MudGrid>
    </DialogContent>
</MudDialog>


<MudDialog DisableSidePadding="false" @bind-IsVisible="ShowPagesGenerate" Options="dialogPagesOptions" Style="min-height: 30vh; overflow:hidden">
    <DialogContent>
        <MudGrid>
            @switch (selectedIndexPageGenerate)
            {
                case 1:
                    <div class="d-flex" style="min-height:40vh; max-height: auto">
                        <MudItem>
                            <MudButton Style="float: left" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBack" OnClick="@(() =>  ReturnToGenerateindex())" Color="Color.Primary">Back</MudButton>
                        </MudItem>
                        <MudItem Class="ma-5">

                            <MudSimpleTable>
                                <thead>
                                    <tr>
                                        <th colspan="3">Nombre de la Operación</th>
                                        <th colspan="3">@_SelectedHoe.ProcessSheet</th>
                                    </tr>
                                    <tr>
                                        <th colspan="3">Equipo de Seguridad</th>
                                        <th colspan="3">
                                            @foreach (var equipment in _SelectedHoe.SafetyEquipment)
                                            {
                                                <MudText>@equipment.EquipmentName</MudText>
                                            }
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="3">Herramientas</th>
                                        <th colspan="3">
                                            @foreach (var tool in _SelectedHoe.ToolsUsed)
                                            {
                                                <MudText>@tool.Tool?.ToolName</MudText>
                                            }
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="3">Modelo</th>
                                        <th colspan="3"><MudText>@_SelectedHoe.AppliedModel?.Description</MudText></th>
                                    </tr>
                                    <tr>
                                        <th colspan="3">Tiempo de aprendizaje</th>
                                        <th colspan="3">
                                            <MudAutocomplete T="int"
                                                             Label=@Localizer["Cycles"]
                                                             Variant="Variant.Text"
                                                             AnchorOrigin="Origin.BottomCenter"
                                                             @bind-Value="cycleId"
                                                             OpenIcon="@Icons.Material.Filled.AccessTime"
                                                             AdornmentColor="Color.Info"
                                                             Clearable
                                                             ResetValueOnEmptyText
                                                             ShowProgressIndicator="true" ProgressIndicatorColor="Color.Info"
                                                             MaxItems="10"
                                                             ReadOnly>
                                            </MudAutocomplete>
                                        </th>
                                    </tr>
                                </thead>

                            </MudSimpleTable>
                            <MudItem Class="ma-3">
                                <MudButton Style="float: right" Class="mb-5" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.GeneratingTokens" OnClick="@(() =>  GenerateAnalisys())" Color="Color.Primary">Generate</MudButton>
                            </MudItem>

                        </MudItem>

                    </div>
                    break;
                case 2:
                    <div class="d-flex" style="height:100%; max-height: auto">
                        <MudItem>
                            <MudButton Style="float: left" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBack" OnClick="@(() =>  ReturnToGenerateindex())" Color="Color.Primary">Back</MudButton>
                        </MudItem>
                        <MudItem>

                        </MudItem>
                    </div>
                    break;
                case 3:
                    <div class="d-flex" style="height:100%; max-height: auto">
                        <MudItem>
                            <MudButton Style="float: left" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBack" OnClick="@(() =>  ReturnToGenerateindex())" Color="Color.Primary">Back</MudButton>
                        </MudItem>
                        <MudItem>

                        </MudItem>
                    </div>
                    break;
                case 4:
                    <div class="d-flex" style="height:100%; max-height: auto">
                        <MudItem>
                            <MudButton Style="float: left" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBack" OnClick="@(() =>  ReturnToGenerateindex())" Color="Color.Primary">Back</MudButton>
                        </MudItem>
                        <MudItem>

                        </MudItem>
                    </div>
                    break;
                case 5:
                    <div class="d-flex" style="height:100%; max-height: auto">
                        <MudItem>
                            <MudButton Style="float: left" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBack" OnClick="@(() =>  ReturnToGenerateindex())" Color="Color.Primary">Back</MudButton>
                        </MudItem>
                        <MudItem>

                        </MudItem>
                    </div>
                    break;
                case 6:
                    break;
                case 7:
                    break;
                case 8:
                    break;
                case 9:
                    break;
            }
        </MudGrid>
    </DialogContent>
    @* <DialogActions>
    <MudButton OnClick="confirmSide" Variant="Variant.Filled">@Localizer["confirm"]</MudButton>
    </DialogActions> *@
</MudDialog>

<MudMessageBox @ref="_DeleteMessage" Title="Warning" CancelText="Cancel">
    <MessageContent>
        Are you sure you want to <b>delete</b> this Hoe?
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" Class="ml-4" StartIcon="@Icons.Material.Filled.DeleteForever">Delete!</MudButton>
    </YesButton>
</MudMessageBox>

@code {
    // Breadcrumb links
    private List<BreadcrumbItem> _links = new List<BreadcrumbItem>();

    // Objects
    public List<SOSHub> _Hoes { get; set; } = new();
    public SOSHub _SelectedHoe { get; set; } = new();

    //User
    private string json = string.Empty;
    public User user = new();
    public bool logged = false;

    //Side Dialog
    private string SideName = string.Empty;
    private int SosHubId = 0;
    public bool ShowSideDialog = false;
    //Loading
    private IList<string> _sourceMsgLoading = new List<string>();
    private IList<Color> _Colors = new List<Color>() { Color.Default, Color.Primary, Color.Secondary, Color.Success, Color.Info, Color.Default, Color.Primary, Color.Secondary, Color.Success, Color.Info };
    public bool ShowLoading = true;

    //Generation
    private DialogOptions dialogResourcesOptions = new() { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Large, FullWidth = true, CloseButton = true };
    private DialogOptions dialogPagesOptions = new() { CloseOnEscapeKey = true, FullWidth = true, CloseButton = true };
    public bool ShowGenerateDialog = false;
    public bool ShowPagesGenerate = false;
    private int selectedIndexPageGenerate = 0;

    private MudMessageBox _DeleteMessage;

   
    int cycleId = 0;
    //Analisis
    SOSAnalysis analisys { get; set; } = new SOSAnalysis();

    // Initialization
    protected async override Task OnInitializedAsync()
    {


        _Hoes = await SOSHubServices.GetAllSOSHub();

        await GetUserAsync();
        logged = await HasPropertyAsync();
        if (!logged)
        {
            Snackbar.Clear();
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
            Snackbar.Add($"Error You have to log in", Severity.Error);
            NavigationManager.NavigateTo($"/");
        }

        _links = new List<BreadcrumbItem>
             {
                 new BreadcrumbItem(text: Localizer["homeSOSHOE"], href: "/SOSHOE"),
                 new BreadcrumbItem(text: Localizer["HOESOSHubTitle"], href: "/SOSHOE/Hub", disabled: true)
                        };
        BreadcrumbService.UpdateBreadcrumbs(_links);
        ShowLoading = false;
    }

    //Local storage user
    private async Task GetUserAsync()
    {
        if (!await TryGetAsync())
            user = new();
    }

    private async Task<bool> TryGetAsync()
    {
        bool hasProperty = await HasPropertyAsync();
        if (hasProperty)
        {
            json = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "user");
            user = JsonSerializer.Deserialize<User>(json) ?? new();
        }
        return hasProperty;
    }

    private async Task<bool> HasPropertyAsync()
        => await JSRuntime.InvokeAsync<bool>("localStorage.hasOwnProperty", "user");

    private string searchString = "";

    private bool FilterFunc(SOSHub element)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        // if (element.HoeId.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
        //     return true;
        // if (element.HoeCode.Contains(searchString, StringComparison.OrdinalIgnoreCase))
        //     return true;
        // if (element.HoeName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
        //     return true;

        return false;
    }

    private int selectedRowNumber = -1;
    private MudTable<SOSHub> SelectTableEvent;

    private void RowClickEvent(TableRowClickEventArgs<SOSHub> args)
    {
        if (selectedRowNumber == SelectTableEvent.Items.ToList().IndexOf(args.Item))
        {
            HoeDetails(args.Item.SOSHubId);
        }
        else
        {
            SelectTableEvent.SelectedItem = args.Item;
            selectedRowNumber = SelectTableEvent.Items.ToList().IndexOf(args.Item);
        }
    }

    private string SelectedRowClassFunc(SOSHub element, int rowNumber)
    {
        if (selectedRowNumber == rowNumber)
        {
            SosHubId = element.SOSHubId;
            return "selected"; // Mantener la fila seleccionada
        }
        else if (SelectTableEvent.SelectedItem != null && SelectTableEvent.SelectedItem.Equals(element))
        {
            SosHubId = element.SOSHubId;
            selectedRowNumber = rowNumber;
            return "selected";
        }
        else
        {
            return string.Empty;
        }
    }
    private async void FindSelectedHoe(int sosHuBiD)
    {
        _SelectedHoe = await SOSHubServices.GetSOSHub(sosHuBiD, includeModel: true, includeEquipments: true, includeTools: true, includeMaterials: true);
        cycleId = _SelectedHoe.TrainingTime != null ? GetCycleId(_SelectedHoe.TrainingTime) : 0;
    }

    void HoeDetails(int HoeId)
    {
        NavigationManager.NavigateTo($"/SOSHOE/Hub/Details/{HoeId}");
    }

    // Delete Hoe
    async Task DeleteHoe(int HoeId)
    {
         bool? result = await _DeleteMessage.Show();
        var confirm = result is null ? "Canceled" : "Deleted!";
        StateHasChanged();

        if (confirm == "Deleted!")
        {
            _Hoes.RemoveAll(Hoe => Hoe.SOSHubId == HoeId);
            await SOSHubServices.DeleteSOSHub(HoeId);
        }
    }

    // Update Hoe
    void UpdateHoe(int HoeId)
    {
        NavigationManager.NavigateTo($"/SOSHOE/Hub/Update/{HoeId}");
    }

    async void Generate(int hoeId = 0)
    {
        if (hoeId == 0 && SosHubId == 0)
        {
            bool? result = await DialogService.ShowMessageBox("Warning", "Selecciona un elemento de la tabla!", yesText: "Ok!");
            var state = result == null ? "Canceled" : "Deleted!";
        }
        else
        {
            SosHubId = hoeId != 0 ? hoeId : SosHubId;
            FindSelectedHoe(SosHubId);
            selectedIndexPageGenerate = 0;
            ShowGenerateDialog = true;
        }
    }

    public void GoToPageGenerate(int indexPage)
    {
        selectedIndexPageGenerate = indexPage;
        ShowGenerateDialog = false;
        ShowPagesGenerate = true;

    }


    public void ReturnToGenerateindex()
    {
        selectedIndexPageGenerate = 0;
        ShowPagesGenerate = false;
        ShowGenerateDialog = true;
    }

    public async void GenerateAnalisys()
    {


        var GenAnalisys = await SOSHubServices.GenerateAnalysis(SosHubId, analisys);

        Snackbar.Clear();
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
        if (GenAnalisys)
        {
            Snackbar.Add($"{Localizer["AnalisysGeneratedSucces"]}", Severity.Info);
            ShowPagesGenerate = false;
            analisys = new SOSAnalysis();
        }
        else
        {
            Snackbar.Add($"{Localizer["FailAnalisysGeneratedSucces"]}", Severity.Error);
        }

        StateHasChanged();
    }

    public static int GetCycleId(string trainingTime)
    {
        string cycleIdString = trainingTime.Split(' ').First();

        if (int.TryParse(cycleIdString, out int cycleId))
        {
            return cycleId;
        }
        else
        {
            return 0;
        }
    }
}



