<MudText Color="Color.Info">Category 3.</MudText>
<MudGrid Justify="Justify.Center">
    <MudItem lg="10">
        <MudSimpleTable Style="overflow-x: auto;">
            <thead>
                <MudTr>
                    <th colspan="2">Análisis de tiempo de operación</th>
                    <MudTh>1</MudTh>
                    <MudTh>2</MudTh>
                    <MudTh>3</MudTh>
                    <MudTh>4</MudTh>
                    <MudTh>5</MudTh>
                </MudTr>
            </thead>
            <tbody>
                <MudTr>
                    <td colspan="2">
                        Modelo / Especificación
                        (el SV define los modelos a analizar en base a filtro)
                    </td>
                    <MudTd>
                        <MudTextField T="string" Placeholder="LO2B" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        <MudTextField T="string" Placeholder="" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField T="string" Placeholder="LO2B" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        <MudTextField T="string" Placeholder="" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField T="string" Placeholder="LO2B" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        <MudTextField T="string" Placeholder="" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField T="string" Placeholder="LO2B" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        <MudTextField T="string" Placeholder="" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField T="string" Placeholder="l12f" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        <MudTextField T="string" Placeholder="" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudTd>
                </MudTr>
                <MudTr>
                    <td colspan="2">
                        3.1. Tiempo de operación
                        estándar  (HOE Distribución )
                    </td>
                    <MudTd>
                        <MudSelect Dense="true" T="string" Label="Select" Variant="Variant.Outlined" Class="mb-2" Margin="Margin.Dense">
                            <MudSelectItem Value="@("USA")" />
                            <MudSelectItem Value="@("Mex")" />
                        </MudSelect>
                        <MudTextField Placeholder="0.86" Variant="Variant.Outlined" T="double?" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudSelect Dense="true" T="string" Label="Select" Variant="Variant.Outlined" Class="mb-2" Margin="Margin.Dense">
                            <MudSelectItem Value="@("USA")" />
                            <MudSelectItem Value="@("Mex")" />
                        </MudSelect>
                        <MudTextField Placeholder="0.86" Variant="Variant.Outlined" T="double?" Margin="Margin.Dense" />
                    </MudTd>
                                        <MudTd>
                        <MudSelect Dense="true" T="string" Label="Select" Variant="Variant.Outlined" Class="mb-2" Margin="Margin.Dense">
                            <MudSelectItem Value="@("USA")" />
                            <MudSelectItem Value="@("Mex")" />
                        </MudSelect>
                        <MudTextField Placeholder="0.86" Variant="Variant.Outlined" T="double?" Margin="Margin.Dense" />
                    </MudTd>
                                        <MudTd>
                        <MudSelect Dense="true" T="string" Label="Select" Variant="Variant.Outlined" Class="mb-2" Margin="Margin.Dense">
                            <MudSelectItem Value="@("USA")" />
                            <MudSelectItem Value="@("Mex")" />
                        </MudSelect>
                        <MudTextField Placeholder="0.71" Variant="Variant.Outlined" T="double?" Margin="Margin.Dense" />
                    </MudTd>
                                        <MudTd>
                        <MudSelect Dense="true" T="string" Label="Select" Variant="Variant.Outlined" Class="mb-2" Margin="Margin.Dense">
                            <MudSelectItem Value="@("USA")" />
                            <MudSelectItem Value="@("Mex")" />
                        </MudSelect>
                        <MudTextField Placeholder="0.86" Variant="Variant.Outlined" T="double?" Margin="Margin.Dense" />
                    </MudTd>
                </MudTr>
                <MudTr>
                    <td colspan="2">
                        3.2. Tiempo de Operación Actual
                    </td>
                    <MudTd>
                        <MudTextField Placeholder="0.7" Variant="Variant.Outlined" T="double?" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="0.76" Variant="Variant.Outlined" T="double?" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="0.78" Variant="Variant.Outlined" T="double?" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="0.69" Variant="Variant.Outlined" T="double?" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="0.77" Variant="Variant.Outlined" T="double?" Margin="Margin.Dense" />
                    </MudTd>
                </MudTr>
                <MudTr>
                    <td colspan="2">
                        3.3. Tiempo de operación  OK  (Desbalanceo +/-5%)
                    </td>
                    <MudTd>
                        <MudTextField Placeholder="19" Variant="Variant.Outlined" T="double?" Margin="Margin.Dense" AdornmentText="%" Adornment="Adornment.End"/>
                        <MudSelect Dense="true" T="string" Label="Select" Variant="Variant.Outlined" Class="mb-2" Margin="Margin.Dense">
                            <MudSelectItem Value="@("Ng")" />
                            <MudSelectItem Value="@("Ok")" />
                        </MudSelect>
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="12" Variant="Variant.Outlined" T="double?" Margin="Margin.Dense" AdornmentText="%" Adornment="Adornment.End" />
                        <MudSelect Dense="true" T="string" Label="Select" Variant="Variant.Outlined" Class="mb-2" Margin="Margin.Dense">
                            <MudSelectItem Value="@("Ng")" />
                            <MudSelectItem Value="@("Ok")" />
                        </MudSelect>
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="10" Variant="Variant.Outlined" T="double?" Margin="Margin.Dense" AdornmentText="%" Adornment="Adornment.End" />
                        <MudSelect Dense="true" T="string" Label="Select" Variant="Variant.Outlined" Class="mb-2" Margin="Margin.Dense">
                            <MudSelectItem Value="@("Ng")" />
                            <MudSelectItem Value="@("Ok")" />
                        </MudSelect>
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="3" Variant="Variant.Outlined" T="double?" Margin="Margin.Dense" AdornmentText="%" Adornment="Adornment.End" />
                        <MudSelect Dense="true" T="string" Label="Select" Variant="Variant.Outlined" Class="mb-2" Margin="Margin.Dense">
                            <MudSelectItem Value="@("Ng")" />
                            <MudSelectItem Value="@("Ok")" />
                        </MudSelect>
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="11" Variant="Variant.Outlined" T="double?" Margin="Margin.Dense" AdornmentText="%" Adornment="Adornment.End" />
                        <MudSelect Dense="true" T="string" Label="Select" Variant="Variant.Outlined" Class="mb-2" Margin="Margin.Dense">
                            <MudSelectItem Value="@("Ng")" />
                            <MudSelectItem Value="@("Ok")" />
                        </MudSelect>
                    </MudTd>
                </MudTr>
                <MudTr>
                    
                    <td rowspan="4">
                        3.4 Valor no agreagado
                    </td>
                    <MudTd >
                        Numero de pasos
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="6/5" Variant="Variant.Outlined" T="string" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="6/6" Variant="Variant.Outlined" T="string" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="6/5" Variant="Variant.Outlined" T="string" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="4/4" Variant="Variant.Outlined" T="string" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="5/5" Variant="Variant.Outlined" T="string" Margin="Margin.Dense" />
                    </MudTd>
                </MudTr>
                <MudTr>
                    <MudTd >
                        Doble manejo
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="2" Variant="Variant.Outlined" T="string" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="3" Variant="Variant.Outlined" T="string" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="3" Variant="Variant.Outlined" T="string" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="2" Variant="Variant.Outlined" T="string" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="3" Variant="Variant.Outlined" T="string" Margin="Margin.Dense" />
                    </MudTd>
                </MudTr>
                <MudTr>
                    <MudTd>
                        Espera (veces)
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="1" Variant="Variant.Outlined" T="string" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="0" Variant="Variant.Outlined" T="string" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="0" Variant="Variant.Outlined" T="string" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="0" Variant="Variant.Outlined" T="string" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="0" Variant="Variant.Outlined" T="string" Margin="Margin.Dense" />
                    </MudTd>
                </MudTr>
                <MudTr>
                    <MudTd>

                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="" Variant="Variant.Outlined" T="string" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="" Variant="Variant.Outlined" T="string" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="" Variant="Variant.Outlined" T="string" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="" Variant="Variant.Outlined" T="string" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudTextField Placeholder="" Variant="Variant.Outlined" T="string" Margin="Margin.Dense" />
                    </MudTd>
                </MudTr>
            </tbody>
        </MudSimpleTable>
    </MudItem>
</MudGrid>

