@page "/soshoe/SynopticRequirements/Update/{SynopticRequirementsId:int}"

@inject IBreadcrumbService BreadcrumbService
@inject IStringLocalizer<Resource> Localizer
@inject IStringLocalizer<Resource1> Localizer1
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject ISynopticRequirementsService SynopticRequirementsService
@inject IDistributionService DistributionService
@inject ISOSAnalysisService SOSAnalysisServices
@inject ISOSSequenceService SOSSequenceServices

@inject ISOSHubService sosHubService

<style>
    .synoptic-table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        font-size: 12px;
    }

        .synoptic-table th,
        .synoptic-table td {
            border: 1px solid black;
            padding: 2px 4px;
            text-align: center;
            vertical-align: middle;
            white-space: pre-line;
            word-break: break-word;
        }

        .synoptic-table th {
            background-color: #f0f0f0;
            font-weight: bold;
        }

</style>


@if (ShowLoading)
{
    <MudCarousel Class="mud-width-full" ItemsSource="@_sourceMsgLoading" Context="Carousel" AutoCycle="true" Style="height:200px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="false">
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudItem class="d-flex flex-column justify-center align-self-center">
                    <MudProgressCircular Color="@_Colors[Carousel.IndexOf(Carousel)]" Style="height:70px;width:70px;" Indeterminate="true" />
                </MudItem>
                @*<MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />*@
                <MudText Align="@Align.Center" Color="Color.Primary" Class="mx-auto">@Carousel</MudText>
            </div>
        </ItemTemplate>
    </MudCarousel>
}
else
{
    <MudSimpleTable Class="mb-5 calendar-table rounded" Style="overflow-x: auto; float: right" Dense>
        <thead>
            <tr>
                <th rowspan="2">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>

                    <MudItem Style="justify-content: end" Class="ml-auto">
                        <MudItem Class="d-flex">
                            <MudChip Variant="Variant.Text" Color="Color.Info" Class="pl-3" Icon="@Icons.Material.Filled.Info" IconColor="Color.Info" @onclick="(() => HoeDetails((int)_sosSynopticRequeriments.SOSHubId))" OnTouch="(() => HoeDetails((int)_sosSynopticRequeriments.SOSHubId))">@Localizer["GoCollection"]</MudChip>
                        </MudItem>
                        <MudItem Class="d-flex">
                            @if ((user.UserType == 1 || user.UserType == 2)
                                                    && _sosSynopticRequeriments?.SynopticRequirementsLogbooks != null
                                                    && _sosSynopticRequeriments.SynopticRequirementsLogbooks.Any()
                                                    && _sosSynopticRequeriments.SynopticRequirementsLogbooks.Last().Status == 1)
                            {
                                <MudChip Class="mr-10" Icon="@Icons.Material.Filled.PlaylistPlay" Color="Color.Warning" Variant="Variant.Text">
                                    @Localizer["new"]
                                </MudChip>
                            }

                            @if ((user.UserType == 1 || user.UserType == 2)
                                                    && _sosSynopticRequeriments?.SynopticRequirementsLogbooks != null
                                                    && _sosSynopticRequeriments.SynopticRequirementsLogbooks.Any()
                                                    && _sosSynopticRequeriments.SynopticRequirementsLogbooks.Last().Status != 2)
                            {
                                <MudChip Class="mr-10" Icon="@Icons.Material.Filled.PlaylistAddCheck" Color="Color.Success" Variant="Variant.Text">
                                    @Localizer["review"]!
                                </MudChip>
                            }
                            else if (_sosSynopticRequeriments?.SynopticRequirementsLogbooks != null
                            && _sosSynopticRequeriments.SynopticRequirementsLogbooks.Any()
                            && _sosSynopticRequeriments.SynopticRequirementsLogbooks.Last().Status == 2)
                            {
                                <MudChip Class="mr-10" Icon="@Icons.Material.Filled.PlaylistAddCheck" Color="Color.Success" Variant="Variant.Text">
                                    @Localizer["approved"]!
                                </MudChip>
                            }


                        </MudItem>
                        <MudItem Class="d-flex">
                            <MudChip Variant="Variant.Text" Color="Color.Info" Class="pl-3" Icon="@Icons.Material.Filled.Edit" IconColor="Color.Info" @onclick="(() => UpdateSynopticRequirements((int)SynopticRequirementsId))" OnTouch="(() => UpdateSynopticRequirements((int)SynopticRequirementsId))">@Localizer["update"]</MudChip>
                        </MudItem>
                    </MudItem>
                </td>
            </tr>
        </tbody>
    </MudSimpleTable>

    <MudText Typo="Typo.h6"><b>Synoptic  Table of Operating Requirements</b></MudText>

    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6" Style="width: 100%;" >
        <MudTabPanel Text="Select Sequences/Analyses">
            <MudContainer>
                <MudTextField @bind-Value="searchSequence" Placeholder="Buscar sequencia..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" Clearable />
                <MudToggleGroup Vertical T="SOSSequence" SelectionMode="SelectionMode.MultiSelection" @bind-values="_sosSynopticRequeriments.Sequences" Color="Color.Primary" CheckMark Class="toggle-group-container">
                    @foreach (SOSSequence sequence in FilteredSequences)
                    {
                        <div class="toggle-column">
                            <MudToggleItem Value="@(sequence)" UnselectedIcon="@Icons.Material.Filled.CheckBoxOutlineBlank" SelectedIcon="@Icons.Material.Filled.CheckBox">
                                <div class="mud-width-full mud-height-full">
                                    <div class="d-flex align-center justify-space-between flex-wrap">
                                        <MudText Class="ellipsis">@sequence.InternalControlNumber</MudText>
                                    </div>
                                    <MudText Typo="Typo.subtitle2">@sequence.OperationName</MudText>
                                </div>
                            </MudToggleItem>
                        </div>
                    }
                </MudToggleGroup>
            </MudContainer>
            <MudContainer>
                <MudTextField @bind-Value="searchAnalysis" Placeholder="Buscar analisis..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" Clearable />
                <MudToggleGroup Vertical T="SOSAnalysis" SelectionMode="SelectionMode.MultiSelection" @bind-values="_sosSynopticRequeriments.Analyses" Color="Color.Primary" CheckMark Class="toggle-group-container">
                    @foreach (SOSAnalysis analisis in FilteredAnalysis)
                    {
                        <div class="toggle-column">
                            <MudToggleItem Value="@(analisis)" UnselectedIcon="@Icons.Material.Filled.CheckBoxOutlineBlank" SelectedIcon="@Icons.Material.Filled.CheckBox">
                                <div class="mud-width-full mud-height-full">
                                    <div class="d-flex align-center justify-space-between flex-wrap">
                                        <MudText Class="ellipsis">@analisis.InternalControlNumber</MudText>
                                    </div>
                                    <MudText Typo="Typo.subtitle2">@analisis.OperationName</MudText>
                                </div>
                            </MudToggleItem>
                        </div>
                    }
                </MudToggleGroup>
            </MudContainer>

        </MudTabPanel>
        <MudTabPanel Text="Order Items">
            <MudText>Content Two</MudText>
        </MudTabPanel>
        <MudTabPanel Text="Synoptic">
            <MudPaper Square="true" Elevation="3">
                <MudSimpleTable Class="synoptic-table">

                    <MudTr>
                        <MudTh colspan="7"><b>NOMBRE DEL PROCESO</b></MudTh>
                        <MudTd colspan="6"><b>DEPARTAMENTO</b></MudTd>
                        <MudTh colspan="4"><b>PLANTA</b></MudTh>
                        <MudTd colspan="4"><b>FECHA</b></MudTd>
                        <MudTd coslpan="2" rowspan="7"></MudTd>
                        @if (TryGetSynopticRequirementsLogbooksElementAtIndex(4, out var item))
                        {
                            <MudTh colspan="2">@item.Approver?.Name</MudTh>
                            <MudTh>@_sosSynopticRequeriments?.SynopticRequirementsLogbooks?.Count()</MudTh>
                            <MudTh colspan="4"> @item.Changes</MudTh>
                            <MudTh colspan="2">@item.Date</MudTh>
                            <MudTh>
                                @if (item.NoRevision == 0)
                                {
                                    <b>N</b>
                                }
                                else
                                {
                                    @item.NoRevision
                                }
                            </MudTh>
                        }
                        else
                        {
                            <MudTh colspan="2"></MudTh>
                            <MudTh></MudTh>
                            <MudTh colspan="4"></MudTh>
                            <MudTh colspan="2"></MudTh>
                            <MudTh></MudTh>
                        }
                    </MudTr>
                    <MudTr>
                        <MudTh colspan="7" rowspan="2"> @_sosSynopticRequeriments.ProcessName </MudTh>
                        <MudTd colspan="6" rowspan="2"> @_soshub?.Department?.Description</MudTd>
                        <MudTh colspan="4" rowspan="2"> @_soshub?.Plant?.Description</MudTh>
                        <MudTd colspan="4" rowspan="2"> @_sosSynopticRequeriments.CreatedAt </MudTd>

                        @if (TryGetSynopticRequirementsLogbooksElementAtIndex(3, out var item))
                        {
                            <MudTh colspan="2">@item.Approver?.Name</MudTh>
                            <MudTh>@_sosSynopticRequeriments?.SynopticRequirementsLogbooks?.Count()</MudTh>
                            <MudTh colspan="4"> @item.Changes</MudTh>
                            <MudTh colspan="2">@item.Date</MudTh>
                            <MudTh>
                                @if (item.NoRevision == 0)
                                {
                                    <b>N</b>
                                }
                                else
                                {
                                    @item.NoRevision
                                }
                            </MudTh>
                        }
                        else
                        {
                            <MudTh colspan="2"></MudTh>
                            <MudTh></MudTh>
                            <MudTh colspan="4"></MudTh>
                            <MudTh colspan="2"></MudTh>
                            <MudTh></MudTh>
                        }
                    </MudTr>
                    <MudTr>
                        @if (TryGetSynopticRequirementsLogbooksElementAtIndex(2, out var item))
                        {
                            <MudTh colspan="2">@item.Approver?.Name</MudTh>
                            <MudTh>@_sosSynopticRequeriments?.SynopticRequirementsLogbooks?.Count()</MudTh>
                            <MudTh colspan="4"> @item.Changes</MudTh>
                            <MudTh colspan="2">@item.Date</MudTh>
                            <MudTh>
                                @if (item.NoRevision == 0)
                                {
                                    <b>N</b>
                                }
                                else
                                {
                                    @item.NoRevision
                                }
                            </MudTh>
                        }
                        else
                        {
                            <MudTh colspan="2"></MudTh>
                            <MudTh></MudTh>
                            <MudTh colspan="4"></MudTh>
                            <MudTh colspan="2"></MudTh>
                            <MudTh></MudTh>
                        }
                    </MudTr>
                    <MudTr>
                        <MudTh colspan="6"><b>ELABORO</b></MudTh>
                        <MudTd colspan="6"><b>REVISO</b></MudTd>
                        <MudTh colspan="6"><b>APROBO</b></MudTh>
                        <MudTd colspan="3"><b>HOJA</b></MudTd>

                        @if (TryGetSynopticRequirementsLogbooksElementAtIndex(1, out var item))
                        {
                            <MudTh colspan="2">@item.Approver?.Name</MudTh>
                            <MudTh>@_sosSynopticRequeriments?.SynopticRequirementsLogbooks?.Count()</MudTh>
                            <MudTh colspan="4"> @item.Changes</MudTh>
                            <MudTh colspan="2">@item.Date</MudTh>
                            <MudTh>
                                @if (item.NoRevision == 0)
                                {
                                    <b>N</b>
                                }
                                else
                                {
                                    @item.NoRevision
                                }
                            </MudTh>
                        }
                        else
                        {
                            <MudTh colspan="2"></MudTh>
                            <MudTh></MudTh>
                            <MudTh colspan="4"></MudTh>
                            <MudTh colspan="2"></MudTh>
                            <MudTh></MudTh>
                        }
                    </MudTr>
                    <MudTr>
                        <MudTh colspan="6" rowspan="2">@_sosSynopticRequeriments?.Creator?.Name</MudTh>
                        <MudTh colspan="6" rowspan="2">@_sosSynopticRequeriments?.Reviewer?.Name</MudTh>
                        <MudTh colspan="6" rowspan="2">@_sosSynopticRequeriments?.Approver?.Name</MudTh>
                        <MudTd rowspan="2"></MudTd>
                        <MudTd rowspan="2"></MudTd>
                        <MudTd rowspan="2"></MudTd>
                        @if (TryGetSynopticRequirementsLogbooksElementAtIndex(0, out var item))
                        {
                            <MudTh colspan="2">@item.Approver?.Name</MudTh>
                            <MudTh>@_sosSynopticRequeriments?.SynopticRequirementsLogbooks?.Count()</MudTh>
                            <MudTh colspan="4"> @item.Changes</MudTh>
                            <MudTh colspan="2">@item.Date</MudTh>
                            <MudTh>
                                @if (item.NoRevision == 0)
                                {
                                    <b>N</b>
                                }
                                else
                                {
                                    @item.NoRevision
                                }
                            </MudTh>
                        }
                        else
                        {
                            <MudTh colspan="2"></MudTh>
                            <MudTh></MudTh>
                            <MudTh colspan="4"></MudTh>
                            <MudTh colspan="2"></MudTh>
                            <MudTh></MudTh>
                        }
                    </MudTr>
                    <MudTr>
                        <MudTh colspan="2"><b>APROBO </b></MudTh>
                        <MudTh><b>NO </b></MudTh>
                        <MudTh colspan="4"><b>CAMBIO </b></MudTh>
                        <MudTh colspan="2"><b>FECHA </b></MudTh>
                        <MudTh><b>REV.</b></MudTh>
                    </MudTr>
                    <MudTr>
                        <MudTd colspan="32"></MudTd>
                    </MudTr>
                    <tbody>
                        <MudTr>
                            <MudTh colspan="1" rowspan="2"><b>No </b></MudTh>
                            <MudTh colspan="4" rowspan="2"><b>NOMBRE DEL PROCESO</b></MudTh>
                            <MudTh colspan="1" rowspan="2"><b>No. DE <br /> SOS</b></MudTh>
                            <MudTh colspan="8"><b>OPERACIONES</b></MudTh>
                            <MudTh colspan="4" rowspan="2"><b>CONDICIONES <br /> ESTABLECIDA </b></MudTh>
                            <MudTh colspan="4" rowspan="2"><b>CARACTERISTICAS DE <br /> ASEGURAMIENTO DE CALIDAD</b></MudTh>
                            <MudTh colspan="3" rowspan="2"><b>GRADO DE <br /> DIFICULTAD</b></MudTh>
                            <MudTh colspan="2" rowspan="2"><b>TIEMPO DE <br /> APRENDIZAJE </b></MudTh>
                            <MudTh colspan="3" rowspan="2"><b>CONOCIMIENTOS</b></MudTh>
                            <MudTh colspan="3" rowspan="2"><b> HABILIDADES </b></MudTh>
                        </MudTr>
                        <MudTr>
                            <MudTh colspan="4"><b>POR PERSONA </b></MudTh>
                            <MudTh colspan="4"><b>POR MAQUINA </b></MudTh>
                        </MudTr>

                        @{
                            int rowDist = _distribution.Operations.Where(o => _soshub.AppliedModels.Any(m => m.Description == o.ProductName || m.Code == o.ProductName)).Count();
                        }

                        @foreach (var (ope, index) in _distribution.Operations
                                            .Where(o => _soshub.AppliedModels.Any(m => m.Description == o.ProductName || m.Code == o.ProductName))
                                            .Select((o, i) => (o, i)))
                        {
                            <MudTr>

                                @if (index == 0)
                                {
                                    <MudTd colspan="1" rowspan="@rowDist"></MudTd>
                                    <MudTh colspan="4" rowspan="@rowDist">@_soshub.Distribution.Description</MudTh>
                                }
                                <MudTd colspan="1">
                                    @ope.Description
                                </MudTd>
                                @if (index == 0)
                                {
                                    <MudTd colspan="8" rowspan="@rowDist"></MudTd>
                                    <MudTd colspan="4" rowspan="@rowDist"></MudTd>
                                    <MudTd colspan="4" rowspan="@rowDist"></MudTd>
                                    <MudTd colspan="3" rowspan="@rowDist"></MudTd>
                                    <MudTd colspan="2" rowspan="@rowDist"></MudTd>
                                    <MudTd colspan="3" rowspan="@rowDist"></MudTd>
                                    <MudTd colspan="3" rowspan="@rowDist"></MudTd>
                                }
                            </MudTr>
                        }

                    </tbody>
                </MudSimpleTable>

            </MudPaper>
        </MudTabPanel>

    </MudTabs>

    <br />
}


